<lu-main-layout>
	<ng-container mainLayoutHeader
		><div class="container"><div class="fakeContent">header</div></div></ng-container
	>
	<ng-container mainLayoutMain>
		<div class="container">
			<button luButton type="button">Click me</button>

			<table class="indexTable">
				<thead class="indexTable-head">
					<tr class="indexTable-head-row">
						<th class="indexTable-head-row-cell" scope="col">Tâche</th>
						<th class="indexTable-head-row-cell" scope="col">Statut</th>
						<th class="indexTable-head-row-cell" scope="col">Affectée par</th>
						<th class="indexTable-head-row-cell" scope="col">Date cible</th>
					</tr>
				</thead>
				@for (group of groups; track $index) {
					@let groupId = "group-" + $index;
					<tbody class="indexTable-body">
						<tr class="indexTable-body-row" [id]="groupId + '-header'">
							<th class="indexTable-body-row-transparentCell" colspan="3" [id]="groupId">
								<div class="indexTable-body-row-cellTitle">
									<button
										class="indexTable-body-row-cellTitle-button button"
										aria-expanded="true"
										[attr.aria-controls]="group | ariaControls: groupId"
										type="button"
									>
										<span class="lucca-icon icon-arrowChevronTop" aria-hidden="true"></span>
										<span class="pr-u-mask">Hide details</span>
									</button>
									<span class="indexTable-body-row-cellTitle-title">{{ group.groupName }}</span>
									<span class="numericBadge">{{ group.tasks.length }}<span class="pr-u-mask"> lines</span></span>
								</div>
							</th>
						</tr>
						@for (task of group.tasks; track task.id) {
							@let rowId = groupId + "-row-" + $index;
							<tr class="indexTable-body-row" [id]="rowId">
								<td class="indexTable-body-row-cell" [headers]="groupId">
									<a href="#" class="indexTable-body-row-cell-link">{{ task.name }}</a>
								</td>
								<td class="indexTable-body-row-cell" [headers]="groupId">
									<lu-status-badge [label]="labelByStatus[task.status]" [palette]="paletteByStatus[task.status]" />
								</td>
								<td class="indexTable-body-row-cell" [headers]="groupId">
									<lu-user-tile class="mod-XS" [user]="task.user" />
								</td>
								<td class="indexTable-body-row-cell" [headers]="groupId">{{ task.dueDate | date: "shortDate" }}</td>
							</tr>
						}
					</tbody>
				}
			</table>
		</div>
	</ng-container>
	<ng-container mainLayoutFooter
		><div class="container"><div class="fakeContent">footer</div></div></ng-container
	>
</lu-main-layout>
