@import "node_modules/@lucca-front/scss/src/theming.overridable";
@import "node_modules/@lucca-front/icons/src/mixins";

.select-clear {
	position: absolute;
	bottom: .45rem;
	right: 2.75 * _component("textfield.input.padding-horizontal");
	padding: 0;
	width: 1rem;
	height: 1rem;
	display: none;
	&.actionIcon .lucca-icon {
		display: block;
		font-size: .75rem;
	}
}


// MODS

:host {
	&.mod-remove {
		.actionIcon {
			display: block;
		}
	}
}

:host-context(.textfield.mod-material) {
	.select-clear {
		right: 2 * _component("textfield.input.padding-horizontal");
	}
}

:host-context(.textfield.mod-framed) {
	.select-clear {
		bottom: .6rem;
		right: 3.75 * _component("textfield.input.padding-horizontal");
	}
}
