@import "node_modules/@lucca-front/scss/src/theming.overridable";
@import "node_modules/@lucca-front/icons/src/mixins";

.actionIcon {
	position: absolute;
	font-size: .75rem;
	bottom: .45rem;
	right: 2.75 * _component("textfield.input.padding-horizontal");
	padding: 0;
	width: 1rem;
	height: 1rem;
	display: none;
}


// MODS

:host {
	&.mod-remove {
		.actionIcon {
			display: block;
		}
	}

	&.mod-material {
		.actionIcon {
			right: 2 * _component("textfield.input.padding-horizontal");
		}

		&.mod-remove {
			.textfield-input {
				padding-right: 4 * _component("textfield.input.padding-horizontal");
			}
		}
	}
}
