@use '@lucca-front/icons/src/commons/utils/icon';
@use '@lucca-front/scss/src/commons/utils/reset';
@use '@lucca-front/scss/src/commons/utils/a11y';
@use '@lucca-front/scss/src/components/button/exports' as button;

@mixin component($atRoot: 'without: rule') {
	align-items: flex-start;
	position: relative;
	border-radius: var(--commons-borderRadius-L);
	background-color: var(--palettes-50, var(--palettes-neutral-50));
	color: var(--palettes-neutral-800);
	box-shadow: 0 0 0 var(--commons-divider-width) var(--palettes-300, var(--palettes-neutral-300));
	gap: var(--components-callout-gap);
	padding: var(--components-callout-padding);
	font-size: var(--components-callout-fontSize);
	line-height: var(--components-callout-lineHeight);

	&:not([hidden]) {
		display: var(--components-callout-display);
	}

	a,
	.link {
		--commons-text-link-color: var(--palettes-neutral-800);
		--commons-text-link-hover: var(--palettes-neutral-700);
	}

	@at-root ($atRoot) {
		.callout-content {
			flex: 1;
			display: flex;
			flex-direction: column;
			gap: var(--pr-t-spacings-50);
		}

		.callout-content-title {
			font-weight: 600;
		}

		.callout-content-description-actions {
			display: flex;
			gap: var(--pr-t-spacings-75);
			margin-top: var(--pr-t-spacings-50);
			padding: var(--pr-t-spacings-50) 0;

			.button {
				@include button.S;
			}
		}

		.callout-icon {
			display: inline-flex;
			color: var(--palettes-700, var(--palettes-neutral-700));
		}

		.callout-kill {
			@include reset.button;

			color: currentColor;
			transition-duration: var(--commons-animations-durations-fast);
			transition-property: background-color;
			width: auto;

			&:focus-visible {
				@include a11y.focusVisible($borderRadius: var(--commons-borderRadius-M));
			}

			&::before {
				@include icon.generate('sign_close');

				font-size: var(--sizes-S-lineHeight);
			}
		}
	}
}
