@use '@lucca-front/icons/src/commons/utils/icon';

@mixin S {
	font-size: var(--sizes-S-fontSize);
	line-height: var(--sizes-S-lineHeight);
	gap: .75rem;

	.callout-icon {
		line-height: var(--sizes-S-lineHeight);

		.lucca-icon {
			font-size: var(--sizes-S-lineHeight);
		}
	}
}

@mixin tiny {
	display: inline-flex;
	gap: .375rem;
	padding: var(--spacings-XS);
}
