@use '@lucca-front/icons/src/icon/exports' as icon;

@mixin S {
	--components-callout-gap: var(--pr-t-spacings-100);
	--components-callout-fontSize: var(--sizes-S-fontSize);
	--components-callout-lineHeight: var(--sizes-S-lineHeight);

	.callout-icon {
		@include icon.S;
	}
}

@mixin tiny {
	--components-callout-gap: var(--pr-t-spacings-75);
	--components-callout-display: inline-flex;
	--components-callout-padding: var(--pr-t-spacings-100);
}
