@use '@lucca-front/icons/src/icon/exports' as icon;
@use '@lucca-front/scss/src/components/button/exports' as button;

@mixin S {
	--components-callout-gap: var(--pr-t-spacings-100);
	--components-callout-fontSize: var(--sizes-S-fontSize);
	--components-callout-lineHeight: var(--sizes-S-lineHeight);
	--components-callout-kill-size: 1.25rem;

	.callout-icon {
		@include icon.S;
	}

	.callout-content-description-actions {
		.button {
			@include button.XS;
		}
	}
}

@mixin tiny {
	--components-callout-gap: var(--pr-t-spacings-75);
	--components-callout-display: inline-flex;
	--components-callout-padding: var(--pr-t-spacings-100);
}
