@mixin vars {
	--components-callout-gap: var(--pr-t-spacings-75);
	--components-callout-display: flex;
	--components-callout-padding: var(--spacings-XS) var(--pr-t-spacings-75);
	--components-callout-fontSize: inherit;
	--components-callout-lineHeight: inherit;
}
