// @import '~@lucca-front/scss/src/_mixins';

// .cdk-drag-placeholder {
// 	box-shadow: fakeborderoverlay(_color("grey", "200"));
// 	background-color: _color("grey", "100");
// 	* {
// 		opacity: 0;
// 	}
// }

// .cdk-drag-handle,
// .cdk-drag-placeholder {
// 	cursor: move;
// }

// .dragDrop-card {
// 	z-index: 1;
// }

// .dragDrop-list {
// 	border-radius: _theme("commons.border.radius", true);
// 	border-radius: _theme("commons.border.radius");
// }

// .dragDrop-item {
// 	cursor: grab;
// 	&:not(.cdk-drag-placeholder) {
// 		&:first-of-type {
// 			border-top-left-radius: _theme("commons.border.radius", true);
// 			border-top-left-radius: _theme("commons.border.radius");
// 			border-top-right-radius: _theme("commons.border.radius", true);
// 			border-top-right-radius: _theme("commons.border.radius");
// 		}
// 		&:last-of-type {
// 			border-bottom-left-radius: _theme("commons.border.radius", true);
// 			border-bottom-left-radius: _theme("commons.border.radius");
// 			border-bottom-right-radius: _theme("commons.border.radius", true);
// 			border-bottom-right-radius: _theme("commons.border.radius");
// 		}
// 	}
// 	&:active {
// 		cursor: grabbing;
// 	}
// }
// .dragDrop-item-content {
// 	padding: _theme("spacings.smaller", true);
// 	padding: _theme("spacings.smaller");
// }

// .cdk-drag-preview {
// 	z-index: 9999 !important;
// 	box-sizing: border-box;
// 	box-shadow: fakeborderoverlay(_color("secondary", "200"));
// 	background-color: _color("secondary", "50", true);
// 	background-color: _color("secondary", "50");
// 	border-radius: _theme("commons.border.radius", true);
// 	border-radius: _theme("commons.border.radius");
// 	cursor: grabbing;
// }

// .cdk-drop-list-dragging {
// 	.dragDrop-item {
// 		cursor: grabbing;
// 	}
// 	.cdk-drag:not(.cdk-drag-placeholder) {
// 		transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
// 	}
// }
