@mixin component($atRoot: 'without: rule') {
	display: inline-flex;
	align-items: center;
	white-space: nowrap;

	@at-root ($atRoot) {
		.status-dot {
			aspect-ratio: 1;
			width: var(--spacings-XS);
			border-radius: 50%;
			background-color: currentColor;
			margin: calc(var(--spacings-XXS) / 2);
			margin-right: var(--spacings-XS);
			position: relative;
			z-index: 1;
			display: inline-flex;
		}

		.status-dot-important {
			@keyframes status {
				0% {
					transform: scale(1);
					opacity: 1;
				}
				70% {
					transform: scale(2.25);
					opacity: 0;
				}
				100% {
					transform: scale(2.25);
					opacity: 0;
				}
			}

			inset: 0;
			position: absolute;
			border-radius: 50%;
			animation: status 2s infinite;
			background-color: currentColor;
		}

		.status-label {
			font-size: var(--sizes-S-fontSize);
			color: var(--palettes-grey-800);
		}
	}
}
