@use '@lucca-front/scss/src/components/avatar/exports' as avatar;

@mixin nameOnly { // deprecated
  .user-tile-label,
  .user-tile-footnote {
    display: none;
  }
}

@mixin XS {
  --components-userTile-title-fontSize: var(--sizes-S-fontSize);
  --components-userTile-title-lineHeight: var(--sizes-S-lineHeight);
  --components-userTile-info-fontSize: var(--sizes-XS-fontSize);
  --components-userTile-info-lineHeight: var(--sizes-XS-lineHeight);

  .avatar {
    @include avatar.XS;
  }
}

@mixin S {
  .avatar {
    @include avatar.S;
  }
}

@mixin L {
  .avatar {
    @include avatar.L;
  }
}

@mixin XL { // Deprecated
  .avatar {
    @include avatar.XL;
  }
}

@mixin XXL { // Deprecated
  .avatar {
    @include avatar.XXL;
  }
}

@mixin XXXL { // Deprecated
  .avatar {
    @include avatar.XXXL;
  }
}
