@use '@lucca-front/scss/src/components/avatar/exports' as avatar;

// nameOnly is deprecated
@mixin nameOnly {
  .user-tile-label,
  .user-tile-footnote {
    display: none;
  }
}

@mixin XS {
  --components-userTile-gap: var(--pr-t-spacings-100);
  --components-userTile-title-fontSize: var(--pr-t-font-fontSize-175);
  --components-userTile-title-lineHeight: var(--pr-t-font-lineHeight-250);
  --components-userTile-info-fontSize: var(--pr-t-font-fontSize-150);
  --components-userTile-info-lineHeight: var(--pr-t-font-lineHeight-200);

  .avatar {
    @include avatar.XS;
  }
}

@mixin S {
  --components-userTile-gap: var(--pr-t-spacings-100);

  .avatar {
    @include avatar.S;
  }
}

@mixin L {
  .avatar {
    @include avatar.L;
  }
}

@mixin XL { // Deprecated
  .avatar {
    @include avatar.XL;
  }
}

@mixin XXL { // Deprecated
  .avatar {
    @include avatar.XXL;
  }
}

@mixin XXXL { // Deprecated
  .avatar {
    @include avatar.XXXL;
  }
}
