@mixin vars {
  --components-userTile-title-fontSize: var(--pr-t-font-fontSize-200);
  --components-userTile-title-lineHeight: var(--pr-t-font-lineHeight-300);
  --components-userTile-info-fontSize: var(--pr-t-font-fontSize-175);
  --components-userTile-info-lineHeight: var(--pr-t-font-lineHeight-250);
  --components-userTile-gap: var(--pr-t-spacings-150);
}
