@mixin vars {
  --components-userTile-title-fontSize: var(--sizes-M-fontSize);
  --components-userTile-title-lineHeight: var(--sizes-M-lineHeight);
  --components-userTile-info-fontSize: var(--sizes-S-fontSize);
  --components-userTile-info-lineHeight: var(--sizes-S-lineHeight);

  // deprecated
  --components-userPicture-XXS-image: 1rem;
  --components-userPicture-XXS-fontSize: 0.5625rem;
  --components-userPicture-XS-image: 1.5rem;
  --components-userPicture-XS-fontSize: 0.75rem;
  --components-userPicture-XS-placeholder: 0.75rem;
  --components-userPicture-S-image: 2rem;
  --components-userPicture-S-fontSize: 0.875rem;
  --components-userPicture-S-placeholder: 1rem;
  --components-userPicture-M-image: 2.5rem;
  --components-userPicture-M-fontSize: 1rem;
  --components-userPicture-M-placeholder: 1.25rem;
  --components-userPicture-L-image: 3rem;
  --components-userPicture-L-fontSize: 1.125rem;
  --components-userPicture-L-placeholder: 1.5rem;
  --components-userPicture-XL-image: 4rem;
  --components-userPicture-XL-fontSize: 1.25rem;
  --components-userPicture-XL-placeholder: 2rem;
  --components-userPicture-XXL-image: 5rem;
  --components-userPicture-XXL-fontSize: 1.5rem;
  --components-userPicture-XXL-placeholder: 2.25rem;
  --components-userPicture-XXXL-image: 6rem;
  --components-userPicture-XXXL-fontSize: 1.75rem;
  --components-userPicture-XXXL-placeholder: 2.5rem;
}
