%textarea_framed {
	max-width: none;
	padding: 1rem;
	@include fakeBorder(1px, _theme("commons.divider.color"));
	textarea.input-field {
		height: _component("input.framed.textarea.height");
		padding: 0;
		margin-top: _component("input.framed.textarea.margin-top");
		box-shadow: none;
		resize: none;
	}
	// COLORING
	@mixin inputColoring($palette) {
		&:hover, &:focus {
			@include fakeBorder(1px, _get($palette, "color"));
			background-color: transparentize(_get($palette, "color"), .95);
			z-index: 2;
		}

		textarea.input-field:focus, textarea.input-field:hover {
			box-shadow: none;
			background: transparent;
			z-index: auto;
		}
	}

	@include inputColoring(_component("input.compact.default-palette"));

	// palette colors
	@each $name, $palette in _palettes() {
		&.palette-#{$name} {
			@include inputColoring($palette);
		}
	}

	// MODS
	&.has-suffix {
		textarea.input-field {
			margin-right: 2em;
		}
	}

	&.is-error {
		background-color: transparentize(_color("error"), .9);
	}
}
