@use '@lucca-front/scss/src/components/container/exports' as container;

@mixin component($atRoot: 'without: rule') {
	display: flex;
	height: 100%;

	@at-root ($atRoot) {
		.emptyPage-container {
			@include container.vars;
			@include container.component;
			align-items: center;
			display: flex;
			flex-grow: 1;
			justify-content: center;
			max-width: 100%;
			padding: 0;
			width: var(--components-container-max-width);
		}
		.emptyPage-content {
			background-color: var(--components-emptyState-background-color);
			border-radius: var(--commons-borderRadius-L);
			box-shadow: 0 0 8px 4px var(--components-emptyState-background-color);
			max-width: 100%;
			padding: var(--spacings-XXS);
			width: calc(22.5rem + var(--spacings-XXS) * 2); // content max width
		}
		.emptyPage-content-icon {
			--components-emptyState-icon-background-color: var(--palettes-100, var(--palettes-primary-100));
			--components-emptyState-icon-action-color: var(--palettes-600, var(--palettes-primary-600));
		}
		.emptyPage-content-heading {
			margin-bottom: 0;
		}
	}
}
