@mixin vars {
	--components-emptyPage-background-color: var(--commons-background-base);
	--components-emptyPage-illustration-top-right-offset-left: min(calc(100% + 5rem), 91.5rem);
	--components-emptyPage-illustration-top-right-offset-left-S: min(calc(100% + 3.5rem), 91.5rem);
	--components-emptyPage-background-background-bottom-left: url(https://assets.codepen.io/158224/bubbles-bottom-left.svg);
	--components-emptyPage-background-foreground-bottom-left: url(https://assets.codepen.io/158224/illustration-bottom-left.svg);
	--components-emptyPage-background-background-top-right: url(https://assets.codepen.io/158224/bubbles-top-right.svg);
	--components-emptyPage-background-foreground-top-right: url(https://assets.codepen.io/158224/illustration-top-right.svg);
}
