@mixin vars {
	--background-background-bottom-left: url(https://assets.codepen.io/158224/bubbles-bottom-left.svg);
	--background-foreground-bottom-left: url(https://assets.codepen.io/158224/illustration-bottom-left.svg);
	--background-background-top-right: url(https://assets.codepen.io/158224/bubbles-top-right.svg);
	--background-foreground-top-right: url(https://assets.codepen.io/158224/illustration-top-right.svg);
}
