<h1 class="demo-divider" id="animations">Animations</h1>
<p>Click on an element to replay its animation</p>
<section class="contentSection">
	<h2>Enter animations</h2>
	<h3>Sliding</h3>
	<div class="u-textCenter u-clear">
		<div class="demo-animation" onclick="reloadAnimation(this)">
			<div class="card u-animatedSlideIn">Top</div>
			<code class="code">u-animatedSlideInTop</code>
		</div>
		<div class="demo-animation" onclick="reloadAnimation(this)">
			<div class="card u-animatedSlideInRight">Right</div>
			<code class="code">u-animatedSlideInRight</code>
		</div>
		<div class="demo-animation" onclick="reloadAnimation(this)">
			<div class="card u-animatedSlideInBottom">Bottom</div>
			<code class="code">u-animatedSlideInBottom</code>
		</div>
		<div class="demo-animation" onclick="reloadAnimation(this)">
			<div class="card u-animatedSlideInLeft">Left</div>
			<code class="code">u-animatedSlideInLeft</code>
		</div>
	</div>

	<h3>Scaling</h3>
	<div class="u-textCenter u-clear">
		<div class="demo-animation" onclick="reloadAnimation(this)">
			<div class="card u-animatedScaleIn">Center</div>
			<code class="code">u-animatedScaleIn</code>
		</div>
		<div class="demo-animation" onclick="reloadAnimation(this)">
			<div class="card u-animatedScaleInTop">Top</div>
			<code class="code">u-animatedScaleInTop</code>
		</div>
		<div class="demo-animation" onclick="reloadAnimation(this)">
			<div class="card u-animatedScaleInRight">Right</div>
			<code class="code">u-animatedScaleInRight</code>
		</div>
		<div class="demo-animation" onclick="reloadAnimation(this)">
			<div class="card u-animatedScaleInBottom">Bottom</div>
			<code class="code">u-animatedScaleInBottom</code>
		</div>
		<div class="demo-animation" onclick="reloadAnimation(this)">
			<div class="card u-animatedScaleInLeft">Left</div>
			<code class="code">u-animatedScaleInLeft</code>
		</div>
	</div>
	<h3>Fading</h3>
	<div class="u-textCenter u-clear">
		<div class="demo-animation" onclick="reloadAnimation(this)">
			<div class="card u-animatedFadeIn">Center</div>
			<code class="code">u-animatedFadeIn</code>
		</div>
	</div>
</section>
<section class="contentSection">
	<h2>Exit animations</h2>
	<h3>Sliding</h3>
	<div class="u-textCenter u-clear">
		<div class="demo-animation" onclick="reloadAnimation(this)">
			<div class="card u-animatedSlideOut">Top</div>
			<code class="code">u-animatedSlideOutTop</code>
		</div>
		<div class="demo-animation" onclick="reloadAnimation(this)">
			<div class="card u-animatedSlideOutRight">Right</div>
			<code class="code">u-animatedSlideOutRight</code>
		</div>
		<div class="demo-animation" onclick="reloadAnimation(this)">
			<div class="card u-animatedSlideOutBottom">Bottom</div>
			<code class="code">u-animatedSlideOutBottom</code>
		</div>
		<div class="demo-animation" onclick="reloadAnimation(this)">
			<div class="card u-animatedSlideOutLeft">Left</div>
			<code class="code">u-animatedSlideOutLeft</code>
		</div>
	</div>

	<h3>Scaling</h3>
	<div class="u-textCenter u-clear">
		<div class="demo-animation" onclick="reloadAnimation(this)">
			<div class="card u-animatedScaleOut">Center</div>
			<code class="code">u-animatedScaleOut</code>
		</div>
		<div class="demo-animation" onclick="reloadAnimation(this)">
			<div class="card u-animatedScaleOutTop">Top</div>
			<code class="code">u-animatedScaleOutTop</code>
		</div>
		<div class="demo-animation" onclick="reloadAnimation(this)">
			<div class="card u-animatedScaleOutRight">Right</div>
			<code class="code">u-animatedScaleOutRight</code>
		</div>
		<div class="demo-animation" onclick="reloadAnimation(this)">
			<div class="card u-animatedScaleOutBottom">Bottom</div>
			<code class="code">u-animatedScaleOutBottom</code>
		</div>
		<div class="demo-animation" onclick="reloadAnimation(this)">
			<div class="card u-animatedScaleOutLeft">Left</div>
			<code class="code">u-animatedScaleOutLeft</code>
		</div>
	</div>
	<h3>Fading</h3>
	<div class="u-textCenter u-clear">
		<div class="demo-animation" onclick="reloadAnimation(this)">
			<div class="card u-animatedFadeOut">Center</div>
			<code class="code">u-animatedFadeOut</code>
		</div>
	</div>
</section>
<section class="contentSection">
	<h2>Attention Seekers</h2>
	<div class="u-textCenter u-clear">
		<div class="demo-animation" onclick="reloadAnimation(this)">
			<div class="card u-animatedPulse">Pulse</div>
			<code class="code">u-animatedPulse</code>
		</div>
		<div class="demo-animation" onclick="reloadAnimation(this)">
			<div class="card u-animatedShake">Shake</div>
			<code class="code">u-animatedShake</code>
		</div>
	</div>
</section>

<section class="contentSection">
	<h3>Theme</h3>
	<table class="table mod-small mod-zebra mod-alignTop">
		<thead class="table-head">
			<tr class="table-head-row">
				<th class="table-head-row-cell">Options</th>
				<th class="table-head-row-cell">Default value</th>
				<th class="table-head-row-cell">Notes</th>
			</tr>
		</thead>
		<tbody class="table-body">
			<tr class="table-body-row">
				<td class="table-body-row-cell u-nowrap">duration</td>
				<td class="table-body-row-cell">
					<b>fast:</b> 100ms<br>
					<b>standard:</b> 250ms<br>
					<b>slow:</b> 350ms
				</td>
				<td class="table-body-row-cell u-textLight u-nowrap">
				</td>
			</tr>
			<tr class="table-body-row">
				<td class="table-body-row-cell u-nowrap">translate</td>
				<td class="table-body-row-cell">
					3rem
				</td>
				<td class="table-body-row-cell u-textLight u-nowrap">
					Translation length of slinding effects
				</td>
			</tr>
			<tr class="table-body-row">
				<td class="table-body-row-cell u-nowrap">function</td>
				<td class="table-body-row-cell">
					ease-out
				</td>
				<td class="table-body-row-cell u-textLight u-nowrap">
				</td>
			</tr>
			<tr class="table-body-row">
				<td class="table-body-row-cell u-nowrap">iteration-count</td>
				<td class="table-body-row-cell">
					5
				</td>
				<td class="table-body-row-cell u-textLight u-nowrap">
					Iterations of pulse effect
				</td>
			</tr>
		</tbody>
	</table>
</section>
<section class="contentSection">
	<h4>Example</h4>
	<p>Edit animations theme in <code class="code">commons.override.scss</code>:<p>
<code class="code mod-block">$commons: (
	animations: (
		durations: (
			fast: 100ms,
			standard: 250ms,
			slow: 350ms
		),
		translate: 3rem
	)
);
$theme: _set($theme, "commons", $commons);</code>
</section>
