<h1 class="demo-divider">Forms</h1>

	<!-- Form structure -->
<section class="contentSection">
	<h1>Form structure</h1>
	<p>To create a complete form layout, place each form element in a <code class="code">form-group</code> container. <a href="templates/form.html" target="_blank">See template example</a></p>
<code class="code mod-block">&lt;form class="form"&gt;
	&lt;div class="form-group"&gt;
		<b>Form element. e.g. input</b>
	&lt;/div&gt;
	&lt;div class="form-group"&gt;
		<b>Form element. e.g. checkbox</b>
	&lt;/div&gt;
	&lt;div class="form-actions"&gt;
		<b>Action buttons</b>
	&lt;/div&gt;
&lt;/form&gt;</code>
	<em><b>Tip:</b> You can use form elements like input, checkbox or radio outside a form structure: it will reset margins. It can be useful for a custom use, for exemple, in tables.</em><br>
	<em><b>Tip:</b> You can use a <code class="code">form-group-label</code> over every form elements.</em>
</section>

<!-- Form elements -->
<section id="forms-textfields">
	<section class="contentSection" w3-include-html="components/forms/forms-textfields.html"></section>
</section>
<section id="forms-checkboxes">
	<section class="contentSection" w3-include-html="components/forms/forms-checkboxes.html"></section>
</section>
<section id="forms-radios">
	<section class="contentSection" w3-include-html="components/forms/forms-radios.html"></section>
</section>
<section id="forms-switches">
	<section class="contentSection" w3-include-html="components/forms/forms-switches.html"></section>
</section>
<section id="forms-radioButtons">
	<section class="contentSection" w3-include-html="components/forms/forms-radioButtons.html"></section>
</section>
<section id="forms-files">
	<section class="contentSection" w3-include-html="components/forms/forms-files.html"></section>
</section>
<section id="forms-framed">
	<section class="contentSection" w3-include-html="components/forms/forms-framed.html"></section>
</section>
