<h1 class="demo-divider">Grids</h1>

<!-- Basics -->
<section class="contentSection">
	<h1>Grid</h1>
	<div class="grid">
		<div class="grid-xxxs6"><div class="demo-grid">grid-xxxs6</div></div>
		<div class="grid-xxxs6"><div class="demo-grid">grid-xxxs6</div></div>
	</div>
	<div class="grid">
		<div class="grid-xs4"><div class="demo-grid">grid-xs4</div></div>
		<div class="grid-xs8"><div class="demo-grid">grid-xs8</div></div>
	</div>
	<div class="grid">
		<div class="grid-s7"><div class="demo-grid">grid-s7</div></div>
		<div class="grid-s5"><div class="demo-grid">grid-s5</div></div>
	</div>
	<div class="grid">
		<div class="grid-m3 grid-s6"><div class="demo-grid">grid-m3 grid-s6</div></div>
		<div class="grid-m3 grid-s6"><div class="demo-grid">grid-m3 grid-s6</div></div>
		<div class="grid-m3 grid-s6"><div class="demo-grid">grid-m3 grid-s6</div></div>
		<div class="grid-m3 grid-s6"><div class="demo-grid">grid-m3 grid-s6</div></div>
	</div>
<code class="code mod-block">&lt;div class="grid"&gt;
	&lt;div class="grid-xxxs6"&gt;...&lt;/div&gt;
	&lt;div class="grid-xxxs6"&gt;...&lt;/div&gt;
&lt;/div&gt;
</code>
</section>

<!-- Offsets -->
<section class="contentSection">
	<h2>Offsets</h2>
	<div class="grid">
		<div class="grid-xxxs8 grid-xxxsOffset4"><div class="demo-grid">grid-xxxs8 grid-xxxsOffset4</div></div>
	</div>
	<div class="grid">
		<div class="grid-xxxs6 grid-xxxsOffset3"><div class="demo-grid">grid-xxxs6 grid-xxxsOffset3</div></div>
		<div class="grid-xxxs3"><div class="demo-grid">grid-xxxs3</div></div>
	</div>
<code class="code mod-block">&lt;div class="grid"&gt;
	&lt;div class="grid-xxxs8 grid-xxxsOffset4"&gt;...&lt;/div&gt;
&lt;/div&gt;
</code>
</section>

<!-- Auto width -->
<section class="contentSection">
	<h2>Auto width</h2>
	<p>You can remove the columns numbers to devide the grid uniformly:</p>
	<div class="grid">
		<div class="grid-s"><div class="demo-grid">grid-s</div></div>
		<div class="grid-s"><div class="demo-grid">grid-s</div></div>
		<div class="grid-s"><div class="demo-grid">grid-s</div></div>
		<div class="grid-s"><div class="demo-grid">grid-s</div></div>
		<div class="grid-s"><div class="demo-grid">grid-s</div></div>
	</div>
<code class="code mod-block">&lt;div class="grid"&gt;
	&lt;div class="grid-s"&gt;...&lt;/div&gt;
	&lt;div class="grid-s"&gt;...&lt;/div&gt;
	...
&lt;/div&gt;
</code>
	<em><b>Tip:</b> It will also work with <code class="code">-xs</code>, <code class="code">-sm</code>, <code class="code">-md</code>, <code class="code">-lg</code>, <code class="code">-xl</code>, <code class="code">-xxl</code>, or <code class="code">-lg</code></em>
</section>

<!-- Horizontal alignment -->
<section class="contentSection">
	<h2>Horizontal alignment</h2>
	<p>You can align columns horizontaly inside the grid:</p>
	<div class="grid mod-xsStart">
		<div class="grid-xxxs6"><div class="demo-grid"></div></div>
	</div>
	<div class="grid mod-xsCenter">
		<div class="grid-xxxs6"><div class="demo-grid"></div></div>
	</div>
	<div class="grid mod-xsEnd">
		<div class="grid-xxxs6"><div class="demo-grid"></div></div>
	</div>
<code class="code mod-block">&lt;div class="grid mod-xsStart"&gt;
...
</code>
<code class="code mod-block">&lt;div class="grid mod-xsCenter"&gt;
...
</code>
<code class="code mod-block">&lt;div class="grid mod-xsEnd"&gt;
...
</code>
	<em><b>Tip:</b> It will also work with <code class="code">-xs</code>, <code class="code">-sm</code>, <code class="code">-md</code>, <code class="code">-lg</code>, <code class="code">-xl</code>, <code class="code">-xxl</code>, or <code class="code">-lg</code></em>
</section>

<!-- Vertical alignment -->
<section class="contentSection">
	<h2>Vertical alignment</h2>
	<p>You can align columns verticaly inside the grid:</p>
	<div class="grid mod-xsTop">
		<div class="grid-xxxs6"><div class="demo-grid" style="height:100px"></div></div>
		<div class="grid-xxxs6"><div class="demo-grid"></div></div>
	</div>
	<div class="grid mod-xsMiddle">
		<div class="grid-xxxs6"><div class="demo-grid" style="height:100px"></div></div>
		<div class="grid-xxxs6"><div class="demo-grid"></div></div>
	</div>
	<div class="grid mod-xsBottom">
		<div class="grid-xxxs6"><div class="demo-grid" style="height:100px"></div></div>
		<div class="grid-xxxs6"><div class="demo-grid"></div></div>
	</div>
<code class="code mod-block">&lt;div class="grid mod-xsTop"&gt;
...
</code>
<code class="code mod-block">&lt;div class="grid mod-xsMiddle"&gt;
...
</code>
<code class="code mod-block">&lt;div class="grid mod-xsBottom"&gt;
...
</code>
<em><b>Tip:</b> It will also work with <code class="code">-xs</code>, <code class="code">-sm</code>, <code class="code">-md</code>, <code class="code">-lg</code>, <code class="code">-xl</code>, <code class="code">-xxl</code>, or <code class="code">-lg</code></em>
</section>

<!-- Reorder -->
<section class="contentSection">
	<h2>Reorder</h2>
	<p>You can reorder columns with utilities:</p>
	<div class="grid">
		<div class="grid-xxxs3"><div class="demo-grid">1</div></div>
		<div class="grid-xxxs3"><div class="demo-grid">2</div></div>
		<div class="grid-xxxs3 u-xsFirst"><div class="demo-grid">3 u-xsFirst</div></div>
		<div class="grid-xxxs3"><div class="demo-grid">4</div></div>
	</div>
	<div class="grid">
		<div class="grid-xxxs3"><div class="demo-grid">1</div></div>
		<div class="grid-xxxs3 u-xsLast"><div class="demo-grid">2 u-xsLast</div></div>
		<div class="grid-xxxs3"><div class="demo-grid">3</div></div>
		<div class="grid-xxxs3"><div class="demo-grid">4</div></div>
	</div>
<code class="code mod-block">&lt;div class="grid"&gt;
	&lt;div class="grid-xxxs6 u-xsLast"&gt;...&lt;/div&gt;
	&lt;div class="grid-xxxs6 u-xsFirst"&gt;...&lt;/div&gt;
&lt;/div&gt;
</code>
	<em><b>Tip:</b> It will also work with <code class="code">-xs</code>, <code class="code">-sm</code>, <code class="code">-md</code>, <code class="code">-lg</code>, <code class="code">-xl</code>, <code class="code">-xxl</code>, or <code class="code">-lg</code></em>
</section>
