<h1 class="demo-divider">Templates</h1>
<section class="contentSection">
	<h1>Templates</h1>
	<div class="grid">
		<div class="grid-xxxs6">
			<h2>With nav aside</h2>
			<ul>
				<li><a href="templates/fullmenu.html" target="_blank">Full menu</a></li>
				<li><a href="templates/side.html" target="_blank">Compact menu</a></li>
				<li><a href="templates/full-withBanner.html" target="_blank">Full menu with banner</a></li>
				<li><a href="templates/compact-withBanner.html" target="_blank">Compact menu with banner</a></li>
				<li><a href="templates/side-cards.html" target="_blank">Compact menu with cards</a></li>
				<li><a href="templates/side-sections.html" target="_blank">Compact menu with sections</a></li>
				<li><a href="templates/side-header.html" target="_blank">Compact menu with header</a></li>
				<li><a href="templates/side-header-nav.html" target="_blank">Compact menu with header & nav</a></li>
				<li><a href="templates/side-sections-header.html" target="_blank">Compact menu with sections & header</a></li>
				<li><a href="templates/side-filters.html" target="_blank">Compact menu with filters</a></li>
			</ul>
		</div>
		<div class="grid-xxxs6">
			<h2>Without nav aside</h2>
			<ul>
				<li><a href="templates/noside.html" target="_blank">Basic</a></li>
				<li><a href="templates/noside-cards.html" target="_blank">With cards</a></li>
				<li><a href="templates/noside-sections.html" target="_blank">With sections</a></li>
				<li><a href="templates/noside-header.html" target="_blank">With header</a></li>
				<li><a href="templates/noside-header-nav.html" target="_blank">With header & nav</a></li>
				<li><a href="templates/noside-sections-header.html" target="_blank">With sections & header</a></li>
				<li><a href="templates/noside-filters.html" target="_blank">With filters</a></li>
			</ul>
		</div>
		<div class="grid-xxxs6">
			<h2>Others</h2>
			<ul>
				<li><a href="templates/error.html" target="_blank">Error Page</a></li>
			</ul>
		</div>
	</div>
</section>
