<h1 class="demo-divider">Utilities</h1>
<section class="contentSection">
	<h1>Spacing</h1>
	<p>You can add or reset margins and paddings by adding utilities classes on any elements:</p>
	<h2>Margins</h2>
	<h3>All</h3>
	<p>
		<code class="code">u-marginReset</code>
		<code class="code">u-marginAuto</code>
		<code class="code">u-marginSmaller</code>
		<code class="code">u-marginSmall</code>
		<code class="code">u-marginStandard</code>
		<code class="code">u-marginBig</code>
		<code class="code">u-marginBigger</code>
		<code class="code">u-marginBiggest</code>
	</p>
	<h3>Bottom</h3>
	<p>
		<code class="code">u-marginBottomReset</code>
		<code class="code">u-marginBottomAuto</code>
		<code class="code">u-marginBottomSmaller</code>
		<code class="code">u-marginBottomSmall</code>
		<code class="code">u-marginBottomStandard</code>
		<code class="code">u-marginBottomBig</code>
		<code class="code">u-marginBottomBigger</code>
		<code class="code">u-marginBottomBiggest</code>
	</p>
	<h3>Top</h3>
	<p>
		<code class="code">u-marginTopReset</code>
		<code class="code">u-marginTopAuto</code>
		<code class="code">u-marginTopSmaller</code>
		<code class="code">u-marginTopSmall</code>
		<code class="code">u-marginTopStandard</code>
		<code class="code">u-marginTopBig</code>
		<code class="code">u-marginTopBigger</code>
		<code class="code">u-marginTopBiggest</code>
	</p>
	<h3>Right</h3>
	<p>
		<code class="code">u-marginRightReset</code>
		<code class="code">u-marginRightAuto</code>
		<code class="code">u-marginRightSmaller</code>
		<code class="code">u-marginRightsmall</code>
		<code class="code">u-marginRightstandard</code>
		<code class="code">u-marginRightbig</code>
		<code class="code">u-marginRightbigger</code>
		<code class="code">u-marginRightbiggest</code>
	</p>
	<h3>Left</h3>
	<p>
		<code class="code">u-marginLeftReset</code>
		<code class="code">u-marginLeftAuto</code>
		<code class="code">u-marginLeftSmaller</code>
		<code class="code">u-marginLeftSmall</code>
		<code class="code">u-marginLeftStandard</code>
		<code class="code">u-marginLeftBig</code>
		<code class="code">u-marginLeftBigger</code>
		<code class="code">u-marginLeftBiggest</code>
	</p>
</section>
<section class="contentSection">
	<h2>Paddings</h2>
	<h3>All</h3>
	<p>
		<code class="code">u-paddingReset</code>
		<code class="code">u-paddingSmaller</code>
		<code class="code">u-paddingSmall</code>
		<code class="code">u-paddingStandard</code>
		<code class="code">u-paddingBig</code>
		<code class="code">u-paddingBigger</code>
		<code class="code">u-paddingBiggest</code>
	</p>
	<h3>Bottom</h3>
	<p>
		<code class="code">u-paddingBottomReset</code>
		<code class="code">u-paddingBottomSmaller</code>
		<code class="code">u-paddingBottomSmall</code>
		<code class="code">u-paddingBottomStandard</code>
		<code class="code">u-paddingBottomBig</code>
		<code class="code">u-paddingBottomBigger</code>
		<code class="code">u-paddingBottomBiggest</code>
	</p>
	<h3>Top</h3>
	<p>
		<code class="code">u-paddingTopReset</code>
		<code class="code">u-paddingTopSmaller</code>
		<code class="code">u-paddingTopSmall</code>
		<code class="code">u-paddingTopStandard</code>
		<code class="code">u-paddingTopBig</code>
		<code class="code">u-paddingTopBigger</code>
		<code class="code">u-paddingTopBiggest</code>
	</p>
	<h3>Right</h3>
	<p>
		<code class="code">u-paddingRightReset</code>
		<code class="code">u-paddingRightSmaller</code>
		<code class="code">u-paddingRightSmall</code>
		<code class="code">u-paddingRightStandard</code>
		<code class="code">u-paddingRightBig</code>
		<code class="code">u-paddingRightBigger</code>
		<code class="code">u-paddingRightBiggest</code>
	</p>
	<h3>Left</h3>
	<p>
		<code class="code">u-paddingLeftReset</code>
		<code class="code">u-paddingLeftSmaller</code>
		<code class="code">u-paddingLeftSmall</code>
		<code class="code">u-paddingLeftStandard</code>
		<code class="code">u-paddingLeftBig</code>
		<code class="code">u-paddingLeftBigger</code>
		<code class="code">u-paddingLeftBiggest</code>
	</p>
</section>
<section class="contentSection">
	<h2>Borders</h2>
	<h3>All</h3>
	<p>
		<code class="code">u-borderReset</code>
	</p>
	<h3>Bottom</h3>
	<p>
		<code class="code">u-borderBottomReset</code>
	</p>
	<h3>Top</h3>
	<p>
		<code class="code">u-borderTopReset</code>
	</p>
	<h3>Right</h3>
	<p>
		<code class="code">u-borderRightReset</code>
	</p>
	<h3>Left</h3>
	<p>
		<code class="code">u-borderLeftReset</code>
	</p>
</section>
<section class="contentSection">
	<h1>Text format</h1>
	<h2>Align</h2>
	<p>You can align your text by adding a class on any element:</p>
	<p class="u-textLeft">Left align</p>
	<p class="u-textCenter">Center align</p>
	<p class="u-textRight">Right align</p>
	<p>
		<code class="code">u-textLeft</code>
		<code class="code">u-textCenter</code>
		<code class="code">u-textRight</code>
	</p>
</section>
<section class="contentSection">
	<h2>Float</h2>
	<p>You can also align block elements by using a float:</p>
	<p class="u-left">Float left</p>
	<p class="u-right">Float right</p>
	<div class="u-clear"></div>
	<p>
		<code class="code">u-left</code>
		<code class="code">u-right</code>
	</p>
	<em><b>Tip:</b> If needed, clear it by using <code class="code">&lt;div class="u-clear"&gt;&lt;/div&gt;</code>.</em>
</section>
<section class="contentSection">
	<h2>Positioning</h2>
	<p>You can center vertically an inline element:</p>
	<code class="code">u-middle</code>
</section>
<section class="contentSection" id="utilities-sizes">
	<h2>Sizes</h2>
	<p>You can also change the size of your text:</p>
	<p class="demo-textColor">
		<span class="u-textSmaller">smaller</span>
		<span class="u-textSmall">small</span>
		<span class="u-textStandard">standard</span>
		<span class="u-textBig">big</span>
		<span class="u-textBigger">bigger</span>
		<span class="u-textBiggest">biggest</span>
	</p>
	<p>
		<code class="code">u-textSmaller</code>
		<code class="code">u-textSmall</code>
		<code class="code">u-textStandard</code>
		<code class="code">u-textBig</code>
		<code class="code">u-textBigger</code>
		<code class="code">u-textBiggest</code>
	</p>
</section>
<section class="contentSection" id="utilities-colors">
	<h2>Colors</h2>
	<p>You can also change the color of your text:</p>
	<p class="demo-textColor">
		<span class="u-textDefault">Default</span>
		<span class="u-textLight">Light</span>
		<span class="u-textPlaceholder">Placeholder</span>
		<span class="u-textPrimary">Primary</span>
		<span class="u-textSecondary">Secondary</span>
		<span class="u-textSuccess">Success</span>
		<span class="u-textWarning">Warning</span>
		<span class="u-textError">Error</span>
	</p>
	<p>
		<code class="code">u-textDefault</code>
		<code class="code">u-textLight</code>
		<code class="code">u-textPlaceholder</code>
		<code class="code">u-textPrimary</code>
		<code class="code">u-textSecondary</code>
		<code class="code">u-textSuccess</code>
		<code class="code">u-textWarning</code>
		<code class="code">u-textError</code>
	</p>
</section>
<section class="contentSection" id="utilities-whitespace">
	<h2>Whitespace</h2>
	<p>You can force a <code class="code">white-space: nowrap</code> property. It can be useful to force a one line string in a table cell.</p>
	<p>
		<code class="code">u-nowrap</code>
	</p>
</section>

<section class="contentSection" id="utilities-fontstyle">
	<h2>Font style and weight</h2>
	<p>You can change the weight and style of the texts with these atomic classes:</p>
	<p>
		<code class="code">u-fontStyleNormal</code>
		<code class="code">u-fontStyleItalic</code>
	</p>
	<p>
		<code class="code">u-fontWeightRegular</code>
		<code class="code">u-fontWeightBold</code>
	</p>
</section>

<section class="contentSection" id="utilities-textdecoration">
	<h2>Text decoration</h2>
	<p>Text decorations can be changed with:</p>
	<p>
		<span class="u-textDecorationNone">None</span>
		<span class="u-textDecorationUnderline">Underlined</span>
		<span class="u-textDecorationLineThrough">Striked</span>
	</p>
	<p>
		<code class="code">u-textDecorationNone</code>
		<code class="code">u-textDecorationUnderline</code>
		<code class="code">u-textDecorationLineThrough</code>
	</p>
	<p><em><strong>Tip:</strong> be careful to differentiate visual styles from semantics by using the right HTML elements if necessary: <code class="code">&lt;a href="#"&gt;link&lt;/a&gt;</code>, <code class="code">&lt;s&gt;delete&lt;/s&gt;</code> and <code class="code">&lt;ins&gt;new&lt;/ins&gt; &lt;del&gt;old&lt;/del&gt;</code>.</em></p>
</section>

<section class="contentSection" id="utilities-elevation">
	<h2>Elevate</h2>
	<p>You can add a box-shadow following our 1-6 elevation through this</p>
	<p>
		<code class="code">u-elevate1</code>
		<code class="code">u-elevate2</code>
		<code class="code">u-elevate3</code>
		<code class="code">u-elevate4</code>
		<code class="code">u-elevate5</code>
		<code class="code">u-elevate6</code>
	</p>
	<ul>
		<li class="demo-box u-elevate1"></li>
		<li class="demo-box u-elevate2"></li>
		<li class="demo-box u-elevate3"></li>
		<li class="demo-box u-elevate4"></li>
		<li class="demo-box u-elevate5"></li>
		<li class="demo-box u-elevate6"></li>
	</ul>
</section>

<section class="contentSection" id="utilities-ellipsis">
	<h2>Ellipsis</h2>
	<p>You can use ellipsis on a one line text to hide its extra part. You'll may need to define a width.</p>
	<div class="u-ellipsis" style="width: 200px">Cotton candy cupcake sweet roll. Oat cake jelly chocolate carrot cake cotton candy macaroon croissant.</div>
	<code class="code">u-ellipsis</code>
</section>

<section class="contentSection" id="utilities-units">
	<h2>Units</h2>
	<p>You can use an utility to format units.</p>
	<p style="font-size: 3rem">75 <span class="u-unit">%</span></p>
	<p style="font-size: 2rem">75 <span class="u-unit">%</span></p>
	<p style="font-size: 1.5rem">75 <span class="u-unit">%</span></p>
	<code class="code">u-unit</code>
</section>


<section class="contentSection" id="utilities-image">
	<h2>Images</h2>
	<p>You can use an utility to add a responsive image</p>
	<code class="code">u-imageResponsive</code>
</section>

<section class="contentSection" id="utilities-pointer-events">
	<h2>Pointer events</h2>
	<p>
		It is possible to enable or disable mouse events handlers.
	</p>
	<p>
		<code class="code">u-pointerEventsNone</code>
		<code class="code">u-pointerEventsAuto</code>
	</p>
</section>

<section class="contentSection" id="utilities-help">
	<h2>Help</h2>
	<p>You can use an utility to add on help icon.</p>
	<p>Utilities Help <span aria-hidden="true" class="lucca-icon u-help">help</span></p>
	<code class="code">u-help</code>
</section>

<section class="contentSection" id="utilities-textfield">
	<h2>Textfield</h2>
	<p>You can use an utility to remove textfields number spin buttons.</p>
	<div class="textfield mod-block">
		<input class="textfield-input u-noSpinButtons" id="textfield0" type="number" placeholder="placeholder">
		<label class="textfield-label" for="textfield0">Textfield label</label>
	</div>
	<code class="code">u-noSpinButtons</code>
</section>

<section class="contentSection" id="utilities-comma">
	<h2>Comma separator</h2>
	<p>You can use an utility to add comma separator between elements.</p>
	<div>
		<span class="u-comma">text</span><span class="u-comma">text</span><span class="u-comma">text</span>
	</div>
	<code class="code">u-comma</code>
</section>

<section class="contentSection" id="utilities-mask">
	<h2>Mask</h2>
	<p>To visually hide an element of the page, but leave it accessible to user agents (screen readers, indexing robots, translators, etc.).</p>
	<div>
		Lorem 
		<span class="u-mask">ipsum</span>
		dolor
	</div>
	<code class="code">u-mask</code>
</section>

<section class="contentSection" id="utilities-scrolling">
	<h2>Scrolling</h2>
	<p>soft scrolling for document is enabled by default, and you can use this classes to disable or enable it in other places.</p>
	<code class="code">u-scrollBehaviorAuto</code>
	<code class="code">u-scrollBehaviorSmooth </code>
</section>


<section class="contentSection" id="utilities-display">
	<h2>Display</h2>
	<p>The most common display values are listed as atomic classes.</p>
	<div>
		<span class="u-displayBlock">Lorem</span> 
		<span class="u-displayInlineBlock">ipsum</span>
		<span class="u-displayNone">dolor</span>
	</div>
	<p class="u-marginTopStandard">
		<code class="code">u-displayBlock</code>
		<code class="code">u-displayInlineBlock</code>
		<code class="code">u-displayNone</code>
	</p>
</section>


<section class="contentSection" id="utilities-position">
	<h2>Position</h2>
	<p>Positions and basics placements values are listed as atomic classes.</p>
	<p>
		<code class="code">u-positionRelative</code>
		<code class="code">u-positionStatic</code>
		<code class="code">u-positionAbsolute</code>
		<code class="code">u-positionFixed</code>
		<code class="code">u-positionSticky</code>
	</p>
	<p>
		<code class="code">u-top0</code>
		<code class="code">u-bottom0</code>
		<code class="code">u-left0</code>
		<code class="code">u-right0</code>
	</p>
	<p><em><strong>Tip:</strong> you can then combine easily <code class="code">u-positionFixed</code>, <code class="code">u-bottom0</code>, <code class="code">u-right0</code> and <code class="code">u-paddingSmall</code> for example.</em></p>
</section>

<section class="contentSection" id="utilities-listReset">
	<h2>List reset</h2>
	<p>All types of lists can have their paddings and margins reseted with these utilities.</p>
	<ul class="u-listReset">
		<li>unordered item</li>
		<li>unordered item</li>
	</ul>
	<ol class="u-listReset">
		<li>ordered item</li>
		<li>ordered item</li>
	</ol>
	<dl class="u-definitionlistReset">
		<dt>title item</dt>
		<dd>defintion item</dd>
	</dl>
	<dl class="u-definitionlistReset">
		<div>
			<dt>title item with wrapping</dt>
		</div>
		<div>
			<dd>defintion item with wrapping</dd>
		</div>
	</dl>
	<p>
		<code class="code">u-listReset</code> for <code class="code">ol</code> and <code class="code">ul</code>;<br />
		<code class="code">u-definitionListReset</code> for <code class="code">dl</code>.
	</p>
	<p><em><strong>Tip:</strong> these utilities are also accessible via <code class="code">listReset()</code> and <code class="code">definitionListReset()</code>.</em></p>
</section>

<section class="contentSection" id="utilities-flex">
	<h2>Flex</h2>
	<p>You can quickly build column layouts with the flexbox utilities. Be careful however not to abuse these utilities which can make proofreading or maintenance more complex if they are used too much. They solve specific needs only.</p>
	<div class="u-marginBottomStandard">
		<div class="u-displayFlex u-justifyContentSpaceAround">
			<div>1</div>
			<div>2</div>
			<div>3</div>
			<div>4</div>
			<div>5</div>
		</div>
	</div>
	<p>
		<code class="code">.u-displayFlex</code>
		<code class="code">.u-displayInlineFlex</code>
	</p>
	<p>
		<code class="code">.u-flexDirectionColumn</code>
		<code class="code">.u-flexDirectionColumnReverse</code>
		<code class="code">.u-flexDirectionRow</code>
		<code class="code">.u-flexDirectionRowReverse</code>
	</p>
	<p>
		<code class="code">.u-flexWrapNowrap</code>
		<code class="code">.u-flexWrapWrap</code>
		<code class="code">.u-flexWrapReverse</code>
	</p>
	<p>
		<code class="code">.u-justifyContentFlexStart</code>
		<code class="code">.u-justifyContentFlexEnd</code>
		<code class="code">.u-justifyContentSpaceAround</code>
		<code class="code">.u-justifyContentSpaceBetween</code>
		<code class="code">.u-justifyContentSpaceEvenly</code>
		<code class="code">.u-justifyContentCenter</code>
	</p>
	<p>
		<code class="code">.u-alignItemsFlexStart</code>
		<code class="code">.u-alignItemsFlexEnd</code>
		<code class="code">.u-alignItemsBaseline</code>
		<code class="code">.u-alignItemsCenter</code>
		<code class="code">.u-alignItemsStretch</code>
	</p>
	<p>
		<code class="code">.u-flexGrow0</code>
		<code class="code">.u-flexGrow1</code>
	</p>
	<p>
		<code class="code">.u-flexShrink0</code>
		<code class="code">.u-flexShrink1</code>
	</p>
	<p>
		<code class="code">.u-flexBasis0</code>
		<code class="code">.u-flexBasisAuto</code>
	</p>
	<p>
		<code class="code">.u-order-1</code>
		<code class="code">.u-order1</code>
	</p>
	<p>
		<code class="code">.u-alignSelfFlexStart</code>
		<code class="code">.u-alignSelfFlexEnd</code>
		<code class="code">.u-alignSelfBaseline</code>
		<code class="code">.u-alignSelfCenter</code>
		<code class="code">.u-alignSelfStretch</code>
	</p>

	<p>
		<code class="code">.u-minWidth0</code>
  </p>
</section>

<section class="contentSection" id="utilities-border-radius">
	<h2>Border radius</h2>
	<div class="u-marginBottomStandard">
		<div class="u-borderTopLeftRadius" style="background-color: currentColor; width: 50px; height: 50px"></div>
	</div>
	<div class="u-marginBottomStandard">
		<div class="u-borderTopRightRadius" style="background-color: currentColor; width: 50px; height: 50px"></div>
	</div>
	<div class="u-marginBottomStandard">
		<div class="u-borderBottomLeftRadius" style="background-color: currentColor; width: 50px; height: 50px"></div>
	</div>
	<div class="u-marginBottomStandard">
		<div class="u-borderBottomRightRadius" style="background-color: currentColor; width: 50px; height: 50px"></div>
	</div>
	
	<div class="u-marginBottomStandard">
		<div class="u-borderTopLeftRadiusBig" style="background-color: currentColor; width: 50px; height: 50px"></div>
	</div>
	<div class="u-marginBottomStandard">
		<div class="u-borderTopRightRadiusBig" style="background-color: currentColor; width: 50px; height: 50px"></div>
	</div>
	<div class="u-marginBottomStandard">
		<div class="u-borderBottomLeftRadiusBig" style="background-color: currentColor; width: 50px; height: 50px"></div>
	</div>
	<div class="u-marginBottomStandard">
		<div class="u-borderBottomRightRadiusBig" style="background-color: currentColor; width: 50px; height: 50px"></div>
	</div>
	<p>
		<code class="code">.u-borderTopLeftRadius</code>
		<code class="code">.u-borderTopRightRadius</code>
		<code class="code">.u-borderBottomLeftRadius</code>
		<code class="code">.u-borderBottomRightRadius</code>
		<code class="code">.u-borderTopLeftRadiusBig</code>
		<code class="code">.u-borderTopRightRadiusBig</code>
		<code class="code">.u-borderBottomLeftRadiusBig</code>
		<code class="code">.u-borderBottomRightRadiusBig</code>

	</p>
</section>