.switch {
	position: relative;
}

.switch-input {
	opacity: 0;
	pointer-events: none;
	position: absolute;
}

.switch-label {
	cursor: pointer;
	display: inline-block;
	line-height: 1.5rem;
	padding: 0 0 0 calc(2rem - 4px + #{_theme("spacings.smaller", true)});
	transition: color _theme("commons.animations.durations.fast") ease;

	&::before {
		background: _color("grey", "700");
		border-radius: .5rem;
		content: "";
		display: block;
		height: 1rem;
		left: 0;
		position: absolute;
		top: _theme("spacings.smallest");
		transition: all _theme("commons.animations.durations.fast") ease;
		width: calc(2rem - 4px);
	}

	&::after {
		background: _theme("colors.white");
		box-shadow: _theme("commons.box-shadow.hard");
		border-radius: 50%;
		content: "";
		display: block;
		height: calc(1rem - 4px);
		left: 2px;
		position: absolute;
		top: calc(#{_theme("spacings.smallest", true)} + 2px);
		transition: all _theme("commons.animations.durations.fast") ease;
		width: calc(1rem - 4px);
	}

	&:hover {
		color: _color("grey");

		&::before {
			background: _color("grey", "600");
		}
	}
}


// MODS
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

.switch {
	&.mod-inline {
		display: inline-block;
		margin-right: 1.5rem;
	}

	&.mod-small {
		.switch-label {
			padding: 0 0 0 calc(1.75rem - 4px + #{_theme("spacings.smaller", true)});
			&::before {
				margin-top: _component("switch.small-top");
				height: _theme("sizes.small.font-size");
				width: calc(1.75rem - 4px);
			}
			&::after {
				margin-top: _component("switch.small-top");
				height: calc(#{_theme("sizes.small.font-size")} - 4px);
				width: calc(#{_theme("sizes.small.font-size")} - 4px);
			}
		}
		.switch-input:checked ~ .switch-label {
			&::after {
				left: calc(#{_theme("sizes.small.font-size")} - 2px);
			}
		}
	}
}


// STATES
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

.switch .switch-input {

	/*
		Checked
	*/

	&:checked ~ .switch-label {
		&::after {
			left: calc(1rem - 2px);
		}
	}

	/*
		Disabled
	*/

	&[disabled], &[readonly] {
		~ .switch-label {
			color: _color("grey", "500");
			cursor: default;

			&::before {
				background: _color("grey", "500");
			}
		}
	}
}


// PALETTE
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

.switch {
	@mixin switchColoring($palette) {

		.switch-input {
			&:focus ~ .switch-label {
				&::before {
					box-shadow: 0 0 0 4px _color($palette, "200");
				}
			}
		}

		.switch-input:checked {
			~ .switch-label {
				&::before {
					background: _color($palette);
				}

				&:hover {
					&::before {
						background: _color($palette, "600");
					}
				}
			}
			&[disabled], &[readonly] {
				~ .switch-label {
					&::before {
						background: _color($palette, "500");
					}

					&:hover {
						&::before {
							background: _color($palette, "500");
						}
					}
				}
			}
		}
	}

	// default color
	@include switchColoring("switch.default-palette");

	// palette colors
	@each $name, $palette in _getMap("palettes") {
		&.palette-#{$name} {
			@include switchColoring($name);
		}
	}
}
