.switch {
	position: relative;
}

.switch-input {
	opacity: 0;
	pointer-events: none;
	position: absolute;
}

.switch-label {
	color: _color("grey", "800");
	cursor: pointer;
	display: inline-block;
	line-height: 1.5rem;
	padding: 0 0 0 calc(2rem - 4px + #{_theme("spacings.smaller", true)});
	transition: color _theme("commons.animations.durations.fast") ease;

	&::before {
		background-color: _color("grey", "700");
		border-radius: .5rem;
		content: "";
		display: block;
		height: 1rem;
		left: 0;
		margin-top: _component("switch.top");
		position: absolute;
		top: _theme("spacings.smallest");
		transition: all _theme("commons.animations.durations.fast") ease;
		width: calc(2rem - 4px);
	}

	&::after {
		background-color: white;
		box-shadow: _theme("commons.box-shadow.hard");
		border-radius: 50%;
		content: "";
		display: block;
		height: calc(1rem - 4px);
		left: 2px;
		margin-top: _component("switch.top");
		position: absolute;
		top: calc(#{_theme("spacings.smallest", true)} + 2px);
		transition: all _theme("commons.animations.durations.fast") ease;
		width: calc(1rem - 4px);
	}

	&:hover {
		&::before {
			background-color: _color("grey", "600");
		}
	}
}


// MODS
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

.switch {
	&.mod-inline {
		display: inline-block;
		margin-right: 1.5rem;

		.switch-label {
			&::before {
				margin-top: 0;
			}
			&::after {
				margin-top: 0;
			}
		}
	}

	&.mod-small {
		.switch-label {
			font-size: _theme("sizes.small.font-size");
			line-height: _theme("sizes.small.line-height");
			padding: 0 0 0 calc(1.75rem - 4px + #{_theme("spacings.smaller", true)});

			&::before {
				margin-top: _component("switch.small-top");
				height: _theme("sizes.small.font-size");
				width: calc(1.75rem - 4px);
			}
			&::after {
				margin-top: _component("switch.small-top");
				height: calc(#{_theme("sizes.small.font-size")} - 4px);
				width: calc(#{_theme("sizes.small.font-size")} - 4px);
			}
		}
		.switch-input:checked ~ .switch-label {
			&::before {
				font-size: _theme("sizes.smaller.font-size");
			}

			&::after {
				left: calc(#{_theme("sizes.small.font-size")} - 2px);
			}
		}
	}
}


// STATES
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

.switch .switch-input {

	/*
		Checked
	*/

	&:checked {
		~ .switch-label {
			&::before {
				@include makeIcon("tick");

				align-items: center;
				background-color: _color("secondary", "700");
				color: _color("secondary", "900");
				display: flex;
				font-size: _theme("sizes.small.font-size");
				line-height: _theme("sizes.small.line-height");
				padding-left: _component("switch.icon-left");
				padding-top: _component("switch.icon-top");
			}
			
			&::after {
				left: calc(1rem - 2px);
			}
		} 

		&:hover ~ .switch-label {
			&::before {
				background-color: _color("secondary", "600");
			}
		}

		&:focus ~ .switch-label {
			&::before {
				background-color: _color("secondary", "600");
				box-shadow: 0 0 0 4px _color("secondary", "200");
			}
		}

		&:active ~ .switch-label {
			&::before {
				background-color: _color("secondary", "800");
				box-shadow: 0 0 0 4px _color("secondary", "300");
			}
		}
	}

	/*
		Disabled
	*/

	&[disabled], &[readonly] {
		~ .switch-label {
			color: _color("grey", "500");
			cursor: default;

			&::before {
				background-color: _color("grey", "500");
			}

			&::after {
				background-color: _color("grey", "300");
			}
		}

		&:checked ~ .switch-label {
			&::before {
				background-color: _color("secondary", "500");
				color: _color("secondary", "700");
			}

			&::after {
				background-color: _color("secondary", "200");
			}
		}
	}

	/*
		Focus
	*/

	&:focus ~ .switch-label {
		&::before {
			box-shadow: 0 0 0 4px _color("grey", "200");
		}
	}

	/*
		Active
	*/

	&:active ~ .switch-label {
		&::before {
			background-color: _color("grey", "800");
			box-shadow: 0 0 0 4px _color("grey", "300");
		}
	} 
}
