%radio-framed {
	@include fakeBorder(1px, _theme("commons.divider.color"));

	display: flex;
	flex-wrap: wrap;
	padding: _component("input.framed.top-padding") _component("input.framed.side-padding") _component("input.framed.bottom-padding");
	width: 100%;
	.radio {
		margin-right: 2em;
	}
}
