@mixin fakeBorder($width, $color) {
	box-shadow: $width 0 0 0  $color,
	0 $width 0 0  $color,
	$width $width 0 0  $color,
	$width 0 0 0  $color inset,
	0 $width 0 0  $color inset;
}

%radio-framed {
   display: flex;
   flex-wrap: wrap;
   padding: _component("input.framed.top-padding") _component("input.framed.side-padding") _component("input.framed.bottom-padding");
   width: 100%;
   @include fakeBorder(1px, _theme("commons.divider.color"));

   .radio {
      margin-right: 2em;
   }
}