@import "../field/field";

@include field("radiosfield");

.radiosfield {
	border: 0;
	padding: 0;
	margin: 0;
}

.radiosfield-input {
	@include field-input("radiosfield");

	&.mod-row {
		@extend %radiosfield-row;
	}

	&.button-group {
		display: flex;
	}
}

.form.mod-compact .radiosfield, .radiosfield.mod-compact {
	@include field-compact("radiosfield");

	align-items: flex-start;

	.radiosfield-input {
		@extend %radiosfield-row;
	}
}

.form.mod-framed .radiosfield, .radiosfield.mod-framed {
	display: block;

	.radiosfield-input {
		@extend %radiosfield-row;
	}

	fieldset {
		border: none;
		padding: 0;
	}
}

%radiosfield-row {
	display: flex;
	flex-wrap: wrap;

	.radio {
		margin-top: 0;
		margin-bottom: 0;
	}

	.radio {
		margin-right: _component("field.horizontal-spacing");
	}
}
