@import '../field/field';

.radiosfield {
	@include field("radiosfield");
}

.radiosfield-input {
	@include field-input("radiosfield");

	&.mod-row {
		@extend %radiosfield-row;
	}
}

.form.mod-compact .radiosfield, .radiosfield.mod-compact{
	@include field-compact("radiosfield");

	.radiosfield-input {
		@extend %radiosfield-row;
	}
}

.form.mod-framed .radiosfield, .radiosfield.mod-framed {
	@include field-framed("radiosfield");

	.radiosfield-input {
		@extend %radiosfield-row;
	}
}

%radiosfield-row {
	display: flex;
	.radio {
		margin-top: 0;
		margin-bottom: 0;
	}
	.radio + .radio {
		margin-left: 1.5rem;
	}
}