@mixin vars {
	--components-list-margin-bottom: var(--pr-t-spacings-M);
	--components-list-padding: var(--pr-t-spacings-M) var(--pr-t-spacings-L);
	--components-list-hover-background: var(--palettes-product-50);
}
