@mixin vars {
	--components-list-margin-bottom: var(--spacings-small);
	--components-list-padding: var(--spacings-small) var(--spacings-standard);
	--components-list-hover-background: var(--palettes-primary-50);
}
