@mixin component($item: '.tableOfContent-item') {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: sticky;

  @at-root {
    #{$item} {
      color: var(--palettes-grey-500);
      padding: var(--components-tableOfContent-item-padding);
      border-radius: var(--commons-border-radius);

      transition-duration: var(--commons-animations-durations-standard);
      transition-property: all;
      display: block;
      outline: none;
      position: relative;
      text-decoration: none;
      cursor: pointer;

      &::before {
        background-color: var(--palettes-700, var(--components-tableOfContent-default-palette-color));
        width: var(--components-tableOfContent-item-border-width);
        transition-duration: var(--commons-animations-durations-fast);
        transition-property: all;
        position: absolute;
        transform: scaleY(0);
        opacity: 0;
        top: 0;
        left: 0;
        bottom: 0;
        content: '';
      }
    }
  }
}
