@use '@lucca-front/icons/src/icon/exports' as icon;

@mixin L {
	--components-fileEntry-padding: var(--pr-t-spacings-150);
	--components-fileEntry-status-inlineSize: 48px;
	--components-fileEntry-description-display: flex;
	--components-fileEntry-gridTemplateAreas: 'picture title toolbar' 'picture description toolbar';
	--components-fileEntry-filename-alignSelf: end;
	--components-fileEntry-gapInline: var(--components-fileEntry-padding);
	--components-fileEntry-status-content-svg-margin: 0;
	--components-fileEntry-status-blockSize: var(--components-fileEntry-status-inlineSize);

	.fileEntry-status-content-inside-icon {
		@include icon.M;
	}
}

@mixin media {
	--components-fileEntry-padding: var(--pr-t-spacings-75);
	--components-fileEntry-status-inlineSize: 100%;
	--components-fileEntry-description-display: none;
	--components-fileEntry-display: block;
	--components-fileEntry-status-content-svg-width: 72px;
	--components-fileEntry-gridColumn: auto;
	--components-fileEntry-status-blockSize: auto;
	--components-fileEntry-status-aspectRatio: 1;

	&:has(.fileEntry-status-content-fileName) {
		--components-fileEntry-status-content-inside-insetBlockEnd: calc(var(--pr-t-spacings-400) + var(--pr-t-spacings-25));
	}
}

@mixin mediaL {
	--components-fileEntry-minHeight: calc(5rem + 2px);
	--components-fileEntry-gridColumn: 1 / -1;
	--components-fileEntry-status-blockSize: calc(21.5rem - 1rem + 2px);
	--components-fileEntry-status-aspectRatio: auto;
}

@mixin divider {
	--components-divider-marginBlock: var(--pr-t-spacings-25);
	--components-divider-marginInline: 0;
}
