@use '@lucca-front/scss/src/components/loading/exports' as loading;

@mixin error {
	--components-fileEntry-borderColor: var(--palettes-critical-600);
	--components-fileEntry-gridTemplateAreas: 'picture title toolbar' 'picture description toolbar';
	--components-fileEntry-status-content-inside-backgroundColor: var(--palettes-critical-50);
	--components-fileEntry-minHeight: 3.75rem;
	--components-fileEntry-description-display: flex;
}

@mixin loading {
	--components-fileEntry-status-content-img-opacity: 0.08;
}

@mixin loadingL {
	.fileEntry-status-content-inside-loading.loading {
		@include loading.M;
	}
}

@mixin errorL {
	--components-fileEntry-status-blockSize: var(--components-fileEntry-status-inlineSize);
}

@mixin mediaErrorL {
	--components-fileEntry-status-blockSize: calc(21.5rem - 1rem + 2px);
}
