@mixin vars {
	--components-fileEntry-gridColumn: 1 / -1;
	--components-fileEntry-borderColor: var(--palettes-neutral-100);
	--components-fileEntry-minHeight: auto;
	--components-fileEntry-status-content-inside-backgroundColor: var(--palettes-neutral-25);
	--components-fileEntry-status-content-img-opacity: 1;
	--components-fileEntry-status-content-svg-width: 48px;
	--components-fileEntry-status-content-svg-height: var(--components-fileEntry-status-content-svg-width);
	--components-fileEntry-status-blockSize: 100%;
	--components-fileEntry-status-margin: 0;
	--components-fileEntry-display: grid;
	--components-fileEntry-status-content-padding: 0;
	--components-fileEntry-status-content-inside-insetBlockEnd: 0;

	--components-fileEntry-padding: var(--pr-t-spacings-50);
	--components-fileEntry-status-inlineSize: 32px;
	--components-fileEntry-description-display: none;
	--components-fileEntry-gridTemplateAreas: 'picture title title toolbar';
	--components-fileEntry-filename-alignSelf: center;
	--components-fileEntry-gapInline: var(--pr-t-spacings-75);
	--components-fileEntry-status-content-svg-margin: calc(var(--pr-t-spacings-100) * -1);
}
