@mixin ascending {
	.indexTable-head-row-cell-sortableButton-arrows-ascending {
		--components-sorted-arrowColor: var(--palettes-neutral-700);
		--components-sorted-arrowScale: 1.25;
	}
}

@mixin descending {
	.indexTable-head-row-cell-sortableButton-arrows-descending {
		--components-sorted-arrowColor: var(--palettes-neutral-700);
		--components-sorted-arrowScale: 1.25;
	}
}
