@mixin vars {
	--components-sorted-arrowColor: var(--palettes-neutral-500);
	--components-sorted-arrowScale: 1;
	--components-sorted-direction: row;
	--components-sorted-offset: calc(var(--pr-t-spacings-50) * -1);
}
