@use 'sass:map';

@use '@lucca-front/icons/src/commons/config';

@mixin generate($name) {
	@if map.has-key(config.$icons, $name) {
		--icon-content: '#{map.get(config.$icons, $name)}';

		font-weight: 400;
		display: inline-block;
		vertical-align: text-bottom;
		font-style: normal;
		font-family: config.$font-name;
		content: var(--icon-content);
		-webkit-font-smoothing: antialiased;
		text-transform: none;
	} @else {
		@error "“#{$name}” wasn’t found in “@lucca-front/icons config.$icons” map.";
	}
}
