@mixin component($atRoot: 'without: rule') {
	display: flex;
	flex-wrap: wrap;
	padding: var(--spacings-XS) .75rem;
	justify-content: flex-end;

	> *:not(:last-child) {
		margin-right: var(--spacings-XS);
	}

	@at-root ($atRoot) {
		.pagination-count,
		.pagination-navigation,
		.pagination-scrolling {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
		}

		.pagination-count-separator {
			margin: 0 var(--spacings-XXS);
		}

		.pagination-navigation {
			list-style: none;
			padding: 0;
			margin-top: 0;
			margin-bottom: 0;

			> *:not(:last-child) {
				margin-right: var(--spacings-XXS);
			}
		}

		.pagination-navigation-item {
			margin-right: var(--spacings-XXS);
		}
	}
}
