@use '@lucca-front/scss/src/commons/utils/namespace';

@use '@lucca-front/scss/src/commons/utils/a11y';
@use '@lucca-front/scss/src/commons/utils/text';

@use '@lucca-front/scss/src/components/button/exports' as button;

@mixin component($atRoot: namespace.$defaultAtRoot) {
	border: 1px solid var(--components-fileUploaded-borderColor);
	padding: var(--components-fileUploaded-padding);
	margin: 0;
	border-radius: var(--commons-borderRadius-L);
	background-color: var(--pr-t-elevation-surface-raised);
	gap: 0 var(--components-fileUploaded-gap);
	position: relative;
	grid-column: var(--components-fileUploaded-gridColumn);
	min-height: var(--components-fileUploaded-minHeight);
	display: var(--components-fileUploaded-display);
	align-items: center;
	grid-template-columns: auto 1fr auto;
	grid-template-areas: var(--components-fileUploaded-gridTemplateAreas);

	&:has(.fileUploaded-filename-tooltip:focus-visible, .fileUploaded-status-content:focus-visible) {
		@include a11y.focusVisible;
	}

	@at-root ($atRoot) {
		.fileUploaded-status {
			border-radius: var(--components-fileUploaded-status-borderRadius);
			overflow: hidden;
			inline-size: var(--components-fileUploaded-status-inlineSize);
			block-size: var(--components-fileUploaded-status-blockSize);
			color: var(--palettes-neutral-700);
			background-color: var(--components-fileUploaded-status-backgroundColor);
			flex-shrink: 0;
			aspect-ratio: var(--components-fileUploaded-status-aspectRatio);
			margin: var(--components-fileUploaded-status-margin);
			grid-area: picture;
			display: flex;
		}

		.fileUploaded-status-content {
			display: flex;
			inline-size: 100%;
			block-size: 100%;
			outline: none;
			justify-content: center;
			align-items: center;
		}

		.fileUploaded-status-content-svg {
			inline-size: var(--components-fileUploaded-status-content-svg-width);
			block-size: var(--components-fileUploaded-status-content-svg-height);
		}

		.fileUploaded-status-content-img {
			object-fit: cover;
			inline-size: 100%;
			block-size: 100%;
			opacity: var(--components-fileUploaded-status-content-img-opacity);
		}

		.fileUploaded-status-content-loading {
			position: absolute;
		}

		.fileUploaded-toolbar {
			grid-area: toolbar;
			margin: 0;
		}

		.fileUploaded-filename {
			grid-area: title;
			align-self: var(--components-fileUploaded-filename-alignSelf);
			min-width: 0;
		}

		.fileUploaded-filename-tooltip {
			@include text.ellipsis;

			outline: none;
		}

		.fileUploaded-description {
			grid-area: description;
			align-self: start;
			color: var(--palettes-neutral-600);
			font-size: var(--sizes-S-fontSize);
			line-height: var(--sizes-S-lineHeight);
			display: var(--components-fileUploaded-description-display);
			margin: 0;
			gap: var(--pr-t-spacings-100);
			min-width: 0;
		}

		.fileUploaded-description-format {
			@include text.ellipsis;

			border-radius: var(--commons-borderRadius-M);

			&:focus-visible {
				@include a11y.focusVisible;
			}
		}

		.fileUploaded-inlineMessage {
			grid-area: description;
			margin: 0;
			align-self: start;
			min-width: 0;
		}
	}
}
