@mixin S {
	--components-fileUploaded-description-display: none;
	--components-fileUploaded-status-inlineSize: 32px;
	--components-fileUploaded-padding: var(--pr-t-spacings-50);
	--components-fileUploaded-status-content-svg-width: 32px;
	--components-fileUploaded-status-borderRadius: var(--commons-borderRadius-M);
	--components-fileUploaded-status-margin: 0;
	--components-fileUploaded-minHeight: auto;
	--components-fileUploaded-gridTemplateAreas: 'picture title title toolbar';
	--components-fileUploaded-filename-alignSelf: center;
}

@mixin media {
	--components-fileUploaded-padding: var(--pr-t-spacings-75);
	--components-fileUploaded-gridColumn: auto;
	--components-fileUploaded-status-inlineSize: 100%;
	--components-fileUploaded-status-blockSize: auto;
	--components-fileUploaded-status-aspectRatio: 1;
	--components-fileUploaded-status-margin: 0;
	--components-fileUploaded-display: block;
}

@mixin single {
	--components-fileUploaded-padding: var(--pr-t-spacings-75);
	--components-fileUploaded-status-aspectRatio: auto;
	--components-fileUploaded-status-inlineSize: 100%;
	--components-fileUploaded-status-blockSize: calc(20rem - 1rem + 2px);
	--components-fileUploaded-status-margin: 0;
	--components-fileUploaded-description-display: none;
	--components-fileUploaded-display: block;
}
