@mixin S {
	--components-fileUploaded-informations-children-display: none;
	--components-fileUploaded-status-width: 32px;
	--components-fileUploaded-padding: var(--pr-t-spacings-50);
	--components-fileUploaded-gap: var(--components-fileUploaded-padding);
	--components-fileUploaded-status-svg-width: 32px;
	--components-fileUploaded-status-borderRadius: var(--commons-borderRadius-M);
	--components-fileUploaded-status-margin: 0;
	--components-fileUploaded-minHeight: auto;
}

@mixin media {
	--components-fileUploaded-padding: var(--pr-t-spacings-75);
	--components-fileUploaded-gridColumn: auto;
	--components-fileUploaded-status-width: 100%;
	--components-fileUploaded-status-height: auto;
	--components-fileUploaded-status-aspectRatio: 1;
	--components-fileUploaded-status-margin: 0;
}

@mixin single {
	--components-fileUploaded-padding: var(--pr-t-spacings-75);
	--components-fileUploaded-status-aspectRatio: auto;
	--components-fileUploaded-status-width: 100%;
	--components-fileUploaded-status-height: calc(20rem - 1rem + 2px);
	--components-fileUploaded-informations-children-display: none;
	--components-fileUploaded-status-margin: 0;
}
