@mixin vars {
	--components-fileUploaded-padding: var(--pr-t-spacings-75);
	--components-fileUploaded-gap: var(--components-fileUploaded-padding);
	--components-fileUploaded-gridColumn: 1 / -1;
	--components-fileUploaded-borderColor: var(--palettes-neutral-100);
	--components-fileUploaded-minHeight: calc(5rem + 2px);
	--components-fileUploaded-gridTemplateAreas: 'picture title toolbar' 'picture description toolbar';
	--components-fileUploaded-display: grid;

	--components-fileUploaded-status-width: 56px;
	--components-fileUploaded-status-height: var(--components-fileUploaded-status-width);
	--components-fileUploaded-status-margin: var(--pr-t-spacings-75);
	--components-fileUploaded-status-backgroundColor: var(--palettes-neutral-25);
	--components-fileUploaded-status-aspectRatio: auto;
	--components-fileUploaded-status-borderRadius: var(--commons-borderRadius-L);
	--components-fileUploaded-status-content-img-opacity: 1;
	--components-fileUploaded-status-content-svg-width: 32px;
	--components-fileUploaded-status-content-svg-height: var(--components-fileUploaded-status-content-svg-width);

	--components-fileUploaded-description-display: flex;

	--components-fileUploaded-filename-alignSelf: end;
}
