@use '@lucca-front/scss/src/commons/utils/overflow';
@use '@lucca-front/scss/src/commons/utils/a11y';

@use '@lucca-front/scss/src/components/divider/exports' as divider;
@use '@lucca-front/scss/src/components/scrollBox/exports' as scrollBox;

@mixin checkbox {
	--components-filterPill-gap: var(--pr-t-spacings-100);
	--components-filterPill-padding: var(--pr-t-spacings-75) var(--pr-t-spacings-150);
}

@mixin compact {
	.filterBar-segmentedControl.segmentedControl {
		--components-segmentedControl-direction: row;
		--components-segmentedControl-width: 100%;
	}

	.filterBar-divider.divider {
		width: 100%;
	}
}

@mixin notCompact {
	.filterBar-divider.divider {
		@include divider.vertical;

		margin-inline: var(--pr-t-spacings-50);
	}

	.filterBar-scrollBox.scrollBox {
		&:has(.filterBar-scrollBox-export) {
			flex-wrap: nowrap;
		}
	}
}

@mixin touch {
	--components-filterBar-extremitiesDisplay: block;

	.filterBar-segmentedControl.segmentedControl {
		--components-segmentedControl-whiteSpace: nowrap;
		--components-segmentedControl-width: auto;
		--components-segmentedControl-wrap: nowrap;
	}

	.filterBar-scrollBox.scrollBox {
		@include overflow.hide;
	}

	.filterBar-scrollBox-group {
		display: contents;
	}
}

@mixin noTouch {
	.filterBar-scrollBox.scrollBox {
		@include scrollBox.disabled;
	}
}

@mixin button {
	--components-filterPill-backgroundColor: var(--pr-t-elevation-surface-raised);

	border: 0;
	padding: var(--pr-t-spacings-75);
	cursor: pointer;

	&:focus-visible {
		@include a11y.focusVisible($offset: 3px);
	}
}
