@use '@lucca-front/scss/src/commons/utils/a11y';

@mixin checkboxChecked {
	--components-filterPills-borderColor: var(--palettes-product-300);
	--components-filterPills-backgroundColor: var(--palettes-product-50);
	--components-filterPills-color: var(--palettes-product-800);

	--components-filterPills-checkbox-backgroundColor: var(--palettes-product-700);
	--components-filterPills-checkbox-borderColor: var(--palettes-product-700);
	--components-filterPills-checkbox-icon-scale: 1;
	--components-filterPills-checkbox-icon-timingFonction: cubic-bezier(0.5, 1, 0.5, 1.5);

	--components-filterPills-label-fontWeight: var(--components-filterPills-label-fontWeightChecked);
}

@mixin focusVisible {
	@include a11y.focusVisible;
}

@mixin hover {
	--components-filterPills-borderColor: var(--palettes-neutral-400);
	--components-filterPills-checkbox-borderColor: var(--palettes-neutral-600);
}

@mixin active {
	--components-filterPills-backgroundColor: var(--palettes-neutral-25);
	--components-filterPills-checkbox-borderColor: var(--palettes-neutral-700);
}

@mixin notEmptyHover {
	--components-filterPills-borderColor: var(--palettes-product-400);
	--components-filterPills-checkbox-borderColor: var(--palettes-product-600);
	--components-filterPills-checkbox-backgroundColor: var(--palettes-product-600);
}

@mixin notEmptyActive {
	--components-filterPills-backgroundColor: var(--palettes-product-100);
	--components-filterPills-checkbox-borderColor: var(--palettes-product-700);
	--components-filterPills-checkbox-backgroundColor: var(--palettes-product-700);
}

@mixin checkboxDisabled {
}

@mixin checkboxCheckedDisabled {
}

@mixin empty {
	--components-filterPills-label-contentAfter: none;
	--components-filterPills-clear-display: none;

	.filterPill-combobox {
		@include a11y.mask;
	}
}

@mixin notEmpty {
	--components-filterPills-borderColor: var(--palettes-product-300);
	--components-filterPills-backgroundColor: var(--palettes-product-50);
	--components-filterPills-color: var(--palettes-product-800);
}

@mixin opened {
	--components-filterPills-toggle-rotation: 0.5turn;
}
