@mixin vars {
	--components-filterPills-gap: 0;
	--components-filterPills-padding: var(--pr-t-spacings-75) var(--pr-t-spacings-100);
	--components-filterPills-label-fontWeightNormal: 400;
	--components-filterPills-label-fontWeightChecked: 600;
	--components-filterPills-borderColor: var(--palettes-neutral-300);
	--components-filterPills-backgroundColor: var(--palettes-neutral-0);
	--components-filterPills-color: var(--palettes-neutral-700);
	--components-filterPills-label-cursor: pointer;
	--components-filterPills-checkbox-backgroundColor: var(--palettes-neutral-0);
	--components-filterPills-checkbox-borderColor: var(--palettes-neutral-700);
	--components-filterPills-checkbox-icon-scale: 0;
	--components-filterPills-checkbox-icon-timingFonction: cubic-bezier(0.5, -0.5, 0.5, 0);
	--components-filterPills-label-contentAfter: ':';
	--components-filterPills-label-contentAfterWithSpace: '\a0:';
	--components-filterPills-clear-display: grid;
	--components-filterPills-toggle-rotation: 0;
}
