@use '@lucca-front/scss/src/commons/utils/a11y';
@use '@lucca-front/scss/src/components/title/exports' as title;
@use '@lucca-front/icons/src/icon/exports' as icon;

@mixin component($atRoot: 'without: rule') {
	display: inline-flex;
	gap: var(--pr-t-spacings-75);
	align-items: center;
	padding: var(--pr-t-spacings-100);
	border-radius: var(--commons-borderRadius-L);
	background-color: var(--palettes-50, var(--palettes-neutral-50));
	border: 0;
	box-shadow: 0 0 0 var(--commons-divider-width) var(--palettes-300, var(--palettes-neutral-300));
	cursor: pointer;

	&:hover {
		background-color: var(--palettes-100, var(--palettes-neutral-100));
	}

	&:focus-visible {
		@include a11y.focusVisible();
	}

	@at-root ($atRoot) {
		.calloutPopover-icon {
			color: var(--palettes-700, var(--palettes-neutral-700));
		}

		.calloutPopover-overlay {
			width: var(--components-calloutPopover-width);
			max-width: 100vw;
		}

		.calloutPopover-overlay-head {
			display: flex;
			gap: var(--pr-t-spacings-100);
		}

		.calloutPopover-overlay-head-title {
			@include title.component;
			@include title.h4;
			margin: 0;
			padding: 0;
		}

		.calloutPopover-overlay-head-icon {
			@include icon.M;
			color: var(--palettes-700, var(--palettes-neutral-700));
		}

		.calloutPopover-overlay-content {
			margin: var(--pr-t-spacings-100) var(--pr-t-spacings-150) var(--pr-t-spacings-100) var(--components-calloutPopover-content-margin);
			padding-top: var(--pr-t-spacings-100);
			border-top: var(--commons-divider-width) solid var(--palettes-neutral-200);
		}
	}
}
