$actionIcon: (
  color: (
    _color("text.default")
  ),
  hover: (
    background: _color("primary", 50),
    color: _color("text.dark")
  ),
  invert: (
    color: white
  )
);
$theme: _set($theme, "components.actionIcon", $actionIcon);
