$button: (
	default-palette: _getMap('palettes.primary'),
	margin: 0 _theme('spacings.smaller') 0 0,
	font-weight: 600,
	font-size: _theme('sizes.standard.font-size'),
	line-height: _theme('sizes.standard.line-height'),
	padding: _theme('spacings.smaller') _theme('spacings.standard'),
	small: (
		font-size: _theme('sizes.small.font-size'),
		line-height: _theme('sizes.small.line-height'),
		padding: _theme('spacings.smaller') _theme('spacings.small'),
	),
	smaller: (
		font-size: _theme('sizes.smaller.font-size'),
		line-height: _theme('sizes.smaller.line-height'),
		padding: _theme('spacings.smallest') _theme('spacings.smaller'),
	),
	mod-text: (
		padding: _theme('spacings.smaller'),
	),
);
$theme: _set($theme, 'components.button', $button);
