$button: (

	// theming
	default-palette: (
		color: _theme("commons.background.base"),
		light: _theme("commons.background.dark"),
		dark: _theme("commons.background.darker"),
		text: _color("text.default")
	),
	white-palette: (
		color: white,
		light: _theme("commons.background.base"),
		dark: _theme("commons.background.dark"),
		text: _color("text.default")
	),
	margin: .2rem,
	line-height: 1.15,
	font-weight: 600,
	box-shadow: unquote("0 -2px 0 rgba(0, 0, 0, .1) inset"),

	// states
	hover: (
		box-shadow: unquote("0 -2px 0 rgba(0, 0, 0, .1) inset"),
	),
	focus: (
		box-shadow: unquote("0 0 0 rgba(0, 0, 0, .1) inset"),
	),
	active: (
		box-shadow: unquote("0 0 0 rgba(0, 0, 0, .1) inset"),
	),

	// mod
	wired: (
		default-palette: _getMap("palettes.primary"),
	),
	filling: (
		default-palette: _getMap("palettes.primary"),
	),
	flat: (
		color: black,
	),

	checked: _getMap("palettes.primary"),

	// sizing
	sizing: (
		smaller: (
			padding: .25rem .5rem,
			font-size: _theme("sizes.smaller.font-size")
		),
		small: (
			padding: .33rem .66rem,
			font-size: _theme("sizes.small.font-size")
		),
		default: (
			padding: .5rem 1rem,
			font-size: _theme("sizes.standard.font-size")
		),
		big: (
			padding: .75rem 1.5rem,
			font-size: 1.15rem
		),
		bigger: (
			padding: 1rem 2rem,
			font-size: 1.3rem
		)
	),
);
$theme: _set($theme, "components.button", $button);
