$callout: (
  margin: 0 0 _theme("spacings.small"),
  padding: _theme("spacings.smaller") _theme("spacings.small"),
  background: _theme("commons.background.base")
);
$theme: _set($theme, "components.callout", $callout);
