$card: (
	content: (
		padding: 1.5rem,
	),
	footer: (
		padding: .33rem 1.5rem,
	),
	mod-grey: _theme("commons.background.base"),
	border: (
		radius: _theme("commons.border.radius-big"),
		color: _theme("commons.divider.color")
	),
	hover: (
		border: _color("grey", "400"),
		background: _color("grey", "100")
	)
);

$theme: _set($theme, "components.card", $card);
