$checkbox: (
  // theming
  default-palette: _getMap("palettes.primary"),
  label: (
    line-height: 1.5rem,
    padding: 0 0 0 1.5rem
  ),
  input: (
    margin-top: _theme("spacings.smallest"),
    small-top: 1px,
    margin-right: _theme("spacings.smaller"),
    size: 1rem,
    border-radius: _theme("commons.border.radius"),
    border: (
      color: _color("grey" ,"700")
    )
  )
);
$theme: _set($theme, "components.checkbox", $checkbox);
