$checkbox: (
  // theming
  default-palette: (
    color: _color("primary"),
  ),
  label: (
    line-height: 1.3,
    padding: 0 0 0 1.5rem
  ),
  input: (
    margin-top: .3rem,
    margin-right: .5rem,
    size: .95rem,
    border-radius: _theme("commons.border.radius"),
    border: (
      color: _color("grey"),
      hover: _color("grey", "dark")
    )
  )
);
$theme: _set($theme, "components.checkbox", $checkbox);
