$field: (
	font-size: _theme("sizes.standard.font-size"),
	horizontal-spacing: 1.5rem,

	input: (
		color: _color("text.default"),
		inline-margin: .15rem,
	),

	label: (
		color: _color("text.light"),
		font-size: _theme("sizes.small.font-size"),
		margin-bottom: _theme("spacings.smaller"),
	),

	message: (
		font-size: _theme("sizes.small.font-size"),
		margin-top: .35rem,
	),

	sizes: (
		shortest: 3rem,
		shorter: 6rem,
		short: 9rem,
		default: 13rem,
		long: 17rem,
		longer: 22rem,
		longest: 28rem
	),

	compact: (
		padding: .5rem,
		label: (
			color: _color("text.light"),
			font-size: _theme("sizes.standard.font-size"),
			right-margin: .3rem,
			sizes: (
				shorter: 3rem,
				short: 5rem,
				default: 7rem,
				long: 9rem,
				longer: 11rem
			)
		)
	),

	framed: (
		"color50": _color("grey", "50", true),
		color: _color("text.light", "color", true),
		border: _color("grey", "200", true),
		text: _color("text.default", "color", true),
		side-padding: _theme("spacings.small"),
		top-padding: _theme("spacings.big"),
		bottom-padding: _theme("spacings.small"),
		label-top-offset: _theme("spacings.smaller"),
		textarea: (
			height: _theme("spacings.biggest", true) + _theme("spacings.standard", true) * 3,
			min-height: _theme("spacings.biggest", true) + _theme("spacings.standard", true),
			max-height: 80vh,
		),
		title: (
			font-size: _theme("sizes.big.font-size"),
			line-height: _theme("sizes.big.line-height"),
		),
		suffix: (
			padding-right: _theme("spacings.bigger"),
		),
	)
);

$theme: _set($theme, "components.field", $field);
