$form: (
	field: (
		margin-bottom: 1rem
	),
	
	group: (
		margin-bottom: 1.2rem
	),

	label: (
		font-size: _theme("sizes.small.font-size"),
		margin-bottom: .25rem
	)
);

$theme: _set($theme, "components.form", $form);
