$input: (
  sizes: (
    shortest: 3rem,
    shorter: 6rem,
    short: 9rem,
    default: 13rem,
    long: 17rem,
    longer: 22rem,
    longest: 28rem
  )
);
$theme: _set($theme, "components.input", $input);
