$input: (

  font-size: 1rem,

  border: (
    color: _color("text.placeholder")
  ),

  message: (
    font-size: _theme("sizes.small.font-size")
  ),

  default-palette: (
    material: (
      color:  _color("primary"),
    )
  ),

  sizes: (
    shortest: 3rem,
    shorter: 6rem,
    short: 9rem,
    default: 13rem,
    long: 17rem,
    longer: 22rem,
    longest: 28rem
  ),

  compact: (
    default-palette: (
      color: _color("text.light")
    ),

    label-right-margin: .3rem,
    label-sizes: (
        shorter: 3rem,
        short: 5rem,
        default: 7rem,
        long: 9rem,
        longer: 11rem
    ),
  ),

  framed: (
    default-palette: (
      color: _color("text.light"),
      text: _color("text.default")
    )
  ),
);
$theme: _set($theme, "components.input", $input);
