$layout: (
	banner: (
		height: _theme('commons.banner-height'),
	),
	aside: (
		width: 18rem,
	),
	navside: (
		width: _theme("components.navSide.width"),
		compact: (
			width: _theme("components.navSide.compact.width"),
		)
	),
	container: (
		width: (_theme("breakpoints.lg.breakAt") / 16px * 1rem),
	)
);

$theme: _set($theme, "components.layout", $layout);
