$menu: (
  default-palette: (
    color: _theme("palettes.primary.color")
  ),
  background: transparent,
  padding: (
    horizontal: _theme("spacings.small"),
    vertical: _theme("spacings.smaller")
  )
);

$theme: _set($theme, "components.menu", $menu);
