$menu: (
  default-palette: _getMap("palettes.primary"),
  background: transparent,
  padding: (
    horizontal: _theme("spacings.small"),
    vertical: _theme("spacings.smaller")
  )
);

$theme: _set($theme, "components.menu", $menu);
