$navSide: (

	fullwidth-palette: (
		bg-color: _color("primary", "dark"),
		text: white,
		selected-bg: _color("primary"),
		selected-text: _color("primary", "text"),
		alert-color: _color("secondary"),
		alert-text: _color("secondary", "text")
	),

	compact-palette: (
		bg-color: _color("primary", "dark"),
		text: white,
		selected-bg: _color("primary"),
		selected-text: _color("primary", "text"),
		alert-color: _color("secondary"),
		alert-text: _color("secondary", "text")
	),

	bottom-section-palette: (
		bg-color: _color("primary", "dark"),
		text: white,
		selected-bg: _color("primary"),
		selected-text: _color("primary", "text"),
		alert-color: _color("secondary"),
		alert-text: _color("secondary", "text")
	),

	bottom-section-height: 3.1rem,
	offset-top: 0,
	padding-top: 0,
	main-font-size: _theme("sizes.standard.font-size"),
	sub-font-size: _theme("sizes.small.font-size"),
	scrollbar: (
		width: .5rem,
		border-radius: 10px,
		bg-color: _color("primary", "dark"),
		thumb-color: _color("primary")
	),
	submenu: (
		max-height: 33rem,
	),
	width: 15rem,

	compact: (
		width: 6.125rem,
		bottom-section-height: 5rem,
		font-size: _theme("sizes.small.font-size")
	),

	mobile: (
		toggle-height: 3.5rem,
	),
);

$theme: _set($theme, "components.navSide", $navSide);
