$navSide: (

	"fullwidth-palette": (
		bg-color: _color("primary"),
		text: _theme("palettes.primary.text"),
		selected-bg: darken(_color("primary"), 5%),
		selected-text: _theme("palettes.primary.text"),
		alert-color: darken(_color("primary"), 5%),
		alert-text: _theme("palettes.primary.text")
	),

	"compact-palette": (
		bg-color: #666666,
		text: white,
		selected-bg: darken(#666666, 5%),
		selected-text: white,
		selected-indicator: _color("primary"),
		alert-color: _color("primary"),
		alert-text: _theme("palettes.primary.text")
	),

	"offset-top": 0px,
	"padding-top": 1.9rem,
	"scrollbar": (
		"width": .5rem,
		"border-radius": 10px,
	),
	"submenu": (
		"max-height": 33rem,
	),
	"width": 15rem,

	"compact": (
		"width": 8.1rem,
	),
);

$theme: _set($theme, "components.navSide", $navSide);
