$navSide: (
	"primary-palette": (
		color: _color("primary"),
		text: _theme("palettes.primary.text"),
	),
	"accent-palette": (
		color: darken(_color("primary"), 5%),
		text: _theme("palettes.primary.text"),
	),
	"padding-top": 30px,
	"width": 240px,
	"scrollbar": (
		"width": 8px,
		"border-radius": 10px,
	),
	"compact": (
		"width": 130px,
	),
);

$theme: _set($theme, "components.navSide", $navSide);
