$progress: (
  margin: 1rem 0,
  height: 4px,
  bar: (
    background: _color("primary"),
    gradient: linear-gradient(to right, rgba(255, 255, 255, .8) 0%, rgba(255, 255, 255, .5) 100%)
  ),
  duration: 1.5s
);
$theme: _set($theme, "components.progress", $progress);
