$radioButtons: (
	default-palette: _getMap("palettes.grey"),
	hover-palette: _getMap("palettes.primary"),
	active: _color("grey", 800),
	padding: _theme("spacings.smaller") _theme("spacings.small"),
	small: (
		font-size: _theme("sizes.small.font-size"),
		line-height: _theme("sizes.small.line-height"),
		padding: _theme("spacings.smaller") _theme("spacings.small"),
	),
);
$theme: _set($theme, "components.radioButtons", $radioButtons);
