$radio: (
  // theming
  default-palette: (
    color:  _color("primary"),
  ),
  label: (
    line-height: 1.5rem,
    padding: 0 0 0 1.5rem
  ),
  input: (
    top: .25rem,
    size: 1rem,
    border: (
      color: _color("grey"),
      hover: _color("grey", "dark")
    )
  )
);
$theme: _set($theme, "components.radio", $radio);
