$switch: (
  // theming
  default-palette: _getMap("palettes.primary"),
  top: 1px,
  icon-top: 1px,
  icon-left: 2px,
  icon-right: calc(2px + .75rem),
  small-top: 2px,
  small-icon-left: 1px,
  small-icon-right: calc(3px + .5rem),

);
$theme: _set($theme, "components.switch", $switch);
