$tableOfContent: (
	default-palette: (
		color: _theme("palettes.primary.color")
	),
	item: (
		padding: _theme("spacings.smaller") _theme("spacings.small"),
		border-width: 2px
	),
);
$theme: _set($theme, "components.tableOfContent", $tableOfContent);
