$table: (
	padding: .65em 1em,
	font-size: _theme("sizes.standard.font-size"),
	line-height: _theme("sizes.standard.line-height"),
	zebra: (
		background: #F2F2F2,
	),
	hover: (
		background: #E8E8E8,
	),

	// mod
	card: (
		padding: 1.5rem,
	),
);

$theme: _set($theme, "component.table", $table);
