$textfield: (
	background: _color("primary", "50"),
	border-radius: 4px,

	input: (
		padding-horizontal: _theme("spacings.smaller"),
		padding-vertical: _theme("spacings.smaller"),
		placeholder: _color("primary", "400")
	),

	hover: (
		background: _color("primary", "100"),
		placeholder: _color("primary", "400")
	),

	focus: (
		placeholder: _color("primary", "300"),
		shadow-color: _color("primary", "200"),
		border-color: _color("primary", "600")
	),

	disabled: (
		background: #F5F5F5,
		color: #999999
	),

	suffix: (
		top: 2rem,
		padding-right: 1.5rem 
	),

	sizes: (
		shortest: 3rem,
		shorter: 6rem,
		short: 9rem,
		default: 13rem,
		long: 17rem,
		longer: 22rem,
		longest: 28rem
	),

	material: (
		padding-top: 1rem,
		default-palette: (
			color: _color("primary")
		),
		border: (
			color: #CCCCCC
		),
		label: (
			color: #A6A6A6,
			font-size: _theme("sizes.standard.font-size")
		),
		suffix: (
			padding-right: 1rem
		)
	),

	compact: (
		padding: .5rem,
		label: (
			color: _color("text.light"),
			font-size: _theme("sizes.standard.font-size"),
			right-margin: .3rem,
			sizes: (
				shorter: 3rem,
				short: 5rem,
				default: 7rem,
				long: 9rem,
				longer: 11rem
			)
		)
	),

	framed: (
		textarea: (
			height: 7rem,
			margin-top: 1.5rem
		),
		suffix: (
			padding-right: 2.5rem
		)
	),

	filter: (
		width: 18rem
	)
);

$theme: _set($theme, "components.textfield", $textfield);
