$toasts: (
	background: _theme("commons.overlays.background"),
	color: _theme("commons.overlays.text"),
	top: 1.5rem,
	right: 1.5rem,
	left: 1.5rem,
	bottom: 1.5rem,
	width: 16rem,
	big: 22.5rem,
	padding: .75rem 2.25rem .75rem 1rem,
	margin-bottom: .5rem
);

$theme: _set($theme, "components.toasts", $toasts);
