

@use 'exports' as *;

.roundedIcon {
	@layer components {
		@include vars;
		@include component;
	}

	@layer mods {
		&.mod-S {
			@include S;
		}

		&.mod-L {
			@include L;
		}

		&.is-success {
			@include success;
		}

		&.is-critical {
			@include critical;
		}

		&.is-warning {
			@include warning;
		}
	}
}
