@import "node_modules/@lucca-front/scss/src/theming.overridable";
:host {
	$vars: (
		size: 2.5em
	);
	.picture {
		border-radius: 100%;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		color: white;
		height: _get($vars, "size");
		position: relative;
		width: _get($vars, "size");

		> span {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}
