@mixin component {
	box-shadow: var(--commons-elevations-elevation-1);
	background-color: var(--components-filters-background);
	min-height: var(--components-filters-height);
	align-items: center;
	display: flex;
	position: relative;
	z-index: 99;

	outline: 2px dashed greenyellow !important;

	@at-root {
		.filters-sectionLeft {
			align-items: center;
			display: flex;
			padding-right: 2rem;
		}

		.filters-sectionRight {
			align-items: center;
			display: flex;
			margin-left: auto;
			padding-left: 2rem;
		}
	}
}

// todo: childs components
