@mixin component($atRoot: 'without: rule') {
	background-color: var(--components-filters-background);
	box-shadow: 0 1px 0 0 var(--commons-border-200);
	min-height: var(--components-filters-height);
	align-items: center;
	display: flex;
	position: relative;
	z-index: 99;

	@at-root ($atRoot) {
		.filters-sectionLeft {
			align-items: center;
			display: flex;
			padding-right: var(--spacings-L);
		}

		.filters-sectionRight {
			align-items: center;
			display: flex;
			margin-left: auto;
			padding-left: var(--spacings-L);

			.textfield.mod-framed {
				border-left: var(--commons-divider-width) solid var(--commons-divider-color);
				border-right: 0 !important;
			}
		}
	}

	.textfield.mod-framed {
		border-right: var(--commons-divider-width) solid var(--commons-divider-color);
		max-width: 16rem;

		.textfield-input {
			box-shadow: none !important;
		}
	}
}
