@use '@lucca-front/scss/src/commons/utils/media';
@use 'exports' as *;

.filters {
	@include vars;
	@include component;

	&.mod-sticky {
		@include sticky;
	}
}

.navSide ~ .main-content,
.mod-withMenu .main-content {
	.filters.mod-sticky {
		@include stickyNavSide;
	}
}

.navSide.mod-compact ~ .main-content,
.mod-withMenuCompact .main-content {
	.filters.mod-sticky {
		@include stickyNavSideCompact;
	}
}

@mixin responsive(
	$breakpoint: 'S',
	$breakpoint2: null,
	$inverted: true,
	$at: 'media',
	$containerName: '',
	$responsive: null,
	$size: 'width',
	$selector: '.filters'
) {
	#{if($responsive, $selector + '.responsive-' + $responsive, $selector)} {
		@include media.query(
			$breakpoint: $breakpoint,
			$breakpoint2: $breakpoint2,
			$inverted: $inverted,
			$at: $at,
			$containerName: $containerName,
			$size: $size
		) {
			@include stickyNarrow;
		}
	}
}

$responsive: true !default;

@if $responsive {
	@include responsive;
}
