@use 'exports' as *;
@use '@lucca-front/scss/src/commons/utils/media';
@use '@lucca-front/scss/src/commons/utils/container';

.filters {
	@include vars;
	@include component;

	&.mod-sticky {
		@include sticky;
	}
}

.navSide ~ .main-content,
.mod-withMenu .main-content {
	.filters.mod-sticky {
		@include stickyNavSide;
	}
}

@mixin responsive(
	$breakpoint: 'S',
	$breakpoint2: null,
	$inverted: true,
	$at: 'media',
	$containerName: 'filters',
	$responsiveSelector: null,
	$axis: 'width',
	$selector: '.filters'
) {
	@if ($at == 'container') {
		@include container.auto($containerName);
	}

	#{if($responsiveSelector, $selector + '.rwd-' + $responsiveSelector, $selector)} {
		@include media.query(
			$breakpoint: $breakpoint,
			$breakpoint2: $breakpoint2,
			$inverted: $inverted,
			$at: $at,
			$containerName: $containerName,
			$axis: $axis
		) {
			@include stickyNarrow;
		}
	}
}

$defaultResponsive: true !default;

@if $defaultResponsive {
	@include responsive;
}
