@use '@lucca-front/scss/src/commons/utils/media';

@mixin sticky {
	inset-block-start: var(--commons-banner-height);
	position: fixed;
	inset-inline: 0;

	@include media.max('S') {
		inset-inline-start: 0 !important;
		inset-block-start: calc(var(--commons-banner-height) + var(--commons-navSide-mobile-toggle-height));
	}
}

@mixin stickyNavSide {
	inset-inline-start: var(--commons-navSide-width);
}
