@mixin sticky {
	top: var(--commons-banner-height);
	position: fixed;
	left: 0;
	right: 0;
}

@mixin stickyNavSide {
	left: var(--commons-navSide-width);
}

@mixin stickyNavSideCompact {
	left: var(--commons-navSide-compact-width);
}
