@use '@lucca-front/scss/src/commons/utils/media';

@mixin sticky {
	top: var(--commons-banner-height);
	position: fixed;
	left: 0;
	right: 0;

	@include media.max('S') {
		left: 0 !important;
		top: calc(var(--commons-banner-height) + var(--commons-navSide-mobile-toggle-height));
	}
}

@mixin stickyNavSide {
	left: var(--commons-navSide-width);
}

@mixin stickyNavSideCompact {
	left: var(--commons-navSide-compact-width);
}
