@mixin vars {
	--components-filters-background: var(--colors-white-color);
	--components-filters-padding: var(--spacings-smaller) var(--spacings-small);
	--components-filters-height: var(--spacings-biggest);
}
