@mixin vars {
	--components-filters-background: var(--pr-t-elevation-surface-raised);
	--components-filters-padding: var(--pr-t-spacings-XS) var(--pr-t-spacings-M);
	--components-filters-height: 3.75rem;
}
