@mixin vars {
	--components-filters-background: var(--pr-t-elevation-surface-raised);
	--components-filters-padding: var(--pr-t-spacings-100) var(--pr-t-spacings-200);
	--components-filters-height: 3.75rem;
}
