@use '@lucca-front/icons/src/commons/utils/icon';

// Refactor: This style should be in Avatar SCSS component

@mixin userPictureVars {
	--components-userPicture-XS-image: 1.5rem;
	--components-userPicture-XS-fontSize: 0.75rem;
	--components-userPicture-XS-placeholder: 0.75rem;
	--components-userPicture-S-image: 2rem;
	--components-userPicture-S-fontSize: 0.875rem;
	--components-userPicture-S-placeholder: 1rem;
	--components-userPicture-M-image: 2.5rem;
	--components-userPicture-M-fontSize: 1rem;
	--components-userPicture-M-placeholder: 1.25rem;
	--components-userPicture-L-image: 3rem;
	--components-userPicture-L-fontSize: 1.125rem;
	--components-userPicture-L-placeholder: 1.5rem;
	--components-userPicture-XL-image: 4rem;
	--components-userPicture-XL-fontSize: 1.25rem;
	--components-userPicture-XL-placeholder: 2rem;
	--components-userPicture-XXL-image: 5rem;
	--components-userPicture-XXL-fontSize: 1.5rem;
	--components-userPicture-XXL-placeholder: 2.25rem;
	--components-userPicture-XXXL-image: 6rem;
	--components-userPicture-XXXL-fontSize: 1.75rem;
	--components-userPicture-XXXL-placeholder: 2.5rem;

	// deprecated
	--components-userPicture-XXS-image: 1rem;
	--components-userPicture-XXS-fontSize: 0.5625rem;
}

@mixin userPictureStyle {
	display: inline-block;
	vertical-align: middle;

	.picture {
		align-items: center;
		aspect-ratio: 1;
		border-radius: var(--commons-borderRadius-full);
		background-color: var(--palettes-neutral-50);
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		color: var(--colors-white-color);
		display: flex;
		font-size: var(--components-user-picture-font-size, var(--components-userPicture-M-fontSize));
		font-weight: 600;
		line-height: 1;
		justify-content: center;
		object-fit: cover;
		object-position: center;
		width: var(--components-user-picture-image-size, var(--components-userPicture-M-image));
	}

	&.mod-XXS {
		--components-user-picture-image-size: var(--components-userPicture-XXS-image);
		--components-user-picture-font-size: var(--components-userPicture-XXS-fontSize);
	}

	&.mod-XS {
		--components-user-picture-image-size: var(--components-userPicture-XS-image);
		--components-user-picture-font-size: var(--components-userPicture-XS-fontSize);
		--components-user-picture-placeholder: var(--components-userPicture-XS-placeholder);
	}

	&.mod-S {
		--components-user-picture-image-size: var(--components-userPicture-S-image);
		--components-user-picture-font-size: var(--components-userPicture-S-fontSize);
		--components-user-picture-placeholder: var(--components-userPicture-S-placeholder);
	}

	&.mod-L {
		--components-user-picture-image-size: var(--components-userPicture-L-image);
		--components-user-picture-font-size: var(--components-userPicture-L-fontSize);
		--components-user-picture-placeholder: var(--components-userPicture-L-placeholder);
	}

	&.mod-XL {
		--components-user-picture-image-size: var(--components-userPicture-XL-image);
		--components-user-picture-font-size: var(--components-userPicture-XL-fontSize);
		--components-user-picture-placeholder: var(--components-userPicture-XL-placeholder);
	}

	&.mod-XXL {
		--components-user-picture-image-size: var(--components-userPicture-XXL-image);
		--components-user-picture-font-size: var(--components-userPicture-XXL-fontSize);
		--components-user-picture-placeholder: var(--components-userPicture-XXL-placeholder);
	}

	&.mod-XXXL {
		--components-user-picture-image-size: var(--components-userPicture-XXXL-image);
		--components-user-picture-font-size: var(--components-userPicture-XXXL-fontSize);
		--components-user-picture-placeholder: var(--components-userPicture-XXXL-placeholder);
	}

	&.mod-border {
		box-shadow: 0 0 0 2px var(--colors-white-color);
	}

	&.mod-placeholder {
		.picture {
			background: var(--palettes-neutral-200) !important;

			&::before {
				@include icon.generate('people_person');
				color: var(--palettes-neutral-600);
				font-weight: 400;
				font-size: var(--components-user-picture-placeholder, var(--components-userPicture-M-placeholder));
			}
		}

		.userPicture-initials {
			display: none;
		}
	}
}
