@mixin userTileStyle {
	:host {
		display: flex;
		align-items: center;
		padding: 0.5em;

		lu-user-picture {
			margin-right: 0.5em;
		}

		.user-tile-title {
			font-size: 0.9em;
			font-weight: 600;
			line-height: 1.3;
			margin: 0;
		}

		.user-tile-label {
			display: block;
      font-size: var(--sizes-small-font-size);
			line-height: 1.1;
      color: var(--palettes-grey-600);
		}

		.user-tile-footnote {
			display: block;
			font-size: var(--sizes-small-font-size);
			line-height: var(--sizes-small-line-height);
		}

		.user-info {
			margin: auto 0;
			word-break: break-all;
		}

		&.mod-nameOnly {
			.user-tile-label,
			.user-tile-footnote {
				display: none;
			}
		}

		&.mod-vertical {
			flex-direction: column;

			lu-user-picture {
				margin-right: 0;
				margin-bottom: 0.8em;
			}

			.user-info {
				text-align: center;
			}
		}

    &.mod-smallest lu-user-picture::ng-deep .picture {
      font-size: var(--components-user-picture-font-smallest);
      height: var(--components-user-picture-image-smallest);
      width: var(--components-user-picture-image-smallest);
    }

    &.mod-smaller lu-user-picture::ng-deep .picture {
			font-size: var(--components-user-picture-font-smaller);
      height: var(--components-user-picture-image-smaller);
      width: var(--components-user-picture-image-smaller);
    }

    &.mod-small lu-user-picture::ng-deep .picture {
			font-size: var(--components-user-picture-font-small);
      height: var(--components-user-picture-image-small);
      width: var(--components-user-picture-image-small);
    }

    &.mod-large lu-user-picture::ng-deep .picture {
			font-size: var(--components-user-picture-font-large);
      height: var(--components-user-picture-image-large);
      width: var(--components-user-picture-image-large);
    }

    &.mod-larger lu-user-picture::ng-deep .picture {
			font-size: var(--components-user-picture-font-larger);
      height: var(--components-user-picture-image-larger);
      width: var(--components-user-picture-image-larger);
    }

    &.mod-largest lu-user-picture::ng-deep .picture {
			font-size: var(--components-user-picture-font-largest);
      height: var(--components-user-picture-image-largest);
      width: var(--components-user-picture-image-largest);
    }
	}
}
