@mixin S {
	--components-fileUpload-button-display: none;
	--components-fileUpload-padding: var(--pr-t-spacings-200);
	--components-fileUpload-textAlign: left;
	--components-fileUpload-flexDirection: row;
	--components-fileUpload-instruction-alignItems: stretch;
	--components-fileUpload-instruction-display: block;
	--components-fileUpload-instruction-maxWidth: none;
	--components-fileUpload-instruction-action-fontWeight: 600;
	--components-fileUpload-instruction-action-color: var(--palettes-product-700);
	--components-fileUpload-alignItems: flex-start;
	--components-fileUpload-minHeight: none;
	--components-fileUpload-instruction-filename-position: static;
	--components-fileUpload-instruction-filename-marginTop: 0;
	--components-fileUpload-status-minHeight: var(--pr-t-spacings-600);
	--components-fileUpload-justifyContent: flex-start;
	--components-fileUpload-status-position: relative;
	--components-fileUpload-status-image-inset: calc(var(--pr-t-spacings-75) * -2 + 2px);
	--components-fileUpload-status-image-size: calc(100% + var(--pr-t-spacings-75) * 3 + 2px);
}
