@mixin droppable {
	--components-fileUpload-borderStyle: solid;
	--components-fileUpload-backgroundColor: var(--palettes-product-50);
	--components-fileUpload-borderColor: var(--palettes-product-600);
}

@mixin hover {
	--components-fileUpload-borderColor: var(--palettes-product-600);
}

@mixin success {
	--components-fileUpload-instruction-filename-color: var(--palettes-success-800);
	--components-fileUpload-button-visibility: hidden;
}

@mixin error {
	--components-fileUpload-instruction-filename-color: var(--palettes-critical-800);
	--components-fileUpload-backgroundColor: var(--palettes-critical-50);
	--components-fileUpload-borderColor: var(--palettes-critical-400);
}

@mixin errorHover {
	--components-fileUpload-borderColor: var(--palettes-critical-600);
}

@mixin loading {
	--components-fileUpload-instruction-display: none;
	--components-fileUpload-button-display: none;
}

@mixin loadingS {
	--components-fileUpload-instruction-display: block;
}

@mixin hidden {
	--components-fileUpload-display: none;
}
