@mixin vars {
	--components-fileUpload-button-display: none;
	--components-fileUpload-button-visibility: visible;
	--components-fileUpload-padding: var(--pr-t-spacings-150) var(--pr-t-spacings-200);
	--components-fileUpload-textAlign: left;
	--components-fileUpload-flexDirection: row;
	--components-fileUpload-borderRadius: var(--pr-t-border-radius-input);
	--components-fileUpload-instruction-display: block;
	--components-fileUpload-instruction-alignItems: stretch;
	--fileUpload-instruction-action-marginBottom: 0;
	--components-fileUpload-width: auto;
	--components-fileUpload-display: flex;
	--components-fileUpload-instruction-maxWidth: none;
	--components-fileUpload-instruction-action-fontWeight: 600;
	--components-fileUpload-instruction-action-color: var(--palettes-product-700);
	--components-fileUpload-borderColor: var(--palettes-neutral-300);
	--components-fileUpload-borderStyle: dashed;
	--components-fileUpload-backgroundColor: var(--pr-t-elevation-surface-raised);
	--components-fileUpload-alignItems: flex-start;
	--components-fileUpload-instruction-filename-color: inherit;
	--components-fileUpload-instruction-filename-marginTop: 0;
	--components-fileUpload-minHeight: none;
	--components-fileUpload-instruction-filename-position: static;
	--components-fileUpload-justifyContent: flex-start;
	--components-fileUpload-status-img-inset: 0;
	--components-fileUpload-status-img-size: var(--pr-t-spacings-600);
}
