lu-phone-number-input {
  display: flex;
  gap: var(--pr-t-spacings-100);
  width: 17.5rem;
}

.phoneNumber-countryCode {
  .simpleSelect-input {
    width: 21px;
  }
}

.phoneNumber-national {
  flex: 1;
}
