.home {
	background: #F9FAFF;
}

.home-header {
	background: #FF6600;
	background: linear-gradient(304deg, rgba(255, 128, 0, 1) 39%, rgba(252, 187, 49, 1) 100%);
	padding: 6rem 0 8rem;
	text-align: center;
}

.home-header-title {
	color: #ffeaab;
	font-size: 3rem;
}

.home-header-description {
	color: white;
	font-size: 1.25rem;
}

.home-header-github {
	display: block;
	position: absolute;
	top: 2rem;
	right: 2rem;
	background: white;
	border-radius: 2rem;
	color: #999;
	height: 1.5rem;
	line-height: 1.5rem;
	text-decoration: none;
	padding: 0 .5rem 0 1.5rem;
	transition: all 150ms ease;
}

.home-header-github:hover {
	color: #444;
	box-shadow: 0 2px 2px rgba(0, 0, 0, .15);
}

.home-header-github img {
	left: .25rem;
	top: .25rem;
	width: 1rem;
	position: absolute;
	display: block;
}

.home .container {
	margin-top: -3rem;
}

.home .card {
	padding-left: 10rem;
	min-height: 9rem;
	box-shadow: 0 1px 3px rgba(91, 86, 247, 0.12), 0 1px 2px rgba(91, 86, 247, 0.24);
}

.home .card:hover {
	box-shadow: 0 10px 20px rgba(91, 86, 247, 0.19), 0 6px 6px rgba(91, 86, 247, 0.23);
}

.home .card-visual {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 9rem;
	border-radius: 3px 0 0 3px;
}

.home .card-visual-asset {
	width: 6rem;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.home .card.mod-sass .card-visual {
	background: #CD679A;
	background: linear-gradient(-45deg, #B25182, #e696be);
}

.home .card.mod-ng .card-visual {
	background: #0D47A1;
	background: linear-gradient(-45deg, #0D47A1, #42A5F5);
}

.home-footer {
	margin-top: 6rem;
	color: rgb(139, 137, 202);
	text-align: center;
}

.home-footer a {
	color: rgba(139, 137, 202);
}

.home-footer a:hover {
	color: rgba(139, 137, 202, .66);
}

.demo-body {
	background: white;
	padding: 60px 0 100px 180px;
}

@media not all and (min-width: 64em) {
	.demo-body {
		padding-left: 0;
	}
}

.demo-nav {
	background: #f5f5f5;
	width: 180px;
	border-right: 1px solid #e5e5e5;
	position: fixed;
	bottom: 0;
	top: 0;
	padding: 2rem 0 0 1.5rem;
	left: 0;
	overflow: auto;
}

@media not all and (min-width: 64em) {
	.demo-nav {
		display: none;
	}
}

.demo-nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.demo-nav-link {
	color: grey;
	display: block;
	padding: .5rem .8rem;
	text-decoration: none;
	font-size: .95rem;
}

.demo-nav-link-child {
	color: grey;
	display: block;
	padding: .2rem .8rem;
	text-indent: 1rem;
	text-decoration: none;
	font-size: .8rem;
}

.demo-nav a:hover {
	text-decoration: underline;
}

.container.mod-demo {
	max-width: 850px;
}

@media not all and (min-width: 80em) {
	.container.mod-demo {
		max-width: 700px;
	}
}

.demo-divider {
	color: #ccc;
	display: table;
	font-size: 1.3rem;
	line-height: 1.85;
	font-weight: 300;
	letter-spacing: 3px;
	margin: 0;
	padding: 50px 0;
	text-align: center;
	text-transform: lowercase;
	white-space: nowrap;
}

.demo-divider:before, .demo-divider:after {
	content: "";
	display: table-cell;
	width: 50%;
	border-top: 1px solid #eee;
	position: relative;
	top: 20px;
}

.demo-divider:before {
	border-right: 30px solid transparent;
}

.demo-divider:after {
	border-left: 30px solid transparent;
}

.demo-typo {
	max-width: 550px;
}

.demo-textColor span {
	padding: 0 .5rem;
}

.demo-grid {
	background: #eee;
	border-radius: 3px;
	min-height: 2.7rem;
	margin-bottom: 1rem;
	padding: .6rem 1rem;
}

.demo-icon {
	width: 125px;
	float: left;
	margin-bottom: 2rem;
}

.demo-icon .lucca-icon {
	font-size: 2rem;
	display: block;
}

.demo-animation {
	overflow: hidden;
	float: left;
	width: 190px;
	padding: .6em;
}

.demo-animation .card.reload {
	animation-name: none;
}

.demo-invert {
	background: #444;
	display: inline-block;
	padding: .5rem 1rem;
	margin: 0 .5rem;
	border-radius: 3px;
}

.demo-white {
	background: #F5F5F5;
	display: inline-block;
	padding: .5rem 1rem;
	border-radius: 3px;
}

.fake-banner {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 90;
	height: 50px;
	background: #fff;
	font-size: 16px;
	color: #666;
	box-shadow: 1px 2px 3px -1px rgba(0, 0, 0, .2);
}

.filters.mod-sticky {
	top: 0;
}

.demo-avatar {
	height: 32px;
	width: 32px;
	border-radius: 50%;
	background-image: url(https://i.pravatar.cc/32);
}

#utilities-elevation ul {
	display: flex;
	padding: 1rem;
	list-style: none;
	margin: 0 -2.5rem;
}
#utilities-elevation li {
	display: block;
	width: 5rem;
	height: 5rem;
	border-radius: 8px;
	background-color: #FFF;
	margin: 0 2.5rem;
	flex: 0 0 auto;
}

formly-form .checkboxesfield:not(fieldset),
formly-form .radiosfield:not(fieldset) {
	margin-top: 0 !important;
	padding: 1rem !important;
}

.layout > * {
	outline: 1px solid;
	outline-offset: -2px;
}

.layout-content-headers-header,
.layout-content-headers-subheader,
.layout-content-footer,
.layout-navside-toggle,
.layout-navside-footer,
.layout-aside-footer {
	outline: 1px solid;
	outline-offset: -2px;
}