@mixin optionSearcherStyle {
	// :host {
	// 	position: sticky;
	// 	top: 0;
	// 	left: 0;
	// 	right: 0;
	// 	display: block;
	// 	z-index: 1;
	// }
	.textfield.mod-search {
		width: 100%;
	}

	.textfield-input {
		border-radius: 0;
		box-shadow: none;
		border-bottom: _theme('commons.divider.width', true) solid _theme('commons.divider.color', true);
		border-bottom: _theme('commons.divider.width') solid _theme('commons.divider.color');
	}
}
