@mixin vars {
	--components-inlineMessage-fontSize: var(--pr-t-font-fontSize-175);
	--components-inlineMessage-lineHeight: var(--pr-t-font-lineHeight-250);
	--components-inlineMessage-color: var(--palettes-neutral-700);
	--components-inlineMessage-icon-color: var(--palettes-neutral-600);
}
