@use '@lucca-front/scss/src/commons/utils/namespace';

@mixin component($atRoot: namespace.$defaultAtRoot) {
	background-color: var(--pr-t-elevation-surface-raised);
	padding-block: var(--pr-t-spacings-150);
	padding-inline: var(--components-footer-paddingInline);
	display: flex;
	justify-content: space-between;
	gap: var(--pr-t-spacings-200);
	align-items: var(--components-footer-alignItems);
	box-shadow: var(--pr-t-elevation-shadow-overflow);
	inset-block-end: 0;
	position: var(--components-footer-position);
	flex-direction: var(--components-footer-direction);

	@at-root ($atRoot) {
		.footer-content {
			flex-grow: 1;
		}

		.footer-actions {
			margin-inline-start: var(--components-footer-actions-margin);
			display: flex;
			gap: var(--pr-t-spacings-150);
			flex-direction: var(--components-footer-direction);
		}

		.footer-containerOptional {
			display: flex;
			gap: var(--pr-t-spacings-200);
			align-items: var(--components-footer-alignItems);
			flex-grow: 1;
			justify-content: space-between;
			flex-direction: var(--components-footer-direction);
			max-inline-size: var(--commons-container-maxWidth);
			padding: var(--commons-container-padding);
		}
	}
}
