@use '@lucca-front/scss/src/commons/utils/namespace';

@mixin component($atRoot: namespace.$defaultAtRoot) {
	background-color: var(--components-footer-backgroundColor);
	padding-block: var(--components-footer-paddingBlock);
	padding-inline: var(--components-footer-paddingInline);
	display: flex;
	justify-content: space-between;
	gap: var(--pr-t-spacings-200);
	align-items: var(--components-footer-alignItems);
	box-shadow: var(--components-footer-boxShadow);
	inset-block-end: 0;
	position: var(--components-footer-position);
	flex-direction: var(--components-footer-direction);
	overflow: var(--components-footer-overflow);

	@at-root ($atRoot) {
		.footer-content {
			flex-grow: 1;
		}

		.footer-actions {
			margin-inline-start: var(--components-footer-actions-margin);
			display: flex;
			gap: var(--pr-t-spacings-150);
			flex-direction: var(--components-footer-direction);
		}
	}
}
