@use '@lucca-front/scss/src/commons/utils/media';
@use '@lucca-front/scss/src/components/button/exports' as button;

@mixin component($atRoot: 'without: rule') {
	background-color: var(--pr-t-elevation-surface-raised);
	padding: var(--pr-t-spacings-M) var(--pr-t-spacings-L);
	display: flex;
	gap: var(--pr-t-spacings-M);
	align-items: center;
	box-shadow: var(--pr-t-elevation-shadow-overflow);

	@include media.max('XXS') {
		flex-direction: column;
	}

	@at-root ($atRoot) {
		.footer-actions {
			display: flex;
			margin-left: auto;
			gap: var(--pr-t-spacings-M);

			.button {
				margin: 0;
			}

			@include media.max('XXS') {
				flex-direction: column;
				margin-left: inherit;
				width: 100%;

				.button {
					@include button.block;
				}
			}
		}
	}
}
