@use '@lucca-front/scss/src/components/container/exports' as container;

@mixin component($atRoot: 'without: rule') {
	background-color: var(--pr-t-elevation-surface-raised);
	padding: var(--pr-t-spacings-200) var(--pr-t-spacings-300);
	display: flex;
	justify-content: space-between;
	gap: var(--pr-t-spacings-200);
	align-items: var(--components-footer-alignItems);
	box-shadow: var(--pr-t-elevation-shadow-overflow);
	bottom: 0;
	position: var(--components-footer-position);
	flex-direction: var(--components-footer-direction);

	@at-root ($atRoot) {
		.footer-content {
			flex-grow: 1;
		}

		.footerResponsiveWrapper {
			container-type: size;
			container-name: footer;
		}

		.footer-actions {
			margin-left: var(--components-footer-actions-margin);
			display: flex;
			gap: var(--pr-t-spacings-200);
			flex-direction: var(--components-footer-direction);
		}

		.footer-containerOptional {
			--components-container-padding: 0;

			display: flex;
			gap: var(--pr-t-spacings-200);
			align-items: var(--components-footer-alignItems);
			flex-grow: 1;
			justify-content: space-between;
			flex-direction: var(--components-footer-direction);
		}
	}
}
