@use 'exports' as *;
@use '@lucca-front/scss/src/commons/utils/media';

.footer {
	@include vars;
	@include component;

	&.mod-sticky {
		@include sticky;
	}

	&:not([class*='mod-narrow']),
	&.mod-narrowAtMediaMaxXXS {
		@include media.max('XXS') {
			@include narrow;
		}
	}

	&.mod-narrowAtMediaMaxXS {
		@include media.max('XS') {
			@include narrow;
		}
	}

	&.mod-narrowAtMediaMaxS {
		@include media.max('S') {
			@include narrow;
		}
	}

	&.mod-narrowAtMediaMaxM {
		@include media.max('M') {
			@include narrow;
		}
	}
}
