@use 'exports' as *;
@use '@lucca-front/scss/src/commons/utils/media';

.footer {
	@include vars;
	@include component;

	&.mod-sticky {
		@include sticky;
	}
}

@mixin responsive(
	$breakpoint: 'XXS',
	$breakpoint2: null,
	$inverted: true,
	$at: 'media',
	$containerName: '',
	$responsive: null,
	$size: 'width',
	$selector: '.footer'
) {
	#{if($responsive, $selector + '.responsive-' + $responsive, $selector)} {
		@include media.query(
			$breakpoint: $breakpoint,
			$breakpoint2: $breakpoint2,
			$inverted: $inverted,
			$at: $at,
			$containerName: $containerName,
			$size: $size
		) {
			@include narrow;
		}
	}
}

$responsive: true !default;

@if $responsive {
	@include responsive;
}
