@mixin sticky {
	--components-footer-position: sticky;
}

@mixin narrow {
	--components-footer-direction: column;
	--components-footer-alignItems: stretch;
	--components-footer-actions-margin: 0;
}

@mixin fancy {
	--components-footer-actions-margin: 0;
	--components-footer-boxShadow: none;
	--components-footer-paddingBlock: 0 var(--pr-t-spacings-150);
}

@mixin insideDialog {
	--components-footer-paddingInline: var(--pr-t-spacings-300);
	--commons-container-padding: 0;
}

@mixin wide {
	--components-footer-paddingInline: var(--pr-t-spacings-400);
}

@mixin withContainer {
	--components-footer-paddingInline: 0;
}
