@mixin wide {
	--components-mainLayout-flexDirection: row;
}

@mixin headerStickyBlock {
	--components-mainLayout-content-header-insetBlockStart: 0;
}

@mixin footerStickyBlock {
	--components-mainLayout-content-footer-insetBlockEnd: 0;
}
