@mixin vars {
	--components-mainLayout-flexDirection: column;
	--components-mainLayout-sidebar-inlineSize: auto;
	--components-mainLayout-content-inside-header-position: static;
	--components-mainLayout-content-inside-footer-position: static;
	--components-mainLayout-content-inside-block-position: static;
	--components-mainLayout-content-inside-header-insetBlockStart: auto;
	--components-mainLayout-content-inside-footer-insetBlockEnd: auto;
	--components-mainLayout-content-inside-block-firstLastOfType-marginBlock: var(--pr-t-spacings-200);
	--components-mainLayout-content-inside-header-backgroundColor: transparent;
	--components-mainLayout-content-inside-footer-backgroundColor: transparent;
}
