@mixin vars {
	--components-highlightSection-background: var(--pr-t-elevation-surface-raised);
	--components-highlightSection-borderRadius: var(--pr-t-border-radius-structure);
	--components-highlightSection-gap: var(--pr-t-spacings-100);
	--components-highlightSection-illustration-blockSize: 150px;
	--components-highlightSection-illustration-inlineSize: 140px;
	--components-highlightSection-padding: var(--pr-t-spacings-200);
	--components-highlightSection-content-illustration-display: block;
}
