// TODO ui: Actually, inline paddings are added based on which bubbles are present.
//          Make mods for paddings, in order to decide if we add padding or not.

@mixin vars {
	--components-highlightSection-display: block;
	--components-highlightSection-padding-block: var(--pr-t-spacings-150);
	--components-highlightSection-inlinePaddingStart: var(--pr-t-spacings-200);
	--components-highlightSection-inlinePaddingEnd: var(--pr-t-spacings-200);
	--components-highlightSection-padding-inline: var(--components-highlightSection-inlinePaddingStart)
		var(--components-highlightSection-inlinePaddingEnd);
	--components-highlightSection-background: var(--pr-t-elevation-surface-raised);
	--components-highlightSection-illustrations-display: grid;
	--components-highlightSection-illustrations-width: 86px;
	--components-highlightSection-illustrations-height: 72px;
	--components-highlightSection-illustrations-display: grid;
}
