@mixin vars {
	--components-inputFramed-content-display: none;
	--components-inputFramed-borderColor: var(--palettes-neutral-300);
	--components-inputFramed-header-info-borderColor: var(--palettes-neutral-200);
	--components-inputFramed-padding: var(--pr-t-spacings-150);
	--components-inputFramed-header-backgroundColor: transparent;
	--components-inputFramed-header-info-color: inherit;
	--components-inputFramed-header-alignItems: normal;
}
