@use '@lucca-front/icons/src/commons/utils/icon';
@use '@lucca-front/scss/src/commons/utils/a11y';

@mixin component($atRoot: 'without: rule') {
	background-color: var(--palettes-700, var(--palettes-grey-200));
	border-radius: var(--commons-borderRadius-M);
	color: var(--palettes-text, var(--palettes-grey-800));

	display: inline-flex;
	align-items: center;
	gap: var(--spacings-XS);
	position: relative;
	vertical-align: middle;
	padding: calc(var(--spacings-XXS) / 2) var(--spacings-XS);
	font-size: var(--sizes-S-fontSize);
	line-height: var(--sizes-S-lineHeight);

	@at-root ($atRoot) {
		.chip-kill {
			background-color: var(--palettes-text, var(--palettes-grey-700));
			color: var(--palettes-700, var(--colors-white-color));
			border: 0;
			border-radius: 50%;
			height: 0.75rem;
			width: 0.75rem;
			transition-duration: var(--commons-animations-durations-fast);
			transition-property: background-color;
			padding: 0;
			overflow: hidden;
			cursor: pointer;

			&::before {
				@include icon.generate('maths_multiplicate');
				display: flex;
				justify-content: center;
				align-items: center;
				line-height: 0.75rem;
				font-size: 0.75rem;
			}

			&:hover {
				background-color: var(--palettes-grey-600);
			}

			&:focus-visible {
				@include a11y.focusVisible();
			}

			&:active {
				background-color: var(--palettes-50, var(--palettes-grey-800));
			}
		}
	}
}
