@use 'exports' as *;

.chip {
	@layer components {
		@include vars;
		@include component;
	}

	@layer mods {
		&.mod-S {
			@include S;
		}

		// .palette-primary is deprecated
		&.palette-product,
		&.palette-primary {
			@include product;
		}

		&.mod-unkillable {
			@include unkillable;
		}

		&.mod-clickable {
			@include clickable;
		}

		&.is-disabled {
			@include disabled;
		}

		&:has(.chip-content:focus-visible) {
			@include focusVisible;
		}
	}
}
