@use '@lucca-front/icons/src/icon/exports' as icon;
@use '@lucca-front/scss/src/commons/utils/a11y';

@mixin S {
	--components-chip-font: var(--pr-t-font-body-XS);
	--components-chip-borderRadius: var(--pr-t-border-radius-small);

	.lucca-icon {
		@include icon.XXS;
	}
}

@mixin unkillable {
	.chip-kill {
		display: none;
	}
}

@mixin clickable {
	cursor: pointer;
	text-decoration: none;
}

@mixin focusVisible {
	@include a11y.focusVisible;
}
