@use '@lucca-front/scss/src/commons/utils/a11y';

@mixin primary {
	.chip-kill {
		--components-chip-kill-cross-color: var(--palettes-primary-700);
		--components-chip-kill-disk-color: var(--colors-white-color);

		&:hover {
			--components-chip-kill-disk-color: var(--palettes-primary-50);
		}

		&:active {
			--components-chip-kill-disk-color: var(--palettes-primary-50);
		}

		&:focus-visible {
			@include a11y.focusVisible($color: var(--colors-white-color));
		}
	}
}

@mixin unkillable {
	.chip-kill {
		display: none;
	}
}

@mixin clickable {
	cursor: pointer;
	text-decoration: none;

	&:hover {
		background-color: var(--palettes-600, var(--palettes-grey-100));
	}
}
