@import '_definitions';
@include optionItemStyle;

.is-disabled {
	color: var(--palettes-neutral-500);
	user-select: none;
	cursor: default;

	&.is-selected {
		background-color: var(--palettes-neutral-100);
	}

	&:hover {
		background-color: inherit;
	}
}

// TODO @Jérémie: Move elsewhere
.optionItem-group {
	color: var(--palettes-neutral-600) !important;
	font-size: var(--sizes-S-fontSize);
	line-height: var(--sizes-S-lineHeight);
	padding: var(--components-options-item-padding-vertical) var(--components-options-item-padding-horizontal);
}
