<h1>fix-modal</h1>
<button type="button" class="button" (click)="openPopup()">open popup</button>
<button type="button" class="button" (click)="openModal()">open modal</button>
<button type="button" class="button" (click)="openSidepanel()">open sidepanel</button>
<br />
<button type="button" class="button" (click)="openPopup('popup')">open popup with data</button>
<button type="button" class="button" (click)="openModal('modal')">open modal with data</button>
<button type="button" class="button" (click)="openSidepanel('sidepanel')">open modal with data</button>
