@use 'exports' as *;
@use '@lucca-front/scss/src/commons/utils/media';
@use '@lucca-front/scss/src/commons/utils/container';

.section {
	@include vars;
	@include component;

	// .mod-grey is deprecated
	&.mod-neutral,
	&.mod-grey {
		@include neutral;
	}
}

@mixin responsive(
	$breakpoint: 'S',
	$breakpoint2: null,
	$inverted: true,
	$at: 'media',
	$containerName: 'section',
	$responsiveSelector: null,
	$axis: 'width',
	$selector: '.section'
) {
	@if ($at == 'container') {
		@include container.auto($containerName);
	}

	#{if($responsiveSelector, $selector + '.rwd-' + $responsiveSelector, $selector)} {
		@include media.query(
			$breakpoint: $breakpoint,
			$breakpoint2: $breakpoint2,
			$inverted: $inverted,
			$at: $at,
			$containerName: $containerName,
			$axis: $axis
		) {
			@include narrow;
		}
	}
}

@mixin responsiveThin(
	$breakpoint: 'XS',
	$breakpoint2: null,
	$inverted: true,
	$at: 'media',
	$containerName: 'section',
	$responsiveSelector: null,
	$axis: 'width',
	$selector: '.section'
) {
	@if ($at == 'container') {
		@include container.auto($containerName);
	}

	#{if($responsiveSelector, $selector + '.rwd-' + $responsiveSelector, $selector)} {
		@include media.query(
			$breakpoint: $breakpoint,
			$breakpoint2: $breakpoint2,
			$inverted: $inverted,
			$at: $at,
			$containerName: $containerName,
			$axis: $axis
		) {
			@include thin;
		}
	}
}

$defaultResponsive: true !default;

@if $defaultResponsive {
	@include responsive;
	@include responsiveThin;
}
