@mixin grey {
	background-color: var(--commons-background-base);
}

@mixin S {
	padding-left: var(--spacings-L);
	padding-right: var(--spacings-L);
}

@mixin XS {
	padding-left: var(--spacings-S);
	padding-right: var(--spacings-S);
}
