@mixin grey {
	background-color: var(--pr-t-elevation-surface-default);
}

@mixin S {
	padding-left: var(--pr-t-spacings-XL);
	padding-right: var(--pr-t-spacings-XL);
}

@mixin XS {
	padding-left: var(--pr-t-spacings-M);
	padding-right: var(--pr-t-spacings-M);
}
