@mixin grey {
	background-color: var(--commons-background-base);
}

@mixin small {
	padding-left: var(--spacings-big);
	padding-right: var(--spacings-big);
}

@mixin smaller {
	padding-left: var(--spacings-small);
	padding-right: var(--spacings-small);
}
