<h1>refacto overlays</h1>

<button type="button" class="button" [luPopover]="basic">click me</button>
<br />
<button type="button" class="button" [luPopover]="basic" [luPopoverTarget]="target">trigger for my neighbour</button> <span class="label" luPopoverTarget #target="LuPopoverTarget">neighbour</span>
<br />
<span class="label" [luPopover]="basic" luPopoverTrigger="hover">on hover</span>
<br />
<button type="button" class="button" [luPopover]="basic" luPopoverPosition="before">positioned before</button>
<br />
<button type="button" class="button" [luPopover]="basic" luPopoverAlignment="right">aligned right</button>
<br />
<div class="textfield">
	<input type="text" class="textfield-input" [luPopover]="basic" luPopoverTrigger="focus" placeholder="on focus" />
</div>
<br />
<span class="label" [luPopover]="basic" luPopoverTrigger="hover" [luPopoverEnterDelay]="2000" [luPopoverLeaveDelay]="1000"
	>on hover with delay</span
>
<br />
<button type="button" class="button" [luPopover]="popoverUsingTemplate">using template</button>
<br />
<button type="button" class="button" [luPopover]="popoverUsingTemplateWithContext">using template with context</button>
<br />

<lu-popover #basic>basic-est of popovers</lu-popover>

<lu-popover #popoverUsingTemplate [template]="templateWithoutContext"> </lu-popover>

<lu-popover #popoverUsingTemplateWithContext [template]="templateWithContext" [template-context]="{ $implicit: 'Hello', target: 'World' }">
</lu-popover>

<ng-template #templateWithoutContext> Popover using template </ng-template>
<ng-template #templateWithContext let-hi let-target="target"> {{ hi }} {{ target }} </ng-template>
