@use '@lucca-front/scss/src/commons/utils/text';

@mixin component($atRoot: 'without: rule') {
	width: 22.5rem;
	max-width: calc(100vw - var(--spacings-S) * 2);
	padding: var(--spacings-S);

	@at-root ($atRoot) {
		.userPopover-details {
			--components-user-picture-image-size: 5.25rem;
			display: flex;
			align-items: center;
			gap: var(--spacings-S);
		}

		.userPopover-details-avatar {
			--components-user-picture-font-size: var(--sizes-XXL-fontSize);

			margin: var(--spacings-XXS) 0;
		}

		.userPopover-details-info {
			width: calc(100% - var(--components-user-picture-image-size) - var(--spacings-S));
		}

		.userPopover-details-info-name {
			@include text.ellipsis;

			margin: 0;
			padding: 0;
		}

		.userPopover-details-info-name-link {
			color: var(--palettes-grey-900);
			font-size: var(--sizes-L-fontSize);
			line-height: var(--sizes-L-lineHeight);
			font-weight: 700;
			text-decoration: underline;
			text-decoration-thickness: 0.75px;
			text-underline-offset: 3px;

			&:hover,
			&:active,
			&:focus {
				color: var(--palettes-grey-900);
				text-decoration-thickness: 1.5px;
			}
		}

		.userPopover-details-info-detail {
			margin-bottom: 0;
			font-size: var(--sizes-S-fontSize);
			line-height: var(--sizes-S-lineHeight);
		}

		.userPopover-details-info-detail-workplace {
			display: flex;
			align-items: center;
			gap: var(--spacings-XXS);
			margin-top: var(--spacings-XS);
			color: var(--palettes-grey-800);
			text-decoration: none;

			&.mod-link {
				text-decoration: none;

				&:hover,
				&:active,
				&:focus {
					color: var(--palettes-grey-800);

					.userPopover-details-info-detail-workplace-state {
						text-decoration: underline;
					}
				}
			}
		}

		.userPopover-details-info-detail,
		.userPopover-details-info-detail-link-state {
			@include text.ellipsis;
		}
	}
}
