@mixin component($atRoot: 'without: rule') {
	width: 22.5rem;
	max-width: calc(100vw - var(--spacings-S) * 2);
	padding: var(--spacings-S);

	@at-root ($atRoot) {
		.userPopover-details {
			--components-user-picture-image-size: 5.25rem;

			display: flex;
			align-items: flex-start;
			gap: var(--spacings-S);
		}

		.userPopover-details-avatar {
			--components-user-picture-font-size: var(--sizes-XXL-fontSize);

			margin: var(--spacings-XXS) 0;
		}

		.userPopover-details-info {
			min-width: 0;
		}

		.userPopover-details-info-name {
			margin: calc(var(--pr-t-spacings-50) * -1);
			padding: var(--pr-t-spacings-50);
			font-size: var(--sizes-L-fontSize);
			line-height: var(--sizes-L-lineHeight);
			font-weight: 700;
			color: currentColor;
		}

		.userPopover-details-info-name-linkOptional {
			color: currentColor;
			text-decoration: underline;
			text-decoration-thickness: 0.75px;
			text-underline-offset: 3px;

			&:hover {
				color: currentColor;
				text-decoration-thickness: 1.5px;
			}
		}

		.userPopover-details-info-detail {
			margin-bottom: 0;
			font-size: var(--sizes-S-fontSize);
			line-height: var(--sizes-S-lineHeight);
		}

		.userPopover-details-info-detail-workplace {
			display: flex;
			align-items: flex-start;
			gap: var(--spacings-XXS);
			color: currentColor;
			text-decoration: none;

			&:is(a, button) {
				&:hover,
				&:focus {
					color: currentColor;

					.userPopover-details-info-detail-workplace-state {
						text-decoration: underline;
					}
				}
			}
		}
	}
}
