# npm stuff
node_modules
npm-debug.log

#build stuff
dist

#Sass
.sass-cache

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# demo
demo/icons
demo/scss
demo/ng

# storybook
.storybook/documentation.json
storybook-static

# compodoc
compodoc-static

/.angular/cache

# IDE - Jetbrains
.idea/*

# apple stuff
.DS_Store
