# npm stuff
node_modules
npm-debug.log

#yarn
yarn.lock

#lerna
lerna-debug.log

#build stuff
dist

#Sass
.sass-cache


# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.vscode/

# demo
demo/icons
demo/scss
demo/ng
