{
	"singleQuote": true,
	"trailingComma": "all",
	"printWidth": 140,
	"endOfLine": "auto",
	"overrides": [
		{
			"files": [
				"*.html"
			],
			"options": {
				"parser": "html",
				"singleQuote": false
			}
		},
		{
			"files": [
				"*.component.html",
				"*.page.html"
			],
			"options": {
				"parser": "angular"
			}
		},
		{
			"files": [
				"*.ts"
			],
			"options": {
				"parser": "typescript",
				"printWidth": 200,
				"singleQuote": true
			}
		}
	]
}
