{
	"singleQuote": true,
	"trailingComma": "all",
	"printWidth": 140,
	"endOfLine": "auto",
	"overrides": [
		{
			"files": [".component.html", ".page.html"],
			"options": {
				"parser": "angular"
			}
		},
		{
			"files": ["*.html"],
			"options": {
				"parser": "html",
				"singleQuote": false
			}
		},
		{
			"files": ["*.ts"],
			"options": {
				"parser": "typescript",
				"printWidth": 200
			}
		}
	]
}
