{
	"singleQuote": true,
	"trailingComma": "all",
	"printWidth": 140,
	"endOfLine": "auto",
	"overrides": [
		{
			"files": ["packages/ng/formly/**/*.html", "*.component.html", "*.page.html", "*.stories.html"],
			"options": {
				"parser": "angular"
			}
		},
		{
			"files": ["*.html"],
			"options": {
				"singleQuote": false
			}
		},
		{
			"files": ["*.ts"],
			"options": {
				"parser": "typescript",
				"printWidth": 200,
				"singleQuote": true
			}
		}
	]
}
