@use 'exports' as *;

.fieldset {
	@layer components {
		@include vars;
		@include component;
	}

	@layer mods {
		&.mod-S {
			@include S;
		}

		&.mod-horizontal {
			@include horizontal;
		}

		&.mod-expandable {
			@include expandable;
		}

		&:has(.fieldset-title-content[aria-expanded='true']) {
			@include expanded;
		}

		&:has(.fieldset-title-content-action:not(:empty)) {
			@include withAction;
		}
	}
}
