@use 'exports' as *;

.richTextField {
	@layer components {
		@include vars;
		@include component;
	}

	@layer mods {
		&:hover {
			@include hover;
		}

		&:has(.richTextField-content[aria-invalid='true']) {
			@include error;

			&:hover {
				@include errorHover;
			}
		}

		&.is-disabled {
			@include disabled;
		}

		&.mod-autoResize {
			@include autoResize;
		}
	}
}


.richTextField-hideToolbar {
	display: none;
}
