@mixin autoResize {
	--components-richTextField-content-minHeight: calc(3lh + var(--pr-t-spacings-200));
	--components-richTextField-content-height: auto;
	--components-richTextField-content-resize: none;
}
