@use '@lucca-front/scss/src/commons/utils/a11y';

@mixin focusVisible {
	@include a11y.focusVisible;
}

@mixin hover {
	--components-richTextField-borderColor: var(--pr-t-color-input-border-hover);
}

@mixin disabled {
	--components-richTextField-backgroundColor: var(--pr-t-color-input-background-disabled);
	--components-richTextField-toolbar-backgroundColor: var(--pr-t-color-input-background-disabled);
	--components-richTextField-toolbar-display: none;
	--components-richTextField-color: var(--pr-t-color-input-text-disabled);
	--components-richTextField-borderColor: var(--pr-t-color-input-border);
}

@mixin chipDisabled {
	--components-chip-backgroundColor: var(--palettes-neutral-200);
	--components-chip-color: var(--pr-t-color-text-subtle);
}

@mixin error {
	--components-richTextField-borderColor: var(--pr-t-color-input-border-critical);
	--components-richTextField-backgroundColor: var(--pr-t-color-input-background-critical);
	--components-richTextField-placeholder-color: var(--pr-t-color-input-text-placeholder-critical);
}

@mixin errorHover {
	--components-richTextField-borderColor: var(--pr-t-color-input-border-critical-hover);
}

@mixin buttonPressed {
	--components-button-color: var(--palettes-0, var(--palettes-text, var(--palettes-product-0)));
	--components-button-backgroundColor: var(--palettes-700, var(--palettes-product-700));
}

@mixin buttonPressedHover {
	--components-button-color: var(--palettes-0, var(--palettes-text, var(--palettes-product-0)));
	--components-button-backgroundColor: var(--palettes-600, var(--palettes-product-600));
}

@mixin buttonPressedActive {
	--components-button-backgroundColor: var(--palettes-800, var(--palettes-product-800));
}

@mixin buttonPressedFocusVisible {
	@include a11y.focusVisible;
}

@mixin buttonPressedDisabled {
	--components-button-color: var(--commons-disabled-background);
	--components-button-backgroundColor: var(--palettes-neutral-500);
}
