@mixin hover {
	--components-richText-borderColor: var(--pr-t-color-input-border-hover);
}

@mixin disabled {
	--components-richText-backgroundColor: var(--pr-t-color-input-background-disabled);
	--components-richText-toolbar-backgroundColor: var(--pr-t-color-input-background-disabled);
	--components-richText-color: var(--pr-t-color-input-text-disabled);
	--components-richText-borderColor: var(--pr-t-color-input-border);
}

@mixin error {
	--components-richText-borderColor: var(--pr-t-color-input-border-critical);
	--components-richText-backgroundColor: var(--pr-t-color-input-background-critical);
	--components-richText-placeholder-color: var(--pr-t-color-input-text-placeholder-critical);
}

@mixin errorHover {
	--components-richText-borderColor: var(--pr-t-color-input-border-critical-hover);
}
