@mixin hover {
	--components-richTextField-borderColor: var(--pr-t-color-input-border-hover);
}

@mixin disabled {
	--components-richTextField-backgroundColor: var(--pr-t-color-input-background-disabled);
	--components-richTextField-toolbar-backgroundColor: var(--pr-t-color-input-background-disabled);
	--components-richTextField-toolbar-display: none;
	--components-richTextField-color: var(--pr-t-color-input-text-disabled);
	--components-richTextField-borderColor: var(--pr-t-color-input-border);
}

@mixin error {
	--components-richTextField-borderColor: var(--pr-t-color-input-border-critical);
	--components-richTextField-backgroundColor: var(--pr-t-color-input-background-critical);
	--components-richTextField-placeholder-color: var(--pr-t-color-input-text-placeholder-critical);
}

@mixin errorHover {
	--components-richTextField-borderColor: var(--pr-t-color-input-border-critical-hover);
}
