@mixin vars {
	--components-richTextField-borderColor: var(--pr-t-color-input-border);
	--components-richTextField-backgroundColor: var(--pr-t-color-input-background);
	--components-richTextField-color: var(--pr-t-color-input-text);
	--components-richTextField-toolbar-backgroundColor: var(--palettes-grey-25);
	--components-richTextField-resize: vertical;
	--components-richTextField-height: 3lh;
	--components-richTextField-minHeight: 2lh;
	--components-richTextField-maxHeight: 90dvh;
	--components-richTextField-placeholder-color: var(--pr-t-color-input-text-placeholder);
}
