@use '@lucca-front/scss/src/commons/config';

@mixin component($atRoot: 'without: rule') {
	margin-bottom: 1.2rem;

	.titleSection-title,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-bottom: 0;
	}

	.u-h1,
	.u-h2,
	.u-h3,
	.u-h4,
	.u-h5,
	.u-h6 {
		margin-bottom: 0 !important;
	}

	@at-root ($atRoot) {
		.titleSection-sub {
			color: var(--palettes-grey-600);
			font-size: var(--sizes-M-fontSize);
			line-height: var(--sizes-M-lineHeight);
			font-weight: 400;
			margin: 0;
		}
	}
}
