.radioButtons {
	display: flex;
}

.radioButtons-item {
	margin-left: -1px;

	&:first-child {
		margin-left: 0;

		.radioButtons-item-label {
			border-radius: _theme("commons.border.radius") 0 0 _theme("commons.border.radius");
		}
	}

	&:last-child {
		.radioButtons-item-label {
			border-radius: 0 _theme("commons.border.radius") _theme("commons.border.radius") 0;
		}
	}
}

.radioButtons-item-input {
	@include mask;

	&:checked ~ .radioButtons-item-label,
	&:focus ~ .radioButtons-item-label {
		z-index: 2;
	}
}

.radioButtons-item-label {
	background-color: _color("white");
	cursor: pointer;
	display: block;
	overflow: hidden;
	padding: _component("radioButtons.padding");
	position: relative;
	transition: all _theme("commons.animations.durations.fast") ease;
}

.radioButtons-item-label {
	color: _component("radioButtons.default-palette.700");
	box-shadow: inset 0 0 0 1px _component("radioButtons.default-palette.200");
}

.radioButtons-item-input:not(:disabled, .is-disabled) {
	~ .radioButtons-item-label {
		&:hover {
			background-color: _component("radioButtons.default-palette.50");
			box-shadow: _theme('commons.elevations.elevation-1'), inset 0 0 0 1px _component("radioButtons.default-palette.200");
		}
	}

	&:checked ~ .radioButtons-item-label {
		background-color: _component("radioButtons.default-palette.50");
		box-shadow: inset 0 0 0 1px _component("radioButtons.default-palette.400");
		color: _component("radioButtons.default-palette.700");

		&:hover {
			box-shadow: _theme('commons.elevations.elevation-1'), inset 0 0 0 1px _component("radioButtons.default-palette.400");
		}
	}

	&:focus ~ .radioButtons-item-label {
		box-shadow: 0 0 0 4px _component("radioButtons.hover-palette.200"), inset 0 0 0 1px _component("radioButtons.hover-palette.400");
	}

	&:focus:checked ~ .radioButtons-item-label {
		background-color: _component("radioButtons.default-palette.100");
		box-shadow: 0 0 0 4px _component("radioButtons.hover-palette.200"), inset 0 0 0 1px _component("radioButtons.hover-palette.500");
	}

	&:focus:not(:checked) ~ .radioButtons-item-label {
		background-color: _color("grey", 50);
	}
}

// MODS
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒
.radioButtons {
	&.mod-small {
		.radioButtons-item-label {
			font-size: _component("radioButtons.small.font-size");
			line-height: _component("radioButtons.small.line-height");
			padding: _component("radioButtons.small.padding");
		}
	}
}

// STATES
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒
.radioButtons-item-input {

	&:disabled ~ .radioButtons-item-label,
	&.is-disabled ~ .radioButtons-item-label { // legacy
		box-shadow: inset 0 0 0 1px _color("grey", 200);
		color: _color("grey", 500);
		cursor: default;
	}

	&:checked:disabled ~ .radioButtons-item-label,
	&:checked.is-disabled ~ .radioButtons-item-label { // legacy
		background-color: _color("grey", 100);
	}
}
