.checkbox {
	position: relative;
}

.checkbox-input {
	opacity: 0;
	pointer-events: none;
	position: absolute;

	&:checked ~ .checkbox-label {
		&::after {
			transform: scale(1);
		}
		&::before {
			@include makeIcon("tick");
		}
	}
}

.checkbox-label {
	cursor: pointer;
	display: flex;
	align-items: flex-start;
	transition: color 150ms ease;

	&::before {
		border-radius: _component("checkbox.input.border-radius");
		box-shadow: inset 0 0 0 2px #999999;
		content: "";
		display: block;
		width: _component("checkbox.input.size");
		height: _component("checkbox.input.size");
		line-height: _component("checkbox.input.size");
		transition: all 100ms ease;
		color: white;
		font-size: .8rem;
		text-align: center;
		margin-right: _component("checkbox.input.margin-right");
		margin-top: _component("checkbox.input.margin-top");
		flex: 0 0 auto;
	}

	&:hover {
		color: black;

		&::before {
			box-shadow: inset 0 0 0 2px _color("text.default");
		}
	}
}

// PALETTE
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

.checkbox {
	@mixin checkboxColoring($palette) {
		.checkbox-input:checked ~ .checkbox-label {
			&::before {
				background-color: _color($palette);
				box-shadow: inset 0 0 0 2px _color($palette);
			}
		}
	}

	// default color
	@include checkboxColoring("checkbox.default-palette");

	// palette colors
	@each $name, $palette in _getMap("palettes") {
		&.palette-#{$name} {
			@include checkboxColoring($name);
		}
	}
}


// MODS
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

.checkbox {
	&.mod-inline {
		vertical-align: middle;
		display: inline-block;
		margin-right: 1.5rem;
	}
}

.form.mod-framed {
	.checkbox, .checkbox-label {
		width: 100%;
	}
	.checkbox .checkbox-label{
		@include fakeBorder(1px, _theme("commons.divider.color"));
		padding: _component("textfield.framed.side-padding");
		display: inline-flex;
		align-items: center;
		&::before {
			position: relative;
			margin-top: 0;
		}
	}

	.checkbox.is-offset .checkbox-label{
		padding: _component("textfield.framed.top-padding") _component("textfield.framed.side-padding") _component("textfield.framed.bottom-padding");		
	}
}

// STATES
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒


.checkbox .checkbox-input {
	&[disabled] {
		~ .checkbox-label {
			color: _color("text.light");
			cursor: not-allowed;

			&::before {
				box-shadow: inset 0 0 0 2px _color("text.placeholder");
			}
		}

		&:checked ~ .checkbox-label {
			&::before {
				background-color: _color("text.placeholder");
				box-shadow: inset 0 0 0 2px _color("text.placeholder");
			}
		}
	}

	&.is-incomplete ~ .checkbox-label {
		&::before{
			font-size: .6rem;
			@include makeIcon("minimize");
		}
	}
}
