.checkbox {
	display: block;
	position: relative;
}

.checkbox-input {
	opacity: 0;
	pointer-events: none;
	position: absolute;
}

.checkbox-label {
	cursor: pointer;
	display: inline-flex;
	align-items: flex-start;
	transition: color _theme("commons.animations.durations.standard") ease;

	&::before {
		@include makeIcon("tick");
		border-radius: _component("checkbox.input.border-radius");
		box-shadow: inset 0 0 0 2px #999999;
		color: transparent;
		display: block;
		flex: 0 0 auto;
		font-size: .8rem;
		height: _component("checkbox.input.size");
		line-height: _component("checkbox.input.size");
		margin-right: _component("checkbox.input.margin-right");
		margin-top: _component("checkbox.input.margin-top");
		text-align: center;
		transition: all 100ms ease;
		width: _component("checkbox.input.size");
	}

	&:hover {
		color: black;

		&::before {
			box-shadow: inset 0 0 0 2px _color("text.default");
		}
	}
}

// PALETTE
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

.checkbox {
	@mixin checkboxColoring($palette) {
		.checkbox-input:checked ~ .checkbox-label {
			&::before {
				color: #FFFFFF;
				background-color: _color($palette);
				box-shadow: inset 0 0 0 2px _color($palette);
			}
		}
	}

	// default color
	@include checkboxColoring("checkbox.default-palette");

	// palette colors
	@each $name, $palette in _getMap("palettes") {
		&.palette-#{$name} {
			@include checkboxColoring($name);
		}
	}
}


// MODS
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

.checkbox {
	&.mod-inline {
		vertical-align: middle;
		display: inline-block;
		margin-right: 1.5rem;
	}
}

.form.mod-framed {
	.checkbox, .checkbox-label {
		width: 100%;
	}
	.checkbox .checkbox-label {
		@include fakeBorder(1px, _theme("commons.divider.color"));
		padding: _component("field.framed.side-padding");
		display: inline-flex;
		align-items: center;
		&::before {
			position: relative;
			margin-top: 0;
		}
	}

	.checkbox.is-offset .checkbox-label {
		padding: _component("field.framed.top-padding") _component("field.framed.side-padding") _component("field.framed.bottom-padding");
	}
}

// STATES
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒


.checkbox .checkbox-input {
	&[disabled] {
		~ .checkbox-label {
			color: _theme("commons.disabled.color");
			cursor: not-allowed;

			&::before {
				box-shadow: inset 0 0 0 2px _theme("commons.disabled.placeholder");
			}
		}

		&:checked ~ .checkbox-label {
			&::before {
				background-color: _theme("commons.disabled.placeholder");
				box-shadow: inset 0 0 0 2px _theme("commons.disabled.placeholder");
			}
		}
	}

	&.is-incomplete ~ .checkbox-label {
		&::before {
			font-size: .6rem;
			@include makeIcon("minimize");
		}
	}
}
