@import "../field/field";

@include field("checkboxesfield");

.checkboxesfield {
	border: 0;
	padding: 0;
	margin: 0;
}

.checkboxesfield-input {
	@include field-input("checkboxesfield");

	&.mod-row {
		@extend %checkboxesfield-row;
	}
}

.form.mod-compact .checkboxesfield, .checkboxesfield.mod-compact {
	@include field-compact("checkboxesfield");
	align-items: flex-start;
	.checkboxesfield-input {
		@extend %checkboxesfield-row;
	}
}

.form.mod-framed .checkboxesfield, .checkboxesfield.mod-framed {
	display: block;

	.checkboxesfield-input {
		@extend %checkboxesfield-row;
	}

	fieldset {
		border: none;
		padding: 0;
	}
}

%checkboxesfield-row {
	display: flex;
	flex-wrap: wrap;
	.checkbox {
		margin-top: 0;
		margin-bottom: 0;
	}
	.checkbox {
		margin-right: _component("field.horizontal-spacing");
	}
}
