@use '@lucca-front/icons/src/icon/exports' as icon;
@use '@lucca-front/scss/src/components/calloutFeedbackList/exports' as calloutFeedbackList;

@mixin S {
	.calloutAccordion-summary-title {
		font-size: var(--pr-t-font-fontSize-175);
		line-height: var(--pr-t-font-lineHeight-250);
	}

	.calloutAccordion-details {
		margin-block: 0;
		margin-inline: 2.75rem;
	}

	.calloutAccordion-summary-icon {
		@include icon.S;
	}

	.calloutAccordion-summary-chevron {
		@include icon.S;
	}

	.calloutFeedbackList {
		@include calloutFeedbackList.S;
	}
}
