<h2>Mat-datepicker</h2>
<div class="textfield mod-withSuffix">
	<input [matDatepicker]="myDatepicker" class="textfield-input" #input (click)="togglePicker(myDatepicker)" />
	<label class="textfield-label" for="">Pick a date</label>
	<div class="textfield-suffix">
		<span aria-hidden="true" class="lucca-icon icon-calendar"></span>
	</div>
	<mat-datepicker #myDatepicker></mat-datepicker>
</div>

<h2>Mat-menu</h2>
<button type="button" class="button" [matMenuTriggerFor]="appMenu">Menu</button>
<mat-menu #appMenu="matMenu">
	<button type="button" mat-menu-item>Settings</button>
	<button type="button" mat-menu-item>Help</button>
</mat-menu>
