
// @mixin userPictureStyle {
// 	:host {
// 		.picture {
// 			border-radius: 100%;
// 			background-position: center;
// 			background-size: cover;
// 			background-repeat: no-repeat;
// 			color: white;
// 			font-size: _component('user-picture.sizes.standard.font-size', true);
// 			font-size: _component('user-picture.sizes.standard.font-size');
// 			position: relative;
// 			height: _component('user-picture.sizes.standard.image-size', true);
// 			height: _component('user-picture.sizes.standard.image-size');
// 			width: _component('user-picture.sizes.standard.image-size', true);
// 			width: _component('user-picture.sizes.standard.image-size');

// 			> span {
// 				position: absolute;
// 				top: 50%;
// 				left: 50%;
// 				transform: translate(-50%, -50%);
// 			}
// 		}
// 		@each $name, $size in _getMap('components.user-picture.sizes') {
// 			&.mod-#{$name} .picture {
// 				font-size: _component('user-picture.sizes.'+$name+'.font-size', true);
// 				font-size: _component('user-picture.sizes.'+$name+'.font-size');
// 				height: _component('user-picture.sizes.'+$name+'.image-size', true);
// 				height: _component('user-picture.sizes.'+$name+'.image-size');
// 				width: _component('user-picture.sizes.'+$name+'.image-size', true);
// 				width: _component('user-picture.sizes.'+$name+'.image-size');
// 			}
// 		}
// 	}
// }
