@use 'exports' as *;
@use '@lucca-front/scss/src/commons/utils/media';
@use '@lucca-front/scss/src/commons/utils/container';

.header {
	@include vars;
	@include component;

	&.mod-sticky {
		@include sticky;

		.navSide ~ .main-content &,
		.mod-withMenu .main-content & {
			@include left;
		}
	}

	&.mod-nav {
		@include nav;
	}

	&:is(.is-loading, .loading) {
		@include loading;
	}
}

@mixin responsive(
	$breakpoint: 'S',
	$breakpoint2: null,
	$inverted: true,
	$at: 'media',
	$containerName: 'header',
	$responsiveSelector: null,
	$axis: 'width',
	$selector: '.header'
) {
	@if ($at == 'container') {
		@include container.auto($containerName);
	}

	#{if($responsiveSelector, $selector + '.rwd-' + $responsiveSelector, $selector)} {
		@include media.query(
			$breakpoint: $breakpoint,
			$breakpoint2: $breakpoint2,
			$inverted: $inverted,
			$at: $at,
			$containerName: $containerName,
			$axis: $axis
		) {
			@include stickyNarrow;
			@include stickyLeftNarrow;
		}
	}
}

$defaultResponsive: true !default;

@if $defaultResponsive {
	@include responsive;
}
