@mixin sticky {
	top: var(--commons-banner-height);
	position: fixed;
	left: 0;
	right: 0;
}

@mixin nav {
	align-items: center;
	padding-bottom: 0;
	padding-left: 0;
	padding-top: 0;
}

@mixin left {
	left: var(--commons-navSide-width);
}

@mixin leftCompact {
	@include left;

	left: var(--commons-navSide-compact-width);
}
