@use '@lucca-front/scss/src/commons/utils/media';

@mixin sticky {
	inset-block-start: var(--commons-banner-height);
	position: fixed;
	inset-inline: 0;

	@include media.max('S') {
		inset-block-start: calc(var(--commons-banner-height) + var(--commons-navSide-mobile-toggle-height));
		inset-inline-start: 0 !important;
	}
}

@mixin nav {
	align-items: center;
	padding-inline-start: 0;
	padding-block: 0;
}

@mixin left {
	inset-inline-start: var(--commons-navSide-width);

	@include media.max('S') {
		inset-block-start: var(--commons-navSide-mobile-toggle-height);
	}
}
