@mixin vars {
	--components-header-background: var(--pr-t-elevation-surface-raised);
	--components-header-padding: var(--pr-t-spacings-XS) var(--pr-t-spacings-M);
	--components-header-height: 4rem;
}
