@mixin vars {
	--components-header-background: var(--pr-t-elevation-surface-raised);
	--components-header-padding: var(--pr-t-spacings-100) var(--pr-t-spacings-200);
	--components-header-height: 4rem;
}
