<h1>date-utc</h1>
<h2>to string</h2>
<pre>
	utc valentine's day: {{ utcValentine }}
	local valentine's day: {{ valentine }}
</pre>
<h2>to isostring</h2>
<pre>
	utc valentine's day: {{ utcValentine.toISOString() }}
	local valentine's day: {{ valentine.toISOString() }}
</pre>
<h2>luDate pipe 'long'</h2>
<pre>
	utc valentine's day: {{ utcValentine | luDate: 'long' }}
	local valentine's day: {{ valentine | luDate: 'long' }}
</pre>
<h2>date adapter</h2>
<pre>
	today string: {{ today }}
	today iso string: {{ today.toISOString() }}
</pre>
<h2>lu-date-calendar</h2>
<p>
	utc valentine's
	<lu-calendar [(ngModel)]="utcValentine"></lu-calendar>
</p>
<p>
	local valentine's
	<lu-calendar [(ngModel)]="valentine"></lu-calendar>
</p>
<h2>lu-date-select</h2>
<div class="textfield">
	<lu-date-select class="textfield-input" name="utcValentine" [(ngModel)]="utcValentine"></lu-date-select>
	<label for="utcValentine" class="textfield-label">utc valentine's</label>
</div>
<div class="textfield">
	<lu-date-select class="textfield-input" name="valentine" [(ngModel)]="valentine"></lu-date-select>
	<label for="valentine" class="textfield-label">local valentine's</label>
</div>