@mixin vars {
	--components-icon-priorityLevel-level1-color: var(--palettes-neutral-400);
	--components-icon-priorityLevel-level2-color: var(--palettes-neutral-400);
	--components-icon-priorityLevel-level3-color: var(--palettes-neutral-400);
}
