@use '@lucca-front/scss/src/commons/utils/namespace';
@use '@lucca-front/scss/src/components/button/exports' as button;

@mixin component($atRoot: namespace.$defaultAtRoot) {
	border: 0;

	&:where(:empty) {
		border-top: var(--commons-divider-border);
		margin-block: var(--components-divider-marginBlock);
		margin-inline: 0;
		height: auto;
	}

	&:not(:empty) {
		--components-divider-margin: 0;

		display: flex;
		align-items: center;
		gap: var(--pr-t-spacings-100);
		text-wrap: balance;
		text-align: center;
		font-size: var(--components-divider-fontSize);
		line-height: var(--components-divider-lineHeight);
		color: var(--palettes-neutral-600);

		&::before,
		&::after {
			border-top: var(--commons-divider-border);
			min-width: var(--pr-t-spacings-150);
			flex-grow: 1;
			content: '';
		}

		.lucca-icon {
			color: var(--palettes-neutral-600);
		}
	}

	.button {
		@include button.outlined;
	}
}
