@mixin component($atRoot: 'without: rule') {
	border: 0;

	&:empty {
		border-top-color: var(--commons-divider-color);
		border-top-width: var(--commons-divider-width);
		border-top: var(--commons-divider-border);
		margin-top: var(--pr-t-spacings-300);
		margin-bottom: var(--pr-t-spacings-300);
	}

	&:not(:empty) {
		display: flex;
		align-items: center;
		gap: var(--pr-t-spacings-100);
		margin-top: var(--pr-t-spacings-150);
		margin-bottom: var(--pr-t-spacings-150);
		text-wrap: balance;
		text-align: center;
		font-size: var(--components-divider-fontSize);
		line-height: var(--components-divider-lineHeight);
		color: var(--palettes-neutral-600);

		&::before,
		&::after {
			border-top-color: var(--commons-divider-color);
			border-top-width: var(--commons-divider-width);
			border-top: var(--commons-divider-border);
			flex-grow: 1;
			min-width: var(--pr-t-spacings-300);
			content: '';
		}

		.lucca-icon {
			color: var(--palettes-neutral-500);
		}
	}
}
