@mixin component {
	border: 0;
	border-top-color: var(--commons-divider-color);
	border-top-width: var(--commons-divider-width);
	border-top-style: solid;
	margin-top: var(--spacings-M);
	margin-bottom: var(--spacings-M);
}
