@mixin vars {
	--components-divider-font: var(--pr-t-font-body-M);
	--components-divider-margin-value: var(--pr-t-spacings-50);
	--components-divider-marginBlock: var(--components-divider-margin-value);
	--components-divider-minSize: var(--pr-t-spacings-150);
	--components-divider-direction: row;
	--components-divider-iconBottom: 0;
	--components-divider-justify: normal;
	--components-divider-alignSelf: '';

	// Deprecated
	--components-divider-fontSize: var(--pr-t-font-body-M-fontSize);
	--components-divider-lineHeight: var(--pr-t-font-body-M-lineHeight);
}
