@mixin vars {
	--components-divider-fontSize: var(--pr-t-font-fontSize-200);
	--components-divider-lineHeight: var(--pr-t-font-lineHeight-300);
	--components-divider-marginBlock: var(--pr-t-spacings-50);
	--components-divider-marginInline: 0;
	--components-divider-minSize: var(--pr-t-spacings-150);
	--components-divider-direction: row;
	--components-divider-iconBottom: 0;
	--components-divider-justify: normal;
	--components-divider-alignSelf: '';
}
