@mixin vars {
	--components-appLayout-minBlockSize: 100dvh;
	--components-appLayout-banner-blockSize: 0px;
	--components-appLayout-navSide-blockSize: 3rem;
	--components-appLayout-gridTemplate: "banner " auto
																				"navSide" auto
																				"main   " 1fr;
	--components-appLayout-after: 0px;
	--components-appLayout-before: calc(var(--components-appLayout-banner-blockSize) + var(--components-appLayout-navSide-blockSize));
	--components-appLayout-navSide-insetBlock: var(--components-appLayout-banner-blockSize) auto;
}
