@import '~@lucca-front/scss/src/_mixins';

.lu-popover-panel {
	display: flex;
	flex-direction: column;
	margin-top: 2px;
	max-height: calc(100vh + 48px);
	position: relative;
}

.lu-popover-content {
	background: white;
	padding: 1em;
	@include elevate(2);
}

.lu-popover-panel {
	&.is-above {
		transform-origin: bottom center;
	}

	&.is-below {
		transform-origin: top center;
	}

	&.is-before {
		transform-origin: center right;

		&.is-above {
			transform-origin: bottom right;
		}

		&.is-below {
			transform-origin: top right;
		}
	}

	&.is-after {
		transform-origin: center left;

		&.is-above {
			transform-origin: bottom left;
		}

		&.is-below {
			transform-origin: top left;
		}
	}
}
