lu-sidepanel-panel {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	height: 100%;
}

.lu-popup-panel.lu-sidepanel-panel {
	position: fixed !important;
	top: 0;
	right: 0;
	bottom: 0;
	width: _component("sidepanel.sizes.default");
	max-height: 100vh;
	border-radius: 0;

	animation-name: sidepanelAnimation;
	transform-origin: center center;
	@each $panel-size, $size-obj in _getMap("components.sidepanel.sizes") {
		&.size-#{$panel-size} {
			width: _component("sidepanel.sizes."+$panel-size);
		}
	}
}

.lu-sidepanel-header, .lu-sidepanel-footer {
	flex: 0 0 auto;
}

.lu-sidepanel-content {
	flex: 1 1 0px;
	overflow-x: hidden;
	overflow-y: auto;
}

@keyframes sidepanelAnimation {
	from {
		transform: translate(_theme("commons.animations.translate"), 0);
	}

	to {
		transform: translate(0, 0);
	}
}
