@use '@lucca-front/icons/src/commons/utils/icon';

@mixin component($atRoot: 'without: rule') {
	font-size: var(--components-table-font-size);
	line-height: var(--components-table-line-height);
	border-spacing: 0;
	display: table;
	text-align: left;
	width: 100%;
	color: var(--palettes-grey-800);

	@at-root ($atRoot) {
		.table-head {
			display: table-header-group;
			vertical-align: bottom;
		}

		.table-foot {
			display: table-footer-group;
		}

		.table-head-row {
			display: table-row;
		}

		.table-head-row-cell {
			color: var(--palettes-grey-600);
			font-size: var(--sizes-S-fontSize);
			line-height: var(--sizes-S-lineHeight);
			padding: var(--components-table-padding);
			border-bottom: var(--commons-divider-width) solid var(--commons-divider-color);
			border-top: var(--commons-divider-width) solid var(--commons-divider-color);
			display: table-cell;
			text-align: left;
			font-weight: 600;
		}

		.table-body {
			display: table-row-group;
		}

		.table-body-row,
		.table-foot-row {
			background-color: var(--colors-white-color);
			display: table-row;

			&:last-child {
				.table-body-row-cell,
				.table-foot-row-cell {
					border-bottom: var(--commons-divider-width) solid var(--commons-divider-color);
				}
			}
		}

		.table-body-row-cell,
		.table-foot-row-cell {
			padding: var(--components-table-padding);
			border-bottom: var(--commons-divider-width) solid var(--commons-divider-color);
			display: table-cell;
			vertical-align: middle;
		}
	}
}
