@mixin vars {
	--components-table-padding: 0.5rem 1rem;
	--components-table-font-size: 1rem;
	--components-table-line-height: 1.5rem;
	--components-table-zebra-background: #f5f5f5;
	--components-table-hover-background: #f7f8fd;
	--components-table-card-padding: 1.5rem;
}
