@mixin vars {
	--components-table-padding: var(--pr-t-spacings-100) var(--pr-t-spacings-150);
	--components-table-font-size: var(--pr-t-font-body-M-fontSize);
	--components-table-line-height: var(--pr-t-font-body-M-lineHeight);
	--components-table-zebra-background: #f5f5f5;
	--components-table-hover-background: var(--palettes-neutral-50);
	--components-table-card-padding: var(--pr-t-spacings-300);
}
