@use 'exports' as *;

.tableOfContent {
	@layer components {
		@include vars;
		@include component;
	}
}

// Second selector to get rid of tableOfContent-list-item-action on angular component
.tableOfContent-list-item-action,
.tableOfContent-list-item > a {
	@layer mods {
		&:not(.disabled, .is-disabled, [disabled]) {
			&:is(:hover) {
				@include hover;
			}

			&:is(:focus) {
				@include focus;
			}

			&:is(:active) {
				@include active;
			}

			&.is-active {
				@include isActive;

				&:is(:hover) {
					@include isActiveHover;
				}

				&:is(:focus) {
					@include isActiveFocus;
				}

				&:is(:active) {
					@include isActiveActive;
				}
			}
		}

		&:is(.disabled, .is-disabled, [disabled]) {
			@include disabled;
		}
	}
}
