@use '@lucca-front/scss/src/commons/core' as core;
@use '@lucca-front/icons/src/commons/utils/icon';

@mixin component {
	@at-root {
		@include core.scoped {
			.breadcrumbs-list {
				display: flex;
				flex-wrap: wrap;
				list-style-type: none;
				margin: 0;
				padding: 0;
			}

			.breadcrumbs-list-item {
				font-size: var(--sizes-small-font-size);
				line-height: var(--sizes-small-line-height);
				align-items: center;
				display: flex;

				&:not(:first-child) {
					&::before {
						@include icon.generate('chevron_east');

						padding: 0 var(--spacings-smallest);
					}
				}
			}

			.breadcrumbs-list-item-action {
				color: var(--palettes-grey-600);
				transition-duration: var(--commons-animations-durations-fast);
				transition-property: color;
				text-decoration: none;
				background-color: transparent;
				margin: 0;
				padding: 0;
				border: 0;
				cursor: pointer;

				&:focus,
				&:hover {
					color: var(--palettes-grey-800);
				}
			}
		}
	}
}
