@use '@lucca-front/icons/src/commons/utils/icon';
@use '@lucca-front/scss/src/commons/utils/a11y';

@mixin component($atRoot: 'without: rule') {
	@at-root ($atRoot) {
		.breadcrumbs-list {
			display: flex;
			flex-wrap: wrap;
			list-style-type: none;
			margin: 0;
			padding: 0;
		}

		.breadcrumbs-list-item {
			font-size: var(--sizes-S-fontSize);
			line-height: var(--sizes-S-lineHeight);
			align-items: center;
			display: flex;

			&:not(:first-child) {
				&::before {
					@include icon.generate('arrow_chevron_right');
					color: var(--palettes-grey-600);
					font-size: var(--sizes-XS-lineHeight);
					padding: 0 var(--spacings-XXS);
				}
			}
		}

		.breadcrumbs-list-item-action {
			color: var(--palettes-grey-600);
			transition-duration: var(--commons-animations-durations-fast);
			transition-property: color;
			text-decoration: none;
			background-color: transparent;
			margin: 0;
			padding: 0;
			border: 0;
			cursor: pointer;

			&:hover {
				color: var(--palettes-grey-600);
				text-decoration: underline;
			}

			&:focus-visible {
				@include a11y.focusVisible($borderRadius: var(--commons-borderRadius-M));
			}
		}
	}
}
