@use 'exports' as *;

.breadcrumbs {
	@layer components {
		@include vars;
		@include component;
	}

	@layer mods {
		// .mod-compact is deprecated
		&.mod-compact {
			@include compact;
		}
	}
}

// Second selector to get rid of breadcrumbs-list-item-action on angular component
.breadcrumbs-list-item-action,
.breadcrumbs-list-item > a {
	@layer mods {
		// .active is deprecated
		&.active,
		&.is-active,
		&[aria-current='page'] {
			@include active;
		}
	}
}
