@use '@lucca-front/scss/src/commons/utils/a11y';
@use '@lucca-front/icons/src/commons/utils/icon';

@mixin compact {
	.breadcrumbs-list-item {
		&:nth-last-child(2):first-child,
		&:nth-last-child(2):first-child + .breadcrumbs-list-item {
			&:last-child {
				@include a11y.mask;
			}

			&:first-child {
				.breadcrumbs-list-item-action {
					&::before {
						@include icon.generate('format_corner_up_left');

						padding-right: var(--spacings-XXS);
						font-size: var(--sizes-XS-lineHeight);
						line-height: var(--sizes-S-lineHeight);
						text-decoration: none;
						vertical-align: top;
					}
				}
			}
		}
	}
}
