@mixin active {
	font-weight: var(--pr-t-font-fontWeight-semibold);
	text-decoration: none;
	cursor: default;

	&:hover {
		outline: none;
	}

	&,
	&:hover,
	&:focus-visible {
		outline: none;
		color: var(--palettes-neutral-700);
	}
}
