.test {
  color: var(--colors-white-color);
  fill: var(--palettes-primary-700);
  border: 2px solid var(--palettes-grey-900);

  // Legacy
  color: var(--palettes-grey-700);
  color: var(--palettes-grey-700);
  // [LF NEXT] Fonctions de couleur + variables scss ne sont pas gérées.
  // color: lighten(var(--palettes-primary-200), 10%)

  color: var(--palettes-grey-800);
  color: var(--palettes-grey-900);
  color: var(--palettes-secondary-700);
  color: var(--palettes-grey-500);
  color: var(--palettes-primary-darkest);
  color: var(--colors-text-grossRemuneration);
  color: var(--colors-text-grossRemuneration-light);
  color: var(--colors-text-grossRemuneration-light);
  color: var(--commons-background-base);
  color: var(--commons-background-base);
  color: var(--commons-background-base);
}
