@use '@lucca-front/scss/src/commons/utils/media';

.approvals-data {
  width: 100%;
  max-width: 70rem;
  background-color: var(--palettes-grey-50);
  padding: var(--spacings-big);
  transition: color var(--commons-animations-durations-standard) ease-out;

  @include media.largerThan("l") {
    padding: var(--spacings-bigger) var(--spacings-biggest);
  }
  @include media.smallerThan("s") {
    overflow: auto;
    padding: var(--spacings-small);
    border-radius: var(--commons-borderRadius-M)
      var(--commons-borderRadius-M) 0 0;

    &:not(.has-selection) {
      display: none;
    }
    // [LF NEXT] Utilisation de _theme non gérée par la migration automatique
    // column-gap: _theme("spacings." + $name) #{$suffix}
  }
}
