@import "scss/theming";
@import "@lucca-front/scss/src/mixins";

:host {
	width: 100%;
	&:focus {
		outline: none;
		.cardItemPreview-title,
		.cardItemPreview-sub {
			color: _color("primary", 600);
		}
		.mod-documentPreview,
		.mod-documentCreation {
			box-shadow: 0 0 0 2px _color("primary", 600);
		}
	}
	@include ie11 {
		width: 195px;
		margin-bottom: _theme("spacings.standard");
		margin-right: _theme("spacings.standard");
	}
}
