:host {
	width: 100%;
	&:focus {
		outline: none;
		.cardItemPreview-title,
		.cardItemPreview-sub {
			color: var(--palettes-primary-600);
		}
		.mod-documentPreview,
		.mod-documentCreation {
			box-shadow: 0 0 0 2px var(--palettes-primary-600);
		}
	}
}
