.with-sassColorLightenFunc {
	background-color: white;
	padding: 1rem;
	/* [LF NEXT] Fonctions de couleur + variables scss ne sont pas gérées. */
	/* color: lighten(var(--palettes-grey-50), 2.5%) */
}

.with-sassColorDarkenFunc {
	margin: 1rem;
	background-color: darken(#FFFFFF);
	/* [LF NEXT] Fonctions de couleur + variables scss ne sont pas gérées. */
	/* color: darken(var(--palettes-grey-50), 2.5%) */
}
