.with-sassColorLightenFunc {
	background-color: white;
	padding: var(--spacings-small);
	// [LF NEXT] Fonctions de couleur + variables scss ne sont pas gérées.
	// color: lighten(var(--palettes-grey-50), 2.5%)
}

.with-sassColorDarkenFunc {
	margin: var(--spacings-small);
	background-color: darken(#ffffff);
	// [LF NEXT] Fonctions de couleur + variables scss ne sont pas gérées.
	// color: darken(var(--palettes-grey-50), 2.5%)
}
