.with-sassColorLightenFunc {
	background-color: white;
	padding: 1rem;
	color: lighten(var(--palettes-grey-50), 2.5%);
}

.with-sassColorDarkenFunc {
	margin: 1rem;
	background-color: darken(#FFFFFF);
	color: darken(var(--palettes-grey-50), 2.5%);
}
