@mixin component {
	background-color: #fef1f5;
	color: #ec407a;
	white-space: nowrap;
	border-radius: 3px;
	font-size: 0.8rem;
	line-height: 1.4rem;
	margin: 0.1rem;
	padding: 0 0.3rem;
	tab-size: 2;
}
