@use '@lucca-front/scss/src/commons/utils/a11y';
@use '@lucca-front/scss/src/components/numericBadge/exports' as numericBadge;

@mixin component($atRoot: 'without: rule') {
	display: flex;

	@at-root ($atRoot) {
		.radioButtons-item {
			position: relative;
			margin-left: 1px;

			&:first-child {
				margin-left: 0;

				.radioButtons-item-label {
					border-radius: var(--commons-borderRadius-M) 0 0 var(--commons-borderRadius-M);
				}
			}

			&:last-child {
				.radioButtons-item-label {
					border-radius: 0 var(--commons-borderRadius-M) var(--commons-borderRadius-M) 0;
				}
			}
		}

		.radioButtons-item-input {
			@include a11y.mask;

			&:checked,
			&:focus {
				~ .radioButtons-item-label {
					z-index: 2;
				}
			}
		}

		.radioButtons-item-label {
			display: flex;
			align-items: center;
			gap: var(--spacings-XS);
			background-color: var(--colors-white-color);
			padding: var(--components-radioButtons-padding);
			font-size: var(--components-radioButtons-font-size);
			line-height: var(--components-radioButtons-line-height);
			color: var(--palettes-grey-700);
			box-shadow: 0 0 0 var(--commons-divider-width) var(--palettes-grey-300);
			transition-duration: var(--commons-animations-durations-fast);
			transition-property: background-color, color, box-shadow;
			overflow: hidden;
			position: relative;
			height: 100%;
			cursor: pointer;
		}

		.radioButtons-item-input {
			&:not(:disabled, .is-disabled) {
				~ .radioButtons-item-label {
					&:hover {
						background-color: var(--palettes-grey-50);
					}
				}

				&:focus-visible {
					~ .radioButtons-item-label {
						@include a11y.focusVisible($offset: 3px);
					}
				}

				&:checked {
					~ .radioButtons-item-label {
						background-color: var(--palettes-primary-50);
						box-shadow: 0 0 0 var(--commons-divider-width) var(--palettes-primary-500);
						color: var(--palettes-primary-800);

						.numericBadge {
							@include numericBadge.primary;
						}
					}
				}
			}
		}
	}
}
