@mixin S {
	--components-radioButtons-font: var(--pr-t-font-body-S);
	--components-radioButtons-padding: var(--pr-t-spacings-75) var(--pr-t-spacings-150);
}

@mixin XS {
	--components-radioButtons-font: var(--pr-t-font-body-XS);
	--components-radioButtons-padding: var(--pr-t-spacings-50) var(--pr-t-spacings-100);
}
