@mixin small {
	--components-radioButtons-font-size: var(--sizes-small-font-size);
	--components-radioButtons-line-height: var(--sizes-smaller-line-height);
	--components-radioButtons-padding: var(--spacings-smaller) var(--spacings-small);
}
