@mixin S {
	--components-radioButtons-font-size: var(--sizes-S-fontSize);
	--components-radioButtons-line-height: var(--sizes-S-lineHeight);
	--components-radioButtons-padding: .375rem .75rem;
}

@mixin XS {
	--components-radioButtons-font-size: var(--sizes-XS-fontSize);
	--components-radioButtons-line-height: var(--sizes-XS-lineHeight);
	--components-radioButtons-padding: var(--spacings-XXS) var(--spacings-XS);
}
