@mixin disabled {
	~ .radioButtons-item-label {
		box-shadow: 0 0 0 1px var(--palettes-grey-200);
		color: var(--palettes-grey-500);
		cursor: default;
	}

	&:checked {
		~ .radioButtons-item-label {
			background-color: var(--palettes-grey-100);
		}
	}
}
