@use '@lucca-front/scss/src/components/numericBadge/exports' as numericBadge;

@mixin disabled {
	~ .radioButtons-item-label {
		box-shadow: 0 0 0 1px var(--palettes-neutral-200);
		color: var(--palettes-neutral-500);
		cursor: default;

		.numericBadge {
			@include numericBadge.disabled;
		}
	}

	&:checked {
		~ .radioButtons-item-label {
			background-color: var(--palettes-neutral-100);
		}
	}
}
