@mixin vars {
	--components-radioButtons-default-palette-darker: #2d354d;
	--components-radioButtons-default-palette-dark: #4c5775;
	--components-radioButtons-default-palette-color: #9299b0;
	--components-radioButtons-default-palette-light: #ccd1e0;
	--components-radioButtons-default-palette-lighter: #e8eaf3;
	--components-radioButtons-default-palette-lightest: #f7f9fd;
	--components-radioButtons-default-palette-text: #fff;
	--components-radioButtons-default-palette-see-through: rgba(146, 153, 176, 0.15);

	--components-radioButtons-default-palette-50: #f7f8fd;
	--components-radioButtons-default-palette-100: #f3f5fc;
	--components-radioButtons-default-palette-200: #eceff8;
	--components-radioButtons-default-palette-300: #dcdfef;
	--components-radioButtons-default-palette-400: #cbcfe2;
	--components-radioButtons-default-palette-500: #b7bbd1;
	--components-radioButtons-default-palette-600: #898fae;
	--components-radioButtons-default-palette-700: #485075;
	--components-radioButtons-default-palette-800: #31395e;
	--components-radioButtons-default-palette-900: #1e233e;

	--components-radioButtons-hover-darker: #2d354d;
	--components-radioButtons-hover-dark: #4c5775;
	--components-radioButtons-hover-color: #9299b0;
	--components-radioButtons-hover-light: #ccd1e0;
	--components-radioButtons-hover-lighter: #e8eaf3;
	--components-radioButtons-hover-lightest: #f7f9fd;
	--components-radioButtons-hover-text: #fff;
	--components-radioButtons-hover-see-through: rgba(146, 153, 176, 0.15);

	--components-radioButtons-hover-50: #f7f8fd;
	--components-radioButtons-hover-100: #f3f5fc;
	--components-radioButtons-hover-200: #eceff8;
	--components-radioButtons-hover-300: #dcdfef;
	--components-radioButtons-hover-400: #cbcfe2;
	--components-radioButtons-hover-500: #b7bbd1;
	--components-radioButtons-hover-600: #898fae;
	--components-radioButtons-hover-700: #485075;
	--components-radioButtons-hover-800: #31395e;
	--components-radioButtons-hover-900: #1e233e;

	--components-radioButtons-active: var(--palettes-grey-800);
	--components-radioButtons-padding: var(--spacings-smaller) var(--spacings-small);

	--components-radioButtons-small-font-size: var(--sizes-small-font-size);
	--components-radioButtons-small-line-height: var(--sizes-small-line-height);
	--components-radioButtons-small-padding: var(--spacings-smaller) var(--spacings-small);
}
