@use 'definitions';
@include definitions.selectInputStyle;

.lu-select-value {
	padding-right: 3.5rem;
}

.lu-select-additionalInformation {
	font-size: 80%;
	font-style: italic;
	margin-top: -0.25em;
}
