// TODO layers

@use 'definitions';

@include definitions.selectInputStyle;

.lu-select-value {
	padding-inline-end: 3.5rem;
}

.lu-select-additionalInformation {
	font-size: 80%;
	font-style: italic;
	margin-block-start: -0.25em;
}
