/* You can add global styles to this file, and also import other style files */
@import '~@lucca-front/scss/src/main.overridable';

@import 'dist/style/main.overridable';
@import 'dist/material/style/main.overridable';
@import 'dist/formly/style/main.overridable';


.demo-box {
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

:root {
	@include generateCSSVarsFromTheme($theme);
}
