/* You can add global styles to this file, and also import other style files */
$useCssVar: true;
@import '~@lucca-front/scss/src/main.overridable';
// @import 'libraries/core/src/style/main';
// @import 'libraries/material/src/style/main';
// @import 'libraries/formly/src/style/main';
@import 'dist/style/main';
@import 'dist/material/style/main';
@import 'dist/formly/style/main';
@import '~@lucca-front/scss/src/theming.overridable';



.demo-box {
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
@import '~@lucca-front/scss/src/theming/cssvars';
