@mixin center {
	--components-approbationInbox-list-item-content-info-alignItems: center;
}

@mixin noDescription {
	--components-approbationInbox-details-header-main-delegation-marginBlockStart: 0;
}

@mixin insideDialog {
	--components-approbationInbox-details-header-main-actions-display: none;
	--components-approbationInbox-details-container-display: contents;
	--components-approbationInbox-details-headerMain-padding: var(--pr-t-spacings-150);
	--components-approbationInbox-details-headerMain-margin: 0 calc(var(--pr-t-spacings-150) * -1);
	--components-approbationInbox-details-gap: var(--pr-t-spacings-50);
	--components-approbationInbox-details-main-gap: var(--pr-t-spacings-150);
	--components-approbationInbox-details-header-main-block-content-paddingBlockEnd: var(--pr-t-spacings-150);

	.dialog-inside-content:has(&) {
		display: flex;
		flex-direction: column;
	}

	.approbationInbox-details-main-block-divider.divider {
		margin: var(--components-divider-margin);
	}
}

@mixin outsideDialogMediaMaxM {
	display: none;
}

@mixin mediaMinS {
	--components-approbationInbox-list-marginInlineEnd: var(--pr-t-spacings-400);
	--components-approbationInbox-list-marginInlineStart: var(--pr-t-spacings-400);
}

@mixin mediaMinM {
	--components-approbationInbox-list-inlineSize: 17rem;
	--components-approbationInbox-list-marginInlineEnd: 0;
}

@mixin mediaMinL {
	--components-approbationInbox-list-inlineSize: 22.5rem;
}

@mixin mediaMaxM {
	--components-approbationInbox-list-footer-backgroundColor: var(--pr-t-elevation-surface-raised);
	--components-approbationInbox-list-footer-borderRadius: 0;
	--components-approbationInbox-list-footer-marginBlock: var(--pr-t-spacings-150) calc(var(--pr-t-spacings-300) * -1);
	--components-approbationInbox-list-footer-paddingBlock: var(--pr-t-spacings-100) var(--pr-t-spacings-200);
	--components-approbationInbox-list-footer-paddingInline: var(--pr-t-spacings-400);
	--components-approbationInbox-list-footer-marginInline: calc(var(--components-approbationInbox-list-footer-paddingInline) * -1);
}

@mixin mediaMaxS {
	--components-approbationInbox-list-footer-paddingInline: var(--pr-t-spacings-300);
}

@mixin blockLastChild {
	--components-approbationInbox-details-header-main-block-content-paddingBlockEnd: 0;

	.approbationInbox-details-main-block-divider.divider {
		--components-divider-display: none;
	}
}

@mixin mainLayoutSidebar {
	overflow: visible;
}

@mixin mainLayoutSidebarMediaMaxM {
	block-size: 100%;
}
