@use '@lucca-front/scss/src/commons/utils/a11y';

@mixin focusVisible {
	&::before {
		@include a11y.focusVisible;
	}
}

@mixin selected {
	--commponents-approbationInbox-list-item-content-before-background: var(--palettes-product-50);
	--commponents-approbationInbox-list-item-content-before-boxShadow: 0 0 0 1px var(--palettes-product-500);
}

@mixin current {
	--commponents-approbationInbox-list-item-content-before-boxShadow: 0 0 0 1px var(--palettes-product-400), 0 0 0 1px var(--palettes-product-400) inset;
}
