@mixin vars {
	--components-approbationInbox-list-marginInlineEnd: var(--pr-t-spacings-200);
	--components-approbationInbox-list-marginInlineStart: var(--pr-t-spacings-200);
	--components-approbationInbox-list-inlineSize: auto;
	--components-approbationInbox-list-groupOptional-header-action-icon-backgroundColor: transparent;
	--components-approbationInbox-list-groupOptional-content-display: flex;
	--components-approbationInbox-list-groupOptional-marginBlockStart: var(--pr-t-spacings-50);
	--components-approbationInbox-list-item-content-info-alignItems: start;
	--components-approbationInbox-list-item-content-before-background: var(--pr-t-elevation-surface-raised);
	--components-approbationInbox-list-item-content-before-boxShadow: var(--pr-t-elevation-shadow-raised);
	--components-approbationInbox-list-footer-backgroundColor: var(--pr-t-elevation-surface-sunken);
	--components-approbationInbox-list-footer-borderRadius: var(--pr-t-border-radius-structure);
	--components-approbationInbox-list-footer-paddingInline: var(--pr-t-spacings-100);
	--components-approbationInbox-list-footer-paddingBlock: var(--pr-t-spacings-100);
	--components-approbationInbox-list-footer-marginInline: 0;
	--components-approbationInbox-list-footer-marginBlock: 0;

	--components-approbationInbox-details-header-main-actions-display: flex;
	--components-approbationInbox-details-main-gap: var(--pr-t-spacings-300);
	--components-approbationInbox-details-header-main-block-content-paddingBlockEnd: var(--pr-t-spacings-300);
	--components-approbationInbox-details-container-display: flex;
	--components-approbationInbox-details-headerMain-padding: var(--pr-t-spacings-300);
	--components-approbationInbox-details-gap: var(--pr-t-spacings-200);
	--components-approbationInbox-details-headerMain-margin: 0;
	--components-approbationInbox-details-header-main-delegation-marginBlockStart: var(--pr-t-spacings-150);
	--components-approbationInbox-details-empty-display: none;
}
