@mixin vars {
	--components-approbationInbox-list-marginInlineEnd: var(--pr-t-spacings-200);
	--components-approbationInbox-list-marginInlineStart: var(--pr-t-spacings-200);
	--components-approbationInbox-list-inlineSize: auto;
	--components-approbationInbox-details-main-block-marginBlockStart: var(--pr-t-spacings-300);
	--components-approbationInbox-list-groupOptional-header-action-icon-backgroundColor: transparent;
	--components-approbationInbox-list-groupOptional-content-display: flex;
	--components-approbationInbox-list-groupOptional-marginBlockStart: var(--pr-t-spacings-50);
	--components-approbationInbox-list-item-content-info-alignItems: start;
	--commponents-approbationInbox-list-item-content-before-background: var(--pr-t-elevation-surface-raised);
	--commponents-approbationInbox-list-item-content-before-boxShadow: var(--pr-t-elevation-shadow-raised);
	--components-approbationInbox-details-header-main-infos-title-paddingBlock: 0;
	--components-approbationInbox-details-header-main-actions-display: flex;
	--components-approbationInbox-details-container-display: flex;
	--components-approbationInbox-details-headerMain-padding: var(--pr-t-spacings-300);
}
