@use '@lucca-front/scss/src/commons/utils/reset';
@use '@lucca-front/scss/src/components/button/exports' as button;

@mixin component($atRoot: 'without: rule') {
	@include reset.list;

	display: flex;
	flex-direction: column;
	gap: var(--pr-t-spacings-M);

	.button {
		@include button.S;
	}

	@at-root ($atRoot) {
		.calloutFeedbackList-item {
			display: flex;
			flex-direction: column;
			gap: var(--pr-t-spacings-XS);
		}

		.calloutFeedbackList-item-actions {
			display: inline-flex;
			gap: var(--pr-t-spacings-XS);
		}
	}
}
