@use '@lucca-front/scss/src/components/button/exports' as button;

@mixin S {
	--components-calloutFeedbackList-gap: var(--pr-t-spacings-100);
	--components-calloutFeedbackList-fontSize: var(--pr-t-font-fontSize-175);
	--components-calloutFeedbackList-lineHeight: var(--pr-t-font-lineHeight-250);

	.button {
		@include button.XS;
	}
}
