@use '@lucca-front/scss/src/components/button/exports' as button;

@mixin S {
	--components-calloutFeedbackList-gap: var(--pr-t-spacings-100);
	--components-calloutFeedbackList-font: var(--pr-t-font-body-S);

	.button {
		@include button.XS;
	}

	// Deprecated
	--components-calloutFeedbackList-fontSize: var(--pr-t-font-body-S-fontSize);
	--components-calloutFeedbackList-lineHeight: var(--pr-t-font-body-S-lineHeight);
}
