@mixin vars {
  --components-calloutFeedbackList-font: var(--pr-t-font-body-M);
  --components-calloutFeedbackList-gap: var(--pr-t-spacings-150);

	// Deprecated
	--components-calloutFeedbackList-fontSize: var(--pr-t-font-body-M-fontSize);
	--components-calloutFeedbackList-lineHeight: var(--pr-t-font-body-M-lineHeight);
}
