@mixin vars {
  --components-calloutFeedbackList-fontSize: var(--pr-t-font-body-M-fontSize);
  --components-calloutFeedbackList-lineHeight: var(--pr-t-font-body-M-lineHeight);
  --components-calloutFeedbackList-gap: var(--pr-t-spacings-150);
}
