@use '@lucca-front/scss/src/commons/utils/namespace';

@mixin component($atRoot: namespace.$defaultAtRoot) {
	position: relative;
	overflow: hidden;
	border: solid 1px var(--components-radioFramed-borderColor);
	border-radius: var(--commons-borderRadius-L);
	box-shadow: var(--components-radioFramed-boxShadow);
	background-color: var(--palettes-neutral-0);
	transition-property: box-shadow, border-color;
	transition-duration: var(--commons-animations-durations-fast);

	& + & {
		margin-block-start: var(--pr-t-spacings-200);
	}

	@at-root ($atRoot) {
		.radioFramed-header {
			margin: 0 !important;
			padding-inline: var(--components-radioFramed-paddingInline);
			padding-block: var(--components-radioFramed-paddingBlock);
			background-color: var(--components-radioFramedHeader-backgroundColor);
			transition-property: background-color;
			transition-duration: var(--commons-animations-durations-fast);
		}

		.radioFramed-content {
			display: var(--components-radioFramed-content-display);
			padding-inline: var(--components-radioFramed-paddingInline);
			padding-block: var(--components-radioFramed-paddingBlock);
			padding-inline-start: var(--components-radioFramedContent-paddingInlineStart);
			border-top: solid 1px var(--palettes-product-100);
		}

		// TODO: Add `noOutline` to radioField component.
		.radioField-input:focus-visible ~ .radioField-icon::after {
			outline: none;
		}

		.radioFramed-header-input {
			// TODO: Add `noOutline` to radioField component.
			//@include radioField.noOutline;

			outline: none !important;
		}

		.radioFramed-header-label {
			position: static !important;
			font-weight: 600 !important;

			&::after {
				content: '';
				position: absolute;
				inset: 0;
				width: 100%;
				height: 100%;
			}
		}
	}
}
