@use '@lucca-front/scss/src/commons/utils/namespace';

@mixin component($atRoot: namespace.$defaultAtRoot) {
	position: relative;
	overflow: hidden;
	padding: var(--pr-t-spacings-50);
	border: solid 1px var(--components-radioFramed-borderColor);
	border-radius: var(--commons-borderRadius-L);
	box-shadow: var(--components-radioFramed-boxShadow);
	background-color: var(--palettes-neutral-0);
	transition-property: box-shadow, border-color;
	transition-duration: var(--commons-animations-durations-fast);

	@at-root ($atRoot) {
		.radioFramed-header {
			margin: 0 !important;
			padding-inline: var(--components-radioFramed-paddingInline);
			padding-block: var(--components-radioFramed-paddingBlock);
			border-radius: var(--commons-borderRadius-L);
			background-color: var(--components-radioFramedHeader-backgroundColor);
			transition-property: background-color;
			transition-duration: var(--commons-animations-durations-fast);
		}

		.radioFramed-content {
			display: var(--components-radioFramed-content-display);
			padding-inline: var(--components-radioFramed-paddingInline);
			padding-block: var(--components-radioFramed-paddingBlock);
			padding-inline-start: var(--components-radioFramedContent-paddingInlineStart);
		}

		// TODO: Add `noOutline` to radioField component.
		.radioField-input:focus-visible ~ .radioField-icon::after {
			outline: none;
		}

		.radioFramed-header-input {
			// TODO: Add `noOutline` to radioField component.
			//@include radioField.noOutline;
			outline: none !important;
		}

		.radioFramed-header-label {
			// TODO: Why this position? Stray code?
			// SEE https://github.com/LuccaSA/lucca-front/commit/2fffee9c2b2c4da66382dd402cb06f07c1d697cc#diff-14a4b831ffa478216ee60d6b62e3fe0424e83c9237b7b5331ea050af93d18d7bR9-R16
			position: static !important;
			font-weight: 600 !important;

			&::after {
				content: '';
				position: absolute;
				inset: 0;
				width: 100%;
				height: 100%;
			}
		}

		// Grow cards when in a flex utility.
		// TODO: This could be a mod instead.
		.u-displayFlex & {
			flex-grow: 1;
		}

		// Make sure to take the grid-column’s height.
		// TODO: Decide if the component always takes the whole height, or only when checked.
		.grid-column & {
			// height: 100%;
		}
	}
}
