@mixin vars {
	--components-radioFramed-content-display: none;
	--components-radioFramed-borderColor: var(--palettes-neutral-300);
	--components-radioFramed-header-info-borderColor: var(--palettes-neutral-200);
	--components-radioFramed-padding: var(--pr-t-spacings-150);
	--components-radioFramed-header-backgroundColor: transparent;
}
