@mixin vars {
	--components-radioFramed-content-display: none;
	--components-radioFramed-borderColor: var(--palettes-neutral-300);
	--components-radioFramed-boxShadow: none;
	--components-radioFramed-padding: var(--pr-t-spacings-200);
	--components-radioFramed-header-backgroundColor: transparent;

	// 1.25rem = radio field input size
	// var(--pr-t-spacings-100) = radio field gap
	--components-radioFramed-content-marginInlineStart: calc(
		1.25rem
		+ var(--pr-t-spacings-100)
	);
}
