@use '@lucca-front/scss/src/commons/utils/namespace';

@mixin component($atRoot: namespace.$defaultAtRoot) {
	max-width: var(--components-dateField-maxWidth);
	display: block;

	.dateField-textField {
		position: relative;
		z-index: 1;
	}
}
