
@use '@lucca-front/scss/src/commons/utils/namespace';
@use '@lucca-front/scss/src/commons/utils/a11y';

@mixin component($atRoot: namespace.$defaultAtRoot) {
	min-block-size: var(--components-bodyLayout-minBlockSize);
	display: grid;
	grid-template: var(--components-bodyLayout-gridTemplate);

	&:has(.bodyLayout-banner:not(:empty)) {
		--components-bodyLayout-banner-blockSize: var(--commons-banner-height);
	}

	@at-root ($atRoot) {
		.bodyLayout {
			display: contents;
		}

		.bodyLayout-banner {
			grid-area: banner;
			position: sticky;
			inset-block-start: 0;
			z-index: 2;
			block-size: var(--components-bodyLayout-banner-blockSize);

			&:empty {
				display: none;
			}
		}

		.bodyLayout-navSide {
			grid-area: navSide;
			position: sticky;
			inset-block: var(--components-bodyLayout-navSide-insetBlock);
			block-size: var(--components-bodyLayout-navSide-blockSize);
			overflow-x: hidden;
			overflow-y: auto;
			z-index: 1;

			&:empty {
				display: none;
			}
		}

		.bodyLayout-main {
			grid-area: main;
		}
	}
}
