@mixin navSide {
	--components-bodyLayout-navSideBlockSize: 3.5rem;
}

@mixin wide {
	--components-bodyLayoutStartBlockSize: calc(var(--components-bodyLayout-startBlockSize) + var(--components-bodyLayout-bannerBlockSize));
	--components-bodyLayout-navSideInsetBlock: var(--components-bodyLayoutStartBlockSize) auto;
	--components-bodyLayout-navSideBlockSize: calc(var(--components-bodyLayout-minBlockSize) - var(--components-bodyLayout-bannerBlockSize) - var(--components-bodyLayout-startBlockSize) - var(--components-bodyLayout-endBlockSize));
	--components-bodyLayout-gridTemplate: "start   start " auto
																				"banner  banner" auto
																				"navSide main  " 1fr
																				"end     end   " auto
																			 / auto    1fr;

}

@mixin mobileNavSideBottom {
	--components-bodyLayoutStartBlockSize: calc(var(--components-bodyLayout-startBlockSize) + var(--components-bodyLayout-bannerBlockSize));
	--components-bodyLayoutEndBlockSize: calc(var(--components-bodyLayout-endBlockSize) + var(--components-bodyLayout-navSideBlockSize));
	--components-bodyLayout-navSideInsetBlock: auto var(--components-bodyLayout-endBlockSize);
	--components-bodyLayout-gridTemplate: "start  " auto
																				"banner " auto
																				"main"    1fr
																				"navSide" auto
																				"end    " auto;
}
