@mixin vars {
	--components-bodyLayoutEndBlockSize: var(--components-bodyLayout-endBlockSize);
	--components-bodyLayoutStartBlockSize: calc(var(--components-bodyLayout-startBlockSize) + var(--components-bodyLayout-bannerBlockSize) + var(--components-bodyLayout-navSideBlockSize));
	--components-bodyLayout-minBlockSize: 100dvh;
	--components-bodyLayout-navSideInsetBlock: calc(var(--components-bodyLayout-startBlockSize) + var(--components-bodyLayout-bannerBlockSize)) auto;
	--components-bodyLayout-navSideBlockSize: 0px;
	--components-bodyLayout-startBlockSize: 0px;
	--components-bodyLayout-endBlockSize: 0px;
	--components-bodyLayout-bannerBlockSize: var(--commons-banner-height);
	--components-bodyLayout-gridTemplate: "start  " auto
																				"banner " auto
																				"navSide" auto
																				"main   " 1fr
																				"end    " auto;

}
