@mixin vars {
	--components-bodyLayout-minBlockSize: 100dvh;
	--components-bodyLayout-banner-blockSize: 0px;
	--components-bodyLayout-navSide-blockSize: 3rem;
	--components-bodyLayout-gridTemplate: "banner " auto
																				"navSide" auto
																				"main   " 1fr;
	--components-bodyLayout-after: 0px;
	--components-bodyLayout-before: calc(var(--components-bodyLayout-banner-blockSize) + var(--components-bodyLayout-navSide-blockSize));
	--components-bodyLayout-navSide-insetBlock: var(--components-bodyLayout-banner-blockSize) auto;
}
