@use '@lucca-front/scss/src/commons/utils/namespace';

@mixin component($atRoot: namespace.$defaultAtRoot) {
	padding: 0;
	margin: 0;
	padding-inline-start: calc(var(--pr-t-spacings-300) + var(--pr-t-spacings-50));
	list-style-type: disc;
	display: flex;
	flex-direction: column;
	gap: 4px;

	@at-root ($atRoot) {
		.listing-item {
			display: var(--components-listing-item-display);
			align-items: flex-start;
			gap: 0.5rem;
		}

		.listing-item-icon {
			width: 1.25rem;
			height: 1.25rem;
			margin-top: 2px;
			background-color: var(--palettes-100, var(--palettes-neutral-100));
			color: var(--palettes-700, var(--palettes-neutral-700));
			border-radius: var(--commons-borderRadius-XL);
			display: flex;
		}
	}
}
