@mixin vars {
	--components-listing-marginInlineStart: 0;
	--components-listing-inlineFirst: 0;
	--components-listing-flexDirection: column;
	--components-listing-flexWrap: nowrap;
	--components-listing-paddingInlineStart: var(--components-listing-inlineStart);
	--components-listing-inlineStart: calc(var(--pr-t-spacings-300) + var(--pr-t-spacings-50));

	--components-listing-clipPath: none;
	--components-listing-listStyleType: disc;

	--components-listing-item-display: list-item;
	--components-listing-item-icon-backgroundColor: transparent;
	--components-listing-item-icon-before-content: none;
	--components-listing-item-before-content: unset;

	--components-listing-item-content-display: block;
	--components-listing-item-content-flexWrap: nowrap;
	--components-listing-item-content-rowGap: 0;
	--components-listing-item-content-columnGap: 0;
}
