@mixin vars {
	--components-listing-marginInlineStart: 0;
	--components-listing-flexDirection: column;
	--components-listing-item-display: list-item;
	--components-listing-paddingInlineStart: var(--components-listing-inlineStart);
	// --components-listing-item-marginInlineStart: 0;
	--components-listing-listStyleType: disc;
	--components-listing-item-icon-backgroundColor: transparent;
	--components-listing-item-icon-before-content: none;
	--components-listing-item-alignItems: flex-start;
	--components-listing-inlineStart: calc(var(--pr-t-spacings-300) + var(--pr-t-spacings-50));
	--components-listing-clipPath: none;
	--components-listing-inlineFirst: 0;
	//for divider mode:
	--components-listing-item-before-content: unset;
}
