<!doctype html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Lucca Front | Form template</title>
		<link rel="icon" type="image/png" href="../lucca.png">
		<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,700" rel="stylesheet">
		<link rel="stylesheet" href="../lucca-front.css">
		<link rel="stylesheet" href="../demo.css">
	</head>
	<body>
		<main class="main mod-noAside u-paddingTopBiggest">
			<section class="main-content">
				<div class="container mod-xs">
					<div class="card">
						<div class="card-content">
							<form class="form">
								<h3 class="form-title">Form group</h3>
								<div class="textfield is-filled">
									<input class="textfield-input" type="text" value="input value">
									<label class="textfield-label">Textfield label</label>
								</div>
								<div class="checkboxesfield">
									<div class="checkboxesfield-input">
										<div class="checkbox">
											<input class="checkbox-input" type="checkbox" id="checkbox0">
											<label class="checkbox-label" for="checkbox0">Checkbox</label>
										</div>
										<div class="checkbox">
											<input class="checkbox-input" type="checkbox" id="checkbox1">
											<label class="checkbox-label" for="checkbox1">Checkbox</label>
										</div>
									</div>
									<label class="checkboxesfield-label">Checkbox group label</label>
								</div>
								<div class="radiosfield">
									<div class="radiosfield-input">
										<div class="radio">
											<input type="radio" class="radio-input" name="formExampleRadios" id="fer1">
											<label class="radio-label" for="fer1">Radio 1</label>
										</div>
										<div class="radio">
											<input type="radio" class="radio-input" name="formExampleRadios" id="fer2">
											<label class="radio-label" for="fer2">Radio 2</label>
										</div>
										<div class="radio">
											<input type="radio" class="radio-input" name="formExampleRadios" id="fer3">
											<label class="radio-label" for="fer3">Radio 3</label>
										</div>
									</div>
									<label class="radiosfield-label">Radio input</label>
									<div class="radiosfield-messages">
										<p class="radiosfield-messages-helper">
											A small hint on what it does
										</p>
									</div>
								</div>
								<div class="switch">
									<input class="switch-input" type="checkbox" id="switchID" checked>
									<label class="switch-label" for="switchID">Switch</label>
								</div>
								<div class="form-actions">
									<input class="button palette-primary" type="submit">
									<button class="button mod-text">Cancel</button>
								</div>
							</form>
						</div>
					</div>
<code class="code mod-block">&lt;form class="form"&gt;
	&lt;div class="textfield"&gt;
		&lt;input class="textfield-input" type="text" value="input value" autofocus&gt;
		&lt;label class="textfield-label"&gt;Textfield label&lt;/label&gt;
	&lt;/div&gt;
	&lt;div class="checkboxesfield"&gt;
		&lt;div class="checkboxesfield-input"&gt;
			&lt;div class="checkbox"&gt;
				&lt;input class="checkbox-input" type="checkbox" id="<b>checkbox0</b>"&gt;
				&lt;label class="checkbox-label" for="<b>checkbox0</b>"&gt;Checkbox&lt;/label&gt;
			&lt;/div&gt;
			&lt;div class="checkbox"&gt;
				&lt;input class="checkbox-input" type="checkbox" id="<b>checkbox1</b>"&gt;
				&lt;label class="checkbox-label" for="<b>checkbox1</b>"&gt;Checkbox&lt;/label&gt;
			&lt;/div&gt;
		&lt;/div&gt;
		&lt;label class="checkboxesfield-label"&gt;Checkbox group label&lt;/label&gt;
	&lt;/div&gt;
	&lt;div class="radiofield"&gt;
		&lt;div class="radiofield-input"&gt;
			&lt;label class="radiofield-label"&gt;Radio group label&lt;/label&gt;
			&lt;div class="radio"&gt;
				&lt;input class="radio-input" type="radio" name="<b>radioList</b>" id="<b>radio0</b>"&gt;
				&lt;label class="radio-label" for="<b>radio0</b>"&gt;Radio&lt;/label&gt;
			&lt;/div&gt;
			&lt;div class="radio"&gt;
				&lt;input class="radio-input" type="radio" name="<b>radioList</b>" id="<b>radio1</b>"&gt;
				&lt;label class="radio-label" for="<b>radio1</b>"&gt;Radio&lt;/label&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
	&lt;div class="switch"&gt;
		&lt;input class="switch-input" type="checkbox" id="<b>switchID</b>" checked&gt;
		&lt;label class="switch-label" for="<b>switchID</b>"&gt;Switch&lt;/label&gt;
	&lt;/div&gt;
	&lt;div class="form-actions"&gt;
		&lt;input class="button palette-primary" type="submit"&gt;
		&lt;button class="button mod-text"&gt;Cancel&lt;/button&gt;
	&lt;/div&gt;
&lt;/form&gt;
</code>
				</div>
			</section>
		</main>
	</body>
</html>
