<!doctype html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Lucca Front | No aside + header template</title>
		<link rel="icon" type="image/png" href="../lucca.png">
		<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,700" rel="stylesheet">
		<link rel="stylesheet" href="../lucca-front.css">
		<link rel="stylesheet" href="../demo.css">
	</head>
	<body>
		<main class="main">
			<section class="main-content mod-withStickyHeader">
				<div class="header mod-sticky">
					<div class="header-contentLeft">
						<div class="textfield mod-search">
							<input class="textfield-input" type="text">
						</div>
					</div>
					<div class="header-contentRight">
						<button type="button" class="button">button</button>
						<button type="button" class="button palette-primary">button</button>
					</div>
				</div>
				<div class="container">
					<h1>No side with header</h1>
<code class="code mod-block">&lt;main class="main"&gt;
	&lt;section class="main-content mod-withStickyHeader"&gt;
		&lt;div class="header mod-sticky"&gt;
			&lt;div class="header-contentLeft"&gt;
				&lt;div class="textfield mod-search"&gt;
					&lt;input class="textfield-input" type="text"&gt;
				&lt;/div&gt;
			&lt;/div&gt;
			&lt;div class="header-contentRight"&gt;
				&lt;button class="button"&gt;button&lt;/button&gt;
				&lt;button class="button palette-primary"&gt;button&lt;/button&gt;
			&lt;/div&gt;
		&lt;/div&gt;
		&lt;div class="container"&gt;
			...
		&lt;/div&gt;
	&lt;/section&gt;
&lt;/main&gt;</code>
				</div>
			</section>
		</main>
	</body>
</html>
