@use '@lucca-front/icons/src/main';

.icon-color-success {
  color: var(--palettes-success-700);
}

.icon-color-secondary {
  color: var(--palettes-secondary-700);
}

.icon-color-error {
  color: var(--palettes-error-700);
}

.icon-color-warning {
  color: var(--palettes-warning-700);
}


.icon-color-success {
  color: var(--palettes-success-700);
}

.icon-color-light {
  color: var(--palettes-grey-600);
}

.icon-color-placeholder {
  color: var(--palettes-grey-400);
}