// MIXINS
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

@mixin actionIconColoring($palette) {
	color: _color($palette, 500);

	&:hover {
		&:not([disabled]) {
			background-color: _color($palette, "50");
			color: _color($palette);
		}
	}

	&:focus {
		color: _color($palette);
		box-shadow: 0 2px 8px rgba(0, 0, 0, .04), 0 1px 2px rgba(0, 0, 0, .06), 0 0 0 4px _color($palette, "50");
	}
}

// CLASSES
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

.actionIcon {
	background-color: transparent;
	border: 0;
	border-radius: _component("commons.border.radius");
	color: _component("actionIcon.color");
	height: _theme("spacings.big");
	width: _theme("spacings.big");
	transition: background-color _theme("commons.animations.durations.fast") ease, color _theme("commons.animations.durations.fast") ease, opacity _theme("commons.animations.durations.fast") ease;
	vertical-align: middle;
	text-decoration: none;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;

	& + & {
		margin-left: .1rem;
	}

	&:hover {
		&:not([disabled]) {
			background-color: _component("actionIcon.hover.background");
			color: _component("actionIcon.hover.color");
		}
	}

	&:focus {
		box-shadow: 0 2px 8px rgba(0, 0, 0, .04), 0 1px 2px rgba(0, 0, 0, .06), 0 0 0 4px _color("button.default-palette", "200");
		outline: none;
	}

	.lucca-icon, .#{_theme("icons.prefix", true)} {
		font-size: 1.2rem;
	}
}


// MODS
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

.actionIcon {
	&.mod-invert {
		color: _component("actionIcon.invert.color");

		&:hover, &:focus {
			&:not([disabled]) {
				background-color: rgba(255, 255, 255, .1);
				color: _component("actionIcon.invert.color");
			}
		}

		&:focus {
			box-shadow: 0 2px 8px rgba(0, 0, 0, .04), 0 1px 2px rgba(0, 0, 0, .06), 0 0 0 4px rgba(0, 0, 0, .1);
		}
	}

	// palette colors
	@each $name, $palette in _getMap("palettes") {
		&.palette-#{$name} {
			@include actionIconColoring($name);
		}
	}
}


// STATES
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

.actionIcon {
	&[disabled], &.is-disabled, &.is-loading {
		color: _color("grey", 500);
		pointer-events: none;
		cursor: default;
	}

	&.is-loading {
		@include loading(1rem);

		color: transparent;
		position: relative;
	}
}
