// CLASSES
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

.actionIcon {
	background-color: transparent;
	border: 0;
	border-radius: _component("commons.border.radius");
	color: _component("actionIcon.color");
	height: 2.5rem;
	width: 2.5rem;
	transition: background-color _theme("commons.animations.durations.fast") ease, color _theme("commons.animations.durations.fast") ease;
	vertical-align: middle;
	text-decoration: none;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;

	& + & {
		margin-left: 2px;
	}

	&:not([disabled], .is-disabled) {
		&:hover {
			background-color: _component("actionIcon.hover.background");
			color: _component("actionIcon.hover.color");
		}

		&:focus {
			background-color: _component("actionIcon.focus.background");
			color: _component("actionIcon.focus.color");
			outline: none;
		}

		&:active {
			background-color: _component("actionIcon.default-palette.100");
			color: _component("actionIcon.default-palette.800");
		}
	}

	.lucca-icon, .#{_theme("icons.prefix", true)} {
		font-size: 1.2rem;
	}
}


// MODS
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

.actionIcon {
	&.mod-invert {
		color: _component("actionIcon.invert.color");

		&:not([disabled], .is-disabled) {
			&:hover, &:focus {
				background-color: rgba(255, 255, 255, .1);
				color: _component("actionIcon.invert.color");
			}

			&:active {
				background-color: rgba(255, 255, 255, .2);
			}
		}
	}

	&.mod-outlined {
		box-shadow: 0 0 0 1px _color("grey", 400);

		& + & {
			margin-left: 6px;
		}

		&:focus {
			box-shadow: 0 0 0 1px _component("actionIcon.default-palette.400"), 0 0 0 4px _component("actionIcon.default-palette.100");
		}

		&:active {
			background-color: _color("grey", 200);
			color: _color("grey", 800);
			box-shadow: 0 0 0 1px _component("actionIcon.default-palette.500"), 0 0 0 4px _component("actionIcon.default-palette.200");
		}
	}

	&.mod-delete {
		&:hover {
			background-color: _color("error", 50);
			color: _color("error", 800);
		}

		&:focus {
			background-color: _color("error", 100);
			color: _color("error", 800);
		}

		&:active {
			background-color: _color("error", 200);
			color: _color("error", 800);
		}

		&.mod-outlined {
			&:hover {
				box-shadow: 0 0 0 1px _color("error", 400);
			}

			&:focus {
				box-shadow: 0 0 0 1px _color("error", 400), 0 0 0 4px _color("error", 100);
			}

			&:active {
				box-shadow: 0 0 0 1px _color("error", 400), 0 0 0 4px _color("error", 100);
			}
		}
	}

	&.mod-small {
		height: 2rem;
		width: 2rem;
	}
}


// STATES
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

.actionIcon {
	&[disabled], &.is-disabled, &.is-loading {
		color: _color("grey", 500);
		pointer-events: none;
		cursor: default;

		&.mod-outlined {
			box-shadow: 0 0 0 1px _color("grey", 200);
		}
	}

	&.is-loading {
		@include loading(1rem);

		color: transparent;
		position: relative;
	}
}
