.box {
	background-color: white;
	border-radius: _component("box.border.radius");
	display: block;
	margin: _component("box.margin");
	padding: _component("box.padding");
	position: relative;
}

.box-close {
	font-size: 1rem;
	position: absolute;
	right: .25rem;
	top: .25rem;
	z-index: 1;
}

.box {
	&.mod-grey {
		background-color: _component("box.background");
	}

	&.mod-toggle {
		margin-top: _component("box.toggle.arrow.size");

		&::before {
			border-color: transparent transparent white;
			border-style: solid;
			border-width: 0 _component("box.toggle.arrow.size") _component("box.toggle.arrow.size") _component("box.toggle.arrow.size");
			content: "";
			height: 0;
			left: _component("box.toggle.arrow.left");
			position: absolute;
			bottom: 100%;
			width: 0;
		}

		&.mod-grey {
			&::before {
				border-color: transparent transparent _component("box.background");
			}
		}
	}
}
