.breadcrumbs-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.breadcrumbs-list-item {
	align-items: center;
	display: flex;
	font-size: _theme("sizes.small.font-size");
	line-height: _theme("sizes.small.line-height");

	&:not(:first-child) {
		&::before {
			@include makeIcon("chevron_east");
			padding: 0 _theme("spacings.smallest");
		}
	}
}

.breadcrumbs-list-item-action {
	color: _color("grey", "600");
	transition: color _theme("commons.animations.durations.fast");
	text-decoration: none;
	margin: 0;
	padding: 0;
	border: 0;
	background-color: transparent;
	cursor: pointer;

	&:focus,
	&:hover {
		color: _color("grey", "800");
	}
}


// STATES
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

.breadcrumbs-list-item-action {
	&.is-active,
	&[aria-current="page"] {
		text-decoration: none;
		cursor: default;
		font-weight: 600;

		&,
		&:hover {
			color: _color("grey", "600");
		}
	}
}

// MODS
// ▒▒▒▒

.breadcrumbs.mod-compact {
	.breadcrumbs-list-item {
		// two items
		&:nth-last-child(2):first-child,
		&:nth-last-child(2):first-child + .breadcrumbs-list-item {
			&:last-child {
				@include mask;
			}

			&:first-child {
				.breadcrumbs-list-item-action {
					display: flex;
					align-items: center;

					&::before {
						@include makeIcon("format_undo");
						padding-right: _theme("spacings.smallest");
					}
				}
			}
		}
	}
}
