.breadcrumb {
	margin-bottom: _theme("spacings.smaller");

	&::before {
		@include makeIcon("arrow_west");
		font-size: .75rem;
		color: _color("text.light");
		margin-right: _theme("spacings.smaller");
	}
}

.breadcrumb-item {
	color: _color("text.light");
	cursor: pointer;
	transition: color _theme("commons.animations.durations.fast") ease;

	&:hover {
		color: _color("text.default");
	}

	&:not(:first-child) {
		&::before {
			content: "/";
			color: _color("text.placeholder");
			display: inline-block;
			padding: 0 .5rem;
		}
	}
}


// MODS
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

.breadcrumb-item {
	&.is-active {
		text-decoration: none;
		cursor: default;
		color: _color("text.light");

		&:hover {
			color: _color("text.light");
		}
	}
}
