.breadcrumb {

	&:before {
		@include makeIcon("arrow_west");
		font-size: .75rem;
		color: _color("text.light");
	}
}

.breadcrumb-item {
	color: _color("text.light");
	cursor: pointer;
	transition: color 150ms ease;

	&:hover {
		color: _color("text.default");
	}

	&:not(:first-child) {
		&:before {
			content: '/';
			text-decoration: underline;
			color: _color("text.placeholder");
			display: inline-block;
			margin: 0 2px;
			text-decoration: none;
		}
	}
}


// MODS
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

.breadcrumb-item {
	&.is-active {
		text-decoration: none;
		cursor: default;
		color: _color("text.light");

		&:hover {
			color: _color("text.light");
		}
	}
}
