.button {
	background: white;
	border: 0;
	border-radius: 3px;
	box-shadow: 0 0 0 1px rgba(50, 50, 50, .2) inset;
	color: _theme("palette.colors.grey");
	cursor: pointer;
	display: inline-block;
	font-size: _theme("font.size.small");
	line-height: 1;
	margin: .2rem;
	padding: .55rem .85rem;
	position: relative;
	text-decoration: none;
	transition: box-shadow 150ms ease, background 150ms ease, color 150ms ease;
	vertical-align: middle;
	white-space: nowrap;

	&:hover, &:focus {
		&:not([disabled]) {
			box-shadow: 0 0 0 1px rgba(50, 50, 50, .2) inset, 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
		}
	}

	&:active {
		background: #F2F2F2;
		box-shadow: 0 0 0 1px rgba(50, 50, 50, .2) inset;
		outline: 0;

		&:focus {
			outline: 0;
		}
	}
}


// MODS
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

.button {
	/* Style */

	&.mod-flat {
		background: transparent;
		box-shadow: none;
		text-decoration: underline;

		&:hover, &:focus {
			color: black;
		}
	}

	&.mod-wired {
		background: transparent;

		&:hover, &:focus {
			box-shadow: 0 0 0 2px _theme("palette.colors.primary") inset;
			color: _theme("palette.colors.primary");
		}
	}

	&.mod-filling {
		&:hover, &:focus {
			background: _theme("palette.colors.primary");
		}
	}

	/* Colors */

	&.mod-primary {
		background: _theme("palette.colors.primary");

		&:active {
			background: darken(_theme("palette.colors.primary"), 5%);
		}
	}

	&.mod-secondary {
		background: _theme("palette.colors.secondary");
		color: white;

		&:active {
			background: darken(_theme("palette.colors.secondary"), 5%);
		}
	}

	&.mod-grey {
		background: _theme("palette.colors.grey");
		color: white;

		&:active {
			background: darken(_theme("palette.colors.grey"), 5%);
		}
	}

	&.mod-light {
		background: _theme("palette.colors.light");

		&:active {
			background: darken(_theme("palette.colors.light"), 5%);
		}
	}

	&.mod-error {
		background: _theme("palette.colors.error");
		color: white;

		&:active {
			background: darken(_theme("palette.colors.error"), 5%);
		}
	}

	&.mod-warning {
		background: _theme("palette.colors.warning");
		color: white;

		&:active {
			background: darken(_theme("palette.colors.warning"), 5%);
		}
	}

	&.mod-success {
		background: _theme("palette.colors.success");
		color: white;

		&:active {
			background: darken(_theme("palette.colors.success"), 5%);
		}
	}

	/* Size */

	&.mod-smaller {
		font-size: _theme("font.size.smaller");
		padding: .3rem .5rem;
	}

	&.mod-small {
		font-size: _theme("font.size.smaller");
		padding: .45rem .7rem;
	}

	&.mod-big {
		font-size: 1rem;
		padding: .7rem 1rem;
	}

	&.mod-bigger {
		font-size: 1.15rem;
		padding: 1rem 1.5rem;
	}
}


// STATES
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

.button {
	/* Disabled */

	&[disabled] {
		cursor: default;
		opacity: _theme("commons.disabled.opacity");
	}

	&.is-disabled {
		opacity: _theme("commons.disabled.opacity");
		pointer-events: none;
	}


	/* Loading */

	&.is-loading {
		color: transparent;
		@include loading(1rem);
		opacity: _theme("commons.disabled.opacity");
		pointer-events: none;
		user-select: none;

		&.mod-smaller {
			@include loading(.7rem);
		}

		&.mod-small {
			@include loading(.85rem);
		}

		&.mod-big {
			@include loading(1.25rem);
		}

		&.mod-bigger {
			@include loading(1.5rem);
		}
	}

	/* Success */

	&.is-success {
		background: _theme("palette.colors.success");
		color: transparent;
		pointer-events: none;
		user-select: none;

		&::after {
			color: white;
			content: "\e923";
			font-family: "Lucca icons";
			font-size: 1.5rem;
			height: 100%;
			left: 0;
			line-height: 100%;
			padding-top: 4%;
			position: absolute;
			right: 0;
			top: 0;
			vertical-align: middle;
		}

		&.mod-smaller {
			&::after {
				font-size: 1rem;
			}
		}

		&.mod-small {
			&::after {
				font-size: 1.2rem;
			}
		}

		&.mod-big {
			&::after {
				font-size: 1.9rem;
			}
		}

		&.mod-bigger {
			&::after {
				font-size: 2.6rem;
			}
		}
	}

	/* Error */

	&.is-error {
		background: _theme("palette.colors.error");
		color: transparent;
		pointer-events: none;
		user-select: none;

		&::after {
			color: white;
			content: "\e924";
			font-family: "Lucca icons";
			font-size: 1.5rem;
			height: 100%;
			left: 0;
			line-height: 100%;
			padding-top: 4%;
			position: absolute;
			right: 0;
			top: 0;
			vertical-align: middle;
		}

		&.mod-smaller {
			&::after {
				font-size: 1rem;
			}
		}

		&.mod-small {
			&::after {
				font-size: 1.2rem;
			}
		}

		&.mod-big {
			&::after {
				font-size: 1.9rem;
			}
		}

		&.mod-bigger {
			&::after {
				font-size: 2.6rem;
			}
		}
	}
}


// WRAPPER
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

.buttons {
	display: flex;
	margin: .2rem;

	.button {
		border-radius: 0;
		display: block;
		margin: 0 0 0 -1px;
		position: relative;

		&:first-child {
			border-radius: 3px 0 0 3px;
		}

		&:last-child {
			border-radius: 0 3px 3px 0;
		}

		&:hover, &:focus {
			z-index: 1;
		}
	}
}
