.callout {
	background: white;
	box-shadow: 0 2px 3px rgba(0, 0, 0, .15),
							0 0 2px rgba(0, 0, 0, .3);
	margin-bottom: .5rem;
	padding: 1.5rem;
	position: relative;

	&::before {
		background: #CCCCCC;
		bottom: -1px;
		content: "";
		display: block;
		left: -1px;
		position: absolute;
		top: -1px;
		width: 4px;
	}
}


// MODS
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

.callout {
	&.mod-success {
		&::before {
			background: $green;
		}
	}

	&.mod-warning {
		&::before {
			background: $orange;
		}
	}

	&.mod-error {
		&::before {
			background: $red;
		}
	}
}
