.callout {
	background: white;
	box-shadow: unquote(_theme("commons.box-shadow"));
	margin-bottom: .5rem;
	padding: 1.5rem;
	position: relative;

	&::before {
		background: #CCCCCC;
		bottom: -1px;
		content: "";
		display: block;
		left: -1px;
		position: absolute;
		top: -1px;
		width: 4px;
	}
}


// MODS
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒


@mixin calloutDefaultPalette($palette) {
	&::before {
		background: _get($palette, "color");
	}
}
.callout:not(.mod-filled) {
	@each $name, $palette in _palettes() {
		&.palette-#{$name} {
			@include calloutDefaultPalette($palette);
		}
	}
}
