.callout {
	background: _theme("commons.background.dark");
	border-radius: _theme("commons.border.radius");
	margin: _component("callout.margin");
	padding: 1rem 1.5rem;
	position: relative;
}

.callout-title {
	font-weight: 600;

	&::after {
		content: " —";
		font-weight: normal;
	}
}

.callout-kill {
	background: transparent;
	border: 0;
	color: _color("text.default");
	cursor: pointer;
	height: 1rem;
	opacity: .5;
	padding: 0;
	position: absolute;
	right: .25rem;
	top: .25rem;
	transition: 150ms background ease;
	width: 1rem;

	&::before {
		@include makeIcon("cross");
		font-family: "Lucca icons";
	}

	&:hover {
		opacity: 1;
	}
}

.callout-icon {
	position: absolute;
	top: 0;
	bottom: .2rem;
	left: .75rem;
	height: 2rem;
	width: 2rem;
	margin: auto;
	border-radius: 50%;
	line-height: 2rem;
	text-align: center;

	.lucca-icon {
		font-size: 1.5rem;
	}
}

// MODS
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

.callout {
	&.mod-icon {
		padding-left: 3rem;
	}
}

@mixin calloutDefaultPalette($palette) {
	background: rgba(_get($palette, "color"), .10);
	color: darken(_get($palette, "color"), 20%);

	.callout-icon {
		color: _get($palette, "color");
	}

	.callout-kill {
		color: _get($palette, "color");
	}
}
.callout {
	@each $name, $palette in _palettes() {
		&.palette-#{$name} {
			@include calloutDefaultPalette($palette);
		}
	}
}
