.card {
	background: white;
	border-radius: 3px;
	@include elevate(1);
	display: block;
	margin-bottom: 1rem;
	position: relative;
	transition: all 150ms ease;
}

.card-content {
	padding: _theme("component.card.content.padding");
}

.card-footer {
	align-items: center;
	border-top: _theme("commons.divider.width") solid _theme("commons.divider.color");
	display: flex;
	min-height: 3rem;
	padding: _theme("component.card.footer.padding");
}

.card-footer-right {
	margin-left: auto;
}


// MODS
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

.card {
	&.mod-grey {
		background: _theme("commons.background.color");
	}

	&.mod-clickable {
		color: _color("text.default");
		cursor: pointer;
		text-decoration: none;

		&:hover {
			@include elevate(3);
		}
	}
}
