.card {
	background-color: _color("white");
	border-radius: _component("card.border.radius");
	border: 1px solid _component("card.border.color");
	display: block;
	margin-bottom: 1rem;
	position: relative;
	transition: background-color _theme("commons.animations.durations.fast") ease, color _theme("commons.animations.durations.fast") ease, box-shadow _theme("commons.animations.durations.fast") ease;
}

.card-content {
	padding: _component("card.content.padding");
}

.card-footer {
	align-items: center;
	border-top: 1px solid _component("card.border.color");
	display: flex;
	min-height: 3rem;
	padding: _component("card.footer.padding");
}

.card-footer-right {
	margin-left: auto;
}


// MODS
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

.card {
	&.mod-grey {
		background-color: _component("card.mod-grey");
	}

	&.mod-clickable {
		color: _color("text.default");
		cursor: pointer;
		text-decoration: none;

		&:hover {
			border-color: _component("card.hover.border");
			background-color: _component("card.hover.background");
		}
	}

	&.mod-elevated {
		border: 0;
		@include elevate(1);
		&.mod-clickable:hover {
			@include elevate(3);
		}
	}
}


// STATES
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒


.card {
	&.is-disabled {
		background-color: _theme("commons.disabled.background");
		color: _theme("commons.disabled.color");

		h1, h2, h3, h4, h5, h6 {
			color: _theme("commons.disabled.color");
		}

		.u-h1, .u-h2 .u-h3, .u-h4, .u-h5, .u-h6 {
			color: _theme("commons.disabled.color") !important;
		}
	}
}
