.chip {
	background: #EEEEEE;
	border-radius: 1rem;
	display: inline-block;
	margin: 0 .2rem .3rem 0;
	padding: .15rem 1.8rem .15rem .75rem;
	position: relative;
	vertical-align: middle;
}

.chip-kill {
	background-color: #CCCCCC;
	border: 0;
	border-radius: 50%;
	bottom: 0;
	color: white;
	cursor: pointer;
	font-size: .8rem;
	font-weight: 700;
	height: 1rem;
	margin: auto;
	padding: .05rem 0 0;
	position: absolute;
	right: .5rem;
	top: 0;
	transition: 150ms background ease;
	width: 1rem;

	&::before {
		@include makeIcon("cross");
		font-family: "Lucca icons";
	}

	&:hover {
		background-color: _color("error");
	}
}


// MODS
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

.chip {
	&.mod-unkillable {
		padding: .15rem .75rem;

		.chip-kill {
			display: none;
		}
	}
}
