.code {
	background: #fef1f5;
	border-radius: 3px;
	color: #ec407a;
	font-size: 0.8rem;
	line-height: 1.4rem;
	margin: 0.1rem;
	padding: 0 0.3rem;
	tab-size: 2;
	white-space: nowrap;
}

// MODS
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

.code {
	&.mod-block {
		display: block;
		margin: 0.5rem 0;
		padding: 1rem;
		white-space: pre-wrap;
	}
}
