.code {
	background: #FEF1F5;
	border-radius: 3px;
	color: #EC407A;
	font-size: .8rem;
	line-height: 1.4rem;
	margin: .1rem;
	padding: 0 .3rem;
	tab-size: 2;
	white-space: nowrap;
}


// MODS
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

.code {
	&.mod-block {
		display: block;
		margin: .5rem 0;
		padding: 1rem;
		white-space: pre-wrap;
	}
}
