.collapse {
	display: block;
}

.collapse-title {
	cursor: pointer;
	display: inline-flex;
	margin-bottom: _theme("spacings.smallest");
	overflow: hidden;

	&:focus-within,
	&:hover {
		color: _color("text.dark");
	}

	&::before {
		@include makeIcon("chevron_east");

		font-size: _theme("sizes.smaller.font-size");
		margin-right: _theme("spacings.smallest");
		transition: transform _theme("commons.animations.durations.fast");
	}
}


// STATES
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

.collapse {
	&:not([open]) {
		&:not(.is-open) {
			> .collapse-content {
				display: none;
			}
		}
	}

	&.is-open,
	&[open] {
		> .collapse-title {
			&::before {
				transform: rotate(90deg);
			}
		}
	}
}
