.communicationBanner {
	background-color: _color("primary", "700");
	color: _color("white");
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: _theme("spacings.smaller") _theme("spacings.standard") _theme("spacings.smaller") _theme("spacings.bigger");
	position: relative;
}

.communicationBanner-visual {
	bottom: 0;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	width: _theme("spacings.bigger");
}

.communicationBanner-blob {
	fill: _color("primary", "600");
	height: 100%;
	position: absolute;
	width: 100%;
}
.communicationBanner-illustration {
	height: 100%;
	left: _theme("spacings.smallest");
	position: absolute;
	top: _theme("spacings.smallest");
	width: _theme("spacings.standard");
}

.communicationBanner-title {
	font-size: _theme("sizes.small.font-size");
}

// MODS
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

.communicationBanner {
	&.mod-light {
		background-color: _color("grey", "100");
		color: _color("grey", "800");

		.communicationBanner-blob {
			fill: _color("primary", "300");
		}
	}
}
