.container {
	margin: 0 auto;
	padding: 0 .5rem;

	@each $bp-name, $bp-obj in $breakpoints {
		@media only screen and (min-width: map-get($bp-obj, breakAt)) {
			width: map-get($bp-obj, breakAt) -  map-get($bp-obj, spacing);
		}
	}

	@media (max-width: _components("container.min-width")) {
		width: 100%;
	}
}


// MODS
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

.container {
	@each $bp-name, $bp-obj in $breakpoints {
		&.mod-#{$bp-name} {
			max-width: map-get($bp-obj, breakAt) - map-get($bp-obj, spacing);
		}
	}
}


// LAYOUT WITH ASIDE
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

.navSide ~ .main-content {
	.container {
		@each $bp-name, $bp-obj in $breakpoints {
			@media only screen and (min-width: map-get($bp-obj, breakAt)) {
				width: map-get($bp-obj, breakAt) -  map-get($bp-obj, spacing) - _theme("components.navSide.width");
			}
		}

		@media (max-width: _theme("breakpoints.sm.breakAt")) {
			width: calc(100% - _theme("components.navSide.width"));
		}
	}
}
