.container {
	margin: 0 auto;
	padding: 0 2rem;
	width: _theme("breakpoints.xl") - 40px;

	@media (max-width: _theme("breakpoints.xl")) {
		width: _theme("breakpoints.lg") - 40px;
	}

	@media (max-width: _theme("breakpoints.lg")) {
		width: _theme("breakpoints.md") - 40px;
	}

	@media (max-width: _theme("breakpoints.md")) {
		width: _theme("breakpoints.sm") - 40px;
	}

	@media (max-width: _theme("breakpoints.sm")) {
		width: 100%;
	}
}


// MODS
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

.container {
	&.mod-sm {
		max-width: _theme("breakpoints.sm");
	}

	&.mod-md {
		max-width: _theme("breakpoints.md");
	}

	&.mod-lg {
		max-width: _theme("breakpoints.lg");
	}

	&.mod-xl {
		max-width: _theme("breakpoints.xl");
	}

	&.mod-navSide {
		width: _theme("breakpoints.xl") - 170px;

		@media (max-width: _theme("breakpoints.xl")) {
			width: _theme("breakpoints.lg") - 170px;
		}

		@media (max-width: _theme("breakpoints.lg")) {
			width: _theme("breakpoints.md") - 170px;
		}

		@media (max-width: _theme("breakpoints.md")) {
			width: _theme("breakpoints.sm") - 170px;
		}
	}
}
