.emptyState {
	margin: 6rem auto 4rem;
	text-align: center;
	max-width: 30rem;
}

.emptyState-title {
	color: _color("text.light");
}

.emptyState-description {
	color: _color("text.light");
	margin-bottom: 2rem;
}
