.emptystate {
	margin: 6rem auto 4rem;
	max-width: 30rem;
	text-align: center;
}

.emptystate-title {
	color: _color("text.light");
}

.emptystate-description {
	color: _color("text.light");
	margin-bottom: 2rem;
}
