.filters {
	@include elevate(1);
	align-items: flex-end;
	background: _component("filters.background");
	display: flex;
	position: relative;
	z-index: 1;
}

.filters-contentLeft {
	display: flex;
}

.filters-contentLeft-item {
	padding: _component("filters.padding");
	border-right: _theme("commons.divider.width") solid _theme("commons.divider.color");
}

.filters-contentRight {
	display: flex;
	margin-left: auto;
}

.filters-contentRight-item {
	padding: _component("filters.padding");
	border-left: _theme("commons.divider.width") solid _theme("commons.divider.color");
}



// MODS
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

.filters {
	&.mod-sticky {
		position: sticky;
		top: 0;
	}
}


// CHILDS COMPONENTS
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

.filters {
	.textfield {

		&.mod-compact {
			margin: 0;
		}

		&.mod-framed {
			border-right: _theme("commons.divider.width") solid _theme("commons.divider.color");
			max-width: 16rem;

			.textfield-input {
				box-shadow: none !important;
			}
		}
	}
}
