.filters {
	align-items: flex-end;
	background: white;
	box-shadow: 0 2px 3px rgba(0, 0, 0, .15);
	display: flex;
	justify-content: space-between;
	padding: .25rem 1rem .5rem;
	position: relative;
	z-index: 1;
}
