.filters {
	@include elevate(1);
	align-items: center;
	background: _component("filters.background");
	display: flex;
	min-height: _component("filters.height");
	position: relative;
	z-index: 99;
}

.filters-sectionLeft {
	align-items: center;
	display: flex;
	padding-right: 2rem;
}

.filters-sectionRight {
	align-items: center;
	display: flex;
	margin-left: auto;
	padding-left: 2rem;
}


// MODS
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒


.navSide ~ .main-content, .mod-withMenu .main-content {
	.filters.mod-sticky {
		left: _theme("components.navSide.width");
	}
}

.navSide.mod-compact ~ .main-content, .mod-withMenuCompact .main-content {
	.filters.mod-sticky {
		left: _theme("components.navSide.compact.width");
	}
}

.filters {
	&.mod-sticky {
		position: fixed;
		left: 0;
		right: 0;
		top: 0;

		@include media_smaller_than("md") {
			left: 0 !important;
			top: _component("navSide.mobile.toggle-height");
		}
	}
}


// CHILDS COMPONENTS
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

.filters {
	.textfield {
		&.mod-framed {
			border-right: _theme("commons.divider.width") solid _theme("commons.divider.color");
			max-width: 16rem;

			.textfield-input {
				box-shadow: none !important;
			}
		}
	}
}

.filters-sectionRight {
	.textfield {
		&.mod-framed {
			border-left: _theme("commons.divider.width") solid _theme("commons.divider.color");
			border-right: 0;
		}
	}
}
