.gauge {
	background-color: rgba(0, 0, 0, .05);
	border-radius: _theme("commons.border.radius");
	height: _component("gauge.height");
	overflow: hidden;
	position: relative;
}

.gauge-bar {
	top: 0;
	left: 0;
	position: absolute;
	transition: border-color _theme("commons.animations.durations.standard") ease, width _theme("commons.animations.durations.standard") ease, height _theme("commons.animations.durations.standard") ease;
	border-bottom-width: _component("gauge.height");
	border-bottom-style: solid;
	border-color: currentColor;
}


/////////////////////////////////////
// MODS

.gauge {
	&.mod-thin {
		height: _component("gauge.thin.height");

		.gauge-bar {
			border-bottom-width: _component("gauge.thin.height");
		}
	}

	&.mod-vertical {
		height: 100%;
		width: _component("gauge.height");

		.gauge-bar {
			border-bottom-width: 0;
			border-left-style: solid;
			border-left-width: _component("gauge.height");
		}

		&.mod-thin {
			width: _component("gauge.thin.height");

			.gauge-bar {
				border-left-width: _component("gauge.thin.height");
			}
		}
	}
}


// PALETTES
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

.gauge {
	@mixin gaugeColoring($palette) {
		color: _color($palette);
	}

	.gauge-bar {
		@include gaugeColoring("gauge.default-palette");
	}

	// palette colors
	@each $name, $palette in _getMap("palettes") {
		&.palette-#{$name} {
			.gauge-bar {
				@include gaugeColoring($name);
			}
		}
	}
}
