.global {
	padding: 4rem 0 4rem _theme("navSide.width");
}

// MODS
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

.global {

	&.mod-noAside {
		padding-left: 0;
	}

	&.mod-sections {
		padding-top: 0;
		padding-bottom: 0;
	}

	&.mod-filters{
		padding-top: 0;
	}
}
