.grid {
	display: flex;
	flex: 0 1 auto;
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: -.5rem;
	margin-right: -.5rem;
	width: 100%;
}

.grid-xs, .grid-xs1, .grid-xs2, .grid-xs3, .grid-xs4, .grid-xs5, .grid-xs6, .grid-xs7, .grid-xs8, .grid-xs9, .grid-xs10, .grid-xs11, .grid-xs12, .grid-sm, .grid-sm1, .grid-sm2, .grid-sm3, .grid-sm4, .grid-sm5, .grid-sm6, .grid-sm7, .grid-sm8, .grid-sm9, .grid-sm10, .grid-sm11, .grid-sm12, .grid-md, .grid-md1, .grid-md2, .grid-md3, .grid-md4, .grid-md5, .grid-md6, .grid-md7, .grid-md8, .grid-md9, .grid-md10, .grid-md11, .grid-md12, .grid-lg, .grid-lg1, .grid-lg2, .grid-lg3, .grid-lg4, .grid-lg5, .grid-lg6, .grid-lg7, .grid-lg8, .grid-lg9, .grid-lg10, .grid-lg11, .grid-lg12 {
	flex: 0 0 auto;
	flex-basis: 100%;
	max-width: 100%;
	padding-left: .5rem;
	padding-right: .5rem;
}

/* XS - Columns */

.grid-xs {
	flex-basis: 0;
	flex-grow: 1;
	max-width: 100%;
}

.grid-xs1 {
	flex-basis: 8.333%;
	max-width: 8.333%;
}

.grid-xs2 {
	flex-basis: 16.667%;
	max-width: 16.667%;
}

.grid-xs3 {
	flex-basis: 25%;
	max-width: 25%;
}

.grid-xs4 {
	flex-basis: 33.333%;
	max-width: 33.333%;
}

.grid-xs5 {
	flex-basis: 41.667%;
	max-width: 41.667%;
}

.grid-xs6 {
	flex-basis: 50%;
	max-width: 50%;
}

.grid-xs7 {
	flex-basis: 58.333%;
	max-width: 58.333%;
}

.grid-xs8 {
	flex-basis: 66.667%;
	max-width: 66.667%;
}

.grid-xs9 {
	flex-basis: 75%;
	max-width: 75%;
}

.grid-xs10 {
	flex-basis: 83.333%;
	max-width: 83.333%;
}

.grid-xs11 {
	flex-basis: 91.667%;
	max-width: 91.667%;
}

.grid-xs12 {
	flex-basis: 100%;
	max-width: 100%;
}

/* XS - Offsets */

.grid-xsOffset1 {
	margin-left: 8.333%;
}

.grid-xsOffset2 {
	margin-left: 16.667%;
}

.grid-xsOffset3 {
	margin-left: 25%;
}

.grid-xsOffset4 {
	margin-left: 33.333%;
}

.grid-xsOffset5 {
	margin-left: 41.667%;
}

.grid-xsOffset6 {
	margin-left: 50%;
}

.grid-xsOffset7 {
	margin-left: 58.333%;
}

.grid-xsOffset8 {
	margin-left: 66.667%;
}

.grid-xsOffset9 {
	margin-left: 75%;
}

.grid-xsOffset10 {
	margin-left: 83.333%;
}

.grid-xsOffset11 {
	margin-left: 91.667%;
}

/* SM - Columns */

@media only screen and (min-width: _theme("breakpoints.sm.breakAt")) {
	.grid-sm {
		flex-basis: 0;
		flex-grow: 1;
		max-width: 100%;
	}

	.grid-sm1 {
		flex-basis: 8.333%;
		max-width: 8.333%;
	}

	.grid-sm2 {
		flex-basis: 16.667%;
		max-width: 16.667%;
	}

	.grid-sm3 {
		flex-basis: 25%;
		max-width: 25%;
	}

	.grid-sm4 {
		flex-basis: 33.333%;
		max-width: 33.333%;
	}

	.grid-sm5 {
		flex-basis: 41.667%;
		max-width: 41.667%;
	}

	.grid-sm6 {
		flex-basis: 50%;
		max-width: 50%;
	}

	.grid-sm7 {
		flex-basis: 58.333%;
		max-width: 58.333%;
	}

	.grid-sm8 {
		flex-basis: 66.667%;
		max-width: 66.667%;
	}

	.grid-sm9 {
		flex-basis: 75%;
		max-width: 75%;
	}

	.grid-sm10 {
		flex-basis: 83.333%;
		max-width: 83.333%;
	}

	.grid-sm11 {
		flex-basis: 91.667%;
		max-width: 91.667%;
	}

	.grid-sm12 {
		flex-basis: 100%;
		max-width: 100%;
	}

	/* SM - Offsets */

	.grid-smOffset1 {
		margin-left: 8.333%;
	}

	.grid-smOffset2 {
		margin-left: 16.667%;
	}

	.grid-smOffset3 {
		margin-left: 25%;
	}

	.grid-smOffset4 {
		margin-left: 33.333%;
	}

	.grid-smOffset5 {
		margin-left: 41.667%;
	}

	.grid-smOffset6 {
		margin-left: 50%;
	}

	.grid-smOffset7 {
		margin-left: 58.333%;
	}

	.grid-smOffset8 {
		margin-left: 66.667%;
	}

	.grid-smOffset9 {
		margin-left: 75%;
	}

	.grid-smOffset10 {
		margin-left: 83.333%;
	}

	.grid-smOffset11 {
		margin-left: 91.667%;
	}
}

/* MD - Columns */

@media only screen and (min-width: _theme("breakpoints.md.breakAt")) {
	.grid-md {
		flex-basis: 0;
		flex-grow: 1;
		max-width: 100%;
	}

	.grid-md1 {
		flex-basis: 8.333%;
		max-width: 8.333%;
	}

	.grid-md2 {
		flex-basis: 16.667%;
		max-width: 16.667%;
	}

	.grid-md3 {
		flex-basis: 25%;
		max-width: 25%;
	}

	.grid-md4 {
		flex-basis: 33.333%;
		max-width: 33.333%;
	}

	.grid-md5 {
		flex-basis: 41.667%;
		max-width: 41.667%;
	}

	.grid-md6 {
		flex-basis: 50%;
		max-width: 50%;
	}

	.grid-md7 {
		flex-basis: 58.333%;
		max-width: 58.333%;
	}

	.grid-md8 {
		flex-basis: 66.667%;
		max-width: 66.667%;
	}

	.grid-md9 {
		flex-basis: 75%;
		max-width: 75%;
	}

	.grid-md10 {
		flex-basis: 83.333%;
		max-width: 83.333%;
	}

	.grid-md11 {
		flex-basis: 91.667%;
		max-width: 91.667%;
	}

	.grid-md12 {
		flex-basis: 100%;
		max-width: 100%;
	}

	/* MD - Offsets */

	.grid-mdOffset1 {
		margin-left: 8.333%;
	}

	.grid-mdOffset2 {
		margin-left: 16.667%;
	}

	.grid-mdOffset3 {
		margin-left: 25%;
	}

	.grid-mdOffset4 {
		margin-left: 33.333%;
	}

	.grid-mdOffset5 {
		margin-left: 41.667%;
	}

	.grid-mdOffset6 {
		margin-left: 50%;
	}

	.grid-mdOffset7 {
		margin-left: 58.333%;
	}

	.grid-mdOffset8 {
		margin-left: 66.667%;
	}

	.grid-mdOffset9 {
		margin-left: 75%;
	}

	.grid-mdOffset10 {
		margin-left: 83.333%;
	}

	.grid-mdOffset11 {
		margin-left: 91.667%;
	}
}

/* LG - Columns */

@media only screen and (min-width: _theme("breakpoints.lg.breakAt")) {
	.grid-lg {
		flex-basis: 0;
		flex-grow: 1;
		max-width: 100%;
	}

	.grid-lg1 {
		flex-basis: 8.333%;
		max-width: 8.333%;
	}

	.grid-lg2 {
		flex-basis: 16.667%;
		max-width: 16.667%;
	}

	.grid-lg3 {
		flex-basis: 25%;
		max-width: 25%;
	}

	.grid-lg4 {
		flex-basis: 33.333%;
		max-width: 33.333%;
	}

	.grid-lg5 {
		flex-basis: 41.667%;
		max-width: 41.667%;
	}

	.grid-lg6 {
		flex-basis: 50%;
		max-width: 50%;
	}

	.grid-lg7 {
		flex-basis: 58.333%;
		max-width: 58.333%;
	}

	.grid-lg8 {
		flex-basis: 66.667%;
		max-width: 66.667%;
	}

	.grid-lg9 {
		flex-basis: 75%;
		max-width: 75%;
	}

	.grid-lg10 {
		flex-basis: 83.333%;
		max-width: 83.333%;
	}

	.grid-lg11 {
		flex-basis: 91.667%;
		max-width: 91.667%;
	}

	.grid-lg12 {
		flex-basis: 100%;
		max-width: 100%;
	}

	/* LG - Offsets */

	.grid-lgOffset1 {
		margin-left: 8.333%;
	}

	.grid-lgOffset2 {
		margin-left: 16.667%;
	}

	.grid-lgOffset3 {
		margin-left: 25%;
	}

	.grid-lgOffset4 {
		margin-left: 33.333%;
	}

	.grid-lgOffset5 {
		margin-left: 41.667%;
	}

	.grid-lgOffset6 {
		margin-left: 50%;
	}

	.grid-lgOffset7 {
		margin-left: 58.333%;
	}

	.grid-lgOffset8 {
		margin-left: 66.667%;
	}

	.grid-lgOffset9 {
		margin-left: 75%;
	}

	.grid-lgOffset10 {
		margin-left: 83.333%;
	}

	.grid-lgOffset11 {
		margin-left: 91.667%;
	}
}


// MODS
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

.grid {
	&.mod-reverse {
		flex-direction: row-reverse;
	}

	/* XS - Mods */

	&.mod-xsStart {
		justify-content: flex-start;
		text-align: start;
	}

	&.mod-xsCenter {
		justify-content: center;
		text-align: center;
	}

	&.mod-xsEnd {
		justify-content: flex-end;
		text-align: end;
	}

	&.mod-xsTop {
		align-items: flex-start;
	}

	&.mod-xsMiddle {
		align-items: center;
	}

	&.mod-xsBottom {
		align-items: flex-end;
	}

	&.mod-around-xs {
		justify-content: space-around;
	}

	&.mod-between-xs {
		justify-content: space-between;
	}

	/* SM - Mods */

	@media only screen and (min-width: _theme("breakpoints.sm.breakAt")) {
		.mod-smStart {
			justify-content: flex-start;
			text-align: start;
		}

		.mod-smCenter {
			justify-content: center;
			text-align: center;
		}

		.mod-smEnd {
			justify-content: flex-end;
			text-align: end;
		}

		.mod-smTop {
			align-items: flex-start;
		}

		.mod-smMiddle {
			align-items: center;
		}

		.mod-smBottom {
			align-items: flex-end;
		}

		.mod-around-sm {
			justify-content: space-around;
		}

		.mod-between-sm {
			justify-content: space-between;
		}
	}

	/* MD - Mods */

	@media only screen and (min-width: _theme("breakpoints.md.breakAt")) {
		.mod-mdStart {
			justify-content: flex-start;
			text-align: start;
		}

		.mod-mdCenter {
			justify-content: center;
			text-align: center;
		}

		.mod-mdEnd {
			justify-content: flex-end;
			text-align: end;
		}

		.mod-mdTop {
			align-items: flex-start;
		}

		.mod-mdMiddle {
			align-items: center;
		}

		.mod-mdBottom {
			align-items: flex-end;
		}

		.mod-around-md {
			justify-content: space-around;
		}

		.mod-between-md {
			justify-content: space-between;
		}
	}

	/* LG - Mods */

	@media only screen and (min-width: _theme("breakpoints.lg.breakAt")) {
		.mod-lgStart {
			justify-content: flex-start;
			text-align: start;
		}

		.mod-lgCenter {
			justify-content: center;
			text-align: center;
		}

		.mod-lgEnd {
			justify-content: flex-end;
			text-align: end;
		}

		.mod-lgTop {
			align-items: flex-start;
		}

		.mod-lgMiddle {
			align-items: center;
		}

		.mod-lgBottom {
			align-items: flex-end;
		}

		.mod-around-lg {
			justify-content: space-around;
		}

		.mod-between-lg {
			justify-content: space-between;
		}
	}
}


// GRID UTILITIES
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

.u-xsFirst {
	order: -1;
}

.u-xsLast {
	order: 1;
}

.u-smFirst {
	order: -1;
}

.u-smLast {
	order: 1;
}

.u-mdFirst {
	order: -1;
}

.u-mdLast {
	order: 1;
}

.u-lgFirst {
	order: -1;
}

.u-lgLast {
	order: 1;
}
