.grid {
	display: flex;
	flex: 0 1 auto;
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: -.5rem;
	margin-right: -.5rem;
}

%allColumns {
	flex: 0 0 auto;
	flex-basis: 100%;
	max-width: 100%;
	padding-left: .5rem;
	padding-right: .5rem;
	position: relative;
}

@each $bp-name, $bp-obj in $breakpoints {
	.grid-#{$bp-name} {
		@extend %allColumns;
	}
	@for $i from 1 through 12 {
		.grid-#{$bp-name}#{$i} {
			@extend %allColumns;
		}
	}
}

@each $bp-name, $bp-obj in $breakpoints {
	@media (min-width: map-get($bp-obj, breakAt)) {
		.grid-#{$bp-name} {
			flex-basis: 0;
			flex-grow: 1;
			max-width: 100%;
		}

		@for $i from 1 through 12 {
			.grid-#{$bp-name}#{$i} {
				flex-basis: percentage($i / 12);
				max-width: percentage($i / 12);
			}

			.grid-#{$bp-name}Offset#{$i} {
				margin-left: percentage($i / 12);
			}
		}
	}
}


// MODS
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

.grid {
	&.mod-reverse {
		flex-direction: row-reverse;
	}

	@each $bp-name, $bp-obj in $breakpoints {
		@media (min-width: map-get($bp-obj, breakAt)) {
			&.mod-#{$bp-name}Start {
				justify-content: flex-start;
				text-align: start;
			}

			&.mod-#{$bp-name}Center {
				justify-content: center;
				text-align: center;
			}

			&.mod-#{$bp-name}End {
				justify-content: flex-end;
				text-align: end;
			}

			&.mod-#{$bp-name}Top {
				align-items: flex-start;
			}

			&.mod-#{$bp-name}Middle {
				align-items: center;
			}

			&.mod-#{$bp-name}Bottom {
				align-items: flex-end;
			}

			&.mod-#{$bp-name}Around {
				justify-content: space-around;
			}

			&.mod-#{$bp-name}Between {
				justify-content: space-between;
			}
		}
	}
}

// GRID UTILITIES
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒
.grid {
	@each $bp-name, $bp-obj in $breakpoints {
		@media (min-width: map-get($bp-obj, breakAt)) {
			.u-#{$bp-name}First {
				order: -1;
			}

			.u-#{$bp-name}Last {
				order: 1;
			}
		}
	}
}
