.header {
	@include elevate(1);
	align-items: center;
	background-color: _component("header.background");
	display: flex;
	min-height: _component("header.height");
	padding: _component("header.padding");
	position: relative;
	z-index: 99;
}

.header-contentLeft {
	display: flex;
}

.header-contentRight {
	display: flex;
	margin-left: auto;
}

.header-nav {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	height: _component("header.height");
	justify-content: center;
	padding-left: calc(#{_component("header.height")} + 1rem);
	position: relative;
}

.header-nav-back {
	border-right: _theme("commons.divider.width") solid _theme("commons.divider.color");
	color: _color("text.light");
	display: block;
	font-size: 1.3rem;
	height: _component("header.height");
	left: 0;
	line-height: _component("header.height");
	position: absolute;
	text-align: center;
	text-decoration: none;
	top: 0;
	transition: all _theme("commons.animations.durations.fast") ease;
	width: _component("header.height");

	&:hover {
		background-color: _theme("commons.background.base");
		color: _color("text.default");
	}

	&::before {
		@include makeIcon("arrow_full_west");
	}
}

.header-nav-category {
	color: _color("text.light");
	font-size: _theme("sizes.small.font-size");
}

.header-nav-title {
	color: _color("primary");
	line-height: 1rem;
	margin: 0;
}


// MODS
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

.navSide ~ .main-content, .mod-withMenu .main-content {
	.header.mod-sticky {
		left: _theme("components.navSide.width");

		@include media_smaller_than("s") {
			top: _component("navSide.mobile.toggle-height");
		}
	}
}

.navSide.mod-compact ~ .main-content, .mod-withMenuCompact .main-content {
	.header.mod-sticky {
		left: _theme("components.navSide.compact.width");

		@include media_smaller_than("s") {
			top: _component("navSide.mobile.toggle-height");
		}
	}
}

.header {
	&.mod-sticky {
		position: fixed;
		left: 0;
		right: 0;
		top: _theme("commons.banner-height");

		@include media_smaller_than(_theme("commons.mobile", true)) {
			left: 0 !important;
			top: calc(#{_theme("commons.banner-height")} + #{_component("navSide.mobile.toggle-height")});

			@include ie11 {
				top: 0;
			}
		}
	}

	&.mod-nav {
		align-items: center;
		padding-bottom: 0;
		padding-left: 0;
		padding-top: 0;
	}
}


// STATES
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

.header {
	&.is-loading {
		height: 75px;

		&::after {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			@include loadingGradientAnimation(rgba(0,0,0, .1), true);
		}
	}
}
