.header {
	@include elevate(1);

	align-items: flex-end;
	background: _component("header.background");
	display: flex;
	padding: _component("header.padding");
	position: relative;
	z-index: 1;
}

.header-contentLeft {
	display: flex;
}

.header-contentRight {
	display: flex;
	margin-left: auto;
}

.header.is-loading {
	height: 75px;
	&::after {
		@include loadingGradientAnimation(rgba(0,0,0, .1), true);

		bottom: 0;
		content: "";
		display: block;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
	}
}


// MODS
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

.header {
	&.mod-sticky {
		position: sticky;
		top: 0;
	}
}
