.input{
	width: 220px;
	padding-top: 1rem;
	position: relative;
}

	.input-field{
		background: transparent;
		border: 0;
		box-shadow: 0 1px 0 0 #ccc;
		color: $grey;
		font-weight: 400;
		font-family: 'Source Sans Pro', Tahoma, sans-serif;
		margin-bottom: .15rem;
		outline: 0;
		padding: .5rem 0;
		position: relative;
		transition: box-shadow 150ms ease,
		            color 150ms ease;
		width: 100%;

		&:focus{
			box-shadow: 0 2px 0 0 $primary;

			~ .input-label{
				color: $primary;
				font-size: $font-small;
				top: 0;
			}
		}
	}

	.input-label{
		color: #a6a6a6;
		left: 0;
		pointer-events: none;
		position: absolute;
		text-overflow: ellipsis;
		top: 1.3rem;
		transition: all 150ms ease;
		width: 100%;
		white-space: nowrap;
		overflow: hidden;
	}

	.input-options{
		background: white;
		border-radius: 3px;
		box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2),
	              0 0 3px rgba(0, 0, 0, 0.3);
		left: 0;
		list-style: none;
		max-height: 15rem;
		min-width: 100%;
		opacity: 0;
		overflow: auto;
		padding: 0;
		position: absolute;
		top: 2.5rem;
		transform: scaleY(0);
		transform-origin: right top;
		transition: all 150ms ease;
		z-index: 999;
	}

		.input-options-entry{
			cursor: pointer;
			padding: .5rem 1rem;
			transition: background 50ms ease;

			&:hover{
				background: rgba(0,0,0,.1);
			}
		}

	.input-error{
		color: $red;
		font-size: $font-small;
		margin: 0;
	}

	.input-helper{
		color: $greyLight;
		font-size: $font-small;
		margin: 0;
	}


// MOD
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

.input{

	&.mod-block{
		width: 100%;
	}

	&.mod-inline{
		display: inline-block;
		margin-left: .15rem;
		margin-right: .15rem;
	}

	&.mod-short{
		width: 150px;
	}

	&.mod-shorter{
		width: 100px;
	}

	&.mod-shortest{
		width: 50px;
	}

	&.mod-autocomplete{

		.input-field{
			padding-right: 1.5rem;
		}

		&:after{
			bottom: .15rem;
			color: $greyLighter;
			content: "\e918";
			font-family: lucca;
			position: absolute;
			right: 0;
		}
	}

	&.mod-select{

		.input-field{
			padding-right: 1.5rem;

			&:focus{
				box-shadow: 0 1px 0 0 #ccc;
			}
		}

		.input-label{
			color: #a6a6a6;
			font-size: $font-standard;
			top: 1.3rem;
		}

		.input-options{
			top: 0;
		}

		&:after{
			bottom: .15rem;
			color: $greyLighter;
			content: "\e918";
			font-family: lucca;
			position: absolute;
			right: 0;
		}
	}
}


// STATES
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

.input-field{

	&[disabled],
	&[readonly]{
		background: transparent;
		box-shadow: none;
		background-image: linear-gradient(to right, #ccc 33%, rgba(255,255,255,0) 0%);
		background-position: bottom;
		background-repeat: repeat-x;
		background-size: 3px 1px;
		color: $greyLighter;
		cursor: not-allowed;
	}
}

.input{

	&.is-open{

		.input-options{
			opacity: 1;
			transform: scaleY(1);
		}

		&:after{
			content: "\e920";
		}
	}

	&.is-filled{

		.input-label{
			font-size: $font-small;
			top: 0;
		}
	}

	&.is-error{

		.input-field{
			box-shadow: 0 2px 0 0 $red;
		}

		.input-label{
			color: $red;
		}
	}
}

.input-options-entry{

	&.is-focus{
		background: rgba(0,0,0,.1);
	}
}