.label {
	background: _theme("commons.background.dark");
	border-radius: 3px;
	display: inline-block;
	color: _color("text.default");
	font-size: _theme("sizes.small.font-size");
	font-weight: 400;
	line-height: 1;
	margin: 0 .3rem;
	padding: .25rem .5rem;
	text-align: center;
	vertical-align: baseline;
	white-space: nowrap;
}


// Palettes
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒
.label {
	@mixin labelColoring($palette) {
		background: _color($palette, see-through);
		color: _color($palette, "darker");
	}

	// palettes coloring
	@each $name, $palette in _getMap("palettes") {
		&.palette-#{$name} {
			@include labelColoring($name);
		}
	}
}
