.label {
	background: #CCCCCC;
	border-radius: 3px;
	color: _get($luTheme, "palette.colors.greyStandard");
	display: inline-block;
	font-size: $font-small;
	font-weight: 400;
	line-height: 1;
	margin: 0 .3rem;
	padding: .25rem .5rem;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
}


// MODS
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

.label {
	&.mod-primary {
		background: _get($luTheme, "palette.colors.primary");
	}

	&.mod-secondary {
		background: _get($luTheme, "palette.colors.secondary");
		color: white;
	}
}
