.label {
	border-radius: 1rem;
	display: inline-block;
	color: _color("text.default");
	font-size: _theme("sizes.small.font-size");
	font-weight: 600;
	line-height: 1;
	margin: 0 .3rem;
	padding: .4rem .8rem;
	text-align: center;
	vertical-align: baseline;
	white-space: nowrap;
}


// Palettes
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒
.label {
	@mixin labelColoring($palette) {
		background: _color($palette, "see-through");
		color: _color($palette, "dark");
	}

	@include labelColoring("label.default-palette");

	// palettes coloring
	@each $name, $palette in _getMap("palettes") {
		&.palette-#{$name} {
			@include labelColoring($name);
		}
	}
}

.label {
	&.mod-number {
		border-radius: _theme("sizes.standard.line-height");
		padding: _theme("spacings.reset");
		height: _theme("sizes.standard.line-height");
		min-width: _theme("sizes.standard.line-height");
		line-height: _theme("sizes.standard.line-height");
		font-weight: 600;
	}
}