.layout {
	min-height: 100vh;
	display: grid;

	@include media_larger_than("l") {
		grid-template-columns: _theme("components.navSide.compact.width") 1fr _theme("components.aside.width");
		grid-template-rows: _theme("commons.banner-height") 1fr;
		grid-template-areas: "banner banner banner"
			"navside content aside";
	}

	@include media_smaller_than("l") {
		grid-template-columns: _theme("components.navSide.compact.width") 1fr;
		grid-template-rows: _theme("commons.banner-height") 1fr auto;
		grid-template-areas: "banner banner"
		"navside content"
		"navside aside";
	}

	@include media_smaller_than("s") {
		grid-template-columns: 1fr;
		grid-template-rows: _theme("commons.banner-height") auto 1fr auto;
		grid-template-areas: "banner"
			"navside"
			"content"
			"aside";
	}
}

.layout-content-container {
	max-width: calc(#{_theme("breakpoints.m.breakAt", true)} / 16px * 1rem);
}

.layout-banner {
	grid-area: banner;
	height: _theme("commons.banner-height");
	background-color: _color("white");
	position: sticky;
	top: 0;
	z-index: 2;
}

.layout-content {
	grid-area: content;
	position: sticky;
	top: _theme("commons.banner-height");
	display: flex;
	flex-direction: column;

	@include media_smaller_than("s") {
		position: static;
	}
}

.layout-content-headers, .layout-content-headers-subheader, .layout-content-headers-header {
	background-color: _color("white");
	position: sticky;
	top: _theme("commons.banner-height");

	@include media_smaller_than("s") {
		position: static;
	}
}

.layout-content-headers-header {
	z-index: 1;
}

.layout-content-inner {
	flex-grow: 1;
}

.layout-content-footer {
	background-color: _color("white");
	position: sticky;
	bottom: 0;

	@include media_smaller_than("s") {
		position: static;
	}
}

.layout-navside, .layout-aside {
	display: flex;
	flex-direction: column;
	align-self: self-start;
	min-height: calc(100vh - #{_theme("commons.banner-height")});
	position: sticky;
	top: _theme("commons.banner-height");

	@include media_smaller_than("s") {
		min-height: 0;
	}
}

.layout-aside {
	@include media_smaller_than("l") {
		min-height: 0;
		position: static;
	}
}

.layout-aside {
	grid-area: aside;
}

.layout-navside {
	grid-area: navside;
	z-index: 2;
	overflow: auto;
	max-height: calc(100vh - #{_theme("commons.banner-height")});

	&.is-active {
		@include media_smaller_than("s") {
			position: fixed;
			top: _theme("commons.banner-height");
			height: calc(100vh - #{_theme("commons.banner-height")});
			left: 0;
			right: 0;
			background-color: _color("white");
			overflow: auto;
		}
	}
}

.layout-navside-content-inner, .layout-aside-content-inner {
	flex-grow: 1;
}

.layout-navside-footer, .layout-aside-footer {
	position: sticky;
	bottom: 0;
	background-color: _color("white");

	@include media_smaller_than("s") {
		margin-top: 0;
		position: static;
	}
}

.layout-navside-toggle {
	border: 0;
	margin: 0;
	padding: 0;
	font: inherit;
	color: inherit;
	background-color: _color("white");
	cursor: pointer;
	position: sticky;
	top: 0;

	@include media_larger_than("s") {
		display: none;
	}
}

.layout-aside-content, .layout-navside-content {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

// the contents of the navside
.layout-navside-content {
	// if you are on the move
	@include media_smaller_than("s") {
		// if it is preceded by a menu activation button that is not activated
		.layout-navside-toggle[aria-expanded="false"] ~ & {
			// is hidden
			display: none;
		}
	}
}

.layout {
	&.mod-navsideWithoutScrollbar {
		.layout-navside {
			max-height: auto;
			overflow: visible;
		}
	}

	&.mod-contentHeaderStatic {
		.layout-content-headers-header {
			position: static;
		}
	}

	&.mod-contentSubheaderStatic {
		.layout-content-headers-subheader {
			position: static;
		}
	}

	&.mod-navsideFooterStatic {
		.layout-navside-footer {
			position: static;
		}
	}

	&.mod-asideFooterStatic {
		.layout-aside-footer {
			position: static;
		}
	}

	&.mod-contentFooterStatic {
		.layout-content-footer {
			position: static;
		}
	}

	&.mod-asideBefore {
		&:not(.mod-asideRemoved) {
			@include media_larger_than("l") {
				grid-template-columns: _theme("components.navSide.width") _theme("components.aside.width") 1fr;
				grid-template-areas: "banner	banner banner"
					"navside aside	content";

				&.mod-navsideLarge {
					grid-template-columns: _theme("components.navSide.width") _theme("components.aside.width") 1fr;
				}
			}
		}
	}

	&.mod-headerRemoved {
		.layout-content-headers-header {
			display: none;
		}
	}

	&.mod-subheaderRemoved {
		.layout-content-headers-subheader {
			display: none;
		}
	}

	&.mod-asideRemoved {
		grid-template-columns: _theme("components.navSide.compact.width") 1fr;

		.layout-aside {
			display: none;
		}

		&.mod-navsideLarge {
			grid-template-columns: _theme("components.navSide.width") 1fr;
		}
	}

	&.mod-asideFooterRemoved {
		.layout-aside-footer {
			display: none;
		}
	}

	&.mod-contentFooterRemoved {
		.layout-footer {
			display: none;
		}
	}

	&.mod-navsideFooterRemoved {
		.layout-navside-footer {
			display: none;
		}
	}

	&.mod-navsideLarge {

		@include media_larger_than("l") {
			grid-template-columns: _theme("components.navSide.width") 1fr _theme("components.aside.width");
		}

		@include media_smaller_than("l") {
			grid-template-columns: _theme("components.navSide.width") 1fr;
		}

		@include media_smaller_than("s") {
			grid-template-columns: 1fr;
		}
	}
}

.has-overlay {
	&, body {
		touch-action: none;
		overscroll-behavior: none;
		-webkit-overflow-scrolling: auto;
	}

	body {
		overflow: hidden;
	}
}
