a {
	color: _color("text.link");
	cursor: pointer;
	text-decoration: underline;

	&:hover {
		color: _color("text.link", "hover");
	}
}

.link {
	background: transparent;
	border: 0;
	color: _color("text.link");
	cursor: pointer;
	text-decoration: underline;

	&:hover {
		color: _color("text.link", "hover");
	}
}
