a {
	color: _color("text.link");
	cursor: pointer;
	text-decoration: underline;

	&:hover {
		color: _color("text.link", "hover");
	}
}

.link {
	color: _color("primary","700");
	display: inline;
	font-family: _theme("commons.font.family");

	&:hover, &:focus {
		color: _color("primary", "600");
	}

	&:visited {
		color: _color("primary", '500');
	}
}
