.list {
	background: white;
	box-shadow: unquote(_theme("commons.box-shadow"));
	list-style: none;
	margin-bottom: _component("list.margin-bottom");
	padding: 0;
}

.list-item {
	align-items: center;
	border-bottom: _theme("commons.divider.width") solid _theme("commons.divider.color");
	color: _color("text.default");
	display: flex;
	padding: _component("list.padding");
	position: relative;
	text-decoration: none;

	&:last-child {
		border: 0;
	}

	&:hover {
		.list-item-actions {
			opacity: 1;
		}
	}
}

.list-item-content-title {
	margin: 0;
}

.list-item-content-description {
	margin: 0;
}

.list-item-actions {
	margin-left: auto;
	opacity: 0;
	padding-left: 1rem;
	transition: all 150ms ease;
	white-space: nowrap;
}

.list-item-actions-icon {
	background: transparent;
	border: 0;
	border-radius: 50%;
	color: _color("text.default");
	cursor: pointer;
	height: 2rem;
	transition: all 100ms ease;
	width: 2rem;

	&:hover {
		background: _component("list.hover.background");
		color: darken(_color("text.default"), 25%);
	}

	.icon {
		font-size: .9rem;
	}
}
