.list {
	background: white;
	box-shadow: unquote(_theme("commons.box-shadow"));
	list-style: none;
	margin-bottom: _component("list.margin-bottom");
	padding: 0;
}

.list-item {
	align-items: center;
	border-bottom: _theme("commons.divider.width") solid _theme("commons.divider.color");
	color: _color("text.default");
	display: flex;
	position: relative;
	text-decoration: none;

	&:last-child {
		border: 0;
	}

	&:hover {
		.list-item-actions {
			opacity: 1;
		}
	}
}

.list-item-content {
	color: _color("text.default");
	padding: _component("list.padding");
	text-decoration: none;
	width: 100%;
}

.list-item-content-title {
	margin: 0;
}

.list-item-content-description {
	margin: 0;
}

.list-item-actions {
	margin-left: auto;
	opacity: 0;
	padding: _component("list.padding");
	padding-left: 0;
	transition: all _theme("commons.animations.durations.fast") ease;
	white-space: nowrap;
}
