.loading {
	@include loading(1rem);
	display: inline-block;
	min-height: 1.7rem;
	min-width: 1.7rem;
	padding-left: 2rem;
	position: relative;

	&::after, &::before {
		height: 1rem;
		margin: .35rem;
		width: 1rem;
	}
}


// MODS
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

.loading {
	&.mod-block {
		display: block;
		margin-bottom: 2rem;
		padding: 3rem 0 0;
		text-align: center;
		width: 100%;

		&::after, &::before {
			margin: auto;
		}
	}

	&.mod-big {
		height: 5rem;
		padding: 5.5rem 0 0;
		text-align: center;
		width: 100%;

		&::before, &::after {
			margin: 0 auto;
			height: 5rem;
			width: 5rem;
			border-width: 3px;
		}
	}

	&.mod-fullPage {
		display: block;
		margin: 0 auto;
		transform: translateY(37vh);
		width: 5rem;

		&::before, &::after {
			height: 5rem;
			width: 5rem;
			border-width: 3px;
		}
	}

	&.mod-dialog {
		display: block;
		text-align: center;
		position: relative;
		padding: 8rem 0 0;
		margin: 0 2rem 2rem;

		&::before, &::after {
			height: 5rem;
			width: 5rem;
			content: "";
			left: 0;
			right: 0;
			margin: auto;
			border-width: 3px;
		}
	}

	&.mod-sidePanel {
		display: block;
		text-align: center;
		position: relative;
		padding: 8rem 0 0;
		margin: 0 2rem 2rem;
		top: 35vh;

		&::before, &::after {
			height: 5rem;
			width: 5rem;
			content: "";
			left: 0;
			right: 0;
			margin: auto;
			border-width: 3px;
		}
	}

	&.mod-invert {
		color: white;

		&::before {
			border-color: rgba(255, 255, 255, .25);
		}

		&::after {
			border-color: rgba(255, 255, 255, .66) transparent transparent transparent;
		}
	}
}
