.main {
	padding-left: _theme("component.navSide.width");
}

.main-content {
	padding: 4rem 0;
}

.main-filters {
	margin-bottom: 3rem;
}


// MODS
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

.main {
	&.mod-noAside {
		padding-left: 0;
	}

	&.mod-sections {
		.main-filters {
			margin-bottom: 0;
		}

		.main-content {
			padding-bottom: 0;
			padding-top: 0;
		}
	}

	&.mod-filters {
		.main-content {
			padding-top: 0;
		}
	}
}
