.main-content {
	position: relative;
}

.navSide ~ .main-content {
	margin-left: _theme("components.navSide.width");
}

.navSide.mod-compact ~ .main-content {
	margin-left: _theme("components.navSide.compact.width");
}

.navSide.mod-withBanner ~ .main-content, .main-content.mod-withBanner {
	height: calc(100vh - #{_theme("commons.banner-height")});
	overflow-y: auto;
}

@include media_smaller_than("md") {
	.main-content {
		margin-left: 0 !important;
		overflow-x: hidden;
	}

	// MOD TO BE ADDED TO .MAIN WHEN THE MENU IS TOGGLED
	.main.is-notScrollable {
		height: 100vh;
		overflow: hidden;
	}
}
