.main-content {
	position: relative;

	&.mod-withStickyHeader {
		padding-top: _component("header.height");
	}
}

// with vertical navigation
.navSide ~ .main-content, .mod-withMenu .main-content {
	margin-left: _theme("components.navSide.width");
}

// with compact vertical navigation
.navSide.mod-compact ~ .main-content, .mod-withMenuCompact .main-content {
	margin-left: _theme("components.navSide.compact.width");
}

.navSide.mod-withBanner ~ .main-content, .mod-withBanner .main-content, .main-content.mod-withBanner {
	height: calc(100vh - #{_theme("commons.banner-height")});
	overflow-y: auto;
	margin-top: _theme("commons.banner-height");
}

@include media_smaller_than(_theme("commons.mobile", true)) {
	.main-content {
		margin-left: 0 !important;
	}

	// MOD TO BE ADDED TO .MAIN WHEN THE MENU IS TOGGLED
	.main.is-notScrollable {
		height: 100vh;
		overflow: hidden;
	}

	.navSide.mod-withBanner ~ .main-content, .main-content.mod-withBanner, .mod-withBanner .main-content {
		height: calc(100vh - #{_theme("commons.banner-height")} - #{_component("navSide.mobile.toggle-height")});
		margin-top: calc(#{_theme("commons.banner-height")} + #{_component("navSide.mobile.toggle-height")});
	}
}
