.main {
	min-height: 100vh;
	display: flex;
	flex-direction: column;

	@include media_larger_than("md") {
		flex-direction: row;
	}
}

.main-content {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	min-width: 0;
	width: 100%; // IE11
}

.main-content-content {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.main-content-footer {
	background-color: white;
	position: sticky;
	bottom: 0;
}

.main.mod-withBanner {
	min-height: calc(100vh - #{_component("commons.banner-height")});

	.main-aside {
		top: _theme("commons.banner-height");

		&.isActive {
			height: calc(100vh - #{_component("commons.banner-height")});
		}

		@include media_larger_than("md") {
			height: calc(100vh - #{_component("commons.banner-height")});
		}
	}
}

.banner-placeholder {
	@include ie11 {
		height: _component("commons.banner-height");
	}
}
