.menu {
	align-items: center;
	border-bottom: _theme("commons.divider.width") solid _theme("commons.divider.color");
	display: flex;
	line-height: 1;
}

.menu-link {
	color: _color("text.default");
	margin: _component("menu.margin");
	opacity: .75;
	padding: _component("menu.padding");
	position: relative;
	text-decoration: none;
	transition: opacity _component("menu.animations.durations.standard") ease;

	&::after {
		bottom: -1px;
		content: "";
		display: block;
		height: 3px;
		left: 0;
		position: absolute;
		right: 0;
		transform: scale(0, 1);
		transition: transform _component("menu.animations.durations.standard") ease;
	}

	&:hover {
		opacity: 1;

		&::after {
			transform: scale(1);
		}
	}
}

// PALETTES
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

.menu {
	@mixin menuColoring($palette) {
		background: _get($palette, "color");
	}

	// default color
	.menu-link::after {
		@include menuColoring(_component("menu.default-palette"));
	}

	// palette colors
	@each $name, $palette in _palettes() {
		&.palette-#{$name} {
			.menu-link::after {
				@include menuColoring($palette);
			}
		}
	}
}


// STATES
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

.menu-link {
	&.is-active {
		font-weight: 600;
		opacity: 1;

		&::after {
			transform: scale(1);
		}
	}
}
