.menu {
	align-items: center;
	border-bottom: _theme("commons.divider.width") solid _theme("commons.divider.color");
	display: flex;
}

.menu-link {
	color: _theme("palette.colors.grey");
	margin: 0 1.2rem;
	opacity: .75;
	padding: 1.5rem 0;
	position: relative;
	text-decoration: none;
	transition: opacity 250ms ease;

	&::after {
		background: _theme("palette.colors.primary");
		bottom: -1px;
		content: "";
		display: block;
		height: 3px;
		left: 0;
		position: absolute;
		right: 0;
		transform: scale(0, 1);
		transition: transform 250ms ease;
	}

	&:hover {
		opacity: 1;

		&::after {
			transform: scale(1);
		}
	}
}


// STATES
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

.menu-link {
	&.is-active {
		font-weight: 600;
		opacity: 1;

		&::after {
			transform: scale(1);
		}
	}
}
