.navSide {
	background: #666666;
	font-size: $font-small;
	height: 100%;
	left: 0;
	overflow-x: hidden;
	overflow-y: auto;
	position: fixed;
	text-align: center;
	top: 0;
	width: 130px;
}

.navSide-link {
	color: white;
	display: block;
	opacity: .75;
	padding: 15px 10px;
	position: relative;
	text-decoration: none;
	transition: opacity 150ms ease;

	&::before {
		background: _get($luTheme, "palette.colors.primary");
		bottom: 0;
		content: "";
		left: 0;
		position: absolute;
		top: 0;
		transform: scaleY(0);
		transform-origin: 50%;
		transition: all 250ms ease;
		width: 2px;
	}

	&:hover {
		opacity: 1;

		&::before {
			transform: scaleY(1);
		}
	}
}

.navSide-link-alert {
	background: _get($luTheme, "palette.colors.primary");
	border-radius: .5rem;
	color: _get($luTheme, "palette.colors.greyStandard");
	font-size: $font-smaller;
	height: 1rem;
	line-height: 1rem;
	padding: 0 .25rem;
	position: absolute;
	right: 5px;
	top: 5px;
}


// STATES
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

.navSide-link {
	&.is-active {
		background: #404040;
		opacity: 1;

		&::before {
			transform: scaleY(1);
		}
	}
}
