.navSide {
	background: _component("navSide.fullwidth-palette.bg-color");
	bottom: 0;
	left: 0;
	overflow-x: hidden;
	overflow-y: auto;
	padding-top: _component("navSide.padding-top");
	position: fixed;
	top: 0;
	width: _component("navSide.width");
	z-index: 2;

	// SCROLLBAR
	// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒
	&::-webkit-scrollbar-track {
		background-color: _component("navSide.fullwidth-palette.bg-color");
	}

	&::-webkit-scrollbar {
		width: _component("navSide.scrollbar.width");
	}

	&::-webkit-scrollbar-thumb {
		background-color: lighten(_component("navSide.fullwidth-palette.bg-color"), 20%);
		border-radius: _component("navSide.scrollbar.border-radius");
	}
}

// NECESSARY TO AVOID MOVEMENT WHEN THE SCROLLBAR APPEARS
.navSide-scrollWrapper {
	display: block;
	position: relative;
	width: _component("navSide.width");
}

// MOBILE TOGGLE
.navSide-mobile-toggle {
	display: none;
}

.navSide-item-link, .navSide-item-subMenu-link {
	align-items: center;
	color: _component("navSide.fullwidth-palette.text");
	display: flex;
	text-decoration: none;
	transition: all _theme("commons.animations.durations.fast") ease;
	user-select: none;
}

// MAIN-ITEM
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

.navSide-item-link {
	font-size: _component("navSide.main-font-size");
	opacity: .7;
	padding: 1em;

	i {
		width: _component("navSide.main-font-size");
	}

	&:hover {
		background-color: _component("navSide.fullwidth-palette.selected-bg");
		color: _component("navSide.fullwidth-palette.selected-text");
		.navSide-item-alert {
			background: _component("navSide.fullwidth-palette.alert-color");
			color: _component("navSide.fullwidth-palette.alert-text");
		}
	}
}

.navSide-item-link-title {
	line-height: 1.2;
	margin-left: 1em;
	margin-right: 10px;
	vertical-align: middle;
	width: 100%;
}

.navSide-item-alert {
	background: _component("navSide.fullwidth-palette.alert-color");
	border-radius: .5rem;
	color: _component("navSide.fullwidth-palette.alert-text");
	font-size: _theme("sizes.smaller.font-size");
	height: 1rem;
	line-height: 1rem;
	margin-left: auto;
	padding: 0 .5em;
	transition: background _theme("commons.animations.durations.standard") ease;
}

.navSide-item-arrow {
	margin-left: auto;
	transform: rotate(0);
	transition: transform _theme("commons.animations.durations.fast") ease-out;
}

// SUB MENU
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒
.navSide-item-subMenu {
	font-size: _component("navSide.sub-font-size");
	max-height: 0;
	overflow: hidden;
	transition-duration: _theme("commons.animations.durations.fast");
	transition-property: max-height;
	transition-timing-function: ease-in-out;
}

.navSide-item-subMenu-link {
	font-weight: 400;
	line-height: 1.4;
	opacity: 0;
	padding: .8em 1em .8em 3.35em;
	transform: translate3d(-1.5em, 0, 0);
	transition: opacity _theme("commons.animations.durations.fast") ease-out,
              transform _theme("commons.animations.durations.standard") ease-out .05s;
	vertical-align: middle;
}

// ACTIVE & OPEN STATE
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒
.navSide-item.is-active {
	.navSide-item-link {
		opacity: 1;
	}
}
.navSide-item.is-open {
	.navSide-item-arrow {
		transform: rotate(90deg);
	}

	.navSide-item-subMenu {
		max-height: _component("navSide.submenu.max-height"); // TODO: SEE IF THIS CAN BE REMOVED
		transition-duration: _theme("commons.animations.durations.slow");
	}

	.navSide-item-subMenu-link {
		opacity: .6;
		transform: translate3d(0, 0, 0);
		transition: all _theme("commons.animations.durations.fast") ease-out 0;

		&:hover {
			background-color: _component("navSide.fullwidth-palette.selected-bg");
			color: _component("navSide.fullwidth-palette.selected-text");
			opacity: .7;
		}

		&.is-active {
			background-color: _component("navSide.fullwidth-palette.selected-bg");
			color: _component("navSide.fullwidth-palette.selected-text");
			opacity: 1;
		}

		&:hover, &.is-active {
			.navSide-item-alert {
				background: _component("navSide.fullwidth-palette.alert-color");
				color: _component("navSide.fullwidth-palette.alert-text");
			}
		}
	}
}

.navSide-item-link.is-active {
	background-color: _component("navSide.fullwidth-palette.selected-bg");
	color: _component("navSide.fullwidth-palette.selected-text");
	opacity: 1;
	.navSide-item-alert {
		background: _component("navSide.fullwidth-palette.alert-color");
		color: _component("navSide.fullwidth-palette.alert-text");
	}
}

// MOD
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒
.navSide.mod-withBanner {
	top: _theme("commons.banner-height");
}

// LOADING PLACEHOLDERS
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

.navSide-item-placeholder {
	align-items: center;
	display: flex;
	padding: 1em;


	&::before, &::after {
		content: "";
		display: block;
	}

	&::before {
		background: rgba(0, 0, 0, _component("navSide.placeholder.opacity"));
		border-radius: 1em;
		height: 1em;
		width: 1em;
	}

	&::after {
		@include loadingGradientAnimation(rgba(0, 0, 0, _component("navSide.placeholder.opacity")), true, rgba(0, 0, 0, _component("navSide.placeholder.opacity")));
		border-radius: _theme("commons.border.radius");
		flex: 1 1 auto;
		height: .9em;
		margin-left: 1em;
	}

	&.mod-inverted {
		&::before {
			background: rgba(255, 255, 255, _component("navSide.placeholder.opacity"));
		}

		&::after {
			@include loadingGradientAnimation(rgba(255, 255, 255, _component("navSide.placeholder.opacity")), true, rgba(255, 255, 255, _component("navSide.placeholder.opacity")));
		}
	}
}

// MOD COMPACT (must be defined only for desktop)
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒
@include media_larger_than("sm") {
	.navSide.mod-compact {
		background: _component("navSide.compact-palette.bg-color");
		text-align: center;
		width: _component("navSide.compact.width");

		// SCROLLBAR
		&::-webkit-scrollbar-track {
			background-color: _component("navSide.compact-palette.bg-color");
		}

		&::-webkit-scrollbar-thumb {
			background-color: lighten(_component("navSide.compact-palette.bg-color"), 20%);
		}

		.navSide-scrollWrapper {
			width: _component("navSide.compact.width");
		}
		.navSide-item-link {
			color: _component("navSide.compact-palette.text");
			flex-direction: column;
			justify-content: center;
			position: relative;

			.navSide-item-link-title {
				margin: .8em 0 0;
			}
		}

		.navSide-item-arrow, .navSide-item-subMenu {
			display: none;
		}

		.navSide-item-alert {
			padding: 0 .4em;
			position: absolute;
			right: 10px;
			top: 10px;
		}

		.navSide-item-placeholder {
			flex-direction: column;
			&::before {
				height: 1.5em;
				width: 1.5em;
			}
			&::after {
				margin-left: 0;
				margin-top: .8em;
				width: 100%;
			}
		}

		// COMPACT STATES
		// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

		.navSide-item-link {
			&:hover {
				background-color: _component("navSide.compact-palette.selected-bg");
				color: _component("navSide.compact-palette.selected-text");
			}
			&.is-active {
				background-color: _component("navSide.compact-palette.selected-bg");
				color: _component("navSide.compact-palette.selected-text");
				opacity: 1;
			}
		}
	}
}


// Mobile version
@include media_smaller_than("sm") {
	.navSide {
		position: relative;
		width: 100%;

		&.mod-withBanner {
			margin-top: _theme("commons.banner-height");
		}
	}

	.navSide-scrollWrapper {
		width: 100%;
	}

	.navSide-item, .navSide-item-placeholder {
		display: none;
	}

	.navSide-item.navSide-mobile-toggle {
		display: block;
	}

	.navSide.is-open {
		height: 100vh;
		.navSide-item-placeholder {
			display: flex;
		}
		.navSide-item {
			display: block;
		}
	}
}
