.pageHeader {
	@include elevate(1);
	padding: 2.5rem 2.5rem _theme('spacings.standard');
	background-color: _color('white');

	&.mod-withMenu {
		padding-bottom: 0;
	}

	&.mod-withBreadcrumbs {
		padding-top: _theme('spacings.small');

		.breadcrumbs {
			margin-bottom: 0;
		}
	}

	.menu {
		&::after {
			display: none;
		}
	}
}

.pageHeader-content {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
}

.pageHeader-content-title,
.pageHeader-content-actions {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.pageHeader-content-actions {
	& > *:not(:last-child){
		margin-right: _theme('spacings.small');
	}
}

.pageHeader-description {
	max-width: _theme('components.pageHeader.description.max-width');
	margin-top: _theme('spacings.smaller');
	color: _color('grey', '600');
}
