.section {
	background: white;
	border-bottom: 1px solid #E5E5E5;
	padding: 3rem;
}


// MODS
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

.section {
	&.mod-grey {
		background: #F5F5F5;
	}
}
