.section {
	background: white;
	border-bottom: 1px solid #E5E5E5;
	padding: 3rem;

	@media (max-width: _theme("breakpoints.md.breakAt")) {
		padding-left: 2rem;
		padding-right: 2rem;
	}

	@media (max-width: _theme("breakpoints.sm.breakAt")) {
		padding-left: 1rem;
		padding-right: 1rem;
	}
}


// MODS
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

.section {
	&.mod-grey {
		background: _theme("commons.background.color");
	}
}
