.table {
	border-bottom: _theme('commons.divider.width') solid _theme('commons.divider.color');
	border-spacing: 0;
	display: table;
	font-size: _theme("component.table.font-size");
	line-height: _theme("component.table.line-height");
	text-align: left;
	width: 100%;
}

.table-head {
	display: table-header-group;
	vertical-align: bottom;
}

.table-head-row {
	display: table-row;
}

.table-head-row-cell {
	display: table-cell;
	font-weight: 600;
	padding: _theme("component.table.padding");
}


.table-body {
	display: table-row-group;
}

.table-body-row {
	display: table-row;
}

.table-body-row-cell {
	border-top: _theme("commons.divider.width") solid _theme("commons.divider.color");
	display: table-cell;
	padding: _theme("component.table.padding");
}

// MODS
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

.table {
	&.mod-small {
		font-size: _theme("sizes.small.font-size");
		line-height: _theme("sizes.small.line-height");
	}

	&.mod-zebra {
		.table-body {
			tr:nth-child(odd) {
				background-color: _theme("component.table.zebra.background");
			}
		}
	}

	&.mod-clickable {
		.table-body-row {
			color: _color("text.default");
			text-decoration: none;
			transition: all _theme("commons.animations.durations.fast") ease;

			&:hover {
				background: _theme("component.table.hover.background");
			}
		}
	}

	&.mod-alignTop {
		.table-body-row-cell {
			vertical-align: top;
		}
	}

	&.mod-card {
		border-bottom: 0;

		.table-head-row-cell {
			&:first-child {
				padding-left: _theme("component.table.card.padding");
			}
			&:last-child {
				padding-right: _theme("component.table.card.padding");
			}
		}
		.table-body-row-cell {
			&:first-child {
				padding-left: _theme("component.table.card.padding");
			}
			&:last-child {
				padding-right: _theme("component.table.card.padding");
			}
		}
	}
}

.table-body-row {
	&.mod-header {
		vertical-align: bottom;
	}

	&.mod-filters {
		vertical-align: bottom;
	}
}

/* Hidden action buttons */

.table-body-row-cell, .table-head-row-cell {
	&.mod-actions {
		padding: {
			bottom: .3rem;
			top: .3rem;
		}
		text-align: right;
		transition: opacity _theme("commons.animations.durations.fast") ease;
		white-space: nowrap;

		* {
			opacity: 0;
		}
	}
}

.table-head-row, .table-body-row {
	&:hover {
		.table-body-row-cell, .table-head-row-cell {
			&.mod-actions {
				* {
					opacity: 1;
				}
			}
		}
	}
}
