.table {
	border-spacing: 0;
	display: table;
	font-size: _component("table.font-size");
	line-height: _component("table.line-height");
	text-align: left;
	width: 100%;
}

.table-head {
	display: table-header-group;
	vertical-align: bottom;
}

.table-head-row {
	display: table-row;
}

.table-head-row-cell {
	border-bottom: _theme("commons.divider.width") solid _theme("commons.divider.color");
	color: _color("text.light");
	display: table-cell;
	font-weight: 600;
	font-size: _theme("sizes.small.font-size");
	line-height: _theme("sizes.small.line-height");
	padding: _theme("spacings.small");
	text-align: left;
}

.table-body {
	display: table-row-group;
}

.table-body-row {
	background: white;
	display: table-row;
}

.table-body-row-cell {
	border-top: _theme("commons.divider.width") solid _theme("commons.divider.color");
	display: table-cell;
	padding: _component("table.padding");
	vertical-align: middle;
}

.table-body-row:first-child {
	.table-body-row-cell {
		border-top: none;
	}
}

.table-body-row:last-child {
	.table-body-row-cell {
		border-bottom: _theme("commons.divider.width") solid _theme("commons.divider.color");
	}
}

.table-body-row-cell-handler {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 2rem;
	cursor: move;

	&:hover {
		&::after {
			color: _color("text.light");
		}
	}

	&::after {
		@include makeIcon("drag");
		color: _color("text.placeholder");
		margin: auto;
		height: 100%;
		display: flex;
		align-items: center;
	}
}


// MODS
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

.table {
	&.mod-small {
		font-size: _theme("sizes.small.font-size");
		line-height: _theme("sizes.small.line-height");

		.table-head-row-cell {
			&.mod-sortable {
				&::after {
					margin-top: 0;
				}
			}
		}
	}

	&.mod-zebra {
		.table-body {
			tr:nth-child(odd) {
				background-color: _component("table.zebra.background");
			}
		}
	}

	&.mod-clickable {
		.table-body-row {
			color: _color("text.default");
			text-decoration: none;
			transition: all _theme("commons.animations.durations.fast") ease;
			cursor: pointer;

			&:hover {
				background: _component("table.hover.background");
			}
		}
	}

	&.mod-alignTop {
		.table-body-row-cell {
			vertical-align: top;
		}
	}

	&.mod-card {
		border-top: 0;

		.table-head-row-cell {
			&:first-child {
				padding-left: _component("table.card.padding");
			}
			&:last-child {
				padding-right: _component("table.card.padding");
			}
		}
		.table-body-row-cell {
			&:first-child {
				padding-left: _component("table.card.padding");
			}
			&:last-child {
				padding-right: _component("table.card.padding");
			}
		}
	}

	&.mod-borderless {
		border: none;

		.table-body-row-cell, .table-head-row-cell {
			border-top: none;
			padding: 0 1rem;

			&:first-child {
				padding-left: 0;
			}

			&:last-child {
				padding-right: 0;
			}
		}
	}

	&.mod-noOffset {
		.table-head-row-cell, .table-body-row-cell {
			&:first-child {
				padding-left: 0;
			}

			&:last-child {
				padding-right: 0;
			}
		}
	}
}

.table-body-row {
	&.mod-header {
		vertical-align: bottom;
	}

	&.mod-parent {
		.table-body-row-cell {
			background: _color("grey", "lightest");
			color: _color("grey", "dark");
			font-size: _theme("sizes.small.font-size");
			font-weight: 600;
			line-height: _theme("sizes.small.line-height");
		}

		&.mod-collapsable {
			.table-body-row-cell {
				cursor: pointer;

				&:hover {
					text-decoration: underline;
				}

				&::before {
					@include makeIcon("arrow_south");
					vertical-align: middle;
					margin-right: _theme("spacings.smaller");
					transition: transform _theme("commons.animations.durations.fast") ease;
				}
			}

			&.is-collapsed {
				.table-body-row-cell {
					&::before {
						transform: rotate(-90deg);
					}
				}
			}
		}
	}

	&.mod-child {
		.table-body-row-cell {
			&:first-child {
				padding-left: _theme("spacings.bigger");
			}
		}
	}

	&.mod-draggable {
		.table-body-row-cell:first-child {
			padding-left: 2rem;
			position: relative;
		}
	}
}

.table-body-row, .table-head-row {
	&.mod-selectable {
		.table-body-row-cell, .table-head-row-cell {
			&:first-child {
				padding-right: _theme("spacings.smaller");
				width: 1rem;
			}
		}
	}
}

.table-head-row {
	&.mod-draggable {
		.table-head-row-cell:first-child {
			padding-left: 2rem;
			position: relative;
		}
	}
}

.table-head-row-cell {
	&.mod-sortable {
		cursor: pointer;
		padding-right: 2rem;
		position: relative;

		&::after {
			@include makeIcon("arrow_full_north");
			margin: 0 0 0 .2rem;
			opacity: 0;
			position: absolute;
			transform: translateY(.25rem);
			transition: opacity _theme("commons.animations.durations.fast") ease, transform _theme("commons.animations.durations.fast") ease;
		}

		&:hover {
			&::after {
				transform: translateY(0);
				opacity: .5;
			}
		}
	}
}

.table-body-row-cell, .table-head-row-cell {
	&.mod-actions {
		padding: .3rem _theme("spacings.smaller") .3rem 0;
		text-align: right;
		transition: opacity _theme("commons.animations.durations.fast") ease;
		white-space: nowrap;

		> * {
			opacity: 0;
		}
	}

	&.mod-alignRight {
		text-align: right;
	}
}

.table-head-row-cell {
	&.mod-alignRight {
		padding-right: 1rem;

		&::after {
			content: none;
		}

		&::before {
			@include makeIcon("arrow_full_north");
			margin: 0 .25rem 0 0;
			opacity: 0;
			transform: translateY(.25rem);
			transition: opacity _theme("commons.animations.durations.fast") ease, transform _theme("commons.animations.durations.fast") ease;
		}

		&:hover {
			&::before {
				transform: translateY(0);
				opacity: .5;
			}
		}
	}
}

.table-head-row, .table-body-row {
	&:hover {
		.table-body-row-cell, .table-head-row-cell {
			&.mod-actions {
				> * {
					opacity: 1;
				}
			}
		}
	}
}

.table-body-row-cell {
	&.mod-avatar {
		padding-right: 0;
		width: 2rem;
	}
}


// STATES
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

.table-head-row-cell {
	&.is-sorted-descending, &.is-sorted-ascending {
		color: _color("text.dark");

		&::after {
			@include makeIcon("arrow_full_north");
			opacity: 1;
			transform: translateY(0);
		}

		&:hover {
			&::after {
				opacity: 1;
			}
		}

		&.mod-alignRight {
			&::before {
				@include makeIcon("arrow_full_north");
				opacity: 1;
				transform: translateY(0);
			}

			&::after {
				content: none;
			}

			&:hover {
				&::before {
					opacity: 1;
				}
			}
		}
	}

	&.is-sorted-ascending::after, &.is-sorted-ascending.mod-alignRight::before {
		@include makeIcon("arrow_full_north");
	}

	&.is-sorted-descending::after, &.is-sorted-descending.mod-alignRight::before {
		@include makeIcon("arrow_full_south");
	}
}
