.tableOfContent {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	position: sticky;
}

.tableOfContent-item {
	border-radius: _theme("commons.border.radius");
	color: _color("grey", 700);
	cursor: pointer;
	display: block;
	outline: none;
	padding: _component("tableOfContent.padding");
	position: relative;
	transition: all _theme("commons.animations.durations.standard") ease;
	text-decoration: none;

	&:not(.is-disabled, [disabled]) {
		&:hover {
			background-color: _color("grey", 50);
			color: _color("grey", 700);
		}

		&:focus {
			background-color: _color("grey", 50);
			color: _color("grey", 700);
			box-shadow: 0 0 0 4px _component("tableOfContent.default-palette.100"), inset 0 0 0 1px _component("tableOfContent.default-palette.300");
		}

		&:active {
			background-color: _color("grey", 100);
			color: _color("grey", 700);
			box-shadow: 0 0 0 4px _component("tableOfContent.default-palette.200"), inset 0 0 0 1px _component("tableOfContent.default-palette.400");
		}
	}
}


// STATES
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

.tableOfContent-item {
	&:not(.is-disabled, [disabled]) {
		&.is-active {
			background-color: _component("tableOfContent.default-palette.50");
			color: _component("tableOfContent.default-palette.700");

			&:hover {
				background-color: _component("tableOfContent.default-palette.100");
			}

			&:focus {
				background-color: _component("tableOfContent.default-palette.100");
				box-shadow: 0 0 0 4px _component("tableOfContent.default-palette.200"), inset 0 0 0 1px _component("tableOfContent.default-palette.400");
			}

			&:active {
				background-color: _component("tableOfContent.default-palette.200");
				box-shadow: 0 0 0 4px _component("tableOfContent.default-palette.300"), inset 0 0 0 1px _component("tableOfContent.default-palette.500");
				color: _color("grey", 700);
			}
		}
	}

	&:is(.is-disabled, [disabled]) {
		color: _color("grey", 500);
		pointer-events: none;
	}
}
