.table {
	border-bottom: _theme("commons.divider.width") solid _theme("commons.divider.color");
	border-spacing: 0;
	display: table;
	font-size: _component("table.font-size");
	line-height: _component("table.line-height");
	text-align: left;
	width: 100%;
}

.table-head {
	display: table-header-group;
	vertical-align: bottom;
}

.table-head-row {
	display: table-row;
}

.table-head-row-cell {
	color: _color("text.light");
	display: table-cell;
	font-weight: 600;
	font-size: _theme("sizes.small.font-size");
	line-height: _theme("sizes.small.line-height");
	padding: _component("table.padding");
	text-align: left;
}

.table-body {
	display: table-row-group;
}

.table-body-row {
	background: white;
	display: table-row;
}

.table-body-row-cell {
	border-top: _theme("commons.divider.width") solid _theme("commons.divider.color");
	display: table-cell;
	padding: _component("table.padding");
}


// MODS
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

.table {
	&.mod-small {
		font-size: _theme("sizes.small.font-size");
		line-height: _theme("sizes.small.line-height");

		.table-head-row-cell {
			&.mod-sortable {
				&::after {
					margin-top: 0;
				}
			}
		}
	}

	&.mod-zebra {
		.table-body {
			tr:nth-child(odd) {
				background-color: _component("table.zebra.background");
			}
		}
	}

	&.mod-clickable {
		.table-body-row {
			color: _color("text.default");
			text-decoration: none;
			transition: all _theme("commons.animations.durations.fast") ease;

			&:hover {
				background: _component("table.hover.background");
			}

			&.mod-filters {
				background: none;
			}
		}
	}

	&.mod-alignTop {
		.table-body-row-cell {
			vertical-align: top;
		}
	}

	&.mod-card {
		border-bottom: 0;

		.table-head-row-cell {
			&:first-child {
				padding-left: _component("table.card.padding");
			}
			&:last-child {
				padding-right: _component("table.card.padding");
			}
		}
		.table-body-row-cell {
			&:first-child {
				padding-left: _component("table.card.padding");
			}
			&:last-child {
				padding-right: _component("table.card.padding");
			}
		}
	}
}

.table-body-row {
	&.mod-header {
		vertical-align: bottom;
	}

	&.mod-filters {
		vertical-align: bottom;
	}

	&.mod-draggable {
		.table-body-row-cell:first-child {
			padding-left: 2rem;
			position: relative;

			&::before {
				@include makeIcon("drag");
				bottom: 0;
				color: _color("text.light");
				cursor: move;
				font-size: 1.3rem;
				height: 2rem;
				left: 0;
				margin: auto;
				position: absolute;
				top: 0;
			}
		}
	}
}

.table-head-row-cell {
	&.mod-sortable {
		cursor: pointer;
		padding-right: 2rem;
		position: relative;

		&::after {
			@include makeIcon("arrow_full_north");
			font-weight: 400;
			font-size: .95rem;
			margin: 0 0 0 .2rem;
			opacity: 0;
			position: absolute;
			transform: translateY(.25rem);
			transition: opacity _theme("commons.animations.durations.fast") ease, transform _theme("commons.animations.durations.fast") ease;
		}

		&:hover {
			&::after {
				transform: translateY(0);
				opacity: .5;
			}
		}
	}
}

/* Hidden action buttons */

.table-body-row-cell, .table-head-row-cell {
	&.mod-actions {
		padding: .3rem _theme("spacings.smaller") .3rem 0;
		text-align: right;
		transition: opacity _theme("commons.animations.durations.fast") ease;
		white-space: nowrap;

		> * {
			opacity: 0;
		}
	}

	&.mod-alignRight {
		text-align: right;
	}
}

.table-head-row-cell {
	&.mod-alignRight {
		padding-right: 1rem;

		&::after {
			content: none;
		}

		&::before {
			@include makeIcon("arrow_full_north");
			font-weight: 400;
			font-size: .95rem;
			margin: 0 .25rem 0 0;
			opacity: 0;
			transform: translateY(.25rem);
			transition: opacity _theme("commons.animations.durations.fast") ease, transform _theme("commons.animations.durations.fast") ease;
		}

		&:hover {
			&::before {
				transform: translateY(0);
				opacity: .5;
			}
		}
	}
}

.table-head-row, .table-body-row {
	&:hover {
		.table-body-row-cell, .table-head-row-cell {
			&.mod-actions {
				> * {
					opacity: 1;
				}
			}
		}
	}
}


// STATES
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

.table-head-row-cell {
	&.is-sorted-descending, &.is-sorted-ascending {
		color: _color("text.dark");

		&::after {
			@include makeIcon("arrow_full_north");
			opacity: 1;
			transform: translateY(0);
		}

		&:hover {
			&::after {
				opacity: 1;
			}
		}

		&.mod-alignRight {
			&::before {
				@include makeIcon("arrow_full_north");
				opacity: 1;
				transform: translateY(0);
			}

			&::after {
				content: none;
			}

			&:hover {
				&::before {
					opacity: 1;
				}
			}
		}
	}

	&.is-sorted-ascending::after, &.is-sorted-ascending.mod-alignRight::before {
		@include makeIcon("arrow_full_north");
	}

	&.is-sorted-descending::after, &.is-sorted-descending.mod-alignRight::before {
		@include makeIcon("arrow_full_south");
	}
}
