.table {
	border-bottom: 1px solid $greySeparator;
	border-collapse: collapse;
	border-spacing: 0;
	border-top: 1px solid $greySeparator;
	display: table;
	font-size: .9rem;
	text-align: left;
	width: 100%;
}

.table-head {
	display: table-header-group;
	font-weight: 600;
}

.table-head-row {
	display: table-row;
}

.table-head-row-cell {
	display: table-cell;
	padding: .5em 1em;
}


.table-body {
	display: table-row-group;
}

.table-body-row {
	display: table-row;
}

.table-body-row-cell {
	border-top: 1px solid $greySeparator;
	display: table-cell;
	padding: .5em 1em;
}


// MODS
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

.table {
	&.mod-zebra {
		.table-body {
			tr:nth-child(odd) {
				background-color: #F2F2F2;
			}
		}
	}

	&.mod-clickable {
		.table-body-row {
			color: $grey;
			text-decoration: none;
			transition: all 150ms ease;

			&:hover {
				background: #E8E8E8;
			}
		}
	}
}
