.tag {
	border-radius: _theme("commons.border.radius");
	display: inline-block;
	font-size: _theme("sizes.smaller.font-size");
	font-weight: 600;
	line-height: 1rem;
	margin-right: _theme("spacings.smallest");
	padding: 0 _theme("spacings.smallest");
	text-align: center;
	text-decoration: none;
	vertical-align: baseline;
	white-space: nowrap;
}


// Palettes
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

.tag {
	@mixin tagColoring($palette) {
		background-color: _color($palette, 200);
		color: _color($palette, 800);

		&.mod-clickable {
			&:hover {
				color: _color($palette, 900);
			}
		}
	}

	@include tagColoring("tag.default-palette");

	// palettes coloring
	@each $name, $palette in _getMap("palettes") {
		&.palette-#{$name} {
			@include tagColoring($name);
		}
	}
}


// Mods
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

.tag {
	&.mod-clickable {
		cursor: pointer;

		&:hover {
			text-decoration: underline;
		}
	}
	&.mod-outlined {
		color: _color("grey","600");
		border: _theme("commons.divider.width") solid _color("grey","300");
		background-color: _color("white");
	}
}
