.textarea {
	max-width: 300px;
	padding-top: 1rem;
	position: relative;
}

.textarea-field {
	background: transparent;
	border: 0;
	box-shadow: 0 1px 0 0 #CCCCCC;
	color: _get($luTheme, "palette.colors.greyStandard");
	font-family: "Source Sans Pro", Tahoma, sans-serif;
	font-weight: 400;
	line-height: $font-line-standard;
	outline: 0;
	padding: .5rem 0;
	transition: box-shadow 150ms ease, color 150ms ease;
	width: 100%;

	&:focus {
		box-shadow: 0 2px 0 0 _get($luTheme, "palette.colors.primary");

		~ .textarea-label {
			color: _get($luTheme, "palette.colors.primary");
			font-size: $font-small;
			top: 0;
		}
	}
}

.textarea-label {
	color: #A6A6A6;
	left: 0;
	pointer-events: none;
	position: absolute;
	top: 1.3rem;
	transition: all 150ms ease;
	width: 100%;
}


// MOD
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

.textarea {
	&.mod-block {
		max-width: 100%;
	}
}

// STATES
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

.textarea-field {
	&[disabled], &[readonly] {
		background: transparent;
		background-image: linear-gradient(to right, #CCCCCC 33%, rgba(255, 255, 255, 0) 0%);
		background-position: bottom;
		background-repeat: repeat-x;
		background-size: 3px 1px;
		box-shadow: none;
		color: _get($luTheme, "palette.colors.greyLight");
		cursor: not-allowed;
	}
}

.textarea {
	&.is-filled {
		.textarea-label {
			font-size: $font-small;
			top: 0;
		}
	}
}
