.timeline {
	list-style-type: none;
	padding: 0;
	margin: _theme("spacings.small") 0;
	display: flex;
	align-items: center;

	.gauge {
		margin: 0 _theme("spacings.smaller");
		flex-grow: 1;
	}

	.gauge-bar {
		width: 100%;
	}
}

.timeline-step {
	flex-grow: 1;
	display: flex;
	align-items: center;

	&:last-child {
		flex-grow: 0;

		.gauge {
			display: none;
		}
	}

	&[aria-current="step"] {
		~ .timeline-step {
			.timeline-step-title {
				color: _color("primary", "600");
			}

			.gauge-bar {
				width: 0;
				height: 0;
			}
		}
	}
}

.timeline-step-title {
	padding-left: _theme("spacings.standard");
	position: relative;
	display: block;
	font-weight: 400;
	margin: 0;
	font-size: _theme("sizes.standard.font-size");
	line-height: _theme("sizes.standard.line-height");

	&::before, &::after {
		content: "";
		width: _theme("spacings.smaller");
		height: _theme("spacings.smaller");
		border-radius: 50%;
		background-color: currentColor;
		position: absolute;
		left: _theme("spacings.smallest");
		top: 50%;
		transform: translateY(-50%);
	}

	&::before {
		width: _theme("spacings.small");
		height: _theme("spacings.small");
		opacity: .25;
		left: 0;
	}
}

.timeline-step-title-action {
	color: currentColor;
	text-decoration: none;

	&:hover, &:focus {
		color: currentColor;
		text-decoration: underline;
	}
}

.timeline.mod-vertical {
	display: block;

	.gauge-bar {
		height: 100%;
	}

	.timeline-step-title {
		margin: _theme("spacings.smaller") 0;
		margin-left: _theme("spacings.standard", true) * -1;

		&::before, &::after {
			top: .6875rem; // magic number
		}
	}

	.timeline-step {
		margin: _theme("spacings.smaller") 0;
		font-weight: 400;
		display: block;
		padding-left: _theme("spacings.standard");
		position: relative;

		.gauge {
			position: absolute;
			left: _component("gauge.height") / -2;
			top: 1.375rem; // magic number
			bottom: _theme("spacings.smaller", true) * -1;

			&.mod-thin {
				left: _component("gauge.thin.height") / -2;
			}
		}
	}
}

.timeline.mod-number, .timeline.mod-smallNumber {
	counter-reset: timeline;

	&.mod-vertical {
		.timeline-step {
			margin: _theme("spacings.small") 0;

			.gauge {
				top: 1.625rem; // magic number
				bottom: -.625rem; // magic number
			}
		}
	}

	.timeline-step-title {
		counter-increment: timeline;

		&::before, &::after {
			opacity: 1;
			width: _theme("spacings.standard");
			height: _theme("spacings.standard");
			line-height: _theme("spacings.standard");
			left: _theme("spacings.smallest", true) * -1;
		}

		&::after {
			content: counter(timeline);
			color: white; // todo
			bottom: auto;
			background-color: transparent;
			text-align: center;
		}
	}
}

.timeline.mod-smallNumber {
	.timeline-step-title {
		&::before, &::after {
			margin: 0 .125rem; // magic number
			width: 1.25rem; // magic number
			height: 1.25rem; // magic number
			line-height: 1.25rem; // magic number
			left: _theme("spacings.smallest", true) * -1;
		}

		&::after {
			width: 1.25rem; // magic number
			font-size: _theme("sizes.small.font-size", true);
		}
	}

	&.mod-vertical {
		.timeline-step-title {
			&::before, &::after {
				margin: .125rem; // magic number
			}
		}

		.timeline-step {
			.gauge {
				bottom: _theme("spacings.small", true) * -1;
			}
		}
	}
}

.timeline.mod-add {
	.timeline-step {
		&:nth-last-child(2) {
			.gauge {
				background-color: transparent;
			}

			.gauge-bar {
				border-bottom-style: dashed;
			}
		}

		&:last-child {
			.timeline-step-title {
				&::after {
					@include makeIcon("plus");
				}
			}
		}
	}

	&.mod-vertical {
		.timeline-step {
			&:nth-last-child(2) {
				.gauge-bar {
					border-left-style: dashed;
				}
			}
		}
	}
}

.timeline-step-add {
	position: relative;

	&::after {
		content: "";
		position: absolute;
		right: 100%;
		top: 0;
		bottom: 0;
		width: 2rem; // todo
		z-index: 1;
	}
}
