.timeline {
	list-style-type: none;
	padding: 0;
	margin: _theme("spacings.small") 0;
	display: flex;
	align-items: center;

	.progress, .gauge {
		margin: 0 _theme("spacings.smaller");
		flex-grow: 1;
	}

	.progress-bar, .gauge-bar {
		width: 100%;
	}
}

.timeline-step {
	flex-grow: 1;
	display: flex;
	align-items: center;

	&:last-child {
		flex-grow: 0;

		.gauge, .progress {
			display: none;
		}
	}

	&[aria-current="step"] {
		~ .timeline-step {
			.timeline-step-title {
				color: _color("primary", "600");
			}

			.progress-bar, .gauge-bar {
				width: 0;
				height: 0;
			}
		}
	}
}

.timeline-step-title {
	padding-left: _theme("spacings.standard");
	position: relative;
	display: block;
	font-weight: 400;
	margin: 0;
	font-size: _theme("sizes.standard.font-size");
	line-height: _theme("sizes.standard.line-height");

	&::before, &::after {
		content: "";
		width: _theme("spacings.smaller");
		height: _theme("spacings.smaller");
		border-radius: 50%;
		background-color: currentColor;
		position: absolute;
		left: _theme("spacings.smallest");
		top: 50%;
		transform: translateY(-50%);
	}

	&::before {
		width: _theme("spacings.small");
		height: _theme("spacings.small");
		opacity: .25;
		left: 0;
	}
}

.timeline-step-title-action {
	color: currentColor;
	text-decoration: none;

	&:hover, &:focus {
		color: currentColor;
		text-decoration: underline;
	}
}

.timeline.mod-vertical {
	display: block;

	.timeline-step-title {
		margin: _theme("spacings.smaller") 0;
		margin-left: _theme("spacings.standard") * -1;
	}

	.timeline-step {
		margin: _theme("spacings.smaller") 0;
		font-weight: 400;
		display: block;
		padding-left: _theme("spacings.standard");
		position: relative;

		.gauge, .progress {
			position: absolute;
			left: (_theme("spacings.smallest") / -2);
			top: _theme("spacings.standard") + _theme("spacings.smallest");
			bottom: 0;
			height: auto;
			width: _theme("spacings.smallest");
		}
	}
}
