.titleSection {
	margin-bottom: 1.2rem;

	h1, h2, h3, h4, h5, h6 {
		margin-bottom: 0;
	}
	.u-h1, .u-h2, .u-h3, .u-h4, .u-h5, .u-h6 {
		margin-bottom: 0 !important;	
	}
}

.titleSection-sub {
	color: _color("text.light");
	font-size: _theme("sizes.standard.font-size");
	font-weight: 400;
	line-height: _theme("sizes.standard.line-height");
	margin: 0;
}

h1 {
	&, &.mod-headline {
		~ .titleSection-sub {
			font-size: calc(#{_theme("sizes.standard.font-size")} * 1.3);
			line-height: calc(#{_theme("sizes.standard.line-height")} * 1.3);
			margin: .2rem 0 0;
		}
	}
}

.u-h1 {
	&, &.mod-headline {
		~ .titleSection-sub {
			font-size: calc(#{_theme("sizes.standard.font-size")} * 1.3) !important;
			line-height: calc(#{_theme("sizes.standard.line-height")} * 1.3) !important;
			margin: .2rem 0 0 !important;
		}
	}
}

h2, h3, h4, h5, h6 {
	~ .titleSection-sub {
		font-size: _theme("sizes.small.font-size");
		line-height: _theme("sizes.small.line-height");
	}
}

.u-h2, .u-h3, .u-h4, .u-h5, .u-h6 {
	~ .titleSection-sub {
		font-size: _theme("sizes.small.font-size") !important;
		line-height: _theme("sizes.small.line-height") !important;
	}
}