.toasts {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	font-size: _theme("sizes.small.font-size");
	line-height: _theme("sizes.small.line-height");
	position: fixed;
	right: _component("toasts.right");
	top: _component("toasts.top");
	width: _component("toasts.width");
	z-index: 9999;

	&.mod-commInApp {
		top:  inherit;
		left:  _component("toasts.left");
		bottom: _component("toasts.bottom");
		width: _component("toasts.big");

		.toasts-item {
			background-color: _color('primary', '700');
			margin-left: inherit;
			padding: 0;
			display: flex;
		}

		.toasts-content {
			padding: _theme('spacings.standard') 0;
			margin-left: _theme('spacings.standard');
			margin-right: _theme('spacings.standard');
		}

		.toasts-content-title {
			margin-bottom: _theme('spacings.smaller');
		}
		
		.toasts-item-kill {
			bottom: inherit;
			top: _theme('spacings.smaller');
		}
	}
}

.toasts-item {
	animation: toast _theme("commons.animations.durations.standard") 1;
	background-color: _component("toasts.background");
	border-radius: _theme("commons.border.radius");
	color: _component("toasts.color");
	margin-bottom: _component("toasts.margin-bottom");
	margin-left: auto;
	overflow: hidden;
	padding: _component("toasts.padding");
	position: relative;
	transform-origin: top;
}

.toasts-item-kill {
	background-color: transparent;
	border: 0;
	bottom: 0;
	color: white;
	cursor: pointer;
	height: 1.25rem;
	margin: auto;
	padding: 0;
	position: absolute;
	right: .5rem;
	top: 0;
	transition: opacity _theme("commons.animations.durations.fast") ease;
	width: 1.25rem;

	&:hover {
		opacity: .66;
	}

	&::after {
		@include makeIcon("cross");
	}
}

@keyframes toast {
	from {
		transform: translateY(1rem);
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
