.toasts {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	font-size: _theme("sizes.small.font-size");
	line-height: _theme("sizes.small.line-height");
	position: fixed;
	right: _component("toasts.right");
	top: _component("toasts.top");
	width: _component("toasts.width");
	z-index: 9999;
}

.toasts-item {
	animation: toast _theme("commons.animations.durations.standard") 1;
	background: _component("toasts.background");
	border-radius: _theme("commons.border.radius");
	color: _component("toasts.color");
	margin-bottom: _component("toasts.margin-bottom");
	margin-left: auto;
	overflow: hidden;
	padding: _component("toasts.padding");
	position: relative;
	transform-origin: top;
}

.toasts-item-kill {
	background: transparent;
	border: 0;
	bottom: 0;
	color: white;
	cursor: pointer;
	height: 1.25rem;
	margin: auto;
	padding: 0;
	position: absolute;
	right: .5rem;
	top: 0;
	transition: opacity _theme("commons.animations.durations.fast") ease;
	width: 1.25rem;

	&:hover {
		opacity: .66;
	}

	&::after {
		@include makeIcon("cross");
	}
}

@keyframes toast {
	from {
		transform: translateY(1rem);
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
