.toasts {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	font-size: _theme("sizes.small.font-size");
	line-height: _theme("sizes.small.line-height");
	position: fixed;
	right: _component("toasts.right");
	top: _component("toasts.top");
	width: _component("toasts.width");
	z-index: 9999;
}

.toasts-item {
	animation: toast _theme("commons.animations.durations.standard") 1;
	background-color: _component("toasts.background");
	border-radius: _theme("commons.border.radius");
	color: _component("toasts.color");
	margin-bottom: _component("toasts.margin-bottom");
	margin-left: auto;
	overflow: hidden;
	padding: _component("toasts.padding");
	position: relative;
	transform-origin: top;

	@each $name, $palette in _getMap("palettes") {
		&.palette-#{$name} {
			background-color: _safeGet($palette,"800");
		}
	}
}

.toasts-item-kill {
	background-color: transparent;
	border: 0;
	bottom: 0;
	color: white;
	cursor: pointer;
	height: 1.25rem;
	margin: auto;
	padding: 0;
	position: absolute;
	right: .5rem;
	top: 0;
	transition: opacity _theme("commons.animations.durations.fast") ease;
	width: 1.25rem;

	&:hover {
		opacity: .66;
	}

	&::after {
		@include makeIcon("cross");
	}
}

// MODS
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

.toasts {
	&.mod-commInApp {
		top: inherit;
		left: _component("toasts.left");
		bottom: _component("toasts.bottom");
		width: _component("toasts.big");

		.toasts-item {
			background-color: _color("primary", "700");
			margin-left: inherit;
			padding: 0;
			display: flex;
		}

		.toasts-visual {
			bottom: 0;
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			width: 5rem;
		}

		.toasts-blob {
			fill: _color("primary", "600");
			height: 100%;
			position: absolute;
			width: 100%;
		}
		.toasts-illustration {
			height: 100%;
			left: _theme("spacings.small");
			position: absolute;
			top: - _theme("spacings.smaller");
			width: 2.5rem;
		}

		.toasts-content {
			padding: _theme("spacings.small") 0;
			margin-left: calc(#{_theme("spacings.small", true)} + 5rem);
			margin-right: _theme("spacings.small");
		}

		.toasts-content-title {
			margin-bottom: _theme("spacings.smaller");
		}

		.toasts-item-kill {
			bottom: inherit;
			top: _theme("spacings.smaller");
		}
	}
}

@keyframes toast {
	from {
		transform: translateY(1rem);
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
