.tooltip {
	background: _palette("grey.color");
	border-radius: 3px;
	color: white;
	display: inline-block;
	font-size: _theme("font.size.small");
	padding: .5rem 1rem;
	position: relative;

	&::before {
		border-color: _palette("grey.color") transparent transparent transparent;
		border-style: solid;
		border-width: 7px 7px 0;
		bottom: -6px;
		content: "";
		height: 0;
		left: 0;
		margin: auto;
		position: absolute;
		right: 0;
		width: 0;
	}
}

.tooltip {
	&.mod-primary {
		background: _palette("primary.color");
		color: _palette("grey.color");

		&::before {
			border-color: _palette("primary.color") transparent transparent transparent;
		}
	}
}
