.tooltip {
	background: _get($luTheme, "palette.colors.grey");
	border-radius: 3px;
	color: white;
	display: inline-block;
	font-size: _get($luTheme, "font.size.small");
	padding: .5rem 1rem;
	position: relative;

	&::before {
		border-color: _get($luTheme, "palette.colors.grey") transparent transparent transparent;
		border-style: solid;
		border-width: 7px 7px 0;
		bottom: -6px;
		content: "";
		height: 0;
		left: 0;
		margin: auto;
		position: absolute;
		right: 0;
		width: 0;
	}
}

.tooltip {
	&.mod-primary {
		background: _get($luTheme, "palette.colors.primary");
		color: _get($luTheme, "palette.colors.grey");

		&::before {
			border-color: _get($luTheme, "palette.colors.primary") transparent transparent transparent;
		}
	}
}
