@forward 'field';

@forward 'box';
@forward 'tag';
@forward 'main';
@forward 'code';
@forward 'link';
@forward 'chip';
@forward 'title';
@forward 'label';
@forward 'filters';
@forward 'divider';
@forward 'section';
@forward 'collapse';
@forward 'container';
@forward 'errorPage';
@forward 'pageHeader';
@forward 'pagination';
@forward 'titleSection';
@forward 'contentSection';
@forward 'tableOfContent';
@forward 'list';
@forward 'card';
@forward 'gauge';
@forward 'callout';
@forward 'loading';
@forward 'progress';
@forward 'breadcrumbs';
@forward 'buttonGroup';
@forward 'header';
@forward 'horizontalNavigation';

@forward 'textfields';
@forward 'checkbox';
@forward 'switch';
@forward 'radio';

@forward 'textField'; // new component for checkbox
@forward 'checkboxField'; // new component for checkbox
@forward 'switchField'; // new component for switch
@forward 'radioField'; // new component for radio

@forward 'file';
@forward 'layout';
@forward 'radioButtons';
@forward 'table';
@forward 'timeline';
@forward 'button';
@forward 'navside';
@forward 'form';
@forward 'tableFixed';
@forward 'segmentedControl';
@forward 'calendar';
@forward 'skipLinks';
@forward 'fancyBox';
@forward 'inputFramed';
@forward 'grid';
@forward 'tableSticked';
@forward 'timepicker';
@forward 'notchBox';
@forward 'statusBadge';
@forward 'mobileHeader';
@forward 'clear';
@forward 'newBadge';
@forward 'inlineMessage';
@forward 'numericBadge';
@forward 'mobileNavigation';
@forward 'footer';
@forward 'formLabel';
@forward 'verticalNavigation';
@forward 'sortableList';
@forward 'fieldset';
@forward 'skeleton';
@forward 'calloutDisclosure';
@forward 'calloutPopover';
@forward 'calloutFeedbackList';
@forward 'simpleSelect';
@forward 'multiSelect';
@forward 'emptyState';
@forward 'dialog';
@forward 'avatar';
@forward 'indexTable';
@forward 'tableSortable';
@forward 'tooltip';
@forward 'userPopover';
@forward 'scrollBox';
@forward 'comment';
@forward 'toast';
@forward 'popover';
@forward 'userTile';
@forward 'mobilePush';
@forward 'plgPush';
@forward 'dateField';
@forward 'dateRangeField';
@forward 'dataTable';
@forward 'dataTableSticked';
@forward 'filterPill';
@forward 'filterBar';
@forward 'dropdown';
@forward 'textFlow';
@forward 'richText';
@forward 'readMore';
@forward 'highlightData';
@forward 'listing';
@forward 'fileUpload';
@forward 'fileEntry';
@forward 'fileToolbar';
@forward 'appLayout';
@forward 'mainLayout';
@forward 'listboxOption';
@forward 'suggestion';
@forward 'resourceCard';
@forward 'color';
@forward 'bubbleIcon';

@forward 'filterBarDeprecated';
@forward 'tableFixedDeprecated';
@forward 'tableStickedDeprecated';

