@use 'field';
@use 'box';
@use 'tag';
@use 'code';
@use 'link';
@use 'chip';
@use 'title';
@use 'label';
@use 'divider';
@use 'section';
@use 'collapse';
@use 'container';
@use 'pagination';
@use 'titleSection';
@use 'contentSection';
@use 'tableOfContent';
@use 'list';
@use 'card';
@use 'gauge';
@use 'callout';
@use 'loading';
@use 'progress';
@use 'breadcrumbs';
@use 'buttonGroup';
@use 'actionIcon';
@use 'menu';
@use 'radio';
@use 'radioField';
@use 'switch';
@use 'switchField';
@use 'file';
@use 'layout';
@use 'radioButtons';
@use 'table';
@use 'checkbox';
@use 'checkboxField';
@use 'timeline';
@use 'button';
@use 'textfields';
@use 'textField';
@use 'navside';
@use 'form';
@use 'tableFixed';
@use 'viewTabs';
@use 'grid';
@use 'tableSticked';
@use 'timepicker';
@use 'notchBox';
@use 'statusBadge';
@use 'mobileHeader';
@use 'clear';
@use 'newBadge';
@use 'inlineMessage';
@use 'numericBadge';
@use 'mobileNavigation';
@use 'formLabel';
@use 'verticalNavigation';
@use 'sortableList';
@use 'fieldset';
@use 'skeleton';
@use 'calloutDisclosure';
@use 'calloutPopover';
@use 'calloutFeedbackList';
@use 'simpleSelect';
@use 'multiSelect';
@use 'avatar';
@use 'tableSortable';
@use 'tooltip';
@use 'userPopover';
@use 'scrollBox';
@use 'toast';
@use 'popover';
@use 'plgPush';
@use 'userTile';

// responsive components with media queries
@use 'dialog';
@use 'filters';
@use 'header';
@use 'errorPage';
@use 'main';

// responsive components with container queries
@use 'comment';
@use 'filterBar';
// @use 'emptyState';
// @use 'pageHeader';
// @use 'footer';
// @use 'indexTable';

// responsive components with default behaviours disabled
@use 'emptyState' with (
	$defaultResponsive: false
);
@use 'pageHeader' with (
	$defaultResponsive: false
);
@use 'footer' with (
	$defaultResponsive: false
);
@use 'indexTable' with (
	$defaultResponsive: false
);

// responsive behaviors reactivated with media queries to avoid breakings
@include emptyState.responsive($at: 'media');
@include emptyState.responsiveBackground($at: 'media');

@include pageHeader.responsive($at: 'media');
@include pageHeader.responsiveSearch($at: 'media');

@include footer.responsive($at: 'container');

@include indexTable.responsive($at: 'container');

// deprecated components
// @use 'gridLegacy'; // caution: grid and gridLegacy cannot be loaded at the same time
// @use 'emptyStateDeprecated';
// @use 'tableFixedDeprecated';
// @use 'tableStickedDeprecated';
