@mixin component($atRoot: 'without: rule') {
	align-items: flex-start;
	background-color: var(--palettes-100, var(--palettes-primary-100));
	border-radius: var(--commons-borderRadius-L);
	display: inline-flex;
	font-size: var(--components-statusBadge-fontSize);
	gap: var(--pr-t-spacings-XXXS);
	line-height: var(--components-statusBadge-lineHeight);
	padding: calc(var(--pr-t-spacings-XXXS) / 2) var(--pr-t-spacings-XS) calc(var(--pr-t-spacings-XXXS) / 2) var(--pr-t-spacings-XXS);
	white-space: nowrap;
	font-weight: normal;

	&::before {
		background-color: var(--palettes-700, var(--palettes-primary-700));
		border-radius: var(--commons-borderRadius-full);
		content: '';
		display: block;
		height: var(--components-statusBadge-dot-size);
		flex-shrink: 0;
		width: var(--components-statusBadge-dot-size);
		top: var(--components-statusBadge-dot-top);
		position: relative;
	}

	@at-root ($atRoot) {
	}
}
