@mixin L {
	--components-statusBadge-fontSize: var(--pr-t-font-fontSize-200);
	--components-statusBadge-lineHeight: var(--pr-t-font-lineHeight-250);
	--components-statusBadge-dot-size: 0.625rem;
	--components-statusBadge-dot-top: 0.325rem;
}
