@mixin vars {
	--components-statusBadge-fontSize: var(--pr-t-font-body-S-fontSize);
	--components-statusBadge-lineHeight: var(--pr-t-font-body-XS-lineHeight);
	--components-statusBadge-dot-size: 0.5rem;
	--components-statusBadge-dot-top: var(--pr-t-spacings-50);
}
