@mixin vars {
  --components-statusBadge-fontSize: var(--sizes-S-fontSize);
  --components-statusBadge-lineHeight: var(--sizes-XS-lineHeight);
  --components-statusBadge-dot-size: .5rem;
  --components-statusBadge-dot-top: var(--spacings-XXS);
}
