@use '@lucca-front/icons/src/commons/utils/icon';
@use '@lucca-front/scss/src/commons/utils/a11y';

@mixin component($atRoot: 'without: rule') {
	position: relative;

	@at-root ($atRoot) {
		.checkboxField-icon {
			width: var(--component-checkboxField-size);
			height: var(--component-checkboxField-size);
			border: 2px solid var(--palettes-grey-700);
			border-radius: var(--component-checkboxField-borderRadius);
			position: relative;
			color: var(--colors-white-color);
			transition-property: color, border-color, background-color;
			transition-duration: var(--commons-animations-durations-fast);
			background-color: var(--colors-white-color);
			display: block;
			cursor: pointer;

			@media (prefers-reduced-motion: reduce) {
				transition-property: none;
			}

			&::after {
				content: '';
				position: absolute;
				inset: -2px;
				outline-offset: 2px;
				border-radius: var(--component-checkboxField-borderRadius);
			}
		}

		.checkboxField-icon-check {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 100%;
			transform: scale(0);
			transition-property: transform;
			transition-duration: var(--commons-animations-durations-fast);
			transition-timing-function: cubic-bezier(0.5, -0.5, 0.5, 0);

			@media (prefers-reduced-motion: reduce) {
				transition-property: none;
			}

			&::before {
				font-weight: 400;
				font-size: var(--component-checkboxField-icon-fontSize);
				direction: ltr;
				font-family: 'Lucca icons';
				font-feature-settings: 'liga';
				font-style: normal;
				letter-spacing: normal;
				line-height: 1;
				text-transform: none;
				white-space: nowrap;
				word-wrap: normal;
				content: '\e97d'; // Remove when content alternative will have a good support
				content: '\e97d'/ '';
			}
		}

		.checkboxField-input {
			position: absolute;
			z-index: 1;
			width: var(--component-checkboxField-size);
			height: var(--component-checkboxField-size);
			opacity: 0;
			cursor: pointer;
		}
	}
}
