@use '@lucca-front/scss/src/components/formLabel/exports' as formLabel;
@use '@lucca-front/icons/src/commons/utils/icon';
@use '@lucca-front/scss/src/commons/utils/a11y';

@mixin component($atRoot: 'without: rule') {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-column-gap: var(--spacings-XS);

	@at-root ($atRoot) {
		.checkboxField-label {
			display: contents;
		}

		.checkboxField-label-input {
			width: var(--component-checkboxField-label-input-size);
			height: var(--component-checkboxField-label-input-size);
			border: 2px solid var(--palettes-grey-700);
			border-radius: var(--component-checkboxField-label-input-borderRadius);
			position: relative;
			top: var(--component-checkboxField-label-input-top);
			color: var(--colors-white-color);
			transition-property: color, border-color, background-color;
			transition-duration: var(--commons-animations-durations-fast);
			background-color: var(--colors-white-color);
			cursor: pointer;

			@media (prefers-reduced-motion: reduce) {
				transition-property: none;
			}

			&::after {
				content: '';
				position: absolute;
				inset: -2px;
				outline-offset: 2px;
				border-radius: var(--component-checkboxField-label-input-borderRadius);
			}
		}

		.checkboxField-label-input-icon {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 100%;
			transform: scale(0);
			transition-property: transform;
			transition-duration: var(--commons-animations-durations-fast);
			transition-timing-function: cubic-bezier(0.5, -0.5, 0.5, 0);

			@media (prefers-reduced-motion: reduce) {
				transition-property: none;
			}

			&::before {
				font-weight: 400;
				font-size: var(--component-checkboxField-label-input-icon-fontSize);
				direction: ltr;
				font-family: 'Lucca icons';
				font-feature-settings: 'liga';
				font-style: normal;
				letter-spacing: normal;
				line-height: 1;
				text-transform: none;
				white-space: nowrap;
				word-wrap: normal;
				content: '\e97d'; // Remove when content alternative will have a good support
				content: '\e97d' / '';
			}
		}

		.checkboxField-input {
			@include a11y.mask;
		}

		.formLabel {
			@include formLabel.label;
		}

		.inlineMessage {
			grid-column: 2;
		}
	}
}
