@mixin S {
	--component-checkboxField-size: 1rem;
	--component-checkboxField-borderRadius: var(--commons-borderRadius-M);
	--component-checkboxField-icon-fontSize: var(--pr-t-font-lineHeight-200);
	--component-checkboxField-label-fontSize: var(--pr-t-font-fontSize-175);
	--component-checkboxField-label-lineHeight: var(--pr-t-font-lineHeight-250);
}
