@use '@lucca-front/scss/src/components/formLabel/exports' as formLabel;
@use '@lucca-front/scss/src/components/inlineMessage/exports' as inlineMessage;
@use '@lucca-front/scss/src/components/box/exports' as box;

@mixin S {
	--component-checkboxField-label-input-size: 1rem;
	--component-checkboxField-label-input-borderRadius: var(--commons-borderRadius-M);
	--component-checkboxField-label-input-icon-fontSize: var(--sizes-XS-lineHeight);
	--component-checkboxField-label-fontSize: var(--sizes-S-fontSize);
	--component-checkboxField-label-lineHeight: var(--sizes-S-lineHeight);

	.formLabel {
		@include formLabel.S;
	}

	.inlineMessage {
		@include inlineMessage.S;
	}

	// .arrow {
	// 	@include arrow.S;
	// }
}

@mixin withArrow {
	padding-bottom: var(--spacings-S);

	&:has(.checkboxField-input:checked) {
		.radioField-arrow {
	 		@include box.arrow;
		}
	}
}
