@use '@lucca-front/icons/src/commons/utils/icon';
@use '@lucca-front/scss/src/commons/utils/form';
@use '@lucca-front/scss/src/commons/utils/a11y';

@mixin mixed {
	~ .checkboxField-icon {
		.checkboxField-icon-check {
			&::before {
				content: '\e975'; // Remove when content alternative will have a good support
				content: '\e975'/ '';
			}
		}
	}
}

@mixin checked {
	~ .checkboxField-icon {
		background-color: var(--palettes-primary-700);
		border-color: var(--palettes-primary-700);

		.checkboxField-icon-check {
			transform: scale(1);
			transition-timing-function: cubic-bezier(0.5, 1, 0.5, 1.5);
		}
	}
}

@mixin hover {
	~ .checkboxField-icon {
		border-color: var(--palettes-grey-600);
	}
}

@mixin checkedHover {
	~ .checkboxField-icon {
		background-color: var(--palettes-primary-600);
		border-color: var(--palettes-primary-600);
	}
}

@mixin checkedActive {
	~ .checkboxField-icon {
		background-color: var(--palettes-primary-800);
		border-color: var(--palettes-primary-800);
	}
}

@mixin checkedDisabled {
	~ .checkboxField-icon {
		background-color: var(--palettes-grey-100);
		border-color: var(--palettes-grey-100);
		color: var(--palettes-grey-500);
	}
}

@mixin checkedHover {
	~ .checkboxField-icon {
		background-color: var(--palettes-primary-600);
		border-color: var(--palettes-primary-600);
	}
}

@mixin checkedInvalid {
	~ .checkboxField-icon {
		background-color: var(--palettes-error-700);
		border-color: var(--palettes-error-700);
	}
}

@mixin active {
	~ .checkboxField-icon {
		border-color: var(--palettes-grey-800);
	}
}

@mixin disabled {
	cursor: default;

	~ .checkboxField-icon {
		border-color: var(--palettes-grey-500);
	}
}

@mixin focusVisible {
	~ .checkboxField-icon {
		&::after {
			@include a11y.focusVisible();
		}
	}
}

@mixin invalid {
	~ .checkboxField-icon {
		border-color: var(--palettes-error-700);
	}
}

@mixin invalidHover {
	~ .checkboxField-icon {
		border-color: var(--palettes-error-600);
	}
}

@mixin invalidActive {
	~ .checkboxField-icon {
		border-color: var(--palettes-error-800);
	}
}

@mixin checkedInvalidHover {
	~ .checkboxField-icon {
		background-color: var(--palettes-error-600);
		border-color: var(--palettes-error-600);
	}
}

@mixin checkedInvalidActive {
	~ .checkboxField-icon {
		background-color: var(--palettes-error-800);
		border-color: var(--palettes-error-800);
	}
}
