@mixin vars {
	--component-checkboxField-size: 1.25rem;
	--component-checkboxField-top: 0.125rem;
	--component-checkboxField-borderRadius: 6px;
	--component-checkboxField-icon-fontSize: var(--sizes-S-lineHeight);
}
