$prefix: "u-" !default;
$suffix: "!important" !default;

.#{$prefix}displayBlock {
	display: block #{$suffix};
}

.#{$prefix}displayInlineBlock {
	display: inline-block #{$suffix};
}

.#{$prefix}displayNone {
	display: none #{$suffix};
}
