$prefix: "u-" !default;
$suffix: "!important" !default;

// parents
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

// display

.#{$prefix}displayFlex {
	display: flex #{$suffix};
}

.#{$prefix}displayInlineFlex {
	display: inline-flex #{$suffix};
}

// direction

.#{$prefix}flexDirectionColumn {
	flex-direction: column #{$suffix};
}

.#{$prefix}flexDirectionColumnReverse {
	flex-direction: column-reverse #{$suffix};
}

.#{$prefix}flexDirectionRow {
	flex-direction: row #{$suffix};
}

.#{$prefix}flexDirectionRowReverse {
	flex-direction: row-reverse #{$suffix};
}

// wrap

.#{$prefix}flexWrapNowrap {
	flex-wrap: nowrap #{$suffix};
}

.#{$prefix}flexWrapWrap {
	flex-wrap: wrap #{$suffix};
}

.#{$prefix}flexWrapReverse {
	flex-wrap: wrap-reverse #{$suffix};
}

// justify

.#{$prefix}justifyContentFlexStart {
	justify-content: flex-start #{$suffix};
}

.#{$prefix}justifyContentFlexEnd {
	justify-content: flex-end #{$suffix};
}

.#{$prefix}justifyContentSpaceAround {
	justify-content: space-around #{$suffix};
}

.#{$prefix}justifyContentSpaceBetween {
	justify-content: space-between #{$suffix};
}

.#{$prefix}justifyContentSpaceEvenly {
	justify-content: space-evenly #{$suffix};
}

.#{$prefix}justifyContentCenter {
	justify-content: center #{$suffix};
}

// align

.#{$prefix}alignItemsFlexStart {
	align-items: flex-start #{$suffix};
}

.#{$prefix}alignItemsFlexEnd {
	align-items: flex-end #{$suffix};
}

.#{$prefix}alignItemsBaseline {
	align-items: baseline #{$suffix};
}

.#{$prefix}alignItemsCenter {
	align-items: center #{$suffix};
}

.#{$prefix}alignItemsStretch {
	align-items: stretch #{$suffix};
}

// childs
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

// grow

.#{$prefix}flexGrow0 {
	flex-grow: 0 #{$suffix};
}

.#{$prefix}flexGrow1 {
	flex-grow: 1 #{$suffix};
}

// shrink

.#{$prefix}flexShrink0 {
	flex-shrink: 0 #{$suffix};
}

.#{$prefix}flexShrink1 {
	flex-shrink: 1 #{$suffix};
}

// basis

.#{$prefix}flexBasis0 {
	flex-basis: 0 #{$suffix};
}

.#{$prefix}flexBasisAuto {
	flex-basis: auto #{$suffix};
}

// order

.#{$prefix}order-1 {
	order: -1 #{$suffix};
}

.#{$prefix}order1 {
	order: 1 #{$suffix};
}

// align

.#{$prefix}alignSelfFlexStart {
	align-self: flex-start #{$suffix};
}

.#{$prefix}alignSelfFlexEnd {
	align-self: flex-end #{$suffix};
}

.#{$prefix}alignSelfBaseline {
	align-self: baseline #{$suffix};
}

.#{$prefix}alignSelfCenter {
	align-self: center #{$suffix};
}

.#{$prefix}alignSelfStretch {
	align-self: stretch #{$suffix};
}

.#{$prefix}minWidth0 {
	min-width: 0 #{$suffix};
}
