// POSITIONING
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

.u-left {
	float: left;
}

.u-right {
	float: right;
}

.u-clear {
	&::after {
		clear: both;
		content: "";
		display: table;
	}
}

.u-middle {
	vertical-align: middle !important;
}

// WHITESPACE
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

.u-nowrap {
	white-space: nowrap;
}

// ICONS
//
.u-help {
	color: _color("text.light");
	cursor: help;
	margin-left: .15rem;
	font-size: 1.3rem;
}


// IMAGES
//
.u-imageResponsive {
	display: block;
	margin: 0;
	max-width: 100%;
}

.u-listReset {
	@include listReset('!important');
}

.u-buttonReset {
	@include buttonReset('!important');
}
