// POSITIONING
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

.u-left {
	float: left;
}

.u-right {
	float: right;
}

.u-clear {
	@include clearfix;
}

.u-middle {
	vertical-align: middle !important;
}

// WHITESPACE
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

.u-nowrap {
	white-space: nowrap;
}

.u-wrap {
	white-space: normal;
}

// ICONS
//
.u-help {
	color: _color("text.light");
	cursor: help;
	margin-left: .15rem;
	font-size: 1.3rem;
}


// IMAGES
//
.u-imageResponsive {
	display: block;
	margin: 0;
	max-width: 100%;
}

.u-listReset {
	@include listReset("!important");
}

.u-definitionlistReset {
	@include definitionListReset("!important");
}

.u-buttonReset {
	@include buttonReset("!important");
}

html,
.u-scrollBehaviorSmooth {
	@media (prefers-reduced-motion: no-preference) {
		scroll-behavior: smooth;
	}
}

.u-scrollBehaviorAuto {
	scroll-behavior: auto;
}

// POINTERS
//

.u-pointerEventsNone {
	pointer-events: none;
}

.u-pointerEventsAuto {
	pointer-events: auto;
}

