// POSITIONING
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

.u-left {
	float: left;
}

.u-right {
	float: right;
}

.u-clear {
	&::after {
		clear: both;
		content: "";
		display: table;
	}
}

.u-middle {
	vertical-align: middle !important;
}

// WHITESPACE
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

.u-nowrap {
	white-space: nowrap;
}

// Icons 

.u-help {
	color: _color("text.light");
	cursor: help;
	margin-left: 0.15rem;
	font-size: 1.3rem;
}
