// POSITIONING
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

.u-left {
	float: left;
}

.u-right {
	float: right;
}

.u-clear {
	&::after {
		clear: both;
		content: "";
		display: table;
	}
}

.u-middle {
	vertical-align: middle !important;
}

// WHITESPACE
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

.u-nowrap {
	white-space: nowrap;
}
