$prefix: "u-" !default;
$suffix: "!important" !default;

.#{$prefix}positionAbsolute {
	position: absolute #{$suffix};
}

.#{$prefix}positionRelative {
	position: relative #{$suffix};
}

.#{$prefix}positionStatic {
	position: static #{$suffix};
}

.#{$prefix}positionFixed {
	position: fixed #{$suffix};
}

.#{$prefix}positionSticky {
	position: sticky #{$suffix};
}

.#{$prefix}top0 {
	top: 0 #{$suffix};
}

.#{$prefix}bottom0 {
	bottom: 0 #{$suffix};
}

.#{$prefix}left0 {
	left: 0 #{$suffix};
}

.#{$prefix}right0 {
	right: 0 #{$suffix};
}
