$prefix: "u-" !default;
$properties: "margin", "padding", "border" !default;
$hyphen: "-" !default;
$directions: "top", "bottom", "left", "right", "" !default;
$suffix: "!important" !default;

$sep: "";

@each $property in $properties {
	@each $name, $value in $spacings {
		@each $direction in $directions {
			@if ($direction == "") {
				$sep: "";
			}
			@else {
				$sep: $hyphen;
			}

			@if ($property != "border" or $value == 0) {
				.#{$prefix}#{$property}#{str-capitalize($direction)}#{str-capitalize($name)} {
					#{$property}#{$sep}#{$direction}: _theme("spacings." + $name) #{$suffix};
				}
			}
		}
	}
}
