$prefix: "u-";
$properties: "margin", "padding", "border";
$hyphen: "-";
$directions: "top", "bottom", "left", "right", "all";
$suffix: "!important";

@each $property in $properties {
	@each $name, $value in $spacings {
		@each $direction in $directions {
			@if ($direction == "all") {
				$hyphen: "";
				$direction: "";
			}
			.#{$prefix}#{$property}#{str-capitalize($direction)}#{str-capitalize($name)} {
				@if ($property != "border" or $value == 0) {
					#{$property}#{$hyphen}#{$direction}: _theme("spacings." + $name) #{$suffix};
				}
			}
		}
	}
}
