// ALIGN
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

.u-textLeft {
	text-align: left !important;
}

.u-textCenter {
	text-align: center !important;
}

.u-textRight {
	text-align: right !important;
}


// COLORS
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

// lulu - i dont like it
// lulu - we culd decline from palettes and it would give us
// .u-textKey {
// 	color: _color("key") !important;
// }
// and not some from `text.default` and some from palettes and some with a different name than the palette it imports 
// u-textGreen -> uses palette success
.u-textGrey {
	color: _color("text.default") !important;
}
.u-textLight {
	color: _color("text.light") !important;
}
.u-textPrimary {
	color: _color("primary") !important;
}

.u-textSecondary {
	color: _color("secondary") !important;
}

.u-textGreen {
	color: _color("success") !important;
}

.u-textOrange {
	color: _color("warning") !important;
}

.u-textRed {
	color: _color("error") !important;
}
