$suffix: "!important";
// TITLE
//
.u-h1, .u-h2, .u-h3, .u-h4, .u-h5, .u-h6 {
	@include commonsTitleStyles($suffix);
}

.u-h1 {
    @include h1Styles($suffix);
}

.u-h2 {
    @include h2Styles($suffix);
}

.u-h3 {
    @include h3Styles($suffix);
}

.u-h4 {
    @include h4Styles($suffix);
}

.u-h5 {
    @include h5Styles($suffix);
}

.u-h6 {
    @include h6Styles($suffix);
}



// ALIGN
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

.u-textLeft {
	text-align: left #{$suffix};
}

.u-textCenter {
	text-align: center #{$suffix};
}

.u-textRight {
	text-align: right #{$suffix};
}


// COLORS
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

.u-textDefault {
	color: _color("text.default") #{$suffix};
}

.u-textLight {
	color: _color("text.light") #{$suffix};
}

.u-textPlaceholder {
	color: _color("text.placeholder") #{$suffix};
}

// palette
@each $name, $palette in _getMap("palettes") {
	.u-text#{str-capitalize($name)} {
		color: _color($name) #{$suffix};
	}
}


// SIZE
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

@each $name, $sizes in _getMap("sizes") {
	.u-text#{str-capitalize($name)} {
		font-size: _theme("sizes."+$name+".font-size") #{$suffix};
		line-height: _theme("sizes."+$name+".line-height") #{$suffix};
	}
}


// ELLIPSIS
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

.u-ellipsis {
	overflow: hidden #{$suffix};
	text-overflow: ellipsis #{$suffix};
	white-space: nowrap #{$suffix};
}


// UNITS
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

.u-unit {
	font-size: .66em #{$suffix};
}

// COMMA
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒
.u-comma:not(:last-child) {
	&::after {
		content: ",\00a0" #{$suffix};
	}
}

// STYLE AND WEIGHT
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

.u-fontStyleNormal {
	font-style: normal #{$suffix};
}

.u-fontStyleItalic {
	font-style: italic #{$suffix};
}

.u-fontWeightRegular {
	font-weight: 400 #{$suffix};
}

.u-fontWeightBold {
	font-weight: 600 #{$suffix};
}

// TEXT DECORATION
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

.u-textDecorationNone {
	text-decoration: none #{$suffix};
}

.u-textDecorationUnderline {
	text-decoration: underline #{$suffix};
}

.u-textDecorationLineThrough {
	text-decoration: line-through #{$suffix};
}
