@use '@lucca-front/scss/src/commons/utils/a11y';

@mixin component($atRoot: 'without: rule') {
	color: var(--components-formLabel-color);
	display: inline-block;
	font-size: var(--components-formLabel-fontSize);
	line-height: var(--components-formLabel-lineHeight);
	display: flex;
	align-items: flex-end;
	gap: var(--spacings-XXS);
	width: fit-content;

	&:has(.formLabel-counter) {
		width: auto;
	}

	@supports not selector(:has(*)) {
		width: auto;
	}

	.lucca-icon {
		color: var(--palettes-grey-600);
		font-size: var(--components-formLabel-required-fontSize);
		line-height: var(--components-formLabel-required-lineHeight);
		margin-left: 0.125rem;
		vertical-align: top;
	}

	@at-root ($atRoot) {
		.formLabel-required {
			color: var(--palettes-error-700);
		}

		.formLabel-counter {
			margin-left: auto;
			text-align: right;
			padding-left: var(--spacings-XS);
		}

		.formLabel-counter-alternative {
			@include a11y.mask;
		}
	}
}
