@use '@lucca-front/scss/src/commons/utils/a11y';

@mixin component($atRoot: 'without: rule') {
	display: block;
	position: relative;
	color: var(--components-formLabel-color);
	font-size: var(--components-formLabel-fontSize);
	font-weight: 400;
	line-height: var(--components-formLabel-lineHeight);
	width: var(--components-formLabel-width);
	padding-right: var(--components-formLabel-paddingRight);
	cursor: var(--components-formLabel-cursor);

	.lucca-icon {
		color: var(--palettes-neutral-600);
		font-size: var(--components-formLabel-help-fontSize);
		line-height: var(--components-formLabel-help-lineHeight);
		margin-left: var(--pr-t-spacings-25);
		vertical-align: top;
	}

	@at-root ($atRoot) {
		.formLabel-required {
			color: var(--palettes-error-700);
			font-size: inherit;
			line-height: inherit;
			font-weight: 600;
			text-rendering: geometricPrecision;
			margin-left: var(--pr-t-spacings-25);
		}

		.formLabel-info {
			&:focus-visible {
				outline: none;

				.lucca-icon {
					&::before {
						border-radius: 50%;

						@include a11y.focusVisible($offset: 0);
					}
				}
			}
		}

		.formLabel-counter {
			font-size: var(--sizes-XS-fontSize);
			color: var(--palettes-neutral-600);
			position: absolute;
			right: 0;
			top: 0;
		}
	}
}
