@use '@lucca-front/icons/src/icon/exports' as icons;

@mixin S {
  --components-formLabel-fontSize: var(--sizes-S-fontSize);
  --components-formLabel-lineHeight: var(--sizes-S-lineHeight);
  --components-formLabel-help-fontSize: var(--sizes-XS-lineHeight);
  --components-formLabel-help-lineHeight: var(--sizes-S-lineHeight);
}

@mixin XS {
  --components-formLabel-fontSize: var(--sizes-XS-fontSize);
  --components-formLabel-lineHeight: var(--sizes-XS-lineHeight);
  --components-formLabel-help-fontSize: .75rem;
  --components-formLabel-help-lineHeight: var(--sizes-XS-lineHeight);
}

@mixin label {
  cursor: pointer;
}
