@use '@lucca-front/icons/src/icon/exports' as icons;

@mixin S {
	--components-formLabel-font: var(--pr-t-font-body-S);
	--components-formLabel-help-fontSize: var(--pr-t-font-body-XS-lineHeight);
	--components-formLabel-help-lineHeight: var(--pr-t-font-body-S-lineHeight);

	// Deprecated
	--components-formLabel-fontSize: var(--pr-t-font-body-S-fontSize);
	--components-formLabel-lineHeight: var(--pr-t-font-body-S-lineHeight);
}

@mixin XS {
	--components-formLabel-font: var(--pr-t-font-body-XS);
	--components-formLabel-help-fontSize: 0.75rem;
	--components-formLabel-help-lineHeight: var(--pr-t-font-body-XS-lineHeight);

	// Deprecated
	--components-formLabel-fontSize: var(--pr-t-font-body-XS-fontSize);
	--components-formLabel-lineHeight: var(--pr-t-font-body-XS-lineHeight);
}

@mixin label {
	--components-formLabel-cursor: pointer;
}

@mixin widthAuto {
	--components-formLabel-width: auto;
}

@mixin counter {
	@include widthAuto;

	--components-formLabel-paddingRight: var(--pr-t-spacings-600);
}
