@use '@lucca-front/icons/src/icon/exports' as icons;

@mixin S {
	--components-formLabel-fontSize: var(--pr-t-font-fontSize-175);
	--components-formLabel-lineHeight: var(--pr-t-font-lineHeight-250);
	--components-formLabel-help-fontSize: var(--pr-t-font-lineHeight-200);
	--components-formLabel-help-lineHeight: var(--pr-t-font-lineHeight-250);
}

@mixin XS {
	--components-formLabel-fontSize: var(--pr-t-font-fontSize-150);
	--components-formLabel-lineHeight: var(--pr-t-font-lineHeight-200);
	--components-formLabel-help-fontSize: 0.75rem;
	--components-formLabel-help-lineHeight: var(--pr-t-font-lineHeight-200);
}

@mixin label {
	--components-formLabel-cursor: pointer;
}

@mixin widthAuto {
	--components-formLabel-width: auto;
}

@mixin counter {
	@include widthAuto;

	--components-formLabel-paddingRight: var(--pr-t-spacings-600);
}
