@mixin error {
	--components-formLabel-color: var(--palettes-error-700);
	--components-formLabel-info-color: inherit;
}

@mixin disabled {
	--components-formLabel-color: var(--pr-t-color-input-text-disabled);
	--components-formLabel-cursor: default;
}
