@mixin vars {
  --components-formLabel-fontSize: var(--sizes-M-fontSize);
  --components-formLabel-lineHeight: var(--sizes-M-lineHeight);
  --components-formLabel-color: var(--palettes-grey-800);
  --components-formLabel-help-fontSize: var(--sizes-XS-lineHeight);
  --components-formLabel-help-lineHeight: var(--sizes-M-lineHeight);
}
