@mixin vars {
	--components-formLabel-fontSize: var(--pr-t-font-body-M-fontSize);
	--components-formLabel-lineHeight: var(--pr-t-font-body-M-lineHeight);
	--components-formLabel-color: var(--palettes-neutral-800);
	--components-formLabel-help-fontSize: var(--pr-t-font-body-XS-lineHeight);
	--components-formLabel-help-lineHeight: var(--pr-t-font-body-M-lineHeight);
	--components-formLabel-paddingRight: 0;
	--components-formLabel-width: fit-content;
	--components-formLabel-cursor: default;
}
