<table class="demo-QAtable">
	<tbody>
		<tr>
			<td></td>
			<td style="width: 50%">
				<div class="demo-QAtable-list">HTML</div>
			</td>
			<td style="width: 50%">
				<div class="demo-QAtable-list">Angular</div>
			</td>
		</tr>
		<tr>
			<td>Default</td>
			<td>
				<div class="demo-QAtable-list">
					<span class="tag">Text</span>
				</div>
			</td>
			<td>
				<div class="demo-QAtable-list">
					<lu-tag label="Text" />
				</div>
			</td>
		</tr>
		<tr>
			<td>Palette</td>
			<td>
				<div class="demo-QAtable-list">
					@for (palette of paletteOptions; track palette) {
						<span class="tag palette-{{ palette }}">Text</span>
					}
				</div>
			</td>
			<td>
				<div class="demo-QAtable-list">
					@for (palette of paletteOptions; track palette) {
						<lu-tag label="Text" [palette]="palette" />
					}
				</div>
			</td>
		</tr>
		<tr>
			<td>Icon</td>
			<td>
				<div class="demo-QAtable-list">
					<span class="tag mod-S palette-product">
						<span class="lucca-icon icon-heart" aria-hidden="true"></span> <span class="tag-content">Text</span>
					</span>
					<span class="tag mod-S palette-neutral">
						<span class="lucca-icon icon-heart" aria-hidden="true"></span> <span class="tag-content">Text</span>
					</span>
					<span class="tag mod-S mod-AI">
						<span class="lucca-icon icon-heart" aria-hidden="true"></span> <span class="tag-content">Text</span>
					</span>

					<span class="tag palette-product">
						<span class="lucca-icon icon-heart" aria-hidden="true"></span> <span class="tag-content">Text</span>
					</span>
					<span class="tag palette-neutral">
						<span class="lucca-icon icon-heart" aria-hidden="true"></span> <span class="tag-content">Text</span>
					</span>
					<span class="tag mod-AI">
						<span class="lucca-icon icon-heart" aria-hidden="true"></span> <span class="tag-content">Text</span>
					</span>

					<span class="tag mod-L palette-product">
						<span class="lucca-icon icon-heart" aria-hidden="true"></span> <span class="tag-content">Text</span>
					</span>
					<span class="tag mod-L palette-neutral">
						<span class="lucca-icon icon-heart" aria-hidden="true"></span> <span class="tag-content">Text</span>
					</span>
					<span class="tag mod-L mod-AI">
						<span class="lucca-icon icon-heart" aria-hidden="true"></span> <span class="tag-content">Text</span>
					</span>
				</div>
			</td>
			<td>
				<div class="demo-QAtable-list">
					<lu-tag label="Text" palette="product" icon="heart" size="S" />
					<lu-tag label="Text" palette="neutral" icon="heart" size="S" />
					<lu-tag label="Text" AI icon="heart" size="S" />

					<lu-tag label="Text" palette="product" icon="heart" />
					<lu-tag label="Text" palette="neutral" icon="heart" />
					<lu-tag label="Text" AI icon="heart" />

					<lu-tag label="Text" palette="product" icon="heart" size="L" />
					<lu-tag label="Text" palette="neutral" icon="heart" size="L" />
					<lu-tag label="Text" AI icon="heart" size="L" />
				</div>
			</td>
		</tr>
		<tr>
			<td>Outlined</td>
			<td>
				<div class="demo-QAtable-list">
					@for (palette of paletteOptions; track palette) {
						<span class="tag mod-outlined palette-{{ palette }}">Text</span>
					}
					<span class="tag mod-AI">Text</span>
				</div>
			</td>
			<td>
				<div class="demo-QAtable-list">
					@for (palette of paletteOptions; track palette) {
						<lu-tag label="Text" [palette]="palette" outlined />
					}
					<lu-tag label="Text" AI outlined />
				</div>
			</td>
		</tr>
		<tr>
			<td>Clickable</td>
			<td>
				<div class="demo-QAtable-list">
					@for (palette of paletteOptions; track palette) {
						<a href="#" class="tag mod-clickable palette-{{ palette }}">Text</a>
					}
					@for (palette of paletteOptions; track palette) {
						<button type="button" class="tag mod-outlined mod-clickable palette-{{ palette }}">Text</button>
					}
					<button type="button" class="tag mod-AI mod-clickable">Text</button>
				</div>
			</td>
			<td>
				<div class="demo-QAtable-list">
					@for (palette of paletteOptions; track palette) {
						<lu-tag label="Text" link="#" [palette]="palette" />
					}
					@for (palette of paletteOptions; track palette) {
						<lu-tag label="Text" link="#" [palette]="palette" outlined />
					}
					<lu-tag label="Text" link="#" AI outlined />
				</div>
			</td>
		</tr>
		<tr>
			<td>Size</td>
			<td>
				<div class="demo-QAtable-list">
					<span class="tag mod-S">Text</span>
					<span class="tag">Text</span>
					<span class="tag mod-L">Text</span>
				</div>
			</td>
			<td>
				<div class="demo-QAtable-list">
					<lu-tag label="Text" size="S" />
					<lu-tag label="Text" size="M" />
					<lu-tag label="Text" size="L" />
				</div>
			</td>
		</tr>
		<tr>
			<td>Alignement</td>
			<td>
				<span class="tag">Text</span> 
				<span class="tag"><span class="lucca-icon icon-heart" aria-hidden="true"></span> <span class="tag-content">Text</span></span>
			</td>
			<td>
				<lu-tag label="Text" /> 
				<lu-tag icon="heart" label="Text" />
			</td>
		</tr>
		<tr>
			<td>Alignement inside h1</td>
			<td>
				<h1>
					lorem
					<span class="tag">Text</span>
					ipsum
					<span class="tag"><span class="lucca-icon icon-heart" aria-hidden="true"></span> <span class="tag-content">Text</span></span>
					dolor
				</h1>
			</td>
			<td>
				<h1>
					lorem
					<lu-tag label="Text" />
					ipsum
					<lu-tag icon="heart" label="Text" />
					dolor
				</h1>
			</td>
		</tr>
		<tr>
			<td>
				Alignement inside h1<br />
				with flexbox
			</td>
			<td>
				<h1 class="pr-u-displayFlex pr-u-gap100 pr-u-alignItemsCenter">
					lorem
					<span class="tag">Text</span>
					ipsum
					<span class="tag"><span class="lucca-icon icon-heart" aria-hidden="true"></span> <span class="tag-content">Text</span></span>
					dolor
				</h1>
			</td>
			<td>
				<h1 class="pr-u-displayFlex pr-u-gap100 pr-u-alignItemsCenter">
					lorem
					<lu-tag label="Text" />
					ipsum
					<lu-tag icon="heart" label="Text" />
					dolor
				</h1>
			</td>
		</tr>
		<tr>
			<td>Alignement inside h4</td>
			<td>
				<h4>
					lorem
					<span class="tag">Text</span>
					ipsum
					<span class="tag"><span class="lucca-icon icon-heart" aria-hidden="true"></span> <span class="tag-content">Text</span></span>
					dolor
				</h4>
			</td>
			<td>
				<h4>
					lorem
					<lu-tag label="Text" />
					ipsum
					<lu-tag icon="heart" label="Text" />
					dolor
				</h4>
			</td>
		</tr>
		<tr>
			<td>
				Alignement inside h4<br />
				with flexbox
			</td>
			<td>
				<h4 class="pr-u-displayFlex pr-u-gap100 pr-u-alignItemsCenter">
					lorem
					<span class="tag">Text</span>
					ipsum
					<span class="tag"><span class="lucca-icon icon-heart" aria-hidden="true"></span> <span class="tag-content">Text</span></span>
					dolor
				</h4>
			</td>
			<td>
				<h4 class="pr-u-displayFlex pr-u-gap100 pr-u-alignItemsCenter">
					lorem
					<lu-tag label="Text" />
					ipsum
					<lu-tag icon="heart" label="Text" />
					dolor
				</h4>
			</td>
		</tr>
	</tbody>
</table>

<!-- To tell the ui-diff tool that the page has finished rendering -->
<span id="ready"></span>
