@use '@lucca-front/icons/src/commons/utils/icon';
@use '@lucca-front/scss/src/commons/utils/a11y';

@mixin sorted {
	.table-head-row-cell-sortableButton,
	.indexTable-head-row-cell-sortableButton {
		color: var(--palettes-neutral-900);

		&::after {
			@include icon.generate('arrow_bottom');

			opacity: 1;
			transform: translateY(0);
		}

		&:hover {
			&::after {
				opacity: 1;
			}
		}

		&:focus-visible {
			&::after {
				@include a11y.focusVisible();
			}
		}
	}
}

@mixin sortedAlignRight {
	.table-head-row-cell-sortableButton {
		text-align: right;

		&::before {
			@include icon.generate('arrow_bottom');

			opacity: 1;
			transform: translateY(0);
		}

		&::after {
			content: none;
		}

		&:hover {
			&::before {
				opacity: 1;
			}
		}

		&:focus-visible {
			&::before {
				@include a11y.focusVisible();
			}
		}
	}
}

@mixin descendingLegacy2 {
	@include sorted;

	.table-head-row-cell-sortableButton {
		&::after {
			@include icon.generate('arrow_bottom');
		}
	}
}

@mixin ascendingLegacy2 {
	@include sorted;

	.table-head-row-cell-sortableButton,
	.indexTable-head-row-cell-sortableButton {
		&::after {
			@include icon.generate('arrow_top');
		}
	}
}

@mixin descendingAlignRight {
	@include sortedAlignRight;

	.table-head-row-cell-sortableButton {
		&::before {
			@include icon.generate('arrow_bottom');
		}
	}
}

@mixin ascendingAlignRight {
	@include sortedAlignRight;

	.table-head-row-cell-sortableButton {
		&::before {
			@include icon.generate('arrow_top');
		}
	}
}

@mixin sortAscending {
	.tableSortable-arrows-ascending,
	.table-head-row-cell-sortableButton-arrows-ascending,
	.indexTable-head-row-cell-sortableButton-arrows-ascending {
		--components-sortable-arrowColor: var(--palettes-neutral-700);
		--components-sortable-arrowScale: 1.25;
	}
}

@mixin sortDescending {
	.tableSortable-arrows-descending,
	.table-head-row-cell-sortableButton-arrows-descending,
	.indexTable-head-row-cell-sortableButton-arrows-descending {
		--components-sortable-arrowColor: var(--palettes-neutral-700);
		--components-sortable-arrowScale: 1.25;
	}
}
