@keyframes pulse {
	0% {
		opacity: 1;
		transform: scale(1);
	}

	50% {
		opacity: .8;
		transform: scale(1.1);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes shake {
	from, to {
		transform: translate3d(0, 0, 0);
	}
	20%, 60% {
		transform: translate3d(-10px, 0, 0);
	}

	40%, 80% {
		transform: translate3d(10px, 0, 0);
	}
}
