@keyframes scaleIn {
	from {
		transform: scale(0);
	}

	to {
		transform: scale(1);
	}
}

@keyframes scaleInTop {
	from {
		transform: scale(1, 0);
		transform-origin: top center;
	}

	to {
		transform: scale(1, 1);
		transform-origin: top center;
	}
}

@keyframes scaleInRight {
	from {
		transform: scale(0, 1);
		transform-origin: right center;
	}

	to {
		transform: scale(1, 1);
		transform-origin: right center;
	}
}

@keyframes scaleInBottom {
	from {
		transform: scale(1, 0);
		transform-origin: bottom center;
	}

	to {
		transform: scale(1, 1);
		transform-origin: bottom center;
	}
}

@keyframes scaleInLeft {
	from {
		transform: scale(0, 1);
		transform-origin: left center;
	}

	to {
		transform: scale(1, 1);
		transform-origin: left center;
	}
}
