@keyframes slideIn {
	from {
		opacity: 0;
		transform: translate(0, calc(-1 * #{_theme("commons.animations.translate")}));
	}

	to {
		opacity: 1;
		transform: translate(0, 0);
	}
}

@keyframes slideInLeft {
	from {
		transform: translate(calc(-1 * #{_theme("commons.animations.translate")}), 0);
		opacity: 0;
	}

	to {
		transform: translate(0, 0);
		opacity: 1;
	}
}

@keyframes slideInRight {
	from {
		transform: translate(_theme("commons.animations.translate"), 0);
		opacity: 0;
	}

	to {
		transform: translate(0, 0);
		opacity: 1;
	}
}

@keyframes slideInBottom {
	from {
		transform: translate(0, _theme("commons.animations.translate"));
		opacity: 0;
	}

	to {
		transform: translate(0, 0);
		opacity: 1;
	}
}
