.lucca-icon {
	&.mod-smaller {
		font-size: .9rem;
	}
	&.mod-small {
		font-size: 1.2rem;
	}
	&.mod-big {
		font-size: 1.8rem;
	}
	&.mod-bigger {
		font-size: 2.1rem;
	}
	&.mod-biggest {
		font-size: 2.4rem;
	}
}
