$font-path: _theme('icons.font-path', true);
$font-name: _theme('icons.name', true);
@import '@lucca-front/icons/src/main';
@import '@lucca-front/icons/src/mixins';

// Sizing mixin
@mixin iconSizing($size) {
	font-size: calc(#{_theme('sizes.#{$size}.font-size')} * 1.25); /* stylelint-disable-line function-calc-no-unspaced-operator */
}

.lucca-icon {
	// all sizes
	@each $name, $size in _getMap('sizes') {
		&.size-#{$name} {
			@include iconSizing($name);
		}
	}
}

@if _theme('icons.prefix', true) != lucca-icon {
	.#{_theme('icons.prefix', true)} {
		// default lucca-icon style
		@extend %lucca-icon;
		@include buildIconClasses;
		// all sizes
		@each $name, $size in _getMap('sizes') {
			&.size-#{$name} {
				@include iconSizing($name);
			}
		}
	}
}
