// SHAME! SHAME!
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒
//
// "My room is not messy; it is an obstable course designed to keep me fit"


// https://github.com/necolas/normalize.css/issues/685
// normalize 7+ dont hide the `x` added by webkit on input type=search
// so we remove it ourselves
[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: none;
}
