html {
	font-size: _theme("commons.font.size");
	line-height: _theme("commons.font.line-height");
}

*, ::after, ::before {
	box-sizing: border-box;
}

body {
	background-color: _theme("commons.background.base");
	color: _color("text.default");
	font-family: _theme("commons.font.family");
	font-size: _theme("sizes.standard.font-size");
	line-height: _theme("sizes.standard.line-height");
	vertical-align: middle;
	-moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
	color: _color("text.dark");
	font-weight: 600;
}

h1 {
	font-size: _theme("sizes.biggest.font-size");
	line-height: _theme("sizes.biggest.line-height");
	margin: 0 0 _theme("spacings.small");

	&.mod-headline {
		font-size: _theme("sizes.headline.font-size");
		line-height: _theme("sizes.headline.line-height");
	}
}

h2 {
	font-size: _theme("sizes.bigger.font-size");
	line-height: _theme("sizes.bigger.line-height");
	margin: 0 0 _theme("spacings.smaller");
}

h3 {
	font-size: _theme("sizes.big.font-size");
	line-height: _theme("sizes.big.line-height");
	margin: 0 0 _theme("spacings.smaller");
}

h4 {
	font-size: _theme("sizes.standard.font-size");
	line-height: _theme("sizes.standard.line-height");
	margin: 0 0 _theme("spacings.smaller");
}

h5 {
	font-size: _theme("sizes.small.font-size");
	line-height: _theme("sizes.small.line-height");
	margin: 0 0 _theme("spacings.smaller");
}

h6 {
	font-size: _theme("sizes.smaller.font-size");
	line-height: _theme("sizes.smaller.line-height");
	margin: 0 0 _theme("spacings.smaller");
}

p {
	margin: 0 0 _theme("spacings.small");
}

.mod-body1 {
	font-size: _theme("sizes.standard.font-size");
	line-height: _theme("sizes.standard.line-height");
}

.mod-body2 {
	font-size: _theme("sizes.small.font-size");
	line-height: _theme("sizes.small.line-height");
}

.mod-body3 {
	font-size: _theme("sizes.smaller.font-size");
	line-height: _theme("sizes.smaller.line-height");
}

.mod-caption {
	font-style: italic;
}

b, strong {
	font-weight: 600;
}

button {
	font-family: _theme("commons.font.family");
}

abbr[title] {
	border: none;
	text-decoration: none;
}
