html {
	font-size: _theme("commons.font.size");
	line-height: _theme("commons.font.line-height");
}

*, ::after, ::before {
	box-sizing: border-box;
}

body {
	background-color: _theme("commons.background.base");
	color: _color("text.default");
	font-family: _theme("commons.font.family");
	font-size: _theme("sizes.standard.font-size");
	line-height: _theme("sizes.standard.line-height");
	vertical-align: middle;
	-moz-osx-font-smoothing: grayscale;
}

@mixin commonsTitleStyles($suffix:"") {
	color: _color("text.dark");
	font-weight: 600 #{$suffix};
}

@mixin h1Styles($suffix:"") {
	font-size: _theme("sizes.biggest.font-size") #{$suffix};
	line-height: _theme("sizes.biggest.line-height") #{$suffix};
	margin-top: 0;
	margin-bottom: _theme("spacings.small");

	&.mod-headline {
		font-size: _theme("sizes.headline.font-size") #{$suffix};
		line-height: _theme("sizes.headline.line-height") #{$suffix};
	}
}

@mixin h2Styles($suffix:"") {
	font-size: _theme("sizes.bigger.font-size") #{$suffix};
	line-height: _theme("sizes.bigger.line-height") #{$suffix};
	margin-top: 0;
	margin-bottom: _theme("spacings.small");
}

@mixin h3Styles($suffix:"") {
	font-size: _theme("sizes.big.font-size") #{$suffix};
	line-height: _theme("sizes.big.line-height") #{$suffix};
	margin-top: 0;
	margin-bottom: _theme("spacings.small");
}

@mixin h4Styles($suffix:"") {
	font-size: _theme("sizes.standard.font-size") #{$suffix};
	line-height: _theme("sizes.standard.line-height") #{$suffix};
	margin-top: 0;
	margin-bottom: _theme("spacings.small");
}

@mixin h5Styles($suffix:"") {
	font-size: _theme("sizes.small.font-size") #{$suffix};
	line-height: _theme("sizes.small.line-height") #{$suffix};
	margin-top: 0;
	margin-bottom: _theme("spacings.small");
}

@mixin h6Styles($suffix:"") {
	font-size: _theme("sizes.smaller.font-size") #{$suffix};
	line-height: _theme("sizes.smaller.line-height") #{$suffix};
	margin-top: 0;
	margin-bottom: _theme("spacings.small");
}

h1, h2, h3, h4, h5, h6 {
	@include commonsTitleStyles;
}

h1 {
	@include h1Styles;
}

h2 {
	@include h2Styles;
}

h3 {
	@include h3Styles;
}

h4 {
	@include h4Styles;
}

h5 {
	@include h5Styles;
}

h6 {
	@include h6Styles;
}

p {
	margin: 0 0 _theme("spacings.small");
}

.mod-body1 {
	font-size: _theme("sizes.standard.font-size");
	line-height: _theme("sizes.standard.line-height");
}

.mod-body2 {
	font-size: _theme("sizes.small.font-size");
	line-height: _theme("sizes.small.line-height");
}

.mod-body3 {
	font-size: _theme("sizes.smaller.font-size");
	line-height: _theme("sizes.smaller.line-height");
}

.mod-caption {
	font-style: italic;
}

b, strong {
	font-weight: 600;
}

button {
	font-family: _theme("commons.font.family");
}

abbr[title] {
	border: none;
	text-decoration: none;
}
