@mixin vars {
	--components-textfield-border-radius: 4px;
	--components-textfield-input-padding-horizontal: var(--spacings-XS);
	--components-textfield-input-padding-vertical: var(--spacings-XS);
	--components-textfield-disabled-background: var(--commons-disabled-background);
	--components-textfield-disabled-color: var(--palettes-grey-600);
	--components-textfield-suffix-top: 1.75rem;
	--components-textfield-suffix-padding-right: var(--spacings-L);
	--components-textfield-sizes-shortest: 3rem;
	--components-textfield-sizes-shorter: 6rem;
	--components-textfield-sizes-short: 9rem;
	--components-textfield-sizes-default: 13rem;
	--components-textfield-sizes-long: 17rem;
	--components-textfield-sizes-longer: 22rem;
	--components-textfield-sizes-longest: 28rem;

	--components-textfield-material-padding-top: var(--spacings-S);
	--components-textfield-material-default-palette-color: var(--palettes-grey-600);
	--components-textfield-material-border-color: #ccc;
	--components-textfield-material-label-color: var(--palettes-grey-600);
	--components-textfield-material-label-font-size: var(--sizes-M-fontSize);
	--components-textfield-material-suffix-padding-right: var(--spacings-S);

	--components-textfield-compact-padding: var(--spacings-XS);
	--components-textfield-compact-label-color: #96a6c5;
	--components-textfield-compact-label-font-size: var(--sizes-M-fontSize);
	--components-textfield-compact-label-right-margin: 0.3rem;
	--components-textfield-compact-label-sizes-shorter: 3rem;
	--components-textfield-compact-label-sizes-short: 5rem;
	--components-textfield-compact-label-sizes-default: 7rem;
	--components-textfield-compact-label-sizes-long: 9rem;
	--components-textfield-compact-label-sizes-longer: 11rem;

	--components-textfield-filter-width: 18rem;
}
