@use '@lucca-front/icons/src/commons/config';

/* stylelint-disable-next-line layer-name-pattern */
@layer #{config.$layers};

@if config.$isNamespaced {
	@layer base {
		// stylelint-disable-next-line block-no-redundant-nested-style-rules, nesting-selector-no-missing-scoping-root -- & references the selector calling this mixin.
		& {
			-moz-osx-font-smoothing: grayscale;
		}
	}
} @else {
	@layer base {
		body {
			-moz-osx-font-smoothing: grayscale;
		}
	}
}

@at-root {
	@layer base {
		@font-face {
			font-family: config.$font-name;
			font-style: normal;
			font-weight: 400;
			src:
				url('#{config.$font-path}.woff2') format('woff2'),
				url('#{config.$font-path}.woff') format('woff');
			letter-spacing: normal;
			font-feature-settings: 'liga';
			font-variant-ligatures: discretionary-ligatures;
		}
	}
}
