@use '@lucca-front/icons/src/commons/config';

/* stylelint-disable-next-line layer-name-pattern */
@layer #{config.$layers};

@if config.$isNamespaced {
	@layer base {
		& {
			-moz-osx-font-smoothing: grayscale;

			--icon-fontFamily: '#{config.$font-name}';
		}
	}
} @else {
	@layer base {
		body {
			-moz-osx-font-smoothing: grayscale;

			--icon-fontFamily: '#{config.$font-name}';
		}
	}
}

@at-root {
	@layer base {
		@font-face {
			font-family: config.$font-name;
			font-style: normal;
			font-weight: 400;
			src:
				url('#{config.$font-path}.woff2') format('woff2'),
				url('#{config.$font-path}.woff') format('woff');
			letter-spacing: normal;
			font-feature-settings: 'liga';
			font-variant-ligatures: discretionary-ligatures;
		}
	}
}
