@use '@lucca-front/scss/src/commons/utils/namespace';

@mixin component($atRoot: namespace.$defaultAtRoot) {
	@at-root ($atRoot) {
		.formPresentation-description {
			margin: 0;
		}

		.formPresentation-description-term {
			display: var(--components-formPresentation-description-term-display);
		}

		.formPresentation-description-definition {
			display: var(--components-formPresentation-description-definition-display);
			margin: 0;
		}
	}
}
