@mixin vars {
	--components-formPresentation-description-child-display: block;
	--components-formPresentation-description-term-display: var(--components-formPresentation-description-child-display);
	--components-formPresentation-description-definition-display: var(--components-formPresentation-description-child-display);
}
