@mixin component {
	background-color: var(--components-tag-background);
	border-radius: var(--commons-borderRadius-M);
	font-size: var(--components-tag-fontSize);
	line-height: var(--components-tag-lineHeight);
	padding: 0 var(--spacings-XXS);
	text-decoration: var(--components-tag-decoration);
	box-shadow: 0 0 0 1px var(--components-tag-shadow);
	cursor: var(--components-tag-cursor);
	display: inline-block;
	text-align: center;
	vertical-align: baseline;
	white-space: nowrap;
	font-weight: normal;
	border: 0;

	&,
	&:is(a, button) {
		color: var(--components-tag-color);
	}
}
