@mixin component {
	background-color: var(--palettes-100, var(--components-tag-default-palette-100));
	color: var(--palettes-900, var(--components-tag-default-palette-900));
	border-radius: var(--commons-border-radius);
	font-size: var(--sizes-smaller-font-size);
	margin-right: var(--spacings-smallest);
	padding: 0 var(--spacings-smallest);
	line-height: 1rem;
	font-weight: 600;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	vertical-align: baseline;
	white-space: nowrap;
}
