@mixin component {
	background-color: var(--palettes-100, var(--palettes-grey-100));
	border-radius: var(--commons-borderRadius-M);
	color: var(--palettes-900, var(--palettes-grey-700));
	font-size: var(--sizes-S-fontSize);
	padding: 0 var(--spacings-XXS);
	line-height: var(--sizes-S-lineHeight);
	display: inline-block;
	text-align: center;
	text-decoration: none;
	vertical-align: baseline;
	white-space: nowrap;
	font-weight: normal;
}
