@mixin clickable {
	--components-tag-cursor: pointer;

	&:hover,
	&:focus {
		--components-tag-decoration: underline;
	}
}

@mixin L {
	--components-tag-fontSize: var(--sizes-M-fontSize);
	--components-tag-lineHeight: var(--sizes-M-lineHeight);
}

@mixin outlined {
	--components-tag-color: var(--palettes-600, var(--palettes-neutral-600));
	--components-tag-background: var(--colors-white-color);
	--components-tag-shadow: var(--palettes-300, var(--palettes-neutral-300));
}
