@mixin vars {
	--components-tag-background: var(--palettes-100, var(--palettes-neutral-100));
	--components-tag-shadow: transparent;
	--components-tag-fontSize: var(--pr-t-font-fontSize-175);
	--components-tag-lineHeight: var(--pr-t-font-lineHeight-250);
	--components-tag-decoration: none;
	--components-tag-cursor: inherit;
}
