@mixin vars {
	--components-tag-default-palette-50: var(--palettes-primary-50);
	--components-tag-default-palette-100: var(--palettes-primary-100);
	--components-tag-default-palette-200: var(--palettes-primary-200);
	--components-tag-default-palette-300: var(--palettes-primary-300);
	--components-tag-default-palette-400: var(--palettes-primary-400);
	--components-tag-default-palette-500: var(--palettes-primary-500);
	--components-tag-default-palette-600: var(--palettes-primary-600);
	--components-tag-default-palette-700: var(--palettes-primary-700);
	--components-tag-default-palette-800: var(--palettes-primary-800);
	--components-tag-default-palette-900: var(--palettes-primary-900);
}
