@use '@lucca-front/scss/src/commons/utils/a11y';
@use '@lucca-front/icons/src/commons/utils/icon';

@mixin component($atRoot: 'without: rule') {
	display: block;
	position: relative;
	line-height: var(--components-switch-lineHeight);

	@at-root ($atRoot) {
		.switch-input {
			@include a11y.mask;
		}

		.switch-label {
			padding: 0;
			padding-left: calc(var(--components-switch-width) + var(--spacings-XS));
			color: var(--palettes-grey-800);
			transition: color var(--commons-animations-durations-fast);
			display: inline-block;
			font-size: var(--components-switch-fontSize);
			position: relative;
			vertical-align: top;
			cursor: pointer;

			&::before {
				@include icon.generate('sign_close');

				align-items: center;
				background-color: var(--palettes-grey-500);
				border-radius: 9999px;
				color: var(--colors-white-color);
				display: flex;
				font-size: var(--components-switch-icon-size);
				height: var(--components-switch-height);
				left: 0;
				line-height: var(--components-switch-icon-size);
				padding-left: calc(var(--components-switch-handler-offset) + var(--components-switch-slider-size));
				position: absolute;
				top: var(--components-switch-offset-top);
				transition-duration: var(--commons-animations-durations-fast);
				transition-timing-function: ease;
				transition-property: background-color, box-shadow;
				width: var(--components-switch-width);
			}

			&::after {
				background-color: var(--colors-white-color);
				box-shadow: var(--commons-boxShadow-XXS);
				border-radius: 50%;
				content: '';
				display: block;
				height: var(--components-switch-slider-size);
				left: var(--components-switch-handler-offset);
				position: absolute;
				top: calc(var(--components-switch-offset-top) + var(--components-switch-handler-offset));
				transition: all var(--commons-animations-durations-fast) ease;
				width: var(--components-switch-slider-size);
			}
		}

		.switch-label-helper {
			color: var(--palettes-grey-600);
			font-size: var(--components-switch-helper-fontSize);
			line-height: var(--components-switch-helper-lineHeight);
		}
	}
}
