@mixin inline {
	display: inline-block;
	margin-right: var(--spacings-M);
}

@mixin S {
	--components-switch-height: 1rem;
	--components-switch-width: 1.75rem;
	--components-switch-slider-size: .75rem;
	--components-switch-icon-size: .75rem;
	--components-switch-lineHeight: var(--sizes-S-lineHeight);
	--components-switch-fontSize: var(--sizes-S-fontSize);
	--components-switch-helper-lineHeight: var(--sizes-XS-lineHeight);
	--components-switch-helper-fontSize: var(--sizes-XS-fontSize);
}
