@use '../../../../icons/src/mixins' as icon;

@mixin checked {
	~ .switch-label {
		&::before {
			@include icon.makeIcon('tick');

			display: flex;
			align-items: center;
			background-color: var(--palettes-secondary-700);
			color: var(--palettes-secondary-900);
			font-size: var(--sizes-small-font-size);
			line-height: var(--sizes-small-line-height);
			padding-left: var(--components-switch-icon-left);
			padding-top: var(--components-switch-icon-top);
		}

		&::after {
			left: calc(1rem - 2px);
		}
	}
}

@mixin checkedActive {
	&:not([disabled], [readonly]) {
		~ .switch-label {
			&::before {
				background-color: var(--palettes-secondary-800);
				box-shadow: 0 0 0 4px var(--palettes-secondary-300);
			}
		}
	}
}

@mixin checkedSmall {
	~ .switch-label {
		&::before {
			font-size: var(--sizes-smaller-font-size);
		}

		&::after {
			left: calc(var(--sizes-small-font-size) - 2px);
		}
	}
}

@mixin hover {
	~ .switch-label {
		&::before {
			background-color: var(--palettes-secondary-600);
		}
	}
}

@mixin focus {
	~ .switch-label {
		&::before {
			background-color: var(--palettes-secondary-600);
			box-shadow: 0 0 0 4px var(--palettes-secondary-200);
		}
	}
}

@mixin disabled {
	~ .switch-label {
		color: var(--palettes-grey-500);
		cursor: default;

		&::before {
			background-color: var(--palettes-grey-200);
		}

		&::after {
			background-color: var(--palettes-grey-500);
		}
	}
}

@mixin disabledChecked {
	~ .switch-label {
		&::before {
			color: var(--palettes-grey-500);
			background-color: var(--palettes-grey-200);
		}

		&::after {
			background-color: var(--palettes-grey-500);
		}
	}
}
