@use '@lucca-front/icons/src/commons/utils/icon';
@use '@lucca-front/scss/src/commons/utils/a11y';

@mixin checked {
	~ .switch-label {
		&::before {
			@include icon.generate('sign_confirm');

			display: flex;
			background-color: var(--palettes-700, var(--palettes-primary-700));
			padding-left: var(--components-switch-handler-offset);
		}

		&::after {
			left: calc(var(--components-switch-width) - var(--components-switch-slider-size) - var(--components-switch-handler-offset));
		}
	}
}

@mixin checkedHover {
	&:not([disabled], [readonly]) {
		~ .switch-label {
			&::before {
				background-color: var(--palettes-600, var(--palettes-primary-600));
			}
		}
	}
}

@mixin checkedActive {
	&:not([disabled], [readonly]) {
		~ .switch-label {
			&::before {
				background-color: var(--palettes-800, var(--palettes-primary-800));
			}
		}
	}
}

@mixin hover {
	~ .switch-label {
		&::before {
			background-color: var(--palettes-grey-400);
		}
	}
}

@mixin active {
	&:not([disabled], [readonly]) {
		~ .switch-label {
			&::before {
				background-color: var(--palettes-grey-600);
			}
		}
	}
}

@mixin focus {
	&:not([disabled], [readonly]) {
		~ .switch-label {
			&::before {
				@include a11y.focusVisible;
			}
		}
	}
}

@mixin disabled {
	~ .switch-label {
		color: var(--palettes-grey-500);
		cursor: default;

		&::before {
			background-color: var(--palettes-grey-100);
			color: var(--palettes-grey-500);
		}

		&::after {
			background-color: var(--palettes-grey-500);
			box-shadow: none;
		}
	}
}

@mixin disabledChecked {
	~ .switch-label {
		&::before {
			background-color: var(--palettes-grey-100);
		}
	}
}
