@mixin vars {
  // --components-switch-default-palette-darker: #2d354d;
  // --components-switch-default-palette-dark: #4c5775;
  // --components-switch-default-palette-color: #9299b0;
  // --components-switch-default-palette-light: #ccd1e0;
  // --components-switch-default-palette-lighter: #e8eaf3;
  // --components-switch-default-palette-lightest: #f7f9fd;
  // --components-switch-default-palette-text: var(--colors-white-color);
  // --components-switch-default-palette-see-through: rgba(146, 153, 176, 0.15);
  // --components-switch-default-palette-50: #f7f8fd;
  // --components-switch-default-palette-100: #f3f5fc;
  // --components-switch-default-palette-200: #eceff8;
  // --components-switch-default-palette-300: #dcdfef;
  // --components-switch-default-palette-400: #cbcfe2;
  // --components-switch-default-palette-500: #b7bbd1;
  // --components-switch-default-palette-600: #898fae;
  // --components-switch-default-palette-700: #485075;
  // --components-switch-default-palette-800: #31395e;
  // --components-switch-default-palette-900: #1e233e;
  --components-switch-small-top: 2px;
  --components-switch-top: 1px;
  --components-switch-icon-top: 1px;
  --components-switch-icon-left: 1px;
}
