@mixin vars {
	--components-switch-offset-top: 2px;
	--components-switch-handler-offset: 2px;
	--components-switch-height: 1.25rem;
	--components-switch-width: 2.25rem;
	--components-switch-slider-size: 1rem;
	--components-switch-icon-size: var(--pr-t-font-body-XS-lineHeight);
	--components-switch-lineHeight: var(--pr-t-font-body-M-lineHeight);
	--components-switch-fontSize: var(--pr-t-font-body-M-fontSize);
	--components-switch-helper-lineHeight: var(--pr-t-font-body-S-lineHeight);
	--components-switch-helper-fontSize: var(--pr-t-font-body-S-fontSize);
}
