@use '@lucca-front/scss/src/commons/utils/a11y';

@mixin component {
	padding: var(--spacings-M);
	max-width: 30rem;
	min-height: 17.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	text-align: center;

	.file-icon {
		font-size: var(--sizes-M-lineHeight);
		margin: 0 var(--spacings-XXS);
		display: none;
	}

	.file-title {
		font-size: var(--sizes-M-fontSize);
		line-height: var(--sizes-M-lineHeight);
		margin-bottom: 0;
		font-weight: 600;
		display: block;
		position: relative;
		color: var(--palettes-grey-700);
	}

	.file-or {
		font-size: var(--sizes-S-fontSize);
		line-height: var(--sizes-S-lineHeight);
		margin-bottom: var(--spacings-XXS);
		display: block;
		position: relative;
		color: var(--palettes-grey-600);

		&:not(:empty) {
			margin-bottom: var(--spacings-XS);
			color: var(--palettes-grey-800);
		}
	}

	.file-progress {
		margin: var(--spacings-S) 0 var(--spacings-XS);
		display: block;
	}

	.file-name {
		&:not(:empty) {
			font-size: var(--sizes-S-fontSize);
			line-height: var(--sizes-S-lineHeight);
			margin-bottom: var(--spacings-S);
			color: var(--palettes-grey-600);
			display: block;
		}
	}

	.file-formats {
		font-size: var(--sizes-S-fontSize);
		line-height: var(--sizes-S-lineHeight);
		color: var(--palettes-grey-600);
		position: relative;
		display: block;
	}

	.file-button {
		margin: 0;

		&:empty {
			display: none;
		}
	}

	.file-input {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 0.001;
		z-index: 1;
		cursor: pointer;

		~ .file-content {
			&::before {
				border: 1px dashed var(--palettes-grey-400);
				border-radius: var(--commons-borderRadius-M);
				position: absolute;
				inset: 0;
				content: '';
			}
		}

		&:hover {
			&:not(:disabled) {
				~ .file-content {
					&::before {
						border: 1px dashed var(--palettes-primary-400);
					}
				}
			}
		}

		&:focus-visible {
			&:not(:disabled) {
				~ .file-content {
					.button {
						@include a11y.focusVisible;
					}
				}
			}
		}

		&:not(.is-uploading) {
			~ .file-content {
				.file-progress {
					display: none;
				}
			}
		}
	}
}
