@mixin component {
	padding: var(--spacings-standard);
	max-width: 30rem;
	min-height: 16rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	text-align: center;

	.file-icon {
		font-size: 1.5rem;
		margin: 0 var(--spacings-smallest);
		display: none;
	}

	.file-title {
		font-size: var(--sizes-standard-font-size);
		line-height: var(--sizes-standard-line-height);
		margin-bottom: 0;
		font-weight: 600;
		display: block;
		position: relative;
		color: var(--palettes-grey-700);
	}

	.file-or {
		font-size: var(--sizes-small-font-size);
		line-height: var(--sizes-smaller-line-height);
		margin-bottom: var(--spacings-smallest);
		display: block;
		position: relative;
		color: var(--palettes-grey-600);

		&:not(:empty) {
			margin-bottom: var(--spacings-smaller);
		}
	}

	.file-progress {
		margin: var(--spacings-small) 0 var(--spacings-smaller);
		display: block;
	}

	.file-name {
		&:not(:empty) {
			font-size: var(--sizes-small-font-size);
			line-height: var(--sizes-smaller-line-height);
			margin-bottom: var(--spacings-small);
			color: var(--palettes-grey-600);
			display: block;
		}
	}

	.file-formats {
		font-size: var(--sizes-smaller-font-size);
		line-height: var(--sizes-smaller-line-height);
		color: var(--palettes-grey-600);
		position: relative;
		display: block;
	}

	.file-button {
		margin-right: 0;

		&:empty {
			display: none;
		}
	}

	.file-input {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 0.001;
		z-index: 1;

		~ .file-content {
			&::before {
				border: 1px dashed var(--palettes-grey-400);
				border-radius: var(--commons-border-radius);
				position: absolute;
				inset: 0;
				content: '';
			}
		}

		&:hover,
		&:focus {
			&:not(:disabled) {
				~ .file-content {
					&::before {
						border: 1px dashed var(--palettes-primary-400);
					}

					.file-button {
						background-color: var(--palettes-grey-50);
						color: var(--palettes-grey-700);
						box-shadow: var(--commons-box-shadow-xs), 0 1px 2px rgba(black, 0.06), 0 0 0 1px var(--palettes-grey-500) inset;
					}
				}
			}
		}

		&:focus {
			&:not(:disabled) {
				~ .file-content {
					&::before {
						border-color: var(--palettes-primary-500);
					}

					.file-button {
						box-shadow: 0 2px 8px rgba(var(--colors-grey-900-rgb), 0.04), 0 1px 2px rgba(var(--colors-grey-900-rgb), 0.06),
							0 0 0 4px var(--palettes-primary-50), 0 0 0 1px var(--palettes-primary-500) inset;
					}
				}
			}
		}

		&:active {
			&:not(:disabled) {
				~ .file-content {
					.file-button {
						background-color: var(--palettes-grey-50);
						color: var(--palettes-grey-700);
						box-shadow: inset 0 0 0 1px var(--palettes-primary-800);
					}
				}
			}
		}

		&:not(.is-uploading) {
			~ .file-content {
				.file-progress {
					display: none;
				}
			}
		}
	}
}
