@use '@lucca-front/scss/src/commons/utils/a11y';

@mixin icon {
	padding: var(--spacings-XS) var(--spacings-M) var(--spacings-XS) var(--spacings-XL);
}

@mixin S {
	padding: var(--spacings-XS) var(--spacings-S);
	text-align: left;
	min-height: 0;

	.file-input {
		// todo: extract state
		&:not(.is-uploading) {
			~ .file-content {
				display: flex;
				align-items: center;
			}
		}
	}

	.file-content {
		gap: var(--spacings-XS);
	}

	.file-name {
		margin-bottom: 0;
		font-size: var(--sizes-XS-fontSize);
		line-height: var(--sizes-XS-lineHeight);
	}

	.file-formats {
		font-size: var(--sizes-XS-fontSize);
		line-height: var(--sizes-XS-lineHeight);
	}

	.file-or {
		@include a11y.mask;
	}

	.file-button {
		margin-left: auto;

		&::first-letter {
			text-transform: capitalize;
		}
	}

	.file-icon {
		font-size: var(--sizes-S-lineHeight);
		line-height: var(--sizes-S-lineHeight);
		margin: 0;
		align-self: start;
	}

	.file-title {
		font-size: var(--sizes-S-fontSize);
		line-height: var(--sizes-S-lineHeight);
		padding-right: var(--spacings-XS);
		margin: 0;
	}

	.file-progress {
		margin: var(--spacings-XS) 0;
	}
}
