@use '../../commons/utils/a11y';

@mixin icon {
	padding: var(--spacings-smaller) var(--spacings-standard) var(--spacings-smaller) var(--spacings-bigger);
}

@mixin small(
	$input: '.file-input',
	$content: '.file-content',
	$name: '.file-name',
	$or: '.file-or',
	$formats: '.file-formats',
	$button: '.file-button',
	$icon: '.file-icon',
	$title: '.file-title',
	$progress: '.file-progress'
) {
	padding: var(--spacings-smaller) var(--spacings-standard);
	text-align: left;
	min-height: 4rem;

	#{$input} {
		// todo: extract state
		&:not(.is-uploading) {
			~ #{$content} {
				display: flex;
				align-items: center;
			}
		}
	}

	#{$name} {
		margin-bottom: 0;
	}

	#{$or},
	#{$formats} {
		@include a11y.mask;
	}

	#{$button} {
		margin-left: auto;

		&::first-letter {
			text-transform: capitalize;
		}
	}

	#{$icon} {
		font-size: var(--sizes-standard-font-size);
		line-height: var(--sizes-standard-line-height);
		margin-bottom: var(--spacings-standard);
	}

	#{$title} {
		font-size: var(--sizes-standard-font-size);
		padding-right: var(--spacings-smaller);
		margin: 0;
	}

	#{$progress} {
		margin: var(--spacings-smaller) 0;
	}
}
