@use '@lucca-front/scss/src/commons/utils/namespace';

@mixin component($atRoot: namespace.$defaultAtRoot) {
	@at-root ($atRoot) {
		.presentation-description {
			margin: 0;
		}

		.presentation-description-term {
			font: var(--pr-t-font-body-S);
			color: var(--pr-t-color-text-subtle);
			display: var(--components-presentation-description-term-display);
		}

		.presentation-description-definition {
			display: var(--components-presentation-description-definition-display);
			margin: 0;
		}
	}
}
