@use '@lucca-front/scss/src/commons/utils/text';

@mixin pill {
	--components-kbd-borderRadius: var(--pr-t-border-radius-full);
}

@mixin skeuo {
	--components-kbd-backgroundImage: radial-gradient(ellipse 90% 70% at 50% 60%, var(--palettes-neutral-0) 55%, var(--palettes-neutral-50));
	--components-kbd-borderRadius: var(--pr-t-border-radius-50);
}

@mixin space {
	--components-kbd-before-content: #{text.$spaceZeroWidth} / '';
	--components-kbd-minInlineSize: var(--pr-t-spacings-600);
}
