@use 'component';

@mixin vars {
	--components-kbd-paddingInline: var(--pr-t-spacings-50);

	--components-kbd-animationDelay: 0s;
	--components-kbd-animationDuration: calc(var(--components-kbd-animationPause) / #{component.$tapIdle});
	--components-kbd-animationName: var(--components-kbd-modifier-animationName);
	--components-kbd-animationOffset: 0s;
	--components-kbd-animationPause: calc(var(--commons-animations-durations-slow) * 3.5);
	--components-kbd-last-animationName: none;
	--components-kbd-modifier-animationName: none;
}
