@use '@lucca-front/scss/src/commons/utils/overflow';
@use '@lucca-front/scss/src/commons/utils/media';

@mixin stacked($level) {
  $selector: '';
  $string: '~ .cdk-global-overlay-wrapper';

	@for $i from 1 through $level {
    $selector: $selector + $string;
  }

  &:has(#{$selector}) {
      .dialog {
				&.mod-stacked {
					--components-dialog-level: #{$level};
				}
			}
  }
}

.cdk-global-overlay-wrapper {
	block-size: 100%;
	inset-inline-start: 0;
	inset-block-start: 0;
	pointer-events: none;
	inline-size: 100%;
	display: flex;
	position: absolute;
	z-index: 1000;

	@for $i from 1 through 3 {
		@include stacked($i);
	}
}

.cdk-global-scrollblock {
	position: static !important;
	inline-size: auto !important;

	@include overflow.scrollblock('!important');
}
