@use '@lucca-front/scss/src/commons/utils/overflow';

.cdk-global-overlay-wrapper {
	height: 100%;
	left: 0;
	pointer-events: none;
	top: 0;
	width: 100%;
	display: flex;
	position: absolute;
	z-index: 1000;
}

.cdk-global-scrollblock {
	position: static !important;
	width: auto !important;

	@include overflow.scrollblock('!important');
}
