:root {
	--components-cdk-textarea-input-padding-horizontal: var(--spacings-XS);
}

.cdk-textarea-autosize {
	resize: none;
	line-height: 1.3;
	box-sizing: content-box;
	width: calc(100% - (2 * var(--components-cdk-textarea-input-padding-horizontal)));
}

.cdk-textarea-autosize-measuring {
	height: auto !important;
	overflow: hidden !important;
	padding: 2px 0 !important;
	box-sizing: content-box !important;
}
