@use '@lucca-front/scss/src/commons/utils/namespace';

@include namespace.appendRootVars {
	--components-cdk-textarea-input-padding-horizontal: var(--pr-t-spacings-100);
}

.cdk-textarea-autosize {
	resize: none;
	line-height: 1.3;
	box-sizing: content-box;
	inline-size: calc(100% - (2 * var(--components-cdk-textarea-input-padding-horizontal)));

	// specificity to override .textField-input-value:is(textarea)
	&.textField-input-value {
		block-size: auto;
		min-block-size: 0;
	}
}

.cdk-textarea-autosize-measuring {
	block-size: auto !important;
	overflow: hidden !important;
	padding-block: 2px !important;
	padding-inline: 0 !important;
	box-sizing: content-box !important;
}

