$font-path: '//cdn.lucca.fr/lucca-front/icons/next/lucca-icons' !default;
$font-name: 'Lucca icons' !default;

@at-root {
	@font-face {
		font-family: $font-name;
		font-style: normal;
		font-weight: 400;
		src: url('#{$font-path}.eot');
		src: url('#{$font-path}.eot'), url('#{$font-path}.svg'), url('#{$font-path}.woff'), url('#{$font-path}.ttf');

		// Enable Ligatures
		letter-spacing: normal;
		-webkit-font-feature-settings: 'liga';
		-moz-font-feature-settings: 'liga=1';
		-moz-font-feature-settings: 'liga';
		-ms-font-feature-settings: 'liga' 1;
		font-feature-settings: 'liga';
		-webkit-font-variant-ligatures: discretionary-ligatures;
		font-variant-ligatures: discretionary-ligatures;
	}

	body {
		-moz-osx-font-smoothing: grayscale;
	}
}
