$font-path: "lucca-icons" !default;
@font-face {
	font-family: "Lucca icons";
	font-style: normal;
	font-weight: 400;
	src:  url('#{$font-path}.eot');
	src:  url('#{$font-path}.eot') format('embedded-opentype'),
		url('#{$font-path}.svg') format('svg'),
		url('#{$font-path}.woff') format('woff'),
		url('#{$font-path}.ttf') format('truetype');

	/* Enable Ligatures ================ */
	letter-spacing: normal;
	-webkit-font-feature-settings: "liga";
	-moz-font-feature-settings: "liga=1";
	-moz-font-feature-settings: "liga";
	-ms-font-feature-settings: "liga" 1;
	font-feature-settings: "liga";
	-webkit-font-variant-ligatures: discretionary-ligatures;
	font-variant-ligatures: discretionary-ligatures;

	/* Better Font Rendering =========== */
	-moz-osx-font-smoothing: grayscale;
}
