$font-path: "lucca-icons" !default;
@font-face {
	font-family: "Lucca icons";
	font-style: normal;
	font-weight: 400;
	src: url("#{$font-path}.eot");
	src:  url('#{$font-path}.eot') format('embedded-opentype'),
				url('#{$font-path}.ttf') format('truetype'),
				url('#{$font-path}.woff') format('woff'),
				url('#{$font-path}.svg') format('svg');
}
