$mappings: (
	'plus': '\e900',
	'bookmark_add': '\e901',
	'user_add': '\e902',
	'list_alternative': '\e903',
	'analytics': '\e904',
	'chevron_east': '\e905',
	'chevron_north': '\e906',
	'chevron_south': '\e907',
	'chevron_west': '\e908',
	'attachment': '\e909',
	'banking_card': '\e90a',
	'birthday': '\e90b',
	'blocks': '\e90c',
	'branch': '\e90d',
	'breakfast': '\e90e',
	'coffee': '\e90f',
	'heart_broken': '\e910',
	'bus': '\e911',
	'tick': '\e91a',
	'car_clean': '\e918',
	'clock': '\e919',
	'completion_pie': '\e91b',
	'computer': '\e91c',
	'computer_mouse': '\e91d',
	'cross': '\e915',
	'database': '\e91f',
	'datepicker': '\e920',
	'diner': '\e921',
	'import_dirty': '\e922',
	'toll_dollar': '\e923',
	'download': '\e924',
	'drink': '\e925',
	'arrow_east': '\e926',
	'arrow_east_thin': '\e927',
	'edit': '\e928',
	'edit_frame': '\e929',
	'edit_mini': '\e92a',
	'ellipsis': '\e92b',
	'error': '\e92c',
	'euro': '\e92d',
	'toll_euro': '\e92e',
	'org_tree': '\e930',
	'bookmark': '\e931',
	'file': '\e932',
	'filter': '\e933',
	'flag': '\e934',
	'flash': '\e935',
	'forbidden': '\e936',
	'fullscreen': '\e937',
	'fullscreen_exit': '\e938',
	'gallery': '\e939',
	'gasoline': '\e93a',
	'user_group': '\e93c',
	'headphones': '\e93d',
	'heart': '\e93e',
	'help': '\e93f',
	'history': '\e940',
	'hotel': '\e941',
	'image': '\e942',
	'import_cb': '\e943',
	'info': '\e944',
	'iron': '\e945',
	'journey': '\e946',
	'key': '\e947',
	'list': '\e948',
	'location': '\e949',
	'lock': '\e94a',
	'jumping_cc': '\e94b',
	'luggage': '\e94c',
	'lunch': '\e94d',
	'mail': '\e94e',
	'meal': '\e94f',
	'menu': '\e950',
	'mileage': '\e951',
	'milestone': '\e952',
	'minimize': '\e953',
	'minus': '\e954',
	'mosaic': '\e955',
	'move': '\e956',
	'move_horizontally': '\e957',
	'move_vertically': '\e958',
	'tiles-nine': '\e959',
	'arrow_north': '\e95a',
	'arrow_north_thin': '\e95b',
	'notification': '\e95c',
	'outside': '\e95d',
	'palette': '\e95f',
	'parking': '\e960',
	'clipboard': '\e962',
	'payment': '\e963',
	'smartphone': '\e964',
	'phone': '\e99b',
	'picture': '\e965',
	'piggy_bank': '\e966',
	'pin': '\e967',
	'plane': '\e968',
	'pricetag': '\e96a',
	'print': '\e96b',
	'import_pristine': '\e96c',
	'quantity': '\e96d',
	'refresh': '\e970',
	'rejected': '\e971',
	'user_remove': '\e972',
	'bookmark_remove': '\e973',
	'reorder': '\e974',
	'user_roles': '\e975',
	'search': '\e976',
	'send': '\e977',
	'user_send_to': '\e978',
	'settings': '\e979',
	'key_simple': '\e97a',
	'snack': '\e97b',
	'arrow_south': '\e97c',
	'arrow_south_thin': '\e97d',
	'stamp': '\e97e',
	'star': '\e97f',
	'subway': '\e980',
	'synchronisation': '\e981',
	'talk': '\e982',
	'taxi': '\e983',
	'cross_thin': '\e984',
	'plus_thin': '\e985',
	'tick_thin': '\e986',
	'tick_bold': '\e92f',
	'tiles': '\e987',
	'timer': '\e988',
	'tools': '\e989',
	'train': '\e98a',
	'trash': '\e98b',
	'truck': '\e98c',
	'unlock': '\e98d',
	'unwatch': '\e98e',
	'upload': '\e98f',
	'user': '\e990',
	'sliders': '\e991',
	'warning': '\e992',
	'watch': '\e993',
	'arrow_west': '\e994',
	'arrow_west_thin': '\e995',
	'credit_debit': '\e912',
	'home': '\e913',
	'planning': '\e914',
	'planning_tool': '\e916',
	'planning_edit': '\e91e',
	'todolist': '\e917',
	'format_link': '\e93b',
	'format_list': '\e95e',
	'format_list_numbers': '\e969',
	'format_redo': '\e96e',
	'format_undo': '\e96f',
	'format_underlined': '\e996',
	'format_bold': '\e997',
	'format_italic': '\e998',
	'format_clear': '\e999',
	'hr_folder': '\e99a',
	'archive': '\e99c'
);
