@import 'mappings';

@mixin makeIcon($ligature) {
	@if map-has-key($mappings, $ligature) {
		content: map-get($mappings, $ligature);
		font-family: 'Lucca icons';
		display: inline-block;
		vertical-align: middle;
		font-style: normal;
	} @else {
		@error "'#{$ligature}' wasn't found in @lucca-front/icons $mappings map";
	}
}
