$font-name: 'Lucca icons' !default;

@import 'mappings';

@mixin makeIcon($ligature) {
	@if map-has-key($mappings, $ligature) {
		content: map-get($mappings, $ligature);
		font-family: $font-name;
		display: inline-block;
		vertical-align: text-bottom;
		font-style: normal;
	} @else {
		@error "'#{$ligature}' wasn't found in @lucca-front/icons $mappings map";
	}
}
