%lucca-icon {
	direction: ltr;
	display: inline-block;
	font-family: 'Lucca icons';
	font-feature-settings: 'liga';
	font-size: 1.3rem;
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-weight: 400;
	letter-spacing: normal;
	line-height: 1;
	text-transform: none;
	vertical-align: middle;
	white-space: nowrap;
	word-wrap: normal;
}
