<h1>modal-undismissable</h1>
<button type="button" class="button" (click)="openPopup()">open popup</button>
<button type="button" class="button" (click)="openModal()">open modal</button>
<button type="button" class="button" (click)="openSidepanel()">open sidepanel</button>

<div class="checkboxesfield">
	<div class="checkboxesfield-input">
		<div class="checkbox">
			<input class="checkbox-input" type="checkbox" name="dismissable" id="dismissable" [(ngModel)]="undismissable" />
			<label class="checkbox-label" for="dismissable">Undismissable</label>
		</div>
	</div>
</div>
