body {
	background: #FFF;
	color: #666666;
	font-family: "Source Sans Pro", Tahoma, sans-serif;
	font-size: 1rem;
	vertical-align: middle;
}

#icons-section{
	text-align: center;
}
.demo-icon {
	width: 125px;
	float: left;
	margin-bottom: 2rem;
}

.demo-icon .lucca-icon {
	font-size: 2rem;
	display: block;
}

.code {
	background: #FEF1F5;
	border-radius: 3px;
	color: #EC407A;
	margin: .1rem;
	padding: 0 .3rem;
	-moz-tab-size: 2;
	tab-size: 2;
	white-space: nowrap;
}
