@use '@lucca-front/scss/src/components/formLabel/exports' as formLabel;
@use '@lucca-front/scss/src/components/inlineMessage/exports' as inlineMessage;
@use '@lucca-front/scss/src/commons/utils/a11y';

@mixin component($atRoot: 'without: rule') {
	display: flex;
	align-items: stretch;
	border-radius: var(--commons-borderRadius-M);
	background-color: var(--component-textField-background);

	&:focus-within {
		@include a11y.focusVisible($offset: 3px);
	}

	@at-root ($atRoot) {
		.textField-input {
			display: flex;
			align-items: center;
			width: 100%;
			box-shadow: 0 0 0 1px var(--component-textField-border);
			border-radius: var(--commons-borderRadius-M);

			&:hover {
				--component-textField-border: var(--palettes-grey-400);
			}
		}

		.textField-input-value {
			border: 0;
			outline: 0;
			line-height: var(--component-textField-lineHeight);
			font-size: var(--component-textField-fontSize);
			width: 100%;
			padding: var(--component-textField-padding);
			background-color: transparent;

			color: var(--component-textField-color);

			&::placeholder {
				color: var(--component-textField-placeholder);
			}
		}

		.textField-search {
			font-size: var(--sizes-M-lineHeight);
			color: var(--palettes-grey-600);
			display: block;
		}

		.textField-prefix {
			display: flex;
			padding: 0 var(--component-textField-padding);
			align-items: center;
			color: var(--component-textField-prefix-color);
			line-height: var(--component-textField-lineHeight);
			font-size: var(--component-textField-fontSize);
			box-shadow: 0 0 0 1px var(--component-textField-border);
			clip-path: inset(-1px 0 -1px -1px);
			border-top-left-radius: var(--commons-borderRadius-M);
			border-bottom-left-radius: var(--commons-borderRadius-M);

			~ .textField-input {
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
			}
		}

		.textField-suffix {
			display: flex;
			padding: 0 var(--component-textField-padding);
			align-items: center;
			color: var(--component-textField-prefix-color);
			line-height: var(--component-textField-lineHeight);
			font-size: var(--component-textField-fontSize);
			box-shadow: 0 0 0 1px var(--component-textField-border);
			clip-path: inset(-1px -1px -1px 0);
			border-top-right-radius: var(--commons-borderRadius-M);
			border-bottom-right-radius: var(--commons-borderRadius-M);
			order: 1;

			~ .textField-input {
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
			}
		}

		.clear {
			margin-right: var(--component-textField-padding);
		}
	}
}
