@use '@lucca-front/scss/src/components/clear/exports' as clear;

@mixin S {
	--component-textField-fontSize: var(--sizes-S-fontSize);
	--component-textField-lineHeight: var(--sizes-S-lineHeight);
  --component-textField-padding: .375rem;

	.clear {
		@include clear.S;
	}
}

@mixin XS {
	--component-textField-fontSize: var(--sizes-XS-fontSize);
	--component-textField-lineHeight: var(--sizes-XS-lineHeight);
  --component-textField-padding: var(--spacings-XXS);

	.textField-prefix, .textField-suffix {
		--icon-size: var(--sizes-XS-lineHeight);
	}

	.clear {
		@include clear.S;
	}
}

// @mixin textarea {
// 	resize: vertical;
// 	height: calc(var(--component-textField-input-lineHeight) * var(--component-textField-input-lines));
// 	min-height: calc(var(--component-textField-input-lineHeight) * var(--component-textField-input-lines));
// 	max-height: calc(100vh - var(--spacings-XXL));
//
// 	.textField[style*='--component-textField-action-width'] &,
// 	.textField[style*='--component-textField-label-suffix-width'] & {
// 		grid-column-end: -1;
// 		padding-right: calc(
// 			var(--component-textField-action-width, 0px) + var(--component-textField-label-suffix-width, 0px) + var(--spacings-XS)
// 		);
//
// 		~ .textField-action {
// 			position: relative;
// 			z-index: 1;
// 		}
//
// 		~ .textField-label {
// 			.textField-label-suffix {
// 				.textField-label-suffix-item {
// 					position: relative;
// 					z-index: 1;
// 				}
// 			}
// 		}
// 	}
// }
