@use '@lucca-front/scss/src/components/formLabel/exports' as formLabel;
@use '@lucca-front/scss/src/components/inlineMessage/exports' as inlineMessage;

@mixin S {
  --component-textField-label-fontSize: var(--sizes-S-fontSize);
  --component-textField-label-lineHeight: var(--sizes-S-lineHeight);
  --component-textField-input-paddingVertical: var(--spacings-XXS);
  --component-textField-input-lineHeight: var(--sizes-M-lineHeight);
  --component-textField-action-icon-fontSize: var(--sizes-XS-lineHeight);
  --component-textField-action-icon-size: var(--spacings-M);
  --component-textField-input-lines: 3;

	.formLabel {
		@include formLabel.S;
	}

	.inlineMessage {
		@include inlineMessage.S;
	}
}

@mixin XS {
	--component-textField-label-fontSize: var(--sizes-XS-fontSize);
	--component-textField-label-lineHeight: var(--sizes-XS-lineHeight);
	--component-textField-input-paddingVertical: var(--spacings-XXS);
	--component-textField-input-lineHeight: var(--sizes-XS-lineHeight);
	--component-textField-action-icon-fontSize: .75rem;
	--component-textField-action-icon-size: var(--spacings-M);
	--component-textField-input-lines: 2;

	.formLabel {
		@include formLabel.XS;
	}

	.inlineMessage {
		@include inlineMessage.XS;
	}
}
