@use '@lucca-front/scss/src/components/clear/exports' as clear;
@use '@lucca-front/icons/src/icon/exports' as icon;

@mixin S {
	--component-textField-fontSize: var(--sizes-S-fontSize);
	--component-textField-lineHeight: var(--sizes-S-lineHeight);
	--component-textField-padding: var(--pr-t-spacings-75);
	--component-textField-affix-size: 1.5rem;

	.textField-input-affix-toggle {
		@include icon.S;
	}

	.textField-input-affix-clear {
		@include clear.S;
	}

	.textField-input-affix-icon {
		@include icon.S;
	}
}

@mixin XS {
	--component-textField-fontSize: var(--sizes-XS-fontSize);
	--component-textField-lineHeight: var(--sizes-XS-lineHeight);
	--component-textField-padding: var(--pr-t-spacings-50);

	.textField-prefix,
	.textField-suffix {
		@include icon.XS;
	}

	.textField-input-affix-icon {
		@include icon.XS;
	}

	.textField-input-affix-clear {
		@include clear.S;
	}
}

@mixin valueAlignRight {
	.textField-input-value {
		text-align: right;
	}
}

@mixin autoResize {
	.textField-input {
		display: grid;
		align-items: normal;
		min-width: 0;
	}

	.textField-input-valueClone,
	.textField-input-value {
		white-space: pre-wrap;
		overflow-wrap: break-word;
		grid-area: 1 / 1 / 2 / 2;
		resize: none;
		min-width: 0;
	}

	.textField-input-valueClone {
		visibility: hidden;

		&::after {
			content: ' ';
		}
	}
}
