@mixin invalid {
	--component-textField-border: var(--pr-t-color-input-border-critical);
	--component-textField-background: var(--pr-t-color-input-background-critical);
	--component-textField-placeholder: var(--pr-t-color-input-text-placeholder-critical);

	&:hover {
		--component-textField-border: var(--pr-t-color-input-border-critical-hover);
	}
}

@mixin disabled {
	--component-textField-background: var(--pr-t-color-input-background-disabled);
	--component-textField-color: var(--pr-t-color-input-text-disabled);
}

@mixin lineThrough {
	--component-textField-color: var(--pr-t-color-text-subtle);
	--component-textField-textDecoration: line-through;
}
