@mixin invalid {
	--component-textField-border: var(--pr-t-color-input-border-critical);
	--component-textField-background: var(--pr-t-color-input-background-critical);
	--component-textField-placeholder: var(--palettes-error-400);

	&:hover {
		--component-textField-border: var(--pr-t-color-input-border-critical-hover);
	}
}

@mixin disabled {
	--component-textField-background: var(--pr-t-color-input-background-disabled);
	--component-textField-color: var(--palettes-neutral-700); // disabled token candidate
}
