@mixin invalid {
	--component-textField-border: var(--palettes-error-400);
	--component-textField-background: var(--palettes-error-50);
	--component-textField-placeholder: var(--palettes-error-400);

	.textField-input:hover {
		--component-textField-border: var(--palettes-error-600);
	}
}

@mixin disabled {
	--component-textField-border: var(--palettes-neutral-300);
	--component-textField-background: var(--palettes-neutral-100);
	--component-textField-color: var(--palettes-neutral-600);
}
