@mixin vars {
	--component-textField-lineHeight: var(--pr-t-font-lineHeight-300);
	--component-textField-fontSize: var(--pr-t-font-fontSize-200);
	--component-textField-placeholder: var(--pr-t-color-input-text-placeholder);
	--component-textField-background: var(--pr-t-color-input-background);
	--component-textField-border: var(--pr-t-color-input-border);
	--component-textField-borderHover: var(--pr-t-color-input-border-hover);
	--component-textField-color: var(--pr-t-color-input-text);
	--component-textField-padding: var(--pr-t-spacings-100);
	--component-textField-affix-padding: var(--component-textField-padding);
	--component-textField-affix-size: 1.75rem;
	--component-textField-scrollMargin: 88rem; // un nombre arbitraire suffit pour scrollIntoView
	--component-textField-maxHeight: 90dvh;
	--component-textField-maxHeightFallback: 90vh;
	--component-textField-borderRadius: var(--commons-borderRadius-M);
	--component-textField-width: auto;
}
