@mixin vars {
	--components-textfield-background: #f7f8fd;
	--components-textfield-border-radius: 4px;
	--components-textfield-input-padding-horizontal: 0.5rem;
	--components-textfield-input-padding-vertical: 0.5rem;
	--components-textfield-input-placeholder: #cbcfe2;
	--components-textfield-hover-background: #f3f5fc;
	--components-textfield-hover-placeholder: #cbcfe2;
	--components-textfield-focus-placeholder: #dcdfef;
	--components-textfield-focus-shadow-color: #eceff8;
	--components-textfield-focus-border-color: #898fae;
	--components-textfield-disabled-background: #e0e7f6;
	--components-textfield-disabled-color: #acbbd7;
	--components-textfield-suffix-top: 2rem;
	--components-textfield-suffix-padding-right: 1.5rem;
	--components-textfield-sizes-shortest: 3rem;
	--components-textfield-sizes-shorter: 6rem;
	--components-textfield-sizes-short: 9rem;
	--components-textfield-sizes-default: 13rem;
	--components-textfield-sizes-long: 17rem;
	--components-textfield-sizes-longer: 22rem;
	--components-textfield-sizes-longest: 28rem;

	--components-textfield-material-padding-top: 1rem;
	--components-textfield-material-default-palette-color: #9299b0;
	--components-textfield-material-border-color: #ccc;
	--components-textfield-material-label-color: #a6a6a6;
	--components-textfield-material-label-font-size: 1rem;
	--components-textfield-material-suffix-padding-right: 1rem;

	--components-textfield-compact-padding: 0.5rem;
	--components-textfield-compact-label-color: #96a6c5;
	--components-textfield-compact-label-font-size: 1rem;
	--components-textfield-compact-label-right-margin: 0.3rem;
	--components-textfield-compact-label-sizes-shorter: 3rem;
	--components-textfield-compact-label-sizes-short: 5rem;
	--components-textfield-compact-label-sizes-default: 7rem;
	--components-textfield-compact-label-sizes-long: 9rem;
	--components-textfield-compact-label-sizes-longer: 11rem;

	--components-textfield-outlined-border-width: 1px;
	--components-textfield-outlined-border-default-color: #d2dcef;

	--components-textfield-filter-width: 18rem;
}
