.avatar {
	background: lime;
	height: var(--components-avatar-size, 2.5rem);
	width: var(--components-avatar-size, 2.5rem);
	background: var(--palettes-neutral-100) url("https://cdn.lucca.fr/lucca-front/avatars/finn.png") center;
	background-size: cover;
	flex-shrink: 0;
}
