@mixin textfieldError() {
	box-shadow: 0 0 0 1px _color("error");

	~ .textfield-label {
		color: _color("error");
	}

	&:focus ~ .textfield-label {
		color: _color("error");
	}
}

@mixin textfieldMaterialError() {
	box-shadow: 0 2px 0 0 _color("error");

	~ .textfield-label {
		color: _color("error");
	}

	&:focus ~ .textfield-label {
		color: _color("error");
	}
}

@mixin textfieldMaterialFilled() {
	~ .textfield-label {
		font-size: _theme("sizes.small.font-size");
		top: 0;
	}
}
