@mixin loading($size: 1rem) {
	&::before {
		border: 2px solid _theme('commons.loading.background');
		border-radius: 50%;
		bottom: 0;
		content: '';
		display: block;
		height: $size;
		left: 0;
		line-height: 0.8rem;
		margin: auto;
		position: absolute;
		right: 0;
		top: 0;
		width: $size;
	}

	&::after {
		animation: rotating _theme('commons.loading.speed') linear infinite;
		border: 2px solid _theme('commons.loading.frontground');
		border-color: _theme('commons.loading.frontground') transparent transparent transparent;
		border-radius: 50%;
		bottom: 0;
		content: '';
		display: block;
		height: $size;
		left: 0;
		line-height: 0.8rem;
		margin: auto;
		position: absolute;
		right: 0;
		top: 0;
		width: $size;
	}
}

@keyframes rotating {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@mixin loadingGradientAnimation($color, $withBackground: false, $bgColor: null, $duration: 2s) {
	animation: loadingGradientKeyframes $duration linear infinite;
	animation-fill-mode: forwards;
	@if $withBackground {
		@if $bgColor != null {
			background: $bgColor linear-gradient(315deg, transparent 40%, $color 50%, transparent 100%);
		} @else {
			background: $color linear-gradient(315deg, transparent 40%, $color 50%, transparent 100%);
		}
	} @else {
		background: linear-gradient(315deg, transparent 40%, $color 50%, transparent 100%);
	}
	background-repeat: no-repeat;
	background-size: 400% 100%;
}

@keyframes loadingGradientKeyframes {
	0% {
		background-position: 100% 0%;
	}
	100% {
		background-position: -100% 0%;
	}
}
