@use "sass:math";

@mixin media_larger_than($breakpoint, $reversed: false) {
	$reverse: "";

	@if $reversed {
		$reverse: unquote("not all and");
	} @else {
		$reverse: unquote("");
	}

	@if map-has-key(_getMap("breakpoints"), $breakpoint) {
		$breakpointInEm: math.div(_theme("breakpoints.#{$breakpoint}.breakAt", true), 16px) * 1em;

		@media #{$reverse "(min-width:" $breakpointInEm ")"} {
			@content;
		}
	} @else {
		@media #{$reverse "(min-width:" $breakpoint")"} {
			@content;
		}
	}
}

@mixin media_smaller_than($breakpoint) {
	@include media_larger_than($breakpoint, true) {
		@content;
	}
}
