@mixin hx($suffix:"") {
	color: _color("text.dark");
	font-weight: 600 #{$suffix};
}

@mixin h1($suffix:"") {
	font-size: _theme("sizes.biggest.font-size") #{$suffix};
	line-height: _theme("sizes.biggest.line-height") #{$suffix};
	margin-top: 0;
	margin-bottom: _theme("spacings.small");

	&.mod-headline {
		font-size: _theme("sizes.headline.font-size") #{$suffix};
		line-height: _theme("sizes.headline.line-height") #{$suffix};
	}
}

@mixin h2($suffix:"") {
	font-size: _theme("sizes.bigger.font-size") #{$suffix};
	line-height: _theme("sizes.bigger.line-height") #{$suffix};
	margin-top: 0;
	margin-bottom: _theme("spacings.small");
}

@mixin h3($suffix:"") {
	font-size: _theme("sizes.big.font-size") #{$suffix};
	line-height: _theme("sizes.big.line-height") #{$suffix};
	margin-top: 0;
	margin-bottom: _theme("spacings.small");
}

@mixin h4($suffix:"") {
	font-size: _theme("sizes.standard.font-size") #{$suffix};
	line-height: _theme("sizes.standard.line-height") #{$suffix};
	margin-top: 0;
	margin-bottom: _theme("spacings.small");
}

@mixin h5($suffix:"") {
	font-size: _theme("sizes.small.font-size") #{$suffix};
	line-height: _theme("sizes.small.line-height") #{$suffix};
	margin-top: 0;
	margin-bottom: _theme("spacings.small");
}

@mixin h6($suffix:"") {
	font-size: _theme("sizes.smaller.font-size") #{$suffix};
	line-height: _theme("sizes.smaller.line-height") #{$suffix};
	margin-top: 0;
	margin-bottom: _theme("spacings.small");
}