@function fakeborderoverlay($fakeborderoverlaycolor: currentColor, $fakeborderoverlaywidth: 1px) {
	@return   ($fakeborderoverlaywidth * -1) 0                              $fakeborderoverlaycolor,       // left                outside
			0 ($fakeborderoverlaywidth * -1)                                $fakeborderoverlaycolor,       // top                 outside
			  ($fakeborderoverlaywidth * -1) ($fakeborderoverlaywidth * -1) $fakeborderoverlaycolor,       // top left     corner outside
			  ($fakeborderoverlaywidth * -1) ($fakeborderoverlaywidth * -1) $fakeborderoverlaycolor inset; // bottom right         inside
}

@mixin mask($suffix: "!important") {
	border: 0 #{$suffix};
	clip: rect(1px, 1px, 1px, 1px) #{$suffix};
	height: 1px #{$suffix};
	margin: -1px #{$suffix};
	overflow: hidden #{$suffix};
	padding: 0 #{$suffix};
	position: absolute #{$suffix};
	width: 1px #{$suffix};
	white-space: nowrap #{$suffix};
	contain: paint #{$suffix};
}

@mixin listReset($suffix: "") {
	list-style-type: none #{$suffix};
	padding: 0 #{$suffix};
	margin: 0 #{$suffix};
}

@mixin definitionListReset($suffix: "") {
	padding: 0 #{$suffix};
	
	&,
	& > dd,
	& > div > dd {
		margin: 0 #{$suffix};
	}
}

@mixin buttonReset($suffix: "") {
	cursor: pointer #{$suffix};
	font: inherit #{$suffix};
	color: inherit #{$suffix};
	background-color: transparent #{$suffix};
	display: block #{$suffix};
	padding: 0 #{$suffix};
	border: 0 #{$suffix};
	width: 100% #{$suffix};
	text-align: left #{$suffix};
}

@mixin ie11() {
	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
		@content;
	}
}

@mixin buttonReset($suffix: "") {
	cursor: pointer #{$suffix};
	font: inherit #{$suffix};
	color: inherit #{$suffix};
	background-color: transparent #{$suffix};
	display: block #{$suffix};
	padding: 0 #{$suffix};
	border: 0 #{$suffix};
	width: 100% #{$suffix};
	text-align: left #{$suffix};
}

@mixin clearfix($suffix: "") {
	&::before,
	&::after {
		content: " " #{$suffix};
		display: table #{$suffix};
	}

	&::after {
		clear: both #{$suffix};
	}
}