@function fakeborderoverlay($fakeborderoverlaycolor: currentColor, $fakeborderoverlaywidth: 1px) {
	@return   ($fakeborderoverlaywidth * -1) 0                              $fakeborderoverlaycolor,       // left                outside
			0 ($fakeborderoverlaywidth * -1)                                $fakeborderoverlaycolor,       // top                 outside
			  ($fakeborderoverlaywidth * -1) ($fakeborderoverlaywidth * -1) $fakeborderoverlaycolor,       // top left     corner outside
			  ($fakeborderoverlaywidth * -1) ($fakeborderoverlaywidth * -1) $fakeborderoverlaycolor inset; // bottom right         inside
}

@mixin mask() {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;
	contain: paint !important;
}

@mixin ie11() {
	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
		@content;
	}
}
