@use '@lucca-front/scss/src/components/button/exports' as button;
@use '../../styles/definitions';

@include definitions.optionSearcherStyle;
@include definitions.optionPlaceholderStyle;

.addOption {
	@layer components {
		position: sticky;
		inset-block-end: 0;
		background-color: var(--pr-t-elevation-surface-raised);
	}

	@layer mods {
		&.is-highlighted {
			.addOption-content {
				--components-button-color: var(--palettes-700, var(--palettes-neutral-700));
				--components-button-backgroundColor: var(--palettes-100, var(--palettes-neutral-100));
			}
		}

		&.is-stuck {
			margin-block-start: var(--pr-t-spacings-100);
			box-shadow:
				0 0 0 4px var(--pr-t-elevation-surface-raised),
				0 0 0 1px color-mix(in srgb, var(--palettes-neutral-400) 8%, transparent),
				0 0 4px 4px color-mix(in srgb, var(--palettes-neutral-400) 32%, transparent),
				0 0 8px 4px color-mix(in srgb, var(--palettes-neutral-400) 24%, transparent);
		}
	}
}

.addOption-content {
	@layer components {
		@include button.vars;
		@include button.component;
		@include button.block;
		@include button.ghost;

		// stylelint-disable block-no-redundant-nested-style-rules -- Prevent issues with mixed declarations.
		// SEE: https://sass-lang.com/documentation/breaking-changes/mixed-decls/
		& {
			justify-content: left;

			--components-button-padding: var(--pr-t-spacings-50);
		}
		// stylelint-enable
	}
}
