@use "@lucca-front/scss/src/components/button/exports" as button;
@use '../../styles/definitions';

@include definitions.optionSearcherStyle;
@include definitions.optionPlaceholderStyle;

.addOption {
	@layer components {
		@include button.vars;
		@include button.component;
		@include button.block;
		@include button.ghost;

		& {
			justify-content: left;
			position: sticky;
			inset-block-end: 0;
			background-color: var(--pr-t-elevation-surface-raised);
			box-shadow: 0 0 0 var(--pr-t-spacings-50) var(--pr-t-elevation-surface-raised), var(--pr-t-elevation-shadow-overflow);
		}
	}

	@layer mods {
		&.is-highlighted {
			--components-button-color: var(--palettes-700, var(--palettes-neutral-700));
			--components-button-backgroundColor: var(--palettes-100, var(--palettes-neutral-100));
		}
	}
}
