@use '@lucca-front/scss/src/components/button/exports' as button;

@mixin disablePositioning {
	--components-fileToolbar-display: contents;
	--components-fileToolbar-list-padding: 0;
}

@mixin disablePositioningL {
	--components-fileToolbar-list-padding: var(--pr-t-spacings-50);
}
