@mixin checked {
	~ .switchField-icon {
		background-color: var(--palettes-product-700);
		border-color: var(--palettes-product-700);

		&::before {
			left: 50%;
		}
	}

	&:hover {
		~ .switchField-icon {
			background-color: var(--palettes-product-600);
			border-color: var(--palettes-product-600);
		}
	}

	&:active {
		~ .switchField-icon {
			background-color: var(--palettes-product-800);
			border-color: var(--palettes-product-800);
		}
	}
}

@mixin disabled {
	~ .switchField-icon {
		background-color: var(--commons-disabled-background);
		border-color: var(--commons-disabled-background);
		color: var(--palettes-neutral-500); // disabled token candidate

		&::before {
			background-color: var(--palettes-neutral-500); // disabled token candidate
		}
	}
}

@mixin checkedDisabled {
	&:disabled {
		~ .switchField-icon {
			background-color: var(--commons-disabled-background);
			border-color: var(--commons-disabled-background);
			color: var(--palettes-neutral-500); // disabled token candidate

			&::before {
				background-color: var(--palettes-neutral-500); // disabled token candidate
			}
		}
	}
}

@mixin invalid {
	~ .switchField-icon {
		background-color: var(--palettes-error-700);
		border-color: var(--palettes-error-700);
	}

	&:hover {
		~ .switchField-icon {
			background-color: var(--palettes-error-600);
			border-color: var(--palettes-error-600);
		}
	}

	&:active {
		~ .switchField-icon {
			background-color: var(--palettes-error-800);
			border-color: var(--palettes-error-800);
		}
	}
}

@mixin checkedInvalid {
	&:checked {
		~ .switchField-icon {
			background-color: var(--palettes-error-700);
			border-color: var(--palettes-error-700);
		}
	}
}
