@mixin vars {
  --component-switch-label-input-height: 1.25rem;
  --component-switch-label-input-width: 2.25rem;
  --component-switch-label-input-icon-fontSize: var(--sizes-XS-lineHeight);
  --component-switch-label-fontSize: var(--sizes-M-fontSize);
  --component-switch-label-lineHeight: var(--sizes-M-lineHeight);
}
