@use '@lucca-front/scss/src/commons/utils/namespace';
@use '@lucca-front/scss/src/components/avatar/exports' as avatar;
@use '@lucca-front/scss/src/commons/utils/reset';

@mixin component($atRoot: namespace.$defaultAtRoot) {
	container: comment / inline-size;
	display: flex;
	flex-direction: column;
	gap: var(--pr-t-spacings-50);
	max-width: var(--components-comment-max-width);
	align-items: var(--components-comment-align);
	margin-left: var(--components-comment-margin);

	.avatar {
		@include avatar.XS;
	}

	@at-root ($atRoot) {
		.commentWrapper {
			display: flex;
			flex-direction: column;
			gap: var(--pr-t-spacings-100);
			margin: 0;
			padding: 0;
			list-style-type: none;
		}

		.comment-infos {
			display: flex;
			font-style: normal;
			gap: var(--pr-t-spacings-100);
			justify-content: flex-start;
			align-items: flex-start;
			flex-direction: var(--components-comment-info-direction);
		}

		.comment-infos-content {
			flex-direction: column;
			display: var(--components-comment-info-content-display);
			font-size: var(--sizes-S-fontSize);
			line-height: var(--sizes-S-lineHeight);
			margin-block: var(--pr-t-spacings-25);
		}

		.comment-infos-date {
			color: var(--palettes-neutral-700);
		}

		.comment-infos-name {
			color: var(--palettes-neutral-800);

			& + .comment-infos-date {
				&::before {
					content: var(--components-comment-info-separator);
					color: var(--palettes-neutral-400);
					padding-inline: 1ch;

					@supports (content: '*' / '') {
						content: var(--components-comment-info-separator) / '';
					}
				}
			}
		}

		.comment-content {
			background-color: var(--components-comment-background-color, var(--palettes-neutral-50));
			border-radius: var(--components-comment-border-radius);
			display: flex;
			flex-direction: column;
			gap: var(--pr-t-spacings-150);
			margin: 0 0 0 var(--components-comment-content-margin);
			max-width: fit-content;
			padding: var(--pr-t-spacings-100) var(--pr-t-spacings-150);
		}

		.comment-content-text {
			margin-bottom: 0;
			overflow-wrap: break-word;
		}

		// .comment-content-textContainer is deprecated
		.comment-content-textContainerOptional,
		.comment-content-textContainer {
			display: flex;
			flex-direction: column;
			gap: var(--pr-t-spacings-100);
			font-size: var(--components-comment-text-fontSize);
			line-height: var(--components-comment-text-lineHeight);

			> * {
				margin: 0;
			}
		}

		.comment-content-text {
			font-size: var(--components-comment-text-fontSize);
			line-height: var(--components-comment-text-lineHeight);
		}
	}
}

@mixin chat {
	@include reset.list;

	display: flex;
	flex-direction: column;
	gap: var(--pr-t-spacings-200);

	.comment {
		--components-comment-max-width: min(66ch, calc(100% - var(--components-comment-content-margin)));
	}
}
