@use '@lucca-front/scss/src/commons/utils/media';

@use 'exports' as *;

.comment {
	@include vars;
	@include component;

	&.mod-S {
		@include S;
	}

	&.mod-noAvatar {
		@include noAvatar;
	}
}

.commentWrapper {
	@include vars;

	&.mod-compact {
		@include wrapperCompact;
	}
}

@mixin responsive(
	$breakpoint: 25rem,
	$breakpoint2: null,
	$inverted: true,
	$at: 'container',
	$containerName: 'comment',
	$size: 'width',
	$selector: '.comment'
) {
	#{if($responsive, $selector + '.responsive-' + $responsive, $selector)} {
		@include media.query(
			$breakpoint: $breakpoint,
			$breakpoint2: $breakpoint2,
			$inverted: $inverted,
			$at: $at,
			$containerName: $containerName,
			$size: $size
		) {
			@include narrow;
		}
	}
}

$responsive: true !default;

@if $responsive {
	@include responsive;
}
