@use '@lucca-front/scss/src/commons/utils/a11y';
@use '@lucca-front/scss/src/commons/utils/namespace';

@mixin S {
	--components-comment-text-fontSize: var(--sizes-S-fontSize);
	--components-comment-text-lineHeight: var(--sizes-S-lineHeight);
}

@mixin wrapperS {
	.comment {
		@include S;
	}
}

@mixin noAvatar {
	--components-comment-content-margin: 0;
}

@mixin narrow {
	@at-root (namespace.$defaultAtRoot) {
		.comment-infos-content {
			--components-comment-info-content-display: flex;
		}

		.comment-infos-name + .comment-infos-date {
			&::before {
				--components-comment-info-separator: none;
			}
		}
	}
}

@mixin wrapperCompact {
	.commentWrapper-item {
		&:not(:first-child) {
			.comment-infos {
				@include a11y.mask;
			}
		}
	}
}

@mixin chatAnswer {
	.comment {
		--components-comment-background-color: var(--palettes-product-100);
		--components-comment-align: end;
		--components-comment-content-margin: 0;
		--components-comment-margin: auto;
		--components-comment-border-radius: var(--commons-borderRadius-L) var(--commons-borderRadius-M) var(--commons-borderRadius-L)
			var(--commons-borderRadius-L);
	}
}
