<h1>date-minmax</h1>
<h2>date-input directive</h2>
<h3>via ngmodel</h3>
<div class="textfield">
	<input  class="textfield-input" luDateInput [(ngModel)]="date" [min]="min" [max]="max">
	<label class="textfield-label">date input</label>
</div>
<h3>in a form</h3>
<form [formGroup]="formDir" (ngSubmit)="submit()">
	<div class="textfield">
		<input  class="textfield-input" luDateInput formControlName="date" required [min]="min" [max]="max">
		<label class="textfield-label">date input</label>
		<div class="textfield-messages" *ngIf="formDir.controls.date.invalid">
			<div class="textfield-messages-error" *ngIf="formDir.controls.date.errors.date">Invalid date</div>
			<div class="textfield-messages-error" *ngIf="formDir.controls.date.errors.required">required</div>
			<div class="textfield-messages-error" *ngIf="formDir.controls.date.errors.min">min</div>
			<div class="textfield-messages-error" *ngIf="formDir.controls.date.errors.max">max</div>
		</div>
	</div>
</form>
<!-- <button type="button" class="button" (click)="submit()" [class.is-disabled]="formDir.invalid">submit</button> -->

<h2>calendar-input component</h2>
<h3>via ngmodel</h3>
<lu-calendar [(ngModel)]="date" [min]="min" [max]="max"></lu-calendar>
<h3>in a form</h3>
<form [formGroup]="formCal" (ngSubmit)="submit()">
	<div class="textfield">
		<lu-calendar  formControlName="date" required [min]="min" [max]="max"></lu-calendar>
		<label class="textfield-label">date input</label>
		<div class="textfield-messages" *ngIf="formCal.controls.date.invalid">
			<div class="textfield-messages-error" *ngIf="formCal.controls.date.errors.date">Invalid date</div>
			<div class="textfield-messages-error" *ngIf="formCal.controls.date.errors.required">required</div>
			<div class="textfield-messages-error" *ngIf="formCal.controls.date.errors.min">min</div>
			<div class="textfield-messages-error" *ngIf="formCal.controls.date.errors.max">max</div>
		</div>
	</div>
</form>

<h2>date-picker</h2>
<div class="textfield">
	<lu-select class="textfield-input" [(ngModel)]="date" [pickerOverlap]="true">
		<ng-container *luDisplayer="let value">{{ value | luDate }}</ng-container>
		<lu-date-picker [min]="min" [max]="max"></lu-date-picker>
		<lu-input-clearer></lu-input-clearer>
	</lu-select>
	<label class="textfield-label">in a select</label>
</div>
<h3>in a form</h3>
<form [formGroup]="formPic" (ngSubmit)="submit()">
	<div class="textfield">
		<lu-select class="textfield-input" formControlName="date" required [pickerOverlap]="true">
			<ng-container *luDisplayer="let value">{{ value | luDate }}</ng-container>
			<lu-date-picker [min]="min" [max]="max"></lu-date-picker>
			<lu-input-clearer></lu-input-clearer>
		</lu-select>
		<label class="textfield-label">in a select</label>
		<div class="textfield-messages" *ngIf="formPic.controls.date.invalid">
			<div class="textfield-messages-error" *ngIf="formPic.controls.date.errors.date">Invalid date</div>
			<div class="textfield-messages-error" *ngIf="formPic.controls.date.errors.required">required</div>
			<div class="textfield-messages-error" *ngIf="formPic.controls.date.errors.min">min</div>
			<div class="textfield-messages-error" *ngIf="formPic.controls.date.errors.max">max</div>
		</div>
	</div>
</form>

<h2>date-select</h2>
<div class="textfield">
	<lu-date-select class="textfield-input" [(ngModel)]="date" [min]="min" [max]="max"></lu-date-select>
	<label class="textfield-label">in a select</label>
</div>
<h3>in a form</h3>
<form [formGroup]="formSel" (ngSubmit)="submit()">
	<div class="textfield">
		<lu-date-select class="textfield-input" formControlName="date" required [min]="min" [max]="max"></lu-date-select>
		<label class="textfield-label">in a select</label>
		<div class="textfield-messages" *ngIf="formSel.controls.date.invalid">
			<div class="textfield-messages-error" *ngIf="formSel.controls.date.errors.date">Invalid date</div>
			<div class="textfield-messages-error" *ngIf="formSel.controls.date.errors.required">required</div>
			<div class="textfield-messages-error" *ngIf="formSel.controls.date.errors.min">min</div>
			<div class="textfield-messages-error" *ngIf="formSel.controls.date.errors.max">max</div>
		</div>
	</div>
</form>
