@use '@lucca-front/icons/src/icon/exports' as icon;
@use '@lucca-front/scss/src/commons/utils/a11y';
@use '@lucca-front/scss/src/components/numericBadge/exports' as numericBadge;

@mixin component {
	@include icon.M;

	background-color: var(--components-button-backgroundColor);
	box-shadow: var(--components-button-boxShadow);
	border-radius: var(--commons-borderRadius-M);
	line-height: var(--components-button-line-height);
	padding: var(--components-button-padding);
	transition-property: background-color, color, border-color, box-shadow;
	transition-duration: var(--commons-animations-durations-fast);
	width: var(--components-button-width);
	min-width: var(--components-button-minWidth);
	font-size: var(--components-button-font-size);
	gap: var(--components-button-gap);
	pointer-events: var(--components-button-pointerEvents);
	user-select: var(--components-button-userSelect);
	opacity: var(--components-button-opacity);
	cursor: var(--components-button-cursor);
	transition-timing-function: ease;
	font-family: inherit;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	position: relative;
	text-decoration: none;
	vertical-align: middle;
	white-space: nowrap;
	text-align: center;
	font-weight: 600;
	border: 0;

	&,
	&:is(a) {
		color: var(--components-button-color);
	}

	.lucca-icon {
		display: block;
	}

	// deprecated
	.button-icon {
		@include icon.M;
	}

	// .mod-outline is deprecated
	&:not(.mod-outlined, .mod-outline) {
		.numericBadge {
			@include numericBadge.product;
		}
	}

	&:hover {
		--components-button-color: var(--palettes-text, var(--palettes-product-text));
		--components-button-backgroundColor: var(--palettes-600, var(--palettes-product-600));
	}

	&:focus-visible {
		@include a11y.focusVisible;
	}

	&:active {
		--components-button-backgroundColor: var(--palettes-800, var(--palettes-product-800));
	}

	&:disabled {
		--components-button-cursor: default;
		--components-button-color: var(--palettes-neutral-500);
		--components-button-backgroundColor: var(--commons-disabled-background);
		--components-button-pointerEvents: none;

		.numericBadge {
			@include numericBadge.disabled;
		}
	}
}
