@use '@lucca-front/icons/src/icon/exports' as icon;
@use '@lucca-front/scss/src/components/numericBadge/exports' as numericBadge;
@use '@lucca-front/scss/src/commons/utils/a11y';

@mixin component {
	border-radius: var(--commons-borderRadius-M);
	font-family: inherit;
	font-size: var(--components-button-font-size);
	font-weight: 600;
	line-height: var(--components-button-line-height);
	margin: var(--components-button-margin);
	padding: var(--components-button-padding);
	transition-property: background-color, color, border-color, box-shadow;
	transition-duration: var(--commons-animations-durations-fast);
	transition-timing-function: ease;
	border: 0;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: var(--components-button-gap);
	position: relative;
	text-decoration: none;
	vertical-align: middle;
	white-space: nowrap;
	text-align: center;
	background-color: var(--palettes-700, var(--palettes-primary-700));
	color: var(--palettes-text, var(--palettes-primary-text));
	cursor: pointer;
	@include icon.M;

	&:last-of-type {
		margin-right: 0;
	}

	&:not([disabled], .is-disabled) {
		&:hover {
			background-color: var(--palettes-600, var(--palettes-primary-600));
			color: var(--palettes-text, var(--palettes-primary-text));
		}

		&:focus-visible {
			@include a11y.focusVisible;
		}

		&:active {
			background-color: var(--palettes-800, var(--palettes-primary-800));
		}
	}

	.button-icon {
		// deprecated
		@include icon.M;
	}

	&:not(.mod-outlined) {
		.numericBadge {
			@include numericBadge.primary;
		}
	}
}
