@use '@lucca-front/icons/src/commons/utils/icon';

@mixin S {
	--components-button-font-size: var(--sizes-S-fontSize);
	--components-button-line-height: var(--sizes-XS-lineHeight);
	--components-button-padding: var(--spacings-XS) var(--spacings-S);
	--icon-size: var(--sizes-M-fontSize);
}

@mixin XS {
	--components-button-font-size: var(--sizes-XS-fontSize);
	--components-button-line-height: var(--sizes-XS-lineHeight);
	--components-button-padding: var(--spacings-XXS) var(--spacings-XS);
	--icon-size: var(--sizes-S-fontSize);
	--components-button-gap: var(--spacings-XXS);
}

@mixin text {
	background-color: transparent;
	box-shadow: none;
	color: var(--palettes-700, var(--palettes-grey-700));
	padding: var(--spacings-XS);

	&:not([disabled], .is-disabled) {
		&:hover {
			box-shadow: none;
			background-color: var(--palettes-50, var(--palettes-grey-50));
			color: var(--palettes-700, var(--palettes-grey-700));
		}

		&:focus {
			box-shadow: var(--commons-boxShadow-XS), 0 0 0 4px var(--palettes-100, var(--palettes-primary-100)),
				inset 0 0 0 1px var(--palettes-400, var(--palettes-primary-400));
			background: var(--palettes-50, var(--palettes-grey-50));
			outline: none;
		}

		&:active {
			background-color: var(--palettes-100, var(--palettes-grey-100));
			box-shadow: var(--commons-boxShadow-XS), 0 0 0 4px var(--palettes-200, var(--palettes-primary-200)),
				inset 0 0 0 1px var(--palettes-500, var(--palettes-primary-500));
		}
	}
}

@mixin textXS {
	padding: var(--spacings-XXS) .375rem;
}

@mixin outlined {
	&:not([disabled], .is-disabled) {
		color: var(--palettes-700, var(--palettes-grey-700));
		box-shadow: inset 0 0 0 1px var(--palettes-400, var(--palettes-grey-400));
		background-color: var(--colors-white-color);
		border-color: var(--palettes-200, var(--palettes-grey-200));

		&:hover {
			color: var(--palettes-700, var(--palettes-grey-700));
			background-color: var(--palettes-100, var(--palettes-grey-100));
			box-shadow: var(--commons-boxShadow-XS), inset 0 0 0 1px var(--palettes-400, var(--palettes-grey-400));
		}

		&:focus {
			color: var(--palettes-700, var(--palettes-grey-700));
			background-color: var(--palettes-100, var(--palettes-grey-100));
			box-shadow: var(--commons-boxShadow-XS), 0 0 0 4px var(--palettes-100, var(--palettes-primary-100)),
				inset 0 0 0 1px var(--palettes-400, var(--palettes-primary-400));
			outline: none;
		}

		&:active {
			color: var(--palettes-700, var(--palettes-grey-700));
			background-color: var(--palettes-200, var(--palettes-grey-200));
			box-shadow: 0 0 0 4px var(--palettes-200, var(--palettes-primary-200)),
				inset 0 0 0 1px var(--palettes-500, var(--palettes-primary-500));
		}
	}

	.button-counter {
		background-color: var(--palettes-300, var(--palettes-grey-300));
		color: var(--palettes-800, var(--palettes-grey-800));
	}
}

@mixin block {
	width: 100%;
}

@mixin icon($atRoot: 'without: rule') {
	--components-button-padding: var(--spacings-XS) calc(var(--spacings-XS) + var(--spacings-XXS));
}

@mixin iconXS {
	--components-button-padding: var(--spacings-XXS) var(--spacings-XS);
}

@mixin invert {
	color: var(--colors-white-color);

	&:not([disabled], .is-disabled) {
		&:hover,
		&:focus {
			background-color: rgba(255, 255, 255, 0.1);
			color: var(--colors-white-color);
		}

		&:focus {
			box-shadow: 0 0 0 4px rgba(var(--colors-grey-900-rgb), 0.1);
		}
	}
}

@mixin more {
	padding: 0 !important;
	text-align: center;
	min-width: 2rem;

	&::before {
		@include icon.generate('arrow_south');

		height: 0;
		vertical-align: text-top;
	}
}

@mixin moreS {
	min-width: 1.75rem;
}

@mixin counter($atRoot: 'without: rule') {
	--components-button-padding: var(--spacings-XS) calc(var(--spacings-XS) + var(--spacings-XXS)) var(--spacings-XS) var(--spacings-S);

	@at-root ($atRoot) {
		.button-counter {
			background-color: var(--palettes-500, var(--palettes-primary-500));
			border-radius: 1rem;
			display: flex;
			font-size: var(--sizes-XS-fontSize);
			height: 1.5rem;
			min-width: 1.5rem;
			align-items: center;
			justify-content: center;
		}
	}
}

@mixin counterS {
	--components-button-padding: .375rem calc(var(--spacings-XS) + var(--spacings-XXS)) .375rem var(--spacings-S);

	.button-counter {
		height: 1.25rem;
		min-width: 1.25rem;
	}
}

@mixin counterXS {
	--components-button-padding: var(--spacings-XXS) var(--spacings-XS) var(--spacings-XXS) calc(var(--spacings-XS) + var(--spacings-XXS));

	.button-counter {
		height: 1rem;
		min-width: 1rem;
	}
}
