@mixin vars {
	--components-button-font-size: var(--sizes-M-fontSize);
	--components-button-line-height: var(--sizes-M-lineHeight);
	--components-button-padding: var(--pr-t-spacings-100) var(--pr-t-spacings-200);
	--components-button-gap: var(--pr-t-spacings-100);
	--components-button-opacity: 1;
	--components-button-cursor: pointer;
	--components-button-pointerEvents: auto;
	--components-button-width: auto;
	--components-button-minWidth: none;
	--components-button-userSelect: auto;
	--components-button-boxShadow: none;
	--components-button-color: var(--palettes-text, var(--palettes-product-text));
	--components-button-backgroundColor: var(--palettes-700, var(--palettes-product-700));
}
