@mixin vars {
	--components-button-margin: 0 var(--spacings-smaller) 0 0;
	--components-button-font-weight: 600;
	--components-button-font-size: var(--sizes-standard-font-size);
	--components-button-line-height: var(--spacings-standard);
	--components-button-padding: var(--spacings-smaller) var(--spacings-standard);
	--components-button-small-font-size: 0.875rem;
	--components-button-small-line-height: var(--sizes-smaller-line-height);
	--components-button-small-padding: var(--spacings-smaller) var(--spacings-small);
	--components-button-smaller-font-size: calc(var(--spacings-smallest) + var(--spacings-smaller));
	--components-button-smaller-line-height: var(--sizes-smaller-line-height);
	--components-button-smaller-padding: var(--spacings-smallest) var(--spacings-smaller);

	--components-button-text-padding: var(--spacings-smaller);

	--components-button-border-radius: var(--commons-border-radius);
	--components-button-font-family: var(--commons-font-family);
	--components-button-transition: var(--commons-transition);
}
