@import 'theming';
@import '~@lucca-front/scss/src/mixins';

.cdk-drag-placeholder {
	@include fakeBorder(1px, _color("grey", "200"));
	background-color: _color("grey", "100");
	* {
		opacity: 0;
	}
}

.cdk-drag-handle,
.cdk-drag-placeholder {
	cursor: move;
}

.dragDrop-list {
	border-radius: _theme("commons.border.radius");
}

.dragDrop-box {
	cursor: grab;
	// palette colors
	// @each $name, $palette in _getMap("palettes") {
	// 	&.palette-#{$name} {
	// 		@include checkboxColoring($name);
	// 	}
	// }
}

.dragDrop-box:active {
	cursor: grabbing;
}

.cdk-drag-preview {
	z-index: 9999 !important;
	box-sizing: border-box;
	@include fakeBorder(_theme("commons.divider.width"), _color("secondary", "200"));
	background-color: _color("secondary", "50");
}

.cdk-drop-list-dragging .cdk-drag:not(.cdk-drag-placeholder) {
	transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
	border-radius: _theme("commons.border.radius");
}
