.grid{
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex: 0 1 auto;
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -.5rem;
  margin-right: -.5rem;
}

.grid-xs, .grid-xs1, .grid-xs2, .grid-xs3, .grid-xs4, .grid-xs5, .grid-xs6, .grid-xs7, .grid-xs8, .grid-xs9, .grid-xs10, .grid-xs11, .grid-xs12, .grid-sm, .grid-sm1, .grid-sm2, .grid-sm3, .grid-sm4, .grid-sm5, .grid-sm6, .grid-sm7, .grid-sm8, .grid-sm9, .grid-sm10, .grid-sm11, .grid-sm12, .grid-md, .grid-md1, .grid-md2, .grid-md3, .grid-md4, .grid-md5, .grid-md6, .grid-md7, .grid-md8, .grid-md9, .grid-md10, .grid-md11, .grid-md12, .grid-lg, .grid-lg1, .grid-lg2, .grid-lg3, .grid-lg4, .grid-lg5, .grid-lg6, .grid-lg7, .grid-lg8, .grid-lg9, .grid-lg10, .grid-lg11, .grid-lg12{
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  padding-right: .5rem;
  padding-left: .5rem;
  flex-basis: 100%;
  max-width: 100%;
}

/* XS - Columns */

.grid-xs{
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  max-width: 100%;
}

.grid-xs1{
  -ms-flex-preferred-size: 8.333%;
  flex-basis: 8.333%;
  max-width: 8.333%;
}

.grid-xs2{
  -ms-flex-preferred-size: 16.667%;
  flex-basis: 16.667%;
  max-width: 16.667%;
}

.grid-xs3{
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  max-width: 25%;
}

.grid-xs4{
  -ms-flex-preferred-size: 33.333%;
  flex-basis: 33.333%;
  max-width: 33.333%;
}

.grid-xs5{
  -ms-flex-preferred-size: 41.667%;
  flex-basis: 41.667%;
  max-width: 41.667%;
}

.grid-xs6{
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%;
}

.grid-xs7{
  -ms-flex-preferred-size: 58.333%;
  flex-basis: 58.333%;
  max-width: 58.333%;
}

.grid-xs8{
  -ms-flex-preferred-size: 66.667%;
  flex-basis: 66.667%;
  max-width: 66.667%;
}

.grid-xs9{
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
  max-width: 75%;
}

.grid-xs10{
  -ms-flex-preferred-size: 83.333%;
  flex-basis: 83.333%;
  max-width: 83.333%;
}

.grid-xs11{
  -ms-flex-preferred-size: 91.667%;
  flex-basis: 91.667%;
  max-width: 91.667%;
}

.grid-xs12{
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
}

/* XS - Offsets */

.grid-xsOffset1{
  margin-left: 8.333%;
}

.grid-xsOffset2{
  margin-left: 16.667%;
}

.grid-xsOffset3{
  margin-left: 25%;
}

.grid-xsOffset4{
  margin-left: 33.333%;
}

.grid-xsOffset5{
  margin-left: 41.667%;
}

.grid-xsOffset6{
  margin-left: 50%;
}

.grid-xsOffset7{
  margin-left: 58.333%;
}

.grid-xsOffset8{
  margin-left: 66.667%;
}

.grid-xsOffset9{
  margin-left: 75%;
}

.grid-xsOffset10{
  margin-left: 83.333%;
}

.grid-xsOffset11{
  margin-left: 91.667%;
}

/* SM - Columns */

@media only screen and (min-width: $sm){

  .grid-sm{
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }

  .grid-sm1{
    -ms-flex-preferred-size: 8.333%;
    flex-basis: 8.333%;
    max-width: 8.333%;
  }

  .grid-sm2{
    -ms-flex-preferred-size: 16.667%;
    flex-basis: 16.667%;
    max-width: 16.667%;
  }

  .grid-sm3{
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  .grid-sm4{
    -ms-flex-preferred-size: 33.333%;
    flex-basis: 33.333%;
    max-width: 33.333%;
  }

  .grid-sm5{
    -ms-flex-preferred-size: 41.667%;
    flex-basis: 41.667%;
    max-width: 41.667%;
  }

  .grid-sm6{
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  .grid-sm7{
    -ms-flex-preferred-size: 58.333%;
    flex-basis: 58.333%;
    max-width: 58.333%;
  }

  .grid-sm8{
    -ms-flex-preferred-size: 66.667%;
    flex-basis: 66.667%;
    max-width: 66.667%;
  }

  .grid-sm9{
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  .grid-sm10{
    -ms-flex-preferred-size: 83.333%;
    flex-basis: 83.333%;
    max-width: 83.333%;
  }

  .grid-sm11{
    -ms-flex-preferred-size: 91.667%;
    flex-basis: 91.667%;
    max-width: 91.667%;
  }

  .grid-sm12{
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }

  /* SM - Offsets */

  .grid-smOffset1{
    margin-left: 8.333%;
  }

  .grid-smOffset2{
    margin-left: 16.667%;
  }

  .grid-smOffset3{
    margin-left: 25%;
  }

  .grid-smOffset4{
    margin-left: 33.333%;
  }

  .grid-smOffset5{
    margin-left: 41.667%;
  }

  .grid-smOffset6{
    margin-left: 50%;
  }

  .grid-smOffset7{
    margin-left: 58.333%;
  }

  .grid-smOffset8{
    margin-left: 66.667%;
  }

  .grid-smOffset9{
    margin-left: 75%;
  }

  .grid-smOffset10{
    margin-left: 83.333%;
  }

  .grid-smOffset11{
    margin-left: 91.667%;
  }
}

/* MD - Columns */

@media only screen and (min-width: $md){

  .grid-md{
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }

  .grid-md1{
    -ms-flex-preferred-size: 8.333%;
    flex-basis: 8.333%;
    max-width: 8.333%;
  }

  .grid-md2{
    -ms-flex-preferred-size: 16.667%;
    flex-basis: 16.667%;
    max-width: 16.667%;
  }

  .grid-md3{
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  .grid-md4{
    -ms-flex-preferred-size: 33.333%;
    flex-basis: 33.333%;
    max-width: 33.333%;
  }

  .grid-md5{
    -ms-flex-preferred-size: 41.667%;
    flex-basis: 41.667%;
    max-width: 41.667%;
  }

  .grid-md6{
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  .grid-md7{
    -ms-flex-preferred-size: 58.333%;
    flex-basis: 58.333%;
    max-width: 58.333%;
  }

  .grid-md8{
    -ms-flex-preferred-size: 66.667%;
    flex-basis: 66.667%;
    max-width: 66.667%;
  }

  .grid-md9{
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  .grid-md10{
    -ms-flex-preferred-size: 83.333%;
    flex-basis: 83.333%;
    max-width: 83.333%;
  }

  .grid-md11{
    -ms-flex-preferred-size: 91.667%;
    flex-basis: 91.667%;
    max-width: 91.667%;
  }

  .grid-md12{
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }

  /* MD - Offsets */

  .grid-mdOffset1{
    margin-left: 8.333%;
  }

  .grid-mdOffset2{
    margin-left: 16.667%;
  }

  .grid-mdOffset3{
    margin-left: 25%;
  }

  .grid-mdOffset4{
    margin-left: 33.333%;
  }

  .grid-mdOffset5{
    margin-left: 41.667%;
  }

  .grid-mdOffset6{
    margin-left: 50%;
  }

  .grid-mdOffset7{
    margin-left: 58.333%;
  }

  .grid-mdOffset8{
    margin-left: 66.667%;
  }

  .grid-mdOffset9{
    margin-left: 75%;
  }

  .grid-mdOffset10{
    margin-left: 83.333%;
  }

  .grid-mdOffset11{
    margin-left: 91.667%;
  }
}

/* LG - Columns */

@media only screen and (min-width: $lg){

  .grid-lg{
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }

  .grid-lg1{
    -ms-flex-preferred-size: 8.333%;
    flex-basis: 8.333%;
    max-width: 8.333%;
  }

  .grid-lg2{
    -ms-flex-preferred-size: 16.667%;
    flex-basis: 16.667%;
    max-width: 16.667%;
  }

  .grid-lg3{
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  .grid-lg4{
    -ms-flex-preferred-size: 33.333%;
    flex-basis: 33.333%;
    max-width: 33.333%;
  }

  .grid-lg5{
    -ms-flex-preferred-size: 41.667%;
    flex-basis: 41.667%;
    max-width: 41.667%;
  }

  .grid-lg6{
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  .grid-lg7{
    -ms-flex-preferred-size: 58.333%;
    flex-basis: 58.333%;
    max-width: 58.333%;
  }

  .grid-lg8{
    -ms-flex-preferred-size: 66.667%;
    flex-basis: 66.667%;
    max-width: 66.667%;
  }

  .grid-lg9{
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  .grid-lg10{
    -ms-flex-preferred-size: 83.333%;
    flex-basis: 83.333%;
    max-width: 83.333%;
  }

  .grid-lg11{
    -ms-flex-preferred-size: 91.667%;
    flex-basis: 91.667%;
    max-width: 91.667%;
  }

  .grid-lg12{
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }

  /* LG - Offsets */

  .grid-lgOffset1{
    margin-left: 8.333%;
  }

  .grid-lgOffset2{
    margin-left: 16.667%;
  }

  .grid-lgOffset3{
    margin-left: 25%;
  }

  .grid-lgOffset4{
    margin-left: 33.333%;
  }

  .grid-lgOffset5{
    margin-left: 41.667%;
  }

  .grid-lgOffset6{
    margin-left: 50%;
  }

  .grid-lgOffset7{
    margin-left: 58.333%;
  }

  .grid-lgOffset8{
    margin-left: 66.667%;
  }

  .grid-lgOffset9{
    margin-left: 75%;
  }

  .grid-lgOffset10{
    margin-left: 83.333%;
  }

  .grid-lgOffset11{
    margin-left: 91.667%;
  }
}


// MODS
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

.grid{

  &.mod-reverse{
    -ms-flex-direction: row-reverse;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    flex-direction: row-reverse;
  }

  /* XS - Mods */

  &.mod-start-xs{
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  &.mod-center-xs{
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
  }

  &.mod-end-xs{
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
    text-align: end;
  }

  &.mod-top-xs{
    -ms-flex-align: start;
    -webkit-box-align: start;
    align-items: flex-start;
  }

  &.mod-middle-xs{
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
  }

  &.mod-bottom-xs{
    -ms-flex-align: end;
    -webkit-box-align: end;
    align-items: flex-end;
  }

  &.mod-around-xs{
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  &.mod-between-xs{
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }

  /* SM - Mods */

  @media only screen and (min-width: $sm){

    .mod-start-sm{
      -ms-flex-pack: start;
      -webkit-box-pack: start;
      justify-content: flex-start;
      text-align: start;
    }

    .mod-center-sm{
      -ms-flex-pack: center;
      -webkit-box-pack: center;
      justify-content: center;
      text-align: center;
    }

    .mod-end-sm{
      -ms-flex-pack: end;
      -webkit-box-pack: end;
      justify-content: flex-end;
      text-align: end;
    }

    .mod-top-sm{
      -ms-flex-align: start;
      -webkit-box-align: start;
      align-items: flex-start;
    }

    .mod-middle-sm{
      -ms-flex-align: center;
      -webkit-box-align: center;
      align-items: center;
    }

    .mod-bottom-sm{
      -ms-flex-align: end;
      -webkit-box-align: end;
      align-items: flex-end;
    }

    .mod-around-sm{
      -ms-flex-pack: distribute;
      justify-content: space-around;
    }

    .mod-between-sm{
      -ms-flex-pack: justify;
      -webkit-box-pack: justify;
      justify-content: space-between;
    }
  }

  /* MD - Mods */

  @media only screen and (min-width: $md){

    .mod-start-md{
      -ms-flex-pack: start;
      -webkit-box-pack: start;
      justify-content: flex-start;
      text-align: start;
    }

    .mod-center-md{
      -ms-flex-pack: center;
      -webkit-box-pack: center;
      justify-content: center;
      text-align: center;
    }

    .mod-end-md{
      -ms-flex-pack: end;
      -webkit-box-pack: end;
      justify-content: flex-end;
      text-align: end;
    }

    .mod-top-md{
      -ms-flex-align: start;
      -webkit-box-align: start;
      align-items: flex-start;
    }

    .mod-middle-md{
      -ms-flex-align: center;
      -webkit-box-align: center;
      align-items: center;
    }

    .mod-bottom-md{
      -ms-flex-align: end;
      -webkit-box-align: end;
      align-items: flex-end;
    }

    .mod-around-md{
      -ms-flex-pack: distribute;
      justify-content: space-around;
    }

    .mod-between-md{
      -ms-flex-pack: justify;
      -webkit-box-pack: justify;
      justify-content: space-between;
    }
  }

  /* LG - Mods */

  @media only screen and (min-width: $lg){

    .mod-start-lg{
      -ms-flex-pack: start;
      -webkit-box-pack: start;
      justify-content: flex-start;
      text-align: start;
    }

    .mod-center-lg{
      -ms-flex-pack: center;
      -webkit-box-pack: center;
      justify-content: center;
      text-align: center;
    }

    .mod-end-lg{
      -ms-flex-pack: end;
      -webkit-box-pack: end;
      justify-content: flex-end;
      text-align: end;
    }

    .mod-top-lg{
      -ms-flex-align: start;
      -webkit-box-align: start;
      align-items: flex-start;
    }

    .mod-middle-lg{
      -ms-flex-align: center;
      -webkit-box-align: center;
      align-items: center;
    }

    .mod-bottom-lg{
      -ms-flex-align: end;
      -webkit-box-align: end;
      align-items: flex-end;
    }

    .mod-around-lg{
      -ms-flex-pack: distribute;
      justify-content: space-around;
    }

    .mod-between-lg{
      -ms-flex-pack: justify;
      -webkit-box-pack: justify;
      justify-content: space-between;
    }
  }
}


// GRID UTILITIES
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

.u-first-xs{
  -ms-flex-order: -1;
  -webkit-box-ordinal-group: 0;
  order: -1;
}

.u-last-xs{
  -ms-flex-order: 1;
  -webkit-box-ordinal-group: 2;
  order: 1;
}

.u-first-sm{
  -ms-flex-order: -1;
  -webkit-box-ordinal-group: 0;
  order: -1;
}

.u-last-sm{
  -ms-flex-order: 1;
  -webkit-box-ordinal-group: 2;
  order: 1;
}

.u-first-md{
  -ms-flex-order: -1;
  -webkit-box-ordinal-group: 0;
  order: -1;
}

.u-last-md{
  -ms-flex-order: 1;
  -webkit-box-ordinal-group: 2;
  order: 1;
}

.u-first-lg{
  -ms-flex-order: -1;
  -webkit-box-ordinal-group: 0;
  order: -1;
}

.u-last-lg{
  -ms-flex-order: 1;
  -webkit-box-ordinal-group: 2;
  order: 1;
}