@mixin vars {
	--components-skeleton-gradient-step-one: var(--palettes-grey-50);
	--components-skeleton-gradient-step-two: var(--palettes-grey-200);
	--components-skeleton-shape-height: var(--pr-t-spacings-L);
	--components-skeleton-shape-width: var(--pr-t-spacings-L);
	--components-skeleton-text-offset: var(--pr-t-spacings-XXS);
	--components-skeleton-text-width: 100%;
}
