@mixin vars {
	--components-skeleton-gradient-step-one: var(--palettes-neutral-50);
	--components-skeleton-gradient-step-two: var(--palettes-neutral-200);
	--components-skeleton-shape-height: 1.5rem;
	--components-skeleton-shape-width: 1.5rem;
	--components-skeleton-text-offset: var(--pr-t-spacings-75);
	--components-skeleton-text-width: 100%;
}
