// deprecated

.mat-autocomplete-panel {
	@extend .textfield-options;

	background: white;
	position: relative;
	top: auto;

	&.mat-autocomplete-visible {
		opacity: 1;
		overflow-x: hidden;
		transform: scaleY(1);
	}
}
