.mat-datepicker-content {
	@include box-shadow-override();
	@extend .card;
	display: block;
	margin-top: 2px;
}

.mat-datepicker-toggle {
	@extend .textfield-suffix;
	pointer-events: auto;

	button {
		background: none !important;
		border-radius: 0;
		height: auto;
		line-height: 1;
		width: auto;

		&::after {
			@include makeIcon('calendar');
		}

		mat-icon {
			display: none;
		}
	}
}


// CALENDAR
.mat-calendar {
	width: 296px;

	.mat-button {
		@extend .button, .mod-text;
		font-size: 1em;
		text-decoration: none;
	}

	.mat-calendar-arrow {
		display: none;
	}

	.mat-icon-button {
		@extend .button, .mod-text;
		border-radius: 3px;
	}

	.mat-calendar-content {
		padding: 0 0.5em 0.5em 0.5em;
	}
}

// CALENDAR HEADER
.mat-calendar-controls {
	margin-top: 0 !important;
	.mat-icon-button[disabled] {
		opacity: .4
	}
	.mat-calendar-period-button {
		flex: 1;
		order: 1;
	}

	.mat-calendar-next-button {
		order: 2;
	}

	.mat-calendar-spacer {
		display: none;
	}
}

// TABLE
.mat-calendar-body-cell {
	.mat-calendar-body-cell-content {
		box-shadow: fakeborderoverlay(_theme('commons.divider.color'));
		border: none;
		border-radius: 0;
		color: _color("text.light");
		height: 100%;
		left: 0;
		top: 0;
		width: 100%;

		&:hover,
		&.mat-calendar-body-selected {
			background-color: _color('primary');
			color: _color('primary', 'text');
		}
	}

	&.mat-calendar-body-disabled {
		opacity: 0.5;
		pointer-events: none;
	}
}

// SPECIFIC MONTH-VIEW
md-month-view,
mat-month-view {
	.mat-calendar-table-header th {
		color: _color("text.light");
		font-size: 0.9em;
		padding-bottom: 0.4em;
	}

	.mat-calendar-body-label {
		overflow: hidden;
		text-indent: -999px;

		&[colspan='7'] {
			display: none; // REMOVE MONTH LABEL ABOVE NUMBERS IF FULL WIDTH
		}
	}
}
