// deprecated

@use '@lucca-front/scss/src/commons/utils/media';
@use '@lucca-front/icons/src/commons/utils/icon';

.mat-dialog-container {
	@extend .card;

	background: white;
	max-width: 80vw; // MIGHT BE CHANGED INTO A THEME VARIABLE
	overflow: visible !important;
	padding: 0 !important;
}

.cdk-overlay-pane {
	&.mod-sidePanel {
		position: fixed !important;
		top: var(--commons-banner-height);
		right: 0;
		bottom: 0;
		width: 60%;
		max-width: 800px;
		@include media.max('S') {
			width: 80%;
		}
		@include media.max('XS') {
			width: 100%;
		}

		.mat-dialog-container {
			max-width: 100%;
		}
	}
}
