// deprecated

.mat-menu-item {
	@extend .textfield-options-entry;
	background-color: transparent;
	&.mat-selected,
	&.mat-active {
		@extend .is-focus;
	}
}

.mat-menu-panel {
	@extend .textfield-options;
	position: relative;
	top: auto;
	opacity: 1;
	transform: none;
}

.mat-menu-content {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}
