// deprecated

.mat-tooltip {
	border-radius: var(--commons-borderRadius-M);
	background: var(--components-tooltip-background-color);
	color: var(--components-tooltip-color);
	font-size: var(--sizes-XS-lineHeight) !important;
	margin: var(--spacings-XS) !important;
	padding: var(--spacings-XXS) var(--spacings-XS) !important;
	line-height: var(--sizes-XS-lineHeight);
}
