// deprecated

.mat-tooltip {
	border-radius: var(--commons-borderRadius-M);
	background: var(--components-tooltip-background-color);
	color: var(--components-tooltip-color);
	font-size: var(--sizes-XS-lineHeight) !important;
	margin: var(--pr-t-spacings-100) !important;
	padding: var(--pr-t-spacings-50) var(--pr-t-spacings-100) !important;
	line-height: var(--sizes-XS-lineHeight);
}
