
:host{
	position: relative;
	max-height: 240px;
	// SHAME
	display: block;
	height: 240px;
}

li.search{
	position: fixed;
	height: 40px;
	top: 0;
	z-index: 1;
}

.options{
	width: 100%;
	position: absolute;
	top:40px;
}
