@use '@lucca-front/scss/src/commons/utils/overflow';

@use '@lucca-front/scss/src/components/divider/exports' as divider;
@use '@lucca-front/scss/src/components/scrollBox/exports' as scrollBox;

@mixin compact {
	.filterPillBar-segmentedControl.segmentedControl {
		--components-segmentedControl-direction: row;
		--components-segmentedControl-width: 100%;
	}

	.filterPillBar-divider.divider {
		width: 100%;
	}
}

@mixin notCompact {
	.filterPillBar-divider.divider {
		@include divider.vertical;

		margin-inline: var(--pr-t-spacings-50);
	}

	.filterPillBar-scrollBox.scrollBox {
		&:has(.filterPillBar-scrollBox-export) {
			flex-wrap: nowrap;
		}
	}
}

@mixin touch {
	--components-filterPillBar-extremitiesDisplay: block;

	.filterPillBar-segmentedControl.segmentedControl {
		--components-segmentedControl-whiteSpace: nowrap;
		--components-segmentedControl-width: auto;
		--components-segmentedControl-wrap: nowrap;
	}

	.filterPillBar-scrollBox.scrollBox {
		@include overflow.hide;
	}

	.filterPillBar-scrollBox-group {
		display: contents;
	}
}

@mixin notTouch {
	.filterPillBar-scrollBox.scrollBox {
		@include scrollBox.disabled;
	}
}
