@use '@lucca-front/scss/src/commons/utils/reset';
@use '@lucca-front/scss/src/commons/utils/a11y';
@use '@lucca-front/icons/src/icon/exports' as icon;

@mixin component($atRoot: 'without: rule') {
	display: flex;
	box-shadow: 0 0 0 1px var(--components-multiSelect-border-color);
	background-color: var(--components-multiSelect-background);
	border-radius: var(--commons-borderRadius-M);
	padding: var(--components-multiSelect-padding);
	align-items: flex-end;
	gap: var(--components-multiSelect-gap);

	&:has(.multipleSelect-displayer-search:focus-visible) {
		@include a11y.focusVisible($offset: 3px);
	}

	@at-root ($atRoot) {
		.multipleSelect-displayer {
			display: flex;
			gap: var(--spacings-XXS);
			flex-wrap: wrap;
		}

		.multipleSelect-displayer-search {
			display: block;
			min-width: 3rem;
			width: auto;
			flex: 1;
			border: 0;
			padding: 0;
			outline: none;
			color: var(--palettes-grey-800);
			font-size: var(--components-multiSelect-fontSize);
			line-height: var(--components-multiSelect-lineHeight);
			background-color: transparent;
		}

		.multipleSelect-clear {
			margin-bottom: var(--spacings-XXS);
		}

		.multipleSelect-arrow {
			@include icon.M;
			color: var(--components-multiSelect-arrow-color);
		}
	}
}
