@use '@lucca-front/icons/src/icon/exports' as icon;
@use '@lucca-front/scss/src/components/clear/exports' as clear;
@use '@lucca-front/scss/src/components/chip/exports' as chip;
@use '@lucca-front/scss/src/components/numericBadge/exports' as numericBadge;

@mixin S {
  --components-multiSelect-fontSize: var(--sizes-S-fontSize);
  --components-multiSelect-lineHeight: var(--sizes-S-lineHeight);
  --components-multiSelect-padding: var(--pr-t-spacings-XXS);
  --components-multiSelect-gap: var(--pr-t-spacings-XXS);

  .multipleSelect-arrow {
    @include icon.S;
  }

  .multipleSelect-clear {
    @include clear.S;
  }

  .multipleSelect-displayer-chip {
    @include chip.S;
  }

  .multipleSelect-displayer-numericBadge {
    @include numericBadge.S;
  }
}

@mixin displayerFilter {
  display: grid;

  .multipleSelect-displayer-filter {
    grid-column-start: 1;
    grid-row-start: 1;
    display: flex;
    gap: var(--pr-t-spacings-XXXS);
  }

  .multipleSelect-displayer-search {
    grid-column-start: 1;
    grid-row-start: 1;
  }
}
