@use '@lucca-front/icons/src/icon/exports' as icon;
@use '@lucca-front/scss/src/components/clear/exports' as clear;
@use '@lucca-front/scss/src/components/chip/exports' as chip;
@use '@lucca-front/scss/src/components/numericBadge/exports' as numericBadge;

@mixin S {
  --components-multiSelect-fontSize: var(--sizes-S-fontSize);
  --components-multiSelect-lineHeight: var(--sizes-S-lineHeight);
  --components-multiSelect-gap: 0.375rem;

  .multipleSelect-arrow {
    @include icon.S;
  }

  .multipleSelect-clear {
    @include clear.S;
  }

  .multipleSelect-displayer-chip {
    @include chip.S;
  }

  .multipleSelect-displayer-numericBadge {
    @include numericBadge.S;
  }
}

@mixin displayerFilter {
  .multipleSelect-displayer-search {
    display: none;
  }
}
