@mixin vars {
	--components-multiSelect-fontSize: var(--sizes-M-fontSize);
	--components-multiSelect-lineHeight: var(--sizes-M-lineHeight);
	--components-multiSelect-padding: var(--pr-t-spacings-100);
	--components-multiSelect-gap: var(--pr-t-spacings-100);
	--components-multiSelect-background: var(--pr-t-color-input-background);
	--components-multiSelect-border-color: var(--pr-t-color-input-border);
	--components-multiSelect-placeholder: var(--palettes-neutral-400);
	--components-multiSelect-arrow-color: var(--palettes-neutral-600);
}
