@import 'theming';
@mixin tooltipStyle {
	:host {
		display: block;
		background: _component("tooltip.background", true);
		background: _component("tooltip.background");
		border-radius: _theme("commons.border.radius", true);
		border-radius: _theme("commons.border.radius");
		color: _component("tooltip.color", true);
		color: _component("tooltip.color");
		font-size: _theme("sizes.small.font-size");
		line-height: _theme("sizes.small.line-height");
		max-width: _component("tooltip.max-width", true);
		max-width: _component("tooltip.max-width");
		padding: _component("tooltip.padding", true);
		padding: _component("tooltip.padding");

		&.lu-tooltip-above {
			transform-origin: bottom center;
		}

		&.lu-tooltip-below {
			transform-origin: top center;
			margin-top: 2px;
		}

		&.lu-tooltip-before {
			transform-origin: center right;
			margin-right: 5px;
		}

		&.lu-tooltip-after {
			transform-origin: center left;
			margin-left: 5px;
		}
	}
}
