@use '@lucca-front/icons/src/commons/config';

@mixin component {
	font-weight: 400;
	font-size: var(--icon-size, 1.25rem);
	direction: ltr;
	display: inline-block;
	font-family: config.$font-name;
	font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	letter-spacing: normal;
	line-height: 1;
	text-transform: none;
	vertical-align: text-bottom;
	white-space: nowrap;
	word-wrap: normal;
}

@mixin subComponent($content) {
	&::before {
		content: '#{$content}';
	}
}
