@use '@lucca-front/icons/src/commons/config';
@use '@lucca-front/icons/src/commons/core';

@mixin component($atRoot: 'without: rule') {
	font-weight: 400;
	font-size: var(--icon-size, var(--icon-sizeFallback));
	direction: ltr;
	display: inline-block;
	font-family: config.$font-name;
	font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	letter-spacing: normal;
	line-height: 1;
	text-transform: none;
	vertical-align: text-bottom;
	white-space: nowrap;
	word-wrap: normal;

	@at-root ($atRoot) {
		@each $name, $value in config.$icons {
			.icon-#{core.camelize($name)} {
				--icon-content: '#{$value}';
			}
		}
	}

	&::before {
		@supports (content: '*' / '') {
			content: var(--icon-content) / '';
		}

		@supports not (content: '*' / '') {
			content: var(--icon-content);
		}
	}
}
