@use '@lucca-front/icons/src/commons/config';
@use '@lucca-front/icons/src/commons/core';
@use 'exports' as *;

.lucca-icon {
	@include component;
	@include vars;

	@each $name, $content in config.$icons {
		&.icon-#{core.camelize($name)} {
			@include subComponent($content);
		}
	}

	&.mod-XS {
		--icon-size:  calc(var(--sizes-XS-fontSize) * 1.25);
	}

	&.mod-S {
		--icon-size:  calc(var(--sizes-S-fontSize) * 1.25);
	}

	&.mod-M {
		--icon-size:  calc(var(--sizes-M-fontSize) * 1.25);
	}

	&.mod-L {
		--icon-size:  calc(var(--sizes-L-fontSize) * 1.25);
	}

	&.mod-XL {
		--icon-size:  calc(var(--sizes-XL-fontSize) * 1.25);
	}

	&.mod-XXL {
		--icon-size:  calc(var(--sizes-XXL-fontSize) * 1.25);
	}
}
