@use '@lucca-front/icons/src/commons/config';
@use '@lucca-front/icons/src/commons/core';
@use 'exports' as *;

.lucca-icon {
	@include component;
	@include vars;

	@each $name, $content in config.$icons {
		&.icon-#{core.camelize($name)} {
			@include subComponent($content);
		}
	}

	&.size-smaller {
		--icon-size:  calc(var(--sizes-smaller-font-size) * 1.25);
	}

	&.size-small {
		--icon-size:  calc(var(--sizes-small-font-size) * 1.25);
	}

	&.size-standard {
		--icon-size:  calc(var(--sizes-standard-font-size) * 1.25);
	}

	&.size-big {
		--icon-size:  calc(var(--sizes-big-font-size) * 1.25);
	}

	&.size-bigger {
		--icon-size:  calc(var(--sizes-bigger-font-size) * 1.25);
	}

	&.size-biggest {
		--icon-size:  calc(var(--sizes-biggest-font-size) * 1.25);
	}
}
