@use '@lucca-front/icons/src/commons/config';
@use '@lucca-front/icons/src/commons/core';
@use 'exports' as *;

.lucca-icon {
	@include component;
	@include vars;

	@each $name, $content in config.$icons {
		&.icon-#{core.camelize($name)} {
			@include subComponent($content);
		}
	}

	&.mod-XS {
		--icon-size: .75rem;
	}

	&.mod-S {
		--icon-size:  1rem;
	}

	&.mod-M {
		--icon-size:  1.25rem;
	}

	&.mod-L {
		--icon-size:  1.5rem;
	}

	&.mod-XL {
		--icon-size:  1.75rem;
	}

	&.mod-XXL {
		--icon-size:  2rem;
	}
}
