@mixin XXS {
	--icon-size: 0.75rem;
}

@mixin XS {
	--icon-size: 1rem;
}

@mixin S {
	--icon-size: 1.25rem;
}

@mixin M {
	--icon-size: 1.5rem;
}

@mixin L {
	--icon-size: 1.75rem;
}

@mixin XL {
	--icon-size: 2rem;
}

@mixin XXL {
	--icon-size: 2.5rem;
}

@mixin AI {
	background-image: linear-gradient(135deg, var(--palettes-AI-600), var(--palettes-brand-500));
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
