@use '@lucca-front/scss/src/commons/core' as core;

@mixin component {
	border-radius: var(--components-box-border-radius);
	margin: var(--components-box-margin);
	padding: var(--components-box-padding);
	background-color: var(--colors-white-color);
	display: block;
	position: relative;

	@at-root {
		@include core.scoped {
			.box-close {
				position: absolute;
				font-size: var(--sizes-standard-font-size);
				right: var(--spacings-smallest);
				top: var(--spacings-smallest);
				z-index: 1;
			}
		}
	}
}
