@mixin component {
	border-radius: var(--components-box-border-radius);
	margin: var(--components-box-margin);
	padding: var(--components-box-padding);
	background-color: var(--colors-white-color);
	display: block;
	position: relative;

	@at-root {
		.box-close {
			position: absolute;
			font-size: var(--sizes-standard-font-size);
			right: var(--spacings-smallest);
			top: var(--spacings-smallest);
			z-index: 1;
		}
	}
}
