@mixin grey {
	--components-box-background: var(--palettes-grey-25);
}

@mixin toggle {
	margin-top: var(--components-box-toggle-arrow-size);

	&::before {
		left: var(--components-box-toggle-arrow-left);
		border-color: transparent;
		border-style: solid;
		border-width: var(--components-box-toggle-arrow-size);
		border-bottom-color: var(--components-box-background, var(--colors-white-color));
		border-top: 0;
		height: 0;
		bottom: 100%;
		width: 0;
		position: absolute;
		content: '';
	}
}

@mixin withArrow {
	--components-box-border-radius: var(--commons-borderRadius-M);
	--components-box-padding: var(--spacings-S);
}
