@mixin vars {
	--components-box-background: var(--colors-white-color);
	--components-box-border-radius: var(--commons-borderRadius-L);
	--components-box-margin: 0 0 var(--spacings-S);
	--components-box-padding: var(--spacings-M);
	--components-box-toggle-arrow-size: 0.8rem;
	--components-box-toggle-arrow-left: 2.5rem;
}
