@use '@lucca-front/scss/src/components/calendar';
@use '@lucca-front/scss/src/commons/utils/reset';
@use '@lucca-front/scss/src/commons/utils/a11y';

lu-date-range-input {
	--components-dateInput-maxWidth: auto;
	--components-dateInput-maxWidthDay: 18rem;
	--components-dateInput-maxWidthMonth: 15rem;
	--components-dateInput-maxWidthYear: 12rem;

	--components-rangePicker-content-inlineStart: calc(var(--pr-t-spacings-100) + var(--pr-t-spacings-25));
	--components-rangePicker-content-width: calc(50% + var(--pr-t-spacings-300));
	--components-rangePicker-content-inlineEnd: calc(var(--pr-t-spacings-800) + var(--pr-t-spacings-50));
	--components-rangePicker-content-background: transparent;
	--components-rangePicker-content-placeholderColor: var(--palettes-neutral-400);

	display: block;
	max-width: var(--components-dateInput-maxWidth);
	margin: var(--pr-t-spacings-50) 0;

	&.mod-day {
		--components-dateInput-maxWidth: var(--components-dateInput-maxWidthDay);
	}

	&.mod-month {
		--components-dateInput-maxWidth: var(--components-dateInput-maxWidthMonth);
	}

	&.mod-year {
		--components-dateInput-maxWidth: var(--components-dateInput-maxWidthYear);
	}
}

.rangePicker-content {
	position: relative;
	width: var(--components-rangePicker-content-width);

	&::before {
		content: '';
		position: absolute;
		background-color: var(--components-rangePicker-content-background);
		border-radius: var(--commons-borderRadius-M);
		pointer-events: none;
		inset: var(--pr-t-spacings-50);
		inset-inline-end: calc(var(--components-rangePicker-content-inlineEnd) - var(--pr-t-spacings-50));
	}

	&:focus-within {
		--components-rangePicker-content-background: var(--palettes-product-100);
		--components-rangePicker-content-placeholderColor: var(--palettes-product-400);

		.form-fieldset:has(.textField-input-value[aria-invalid='true']) & {
			--components-rangePicker-content-background: var(--palettes-critical-100);
		}
	}

	.form-fieldset:has(.textField-input-value[aria-invalid='true']) & {
		--components-rangePicker-content-placeholderColor: var(--palettes-critical-400);
	}

	&.mod-start {
		--components-rangePicker-content-width: calc(50% - var(--pr-t-spacings-300));
		--components-rangePicker-content-inlineEnd: calc(var(--pr-t-spacings-200) + var(--pr-t-spacings-50));
	}
}

.rangePicker-input-value {
	position: relative;
	padding-left: var(--components-rangePicker-content-inlineStart);
	padding-right: var(--components-rangePicker-content-inlineEnd);

	&::placeholder {
		color: var(--components-rangePicker-content-placeholderColor);
	}

	.form-fieldset.mod-S & {
		--components-rangePicker-content-inlineStart: var(--pr-t-spacings-100);
	}
}

.rangePicker-arrow {
	position: absolute;
	left: calc(50% - calc(var(--pr-t-spacings-400) + var(--pr-t-spacings-100) + var(--pr-t-spacings-25)));
	color: var(--palettes-neutral-700);
	pointer-events: none;
	padding: var(--pr-t-spacings-50);
	border-radius: var(--commons-borderRadius-M);
}
