@use 'exports' as *;
@use '@lucca-front/scss/src/commons/utils/media';

.filterBar {
	@layer components {
		@include vars;
		@include component;
	}

	@layer mods {
		@include media.max(XS) {
			@include narrow;
		}

		@include media.pointer(coarse) {
			@include touch;
		}

		@include media.pointer(coarse, $reversed: true) {
			@include notTouch;
		}
	}
}
