@use 'exports' as *;
@use '@lucca-front/scss/src/commons/utils/media';

.filterBar {
	@include vars;
	@include component;

	&.mod-neutral {
		@include neutral;
	}
}

@mixin responsive(
	$breakpoint: 'S',
	$breakpoint2: null,
	$inverted: false,
	$at: 'container',
	$containerName: 'filterBar',
	$responsiveSelector: null,
	$axis: 'width',
	$selector: '.filterBar-footer'
) {
	#{if($responsiveSelector, $selector + '.rwd-' + $responsiveSelector, $selector)} {
		@include media.query(
			$breakpoint: $breakpoint,
			$breakpoint2: $breakpoint2,
			$inverted: $inverted,
			$at: $at,
			$containerName: $containerName,
			$axis: $axis
		) {
			@include narrow;
		}
	}
}

@mixin responsiveActions(
	$breakpoint: 'XS',
	$breakpoint2: null,
	$inverted: false,
	$at: 'container',
	$containerName: 'filterBar',
	$responsiveSelector: null,
	$axis: 'width',
	$selector: '.filterBar-footer'
) {
	#{if($responsiveSelector, $selector + '.rwd-' + $responsiveSelector, $selector)} {
		@include media.query(
			$breakpoint: $breakpoint,
			$breakpoint2: $breakpoint2,
			$inverted: $inverted,
			$at: $at,
			$containerName: $containerName,
			$axis: $axis
		) {
			@include actionsNarrow;
		}
	}
}

$defaultResponsive: true !default;

@if $defaultResponsive {
	@include responsive;
	@include responsiveActions;
}
