@use '@lucca-front/scss/src/commons/utils/overflow';

@use '@lucca-front/scss/src/components/divider/exports' as divider;
@use '@lucca-front/scss/src/components/scrollBox/exports' as scrollBox;

@mixin compact {
	.filterBar-segmentedControl.segmentedControl {
		--components-segmentedControl-direction: row;
		--components-segmentedControl-width: 100%;
	}

	.filterBar-divider.divider {
		inline-size: 100%;
	}
}

@mixin notCompact {
	.filterBar-divider.divider {
		margin-inline: var(--pr-t-spacings-50);

		@include divider.vertical;
	}

	.filterBar-scrollBox.scrollBox {
		&:has(.filterBar-scrollBox-export) {
			flex-wrap: nowrap;
		}
	}
}

@mixin touch {
	--components-filterBar-scrollBox-flexGrow: 1;
	--components-filterBar-scrollBox-group-flexWrap: nowrap;

	.filterBar-segmentedControl.segmentedControl {
		--components-segmentedControl-whiteSpace: nowrap;
		--components-segmentedControl-width: auto;
		--components-segmentedControl-wrap: nowrap;
	}

	.filterBar-scrollBox.scrollBox {
		@include overflow.hide;
	}
}

@mixin notTouch {
	.filterBar-scrollBox.scrollBox {
		@include scrollBox.disabled;
	}
}
