@mixin vars {
	--components-filterBar-scrollBox-flexGrow: 0;
	--components-filterBar-scrollBox-group-flexWrap: wrap;
	--components-filterBar-flexWrap: nowrap;
	--components-filterBar-scrollBox-export-marginInlineStart: auto;
	--components-filterBar-scrollBox-export-paddingInlineStart: var(--pr-t-spacings-200);
}
