@use '@lucca-front/scss/src/commons/utils/reset';
@use '@lucca-front/scss/src/commons/utils/a11y';

@mixin component($atRoot: 'without: rule') {
	position: fixed;
	list-style-type: none;
	justify-content: center;
	display: flex;
	margin: 0;
	padding: 0;
	z-index: 9010;
	inset: 0.75rem;
	bottom: auto;

	@at-root ($atRoot) {
		.skipLinks-action {
			border: 0;
			margin: 0;
			font-weight: 600;
			border-radius: var(--commons-borderRadius);
			font-size: var(--sizes-XS-fontSize);
			line-height: var(--sizes-XS-lineHeight);
			box-shadow: var(--commons-boxShadow-XS), 0 0 0 4px var(--palettes-grey-200);
			padding: var(--spacings-XXS) var(--spacings-XS);
			transition: all var(--commons-animations-durations-fast);
			background-color: var(--palettes-grey-600);
			display: inline-block;
			position: relative;
			text-decoration: none;
			vertical-align: baseline;
			white-space: nowrap;
			outline: none;
			cursor: pointer;

			&:not(:focus) {
				@include a11y.mask;
			}

			&,
			&:hover {
				color: var(--colors-white-color);
			}
		}

		.navSide,
		.main-content {
			scroll-margin-top: var(--commons-banner-height);
		}
	}
}
