@mixin default {
	--components-readMore-link-backgroudColor: var(--pr-t-elevation-surface-default);
}

@mixin sunken {
	--components-readMore-link-backgroudColor: var(--pr-t-elevation-surface-sunken);
}

@mixin linkReset {
	--components-readMore-link-insetBlockEnd: 0;
}
