<table class="demo-QAtable">
	<tbody>
		<tr>
			<td></td>
			<td>
				<div class="demo-QAtable-list">HTML</div>
			</td>
			<td>
				<div class="demo-QAtable-list">Angular</div>
			</td>
		</tr>
		<tr>
			<td>Default</td>
			<td>lorem <strong class="highlight">ipsum</strong> dolor</td>
			<td>lorem <lu-highlight>ipsum</lu-highlight> dolor</td>
		</tr>
		<tr>
			<td>Sizes</td>
			<td>
				<h1>lorem <strong class="highlight">ipsum</strong> dolor</h1>
				<h2>lorem <strong class="highlight">ipsum</strong> dolor</h2>
				<h3>lorem <strong class="highlight">ipsum</strong> dolor</h3>
				<h4>lorem <strong class="highlight">ipsum</strong> dolor</h4>
				<h5>lorem <strong class="highlight">ipsum</strong> dolor</h5>
				<h6>lorem <strong class="highlight">ipsum</strong> dolor</h6>
			</td>
			<td>
				<h1>lorem <lu-highlight>ipsum</lu-highlight> dolor</h1>
				<h2>lorem <lu-highlight>ipsum</lu-highlight> dolor</h2>
				<h3>lorem <lu-highlight>ipsum</lu-highlight> dolor</h3>
				<h4>lorem <lu-highlight>ipsum</lu-highlight> dolor</h4>
				<h5>lorem <lu-highlight>ipsum</lu-highlight> dolor</h5>
				<h6>lorem <lu-highlight>ipsum</lu-highlight> dolor</h6>
			</td>
		</tr>
		<tr>
			<td>Line break</td>
			<td>
				lorem <strong class="highlight">ipsum dolor<br />sit</strong> amet
			</td>
			<td>
				lorem <lu-highlight>ipsum dolor<br />sit</lu-highlight> amet
			</td>
		</tr>
		<tr>
			<td>Palettes</td>
			<td>
				@for (palette of paletteOptions; track palette) {
					lorem <strong class="highlight" [class]="`palette-${palette}`">ipsum</strong> dolor<br />
				}
			</td>
			<td>
				@for (palette of paletteOptions; track palette) {
					lorem <lu-highlight [palette]="palette">ipsum</lu-highlight> dolor<br />
				}
			</td>
		</tr>
	</tbody>
</table>

<!-- To tell the ui-diff tool that the page has finished rendering -->
<span id="ready"></span>
