@use 'exports' as *;

// stylelint-disable selector-disallowed-list -- Selectors are all deprecated.
.filterBarDeprecated {
	@layer components {
		@include vars;
		@include component;
	}

	@layer mods {
		&.mod-neutral {
			@include neutral;
		}
	}
}
