@use '@lucca-front/scss/src/commons/utils/reset';
@use '@lucca-front/scss/src/commons/utils/a11y';
@use '@lucca-front/scss/src/components/title/exports' as title;

@mixin component($atRoot: 'without: rule') {
	table-layout: fixed;
	border-spacing: var(--pr-t-spacings-50);
	background-color: var(--palettes-neutral-0);
	border: var(--pr-t-spacings-150) solid var(--palettes-neutral-0);
	border-top: 0;
	color: var(--palettes-neutral-800);

	@at-root ($atRoot) {
		.calendar-caption {
			@include title.component;
			@include title.h3;

			margin: 0;
			padding: 0 0 var(--pr-t-spacings-100);
			background-color: var(--palettes-neutral-0);
			border: var(--pr-t-spacings-150) solid var(--palettes-neutral-0);
			border-bottom: 0;
		}

		.calendar-head-week-day {
			font-weight: 400;
			font-size: var(--sizes-S-fontSize);
			line-height: var(--sizes-S-lineHeight);
			color: var(--palettes-neutral-700);
		}

		.calendar-body-week-day,
		.calendar-head-week-day {
			padding: 0;
			width: var(--pr-t-spacings-400);
		}

		.calendar-body-week-day {
			height: var(--pr-t-spacings-400);

			&.mod-weekend {
				.calendar-body-week-day-action {
					background-color: red;
				}
			}

			&.mod-today {
				.calendar-body-week-day-action {
					text-decoration: underline;
					text-decoration-thickness: 2px;
					font-weight: 600;
				}
			}
		}

		.calendar-body-week-day-action {
			@include reset.button;

			text-align: center;
			width: var(--pr-t-spacings-400);
			height: var(--pr-t-spacings-400);
			border-radius: var(--commons-borderRadius-L);

			&:focus-visible {
				@include a11y.focusVisible();
			}
		}
	}
}
