@use '@lucca-front/scss/src/commons/utils/reset';
@use '@lucca-front/scss/src/commons/utils/a11y';
@use '@lucca-front/scss/src/components/button/exports' as button;
@use '@lucca-front/scss/src/components/link/exports' as link;

@mixin component($atRoot: 'without: rule') {
	width: var(--components-calendarWidth);

	@at-root ($atRoot) {
		.calendarShortcutsOptionnal {
			display: flex;
		}

		.calendarShortcuts {
			@include reset.list;

			width: 13.5rem;
			border-right: 1px solid var(--palettes-neutral-100);
			padding: var(--pr-t-spacings-50);
			overflow: auto;
			position: relative;
			z-index: 1;
			border-radius: var(--commons-borderRadius-M) 0 0 var(--commons-borderRadius-M);

			&:focus-visible {
				@include a11y.focusVisible;
			}

			&.mod-day {
				max-height: 19.25rem;

				&:has(+ .calendarWrapper .calendar-todayLink) {
					max-height: 21.75rem;
				}
			}

			&.mod-month,
			&.mod-year {
				max-height: 18rem;
			}
		}

		.calendarShortcutsButton-item-button.button {
			@include button.block;
			@include button.text;
			@include button.S;

			justify-content: flex-start;
			font-weight: 400;
			white-space: wrap;
			text-align: left;
		}

		.calendar-table {
			border-spacing: var(--components-calendarBorderSpacing);
			border: var(--pr-t-spacings-150) solid transparent;
			border-top: 0;
			table-layout: fixed;
			background-color: var(--components-calendarBackground);
			scroll-snap-align: start end;
			flex-shrink: 0;
			flex-grow: 0;
			width: 100%;
			empty-cells: hide;
		}

		.calendarWrapper {
			background-color: var(--components-calendarWrapperBackground);
			position: relative;

			&:has(.calendar-table-body-row-cell-action:focus-visible) {
				&:has(.calendar-table-body-row-cell-action:hover) {
					.calendar-table-body-row-cell-action:hover:not(:focus-visible) {
						outline: none;
					}
				}
			}
		}

		.calendarWrapper-content {
			display: flex;
			overflow: auto;
			scroll-behavior: smooth;
			scroll-snap-type: x mandatory;
			-ms-overflow-style: none;
			scrollbar-width: none;
			&::-webkit-scrollbar {
				display: none;
			}
			&:focus-visible {
				@include a11y.focusVisible;
			}
		}

		.calendarWrapper-navigation {
			position: absolute;
			top: 0;
			background-color: var(--components-calendarWrapper-navigationBackground);
			border-width: var(--pr-t-spacings-50) var(--pr-t-spacings-150);
			margin: var(--pr-t-spacings-100) 0;
			border-style: solid;
			border-color: var(--components-calendarWrapper-navigationBackground);
			border-radius: var(--commons-borderRadius-L);
		}

		.calendarWrapper-navigation-button {
			&.button {
				@include button.text;
				@include button.onlyIconXS;
			}
		}

		.calendar-stripes {
			@include a11y.mask;
		}

		.calendar-divider {
			&.divider {
				margin: 0;
			}
		}

		.calendar-todayLink {
			&.link {
				@include link.decorationHover;

				text-transform: capitalize;
				display: block;
				margin: auto;
				padding: var(--pr-t-spacings-100);
				line-height: var(--sizes-M-lineHeight);

				&:focus-visible {
					@include a11y.focusVisible($offset: -4px, $borderRadius: 8px);
				}
			}
		}

		.calendar-stripes-symbol-path {
			fill: var(--components-calendar-table-body-row-cell-action-stripesColor);
		}

		.calendar-name {
			line-height: var(--sizes-L-lineHeight);
			padding: var(--pr-t-spacings-50) calc(var(--pr-t-spacings-300) + var(--pr-t-spacings-100));
			font-size: var(--sizes-L-fontSize);
			font-weight: 700;
			border: var(--pr-t-spacings-150) solid transparent;
			border-bottom: var(--pr-t-spacings-100) solid transparent;
			text-transform: lowercase;
			background-color: var(--components-calendarBackground);
			text-align: center;
		}

		.calendar-name-button {
			@include reset.button;

			border-radius: var(--commons-borderRadius-L);
			text-align: inherit;
			width: fit-content;
			display: inline-block;
			padding: var(--pr-t-spacings-50);
			margin-block: calc(var(--pr-t-spacings-50) * -1);

			&:hover {
				color: var(--palettes-700, var(--palettes-product-700));
			}

			&:active {
				color: var(--palettes-800, var(--palettes-product-800));
			}

			&:focus-visible {
				@include a11y.focusVisible($offset: 0);
			}

			& + & {
				margin-left: calc(var(--pr-t-spacings-100) * -1);
			}
		}

		.calendar-table-head-row-cell,
		.calendar-table-body-row-cell {
			padding: var(--pr-t-spacings-25);
		}

		.calendar-table-head-row-cell {
			font-weight: 400;
			line-height: var(--sizes-S-lineHeight);
			font-size: var(--sizes-S-fontSize);
			color: var(--palettes-neutral-700);
			text-transform: uppercase;
			border-bottom: var(--pr-t-spacings-50) solid transparent;
		}

		.calendar-table-body-row-cell {
			position: relative;
			color: var(--palettes-neutral-700);

			&::before {
				background-color: var(--palettes-50, var(--palettes-product-50));
				position: absolute;
				inset: var(--pr-t-spacings-25) 0;
				content: var(--components-calendar-table-body-row-cellSelectedBeforeContent);
				border-radius: var(--components-calendar-table-body-row-cellSelectedBeforeBorderRadius);
			}
		}

		.calendar-table-body-row-cell-action {
			@include reset.button;

			border-radius: var(--commons-borderRadius-L);
			position: relative;
			z-index: 1;
			text-align: center;
			overflow: hidden;
			font-weight: var(--components-calendar-table-body-row-cell-actionFontWeight);
			color: var(--components-calendar-table-body-row-cell-actionColor);
			background-color: var(--components-calendar-table-body-row-cell-actionHighlight);
			display: var(--components-calendar-table-body-row-cell-actionDisplay);
			height: var(--pr-t-spacings-400);
			text-transform: lowercase;
			box-shadow:
				0 0 0 1px var(--components-calendar-table-body-row-cell-actionHighlight),
				0 0 0 1px var(--components-calendar-table-body-row-cell-actionHighlight) inset;

			&:disabled,
			&[aria-disabled='true'] {
				--components-calendar-table-body-row-cell-actionColor: var(--palettes-neutral-500);
				text-decoration: line-through;
				cursor: default;
			}

			&:not(:disabled, [aria-disabled='true']) {
				&:hover {
					@include a11y.focusVisible;

					outline-width: var(--components-calendar-table-body-row-cell-actionOutlineWidth);
					outline-offset: var(--components-calendar-table-body-row-cell-actionOutlineOffset);
					outline-color: var(--palettes-700, var(--palettes-product-700));
				}

				&:active {
					outline: 2px solid var(--palettes-800, var(--palettes-product-800));
					background-color: var(--palettes-800, var(--palettes-product-800));
					color: var(--palettes-0, var(--palettes-product-0));
				}
			}

			&:focus-visible {
				@include a11y.focusVisible;

				outline-width: var(--components-calendar-table-body-row-cell-actionOutlineWidth);
				outline-offset: var(--components-calendar-table-body-row-cell-actionOutlineOffset);
				outline-color: var(--palettes-700, var(--palettes-product-700));
			}
		}

		.calendar-table-body-row-cell-action-stripes {
			position: absolute;
			top: 0;
			left: 0;
			width: 60px;
			height: 60px;
			z-index: -1;
			display: var(--components-calendar-table-body-row-cell-action-stripesDisplay);
		}
	}
}
