@use 'exports' as *;
@use '@lucca-front/scss/src/commons/utils/media';

.calendarWrapper {
	@include wrapperVars;

	&.mod-daysOffHidden {
		@include daysOffHidden;
	}

	&.mod-daysOverflowingHidden {
		@include daysOverflowingHidden;
	}

	&.mod-range {
		@include media.min('XS') {
			@include range;
		}
	}
}

.calendar {
	@include component;
	@include vars;

	// if rows have three columns (display for months and years)
	&:has(.calendar-table-body-row-cell:nth-child(3):last-child) {
		@include third;
	}
}

.calendarShortcuts {
	@include media.max('S') {
		display: none;
	}
}

.calendar-table-body-row-cell {
	&.is-daysOff {
		@include daysOff;
	}

	&.is-overflow {
		@include overflow;
	}

	&.is-current {
		@include current;
	}

	&.is-selected,
	&.is-selectionInProgress {
		@include selected;
	}

	&.is-start {
		@include start;
	}

	&.is-end {
		@include end;
	}

	&.is-startInProgress {
		// @include startInProgress;
		outline: 2px solid green;

		&.is-endInProgress {
			// @include endInProgress;

			outline: 2px solid orange;

			&:hover {
				outline: 2px solid black;
			}
		}
	}

	&.is-endInProgress {
		// @include endInProgress;

		outline: 2px solid red;
	}
}

// $calendarComponent: 'lu-calendar2';

// gestion de l’allumage des overflow sur les sélection établies
// #{$calendarComponent} {
// @include datesAllVisible($calendarComponent) {
// 	@include overflowLines($filter: '&:last-child') {
// 		@include selected;
// 	}

// 	+ #{$calendarComponent} {
// 		@include overflowLines($filter: '&:first-child') {
// 			@include selected;
// 		}
// 	}
// }

// @include datesFirstVisibleOnLastMonthSecondInvisible {
// 	@include overflowLines($filter: '&:last-child') {
// 		@include selected;
// 	}
// }

// @include datesFirstVisibleOnFirstMonthSecondInvisible($calendarComponent) {
// 	@include overflowLines($filter: '&:last-child') {
// 		@include selected;
// 	}

// 	+ #{$calendarComponent} {
// 		@include overflowLines {
// 			@include selected;
// 		}
// 	}
// }

// @include firstDateInvisible {
// 	@include secondDateVisible {
// 		@include overflowLines($filter: '&:first-child') {
// 			@include selected;
// 		}
// 	}
// }

// @include firstDateInvisible {
// 	@include secondDateVisible($on: '+ #{$calendarComponent}') {
// 		@include overflowLines {
// 			@include selected;
// 		}

// 		+ #{$calendarComponent} {
// 			@include overflowLines($filter: '&:first-child') {
// 				@include selected;
// 			}
// 		}
// 	}
// }

// @include firstDateInvisible {
// 	@include secondDateInvisible($calendarComponent) {
// 		@include overflowLines {
// 			@include selected;
// 		}

// 		+ #{$calendarComponent} {
// 			@include overflowLines {
// 				@include selected;
// 			}
// 		}
// 	}
// }
// }
