@mixin daysOffHidden {
	.calendar-table-body-row-cell-action-stripes {
		--components-calendar-table-body-row-cell-action-stripesDisplay: none;
	}
}

@mixin daysOverflowingHidden {
	.calendar-table-body-row-cell {
		&.is-overflow {
			.calendar-table-body-row-cell-action {
				--components-calendar-table-body-row-cell-actionDisplay: none;
			}
		}
	}
}

@mixin third {
	--components-calendarBorderSpacing: 0 var(--pr-t-spacings-200);
}

@mixin week {
	--components-calendarWrapperWidth: 19.5rem;
	--components-calendar-table-body-row-cellSelectedBeforeBackgroundColor: var(--palettes-700, var(--palettes-product-700));
	--components-calendar-table-body-row-cellSelectedBeforeInset: 1px 0;
}
