@mixin wrapperVars {
	--components-calendarWrapperWidth: 17.25rem;
	--components-calendarWrapperBackground: transparent;
	--components-calendarWrapper-navigationBackground: var(--palettes-neutral-0);
}

@mixin vars {
	--components-calendar-table-body-row-cell-action-stripesColor: var(--palettes-neutral-200);
	--components-calendar-table-body-row-cell-actionHighlight: transparent;
	--components-calendar-table-body-row-cell-actionFontWeight: 400;
	--components-calendar-table-body-row-cell-actionColor: var(--palettes-neutral-700);
	--components-calendar-table-body-row-cell-actionOutlineWidth: 2px;
	--components-calendar-table-body-row-cell-actionOutlineOffset: -1px;
	--components-calendar-table-body-row-cellSelectedBeforeContent: none;
	--components-calendar-table-body-row-cellSelectedBeforeBorderRadius: 0;
	--components-calendar-table-body-row-cell-actionDisplay: block;
	--components-calendar-table-body-row-cell-action-stripesDisplay: block;
	--components-calendarBackground: var(--components-calendarWrapperBackground, var(--palettes-neutral-0));
	--components-calendarWidth: var(--components-calendarWrapperWidth, 17.25rem);
	--components-calendarBorderSpacing: 0;
}
