@use '@lucca-front/scss/src/commons/config';
@mixin component($suffix: '') {
	// no suffix here
	margin-block-start: 0;
	color: var(--palettes-neutral-900);
	text-rendering: geometricPrecision;
	text-wrap: pretty;

	// suffix here
	font-weight: var(--components-title-weight, 600) #{$suffix};
	font-size: var(--sizes-fontSize) #{$suffix};
	line-height: var(--sizes-lineHeight) #{$suffix};

	@if config.$deprecatedTitleSpacings {
		// no suffix here
		margin-block-end: var(--pr-t-spacings-headings);

		// suffix here
		padding-block-start: var(--sizes-verticalPadding) #{$suffix};
		padding-block-end: var(--sizes-verticalPadding) #{$suffix};
	} @else {
		// no suffix here
		margin-block-end: 0;

		// suffix here
		padding: 0 #{$suffix};
	}
}
