@mixin component($suffix: '') {
  // no suffix here
  margin-top: 0;
  color: var(--palettes-grey-800);
  margin-bottom: var(--spacings-small);

  // suffix here
  font-weight: 600 #{$suffix};
  font-size: var(--sizes-font-size) #{$suffix};
  line-height: var(--sizes-line-height) #{$suffix};
  padding-top: var(--sizes-vertical-padding) #{$suffix};
  padding-bottom: var(--sizes-vertical-padding) #{$suffix};
}
