@mixin XXXL {
	--components-title-font: 900 2.25rem/2.5rem var(--pr-t-font-family-brand);
	--sizes-verticalPadding: var(--sizes-XXXL-verticalPadding);
}

@mixin h1 {
	--components-title-font: var(--pr-t-font-heading-1);
	--sizes-verticalPadding: var(--sizes-XXL-verticalPadding); // Deprecated
}

@mixin h2 {
	--components-title-font: var(--pr-t-font-heading-2);
	--sizes-verticalPadding: var(--sizes-XL-verticalPadding); // Deprecated
}

@mixin h3 {
	--components-title-font: var(--pr-t-font-heading-3);
	--sizes-verticalPadding: var(--sizes-L-verticalPadding); // Deprecated
}

@mixin h4 {
	--components-title-font: var(--pr-t-font-heading-4);
	--sizes-verticalPadding: var(--sizes-M-verticalPadding); // Deprecated
}

/* Deprecated */
@mixin h5 {
	--components-title-font: 600 var(--pr-t-font-fontSize-175)/var(--pr-t-font-lineHeight-250) var(--pr-t-font-family);
	--sizes-verticalPadding: var(--sizes-S-verticalPadding);
}

@mixin h6 {
	--components-title-font: 600 var(--pr-t-font-fontSize-150)/var(--pr-t-font-lineHeight-200) var(--pr-t-font-family);
	--sizes-verticalPadding: var(--sizes-XS-verticalPadding);
}

@mixin elementAfterText {
	display: flex;
	flex-wrap: wrap;
	column-gap: var(--pr-t-spacings-100);
}
