@mixin optionPlaceholderStyle {
	.optionPlaceholder {
		display: block;
		padding: _component("options.item.padding-vertical", true) _component("options.item.padding-horizontal", true);
		padding: _component("options.item.padding-vertical") _component("options.item.padding-horizontal");
		font-style: italic;
		color: _color("text.light", "color", true);
		color: _color("text.light");
	}
}
