@use '@lucca-front/scss/src/commons/utils/namespace';

@mixin component($atRoot: namespace.$defaultAtRoot) {
	h1 {
		margin-block: var(--pr-t-spacings-300);
	}

	h2 {
		margin-block: var(--pr-t-spacings-300) var(--pr-t-spacings-150);
	}

	h3 {
		margin-block: var(--pr-t-spacings-300) var(--pr-t-spacings-150);
	}

	h4 {
		margin-block: var(--pr-t-spacings-150);
	}

	p {
		margin-block-end: var(--pr-t-spacings-150);
	}

	ul {
		margin-block-end: var(--pr-t-spacings-150);
	}

	li {
		margin-bottom: var(--pr-t-spacings-50);
	}

	@at-root ($atRoot) {
	}
}
