@use '@lucca-front/scss/src/commons/utils/a11y';

.skipLinks {
	position: fixed;
	list-style-type: none;
	justify-content: center;
	display: flex;
	margin: 0;
	padding: 0;
	z-index: 9010;
	inset: calc(var(--spacings-XS) + var(--spacings-XXS));
	bottom: auto;
}

.skipLinks-action {
	border: 0;
	margin: 0;
	font-weight: 600;
	border-radius: var(--commons-borderRadius-M);
	font-size: var(--sizes-XS-fontSize);
	line-height: var(--sizes-XS-lineHeight);
	padding: var(--spacings-XXS) var(--spacings-XS);
	transition: all var(--commons-animations-durations-fast);
	background-color: var(--palettes-grey-600);
	display: inline-block;
	position: relative;
	text-decoration: none;
	vertical-align: baseline;
	white-space: nowrap;
	color: var(--colors-white-color);
	cursor: pointer;

	&:focus-visible {
		outline-offset: 2px;
		outline: 2px solid var(--palettes-product-700);
	}

	&:not(:focus, :focus-visible) {
		@include a11y.mask;
	}
}

::ng-deep {
	.navSide,
	.main-content {
		scroll-margin-top: var(--commons-banner-height);
	}
}
