.css-vars {
	background-color: var(--palettes-neutral-25);
	color: var(--palettes-product-500);
	text-decoration-color: var(--palettes-lucca-0);
	-webkit-text-fill-color: var(--palettes-critical-0);
}

.mod-neutral,
.icon-color-product,
.icon-color-product,
.u-textProduct,
.pr-u-colorTextBrand {
	color: red;
}


