.css-vars {
	background-color: var(--palettes-grey-25);
	color: var(--palettes-primary-500);
	text-decoration-color: var(--palettes-lucca-text);
	-webkit-text-fill-color: var(--palettes-critical-text);
}


