@use '@lucca-front/scss/src/commons/utils/a11y';

@mixin component {
	border-radius: var(--commons-borderRadius-M);
	gap: var(--commons-divider-width);
	display: inline-flex;
	list-style-type: none;
	padding: 0;
	margin: 0;

	.button {
		border-radius: 0;
		display: block;
		margin: 0;
		position: relative;
		flex-grow: 1;
		white-space: normal;

		&:first-child {
			border-radius: var(--commons-borderRadius-M) 0 0 var(--commons-borderRadius-M);
		}

		&:last-child, &.mod-more {
			border-radius: 0 var(--commons-borderRadius-M) var(--commons-borderRadius-M) 0;
		}

		&:not(:first-child) {
			&.outlined {
				margin-left: -2px;
			}
		}

		&:not([disabled], .is-disabled) {
			&:hover,
			&:focus-visible {
				z-index: 1;
			}

			&:focus-visible {
				@include a11y.focusVisible;
			}
		}
	}

	.button-group-item {
		flex-grow: 1;

		.button:not(.mod-more) {
			width: 100%;
			border-radius: 0;
		}

		&:first-child {
			.button {
				border-radius: var(--commons-borderRadius-M) 0 0 var(--commons-borderRadius-M);
			}
		}

		&:last-child {
			.button {
				border-radius: 0 var(--commons-borderRadius-M) var(--commons-borderRadius-M) 0;
			}
		}
	}

	&:is(ul) {
		flex-wrap: wrap;

		.button.mod-more {
			height: 100%;
			min-height: 2.25rem;

			&.mod-S {
				min-height: 2rem;
			}

			&.mod-XS {
				min-height: 1.5rem;
			}

			&::before {
				content: none;
			}
		}
	}
}
