@mixin component {
	gap: var(--commons-divider-width);
	border-radius: var(--commons-borderRadius);
	display: inline-flex;
	list-style-type: none;
	overflow: hidden;
	padding: 0;
	margin: 0;

	&:not([disabled], .is-disabled) {
		&:focus-within {
			box-shadow: 0 0 0 4px var(--palettes-200, var(--palettes-primary-200));
		}
	}

	.button {
		border-radius: 0;
		display: block;
		margin: 0;
		padding-left: var(--spacings-S);
		padding-right: var(--spacings-S);
		position: relative;
		flex-grow: 1;
		white-space: normal;

		&:first-child {
			border-radius: var(--commons-border-radius) 0 0 var(--commons-border-radius);
		}

		&:last-child {
			border-radius: 0 var(--commons-border-radius) var(--commons-border-radius) 0;
		}

		&:not(:first-child) {
			&.outlined {
				margin-left: -2px;
			}
		}

		&:not([disabled], .is-disabled) {
			&:hover,
			&:focus {
				z-index: 1;
			}

			&:focus {
				background-color: var(--palettes-600, var(--palettes-primary-600));
				box-shadow: none;
			}
		}
	}

	.button-group-item {
		flex-grow: 1;

		.button {
			width: 100%;
			border-radius: 0;
		}
	}

	&:is(ul) {
		flex-wrap: wrap;

		.button.mod-more {
			height: 100%;
			min-height: 2.25rem;

			&.mod-S {
				min-height: 2rem;
			}

			&.mod-XS {
				min-height: 1.5rem;
			}

			&::before {
				content: none;
			}
		}
	}
}
