@use 'exports' as *;
@use '@lucca-front/scss/src/components/button/exports' as button;

.button-group {
	@layer components {
		@include vars;
		@include component;
	}

	@layer mods {
		// .mod-text deprecated
		&.mod-text,
		&.mod-ghost {
			@include ghost;
		}

		&:is(ul) {
			.button.mod-more {
				@include button.moreInsideUl;
			}
		}
	}
}
