@use '@lucca-front/scss/src/commons/utils/a11y';

@mixin ghost {
	.button {
		// .mod-text, .mod-link deprecated
		&:is(.mod-ghost, .mod-text, .mod-link) {
			box-shadow: none;

			&:hover {
				box-shadow: none;
			}

			&:focus-within {
				box-shadow: none;
			}
		}
	}
}
