@mixin outlined {
	background-color: var(--palettes-400, var(--palettes-grey-400));
	box-shadow: 0 0 0 1px var(--palettes-400, var(--palettes-grey-400));

	&:is([disabled], .is-disabled) {
		box-shadow: 0 0 0 1px var(--palettes-grey-200);
	}

	.button {
		&.mod-outline,
		&.mod-outlined {
			box-shadow: none;

			&:hover {
				box-shadow: none;
			}

			&:focus-within {
				box-shadow: none;
			}

			&:is([disabled], .is-disabled) {
				box-shadow: 0 0 0 1px var(--palettes-grey-200);
			}
		}
	}
}

@mixin text {
	.button {
		&.mod-text, &.mod-link {
			box-shadow: none;

			&:hover {
				box-shadow: none;
			}

			&:focus-within {
				box-shadow: none;
			}
		}
	}
}
