@use '@lucca-front/scss/src/commons/utils/a11y';

@mixin outlined {
	background-color: var(--palettes-400, var(--palettes-neutral-400));
	box-shadow: 0 0 0 1px var(--palettes-400, var(--palettes-neutral-400));

	&:is(.is-disabled, .disabled) {
		box-shadow: 0 0 0 1px var(--palettes-neutral-200);
	}

	.button {
		&:is(.mod-outline, .mod-outlined) {
			box-shadow: none;

			&:hover {
				box-shadow: none;
			}

			&:focus-within {
				box-shadow: none;
			}

			&:focus-visible {
				@include a11y.focusVisible($offset: 3px);
			}

			&:is([disabled], .is-disabled) {
				box-shadow: 0 0 0 1px var(--palettes-neutral-200);
			}
		}
	}
}

@mixin text {
	.button {
		&:is(.mod-text, .mod-link) {
			box-shadow: none;

			&:hover {
				box-shadow: none;
			}

			&:focus-within {
				box-shadow: none;
			}
		}
	}
}
