:root {
	--components-dropdown-min-width: 10rem;
	--components-dropdown-max-width: 30rem;
	--components-dropdown-max-height: 60vh;
}

.lu-dropdown-content {
	margin: calc(var(--spacings-XS) * -1);
	padding: 0;
	border-radius: var(--commons-borderRadius-M);
	max-width: 90vw;
	max-height: var(--components-dropdown-max-height);
	overflow-x: hidden;
	overflow-y: auto;
}

.lu-dropdown-options {
	list-style-type: none;
	padding: 0;
	margin: 0;
	min-width: var(--components-dropdown-min-width);
	max-width: var(--components-dropdown-max-width);
}

.lu-dropdown-options-item-action {
	align-items: center;
	background-color: transparent;
	border: 0;
	cursor: pointer;
	display: flex;
	gap: var(--spacings-XS);
	line-height: var(--sizes-M-lineHeight);
	padding: var(--spacings-XS) var(--spacings-S);
	text-align: left;
	transition: background-color var(--commons-animations-durations-standard);
	text-decoration: none;
	width: 100%;

	.lucca-icon {
		font-size: 1rem;
	}

	&,
	&:hover,
	&:focus {
		color: currentColor;
	}

	&:focus, // delete this line when sub-menus are implemented
	&:hover {
		background-color: var(--palettes-grey-50);
	}

	&.is-disabled {
		color: var(--palettes-grey-400);
		pointer-events: none;

		&:hover,
		&:focus {
			background-color: var(--colors-white-color);
		}
	}

	&.mod-delete {
		color: var(--palettes-error-800);

		&:focus,
		&:hover {
			background-color: var(--palettes-error-50);
		}
	}
}
