.lu-picker-panel {
	@extend %popover-panel;
}

.lu-picker-content {
	@extend %popover-content;

	max-height: 20rem;
	padding: var(--pr-t-spacings-50);
	overflow-y: auto;
	display: block;
	animation: scaleIn 150ms cubic-bezier(0.25, 0.8, 0.25, 1);
	margin-left: calc(var(--pr-t-spacings-50) * -1);
	margin-right: calc(var(--pr-t-spacings-50) * -1);

	&.is-loading {
		//height: 17.5rem;
	}
}

.lu-picker-content-option {
	display: flex;
	flex-direction: column;
	gap: var(--pr-t-spacings-50);
}

.lu-picker-content-option-emptyState {
	color: var(--palettes-neutral-600);
	padding-inline: var(--pr-t-spacings-100);
	text-align: center;
}

.lu-picker-content-option-group {
	margin-bottom: var(--spacings-XXS);
}

.lu-picker-content-option-group-title {
	font-size: var(--sizes-S-fontSize);
	line-height: var(--sizes-S-lineHeight);
	font-weight: 600;
	padding: var(--components-options-item-padding-vertical) var(--components-options-item-padding-horizontal);
	color: var(--palettes-neutral-600);
	position: sticky;
	top: 0;
	background-color: var(--pr-t-elevation-surface-raised);
	z-index: 1;
	display: flex;
	gap: var(--pr-t-spacings-100);
	justify-content: space-between;
	box-shadow: calc(var(--pr-t-spacings-50) * -0.5) calc(var(--pr-t-spacings-50) * -0.5) 0 2px var(--pr-t-elevation-surface-raised); // Mask background options scrolling behind
}

.lu-picker-content-add {
	position: sticky;
	bottom: 0;
	background: white;
	box-shadow: var(--pr-t-elevation-shadow-overflow);
	padding: var(--pr-t-spacings-100);
}

.lu-picker-content-loading {
	padding: var(--pr-t-spacings-50);
	display: flex;
	color: var(--palettes-neutral-600);
}

.lu-picker-loading {
	// deprecated
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.lu-picker-header {
	background-color: var(--pr-t-elevation-surface-raised);
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	display: block;
	z-index: 1;
	margin-bottom: var(--pr-t-spacings-50);
	box-shadow: 0 -4px 0 var(--pr-t-spacings-100) var(--pr-t-elevation-surface-raised); // Avoid showing options list while scrolling due to header sticky potisionning
}

.lu-picker-textfield {
	width: 100%;
	padding-bottom: var(--pr-t-spacings-100);

	.textfield-input {
		background-color: var(--colors-white-color);
		outline: none;
	}
}

.lu-picker-footer {
	background-color: var(--pr-t-elevation-surface-raised);
	position: sticky;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
	z-index: 1;
}

.lu-date-picker-panel {
	width: var(--components-calendar-width);

	.lu-picker-content {
		max-height: none;
	}
}

.lu-picker-content-group {
	display: flex;
	flex-direction: column;
	gap: var(--spacings-XXS);
}
