.lu-picker-panel {
	@extend %popover-panel;
}

.lu-picker-content {
	@extend %popover-content;

	max-height: 17.5rem;
	padding: var(--spacings-XS);
	overflow-y: auto;
	display: block;
	animation: scaleIn 150ms cubic-bezier(0.25, 0.8, 0.25, 1);

	&.is-loading {
		height: 17.5rem;
	}
}

.lu-picker-content-option {
	display: flex;
	flex-direction: column;
	gap: var(--spacings-XXS);
}

.lu-picker-loading {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.lu-picker-header {
	background-color: var(--colors-white-color);
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	display: block;
	z-index: 1;
	margin-bottom: var(--spacings-XXS);
	box-shadow: 0 -4px 0 var(--spacings-XS) var(--colors-white-color); // Avoid showing options list while scrolling due to header sticky potisionning
}

.lu-picker-textfield {
	width: 100%;
	padding-bottom: var(--spacings-XS);

	.textfield-input {
		background-color: var(--colors-white-color);
		outline: none;
	}
}

.lu-picker-footer {
	background-color: var(--colors-white-color);
	position: sticky;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
	z-index: 1;
}

.lu-date-picker-panel {
	width: calc(var(--components-calendar-width) + var(--spacings-XS) * 2);

	.lu-picker-content {
		max-height: none;
	}
}
