:root {
	--components-sidepanel-S: 40rem;
	--components-sidepanel-M: 55rem;
	--components-sidepanel-L: 70rem;
}

.lu-popup-panel {
	&.mod-sidepanel {
		position: fixed !important;
		top: 0;
		right: 0;
		bottom: 0;
		width: var(--components-sidepanel-S);
		max-width: 100%;
		max-height: 100vh;
		border-radius: 0;
		animation-name: sidepanel;
		transform-origin: center center;

		&.mod-M {
			width: var(--components-sidepanel-M);
		}

		&.mod-L {
			width: var(--components-sidepanel-L);
		}
	}
}

.lu-sidepanel-panel-inner,
.lu-sidepanel-container {
	display: flex;
	flex-flow: column;
	flex-grow: 1;
	height: 100%;
}

.lu-sidepanel-container {
	overflow: auto;
}

@keyframes sidepanel {
	0% {
		transform: translate(100%, 0);
	}

	100% {
		transform: translate(0, 0);
	}
}
