@use '@lucca-front/scss/src/components/numericBadge/exports' as numericBadge;

@mixin S {
	--components-viewTabs-padding: 0.375rem calc(var(--spacings-XS) + var(--spacings-XXS));
	--components-viewTabs-fontSize: var(--sizes-S-fontSize);
	--components-viewTabs-lineHeight: var(--sizes-S-lineHeight);
	--components-viewTabs-dividerInset: 0.375rem;

	.numericBadge {
		@include numericBadge.S;
	}
}

@mixin XS {
	--components-viewTabs-padding: var(--spacings-XXS) var(--spacings-XS);
	--components-viewTabs-borderRadius: var(--commons-borderRadius-M);
	--components-viewTabs-fontSize: var(--sizes-XS-fontSize);
	--components-viewTabs-lineHeight: var(--sizes-XS-lineHeight);
	--components-viewTabs-dividerInset: var(--spacings-XXS);

	.numericBadge {
		@include numericBadge.XS;
	}
}

@mixin vertical {
	--components-viewTabs-direction: column;
	--components-viewTabs-width: auto;
}
