@use '@lucca-front/scss/src/components/numericBadge/exports' as numericBadge;

@mixin S {
	--components-viewTabs-padding: var(--pr-t-spacings-75) var(--pr-t-spacings-150);
	--components-viewTabs-fontSize: var(--sizes-S-fontSize);
	--components-viewTabs-lineHeight: var(--sizes-S-lineHeight);
	--components-viewTabs-dividerInset: var(--pr-t-spacings-75);

	.numericBadge {
		@include numericBadge.S;
	}
}

@mixin vertical {
	--components-viewTabs-direction: column;
	--components-viewTabs-width: auto;
}
