@use '@lucca-front/scss/src/components/numericBadge/exports' as numericBadge;

@mixin tabSelected {
	--components-viewTabs-background: var(--palettes-primary-100);
	--components-viewTabs-shadow: var(--palettes-primary-500);
	--components-viewTabs-color: var(--palettes-primary-800);
	--components-viewTabs-cursor: default;

	.numericBadge {
		@include numericBadge.primary;
	}
}

@mixin panelInactive {
	--components-viewTabs-display: none;
}
