@mixin vars {
	--components-viewTabs-borderRadius: var(--commons-borderRadius-L);
	--components-viewTabs-padding: var(--spacings-XS) calc(var(--spacings-XS) + var(--spacings-XXS));
	--components-viewTabs-fontSize: var(--sizes-M-fontSize);
	--components-viewTabs-lineHeight: var(--sizes-M-lineHeight);
	--components-viewTabs-background: transparent;
	--components-viewTabs-shadow: transparent;
	--components-viewTabs-color: var(--palettes-grey-700);
	--components-viewTabs-cursor: pointer;
	--components-viewTabs-dividerInset: var(--spacings-XS);
	--components-viewTabs-direction: row;
	--components-viewTabs-width: fit-content;
}
