@mixin vars {
	--components-viewTabs-borderRadius: var(--commons-borderRadius-L);
	--components-viewTabs-padding: var(--pr-t-spacings-100) var(--pr-t-spacings-200);
	--components-viewTabs-fontSize: var(--sizes-M-fontSize);
	--components-viewTabs-lineHeight: var(--sizes-M-lineHeight);
	--components-viewTabs-background: transparent;
	--components-viewTabs-shadow: transparent;
	--components-viewTabs-color: var(--palettes-neutral-700);
	--components-viewTabs-cursor: pointer;
	--components-viewTabs-dividerInset: var(--pr-t-spacings-100);
	--components-viewTabs-direction: row;
	--components-viewTabs-width: fit-content;
}
