@use '@lucca-front/scss/src/components/button/exports' as button;
@use '@lucca-front/scss/src/components/footer/exports' as footer;
@use '@lucca-front/scss/src/commons/utils/keyframe';
@use '@lucca-front/scss/src/commons/utils/namespace';
@use '@lucca-front/scss/src/commons/utils/a11y';

@mixin component($atRoot: namespace.$defaultAtRoot) {
	animation-name: var(--components-dialog-animationOpening);
	animation-duration: var(--commons-animations-durations-standard);
	inset: var(--components-dialog-inset);
	inline-size: var(--components-dialog-width);
	block-size: var(--components-dialog-height);
	background-color: var(--palettes-neutral-0);
	border-radius: var(--components-dialog-borderRadius);
	box-shadow: var(--pr-t-elevation-shadow-overlay);
	margin: auto;
	flex-direction: column;
	display: flex !important;
	position: fixed !important;
	max-inline-size: var(--components-dialog-maxWidth) !important;
	max-block-size: var(--components-dialog-maxHeight) !important;
	overflow: hidden;

	@supports not (height: 1dvh) {
		--components-dialog-maxHeight: var(--components-dialog-maxHeightFallback);
	}

	@include keyframe.scaleIn;

	@at-root ($atRoot) {
		.dialog-inside {
			&:has(.dialog-inside-formOptional, .dialog-formOptional, .dialog-form) {
				display: contents;

				.dialog-inside-formOptional,
				.dialog-formOptional,
				.dialog-form {
					display: grid;
					grid-template-areas:
						'header  '
						'overflow'
						'footer  ';
					grid-template-rows: auto 1fr auto;
					flex-grow: 1;
					min-block-size: 0;

					&:has(.dialog-inside-content:focus-visible) {
						&::after {
							@include a11y.focusVisible($offset: -4px);

							content: '';
							grid-area: overflow;
						}
					}
				}
			}

			&:not(:has(.dialog-inside-formOptional, .dialog-formOptional, .dialog-form)) {
				display: grid;
				grid-template-areas:
					'header  '
					'overflow'
					'footer  ';
				grid-template-rows: auto 1fr auto;
				flex-grow: 1;
				min-block-size: 0;

				&:has(.dialog-inside-content:focus-visible) {
					&::after {
						@include a11y.focusVisible($offset: -4px);

						content: '';
						grid-area: overflow;
					}
				}
			}
		}

		.dialog-inside-header-actionOptional {
			margin-right: calc(var(--pr-t-spacings-100) * -1);

			&:empty {
				display: none;
			}
		}

		.dialog-inside-footer {
			grid-area: footer;

			&.footer {
				background-color: transparent;
				position: relative;
				overflow: hidden;
			}
		}

		.dialog-inside-header {
			display: grid;
			padding-block: var(--pr-t-spacings-200);
			padding-inline: var(--pr-t-spacings-300);
			grid-template-areas: var(--components-dialog-insideHeaderAreas);
			grid-template-columns: var(--components-dialog-insideHeaderColumns);
			box-shadow: 0 1px 0 0 var(--palettes-neutral-100);
			gap: var(--pr-t-spacings-200);
			position: relative;
			z-index: 1;
			grid-area: header;
		}

		.dialog-inside-content {
			background-color: var(--components-dialog-insideContent-background);
			padding-block: var(--pr-t-spacings-200);
			padding-inline: var(--pr-t-spacings-300);
			grid-area: overflow;
			overflow: auto;
			outline: none;
		}

		.dialog-inside-header-container {
			grid-area: container;
		}

		.dialog-inside-header-container-title {
			font: var(--pr-t-font-heading-2);
			padding: var(--components-dialog-insideHeaderTitlePadding);
			text-align: var(--components-dialog-insideHeaderTitleAlign);
			margin: 0;
			overflow-wrap: anywhere;
		}

		.dialog_backdrop {
			background-color: var(--palettes-neutral-900);
			position: fixed;
			opacity: 0.4 !important; // weird bug with Chrome and its inspector open
			inset: 0;
		}
	}
}
