@use '@lucca-front/scss/src/components/title/exports' as title;
@use '@lucca-front/scss/src/components/button/exports' as button;
@use '@lucca-front/scss/src/components/footer/exports' as footer;
@use '@lucca-front/scss/src/commons/utils/keyframe';

@mixin component($atRoot: 'without: rule') {
	@include keyframe.scaleIn;

	@supports not (height: 1dvh) {
		--components-dialog-maxHeight: var(--components-dialog-maxHeightFallback);
	}

	animation-name: var(--components-dialog-animationOpening);
	animation-duration: var(--commons-animations-durations-standard);
	inset: var(--components-dialog-inset);
	width: var(--components-dialog-width);
	height: var(--components-dialog-height);
	max-width: var(--components-dialog-maxWidth);
	max-height: var(--components-dialog-maxHeight);
	background-color: var(--colors-white-color);
	border-radius: var(--components-dialog-borderRadius);
	box-shadow: var(--pr-t-elevation-shadow-overlay);
	position: fixed !important;
	margin: auto;
	overflow: auto;
	display: flex;
	flex-direction: column;

	.dialog-inside-header-button {
		@include button.text;
		@include button.S;
		@include button.onlyIconS;

		align-self: start;
		justify-self: end;
		grid-area: close;
		display: var(--components-dialog-insideHeaderButtonDisplay);
	}

	.dialog-inside-footer {
		@include footer.sticky;
	}

	@at-root ($atRoot) {
		// .dialog-form is deprecated
		.dialog-formOptionnal,
		.dialog-form,
		.dialog-inside {
			display: flex;
			flex-direction: column;
			flex-grow: 1;
		}

		.dialog-inside-header {
			padding: var(--pr-t-spacings-200) var(--pr-t-spacings-300);
			background-color: var(--colors-white-color);
			grid-template-areas: var(--components-dialog-insideHeaderAreas);
			grid-template-columns: var(--components-dialog-insideHeaderColumns);
			box-shadow: 0 1px 0 0 var(--palettes-neutral-100);
			gap: var(--pr-t-spacings-200);
			position: sticky;
			z-index: 1;
			display: grid;
			top: 0;
		}

		.dialog-inside-content {
			padding: var(--pr-t-spacings-200) var(--pr-t-spacings-300);
			flex-grow: 1;
			position: relative;
			z-index: 0;
		}

		.dialog-inside-header-container {
			grid-area: container;
		}

		.dialog-inside-header-container-title {
			@include title.h2;

			padding: var(--components-dialog-insideHeaderTitlePadding);
			text-align: var(--components-dialog-insideHeaderTitleAlign);
			margin: 0;
			overflow-wrap: break-word;
		}

		.dialog_backdrop {
			background-color: var(--palettes-neutral-900);
			position: fixed;
			opacity: 0.4;
			inset: 0;
		}
	}
}
