@use 'exports' as *;
@use '@lucca-front/scss/src/commons/utils/media';
@use '@lucca-front/scss/src/components/button/exports' as button;

.dialog {
	@include vars;
	@include component;

	&.mod-XS {
		@include XS;
	}

	&.mod-S {
		@include S;
	}

	&.mod-fitContent {
		@include fitContent;
	}

	&.mod-maxContent {
		@include maxContent;
	}

	&.mod-L {
		@include L;
	}

	&.mod-XL {
		@include XL;
	}

	&:where(.mod-drawer) {
		@include drawer;

		&:where(.mod-fromBottom) {
			@include fromBottom;
		}
	}

	&.mod-fullScreen {
		@include fullScreen;
	}
}

@mixin responsive(
	$breakpoint: 'XXS',
	$breakpoint2: null,
	$inverted: true,
	$at: 'media',
	$containerName: '',
	$responsive: null,
	$size: 'width',
	$selector: '.dialog'
) {
	#{if($responsive, $selector + '.responsive-' + $responsive, $selector)} {
		@include media.query(
			$breakpoint: $breakpoint,
			$breakpoint2: $breakpoint2,
			$inverted: $inverted,
			$at: $at,
			$containerName: $containerName,
			$size: $size
		) {
			&:where(.mod-drawer) {
				@include fromBottom;
			}
		}
	}
}

$responsive: true !default;

@if $responsive {
	@include responsive;
}
