@use '@lucca-front/scss/src/components/button/exports' as button;
@use '@lucca-front/scss/src/commons/utils/a11y';
@use '@lucca-front/scss/src/components/title/exports' as title;
@use '@lucca-front/scss/src/commons/utils/keyframe';

@mixin XS {
	--components-dialog-size: 25rem;
}

@mixin S {
	--components-dialog-size: 30rem;
}

@mixin fitContent {
	--components-dialog-size: fit-content;
}

@mixin L {
	--components-dialog-size: 50rem;
}

@mixin XL {
	--components-dialog-size: 60rem;
}

@mixin XXL {
	--components-dialog-size: 100rem;
}

@mixin drawer {
	--components-dialog-animationOpening: slideFromRight;
	--components-dialog-maxHeight: none;
	--components-dialog-maxHeightFallback: var(--components-dialog-maxHeight);
	--components-dialog-height: calc(100% - var(--pr-t-spacings-100) * 2);
	--components-dialog-maxWidth: calc(100vw - var(--pr-t-spacings-200));
	--components-dialog-borderRadius: var(--pr-t-border-radius-structure);
	--components-dialog-inset: var(--pr-t-spacings-100) var(--pr-t-spacings-100) var(--pr-t-spacings-100) auto;
	--components-dialog-translateX: var(--components-dialog-translate);
	--components-dialog-translateY: 0;
	--components-dialog-translate-spacing: calc(var(--pr-t-spacings-500) * 2);

	@include keyframe.slideFromRight;
}

@mixin fromBottom {
	--components-dialog-animationOpening: slideFromBottom;
	--components-dialog-maxHeight: calc(100dvh - var(--pr-t-spacings-200));
	--components-dialog-maxHeightFallback: calc(100vh - var(--pr-t-spacings-200));
	--components-dialog-maxWidth: none;
	--components-dialog-inset: auto var(--pr-t-spacings-100) var(--pr-t-spacings-100) var(--pr-t-spacings-100);
	--components-dialog-borderRadius: var(--pr-t-border-radius-structure);
	--components-dialog-width: calc(100% - var(--pr-t-spacings-100) * 2);
	--components-dialog-height: fit-content;
	--components-dialog-translateX: 0;
	--components-dialog-translateY: var(--components-dialog-translate);
	--components-dialog-translate-spacing: var(--pr-t-spacings-500);

	@include keyframe.slideFromBottom;
}

@mixin maxContent {
	--components-dialog-size: 100%;
	--components-dialog-height: calc(100% - var(--pr-t-spacings-100) * 2);
}

@mixin fullScreen {
	--components-dialog-height: 100%;
	--components-dialog-width: 100%;
	--components-dialog-maxWidth: none;
	--components-dialog-maxHeight: none;
	--components-dialog-maxHeightFallback: var(--components-dialog-maxHeight);
	--components-dialog-borderRadius: 0;
	--components-dialog-inset: 0;
}

@mixin neutralBackground {
	--components-dialog-insideContent-background: var(--pr-t-elevation-surface-default);
}

@mixin withCloseButton {
	.dialog-inside-header-button.button {
		@include button.ghost;
		@include button.S;
		@include button.onlyIconS;

		align-self: start;
		justify-self: end;
		grid-area: close;
		display: var(--components-dialog-insideHeaderButtonDisplay);
	}
}

