@mixin vars {
	--components-dialog-size: 40rem;
	--components-dialog-width: var(--components-dialog-size);
	--components-dialog-height: fit-content;
	--components-dialog-maxWidth: calc(100vw - (var(--pr-t-spacings-200) * 2));
	--components-dialog-maxHeight: calc(100dvh - (var(--pr-t-spacings-200) * 2));
	--components-dialog-maxHeightFallback: calc(100vh - (var(--pr-t-spacings-200) * 2));
	--components-dialog-borderRadius: var(--pr-t-border-radius-structure);
	--components-dialog-inset: 0;
	--components-dialog-animationOpening: scaleIn;
	--components-dialog-insideHeaderAreas: 'container close';
	--components-dialog-insideHeaderTitleAlign: left;
	--components-dialog-insideHeaderTitlePadding: calc(var(--pr-t-spacings-50) / 2) 0;
	--components-dialog-insideHeaderButtonDisplay: flex;
	--components-dialog-insideHeaderLinkDisplay: none;
	--components-dialog-insideHeaderColumns: 1fr auto;
	--components-dialog-insideContent-background: transparent;
	--components-dialog-level: 0;
	--components-dialog-translate-spacing: var(--pr-t-spacings-500);
	--components-dialog-translate: calc(var(--components-dialog-translate-spacing) * var(--components-dialog-level) * -1);
	--components-dialog-translateX: 0;
	--components-dialog-translateY: var(--components-dialog-translate);
	--components-dialog-scale: calc(1 - (var(--components-dialog-level) * 0.05));
}
