.lu-popup-panel {
	@include elevate(3);
	position: relative;
	background-color: _component("popup.panel.background-color");
	border-radius: _theme("commons.border.radius");
	width: _component("popup.sizes.medium");
	max-width: 95%;
	max-height: 90vh;
	overflow: auto;
	animation: popupAnimation _theme("commons.animations.durations.fast") cubic-bezier(0.25, 0.8, 0.25, 1);

	@each $panel-size, $size-obj in _getMap("components.popup.sizes") {
		&.mod-#{$panel-size}, &.size-#{$panel-size} {
			width: _component("popup.sizes."+$panel-size);
		}
	}
}

.lu-modal-panel-inner {
	display: flex;
	flex-flow: column;
	max-height: 90vh;
}

.lu-modal-header {
	padding: _component("popup.padding.vertical") 4rem _component("popup.padding.vertical") _component("popup.padding.horizontal");
	position: relative;
}

.lu-modal-header-title {
	margin: 0;
}

.lu-modal-header-close {
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	padding: .5rem;
	height: 3rem;
	width: 3rem;
	position: absolute;
	right: .6rem;
	top: .6rem;
	border-radius: 50%;
	transition: background _theme("commons.animations.durations.fast") ease;

	.lucca-icon {
		font-size: 1.5rem;
		color: _color("text.default");
	}

	&:hover {
		background-color: _component("button.default-palette.lighter");
	}
}

.lu-modal-content {
	padding: 0 _component("popup.padding.horizontal");
	overflow: auto;
	height: auto;

	// Trick to force Firefox to have a bottom padding
	&:after {
		content: '';
		display: block;
		padding-bottom: _component("popup.padding.vertical");
	}

	&.mod-noPadding {
		padding: 0;

		&:after {
			padding-bottom: 0;
		}
	}
}

.lu-modal-footer {
	border-top: 1px solid _theme("commons.divider.color");
	padding: _theme("spacings.smaller") _theme("spacings.small") _theme("spacings.smaller") _component("popup.padding.horizontal");
	display: flex;
	margin-top: auto;
	align-items: center;
	justify-content: flex-end;
}


@keyframes popupAnimation {
	from {
		transform: scale(.7);
	}

	to {
		transform: none;
	}
}

@keyframes fadeInBackdrop {
	from {
		opacity: 0;
	}
}

@include media_smaller_than("xxs") {
	.lu-popup-panel {
		border-radius: 0;
		max-width: none;
		max-height: 100vh;
		width: 100%;
		width: stretch;
		height: 100vh;
		height: stretch;
	}

	.lu-modal-panel-inner {
		max-height: 100vh;
		max-height: stretch;
		height: 100vh;
		height: stretch;
	}
}

.lu-popup-panel {
	&.mod-commInApp {
		width: 30rem;

		.lu-modal-content {
			text-align: center;

			&::after {
				content: none;
			}
		}
		.lu-modal-content-title {
			color: _color("grey", 800);
			font-size: _theme('sizes.bigger.font-size');
			margin-top: 2.5rem;
		}
		.button {
			margin-bottom: 2.5rem;
		}
		.modal-visual {
			margin: 4.5rem -2rem 0 -2rem;
		}

		.modal-visual-illustration {
			vertical-align: bottom;
		}

		.lu-modal-footer {
			display: none;
		}
	}
}