.lu-popup-panel {
	&.mod-sidepanel {
		position: fixed !important;
		width: _component("sidepanel.sizes.small");
		max-width: 100%;
		max-height: 100vh;
		border-radius: 0;
		animation-name: sidepanelAnimation;
		

		&.position-center, // a center sidepanel makes no sense, treat it like a right sidepanel
		&.position-right {
			top: 0;
			right: 0;
			bottom: 0;
			height: 100%;
			transform-origin: center center;
		}
		&.position-left {
			top: 0;
			left: 0;
			bottom: 0;
			height: 100%;
			transform-origin: center center;
		}
		&.position-top {
			top: 0;
			right: 0;
			width: 100%;
			left: 0;
			transform-origin: center center;
		}
		&.position-bottom {
			right: 0;
			left: 0;
			bottom: 0;
			width: 100%;
			transform-origin: center center;
		}

		@each $panel-size, $size-obj in _getMap("components.sidepanel.sizes") {
			&.mod-#{$panel-size}, &.size-#{$panel-size} {
				width: _component("sidepanel.sizes."+$panel-size);
			}
		}
	}
}

.lu-sidepanel-panel-inner {
	display: flex;
	overflow: auto;
	height: 100%;
	flex-flow: column;
}

@keyframes sidepanelAnimation {
	from {
		transform: translate(_theme("commons.animations.translate"), 0);
	}

	to {
		transform: translate(0, 0);
	}
}
