@use '@lucca-front/scss/src/components/title/exports' as title;

@mixin component {
	background-color: var(--components-errorPage-background);
	block-size: 100vh;
	inline-size: 100vw;
	line-height: 1.2;
	overflow: hidden;

	.errorPage-section {
		block-size: 100%;
		max-inline-size: 1200px;
		padding-block: 0;
		padding-inline: var(--pr-t-spacings-400);
		inline-size: 100vw;
		margin-block: 0;
		margin-inline: auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.errorPage-section-info {
		margin-block-start: 10vh;
		max-inline-size: 90vw;
		inline-size: 450px;
		padding-inline-end: var(--pr-t-spacings-400);
	}

	.errorPage-section-info-title {
		@include title.component;
		@include title.XXXL;
		margin-block-end: var(--pr-t-spacings-50);
	}

	.errorPage-section-info-text {
		font-size: var(--sizes-L-fontSize);
		line-height: var(--sizes-L-lineHeight);
		margin-block-end: var(--pr-t-spacings-150);
	}

	.errorPage-section-image {
		margin-block-start: 10vh;
		inline-size: 50%;
		max-inline-size: 580px;
		min-inline-size: 350px;
	}
}

@mixin compact {
	overflow-y: auto;

	.errorPage-section {
		flex-direction: column;
		justify-content: center;
	}

	.errorPage-section-info {
		margin-block: var(--pr-t-spacings-400);
		order: 1;
		padding: 0;
	}
	.errorPage-section-image {
		margin-block-start: var(--pr-t-spacings-400);
		order: 0;
	}
}
