@use '@lucca-front/scss/src/components/title/exports' as title;

@mixin component($atRoot: 'without: rule') {
	background-color: var(--components-errorPage-background);
	height: 100vh;
	width: 100vw;
	line-height: 1.2;
	overflow: hidden;

	@at-root ($atRoot) {
		.errorPage-section {
			height: 100%;
			max-width: 1200px;
			padding: 0 var(--pr-t-spacings-400);
			width: 100vw;
			margin: 0 auto;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		.errorPage-section-info {
			margin-top: 10vh;
			max-width: 90vw;
			width: 450px;
			padding-right: var(--pr-t-spacings-400);
		}

		.errorPage-section-info-title {
			@include title.component;
			@include title.XXXL;
		}

		.errorPage-section-info-text {
			font-size: var(--sizes-L-fontSize);
			line-height: var(--sizes-L-lineHeight);
		}

		.errorPage-section-image {
			margin-top: 10vh;
			width: 50%;
			max-width: 580px;
			min-width: 350px;
		}
	}
}
