<nav class="menu {{mod}} {{palette}}">
	<div class="container u-paddingTopReset u-paddingBottomReset" *ngIf="withContainer; else menuList">
		<ng-container [ngTemplateOutlet]="menuList"></ng-container>
	</div>
	<ng-template #menuList>
		<ul class="menu-list">
			<li class="menu-list-item" *ngFor="let link of links">
				<a
					class="menu-list-item-action"
					href="#"
					[attr.aria-current]="link.isActive ? 'page' : null"
					(click)="toggle(link)"
				>
					{{ link.label }}
					<span class="menu-list-item-action-placeholder" aria-hidden="true" [attr.data-content-after]="link.label"></span>
				</a>
			</li>
		</ul>
	</ng-template>
</nav>