@use '@lucca-front/icons/src/commons/utils/icon';

@mixin component($atRoot: 'without: rule') {
	display: block;

	@at-root ($atRoot) {
		.collapse-title {
			margin-bottom: var(--spacings-XXS);
			display: inline-flex;
			overflow: hidden;
			cursor: pointer;

			&::-webkit-details-marker {
				display: none;
			}

			&:focus-within,
			&:hover {
				color: var(--palettes-grey-900);
			}

			&::before {
				@include icon.generate('arrow_chevron_right');

				font-size: var(--sizes-XS-fontSize);
				margin-right: var(--spacings-XXS);
				transition-duration: var(--commons-animations-durations-fast);
				transition-property: transform;
				vertical-align: middle;
			}
		}
	}
}
