@use '@lucca-front/scss/src/commons/core' as core;
@use '@lucca-front/icons/src/commons/utils/icon';

@mixin component {
	display: block;

	@at-root {
		@include core.scoped {
			.collapse-title {
				margin-bottom: var(--spacings-smallest);
				display: inline-flex;
				overflow: hidden;
				cursor: pointer;

				&::-webkit-details-marker {
					display: none;
				}

				&:focus-within,
				&:hover {
					color: var(--palettes-grey-900);
				}

				&::before {
					@include icon.generate('chevron_east');

					font-size: var(--sizes-smaller-font-size);
					margin-right: var(--spacings-smallest);
					transition-duration: var(--commons-animations-durations-fast);
					transition-property: transform;
					vertical-align: middle;
				}
			}
		}
	}
}
