.textField {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.editor-toolbar {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	background-color: var(--palettes-grey-25);
}

.editor-content {
	overflow: auto;
}

.editorTheme__textBold {
	font-weight: bold;
}
.editorTheme__textItalic {
	font-style: italic;
}
.editorTheme__textStrikethrough {
	text-decoration: line-through;
}
.editorTheme__textUnderline {
	text-decoration: underline;
}

.richtext-input-placeholder {
	font-size: 15px;
	color: #999;
	overflow: hidden;
	position: absolute;
	text-overflow: ellipsis;
	top: 0;
	left: 0;
	user-select: none;
	white-space: nowrap;
	display: inline-block;
	pointer-events: none;
	padding: var(--pr-t-spacings-100);
}
