
@use '@lucca-front/scss/src/commons/utils/namespace';
@use '@lucca-front/scss/src/commons/utils/a11y';

@mixin component($atRoot: namespace.$defaultAtRoot) {
	block-size: 100dvh;
	overflow: auto;
	display: grid;
	grid-template: var(--components-pageLayout-gridTemplate);

	@at-root ($atRoot) {
		.pageLayout-banner,
		.pageLayout-navSide {
			&:empty {
				display: none;
			}
		}

		.pageLayout-banner {
			grid-area: banner;
		}

		.pageLayout-navSide {
			grid-area: navSide;
			overflow: auto;
		}

		.pageLayout-main {
			grid-area: main;
			overflow: auto;
		}
	}
}
