@use '@lucca-front/scss/src/components/numericBadge/exports' as numericBadge;

@mixin S {
	--components-segmentedControl-padding: var(--pr-t-spacings-75) var(--pr-t-spacings-150);
	--components-segmentedControl-fontSize: var(--pr-t-font-body-S-fontSize);
	--components-segmentedControl-lineHeight: var(--pr-t-font-body-S-lineHeight);
	--components-segmentedControl-dividerInset: var(--pr-t-spacings-75);

	.numericBadge {
		@include numericBadge.S;
	}
}

@mixin vertical {
	--components-segmentedControl-direction: column;
	--components-segmentedControl-width: auto;
}
