@mixin optionSelectorStyle {
	@layer components {
		.selectAll-button {
			color: var(--palettes-neutral-600);
			font-size: var(--pr-t-font-body-S-fontSize);
			outline: none;

			&:hover {
				color: var(--palettes-neutral-800);
			}
		}
	}
}
