@mixin optionSearcherStyle {
	.textfield.mod-search {
		width: 100%;
	}

	.textfield-input {
		outline: none;
	}

	.checkbox.mod-formerEmployee {
		padding: var(--spacings-XXS) var(--components-options-item-padding-horizontal);
		border-bottom: var(--commons-divider-width) solid var(--commons-divider-color);
		background-color: var(--palettes-grey-50);
		font-style: italic;
	}
}
