@use '@lucca-front/icons/src/commons/utils/icon';
@use '@lucca-front/scss/src/commons/utils/a11y';

:root {
	--components-options-item-padding-vertical: var(--spacings-XS);
	--components-options-item-padding-horizontal: var(--spacings-XS);
	--components-options-item-multiple-padding: 2.25rem;
	--components-options-item-icon-color: var(--palettes-grey-800);

	--components-options-checkbox-left: 0.5rem;
	--components-options-checkbox-size: 1.25rem;
	--components-options-checkbox-color: var(--palettes-primary-700);
	--components-options-checkbox-border-radius: 6px;
	--components-options-checkbox-border-color: var(--palettes-grey-700);
	--components-options-establishment-multiple-padding: 2rem;
}

@mixin optionItemStyle {
	:host {
		display: block;
	}

	.optionItem {
		position: relative;
	}

	.optionItem-value {
		border-radius: var(--commons-borderRadius-M);
		display: block;
		padding: var(--components-options-item-padding-vertical) var(--components-options-item-padding-horizontal);
		transition: background-color 50ms;
		cursor: pointer;

		&.is-selected {
			background-color: var(--palettes-primary-50);

			&:hover {
				background-color: var(--palettes-primary-100);
			}

			&:active {
				background-color: var(--palettes-primary-200);
			}

			&.is-highlighted {
				background-color: var(--palettes-primary-100);

				&:hover {
					background-color: var(--palettes-primary-200);
				}
			}
		}

		&:hover {
			background-color: var(--palettes-grey-50);
		}

		&.is-highlighted,
		&.is-focus {
			background-color: var(--palettes-grey-50);

			&:hover {
				background-color: var(--palettes-grey-50);
			}

			&:active {
				background-color: var(--palettes-grey-100);
			}
		}

		&:active {
			background-color: var(--palettes-grey-100);
		}
	}

	:host-context(.lu-select-value) {
		.optionItem-value {
			padding: 0;
			overflow: hidden;
			text-overflow: ellipsis;

			&:hover,
			&.is-focus,
			&.is-highlighted {
				background-color: inherit;
			}
		}
	}

	:host-context(.mod-multiple) {
		.optionItem-value {
			position: relative;
			padding-left: var(--components-options-item-multiple-padding);

			&::after,
			&::before {
				display: block;
				position: absolute;
				left: var(--components-options-checkbox-left);
				top: 50%;
				transform: translateY(-50%);
			}

			&::before {
				content: '';
				border-radius: var(--components-options-checkbox-border-radius);
				box-shadow: inset 0 0 0 2px var(--components-options-checkbox-border-color);
				display: block;
				height: var(--components-options-checkbox-size);
				transition-property: background-color, box-shadow;
				transition-duration: var(--commons-animations-durations-fast);
				width: var(--components-options-checkbox-size);
			}

			&::after {
				@include icon.generate('sign_confirm');

				color: transparent;
				font-size: var(--sizes-S-lineHeight);
				line-height: var(--components-options-checkbox-size);
				position: absolute;
				text-align: center;
				transform: translateY(-50%) scale(0);
				transition: all 100ms;
				width: var(--components-options-checkbox-size);
			}

			&.is-selected {
				&::before {
					background-color: var(--components-options-checkbox-color);
					box-shadow: inset 0 0 0 2px var(--components-options-checkbox-color);
				}

				&::after {
					color: var(--colors-white-color);
					transform: translateY(-50%) scale(1);
				}
			}

			&.is-disabled {
				--components-options-checkbox-border-color: var(--palettes-grey-500);
			}

			&:not(.is-disabled):hover {
				&::before {
					box-shadow: inset 0 0 0 2px var(--components-options-checkbox-color);
				}
			}
		}

		&.establishmentOption {
			.optionItem-value {
				position: relative;
				padding-left: calc(var(--components-options-checkbox-size) + var(--spacings-XS) * 2);
			}

			.optionItem-value {
				&::before,
				&::after {
					left: var(--spacings-XS);
				}
			}
		}
	}
}
