@mixin optionSearcherStyle {
	@layer components {
		.textfield.mod-search {
			inline-size: 100%;
		}

		.textfield-input {
			outline: none;
		}

		.checkbox.mod-formerEmployee {
			padding-block: var(--pr-t-spacings-50);
			padding-inline: var(--components-options-item-padding-horizontal);
			border-block-end: var(--commons-divider-width) solid var(--commons-divider-color);
			background-color: var(--palettes-neutral-50);
			font-style: italic;
		}
	}
}
