@mixin nested($level: 1) {
	--components-optionWrapper-level: #{$level};
	--components-optionWrapper-childrenPaddingInlineStart: calc(var(--pr-t-spacings-300) * var(--components-optionWrapper-level));
}

@mixin nestedWrapper {
	--components-optionWrapper-padding: 0;
}

@mixin multiple {
	--components-optionWrapper-childrenBefore-content: none;
	--components-optionWrapper-childrenCheckboxField-display: grid;
}

@mixin group {
	.option {
		--components-option-scrollMarginBlock: calc(var(--pr-t-spacings-50) + var(--pr-t-spacings-400));
	}

	> .option-content {
		--components-option-content-fontWeight: var(--pr-t-font-fontWeight-semibold);
		--components-option-content-font: var(--pr-t-font-body-S);
		--components-option-content-position: sticky;
		--components-option-content-marginBlockStart: var(--pr-t-spacings-50);
		--components-option-content-checkboxField-display: none;
		--components-option-content-flexWrap: wrap;
		--components-option-content-justifyContent: space-between;
		--components-option-content-insetBlockStart: var(--pr-t-spacings-100);
		--components-option-content-boxShadow:
			calc(var(--pr-t-spacings-100) * -1) 0 0 0 var(--pr-t-elevation-surface-raised),
			calc(var(--pr-t-spacings-100) * +1) 0 0 0 var(--pr-t-elevation-surface-raised),
			calc(var(--pr-t-spacings-100) * -1) calc(var(--pr-t-spacings-100) * -1) 0 0 var(--pr-t-elevation-surface-raised),
			calc(var(--pr-t-spacings-100) * +1) calc(var(--pr-t-spacings-100) * -1) 0 0 var(--pr-t-elevation-surface-raised);
	}

	.optionWrapper {
		--components-optionWrapper-childrenPaddingInlineStart: var(--pr-t-spacings-100);
	}
}

@mixin add {
	--components-option-content-color: var(--palettes-product-700);
	--components-option-position: sticky;

	.option-content {
		--components-option-content-fontWeight: var(--pr-t-font-fontWeight-semibold);
		box-shadow:
			calc(var(--pr-t-spacings-100) * -1) var(--pr-t-spacings-100) 0 0 var(--pr-t-elevation-surface-raised),
			calc(var(--pr-t-spacings-100) * +1) var(--pr-t-spacings-100) 0 0 var(--pr-t-elevation-surface-raised),
			calc(var(--pr-t-spacings-100) * -1) 0 0 0 var(--pr-t-elevation-surface-raised),
			calc(var(--pr-t-spacings-100) * +1) 0 0 0 var(--pr-t-elevation-surface-raised);
	}
}

@mixin select {
	> .option-content {
		--components-option-content-opacity: 0;
		--components-option-content-position: static;
		--components-option-content-font: var(--pr-t-font-body-S);
		--components-option-content-padding: 0;
		--components-option-content-color: var(--palettes-product-700);
		--components-option-content-backgroundColor: transparent;
		--components-option-content-checkboxField-display: none;
	}
}
