@mixin nested {
	--components-optionWrapper-marginInlineStart: var(--pr-t-spacings-200);
	--components-option-content-before-borderRadius: var(--commons-borderRadius-full);
	--components-optionWrapper-padding: 0;
}

@mixin multiple {
	--components-option-content-before-backgroundColor: transparent;
	--components-option-content-checkboxField-display: grid;
}
