@use "@lucca-front/scss/src/components/checkboxField/exports" as checkboxField;

@mixin disabled {
	--components-option-content-backgroundColor: var(--pr-t-elevation-surface-raised);
	--components-option-content-color: var(--palettes-neutral-500);
	--components-option-content-cursor: default;
}

@mixin disabledHover {
	--components-option-content-backgroundColor: var(--pr-t-elevation-surface-raised);
}

@mixin selectedDisabled {
	--components-option-content-before-backgroundColor: var(--palettes-neutral-500);
}

@mixin mixed {

}

@mixin loading {

}

@mixin empty {

}

@mixin groupByHover {
	> .option-content {
		--components-option-content-cursor: default;
		--components-option-content-backgroundColor: var(--pr-t-elevation-surface-raised);
	}
}

@mixin selected {
	--components-option-content-backgroundColor: var(--palettes-product-50);
	--components-option-content-before-backgroundColor: var(--palettes-product-700);
}

@mixin selectedHover {
	--components-option-content-backgroundColor: var(--palettes-product-100);
}

@mixin hover {
	--components-option-content-backgroundColor: var(--palettes-neutral-50);
}

@mixin active {
	--components-option-content-backgroundColor: var(--palettes-neutral-100);
}

@mixin selectedActive {
	--components-option-content-backgroundColor: var(--palettes-product-200);
}

@mixin selectedMultiple {
	.option-content-checkboxField-input  {
		@include checkboxField.checked;
	}
}

@mixin multipleHover {
	.option-content-checkboxField-input  {
		@include checkboxField.hover;
	}
}

@mixin multipleActive {
	.option-content-checkboxField-input  {
		@include checkboxField.active;
	}
}

@mixin selectedMultipleHover {
	.option-content-checkboxField-input  {
		@include checkboxField.checkedHover;
	}
}

@mixin selectedMultipleActive {
	.option-content-checkboxField-input  {
		@include checkboxField.checkedActive;
	}
}

@mixin multipleDisabled {
	.option-content-checkboxField-input  {
		@include checkboxField.disabled;
	}
}

@mixin multipleSelectedDisabled {
	.option-content-checkboxField-input  {
		@include checkboxField.checkedDisabled;
	}
}
