@mixin vars {
	--components-option-content-checkboxField-display: none;
	--components-option-content-backgroundColor: transparent;
	--components-option-content-before-backgroundColor: transparent;
	--components-option-content-before-borderRadius: 0 var(--commons-borderRadius-M) var(--commons-borderRadius-M) 0;
	--components-optionWrapper-marginInlineStart: 0;
	--components-optionWrapper-padding: var(--pr-t-spacings-50);
}
