@use '@lucca-front/scss/src/commons/utils/a11y';
@use '@lucca-front/icons/src/mixins' as icon;

@mixin compact {
	.breadcrumbs-list-item {
		&:nth-last-child(2):first-child,
		&:nth-last-child(2):first-child + .breadcrumbs-list-item {
			&:last-child {
				@include a11y.mask;
			}

			&:first-child {
				.breadcrumbs-list-item-action {
					display: flex;
					align-items: center;

					&::before {
						@include icon.makeIcon('format_undo');

						padding-right: var(--spacings-smallest);
					}
				}
			}
		}
	}
}
