@mixin inline {
	display: inline-block;
	margin-inline-end: var(--pr-t-spacings-300);
	margin-block-start: 0;
	margin-block-end: 0;
}

@mixin S {
	.radio-label {
		line-height: var(--sizes-S-lineHeight);
		min-block-size: var(--sizes-S-lineHeight);
		font-size: var(--sizes-S-fontSize);
		padding: var(--components-radio-S-label-padding);

		&::before,
		&::after {
			block-size: var(--components-radio-S-input-size);
			inline-size: var(--components-radio-S-input-size);
		}
	}

	.radio-label-helper {
		line-height: var(--sizes-XS-lineHeight);
		font-size: var(--sizes-XS-fontSize);
	}

	.radio-input:checked ~ .radio-label {
		&::after {
			transform: scale(0.5);
		}
	}
}
