@mixin disabled {
	~ .radio-label {
		color: var(--palettes-neutral-500);
		cursor: default;

		&::before {
			border-color: var(--palettes-neutral-500);
			border-width: 2px;
			border-style: solid;
		}

		.radio-label-helper {
			color: var(--palettes-neutral-500);
		}
	}
}

@mixin disabledChecked {
	~ .radio-label {
		&::before {
			border-color: var(--palettes-neutral-500);
			border-width: 2px;
			border-style: solid;
		}

		&::after {
			background-color: var(--palettes-neutral-500);
		}
	}
}
