@mixin vars {
	--components-radio-label-padding: 0 0 0 1.75rem;
	--components-radio-input-top: 2px;
	--components-radio-input-size: 1.25rem;
	--components-radio-S-label-padding: 0 0 0 1.5rem;
	--components-radio-S-input-size: 1rem;
}
