@mixin optionPickerStyle {
	.lu-popover-content {
		padding: 0;
		max-height: 280px;
		overflow-y: auto;
		display: block;
		transform-origin: top left;
		animation: scaleIn 150ms cubic-bezier(0.25, 0.8, 0.25, 1);

		.loading {
			height: 280px;
			margin: 0;
			overflow: hidden;
		}
	}
}
