@mixin auto {
	--grid-template-columns: none;
	grid-auto-columns: 1fr;

	.grid-column {
		grid-row: 1;
	}
}

@mixin form {
	--grid-columns: 4;
	--grid-maxWidth: 40rem;
}

@mixin dense {
	grid-auto-flow: dense;
}
