@use 'sass:color';

@use '@lucca-front/icons/src/commons/utils/icon';
@use '@lucca-front/scss/src/commons/utils/reset';

@mixin sortable {
	cursor: pointer;

	&::after {
		@include icon.generate('arrow_full_north');

		opacity: 0;
		margin: 0;
		margin-left: var(--spacings-smallest);
		transform: translateY(var(--spacings-smallest));
		transition-duration: var(--commons-animations-durations-fast);
		transition-property: opacity, transform;
	}

	&:focus {
		outline: none;
	}

	&:hover,
	&:focus-visible {
		&::after {
			outline: none;
			transform: translateY(0);
			opacity: 0.5;
		}
	}

	&:is(button) {
		@include reset.button;

		text-align: left;
	}
}

@mixin sortableSmall {
	&::after {
		margin-top: 0;
	}
}

@mixin sortableAlignCenter {
	text-align: center;
}

@mixin sortableAlignRight {
	&::after {
		content: none;
	}

	&::before {
		@include icon.generate('arrow_full_north');

		opacity: 0;
		margin: 0;
		margin-right: var(--spacings-smallest);
		transform: translateY(var(--spacings-smallest));
		transition-duration: var(--commons-animations-durations-fast);
		transition-property: opacity, transform;
	}

	&:focus {
		outline: none;
	}

	&:hover,
	&:focus-visible {
		&::after {
			outline: none;
			transform: translateY(0);
			opacity: 0.5;
		}
	}

	&:is(button) {
		text-align: right;
	}
}
