@use '@lucca-front/icons/src/commons/utils/icon';
@use '@lucca-front/scss/src/commons/utils/a11y';

@mixin sortedLegacy {
	color: var(--palettes-grey-900);

	&::after {
		@include icon.generate('arrow_top');

		opacity: 1;
		transform: translateY(0);
	}

	&:hover {
		&::after {
			opacity: 1;
		}
	}
}

@mixin sortedLegacyAlignRight {
	&::before {
		@include icon.generate('arrow_top');

		opacity: 1;
		transform: translateY(0);
	}

	&::after {
		content: none;
	}

	&:hover {
		&::before {
			opacity: 1;
		}
	}
}

@mixin descendingLegacy {
	@include sortedLegacy;

	&::after {
		@include icon.generate('arrow_bottom');
	}
}

@mixin ascendingLegacy {
	@include sortedLegacy;

	&::after {
		@include icon.generate('arrow_top');
	}
}

@mixin descendingLegacyAlignRight {
	@include sortedLegacyAlignRight;

	&::after {
		@include icon.generate('arrow_bottom');
	}
}

@mixin ascendingLegacyAlignRight {
	@include sortedLegacyAlignRight;

	&::after {
		@include icon.generate('arrow_top');
	}
}

@mixin sorted {
	padding: 0;

	.table-head-row-cell-sortableButton {
		color: var(--palettes-grey-900);
		padding: var(--components-table-padding);

		&::after {
			@include icon.generate('arrow_top');

			opacity: 1;
			transform: translateY(0);
		}

		&:hover {
			&::after {
				opacity: 1;
			}
		}

		&:focus-visible {
			&::after {
				@include a11y.focusVisible();
			}
		}
	}
}

@mixin sortedAlignRight {
	.table-head-row-cell-sortableButton {
		text-align: right;

		&::before {
			@include icon.generate('arrow_top');

			opacity: 1;
			transform: translateY(0);
		}

		&::after {
			content: none;
		}

		&:hover {
			&::before {
				opacity: 1;
			}
		}

		&:focus-visible {
			&::before {
				@include a11y.focusVisible();
			}
		}
	}
}

@mixin descending {
	@include sorted;

	.table-head-row-cell-sortableButton {
		&::after {
			@include icon.generate('arrow_top');
		}
	}
}

@mixin ascending {
	@include sorted;

	.table-head-row-cell-sortableButton {
		&::after {
			@include icon.generate('arrow_bottom');
		}
	}
}

@mixin descendingAlignRight {
	@include sortedAlignRight;

	.table-head-row-cell-sortableButton {
		&::before {
			@include icon.generate('arrow_top');
		}
	}
}

@mixin ascendingAlignRight {
	@include sortedAlignRight;

	.table-head-row-cell-sortableButton {
		&::before {
			@include icon.generate('arrow_bottom');
		}
	}
}
