@use '../../../../icons/src/mixins' as icon;

@mixin sortedLegacy {
	color: var(--palettes-grey-900);

	&::after {
		@include icon.makeIcon('arrow_full_north');

		opacity: 1;
		transform: translateY(0);
	}

	&:hover {
		&::after {
			opacity: 1;
		}
	}
}

@mixin sortedLegacyAlignRight {
	&::before {
		@include icon.makeIcon('arrow_full_north');

		opacity: 1;
		transform: translateY(0);
	}

	&::after {
		content: none;
	}

	&:hover {
		&::before {
			opacity: 1;
		}
	}
}

@mixin descendingLegacy {
	@include sortedLegacy;

	&::after {
		@include icon.makeIcon('arrow_full_south');
	}
}

@mixin ascendingLegacy {
	@include sortedLegacy;

	&::after {
		@include icon.makeIcon('arrow_full_north');
	}
}

@mixin descendingLegacyAlignRight {
	@include sortedLegacyAlignRight;

	&::after {
		@include icon.makeIcon('arrow_full_south');
	}
}

@mixin ascendingLegacyAlignRight {
	@include sortedLegacyAlignRight;

	&::after {
		@include icon.makeIcon('arrow_full_north');
	}
}

@mixin sorted {
	padding: 0;

	.table-head-row-cell-sortableButton {
		color: var(--palettes-grey-900);
		padding: var(--spacings-small);

		&::after {
			@include icon.makeIcon('arrow_full_north');

			opacity: 1;
			transform: translateY(0);
		}

		&:focus {
			outline: none;
		}

		&:hover,
		&:focus-visible {
			outline: none;

			&::after {
				opacity: 1;
			}
		}
	}
}

@mixin sortedAlignRight {
	.table-head-row-cell-sortableButton {
		text-align: right;

		&::before {
			@include icon.makeIcon('arrow_full_north');

			opacity: 1;
			transform: translateY(0);
		}

		&::after {
			content: none;
		}

		&:hover,
		&:focus {
			&::before {
				opacity: 1;
			}
		}
	}
}

@mixin descending {
	@include sorted;

	.table-head-row-cell-sortableButton {
		&::after {
			@include icon.makeIcon('arrow_full_south');
		}
	}
}

@mixin ascending {
	@include sorted;

	.table-head-row-cell-sortableButton {
		&::after {
			@include icon.makeIcon('arrow_full_north');
		}
	}
}

@mixin descendingAlignRight {
	@include sortedAlignRight;

	.table-head-row-cell-sortableButton {
		&::before {
			@include icon.makeIcon('arrow_full_south');
		}
	}
}

@mixin ascendingAlignRight {
	@include sortedAlignRight;

	.table-head-row-cell-sortableButton {
		&::before {
			@include icon.makeIcon('arrow_full_north');
		}
	}
}
