<h1>refacto-overlay-advanced</h1>
<h2>overlapping popovers</h2>
<button type="button" class="button" [luPopover]="overlap" [luPopoverOverlap]="true">click me</button>
<br />
<button type="button" class="button" [luPopover]="overlap" [luPopoverTarget]="overlapTarget">trigger for my neighbour</button>
<span class="label" luPopoverTarget #overlapTarget="LuPopoverTarget" [luPopoverOverlap]="true">neighbour</span>
<br />
<span class="label" [luPopover]="overlap" luPopoverTrigger="hover" [luPopoverOverlap]="true">on hover + overlap</span>

<lu-popover #overlap>overlapping popover</lu-popover>
<h2>offset</h2>
<button type="button" class="button" [luPopover]="offset" [luPopoverTarget]="targetOffset">trigger for my neighbour</button>
<span class="label" luPopoverTarget #targetOffset="LuPopoverTarget" [luPopoverOffsetX]="-50" [luPopoverOffsetY]="10">neighbour</span>
<lu-popover #offset>offset popover</lu-popover>
<br />
<button type="button" class="button" [luPopover]="offset" [luPopoverOffsetX]="50" [luPopoverOffsetY]="100">click me</button>
<h2>close on click</h2>
<button type="button" class="button" [luPopover]="closer">click me</button>
<lu-popover #closer [close-on-click]="true">close on click popover</lu-popover>

<h2>panel-content-backdrop classes injection</h2>
<button type="button" class="button" [luPopover]="class" [luPopoverOverlap]="true">1 class</button>
<lu-popover #class panel-classes="my-panel" content-classes="my-content">popover with custom class for content and panel</lu-popover>
<br />
<button type="button" class="button" [luPopover]="classes" [luPopoverOverlap]="true">2 classes</button>
<lu-popover #classes panel-classes="my-panel my-panel-again" content-classes="my-content my-content-again">popover with custom class<b>es</b> for content and panel</lu-popover>
<br />

<br />
<h2>disabled</h2>
<button type="button" class="button" [luPopover]="disabled">enabled popover</button>
<button type="button" class="button" [luPopover]="disabled" [luPopoverDisabled]="true">disabled popover</button>
<button type="button" class="button" [luPopover]="disabled" disabled="true" luPopoverTrigger="hover">disabled button</button>
<button type="button" class="button is-disabled" [luPopover]="disabled"  luPopoverTrigger="hover">is-disabled button</button>
<span [luPopover]="disabled"  luPopoverTrigger="hover">
	<button type="button" class="button is-disabled">is-disabled button in a span</button>
</span>
<lu-popover #disabled>normal popover</lu-popover>
<p>
	i cant trigger hover or click if there's no pointer event :'(
</p>
<button type="button" class="button" luTooltip="tooltip enabled" (luTooltipOnClose)="onClose()"  (luTooltipOnOpen)="onOpen()">enabled tooltip</button>
<button type="button" class="button" luTooltip="ttooltip disabled" [luTooltipDisabled]="true">disabled tooltip</button>
<button type="button" class="button" luTooltip="disabled button" disabled="disabled">disabled button</button>
<br />
<h2>focus trap</h2>
<button type="button" class="button" [luPopover]="trapped" (luPopoverOnClose)="onClose()"  (luPopoverOnOpen)="onOpen()">click me</button>
<lu-popover #trapped [trap-focus]="true">
	<div class="textfiled">
		<input type="text" class="textfield-input">
		<label for="" class="textfield-label">label</label>
	</div>
	<div class="textfiled">
		<input type="text" class="textfield-input">
		<label for="" class="textfield-label">label</label>
	</div>
</lu-popover>
