@mixin checklist {
    .checkboxField-icon {
		--component-checkboxField-borderRadius: var(--commons-borderRadius-full);
		border-color: var(--palettes-neutral-300);
	}
	.checkboxField-icon-check {
		color: var(--palettes-neutral-300);
		transform: scale(1);
	}
	
    // progressive enhancement => label color for items marked as checked on modern browsers
	.formLabel:has(~ & > .checkboxField-input:not(:disabled):checked) {
		--components-formLabel-color: var(--pr-t-color-text-subtle);
	}

    @keyframes checklist-bounce {
        0% {
            transform: scale(1);
        }
        55% {
            transform: scale(1.3);
        }
        100% {
            transform: scale(1);
        }
    }
}