@mixin checklistHover {
    & ~ .checkboxField-icon {
        background-color: var(--palettes-success-50);
        border-color: var(--palettes-success-600);
        .checkboxField-icon-check {
            color: var(--palettes-success-600);
        }
    }
    &:checked ~ .checkboxField-icon {
        background-color: var(--palettes-success-800);
        border-color: var(--palettes-success-800);
        .checkboxField-icon-check {
            color: var(--palettes-neutral-0);
        }
    }
}

@mixin checklistChecked {
    ~ .checkboxField-icon {
        background-color: var(--palettes-success-700);
        border-color: var(--palettes-success-700);
        .checkboxField-icon-check {
            animation: var(--commons-animations-durations-standard) ease-in-out checklist-bounce;
            color: var(--palettes-neutral-0);
            transform-origin: center;
        }
    }
}

@mixin checklistActive {
    ~ .checkboxField-icon {
        background-color: var(--palettes-success-100);
    }
    &:checked ~ .checkboxField-icon {
        background-color: var(--palettes-success-900);
        border-color: var(--palettes-success-900);
    }
}

@mixin checklistDisabled {
    &:not(:checked) ~ .checkboxField-icon {
        border-color: var(--palettes-neutral-300);
        .checkboxField-icon-check {
            transform: scale(0);
        }
    }
    &:checked {
        ~ .checkboxField-icon {
            background-color: var(--palettes-neutral-100);
            border-color: var(--palettes-neutral-100);
            .checkboxField-icon-check {
                color: var(--palettes-neutral-600);
            }
        }
    }
}