@mixin disabled {
	background-color: var(--commons-disabled-background);
	color: var(--commons-disabled-color);

	.timepicker-field-input {
		background: transparent;
		color: var(--commons-disabled-color);
	}

	.timepicker-field-increment {
		display: none;
	}
}
