@mixin disabled {
	background-color: var(--palettes-neutral-100);
	color: var(--palettes-neutral-600);

	.timepicker-field-input {
		background: transparent;
		color: var(--palettes-neutral-600);
	}

	.timepicker-field-increment {
		display: none;
	}
}
