@use '@lucca-front/icons/src/icon/exports' as icon;
@use '@lucca-front/scss/src/commons/utils/namespace';
@use '@lucca-front/scss/src/commons/utils/reset';
@use '@lucca-front/scss/src/components/button/exports' as button;
@use '@lucca-front/scss/src/components/numericBadge/exports' as numericBadge;

@mixin component($atRoot: namespace.$defaultAtRoot) {
	border-radius: var(--components-resourceCard-borderRadius);
	position: relative;
	color: var(--components-resourceCard-color);

	&::before {
		content: '';
		position: absolute;
		inset: var(--components-resourceCard-before-inset);
		background-color: var(--pr-t-elevation-surface-raised);
		box-shadow: var(--components-resourceCard-before-boxShadow);
		border-radius: var(--components-resourceCard-borderRadius);
		transition-duration: var(--commons-animations-durations-fast);
		transition-property: inset, box-shadow;
	}

	@at-root ($atRoot) {
		.resourceCard-layout {
			isolation: isolate;
			padding: var(--pr-t-spacings-100);
			padding-block-end: var(--components-resourceCard-layout-paddingBlockEnd);
			display: grid;
			grid-template: var(--components-resourceCard-layout-gridTemplate);
		}

		.resourceCard-layout-header {
			display: flex;
			align-items: center;
			gap: var(--pr-t-spacings-100);
			grid-area: header;
			padding-block-start: var(--components-resourceCard-layout-header-paddingBlockStart);
		}

		.resourceCard-layout-header-infos {
			display: flex;
			align-items: center;
			gap: var(--pr-t-spacings-100);
		}

		.resourceCard-layout-header-title {
			font: var(--components-resourceCard-layout-header-title-font);
			display: flex;
			gap: var(--pr-t-spacings-100);
			align-items: center;

			.numericBadge {
				@include numericBadge.S;
			}
		}

		.resourceCard-layout-header-title-link {
			color: inherit;
			text-decoration: none;
			outline: none;

			&::after {
				// content: '';
				position: absolute;
				inset: var(--components-resourceCard-layout-header-title-link-after-inset);
				border-radius: var(--components-resourceCard-borderRadius);
				transition-duration: var(--commons-animations-durations-fast);
				transition-property: inset;
				z-index: 1;
			}
		}

		.resourceCard-layout-before {
			grid-area: before;
			display: flex;
			align-items: start;

			&:not(:empty) {
				padding-inline-end: var(--pr-t-spacings-100);
			}
		}

		.resourceCard-layout-before-button.button {
			@include button.S;
			@include button.ghost;
			@include button.onlyIcon;
			@include button.onlyIconS;

			margin-block: var(--components-resourceCard-layout-before-button-marginBlock);
		}

		.resourceCard-layout-before-illustration {
			&:not(:empty) {
				min-block-size: var(--components-resourceCard-layout-before-illustration-minSize);
				min-inline-size: var(--components-resourceCard-layout-before-illustration-minSize);
				margin: var(--components-resourceCard-layout-before-illustration-margin);
				margin-inline-end: var(--pr-t-spacings-50);
				display: grid;
				place-items: center;
			}
		}

		.resourceCard-layout-after {
			grid-area: after;
			margin-block: var(--components-resourceCard-layout-after-marginBlock);

			&:not(:empty) {
				padding-inline-start: var(--pr-t-spacings-100);
			}
		}

		.resourceCard-layout-after-button.button {
			@include button.S;
			@include button.ghost;

			&:has(> lu-icon:only-child, > .lucca-icon:only-child, > .lucca-icon:first-child + .pr-u-mask:last-child) {
				@include button.onlyIcon;
				@include button.onlyIconS;
			}
		}

		.resourceCard-layout-content {
			grid-area: content;
			font: var(--components-resourceCard-layout-content-font);
		}

		.resourceCard-layout-before-button {
			z-index: 2;
		}
	}
}
