@use '@lucca-front/scss/src/commons/utils/namespace';

@mixin component($atRoot: namespace.$defaultAtRoot) {
	border-radius: var(--components-resourceCard-borderRadius);
	position: relative;
	color: var(--components-resourceCard-color);
	display: block;

	&::before {
		content: '';
		position: absolute;
		inset: var(--components-resourceCard-before-inset);
		background-color: var(--pr-t-elevation-surface-raised);
		box-shadow: var(--components-resourceCard-before-boxShadow);
		border-radius: var(--components-resourceCard-borderRadius);
		transition-duration: var(--commons-animations-durations-fast);
		transition-property: inset, box-shadow;
	}

	@at-root ($atRoot) {
		.resourceCard-layout {
			isolation: isolate;
			padding: var(--pr-t-spacings-100);
			display: grid;
			grid-template: var(--components-resourceCard-layout-gridTemplate);
			align-items: var(--components-resourceCard-layout-alignItems);
		}

		.resourceCard-layout-header {
			display: flex;
			align-items: var(--components-resourceCard-layout-header-alignItems);
			flex-direction: var(--components-resourceCard-layout-header-flexDirection);
			gap: var(--pr-t-spacings-50) var(--pr-t-spacings-100);
			grid-area: header;
			padding-block-start: var(--components-resourceCard-layout-header-paddingBlockStart);
			padding-block-end: var(--components-resourceCard-layout-header-paddingBlockEnd);
			padding-inline: var(--pr-t-spacings-100);
		}

		.resourceCard-layout-header-infos {
			display: flex;
			align-items: center;
			gap: var(--pr-t-spacings-100);

			&:empty {
				display: none;
			}
		}

		.resourceCard-layout-header-title {
			font: var(--components-resourceCard-layout-header-title-font);
			display: flex;
			gap: var(--pr-t-spacings-100);
			align-items: center;
		}

		.resourceCard-layout-header-title-action {
			color: var(--components-resourceCard-layout-header-title-action-color);
			text-decoration: none;
			outline: none;
			cursor: var(--components-resourceCard-layout-header-title-action-cursor);

			&::after {
				content: '';
				position: absolute;
				inset: var(--components-resourceCard-layout-header-title-action-after-inset);
				border-radius: var(--components-resourceCard-borderRadius);
				transition-duration: var(--commons-animations-durations-fast);
				transition-property: inset;
				z-index: 1;
			}
		}

		.resourceCard-layout-before {
			grid-area: before;
			display: flex;
			align-items: center;
		}

		.resourceCard-layout-before-illustration {
			&:not(:empty) {
				min-block-size: var(--components-resourceCard-layout-before-illustration-minSize);
				min-inline-size: var(--components-resourceCard-layout-before-illustration-minSize);
				margin: var(--pr-t-spacings-100) var(--pr-t-spacings-50) var(--pr-t-spacings-100) var(--pr-t-spacings-100);
				display: grid;
				place-items: center;
			}

			&:empty {
				display: none;
			}
		}

		.resourceCard-layout-after {
			grid-area: after;
			margin-block: var(--components-resourceCard-layout-after-marginBlock);
		}

		.resourceCard-layout-content {
			grid-area: content;
			font: var(--components-resourceCard-layout-content-font);

			&:not(:empty) {
				padding: var(--components-resourceCard-layout-content-paddingBlockStart) var(--pr-t-spacings-100) var(--pr-t-spacings-50);
			}
		}

		.resourceCard-layout-before-button,
		.resourceCard-layout-after {
			z-index: 2;
		}
	}
}
