@use 'exports' as *;

.resourceCard {
	@layer components {
		@include vars;
		@include component;
	}

	@layer mods {
		&:hover {
			@include hover;
		}

		&:has(.resourceCard-layout-header-title-link:focus-visible) {
			@include focusVisible;
		}

		// &:where(:not(:has(.resourceCard-layout-before-illustration:empty))) {
		// 	@include hasIllustration;
		// }

		&.mod-S {
			@include S;
		}

		&.mod-grid {
			@include grid;
		}

		&:has(.resourceCard-layout-before-button) {
			@include drag;
		}
	}
}

.resourceCardWrapper {
	@layer components {
		@include varsWrapper;
	}

	@layer mods {
		&.mod-grid {
			@include grid;
		}
	}
}
