@use 'exports' as *;
@use '@lucca-front/scss/src/commons/utils/container';

.resourceCard {
	@layer components {
		@include vars;
		@include component;
	}

	@layer mods {
		&:hover {
			@include hover;
		}

		&:has(.resourceCard-content-header-title .link:focus-visible) {
			@include focusVisible;
		}


		&:has(.resourceCard-content-header-title .link.is-disabled),
		&.is-disabled {
			@include disabled;
		}

		&:not(:has(.resourceCard-content-before-content-illustration:empty)) {
			@include container.max('XS', $name: 'resourceCard') {
				@include hasIllustrationNarrow;
			}

			@include container.min('XS', $name: 'resourceCard') {
				@include hasIllustrationWide;
			}
		}

		@include container.min('XS', $name: 'resourceCard') {
			&:has(.resourceCard-content-description:empty) {
				@include noDescriptionWide;
			}

			&:not(:has(.resourceCard-content-description:empty)) {
				@include hasDescriptionWide;

				&:not(:has(.resourceCard-content-after:empty)) {
					@include hasDescriptionHasActionWide;
				}
			}
		}

		@include container.max('XS', $name: 'resourceCard') {
			@include narrow;

			&:has(.resourceCard-content-description:empty) {
				@include noDescriptionNarrow;
			}
		}
	}
}

.resourceCardWrapper {
	@layer components {
		@include varsWrapper;
	}

	@layer mods {
		&.mod-grid {
			@include grid;
		}
	}
}
