@use 'exports' as *;
@use '@lucca-front/scss/src/commons/utils/container';

$noDescription: '&:has(.resourceCard-content-description:empty)';
$noDescriptionHTML: '&:not(:has(.resourceCard-content-description))';
$noIllustration: '&:has(.resourceCard-content-before-content-illustration:empty)';
$hasIllustration: '&:not(#{$noIllustration})';
$hasDrag: '&:has(.resourceCard-content-before-content-handleButton)';

.resourceCard {
	@layer components {
		@include vars;
		@include component;
	}

	@layer mods {
		&:hover {
			@include hover;
		}

		&:has(.resourceCard-content-header-title-action:focus-visible) {
			@include focusVisible;
		}

		&.is-disabled {
			@include disabled;
		}

		#{$hasDrag} {
			@include hasDrag;

			#{$hasIllustration} {
				@include hadDragHasIllustration;
			}
		}

		#{$noDescription},
		#{$noDescriptionHTML} {
			@include noDescription;
		}

		@include container.max('XXS', $name: 'resourceCard') {
			@include narrow;

			#{$noDescription},
			#{$noDescriptionHTML} {
				#{$hasIllustration} {
					@include narrowNoDescriptionHasIllustration;
				}
			}
		}
	}
}

.resourceCardWrapper {
	@layer components {
		@include varsWrapper;
	}

	@layer mods {
		&.mod-grid {
			@include grid;
		}
	}
}
