@use 'exports' as *;
@use '@lucca-front/scss/src/commons/utils/container';

.resourceCard {
	@layer components {
		@include vars;
		@include component;
	}

	@layer mods {
		&:hover {
			@include hover;
		}

		&:has(.resourceCard-layout-header-title-link:focus-visible) {
			@include focusVisible;
		}

		&:where(:not(:has(.resourceCard-layout-before-illustration:empty))) {
			@include hasIllustration;
		}

		&.mod-S {
			@include S;
		}
	}
}

.resourceCardWrapper {
	@layer components {
		@include varsWrapper;
	}

	@layer mods {
		&.mod-grid {
			@include grid;
		}
	}
}
