@use 'exports' as *;
@use '@lucca-front/scss/src/commons/utils/container';

.resourceCard {
	@layer components {
		@include vars;
		@include component;
	}

	@layer mods {
		&:hover {
			@include hover;
		}


		&:has(.resourceCard-content-header-title .link:focus-visible) {
			@include focusVisible;
		}

		// &:has(.resourceCard-content-description:empty) {
		// 	@include noDescription;

		// 	&:has(.resourceCard-content-after:empty) {
		// 		@include noDescriptionNoAction;

		// 		&:has(.resourceCard-content-before-content-illustration:empty) {
		// 			@include noDescriptionNoActionNoIllustration;

		// 			&:has(.resourceCard-content-before-content-handleButton) {
		// 				@include noDescriptionNoActionNoIllustrationAndHandle;
		// 			}
		// 		}
		// 	}
		// }

		// &:has(.resourceCard-content-before-content-handleButton) {
		// 	@include draggable;

		// 	&:not(:has(.resourceCard-content-after:empty)) {
		// 		@include draggableAction;

		// 		@include container.max('XS', $name: 'resourceCard') {
		// 			@include draggableActionNarrow;
		// 		}
		// 	}

		// 	&:not(:has(.resourceCard-content-header-infos:empty)) {
		// 		@include draggableInfos;

		// 		@include container.max('XS', $name: 'resourceCard') {
		// 			@include draggableInfosNarrow;
		// 		}
		// 	}
		// }

		&:has(.resourceCard-content-header-title .link.is-disabled),
		&.is-disabled {
			@include disabled;
		}

		@include container.max('XS', $name: 'resourceCard') {
			@include narrow;
		}
	}
}

.resourceCardWrapper {
	@layer components {
		@include varsWrapper;
	}

	@layer mods {
		&.mod-grid {
			@include grid;
		}
	}
}
