@use '@lucca-front/scss/src/components/button/exports' as button;
@use '@lucca-front/scss/src/commons/utils/a11y';

@mixin hover {
	--components-resourceCard-before-inset: -4px;
	--components-resourceCard-before-boxShadow: var(--pr-t-elevation-shadow-overlay);
}

@mixin focusVisible {
	.resourceCard-layout-header-title-link {
		&::after {
			@include a11y.focusVisible;
		}
	}
}

@mixin disabled {

}
