@use '@lucca-front/scss/src/components/button/exports' as button;
@use '@lucca-front/scss/src/commons/utils/a11y';

@mixin hover {
	--components-resourceCard-before-inset: -4px;
}

@mixin focusVisible {
	.resourceCard-content-header-title-action {
		&::before {
			@include a11y.focusVisible;
		}
	}
}

@mixin disabled {
	--components-resourceCard-before-inset: 0;
	--components-resourceCard-color: var(--pr-t-color-text-disabled);
	--components-resourceCard-content-header-title-action-cursor: default;

	.resourceCard-content-after-action,
	.resourceCard-content-dragBefore-content-handleButton {
		@include button.disabled;

		cursor: default;
	}
}
