@use '@lucca-front/scss/src/components/button/exports' as button;
@use '@lucca-front/scss/src/commons/utils/a11y';

@mixin hover {
	--components-resourceCard-before-inset: -4px;
	--components-resourceCard-before-boxShadow: var(--pr-t-elevation-shadow-overlay);
}

@mixin focusVisible {
	.resourceCard-layout-header-title-action {
		&::after {
			@include a11y.focusVisible;
		}
	}
}

@mixin disabled {
	--components-resourceCard-layout-header-title-action-cursor: default;
	--components-resourceCard-before-inset: 0;
	--components-resourceCard-color: var(--palettes-neutral-500);
	--components-resourceCard-layout-header-title-action-color: var(--palettes-neutral-500);
	--components-resourceCard-before-boxShadow: 0 0 0 1px var(--palettes-neutral-50);

	.bubbleIcon {
		--components-bubbleIcon-color: var(--pr-t-color-input-icon-disabled);
		--components-bubbleIcon-bubble-path-fill: var(--pr-t-color-input-background-disabled);
	}
}

@mixin active {
	--components-resourceCard-layout-header-title-action-color: var(--palettes-product-700);
	--components-resourceCard-before-boxShadow: 0 0 0 1px var(--palettes-product-400);
}
