@mixin vars {
	--components-resourceCard-color: inherit;
	--components-resourceCard-borderRadius: var(--pr-t-border-radius-structure);
	--components-resourceCard-before-inset: 0;
	--components-resourceCard-layout-header-title-link-after-inset: var(--components-resourceCard-before-inset);
	--components-resourceCard-before-boxShadow: var(--pr-t-elevation-shadow-raised);
	--components-resourceCard-layout-header-paddingBlockStart: var(--pr-t-spacings-50);
	--components-resourceCard-layout-header-title-font: var(--pr-t-font-heading-3);
	--components-resourceCard-layout-content-font: var(--pr-t-font-body-M);
	--components-resourceCard-layout-paddingBlockEnd: var(--pr-t-spacings-150);
	--components-resourceCard-layout-before-button-marginBlock: 0;
	--components-resourceCard-layout-after-marginBlock: calc(var(--components-resourceCard-layout-before-button-marginBlock) - var(--pr-t-spacings-25));
	--components-resourceCard-layout-before-illustration-minSize: var(--pr-t-spacings-500);
	--components-resourceCard-layout-before-illustration-margin: var(--pr-t-spacings-100);
	--components-resourceCard-layout-gridTemplate: "before header  after" auto
																								 "before content after" 1fr
																								/ auto   1fr     auto;
}

@mixin varsWrapper {

}
