@mixin component($atRoot: 'without: rule') {
	border-radius: var(--commons-borderRadius-M);
	height: var(--components-gauge-height);
	overflow: hidden;
	position: relative;
	background-color: rgba(var(--colors-grey-900-rgb), 0.05);

	@at-root ($atRoot) {
		.gauge-bar {
			color: var(--palettes-700, var(--palettes-primary-700));
			border-bottom-width: var(--components-gauge-height);
			transition-duration: var(--commons-animations-durations-standard);
			transition-property: border-color, width, height;
			top: 0;
			left: 0;
			position: absolute;
			border-bottom-style: solid;
			border-color: currentColor;
		}
	}
}
