@use '@lucca-front/scss/src/commons/utils/namespace';

@mixin component($atRoot: namespace.$defaultAtRoot) {
	border-radius: var(--pr-t-border-radius-full);
	block-size: var(--components-gauge-blockSize);
	inline-size: var(--components-gauge-inlineSize);
	overflow: hidden;
	position: relative;
	background-color: var(--components-gauge-background);

	@at-root ($atRoot) {
		.gauge-bar {
			color: var(--palettes-700, var(--palettes-product-700));
			border-block-end-width: var(--components-gauge-blockSize);
			transition-duration: var(--commons-animations-durations-standard);
			transition-property: border-color, inline-size, block-size;
			inset-block-start: 0;
			inset-inline-start: 0;
			position: absolute;
			border-block-end-style: solid;
			border-color: currentColor;
			border-radius: var(--pr-t-border-radius-full);
			min-inline-size: var(--components-gauge-bar-minInlineSize);
			min-block-size: var(--components-gauge-bar-minInlineSize);
			inline-size: var(--components-gauge-value);
		}
	}
}
