@mixin component {
	border-radius: var(--commons-border-radius);
	height: var(--components-gauge-height);
	overflow: hidden;
	position: relative;
	background-color: rgba(0, 0, 0, 0.05);

	@at-root {
		.gauge-bar {
			color: var(--palettes-700, var(--components-gauge-default-palette-700));
			border-bottom-width: var(--components-gauge-height);
			transition-duration: var(--commons-animations-durations-standard);
			transition-property: border-color, width, height;
			top: 0;
			left: 0;
			position: absolute;
			border-bottom-style: solid;
			border-color: currentColor;
		}
	}
}
