@mixin thin {
	--components-gauge-height: var(--pr-t-spacings-50);
}

@mixin vertical {
	width: var(--components-gauge-height);
	height: 100%;

	.gauge-bar {
		border-inline-start-width: var(--components-gauge-height);
		border-inline-start-style: solid;
		border-block-end-width: 0;
	}
}
