// --components-gauge-height is deprecated
@mixin vars {
	--components-gauge-blockSize: var(--components-gauge-height, 0.5rem);
	--components-gauge-inlineSize: auto;
	--components-gauge-background: var(--palettes-neutral-100);
	--components-gauge-before-minInlineSize: var(--components-gauge-blockSize);
	--components-gauge-value: 0;
}
