@mixin vars {
	--components-gauge-default-palette-darker: #2d354d;
	--components-gauge-default-palette-dark: #4c5775;
	--components-gauge-default-palette-color: #9299b0;
	--components-gauge-default-palette-light: #ccd1e0;
	--components-gauge-default-palette-lighter: #e8eaf3;
	--components-gauge-default-palette-lightest: #f7f9fd;
	--components-gauge-default-palette-text: var(--colors-white-color);
	--components-gauge-default-palette-see-through: rgba(146, 153, 176, 0.15);
	--components-gauge-default-palette-50: #f7f8fd;
	--components-gauge-default-palette-100: #f3f5fc;
	--components-gauge-default-palette-200: #eceff8;
	--components-gauge-default-palette-300: #dcdfef;
	--components-gauge-default-palette-400: #cbcfe2;
	--components-gauge-default-palette-500: #b7bbd1;
	--components-gauge-default-palette-600: #898fae;
	--components-gauge-default-palette-700: #485075;
	--components-gauge-default-palette-800: #31395e;
	--components-gauge-default-palette-900: #1e233e;
	--components-gauge-height: 0.65rem;
	--components-gauge-thin-height: 4px;
}
