@use '@lucca-front/scss/src/commons/utils/a11y';
@use '@lucca-front/icons/src/icon/exports' as icons;

@mixin component($atRoot: 'without: rule') {
	padding: var(--components-timepicker-padding);
	width: fit-content;

	@at-root ($atRoot) {
		.timePicker-fieldset {
			display: flex;
			align-items: center;
			box-shadow: 0 0 0 1px var(--components-timepicker-border);
			border-radius: var(--commons-borderRadius-M);
			padding: 0;
			border: 0;
			margin: 0;
			background-color: var(--components-timepicker-background);
			color: var(--components-timepicker-color);
			font-size: var(--components-timepicker-fontSize);
			line-height: var(--components-timepicker-lineHeight);
			position: relative;
			cursor: text;

			&:hover {
				--components-timepicker-border: var(--palettes-neutral-400);
			}

			&:focus-within {
				@include a11y.focusVisible($offset: 3px);
			}
		}

		.timePicker-fieldset-groupSeparator {
			pointer-events: none;
			display: grid;
			place-items: center;
			text-align: center;
			width: var(--pr-t-spacings-200);
			margin: 0 calc(var(--pr-t-spacings-100) * -1);
			position: relative;
			left: calc(var(--pr-t-spacings-25) * -1);
		}

		.timePicker-fieldset-group {
			position: relative;

			~ .timePicker-fieldset-group {
				margin-left: calc(var(--pr-t-spacings-50) * -1);
			}
		}

		.timePicker-fieldset-group-textfield {
			background-color: transparent;
		}

		.timePicker-fieldset-group-textfield-input {
			display: flex;
			align-items: center;
			justify-content: center;
			border: 0;
			text-align: center;
			height: var(--components-timepicker-input-height);
			width: var(--components-timepicker-input-width);
			outline: none;
			color: inherit;
			background-color: transparent;
			text-align: center;
			padding: var(--components-timepicker-paddingInput-inline) var(--components-timepicker-paddingInput-block);
			box-sizing: content-box;
			opacity: 0.0001;

			&::placeholder {
				color: var(--component-textField-placeholder);
			}

			&:focus-visible {
				& + .timePicker-fieldset-group-textfield-display {
					background-color: var(--palettes-primary-100);
				}
			}
		}

		.timePicker-fieldset-group-textfield-display {
			position: absolute;
			inset: var(--components-timepicker-paddingInput-inline) var(--components-timepicker-paddingInput-block);
			border-radius: var(--commons-borderRadius-M);
			pointer-events: none;
			display: grid;
			place-items: center;
		}

		.timePicker-fieldset-group-stepper {
			position: absolute;
			bottom: calc(var(--components-timepicker-input-height) + var(--pr-t-spacings-150) + 1px);
			border: 0;
			padding: 0;
			height: 1rem;
			width: 1rem;
			left: 50%;
			transform: translateX(-50%);
			background-color: transparent;
			color: var(--palettes-neutral-600);
			display: inline-flex;
			justify-content: center;
			align-items: center;
			border-radius: var(--commons-borderRadius-M);
			outline: none;
			opacity: 1;
			transition-property: opacity;
			transition-duration: var(--commons-animations-durations-fast);
			cursor: pointer;

			&:hover {
				background-color: var(--palettes-neutral-50);
				color: var(--palettes-neutral-800);
			}

			&:disabled {
				cursor: default;
				color: var(--palettes-neutral-500);
				pointer-events: none;
			}

			.lucca-icon {
				@include icons.XS;
			}

			+ .timePicker-fieldset-group-stepper {
				top: calc(var(--components-timepicker-input-height) + var(--pr-t-spacings-150) + 1px);
				bottom: auto;
			}
		}

		.timePicker-fieldset-meridiem {
			width: calc(var(--components-timepicker-input-width) + var(--components-timepicker-paddingInput-block) * 2);
			position: relative;
			align-self: stretch;
			margin-left: calc(var(--pr-t-spacings-50) * -1);

			&::after {
				content: '';
				position: absolute;
				inset: var(--components-timepicker-paddingInput-inline) var(--components-timepicker-paddingInput-block);
				border-radius: var(--commons-borderRadius-M);
				display: grid;
				place-items: center;
				text-align: right;
			}

			&:has(input:focus) {
				&::after {
					background-color: var(--palettes-primary-100);
				}
			}

			&:has(#anteMeridiem:checked) {
				&::after {
					content: 'AM';
				}
			}

			&:has(#postMeridiem:checked) {
				&::after {
					content: 'PM';
				}
			}
		}

		.timePicker-fieldset-meridiem-ante,
		.timePicker-fieldset-meridiem-post {
			@include a11y.mask;
		}
	}
}
