@use '@lucca-front/scss/src/commons/utils/a11y';

@mixin S {
	--components-timepicker-fontSize: var(--sizes-S-fontSize);
	--components-timepicker-lineHeight: var(--sizes-S-lineHeight);
	--components-timepicker-paddingFieldset: var(--pr-t-spacings-25) var(--pr-t-spacings-75);
	--components-timepicker-input-height: 1.75rem;
	--components-timepicker-input-width: 1.25rem;
}

@mixin stepper {
	--components-timepicker-padding: var(--pr-t-spacings-300) 0;
}

@mixin stepperHover {
	&:not(:hover, :focus-within) {
		.timePicker-fieldset-group-stepper {
			opacity: 0;
		}
	}
}
