@use '@lucca-front/scss/src/commons/utils/a11y';

@mixin S {
	--components-timepicker-font: var(--pr-t-font-body-S);
	--components-timepicker-display-padding-inline: var(--pr-t-spacings-25);
	--components-timepicker-display-padding-block: var(--pr-t-spacings-75);
	--components-timepicker-input-padding-inline: var(--pr-t-spacings-75);
	--components-timepicker-input-padding-block: var(--pr-t-spacings-25);
	--components-timepicker-input-height: 1.75rem;
	--components-timepicker-separator-left: 1.875rem;
}

@mixin stepper {
	--components-timepicker-padding: var(--pr-t-spacings-300) 0;
}

@mixin stepperHover {
	&:not(:hover, :focus-within) {
		.timePicker-fieldset-group-stepper {
			opacity: 0;
		}
	}
}
