@use '@lucca-front/scss/src/commons/utils/a11y';

// TODO INT en attente des futurs ateliers LF sur le timePicker - Premier test - renommage conseillé

// TODO add this to utils???
.u-opacity0 {
	opacity: 0;
}

// TODO :

// TODO OUCH OUCH OUCH

// .mod-highlightedComment > .timePicker {
// 	.timePicker-fieldset {
// 	@include highlightedComment;

// 		border-top-right-radius: 0;

// 		&::before {
// 			pointer-events: none;
// 		}
// 	}
// }

.timePicker {
	--textfield-time-size-M: 1.5rem;
	--textfield-time-margin: var(--spacings-XS) 0;
	--textfield-time-boxShadow: 0 0 0 1px var(--palettes-300, var(--palettes-grey-200));
	--textfield-time-boxShadow-hover: 0 0 0 1px var(--palettes-400, var(--palettes-grey-400)), var(--commons-boxShadow-XS);
	--textfield-time-boxShadow-readonly: 0 0 0 1px var(--colors-white-color);

	display: flex;
	justify-content: center;

	// TODO : Voir pourquoi Laurent avait supprimé ca dans la PR #2710.
	// Le design du picker jour était cassé.
	&:not(.is-readonly) {
		&.mod-duration {
			.timePicker-fieldset {
				display: grid;
				grid-template-columns: 1fr max-content;
				width: 4rem;
				justify-content: center;
				align-items: center;
				gap: 0;
			}

			.timePicker-fieldset-group {
				grid-column: 1/3;
				grid-row: 1;
			}

			.timePicker-fieldset-suffix {
				grid-column: 2/3;
				grid-row: 1;
				padding-right: var(--spacings-XXS);
			}

			.timePicker-fieldset-group-textfield-input {
				width: 2.5rem;
				margin-left: 0.25rem;
			}
		}
	}

	&:not(.is-button) {
		.timePicker-fieldset-group-textfield-input {
			&[type='number'] {
				&:hover,
				&:focus,
				&:focus-visible {
					background-color: var(--palettes-100, var(--palettes-primary-100));
					outline: none;
				}
			}
		}
	}

	&.is-button {
		.timePicker-fieldset {
			background-color: var(--colors-white-color);
			cursor: pointer;
		}
	}

	&.mod-withArrow .timePicker-fieldset {
		margin: var(--spacings-S) 0;
	}

	.timePicker-fieldset {
		margin: 0;
	}

	/* mod-conflict => is-error */
	&.mod-conflict {
		position: relative;
		display: grid;
		grid-template-rows: min-content 1fr;
		grid-template-columns: min-content;

		.timePicker-fieldset {
			box-shadow: 0 0 0 1px var(--palettes-error-400);
			margin: 0;
			grid-row: 2;
			cursor: default;
			background-color: var(--palettes-error-50);

			.timePicker-fieldset-group-textfield-input {
				cursor: default;
			}

			&:focus-within,
			&:focus-visible {
				@include a11y.focusVisible($color: var(--palettes-error-700));
			}
		}
	}

	&.palette-error {
		.timePicker-fieldset {
			&:focus-within,
			&:focus-visible {
				@include a11y.focusVisible($color: var(--palettes-error-700));
			}
		}
	}

	&.mod-withArrowHoverVisible {
		.timePicker-fieldset-group-button {
			visibility: hidden;
		}

		&:not([disabled], .is-disabled, [readonly], .is-readonly) {
			&:is(:hover, :focus-within) {
				.timePicker-fieldset-group-button {
					visibility: visible;
				}
			}
		}
	}

	&:not(.palette-error) {
		&.is-readonly {
			.timePicker-fieldset {
				box-shadow: var(--textfield-time-boxShadow-readonly);
			}
		}
	}

	&.is-readonly {
		.timePicker-fieldset {
			padding: var(--spacings-XXS) 0.75rem;
		}

		.timePicker-fieldset-group-textfield-input {
			width: 100%;
		}

		cursor: text;
	}
}

.mod-clickable .timePicker.mod-conflict .timePicker-fieldset {
	cursor: pointer;

	.timePicker-fieldset-group-textfield-input {
		cursor: pointer;
	}
}

.timePicker-fieldset {
	display: inline-flex;
	align-items: center;
	gap: var(--spacings-XXS);
	padding: var(--spacings-XXS);
	background-color: var(--colors-white-color);
	border-radius: var(--commons-borderRadius-M);
	border: 0;
	box-shadow: var(--textfield-time-boxShadow);
	font-size: var(--sizes-S-fontSize);
	line-height: var(--sizes-XS-lineHeight);
	z-index: 1;
	margin: 0;
	cursor: text;

	&:hover {
		box-shadow: var(--textfield-time-boxShadow-hover);
	}

	&:focus-within,
	&:focus-visible {
		@include a11y.focusVisible;
	}
}

.timePicker-fieldset-suffix {
	display: flex;
	justify-content: center;
	pointer-events: none;
}

.timePicker-fieldset-group {
	position: relative;
	display: inline-block;
}

.timePicker-fieldset-group-textfield {
	display: block;
	outline: none;
}

.timePicker-fieldset-group-textfield-input {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: var(--commons-borderRadius-M);
	border: 0;
	text-align: center;
	height: var(--textfield-time-size-M);
	width: 1.25rem;

	&.mod-L {
		width: 1.8rem;
	}

	&.mod-XL {
		width: 2.5rem;
	}

	&[type='number'] {
		/* stylelint-disable-next-line property-no-vendor-prefix */
		-moz-appearance: textfield;

		/* stylelint-disable-next-line rule-empty-line-before */
		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			/* stylelint-disable-next-line property-no-vendor-prefix */
			-webkit-appearance: none;
			margin: 0;
		}
	}
}

.timePicker-fieldset-group-textfield-display {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	pointer-events: none;
	padding: 0.15rem;
	border-radius: 0.125rem;
	color: var(--palettes-grey-800);
}

input:focus + .timePicker-fieldset-group-textfield-display {
	background-color: var(--palettes-primary-100);
}

.timePicker-fieldset-group-button {
	position: absolute;
	bottom: calc(100% + 0.5rem);
	left: 0;
	right: 0;
	width: 100%;
	border: 0;
	padding: 0;
	height: 1rem;
	background-color: transparent;
	cursor: pointer;

	// style actionIcon
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border-radius: var(--commons-borderRadius-M);

	&:not([disabled], .is-disabled, [readonly], .is-readonly) {
		&:hover {
			cursor: pointer;
			background-color: var(--palettes-grey-50);
			color: var(--palettes-grey-800);
		}

		&:focus-visible {
			background-color: var(--palettes-grey-100);
			color: var(--palettes-grey-800);
			outline: none;
		}
	}

	&:is(.is-disabled, .disabled, [disabled]) {
		color: var(--palettes-grey-500);
		cursor: default;
	}

	.lucca-icon {
		font-size: 1rem;
	}

	+ .timePicker-fieldset-group-button {
		top: calc(100% + 0.5rem);
		bottom: auto;
	}
}

.timePicker-skeletonOverlay {
	inset: 0.75rem;
	position: absolute;
	border-radius: 0.8rem;
	animation-name: aniUISkeleton;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	background: linear-gradient(90deg, var(--palettes-grey-100), var(--palettes-grey-50), var(--palettes-grey-100));
	background-size: 150%;
}
