@mixin vars {
  --textfield-time-size-M: 1.5rem;
  --textfield-time-margin: var(--spacings-XS) 0;
  --textfield-time-boxShadow: 0 0 0 1px var(--palettes-300, var(--palettes-grey-200));
  --textfield-time-boxShadow-hover: 0 0 0 1px var(--palettes-400, var(--palettes-grey-400)), var(--commons-boxShadow-XS);
  --textfield-time-boxShadow-readonly: 0 0 0 1px var(--colors-white-color);
}
