@use '@lucca-front/scss/src/commons/utils/reset';
@use '@lucca-front/scss/src/commons/utils/a11y';
@use '@lucca-front/scss/src/components/button/exports' as button;

@mixin component($atRoot: 'without: rule') {
	border-spacing: 0;
	border: var(--pr-t-spacings-150) solid transparent;
	border-top: 0;
	table-layout: fixed;
	background-color: var(--monthBackground);
	scroll-snap-align: start end;
	flex-shrink: 0;
	flex-basis: var(--monthWidth);
	empty-cells: hide;

	@at-root ($atRoot) {
		.monthCalendarWrapper {
			width: calc(var(--monthWidth) * var(--monthCalendarWrapperVisible));
			background-color: var(--monthBackground);

			position: relative;

			&:has(.monthCalendarWrapper-content > *:first-child:last-child) {
				.monthCalendarWrapper-navigation {
					display: none;
				}
			}
		}

		.monthCalendarWrapper-content {
			display: flex;
			overflow: auto;
			scroll-behavior: smooth;
			scroll-snap-type: x mandatory;
			-ms-overflow-style: none;
			scrollbar-width: none;

			&::-webkit-scrollbar {
				display: none;
			}

			&:focus-visible {
				@include a11y.focusVisible;
			}
		}

		.monthCalendarWrapper-navigation {
			position: absolute;
			top: var(--pr-t-spacings-150);
			background-color: var(--monthBackground);
			border-width: 0 var(--pr-t-spacings-150);
			border-style: solid;
			border-color: transparent var(--monthBackground);

			&.mod-prev {
				left: 0;
				border-right: 0;
			}

			&.mod-next {
				right: 0;
				border-left: 0;
			}
		}

		.monthCalendarWrapper-navigation-button {
			&.button {
				@include button.text;
				@include button.onlyIconXS;
			}
		}

		.month_stripes {
			@include a11y.mask;
		}

		.month_stripes-symbol-path {
			fill: var(--month-body-week-day-action-stripesColor);
		}

		.month-name {
			line-height: var(--sizes-L-lineHeight);
			padding: var(--pr-t-spacings-50) calc(var(--pr-t-spacings-300) + var(--pr-t-spacings-100));
			font-size: var(--sizes-L-fontSize);
			font-weight: 700;
			border: var(--pr-t-spacings-150) solid transparent;
			border-bottom: var(--pr-t-spacings-100) solid transparent;
			text-transform: lowercase;
			background-color: var(--monthBackground);
		}

		.month-head-week-day,
		.month-body-week-day {
			padding: var(--pr-t-spacings-25);
		}

		.month-head-week {
			border-bottom: var(--pr-t-spacings-50) solid transparent;
		}

		.month-head-week-day {
			font-weight: 400;
			line-height: var(--sizes-S-lineHeight);
			font-size: var(--sizes-S-fontSize);
			color: var(--palettes-neutral-700);
			text-transform: uppercase;
		}

		.month-body-week-day {
			position: relative;
			color: var(--palettes-neutral-700);

			&::before {
				background-color: var(--palettes-50, var(--palettes-product-50));
				position: absolute;
				inset: var(--pr-t-spacings-25) 0;
				content: var(--month-body-week-daySelectedBeforeContent);
				border-radius: var(--month-body-week-daySelectedBeforeBorderRadius);
			}
		}

		.month-body-week-day-action {
			@include reset.button;

			width: var(--pr-t-spacings-400);
			height: var(--pr-t-spacings-400);
			border-radius: var(--commons-borderRadius-L);
			position: relative;
			z-index: 1;
			text-align: center;
			overflow: hidden;
			font-weight: var(--month-body-week-day-actionFontWeight);
			color: var(--month-body-week-day-actionColor);
			background-color: var(--month-body-week-day-actionHighlight);
			display: var(--month-body-week-day-actionDisplay);
			box-shadow:
				0 0 0 1px var(--month-body-week-day-actionHighlight),
				0 0 0 1px var(--month-body-week-day-actionHighlight) inset;

			&:disabled {
				color: var(--palettes-neutral-500);
				text-decoration: line-through;
				cursor: default;
			}

			&:not(:disabled) {
				&:hover,
				&:focus-visible {
					@include a11y.focusVisible;

					outline-width: var(--month-body-week-day-actionOutlineWidth);
					outline-offset: var(--month-body-week-day-actionOutlineOffset);
					outline-color: var(--palettes-700, var(--palettes-product-700));
				}

				&:active {
					outline: 2px solid var(--palettes-800, var(--palettes-product-800));
					background-color: var(--palettes-800, var(--palettes-product-800));
					color: var(--palettes-0, var(--palettes-product-0));
				}
			}
		}

		.month-body-week-day-action-stripes {
			position: absolute;
			top: 0;
			left: 0;
			width: 60px;
			height: 60px;
			z-index: -1;
			display: var(--month-body-week-day-action-stripesDisplay);
		}
	}
}
