@mixin daysOff {
	.month-body-week-day-action {
		&:not(:disabled) {
			&:active {
				--month-body-week-day-action-stripesColor: var(--palettes-product-900);
			}
		}
	}
}

@mixin today {
	.month-body-week-day-action {
		--month-body-week-day-actionFontWeight: 600;
		--month-body-week-day-actionColor: var(--palettes-700, var(--palettes-product-700));
	}
}

@mixin selected {
	&::before {
		--month-body-week-daySelectedBeforeContent: '';
	}

	&.is-daysOff {
		.month-body-week-day-action {
			--month-body-week-day-action-stripesColor: var(--palettes-200, var(--palettes-product-200));

			&:active {
				--month-body-week-day-action-stripesColor: var(--palettes-900, var(--palettes-product-900));
			}
		}
	}
}

@mixin tips {
	.month-body-week-day-action {
		--month-body-week-day-actionColor: var(--palettes-0, var(--palettes-product-0));
		--month-body-week-day-actionHighlight: var(--palettes-700, var(--palettes-product-700));

		&:hover {
			--month-body-week-day-actionHighlight: var(--palettes-600, var(--palettes-product-600));
			--month-body-week-day-action-stripesColor: var(--palettes-700, var(--palettes-product-700));
			--month-body-week-day-actionOutlineWidth: 0;
		}

		&:active {
			--month-body-week-day-actionHighlight: var(--palettes-800, var(--palettes-product800));
			--month-body-week-day-action-stripesColor: var(--palettes-900, var(--palettes-product-900));
		}

		&:focus-visible {
			--month-body-week-day-actionOutlineOffset: 2px;
		}
	}

	&.is-daysOff {
		.month-body-week-day-action {
			--month-body-week-day-action-stripesColor: var(--palettes-800, var(--palettes-product-800));
		}
	}
}

@mixin start {
	@include tips;

	&::before {
		--month-body-week-daySelectedBeforeBorderRadius: var(--commons-borderRadius-L) 0 0 var(--commons-borderRadius-L);
	}

	// &:has(+ .is-end) {
	// 	.month-body-week-day-action {
	// 		border-radius: var(--commons-borderRadius-L) 0 0 var(--commons-borderRadius-L);
	// 	}

	// 	&::before {
	// 		top: 1px;
	// 		bottom: 1px;
	// 		background-color: var(--palettes-product-700);
	// 	}
	// }

	// + .is-end {
	// 	.month-body-week-day-action {
	// 		border-radius: 0 var(--commons-borderRadius-L) var(--commons-borderRadius-L) 0;
	// 	}

	// 	&::before {
	// 		top: 1px;
	// 		bottom: 1px;
	// 		background-color: var(--palettes-product-700);
	// 	}
	// }
}

@mixin end {
	@include tips;

	&::before {
		--month-body-week-daySelectedBeforeBorderRadius: 0 var(--commons-borderRadius-L) var(--commons-borderRadius-L) 0;
	}
}

@mixin overflow {
	.month-body-week-day-action {
		--month-body-week-day-actionColor: var(--palettes-neutral-600);
	}
}

@mixin selectionInProgressBeforeWeek($parent, $child, $start, $action, $event) {
	#{$child + $event} {
		&:has(#{$action}) {
			@include selected;

			--month-body-week-daySelectedBeforeBorderRadius: var(--commons-borderRadius-L) 0 0 var(--commons-borderRadius-L);
		}
	}

	#{$child + $event} ~ #{$child} {
		&:has(#{$action}) {
			@include selected;
		}
	}

	~ #{$parent} {
		&:not(#{$parent}:has(#{$start}) ~ #{$parent}) {
			#{$child} {
				&:not(#{$start} ~ #{$child}) {
					&:has(#{$action}) {
						@include selected;
					}
				}
			}
		}
	}
	~ #{$parent}:has(#{$start}) {
		#{$start} {
			&::before {
				--month-body-week-daySelectedBeforeBorderRadius: 0 var(--commons-borderRadius-L) var(--commons-borderRadius-L) 0;
			}
		}
	}
}

@mixin selectionInProgressAfterWeek($parent, $child, $start, $action, $event) {
	~ #{$parent} {
		&:not(&#{$event} ~ #{$parent}) {
			#{$child} {
				&:not(#{$child + $event} ~ #{$child}) {
					&:has(#{$action}) {
						@include selected;

						#{$event} {
							--month-body-week-daySelectedBeforeBorderRadius: 0 var(--commons-borderRadius-L) var(--commons-borderRadius-L) 0;
						}
					}
				}
			}
		}
	}

	#{$start} ~ #{$child} {
		&:has(#{$action}) {
			@include selected;

			#{$event} {
				--month-body-week-daySelectedBeforeBorderRadius: 0 var(--commons-borderRadius-L) var(--commons-borderRadius-L) 0;
			}
		}
	}
}

@mixin selectionInProgressSameWeekBeforeDay($parent, $child, $start, $action, $event) {
	#{$child + $event} ~ #{$child} {
		&:not(#{$start} ~ #{$child}) {
			@include selected;
		}
	}

	#{$child + $event} {
		@include selected;

		--month-body-week-daySelectedBeforeBorderRadius: var(--commons-borderRadius-L) 0 0 var(--commons-borderRadius-L);
	}

	#{$start} {
		&::before {
			--month-body-week-daySelectedBeforeBorderRadius: 0 var(--commons-borderRadius-L) var(--commons-borderRadius-L) 0;
		}
	}
}

@mixin selectionInProgressSameWeekAfterDay($parent, $child, $start, $action, $event) {
	#{$start} ~ #{$child} {
		&:not(#{$child + $event} ~ #{$child}) {
			&:has(#{$action}) {
				@include selected;

				#{$event} {
					--month-body-week-daySelectedBeforeBorderRadius: 0 var(--commons-borderRadius-L) var(--commons-borderRadius-L) 0;
				}
			}
		}
	}
}

@mixin selectionInProgress($event) {
	$parent: '.month-body-week';
	$child: '.month-body-week-day';
	$start: #{$child + '.is-start'};
	$action: '.month-body-week-day-action:not(:disabled)';

	#{$parent} {
		&:has(#{$start}) {
			&:has(~ #{$parent} #{$child + $event}) {
				@include selectionInProgressAfterWeek($parent, $child, $start, $action, $event);
			}
		}
	}

	#{$parent} {
		&:has(#{$child + $event}) {
			&:has(~ #{$parent} #{$start}) {
				@include selectionInProgressBeforeWeek($parent, $child, $start, $action, $event);
			}
		}
	}

	#{$parent} {
		&:has(#{$start} ~ #{$child + $event}) {
			@include selectionInProgressSameWeekAfterDay($parent, $child, $start, $action, $event);
		}

		&:has(#{$child + $event} ~ #{$start}) {
			@include selectionInProgressSameWeekBeforeDay($parent, $child, $start, $action, $event);
		}
	}
}
