@mixin vars {
	--month-body-week-day-action-stripesColor: var(--palettes-neutral-200);
	--month-body-week-day-actionHighlight: transparent;
	--month-body-week-day-actionFontWeight: 400;
	--month-body-week-day-actionColor: inherit;
	--month-body-week-day-actionOutlineWidth: 2px;
	--month-body-week-day-actionOutlineOffset: -1px;
	--month-body-week-daySelectedBeforeContent: none;
	--month-body-week-daySelectedBeforeBorderRadius: 0;
	--month-body-week-day-actionDisplay: block;
	--month-body-week-day-action-stripesDisplay: block;
}
