.file {
	border: 2px dashed _theme("commons.divider.color");
	border-radius: _theme("commons.border.radius");
	display: block;
	max-width: 30rem;
	padding: _theme("spacings.biggest") _theme("spacings.standard");
	position: relative;
	text-align: center;
}

.file-icon {
	font-size: 1.5rem;
	color: _color("primary", "200");
}

.file-title {
	margin-bottom: 0;
	font-size: _theme("sizes.big.font-size");
	font-weight: 600;
	margin-bottom: 0;
}

.file-or {
	font-size: _theme("sizes.small.font-size");
	margin-bottom: _theme("spacings.smallest");
}

.file-format {
	color: _color("text.light");
	margin-top: _theme("spacings.smaller");
}

.file-progress {
	margin: _theme("spacings.small") 0 _theme("spacings.smaller");
}

.file-name {
	color: _color("text.light");
}

.file-input {
	display: none;
}


// MODS
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

.file {
	&.mod-small {
		align-items: center;
		display: flex;
		justify-content: space-between;
		padding: _theme("spacings.smaller") _theme("spacings.standard");
		text-align: left;

		.file-icon {
			position: absolute;
			top: .75rem;
			left: 1.3rem;
			font-size: 1rem;
		}

		.file-title {
			display: flex;
			flex-direction: column;
			font-size: _theme("sizes.standard.font-size");
			font-weight: 600;
			margin: 0;
		}

		.file-progress {
			margin: _theme("spacings.smaller") 0;
		}

		.file-name {
			font-size: _theme("sizes.small.font-size");
		}
	}
	
	&.mod-icon {
		padding: _theme("spacings.smaller") _theme("spacings.standard")
		_theme("spacings.smaller") _theme("spacings.bigger");
	}
}


// STATES
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

.file {
	&.is-droppable {
		background: _theme("commons.background.base");
		.file-icon {
			color: _color("primary", "500");
		}
	}

	&.is_disabled {
		.file-title,
		.file-or,
		.file-format {
			color: _theme("commons.disabled.color");
		}
	}
}
