.file {
	max-width: 30rem; // magic number
	min-height: 16rem; // magic number
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: _theme("spacings.standard");
	position: relative;
	text-align: center;
}

.file-icon {
	font-size: _theme("sizes.bigger.font-size");
	margin: 0 _theme("spacings.smallest");
	display: none;
}

.file-title {
	margin-bottom: 0;
	font-size: _theme("sizes.big.font-size");
	font-weight: 600;
	display: block;
	position: relative;
}

.file-or {
	font-size: _theme("sizes.small.font-size");
	margin-bottom: _theme("spacings.smallest");
	display: block;
	position: relative;
}

.file-progress {
	display: block;
	margin: _theme("spacings.small") 0 _theme("spacings.smaller");
}

.file-name {
	&:not(:empty) {
		display: block;
		margin-bottom: _theme("spacings.small");
		color: _color("primary", "600");
	}
}

.file-formats {
	display: block;
	color: _color("primary", "600");
	position: relative;
}

.file-button {
	&:empty {
		display: none;
	}
}

.file-input {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.001;
	z-index: 1;

	~ .file-content {
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			border: 2px dashed _theme("commons.divider.color");
			border-radius: _theme("commons.border.radius");
		}
	}

	&:hover, &:focus {
		&:not(:disabled) {
			~ .file-content {
				.file-button {
					background-color: _color("primary", "50");
					color: _color("primary", "500");
					box-shadow: 0 2px 8px rgba(black, .04), 0 1px 2px rgba(black, .06), 0 0 0 1px _color("primary", "500") inset;
				}
			}
		}
	}

	&:focus {
		&:not(:disabled) {
			~ .file-content {
				&::before {
					border-color: _color("primary", "500");
				}

				.file-button {
					box-shadow: 0 2px 8px rgba(0, 0, 0, .04), 0 1px 2px rgba(0, 0, 0, .06), 0 0 0 4px _color("primary", "50"), 0 0 0 1px _color("primary", "500") inset;
				}
			}
		}
	}

	&:active {
		&:not(:disabled) {
			~ .file-content {
				.file-button {
					background-color: _color("primary", "50");
					color: _color("primary", "800");
					box-shadow: inset 0 0 0 1px _color("primary", "800");
				}
			}
		}
	}

	&:not(.is-uploading) {
		~ .file-content {
			.file-progress {
				display: none;
			}
		}
	}

	&:disabled {
		cursor: not-allowed;

		~ .file-content {
			.file-title, .file-or, .file-formats, .file-button {
				color: _theme("commons.disabled.color");
			}
		}
	}

	&.is-droppable {
		~ .file-content {
			&::before {
				background-color: _theme("commons.background.base");
			}
		}
	}

	&.is-uploaded {
		~ .file-content {
			.file-title {
				color: _color("success");
			}

			.file-icon.icon-success {
				display: block;
			}
		}
	}

	&[aria-invalid="true"] {
		~ .file-content {
			.file-title {
				color: _color("error");
			}

			.file-icon.icon-error {
				display: block;
			}
		}
	}
}

// MODS
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒f

@mixin file-mod-small() {
	padding: _theme("spacings.smaller") _theme("spacings.standard");
	text-align: left;
	min-height: 4rem; // magic number

	.file-input {
		&:not(.is-uploading) {
			~ .file-content {
				display: flex;
				align-items: center;
			}
		}
	}

	.file-name {
		margin-bottom: 0;
	}

	.file-or, .file-formats {
		@include mask;
	}

	.file-button {
		margin-left: auto;

		&::first-letter {
			text-transform: capitalize;
		}
	}

	.file-icon {
		font-size: _theme("sizes.standard.font-size");
		line-height: _theme("sizes.standard.line-height");
		margin-bottom: _theme("spacings.standard");
	}

	.file-title {
		font-size: _theme("sizes.standard.font-size");
		padding-right: _theme("spacings.smaller");
		margin: 0;
	}

	.file-progress {
		margin: _theme("spacings.smaller") 0;
	}
}

.file {
	&.mod-small {
		@include file-mod-small();
	}

	&.mod-icon {
		padding: _theme("spacings.smaller") _theme("spacings.standard")
		_theme("spacings.smaller") _theme("spacings.bigger");
	}
}


// STATES
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

// legacy
.file {
	&.is-droppable {
		background-color: _theme("commons.background.base");

		.file-icon {
			color: _color("primary", "500");
		}
	}

	&.is_disabled {
		.file-title, .file-or, .file-formats, .button {
			color: _theme("commons.disabled.color");
		}

		.button {
			&, &:hover, &:focus, &:active {
				cursor: not-allowed;
				box-shadow: 0 0 0 1px inset;
				background-color: transparent;
			}
		}
	}
}
