@use 'exports' as *;

// stylelint-disable-next-line selector-disallowed-list -- .lu-dropdown-content is deprecated
.lu-dropdown-content.lu-popover-content,
.dropdown {
	@layer components {
		@include vars;
		@include component;
	}
}

// stylelint-disable-next-line selector-disallowed-list -- .lu-dropdown-options-item-action is deprecated
.lu-dropdown-options-item-action,
.dropdown-list-option-action {
	@layer mods {
		&[disabled],
		&.is-disabled {
			@include disabled;
		}

		&.mod-critical,
		&.mod-delete {
			@include critical;
		}
	}
}
