@mixin critical {
	--components-dropdown-list-option-action-color: var(--pr-t-color-text-critical);

	&:hover,
	&:focus-visible {
		--components-dropdown-list-option-action-backgroundColor: var(--palettes-critical-50);
	}

	&:active {
		--components-dropdown-list-option-action-backgroundColor: var(--palettes-critical-100);
	}
}
