@mixin critical {
	--components-dropdown-option-actionColor: var(--pr-t-color-text-critical);

	&:hover,
	&:focus-visible {
		--components-dropdown-option-actionBackground: var(--palettes-error-50);
	}

	&:active {
		--components-dropdown-option-actionBackground: var(--palettes-error-100);
	}
}
