@mixin delete {
	--components-dropdown-option-actionColor: var(--palettes-error-800);

	&:hover,
	&:focus-visible {
		--components-dropdown-option-actionBackground: var(--palettes-error-50);
	}

	&:active {
		--components-dropdown-option-actionBackground: var(--palettes-error-100);
	}
}
