@mixin disabled {
	--components-dropdown-option-actionColor: var(--pr-t-color-text-disabled);
	--components-dropdown-option-actionEvents: none;

	&,
	&:hover {
		--components-dropdown-option-actionBackground: var(--palettes-neutral-0);
	}
}
