@mixin vars {
	--components-dropdown-maxWidth: 90vw;
	--components-dropdown-maxHeight: 60vh;

	--components-dropdown-list-minWidth: 10rem;
	--components-dropdown-list-maxWidth: 30rem;

	--components-dropdown-list-option-action-color: currentColor;
	--components-dropdown-list-option-action-backgroundColor: transparent;
	--components-dropdown-list-option-action-pointerEvents: auto;
}
