@mixin vars {
	--components-dropdown-minInlineSize: 10rem;

	--components-dropdown-maxInlineSize: 30rem;
	--components-dropdown-maxBlockSize: min(60vh, 30rem);

	--components-dropdown-list-option-action-color: currentColor;
	--components-dropdown-list-option-action-backgroundColor: transparent;
	--components-dropdown-list-option-action-pointerEvents: auto;
}
