@use "@lucca-front/scss/src/components/button/exports" as button;

.addOption {
	@include button.vars;
	@include button.component;
	@include button.block;
	@include button.withIcon;
	@include button.text;

	justify-content: left;

	&.highlighted {
		--components-button-color: var(--palettes-700, var(--palettes-neutral-700));
		--components-button-backgroundColor: var(--palettes-100, var(--palettes-neutral-100));
	}
}
