@use 'sass:map';
@use '@lucca-front/scss/src/commons/core';
@use '@lucca-front/scss/src/commons/config';
@use '@lucca-front/scss/src/commons/utils/a11y';
@use '@lucca-front/scss/src/commons/utils/namespace';
@use '@lucca-front/scss/src/commons/utils/color';

@mixin body {
	background-color: var(--pr-t-elevation-surface-default);
	color: var(--palettes-neutral-800);
	font-family: var(--commons-font-family);
	font-size: var(--sizes-M-fontSize);
	line-height: var(--sizes-M-lineHeight);

	@supports (-webkit-touch-callout: none) {
		min-block-size: -webkit-fill-available;
	}
}

@mixin html {
	block-size: -webkit-fill-available;
}

@mixin base($atRoot: namespace.$defaultAtRoot) {
	@at-root ($atRoot) {
		@include core.fontFace(config.$fontFamily, config.$fontWeights);

		@if config.$fontFamilyCursive {
			@include core.fontFace(config.$fontFamilyCursive, config.$fontWeightsCursive);
		}

		*,
		::after,
		::before {
			box-sizing: border-box;
		}

		::placeholder {
			opacity: 1;
		}

		@if config.$isNamespaced {
			& {
				@include body;
				@include html;
			}
		} @else {
			html {
				@include html;
			}

			body {
				@include body;
			}
		}

		p {
			margin: 0;

			@if config.$deprecatedSpacings {
				margin-block-end: var(--pr-t-spacings-150);
			}
		}

		ul,
		ol {
			margin: 0;
			padding-inline-start: var(--pr-t-spacings-400);

			@if config.$deprecatedSpacings {
				margin-block-end: var(--pr-t-spacings-150);
			}
		}

		abbr {
			&[title] {
				border: none;
				text-decoration: none;
			}
		}

		a {
			color: var(--commons-text-link-color);
			cursor: pointer;
			text-decoration: underline;

			&:hover {
				color: var(--commons-text-link-hover);
			}

			&:focus-visible {
				@include a11y.focusVisible($borderRadius: var(--commons-borderRadius-M));
			}
		}

		button {
			&:focus-visible {
				@include a11y.focusVisible;
			}
		}

		strong,
		b {
			font-weight: 600;
		}

		@each $palette in config.$palettesAll {
			$paletteExists: map.get(config.$palettesInterpolation, $palette);

			@if $paletteExists {
				.palette-#{$palette} {
					@include color.palette($name: $palette, $palette: $paletteExists);
				}
			}
		}
	}
}
