@use 'sass:map';
@use 'sass:list';

@use '@lucca-front/scss/src/commons/config';
@use '@lucca-front/scss/src/commons/utils/a11y';

@mixin base($atRoot: 'without: rule') {
	@at-root ($atRoot) {
		@font-face {
			font-family: 'Source Sans Pro';
			src: url('//cdn.lucca.fr/fonts/SourceSans/sourcesanspro-regular.woff2') format('woff2'),
				url('//cdn.lucca.fr/fonts/SourceSans/sourcesanspro-regular.woff') format('woff');
			font-weight: 400;
			font-style: normal;
			font-display: swap;
		}

		@font-face {
			font-family: 'Source Sans Pro';
			src: url('//cdn.lucca.fr/fonts/SourceSans/sourcesanspro-semibold.woff2') format('woff2'),
				url('//cdn.lucca.fr/fonts/SourceSans/sourcesanspro-semibold.woff') format('woff');
			font-weight: 600;
			font-style: normal;
			font-display: swap;
		}

		@font-face {
			font-family: 'Source Sans Pro';
			src: url('//cdn.lucca.fr/fonts/SourceSans/sourcesanspro-bold.woff2') format('woff2'),
				url('//cdn.lucca.fr/fonts/SourceSans/sourcesanspro-bold.woff') format('woff');
			font-weight: 700;
			font-style: normal;
			font-display: swap;
		}

		@font-face {
			font-family: 'Source Sans Pro';
			src: url('//cdn.lucca.fr/fonts/SourceSans/sourcesanspro-black.woff2') format('woff2'),
				url('//cdn.lucca.fr/fonts/SourceSans/sourcesanspro-black.woff') format('woff');
			font-weight: 900;
			font-style: normal;
			font-display: swap;
		}

		*,
		::after,
		::before {
			box-sizing: border-box;
		}

		html {
			height: -webkit-fill-available;
		}

		body {
			background-color: var(--commons-background-base);
			color: var(--palettes-grey-800);
			font-family: var(--commons-font-family);
			font-size: var(--sizes-M-fontSize);
			line-height: var(--sizes-M-lineHeight);

			@supports (-webkit-touch-callout: none) {
				min-height: -webkit-fill-available;
			}
		}

		p {
			margin: 0 0 var(--spacings-S);
		}

		abbr {
			&[title] {
				border: none;
				text-decoration: none;
			}
		}

		a {
			color: var(--commons-text-link-color);
			cursor: pointer;
			text-decoration: underline;

			&:hover {
				color: var(--commons-text-link-hover);
			}

			&:focus-visible {
				@include a11y.focusVisible($borderRadius: var(--commons-borderRadius-M));
			}
		}

		strong,
		b {
			font-weight: 600;
		}

		@each $palette in list.join(config.$palettes, config.$states) {
			.palette-#{$palette} {
				@each $shade in map.keys(config.$primary) {
					--palettes-#{$shade}: var(--palettes-#{$palette}-#{$shade});
				}
			}
		}
	}
}
