@use 'sass:list';

$shades: text, 25, 50, 100, 200, 300, 400, 500, 600, 700, 800, 900;
$states: 'error', 'warning', 'success';
$palettes: 'lucca', 'primary', 'secondary', 'grey', 'navigation';
$newPalettes: 'brand', 'product', 'neutral' !default;
$decoratives: 'kiwi', 'lime', 'cucumber', 'mint', 'glacier', 'lagoon', 'blueberry', 'lavender', 'grape', 'watermelon', 'pumpkin',
	'pineapple' !default;

$palettes: list.join($palettes, $newPalettes);
$allPalettes: list.join($palettes, $states);
$allPalettes: list.join($allPalettes, $decoratives);

$brand: (
	text: #ffffff,
	50: #fff1eb,
	100: #ffe0d1,
	200: #ffccb3,
	300: #ffbe9e,
	400: #ffaa80,
	500: #ff9361,
	600: #ff7b3d,
	700: #e06029,
	800: #b43409,
	900: #611405,
);

$product: (
	text: #ffffff,
	50: #fff1eb,
	100: #ffe0d1,
	200: #ffccb3,
	300: #ffbe9e,
	400: #ffaa80,
	500: #ff9361,
	600: #ff7b3d,
	700: #e06029,
	800: #b43409,
	900: #611405,
) !default;

$neutral: (
	text: #ffffff,
	25: #f3f6fc,
	50: #e7edf9,
	100: #dbe3f5,
	200: #ced9ee,
	300: #becbe4,
	400: #acbbd7,
	500: #96a6c5,
	600: #667799,
	700: #445473,
	800: #2a3551,
	900: #0b1732,
);

$navigation: (
	text: #ffffff,
	700: #313972,
	800: #192157,
	900: #12183f,
);

// Colors: states

$success: (
	text: #ffffff,
	50: #dbfae0,
	100: #bef3c7,
	200: #a2ebaf,
	300: #84e695,
	400: #68d97b,
	500: #57c769,
	600: #39b155,
	700: #279b42,
	800: #0a762e,
	900: #004d20,
);

$warning: (
	text: #ffffff,
	50: #fff2db,
	100: #ffe9c2,
	200: #ffdb9e,
	300: #ffd080,
	400: #ffc35c,
	500: #ffb13d,
	600: #ff9d00,
	700: #f08800,
	800: #c25100,
	900: #802a00,
);

$error: (
	text: #ffffff,
	50: #ffebec,
	100: #ffd6d8,
	200: #fdbebe,
	300: #faa3a3,
	400: #fa8989,
	500: #f76e6e,
	600: #f15050,
	700: #da2f2f,
	800: #aa0e0e,
	900: #630303,
);

// Colors: Decoratives

$kiwi: (
	50: #ecf7de,
	100: #d7eeb9,
	200: #c7e79c,
	300: #aed57c,
	400: #96c856,
	500: #7cbb2a,
	600: #68a716,
	700: #4f840b,
	800: #3e6808,
	900: #2d4b06,
) !default;

$lime: (
	50: #e2f7df,
	100: #c5eebe,
	200: #a7e69e,
	300: #88d57c,
	400: #74cb67,
	500: #54ba45,
	600: #45a437,
	700: #1c7c0e,
	800: #16600b,
	900: #104508,
) !default;

$cucumber: (
	50: #ddf9eb,
	100: #c0f2d9,
	200: #98ecc2,
	300: #71daa6,
	400: #54c98f,
	500: #2db973,
	600: #12a55c,
	700: #008a45,
	800: #006b36,
	900: #005229,
) !default;

$mint: (
	50: #d9f7f1,
	100: #bbf2e7,
	200: #99ebda,
	300: #68d9c3,
	400: #31c4a6,
	500: #0fb392,
	600: #089b7e,
	700: #008a6e,
	800: #006b56,
	900: #004d3d,
) !default;

$glacier: (
	50: #e0f6f6,
	100: #c4eded,
	200: #a1e3e3,
	300: #73d3d3,
	400: #4dc7c7,
	500: #20b6b6,
	600: #08a0a0,
	700: #008a8a,
	800: #006b6b,
	900: #005252,
) !default;

$lagoon: (
	50: #dff3fb,
	100: #bfe7f8,
	200: #9fdaf4,
	300: #75c7ea,
	400: #49b5e4,
	500: #28a3d7,
	600: #148ec2,
	700: #086c96,
	800: #065374,
	900: #05425c,
) !default;

$blueberry: (
	50: #dfe8fb,
	100: #c8d8f9,
	200: #b1c8f6,
	300: #98b4eb,
	400: #769be5,
	500: #628cdf,
	600: #4777d7,
	700: #295cc2,
	800: #1b4498,
	900: #153575,
) !default;

$lavender: (
	50: #eadffb,
	100: #dfcdf9,
	200: #d3bbf7,
	300: #c3a8eb,
	400: #b493e6,
	500: #a17cda,
	600: #9165d2,
	700: #7647bd,
	800: #5f369b,
	900: #4a2a79,
) !default;

$grape: (
	50: #f5e3fc,
	100: #eed0fb,
	200: #e9c2f9,
	300: #d4a6e8,
	400: #ba84d2,
	500: #ad71c6,
	600: #9a57b7,
	700: #8133a3,
	800: #620f85,
	900: #470b60,
) !default;

$watermelon: (
	50: #f7dee4,
	100: #f1c1cd,
	200: #eaa4b5,
	300: #e48ba1,
	400: #db6683,
	500: #d4496c,
	600: #be2d51,
	700: #a7163a,
	800: #8d0729,
	900: #6f0620,
) !default;

$pumpkin: (
	50: #fdecd8,
	100: #fbddbc,
	200: #f9cf9f,
	300: #f4b771,
	400: #ef9c3e,
	500: #eb8e24,
	600: #db7500,
	700: #c26700,
	800: #8f4c00,
	900: #5c3100,
) !default;

$pineapple: (
	50: #fdf8e3,
	100: #faf2c6,
	200: #f8eaa5,
	300: #f9e16c,
	400: #f8dc4f,
	500: #e7c623,
	600: #d6b300,
	700: #c29e00,
	800: #9e8100,
	900: #7a6400,
) !default;

$colors: (
	'white': #ffffff,
	'black': #121212,
);

$colorsRgb: (
	'white': '255, 255, 255',
	'grey-900': '19, 29, 53',
);

// https://sass-lang.com/documentation/variables/#advanced-variable-functions
$palettesInterpolation: (
	'lucca': $brand,
	'brand': $brand,
	'grey': $neutral,
	'neutral': $neutral,
	'primary': $product,
	'secondary': $product,
	'product': $product,
	'navigation': $navigation,
	'success': $success,
	'error': $error,
	'warning': $warning,
	'kiwi': $kiwi,
	'lime': $lime,
	'cucumber': $cucumber,
	'mint': $mint,
	'glacier': $glacier,
	'lagoon': $lagoon,
	'blueberry': $blueberry,
	'lavender': $lavender,
	'grape': $grape,
	'watermelon': $watermelon,
	'pumpkin': $pumpkin,
	'pineapple': $pineapple,
);

$breakpoints: (
	XXXS: 320px,
	XXS: 480px,
	XS: 640px,
	S: 800px,
	M: 1024px,
	L: 1280px,
	XL: 1366px,
	XXL: 1600px,
	XXXL: 1920px,
);

$spacings: (
	'0': 0,
	XXS: 0.25rem,
	XS: 0.5rem,
	S: 1rem,
	M: 1.5rem,
	L: 2rem,
	XL: 3rem,
	XXL: 4rem,
) !default;

$sizes: (
	XS: (
		fontSize: 0.75rem,
		lineHeight: 1rem,
		verticalPadding: 0,
	),
	S: (
		fontSize: 0.875rem,
		lineHeight: 1.25rem,
		verticalPadding: 0.125rem,
	),
	M: (
		fontSize: 1rem,
		lineHeight: 1.5rem,
		verticalPadding: 0.125rem,
	),
	L: (
		fontSize: 1.125rem,
		lineHeight: 1.5rem,
		verticalPadding: 0.25rem,
	),
	XL: (
		fontSize: 1.375rem,
		lineHeight: 1.75rem,
		verticalPadding: 0.5rem,
	),
	XXL: (
		fontSize: 1.75rem,
		lineHeight: 2rem,
		verticalPadding: 0.25rem,
	),
	XXXL: (
		fontSize: 2.25rem,
		lineHeight: 2.5rem,
		verticalPadding: 0.5rem,
	),
);

$borderRadius: (
	'M': 4px,
	'L': 8px,
) !default;

$elevations: (
	// deprecated
	'1': '0 1px 2px rgba(var(--colors-grey-900-rgb), 0.06), 0px 2px 8px rgba(var(--colors-grey-900-rgb), 0.04)',
	'2':
		'0 0 0 1px rgba(var(--colors-grey-900-rgb), 0.03), 0 1px 2px rgba(var(--colors-grey-900-rgb), 0.02), 0 2px 6px rgba(var(--colors-grey-900-rgb), 0.05)',
	'3':
		'0 0 0 1px rgba(var(--colors-grey-900-rgb), 0.03), 0 2px 4px rgba(var(--colors-grey-900-rgb), 0.02), 0 4px 10px rgba(var(--colors-grey-900-rgb), 0.06)',
	'4':
		'0 0 0 1px rgba(var(--colors-grey-900-rgb), 0.03), 0 3px 6px rgba(var(--colors-grey-900-rgb), 0.04), 0 4px 16px rgba(var(--colors-grey-900-rgb), 0.08)',
	'5':
		'0 0 0 1px rgba(var(--colors-grey-900-rgb), 0.03), 0 4px 8px rgba(var(--colors-grey-900-rgb), 0.06), 0 12px 32px rgba(var(--colors-grey-900-rgb), 0.08)',
	'6':
		'0 0 0 1px rgba(var(--colors-grey-900-rgb), 0.03), -2px 2px 8px rgba(var(--colors-grey-900-rgb), 0.04), -12px 6px 24px rgba(var(--colors-grey-900-rgb), 0.06)'
);

$boxShadows: (
	'XXS': '0 2px 8px rgba(var(--colors-grey-900-rgb), .2), 0 1px 2px rgba(var(--colors-grey-900-rgb), 0.15)',
	// deprecated
	'XS': '0 1px 2px rgba(var(--colors-grey-900-rgb), 0.06), 0 2px 8px rgba(var(--colors-grey-900-rgb), 0.04)',
	'S':
		'0 0 0 1px rgba(var(--colors-grey-900-rgb), 0.03), 0 1px 2px rgba(var(--colors-grey-900-rgb), 0.02), 0 2px 6px rgba(var(--colors-grey-900-rgb), 0.06)',
	'M':
		'0 0 0 1px rgba(var(--colors-grey-900-rgb), 0.03), 0 2px 4px rgba(var(--colors-grey-900-rgb), 0.02), 0 4px 10px rgba(var(--colors-grey-900-rgb), 0.06)',
	'L':
		'0 0 0 1px rgba(var(--colors-grey-900-rgb), 0.03), 0 3px 6px rgba(var(--colors-grey-900-rgb), 0.04), 0 4px 16px rgba(var(--colors-grey-900-rgb), 0.08)',
	'XL':
		'0 0 0 1px rgba(var(--colors-grey-900-rgb), 0.03), 0 4px 8px rgba(var(--colors-grey-900-rgb), 0.06), 0 12px 32px rgba(var(--colors-grey-900-rgb), 0.08)',
	'XXL':
		'0 0 0 1px rgba(var(--colors-grey-900-rgb), 0.03), -2px 2px 8px rgba(var(--colors-grey-900-rgb), 0.04), -12px 6px 24px rgba(var(--colors-grey-900-rgb), 0.06)',
);

$disabled: (
	'opacity': 0.4,
	'background': 'var(--palettes-grey-100)',
	'color': 'var(--palettes-grey-600)',
	'placeholder': 'var(--palettes-grey-400)',
);

$animations: (
	'translate': 3rem,
	'function': ease,
	'iteration-count': 5,
);

$durations: (
	'fast': 150ms,
	'standard': 250ms,
	'slow': 350ms,
);

$loading: (
	'frontground': var(--palettes-primary-500),
	'speed': 600ms,
);

$textLink: (
	color: var(--palettes-primary-700),
	hover: var(--palettes-primary-600),
	disabled: var(--palettes-grey-500),
);
