@use 'sass:string';
@use 'sass:map';
@use 'sass:list';

@use '@lucca-front/scss/src/commons/config';
@use '@lucca-front/icons/src/commons/core' as transform;

$contents: '100\\%', 'fit-content';
$boxModel: 'margin', 'padding', 'border';
$boxDirection: '', 'top', 'bottom', 'left', 'right', 'inline', 'block';
$corners: '', 'top-left-', 'top-right-', 'bottom-left-', 'bottom-right-';
$gaps: 'column-gap', 'row-gap', 'gap';
$displays: 'block', 'flex', 'inline', 'inline-flex', 'inline-block', 'contents', 'none';
$direction: 'column', 'column-reverse', 'row', 'row-reverse';
$wrap: 'wrap', 'nowrap', 'wrap-reverse';
// flex-start and flex-end are deprecated
$justify: 'flex-start', 'start', 'flex-end', 'end', 'space-around', 'space-between', 'space-evenly', 'center';
// flex-start and flex-end are deprecated
$align: 'flex-start', 'start', 'flex-end', 'end', 'baseline', 'stretch', 'center';
$flex: '0', '1';
$basis: '0', 'auto';
$order: '-1', '1';
$textAlign: 'left', 'center', 'right';
$visibility: 'visible', 'hidden', 'collapse';
$fontWeight: '400', '600', '700', '900', 'normal', 'bold';
$fontStyle: 'normal', 'italic';
$pointerEvents: 'none', 'auto';
$scrollBehavior: 'auto', 'smooth';
$whiteSpace: 'normal', 'nowrap', 'pre-line';
$float: 'left', 'right';
$verticalAlign: 'baseline', 'sub', 'super', 'text-top', 'text-bottom', 'middle', 'top', 'bottom';
$position: 'absolute', 'relative', 'static', 'fixed', 'sticky';
$decoration: 'underline', 'line-through', 'none';
$overflow: 'hidden', 'auto', 'visible', 'scroll';

/* Tokens */

@mixin spacing($boxModel, $boxDirection, $key, $value, $suffix: '!important', $token: true) {
	@if $token {
		.pr-u-#{transform.camelize($boxModel)}#{transform.capitalize($boxDirection)}#{transform.capitalize($key)} {
			#{$boxModel}#{if($boxDirection == '', '', '-')}#{$boxDirection}: var(--pr-t-spacings-#{$key}) #{$suffix};
		}
	} @else {
		.u-#{transform.camelize($boxModel)}#{transform.capitalize($boxDirection)}#{transform.capitalize($key)} {
			#{$boxModel}#{if($boxDirection == '', '', '-')}#{$boxDirection}: var(--spacings-#{$key}) #{$suffix};
		}
	}
}

@mixin spacings($token: true) {
	$spacings: config.$spacingsDeprecated;
	@if $token {
		$spacings: config.$spacings;
	}
	@each $boxModel in $boxModel {
		@each $boxDirection in $boxDirection {
			@each $key, $value in $spacings {
				@if $boxModel != 'border' or $value == 0 {
					@include spacing($boxModel, $boxDirection, $key, $value, $token: $token);
				}
			}

			@if $boxModel == 'margin' {
				@include spacing($boxModel, $boxDirection, $key: 'auto', $value: auto, $token: $token);
			}
		}
	}

	@each $gap in $gaps {
		@each $key, $value in $spacings {
			@include spacing($gap, $boxDirection: '', $key: $key, $value: $value, $token: $token);
		}
	}
}

/* Variables */

@mixin cssvars($name, $properties, $after: '') {
	@each $key, $value in $properties {
		--#{$name}#{if($key == '', '', '-')}#{$key}#{$after}: #{$value};
	}
}

@mixin classes($name, $properties, $suffix: '!important', $prefix: '') {
	@each $property in $properties {
		@if $prefix == '' {
			.u-#{transform.camelize($name)}#{if(string.slice($property, 1, 1) == '-', 'Minus', '')}#{transform.capitalize(transform.camelize($property))} {
				#{$name}: #{transform.replace($property, '\\', '')} #{$suffix};
			}
		} @else {
			.u-#{$prefix}#{transform.capitalize(transform.camelize($name))}#{if(string.slice($property, 1, 1) == '-', 'Minus', '')}#{transform.capitalize(transform.camelize($property))} {
				#{$name}: #{transform.replace($property, '\\', '')} #{$suffix};
			}
		}
	}
}

@mixin sizes($suffix: '!important') {
	@each $key, $value in config.$sizes {
		.u-text#{transform.capitalize($key)} {
			font-size: var(--sizes-#{$key}-fontSize) #{$suffix};
			line-height: var(--sizes-#{$key}-lineHeight) #{$suffix};
		}
	}
}

@mixin palettes($suffix: '!important') {
	@each $palette in config.$palettesAll {
		.u-text#{transform.capitalize($palette)} {
			color: var(--palettes-#{$palette}-700) #{$suffix};
		}
	}
}

@mixin borderRadius($suffix: '!important') {
	@each $corner in $corners {
		@each $key, $value in config.$borderRadius {
			.u-border#{transform.capitalize(transform.camelize($corner))}Radius#{transform.capitalize($key)} {
				border-#{$corner}radius: $value #{$suffix};
			}
		}
	}
}

@mixin rosetta($before, $after, $iterations) {
	@if type-of($iterations) == map {
		@each $iterationBefore, $iterationAfter in $iterations {
			@if type-of($iterationAfter) == string {
				#{$before}-#{$iterationBefore}: var(#{$after}-#{$iterationAfter});
			} @else {
				#{$before}-#{$iterationBefore}: #{$iterationAfter};
			}
		}
	} @else {
		@each $iteration in $iterations {
			#{$before}-#{$iteration}: var(#{$after}-#{$iteration});
		}
	}
}
