@use '@lucca-front/scss/src/commons/config';
@use '@lucca-front/scss/src/commons/core';

@mixin vars {
	@include core.cssvars('commons-borderRadius', config.$borderRadius);
	@include core.cssvars('commons-animations', config.$animations);
	@include core.cssvars('commons-animations-durations', config.$durations);
	@include core.cssvars('commons-disabled', config.$disabled);
	@include core.cssvars('commons-loading', config.$loading);
	@include core.cssvars('commons-text-link', config.$textLink);

	@include core.cssvars('palettes-lucca', config.$lucca);
	@include core.cssvars('palettes-primary', config.$primary);
	@include core.cssvars('palettes-secondary', config.$secondary);
	@include core.cssvars('palettes-grey', config.$grey);
	@include core.cssvars('palettes-navigation', config.$navigation);
	@include core.cssvars('palettes-success', config.$success);
	@include core.cssvars('palettes-warning', config.$warning);
	@include core.cssvars('palettes-error', config.$error);
	@include core.cssvars('palettes-kiwi', config.$kiwi);
	@include core.cssvars('palettes-lime', config.$lime);
	@include core.cssvars('palettes-cucumber', config.$cucumber);
	@include core.cssvars('palettes-mint', config.$mint);
	@include core.cssvars('palettes-glacier', config.$glacier);
	@include core.cssvars('palettes-lagoon', config.$lagoon);
	@include core.cssvars('palettes-blueberry', config.$blueberry);
	@include core.cssvars('palettes-lavender', config.$lavender);
	@include core.cssvars('palettes-grape', config.$grape);
	@include core.cssvars('palettes-watermelon', config.$watermelon);
	@include core.cssvars('palettes-pumpkin', config.$pumpkin);
	@include core.cssvars('palettes-pineapple', config.$pineapple);

	@include core.cssvars('breakpoints', config.$breakpoints, '-breakAt');
	@include core.cssvars('spacings', config.$spacings);

	@include core.cssvars('commons-elevations-elevation', config.$elevations);
	@include core.cssvars('commons-boxShadow', config.$boxShadows);

	@each $key, $map in config.$sizes {
		@include core.cssvars('sizes-#{$key}', $map);
	}

	@include core.cssvars('colors', config.$colors, '-color');
	@include core.cssvars('colors', config.$colorsRgb, '-rgb');

	--commons-background-base: var(--palettes-grey-25);
	--commons-banner-height: 50px;
	--commons-font-family: 'Source Sans Pro', Tahoma, sans-serif;
	--commons-divider-width: 1px;
	--commons-divider-color: var(--palettes-grey-200); // deprecated
	--commons-divider-style: solid;
	--commons-divider-border: var(--commons-divider-width) var(--commons-divider-style) var(--commons-divider-color);
	--commons-border-100: var(--palettes-grey-100);
	--commons-border-200: var(--palettes-grey-200);
}
