.lu-dropdown-content {
	margin: calc(#{_theme("spacings.smaller", true)} * -1);
	margin: calc(#{_theme("spacings.smaller")} * -1);
	padding: 0;
	border-radius: _theme("commons.border.radius", true);
	border-radius: _theme("commons.border.radius");
	width: _component("dropdown.width", true);
	width: _component("dropdown.width");
	max-width: _component("dropdown.max-width", true);
	max-width: _component("dropdown.max-width");
	max-height: _component("dropdown.max-height", true);
	max-height: _component("dropdown.max-height");
	overflow-x: hidden;
	overflow-y: auto;
}

//.lu-dropdown-options-item-children, 
.lu-dropdown-options {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

/*
.lu-dropdown-options-item {
	&.mod-withChildren {
		border-color: _color("primary", "lighter", true);
		border-color: _color("primary", "lighter");

		&:not(:first-child) {
			border-top-width: 2px;
			border-top-style: solid;
		}

		&:not(:last-child) {
			border-bottom-width: 2px;
			border-bottom-style: solid;
		}

		& + .mod-withChildren {
			border-top-width: 0;
		}
	}

	&[aria-hidden='false'] {
		.expand {
			display: none;
		}
	}

	&:not([aria-hidden='false']) {
		.collapse,
		.lu-dropdown-options-item-children {
			display: none;
		}
	}
}
*/

//.lu-dropdown-options-item-toggle,
//.lu-dropdown-options-item-children-item-action,
.lu-dropdown-options-item-action {
	display: block;
	background-color: transparent;
	border: 0;
	padding: _theme("spacings.smaller", true) _theme("spacings.small", true);
	padding: _theme("spacings.smaller") _theme("spacings.small");
	margin: _theme("spacings.smallest", true) 0;
	margin: _theme("spacings.smallest") 0;
	cursor: pointer;
	width: 100%;
	text-align: left;
	transition: background-color _theme("commons.animations.durations.standard", true);
	transition: background-color _theme("commons.animations.durations.standard");
	text-decoration: none;

	&,
	&:hover,
	&:focus {
		color: currentColor;
	}

	/*
	&:focus {
		outline: 1px dotted;
	}
	*/
	
	&:focus, // delete this line when sub-menus are implemented
	&:hover {
		background-color: _color("primary", 100, true);
		background-color: _color("primary", 100);
	}

	&.is-disabled {
		color: _color("text.placeholder", "color", true);
		color: _color("text.placeholder");
		&:hover, &:focus {
			pointer-events: none;
			background-color: #ffffff;
		}
	}
}

/*
.lu-dropdown-options-item-toggle {
	position: relative;
	padding-right: _theme("spacings.big", true);
	padding-right: _theme("spacings.big");

	.lucca-icon {
		position: absolute;
		right: _theme("spacings.small", true);
		right: _theme("spacings.small");
		top: 50%;
		transform: translateY(-50%);
		font-size: _theme("sizes.smaller.font-size", true);
		font-size: _theme("sizes.smaller.font-size");
	}
}
*/