@use '@lucca-front/scss/src/commons/utils/media';

@mixin component($atRoot: 'without: rule') {
	padding: var(--spacings-L) 2.5rem var(--spacings-M);

	.menu {
		margin-top: var(--spacings-XS);
	}

	@at-root ($atRoot) {
		.pageHeader-content {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			flex-wrap: wrap;
			row-gap: var(--spacings-XS);
		}

		.pageHeader-content-title {
			display: flex;
			column-gap: var(--spacings-S);
			align-items: center;
			flex-wrap: wrap;
		}

		.pageHeader-content-actions {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			row-gap: var(--spacings-S);
		}

		.pageHeader-content-actions {
			gap: var(--spacings-S);

			.button {
				margin: 0;

				@include media.max('XS') {
					flex: 1;
				}
			}

			.textfield.mod-search {
				@include media.max('XS') {
					width: 100%;
					flex: auto;
				}
			}
		}

		.pageHeader-description {
			max-width: var(--components-pageHeader-description-max-width);
			margin-top: var(--spacings-XS);
			color: var(--palettes-grey-700);
		}
	}
}
