@use '@lucca-front/scss/src/commons/utils/media';
@use '@lucca-front/scss/src/commons/utils/namespace';

@mixin component($atRoot: namespace.$defaultAtRoot) {
	padding: var(--components-pageHeader-padding);

	// .menu is deprecated
	.horizontalNavigation,
	.menu {
		margin-block-start: var(--pr-t-spacings-100);
	}

	@at-root ($atRoot) {
		.pageHeader-content {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			flex-wrap: wrap;
			row-gap: var(--pr-t-spacings-100);
		}

		.pageHeader-content-title {
			display: flex;
			column-gap: var(--pr-t-spacings-100);
			align-items: center;
			flex-wrap: wrap;
			min-height: var(--pr-t-spacings-500);
		}

		.pageHeader-content-actions,
		.pageHeader-content-title-back,
		.pageHeader-content-title-actions {
			&:empty {
				display: none;
			}
		}

		.pageHeader-content-actions {
			gap: var(--pr-t-spacings-150);
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			row-gap: var(--pr-t-spacings-200);

			.button {
				margin: 0;

				@include media.max('XS') {
					flex: 1;
				}
			}

			.textfield.mod-search {
				@include media.max('XS') {
					inline-size: 100%;
					flex: auto;
				}
			}
		}

		.pageHeader-description {
			max-inline-size: var(--components-pageHeader-description-max-width);
			margin-block-start: var(--pr-t-spacings-100);
			color: var(--palettes-neutral-700);
		}

		.pageHeader-description-paragraph {
			margin: 0;
		}
	}
}
