@mixin component($atRoot: 'without: rule') {
	padding: var(--pr-t-spacings-400) 2.5rem var(--pr-t-spacings-300);

	.menu {
		margin-top: var(--pr-t-spacings-100);
	}

	@at-root ($atRoot) {
		.pageHeaderResponsiveWrapper {
			container-type: size;
			container-name: pageHeader;
		}

		.pageHeader-content {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			flex-wrap: wrap;
			row-gap: var(--pr-t-spacings-100);
		}

		.pageHeader-content-title {
			display: flex;
			column-gap: var(--pr-t-spacings-100);
			align-items: center;
			flex-wrap: wrap;
		}

		.pageHeader-content-actions {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			row-gap: var(--pr-t-spacings-200);
		}

		.pageHeader-content-actions {
			gap: var(--pr-t-spacings-200);

			.button {
				margin: 0;
				flex-grow: 1;
			}
		}

		.pageHeader-description {
			max-width: var(--components-pageHeader-description-max-width);
			margin-top: var(--pr-t-spacings-100);
			color: var(--palettes-neutral-700);
		}
	}
}
