@use 'exports' as *;
@use '@lucca-front/scss/src/commons/utils/media';

.pageHeader {
	@layer components {
		@include vars;
		@include component;
	}

	@layer mods {
		// .mod-withMenu is deprecated
		&.mod-withHorizontalNavigation,
		&:has(.horizontalNavigation),
		&.mod-withMenu {
			@include horizontalNavigation;
		}

		&:has(.breadcrumbs),
		&.mod-withBreadcrumbs {
			@include breadcrumbs;
		}

		&.mod-sticky {
			@include sticky;

			@include media.min('S') {
				@include stickyWide;
			}
		}

		@include media.min('S') {
			@include wide;
		}

		&:has(.pageHeader-containerOptional) {
			@include withContainer;
		}

		&:has(.pageHeader-content-title-back:not(:empty)) {
			@include withBackButton;
		}
	}
}
