@use '@lucca-front/scss/src/commons/utils/media';

@mixin horizontalNavigation {
	padding-block-end: 0;

	// .menu is deprecated
	.horizontalNavigation,
	.menu {
		margin-block-start: var(--pr-t-spacings-50);
	}
}

@mixin breadcrumbs {
	padding-block-start: var(--pr-t-spacings-200);

	.breadcrumbs {
		margin-block-end: 0;
	}
}

@mixin sticky {
	background-color: var(--pr-t-elevation-surface-default);
	inset-block-start: var(--commons-banner-height);
	position: sticky;
	inset-inline: 0;
	z-index: 99;

	@include media.max('S') {
		inset-block-start: calc(var(--commons-banner-height) + var(--commons-navSide-mobile-toggle-height));
		inset-inline-start: 0 !important;
	}
}
