@use '@lucca-front/scss/src/commons/utils/media';

@mixin menu {
	padding-bottom: 0;
}

@mixin breadcrumbs {
	padding-top: var(--spacings-S);

	.breadcrumbs {
		margin-bottom: 0;
	}
}

@mixin sticky {
	background-color: var(--commons-background-base);
	top: var(--commons-banner-height);
	position: sticky;
	left: 0;
	right: 0;
	z-index: 99;

	@include media.max('S') {
		top: calc(var(--commons-banner-height) + var(--commons-navSide-mobile-toggle-height));
		left: 0 !important;
	}
}
