@use '@lucca-front/scss/src/components/calendar';

lu-date-input {
	max-width: var(--components-dateInput-width, 16.25rem);
	display: block;
}

/*
.rangePicker-content {
	position: relative;
	width: var(--components-rangePicker-content-width);

	&::before {
		content: '';
		position: absolute;
		background-color: var(--palettes-product-100);
		border-radius: var(--commons-borderRadius-M);
		pointer-events: none;
		inset: var(--pr-t-spacings-50);
		inset-inline-end: var(--components-rangePicker-content-inlineEnd);
	}

	&.mod-start {
		--components-rangePicker-content-width: calc(50% - var(--pr-t-spacings-300));
		--components-rangePicker-content-inlineEnd: calc(var(--pr-t-spacings-200) + var(--pr-t-spacings-50));
	}

	&.mod-end {
		--components-rangePicker-content-width: calc(50% + var(--pr-t-spacings-300));
		--components-rangePicker-content-inlineEnd: calc(var(--pr-t-spacings-800) + var(--pr-t-spacings-50));
	}
}

.rangePicker-input-value {
	position: relative;
	padding-right: var(--components-rangePicker-content-inlineEnd);
}

.rangePicker-arrow {
	position: absolute;
	left: calc(50% - calc(var(--pr-t-spacings-400) + var(--pr-t-spacings-150)));
	color: var(--palettes-neutral-700);
	pointer-events: none;
	padding: var(--pr-t-spacings-50);
	border-radius: var(--commons-borderRadius-M);
}
*/
