.demo-animation {
	padding: 1rem;
	text-align: center;
	margin-block-start: 0.5rem 0.25rem;
	margin-inline: 0;
}

.animated-block {
	background-color: var(--palettes-neutral-0);
	border: 1px solid var(--palettes-neutral-200);
	padding-block: 0.5em;
	padding-inline: 1em;
	block-size: 60px;
	inline-size: 100%;
}

.scss-demo-block {
	text-align: center;
	cursor: pointer;
}

.ng-demo-block {
	block-size: 100px;
	h3 .button {
		margin-inline-start: 1rem;
	}
}
