@mixin vars {
	--components-mobilePush-flex-direction: row;
	--components-mobilePush-content-align-items: center;
	--components-mobilePush-icon-content-align-items: center;
	--components-mobilePush-align-gap: var(--pr-t-spacings-100);
}
