<h1>refacto-tooltip</h1>
<h2>tooltip</h2>
<span class="label" luTooltip="lol">basic</span>

<h2>popover</h2>
<button type="button" class="button" [luPopover]="basic">click me</button>
<lu-popover #basic>basic-est of popovers</lu-popover>

<hr />

<span class="label" *ngIf="display" luTooltip="ngif">blinking throuh ngif</span>
<span class="label" [class.u-displayNone]="!display" luTooltip="display-none">blinking throuh display-none</span>
<p [class.u-displayNone]="!display">
	lorem ipsum yaddi yaddi yadda - this text block changes the position of the tooltip trigger below it
</p>
<span class="label" luTooltip="moving trigger/target">moving cuz layout changes</span>

<pre>{{ interval$ | async }}</pre>
