@use '@lucca-front/icons/src/commons/utils/icon';
@use '@lucca-front/scss/src/commons/utils/a11y';

@mixin component($atRoot: 'without: rule') {
	display: block;
	position: relative;
	line-height: var(--sizes-M-lineHeight);

	@at-root ($atRoot) {
		.checkbox-label {
			transition-duration: var(--commons-animations-durations-fast);
			transition-property: color;
			display: inline-flex;
			align-items: start;
			cursor: pointer;
			vertical-align: top;

			&::before {
				@include icon.generate('sign_confirm');

				background-color: var(--colors-white-color);
				width: var(--components-checkbox-input-size);
				height: var(--components-checkbox-input-size);
				border-radius: 6px;
				transition-duration: var(--commons-animations-durations-fast);
				transition-property: border-color, color, background-color;
				border: var(--components-checkbox-input-border-width) solid var(--palettes-neutral-700);
				line-height: calc(var(--components-checkbox-input-size) - var(--components-checkbox-input-border-width) * 2);
				font-size: var(--components-checkbox-input-size);
				flex-grow: 0;
				flex-shrink: 0;
				flex-basis: auto;
				color: transparent;
				display: block;
				text-align: center;
				margin-top: 2px;
				margin-right: var(--pr-t-spacings-100);
				transform: translate3d(0, 0, 0); // Fix box-shadow artifacts
				text-indent: calc(var(--components-checkbox-input-border-width) * -1);
			}

			&:hover {
				&::before {
					border-color: var(--palettes-neutral-600);
				}
			}

			&:active {
				&::before {
					border-color: var(--palettes-neutral-800);
				}
			}
		}

		.checkbox-label-helper {
			color: var(--palettes-neutral-600);
			font-size: var(--sizes-S-fontSize);
			line-height: var(--sizes-S-lineHeight);
		}

		.checkbox-input {
			@include a11y.mask;

			&:checked ~ .checkbox-label {
				&::before {
					color: var(--colors-white-color);
					background-color: var(--palettes-700, var(--palettes-product-700));
					border-color: var(--palettes-700, var(--palettes-product-700));
				}
			}

			&:not(:disabled):checked ~ .checkbox-label {
				&:hover {
					&::before {
						background-color: var(--palettes-600, var(--palettes-product-600));
						border-color: var(--palettes-600, var(--palettes-product-600));
					}
				}

				&:active {
					&::before {
						background-color: var(--palettes-800, var(--palettes-product-800));
						border-color: var(--palettes-800, var(--palettes-product-800));
					}
				}
			}

			&:focus-visible ~ .checkbox-label {
				&::before {
					@include a11y.focusVisible;
				}
			}
		}
	}
}
