@use '@lucca-front/icons/src/commons/utils/icon';
@use '@lucca-front/scss/src/commons/utils/a11y';

@mixin component($atRoot: 'without: rule') {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-column-gap: var(--spacings-XS);

	@at-root ($atRoot) {
		.checkbox-label {
			display: contents;
		}

		.checkbox-label-input {
			width: var(--component-checkbox-label-input-size);
			height: var(--component-checkbox-label-input-size);
			border: 2px solid var(--palettes-grey-700);
			border-radius: var(--component-checkbox-label-input-borderRadius);
			position: relative;
			top: 0.25rem;
			color: var(--colors-white-color);
			transition-property: color, border-color, background-color;
			transition-duration: var(--commons-animations-durations-fast);
			transition-delay: 0s, 0s, var(--commons-animations-durations-fast);
			background-color: var(--colors-white-color);
			cursor: pointer;

			@media (prefers-reduced-motion: reduce) {
				transition-property: none;
			}

			&::after {
				content: '';
				position: absolute;
				inset: -2px;
				outline-offset: 2px;
				border-radius: var(--component-checkbox-label-input-borderRadius);
			}
		}

		.checkbox-label-input-icon {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 100%;
			transform: scale(0);
			transition-property: transform;
			transition-duration: var(--commons-animations-durations-standard);
			transition-timing-function: cubic-bezier(0.5, -0.5, 0.5, 0);

			@media (prefers-reduced-motion: reduce) {
				transition-property: none;
			}

			&::before {
				font-weight: 400;
				font-size: var(--component-checkbox-label-input-icon-fontSize);
				direction: ltr;
				font-family: 'Lucca icons';
				font-feature-settings: 'liga';
				font-style: normal;
				letter-spacing: normal;
				line-height: 1;
				text-transform: none;
				white-space: nowrap;
				word-wrap: normal;
				content: '\e97d';
			}
		}

		.checkbox-label-text {
			font-size: var(--component-checkbox-label-fontSize);
			line-height: var(--component-checkbox-label-lineHeight);
			width: fit-content;
			cursor: pointer;
		}

		.checkbox-label-text-required {
			color: var(--palettes-error-700);
		}

		.checkbox-message {
			grid-column: 2;
			color: var(--palettes-grey-700);
			font-size: var(--component-checkbox-message-fontSize);
			line-height: var(--component-checkbox-message-lineHeight);
			display: flex;
		}

		.checkbox-message-icon {
			font-weight: 400;
			direction: ltr;
			font-family: 'Lucca icons';
			font-feature-settings: 'liga';
			font-style: normal;
			letter-spacing: normal;
			line-height: 1;
			text-transform: none;
			white-space: nowrap;
			word-wrap: normal;
			position: relative;
			top: var(--component-checkbox-message-icon-top);
		}

		.checkbox-input {
			@include a11y.mask;
		}
	}
}
