@mixin inline {
	vertical-align: middle;
	display: inline-block;
	margin-right: 1.5rem;
}

@mixin big($label: '.checkbox-label') {
	#{$label} {
		line-height: 1.75rem;

		&::before {
			font-size: 1.1rem;
			height: 1.25rem;
			width: 1.25rem;
			margin-top: 1px;
		}
	}
}

@mixin small($label: '.checkbox-label') {
	#{$label} {
		font-size: var(--sizes-small-font-size);
		line-height: var(--sizes-small-line-height);

		&::before {
			width: var(--sizes-smaller-font-size);
			height: var(--sizes-smaller-font-size);
			font-size: var(--sizes-smaller-font-size);
			margin-top: var(--components-checkbox-input-small-top);
		}
	}
}

@mixin noLabel($label: '.checkbox-label') {
	height: 1rem;

	#{$label} {
		vertical-align: top;

		&::before {
			margin: 0;
		}
	}
}
