@mixin inline {
	vertical-align: middle;
	display: inline-block;
	margin-inline-end: var(--pr-t-spacings-300);
}

@mixin S {
	--components-checkbox-input-size: 1rem;

	line-height: var(--pr-t-font-lineHeight-250);

	.checkbox-label {
		font-size: var(--pr-t-font-fontSize-175);

		&::before {
			border-radius: var(--commons-borderRadius-M);
		}
	}

	.checkbox-label-helper {
		font-size: var(--pr-t-font-fontSize-150);
		line-height: var(--pr-t-font-lineHeight-200);
	}
}

@mixin noLabel {
	line-height: var(--components-checkbox-input-size);

	.checkbox-label {
		vertical-align: top;

		&::before {
			margin: 0;
		}
	}
}
