@use '../../../../icons/src/mixins' as icon;
@use '../../commons/utils/form';

@mixin disabled {
	~ .checkbox-label {
		color: var(--palettes-grey-500);
		cursor: default;

		&::before {
			border-color: var(--palettes-grey-500);
			border-style: solid;
			border-width: 2px;
		}
	}

	&:checked ~ .checkbox-label {
		&::before {
			color: var(--palettes-grey-500);
			background-color: var(--palettes-grey-200);
			border-color: var(--palettes-grey-200);
			border-style: solid;
			border-width: 2px;
		}
	}
}

@mixin incomplete {
	~ .checkbox-mixed ~ .checkbox-label,
	~ .checkbox-label {
		&::before {
			@include icon.makeIcon('partial');
		}
	}
}

@mixin required {
	~ .checkbox-label,
	.checkbox-label {
		&:not(:empty) {
			&::after {
				@include form.required;
			}
		}
	}
}

@mixin state($state) {
	.checkbox-label {
		&::before {
			border-color: var(--palettes-#{$state}-600);
		}
	}
}
