@use '@lucca-front/icons/src/commons/utils/icon';
@use '@lucca-front/scss/src/commons/utils/form';

@mixin mixed {
	~ .checkbox-label {
		.checkbox-label-input-icon {
			&::before {
				content: '\e975';
			}
		}
	}
}

@mixin checked {
	~ .checkbox-label {
		.checkbox-label-input {
			background-color: var(--palettes-primary-700);
			border-color: var(--palettes-primary-700);
			transition-delay: 0s;
		}

		.checkbox-label-input-icon {
			transform: scale(1);
			transition-timing-function: cubic-bezier(0.5, 1, 0.5, 1.5);
		}
	}
}

@mixin hover {
	~ .checkbox-label {
		.checkbox-label-input {
			border-color: var(--palettes-grey-600);
		}
	}
}

@mixin checkedHover {
	~ .checkbox-label {
		.checkbox-label-input {
			background-color: var(--palettes-primary-600);
			border-color: var(--palettes-primary-600);
		}
	}
}

@mixin checkedActive {
	~ .checkbox-label {
		.checkbox-label-input {
			background-color: var(--palettes-primary-800);
			border-color: var(--palettes-primary-800);
		}
	}
}

@mixin checkedDisabled {
	~ .checkbox-label {
		.checkbox-label-input {
			background-color: var(--palettes-grey-100);
			border-color: var(--palettes-grey-100);
			color: var(--palettes-grey-500);
		}
	}
}

@mixin checkedHover {
	~ .checkbox-label {
		.checkbox-label-input {
			background-color: var(--palettes-primary-600);
			border-color: var(--palettes-primary-600);
		}
	}
}

@mixin checkedInvalid {
	~ .checkbox-label {
		.checkbox-label-input {
			background-color: var(--palettes-error-700);
		}
	}
}

@mixin active {
	~ .checkbox-label {
		.checkbox-label-input {
			border-color: var(--palettes-grey-800);
		}
	}
}

@mixin disabled {
	~ .checkbox-label,
	~ .checkbox-message {
		color: var(--palettes-grey-500);
	}

	~ .checkbox-label {
		.checkbox-label-input {
			border-color: var(--palettes-grey-500);
		}

		.checkbox-label-text,
		.checkbox-label-input {
			cursor: default;
		}
	}
}

@mixin focusVisible {
	~ .checkbox-label {
		.checkbox-label-input {
			&::after {
				outline: 2px solid var(--palettes-primary-700);
			}
		}
	}
}

@mixin invalid {
	~ .checkbox-label {
		.checkbox-label-input {
			border-color: var(--palettes-error-700);
		}
	}
}

@mixin invalidHover {
	~ .checkbox-label {
		.checkbox-label-input {
			border-color: var(--palettes-error-600);
		}
	}
}

@mixin invalidActive {
	~ .checkbox-label {
		.checkbox-label-input {
			border-color: var(--palettes-error-800);
		}
	}
}

@mixin checkedInvalidHover {
	~ .checkbox-label {
		.checkbox-label-input {
			background-color: var(--palettes-error-600);
		}
	}
}

@mixin checkedInvalidActive {
	~ .checkbox-label {
		.checkbox-label-input {
			background-color: var(--palettes-error-800);
		}
	}
}
