@mixin vars {
	--components-checkbox-default-palette-50: var(--palettes-primary-50);
	--components-checkbox-default-palette-100: var(--palettes-primary-100);
	--components-checkbox-default-palette-200: var(--palettes-primary-200);
	--components-checkbox-default-palette-300: var(--palettes-primary-300);
	--components-checkbox-default-palette-400: var(--palettes-primary-400);
	--components-checkbox-default-palette-500: var(--palettes-primary-500);
	--components-checkbox-default-palette-600: var(--palettes-primary-600);
	--components-checkbox-default-palette-700: var(--palettes-primary-700);
	--components-checkbox-default-palette-800: var(--palettes-primary-800);
	--components-checkbox-default-palette-900: var(--palettes-primary-900);
	--components-checkbox-label-line-height: var(--sizes-M-lineHeight);
	--components-checkbox-label-padding: 0 0 0 var(--spacings-M);
	--components-checkbox-input-margin-top: var(--spacings-XXS);
	--components-checkbox-S-input-top: 1px;
	--components-checkbox-input-margin-right: var(--spacings-XS);
	--components-checkbox-input-size: 1rem;
	--components-checkbox-input-border-radius: var(--commons-borderRadius);
	--components-checkbox-input-border-color: var(--palettes-grey-700);
	--components-checkbox-input-border-hover: var(--components-checkbox-default-palette-600);
}
