@mixin vars {
	--components-checkbox-default-palette-darker: #2d354d;
	--components-checkbox-default-palette-dark: #4c5775;
	--components-checkbox-default-palette-color: #9299b0;
	--components-checkbox-default-palette-light: #ccd1e0;
	--components-checkbox-default-palette-lighter: #e8eaf3;
	--components-checkbox-default-palette-lightest: #f7f9fd;
	--components-checkbox-default-palette-text: var(--colors-white-color);
	--components-checkbox-default-palette-see-through: rgba(146, 153, 176, 0.15);
	--components-checkbox-default-palette-50: #f7f8fd;
	--components-checkbox-default-palette-100: #f3f5fc;
	--components-checkbox-default-palette-200: #eceff8;
	--components-checkbox-default-palette-300: #dcdfef;
	--components-checkbox-default-palette-400: #cbcfe2;
	--components-checkbox-default-palette-500: #b7bbd1;
	--components-checkbox-default-palette-600: #898fae;
	--components-checkbox-default-palette-700: #485075;
	--components-checkbox-default-palette-800: #31395e;
	--components-checkbox-default-palette-900: #1e233e;
	--components-checkbox-label-line-height: 1.5rem;
	--components-checkbox-label-padding: 0 0 0 1.5rem;
	--components-checkbox-input-margin-top: var(--spacings-smallest);
	--components-checkbox-input-small-top: 1px;
	--components-checkbox-input-margin-right: var(--spacings-smaller);
	--components-checkbox-input-size: 1rem;
	--components-checkbox-input-border-radius: var(--commons-border-radius);
	--components-checkbox-input-border-color: var(--palettes-grey-700);
	--components-checkbox-input-border-hover: var(--palettes-primary-600);
}
