@use '@lucca-front/scss/src/components/keyframe/exports' as keyframe;

@mixin component($atRoot: 'without: rule') {
	@keyframes progress {
		0% {
			transform: scale(0, 1);
			opacity: 1;
		}

		100% {
			transform: scale(1, 1);
			opacity: 0.3;
		}
	}

	background-color: var(--commons-background-base);
	height: var(--components-progress-height);
	margin: var(--components-progress-margin-vertical) var(--components-progress-margin-horizontal);
	position: relative;
	overflow: hidden;

	@at-root ($atRoot) {
		.progress-bar {
			background-color: var(--palettes-700, var(--components-progress-bar-background));
			transition-duration: var(--commons-animations-durations-fast);
			transition-property: background-color, width;
			bottom: 0;
			left: 0;
			position: absolute;
			top: 0;

			&::after {
				animation: progress var(--components-progress-duration) infinite;
				background-image: var(--components-progress-bar-gradient);
				transform-origin: left;
				position: absolute;
				inset: 0;
				content: '';
			}
		}
	}
}
