@mixin indeterminate {
	@keyframes indeterminate {
		0% {
			left: calc(100% / -3);
			right: 100%;
		}

		100% {
			left: 100%;
			right: calc(100% / -3);
		}
	}

	.progress-bar {
		animation: indeterminate var(--components-progress-duration) infinite;
		width: calc(100% / 3) !important;
		animation-timing-function: linear;
	}
}
