@use '../animation/exports' as animation;

@mixin indeterminate {
	.progress-bar {
		@include animation.progressIndetereminate;

		animation: progressIndetereminate var(--components-progress-duration) infinite;
		width: 30%;
		animation-timing-function: linear;
	}
}
