@mixin indeterminate {
	@keyframes indeterminate {
		0% {
			inset-inline-start: calc(100% / -3);
			inset-inline-end: 100%;
		}

		100% {
			inset-inline-start: 100%;
			inset-inline-end: calc(100% / -3);
		}
	}

	.progress-bar {
		animation: indeterminate var(--components-progress-duration) infinite;
		width: calc(100% / 3) !important;
		animation-timing-function: linear;
	}
}
