@mixin state {
	.progress-bar {
		width: 100% !important;

		&::after {
			display: none;
		}
	}
}

@mixin success {
	@include state;

	--palettes-700: var(--palettes-success-700);
}

@mixin error {
	@include state;

	--palettes-700: var(--palettes-error-700);
}
