@mixin state($bar: '.progress-bar') {
	#{$bar} {
		width: 100% !important;

		&::after {
			display: none;
		}
	}
}

@mixin success($bar: '.progress-bar') {
	@include state($bar);

	#{$bar} {
		background-color: var(--palettes-success-700);
	}
}

@mixin error($bar: '.progress-bar') {
	@include state($bar);

	#{$bar} {
		background-color: var(--palettes-error-700);
	}
}
