@mixin vars {
	--components-progress-margin-vertical: var(--spacings-S);
	--components-progress-margin-horizontal: 0;
	--components-progress-height: var(--spacings-XXS);
	--components-progress-bar-background: var(--palettes-primary-700);
	--components-progress-bar-gradient: linear-gradient(to right, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.5) 100%);
	--components-progress-duration: 1.5s;
}
