@use '../../styles/definitions';

@include definitions.optionItemStyle;

.is-disabled {
	@layer mods {
		color: var(--palettes-neutral-500); // disabled token candidate
		user-select: none;
		cursor: default;

		&.is-selected {
			background-color: var(--commons-disabled-background);
		}

		&:hover {
			background-color: inherit;
		}
	}
}
