<h1>overlays-events</h1>
<h2>Popover</h2>
<button type="button" class="button" [luPopover]="thePopover" (luPopoverOnOpen)="onOpen()" (luPopoverOnClose)="onClose()">click me</button>
<lu-popover #thePopover>content</lu-popover>

<h2>Tooltip</h2>
<label class="label" luTooltip="tooltip" (luTooltipOnOpen)="onOpen()" (luTooltipOnClose)="onClose()">hover me</label>

<h2>Dropdown</h2>

<div class="button-group">
	<button type="button" class="button">Main action</button>
	<button type="button" class="button mod-more" [luDropdown]="dropdown" (luDropdownOnOpen)="onOpen()" (luDropdownOnClose)="onClose()">
		<span class="cdk-visually-hidden">
			More actions
		</span>
	</button>
</div>
<lu-dropdown #dropdown>
	<li class="lu-dropdown-options-item" >
		<a routerLink="." fragment="link1" class="lu-dropdown-options-item-action" luDropdownItem>Link 1</a>
	</li>
	<li class="lu-dropdown-options-item" >
		<button type="button" class="lu-dropdown-options-item-action" luDropdownItem (click)="debug()">Button 2</button>
	</li>
</lu-dropdown>

<h2>Select</h2>
<h3>Basic</h3>
<div class="textfield">
	<lu-select class="textfield-input" [(ngModel)]="item" (onPickerOpen)="onOpen()" (onPickerClose)="onClose()">
		<span *luDisplayer="let value">{{value}}</span>
		<lu-input-clearer *ngIf="true"></lu-input-clearer>
		<lu-option-picker>
			<lu-option value="1">1</lu-option>
			<lu-option value="2">2</lu-option>
		</lu-option-picker>
	</lu-select>
	<label class="textfield-label">Textfield label</label>
</div>
<h3>Api</h3>
<div class="textfield">
	<lu-api-select class="textfield-input" [(ngModel)]="item" api="/api/v3/departments" placeholder="Everything" (onOpen)="onOpen()" (onClose)="onClose()"></lu-api-select>
	<label class="textfield-label">Woobwoob</label>
</div>

<h3>User</h3>
<div class="textfield">
	<lu-user-select class="textfield-input" [(ngModel)]="user" placeholder="Everything" (onOpen)="onOpen()" (onClose)="onClose()"></lu-user-select>
	<label class="textfield-label">Woobwoob</label>
</div>
<h3>Department</h3>
<div class="textfield">
	<lu-department-select class="textfield-input" [(ngModel)]="department" (onOpen)="onOpen()" (onClose)="onClose()"></lu-department-select>
	<label for="" class="textfield-label">departments select</label>
</div>
<h3>Date</h3>
<div class="textfield">
	<lu-date-select class="textfield-input" [(ngModel)]="date" (onOpen)="onOpen()" (onClose)="onClose()"></lu-date-select>
	<label for="" class="textfield-label">date select</label>
</div>
