@use 'exports' as *;

.emptyState {
	@layer components {
		@include vars;
		@include component;
	}

	@layer mods {
		&.mod-page {
			@include page;
		}

		&.mod-center {
			@include center;
		}

		.table &,
		.indexTable &
		.dataTable & {
			@include insideTable;
		}

		.container & {
			@include insideContainer;
		}
	}
}
