@mixin page {
	background-image: var(--components-emptyState-illustration-foreground-bottom-left),
		var(--components-emptyState-illustration-background-bottom-left), var(--components-emptyState-illustration-foreground-top-right),
		var(--components-emptyState-illustration-background-top-right);
	background-repeat: no-repeat;
	background-size: var(--components-emptyState-illustration-size);
	background-position:
		bottom left,
		bottom left,
		top left var(--components-emptyState-illustration-top-right-offset-left),
		top left var(--components-emptyState-illustration-top-right-offset-left);

	--components-emptyState-heading-padding: var(--sizes-XXL-verticalPadding);
	--components-emptyState-heading-fontSize: var(--sizes-XXL-fontSize);
	--components-emptyState-heading-lineHeight: var(--sizes-XXL-lineHeight);
	--components-emptyState-heading-fontWeight: 900;

	.emptyState-content {
		background-color: var(--components-emptyState-background-color);
		box-shadow: 0 0 8px 4px var(--components-emptyState-background-color);
	}

	.emptyState-actions {
		.button {
			flex-basis: var(--components-emptyState-actions-width);
		}
	}
}

@mixin center {
	text-align: center;

	.emptyState-actions {
		justify-content: center;
	}
}
