@use '@lucca-front/scss/src/commons/utils/media';

@mixin page {
	background-image: var(--components-emptyState-illustration-foreground-bottom-left),
		var(--components-emptyState-illustration-background-bottom-left), var(--components-emptyState-illustration-foreground-top-right),
		var(--components-emptyState-illustration-background-top-right);
	background-repeat: no-repeat;
	background-position: bottom left, bottom left, top left var(--components-emptyState-illustration-top-right-offset-left),
		top left var(--components-emptyState-illustration-top-right-offset-left);

	@include media.max('S') {
		background-position: bottom left, bottom left, top left var(--components-emptyState-illustration-top-right-offset-left-S),
			top left var(--components-emptyState-illustration-top-right-offset-left-S);
		background-size: auto 10.875rem;
	}

	.emptyState-content {
		background-color: var(--components-emptyState-background-color);
		box-shadow: 0 0 8px 4px var(--components-emptyState-background-color);
	}
}

@mixin center {
	text-align: center;

	.emptyState-actions {
		justify-content: center;
	}
}
