@mixin vars {
	--components-emptyState-container-maxWidth: calc(100vw - var(--commons-navSide-width) - 7rem);
	--components-emptyState-container-left: calc(var(--commons-navSide-width) + 3.5rem);

	--components-emptyState-background-color: var(--pr-t-elevation-surface-default);
	--components-emptyState-illustration-top-right-offset-left: min(
		calc(100% + 5rem),
		calc(var(--components-emptyState-container-maxWidth) - 8.5rem)
	);
	--components-emptyState-illustration-top-right-offset-left-S: min(
		calc(100% + 3.5rem),
		calc(var(--components-emptyState-container-maxWidth) - 8.5rem)
	);
	--components-emptyState-illustration-background-bottom-left: url('https://cdn.lucca.fr/lucca-front/assets/empty-states/poplee/bubbles-bottom-left-01.svg');
	--components-emptyState-illustration-foreground-bottom-left: url('https://cdn.lucca.fr/lucca-front/assets/empty-states/poplee/core-hr-01.svg');
	--components-emptyState-illustration-background-top-right: url('https://cdn.lucca.fr/lucca-front/assets/empty-states/poplee/bubbles-top-right-01.svg');
	--components-emptyState-illustration-foreground-top-right: url('https://cdn.lucca.fr/lucca-front/assets/empty-states/generic/coffee-01.svg');
	--components-emptyState-illustration-size: auto;
	--components-emptyState-actions-width: auto;
}
