@mixin s {
  --comonents-numericBadge-size: 1.25rem;
  --comonents-numericBadge-borderRadius: 6px;
  --comonents-numericBadge-fontSize: var(--sizes-XS-fontSize);
  --comonents-numericBadge-lineHeight: var(--sizes-XS-lineHeight);
}

@mixin xs {
  --comonents-numericBadge-size: 1rem;
  --comonents-numericBadge-borderRadius: var(--commons-borderRadius-M);
  --comonents-numericBadge-fontSize: var(--sizes-XS-fontSize);
  --comonents-numericBadge-lineHeight: var(--sizes-XS-lineHeight);
}
