@use '@lucca-front/scss/src/commons/config';

@mixin S {
	--components-numericBadge-size: 1.25rem;
	--components-numericBadge-borderRadius: var(--pr-t-border-radius-small);
	--components-numericBadge-font: var(--pr-t-font-body-XS);

	// Deprecated
	--components-numericBadge-fontSize: var(--pr-t-font-body-XS-fontSize);
	--components-numericBadge-lineHeight: var(--pr-t-font-body-XS-lineHeight);
}

@mixin XS {
	--components-numericBadge-size: 1rem;
	--components-numericBadge-borderRadius: var(--pr-t-border-radius-small);
	--components-numericBadge-font: var(--pr-t-font-body-XS);

	// Deprecated
	--components-numericBadge-fontSize: var(--pr-t-font-body-XS-fontSize);
	--components-numericBadge-lineHeight: var(--pr-t-font-body-XS-lineHeight);
}

@mixin inherit {
	--components-numericBadge-background: var(--palettes-200, var(--palettes-product-200));
	--components-numericBadge-color: var(--palettes-800, var(--palettes-product-800));
}

@mixin brand {
	--components-numericBadge-background: var(--palettes-brand-200);
	--components-numericBadge-color: var(--palettes-brand-800);
}
