@mixin vars {
	--components-numericBadge-background: var(--palettes-200, var(--palettes-neutral-200));
	--components-numericBadge-color: var(--palettes-800, var(--palettes-neutral-700));
	--components-numericBadge-loadingColor: var(--palettes-500, var(--palettes-neutral-500));
	--components-numericBadge-size: 1.5rem;
	--components-numericBadge-font: var(--pr-t-font-body-S);
	--components-numericBadge-borderRadius: var(--commons-borderRadius-L);
}
