@mixin vars {
	--components-inputCard-content-display: block;
	--components-inputCard-borderColor: var(--palettes-neutral-300);
	--components-inputCard-boxShadow: none;
	--components-inputCard-paddingInline: var(--pr-t-spacings-200);
	--components-inputCard-paddingBlock: var(--pr-t-spacings-200);
	--components-inputCardHeader-backgroundColor: transparent;

	// 1.25rem = radio field input size
	// var(--pr-t-spacings-100) = radio field gap
	--components-inputCardContent-paddingInlineStart: calc(
		var(--components-inputCard-paddingInline)
		+ 1.25rem
		+ var(--pr-t-spacings-100)
	);
}
