@use 'exports' as *;

.clear {
	@layer components {
		@include vars;
		@include component;
	}

	@layer mods {
		&.mod-S {
			@include S;
		}

		// .palette-primary is deprecated
		&.palette-product,
		&.palette-primary {
			@include product;
		}

		&.mod-inverted {
			@include inverted;

			&:where(.palette-product) {
				@include invertedProduct;
			}
		}

		&[disabled] {
			cursor: default;

			@include disabled;
		}

		&[hidden],
		.filterPill[disabled] &,
		.filterPill:not(.is-filled) &,
		.textfield-input[disabled] &,
		.textfield-input:not(.is-filled) & {
			.multiSelect:not(.is-clearable) & {
				@include hidden;
			}
		}
	}
}
