@mixin primary {
  --components-clear-cross-color: var(--palettes-primary-700);
  --components-clear-disk-color: var(--colors-white-color);

  &:hover {
    --components-clear-disk-color: var(--palettes-primary-50);
  }

  &:active {
    --components-clear-disk-color: var(--palettes-primary-50);
  }
}

@mixin S {
  --components-clear-size: 0.75rem;
  --icon-size: .75rem;
}
