@mixin product {
	--components-clear-cross-color: var(--palettes-product-700);
	--components-clear-background: var(--colors-white-color);

	&:hover {
		--components-clear-background: var(--palettes-product-50);
	}

	&:active {
		--components-clear-background: var(--palettes-product-50);
	}
}

@mixin S {
	--components-clear-size: 0.75rem;
	--icon-size: 0.75rem;
}
