@use '@lucca-front/icons/src/commons/utils/icon';
@use '@lucca-front/scss/src/commons/utils/media';

@mixin component($atRoot: 'without: rule') {
	@keyframes toast {
		0% {
			transform: translateY(var(--spacings-S));
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}

	right: var(--components-toasts-right);
	top: var(--components-toasts-top);
	max-width: var(--components-toasts-maxwidth);
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	position: fixed;
	z-index: 9999;

	@at-root ($atRoot) {
		.toasts-item {
			display: flex;
			gap: .75rem;
			color: var(--components-toasts-color);
			padding: var(--components-toasts-padding);
			margin-bottom: var(--components-toasts-margin-bottom);
			background-color: var(--palettes-800, var(--components-toasts-background));
			animation-name: toast;
			animation-duration: var(--commons-animations-durations-standard);
			animation-iteration-count: 1;
			border-radius: var(--commons-borderRadius-M);
			overflow: hidden;
			position: relative;
			transform-origin: top;

			@include media.max('S') {
				border-radius: calc(var(--commons-borderRadius-M) + var(--commons-borderRadius-L));
				background-color: var(--palettes-grey-900);
			}
		}

		.toast-item-icon {
			margin-top: 2px;

			@include media.max('S') {
				display: flex;
				align-items: center;
				justify-content: center;
				flex-shrink: 0;
				align-self: flex-start;
				width: 1.25rem;
				height: 1.25rem;
				border-radius: 50%;
				font-size: var(--sizes-XS-lineHeight);
				background-color: var(--palettes-700, var(--palettes-primary-700));
			}
		}

		.toast-item-content {
			flex-grow: 1;
			display: flex;
			flex-direction: column;
			gap: var(--spacings-XS);
		}

		.toasts-item-kill {
			color: var(--colors-white-color);
			transition-property: opacity;
			transition-duration: var(--commons-animations-durations-fast);
			height: 1.25rem;
			min-width: 1.25rem;
			cursor: pointer;
			position: relative;
			border: 0;
			background: transparent;
			margin-top: 2px;

			&:hover {
				opacity: 0.66;
			}

			&::after {
				@include icon.generate('cross');
			}

			.lucca-icon {
				@include media.max('S') {
					font-size: var(--sizes-L-lineHeight);
				}
			}
		}
	}
}
