@use '@lucca-front/icons/src/commons/utils/icon';

@mixin component($atRoot: 'without: rule') {
	@keyframes toast {
		0% {
			transform: translateY(var(--spacings-S));
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}

	right: var(--components-toasts-right);
	top: var(--components-toasts-top);
	max-width: var(--components-toasts-maxwidth);
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	position: fixed;
	z-index: 9999;

	@at-root ($atRoot) {
		.toasts-item {
			display: flex;
			gap: 0.75rem;
			color: var(--components-toasts-color);
			padding: var(--components-toasts-padding);
			margin-bottom: var(--components-toasts-margin-bottom);
			background-color: var(--palettes-800, var(--components-toasts-background));
			animation-name: toast;
			animation-duration: var(--commons-animations-durations-standard);
			animation-iteration-count: 1;
			border-radius: var(--commons-borderRadius-M);
			overflow: hidden;
			position: relative;
			transform-origin: top;
		}

		.toast-item-icon {
			margin-top: 2px;
		}

		.toast-item-content {
			flex-grow: 1;
			display: flex;
			flex-direction: column;
			gap: var(--spacings-XS);
		}

		.toasts-item-kill {
			color: var(--colors-white-color);
			transition-property: opacity;
			transition-duration: var(--commons-animations-durations-fast);
			height: 1.25rem;
			min-width: 1.25rem;
			cursor: pointer;
			position: relative;
			border: 0;
			background: transparent;
			margin-top: 2px;

			&:hover {
				opacity: 0.66;
			}

			&::after {
				@include icon.generate('sign_close');
			}
		}
	}
}
