@mixin bottom {
	top: auto;
	bottom: var(--spacings-M);
}

@mixin circularGauge {
	@keyframes stroke {
		0% {
			stroke-dashoffset: 100.5;
		}

		100% {
			stroke-dashoffset: 0;
		}
	}

	&:hover {
		.circularGauge {
			circle {
				animation-play-state: paused;
			}
		}
	}

	&:focus-within {
		.circularGauge {
			circle {
				animation-play-state: paused;
			}
		}
	}

	.toasts-item-kill {
		transition: transform 100ms, opacity 100ms;

		.lucca-icon {
			position: absolute;
			inset: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			z-index: 2;
		}

		&::after {
			content: none;
		}

		&:hover,
		&:focus {
			outline: 0;
			opacity: 0.66;
		}

		.circularGauge {
			color: transparent;
			height: 1.25rem;
			pointer-events: none;
			position: absolute;
			top: 0;
			left: 0;
			width: 1.25rem;

			&::after {
				position: absolute;
				background-color: transparent;
				left: 2px;
				top: 2px;
				width: calc(100% - 4px);
				height: calc(100% - 4px);
				z-index: 1;
				border-radius: 50%;
				content: '';
			}

			svg {
				transform: rotate(-90deg);
				border-radius: 50%;
				width: 100%;
				height: auto;
				display: block;
			}

			circle {
				stroke-width: 20%;
				stroke-dasharray: 100.5, 100.5;
				stroke: var(--colors-white-color);
				fill: currentColor;
				animation-name: stroke;
				animation-timing-function: linear;
				animation-fill-mode: forwards;
			}
		}
	}
}
