@mixin bottom {
	top: auto;
	bottom: var(--pr-t-spacings-300);
}

// Required while toast timer is handled by animation end
@mixin circularGauge {
	.circularGauge {
		opacity: 0;

		circle {
			animation: gauge;
		}
	}

	&:hover,
	&:focus-within {
		.circularGauge circle {
			animation-play-state: paused;
		}
	}

	@keyframes gauge {}
}
