@mixin vars {
  --components-toasts-background: #323232;
  --components-toasts-color: var(--colors-white-color);
  --components-toasts-top: var(--spacings-standard);
  --components-toasts-right: var(--spacings-standard);
  --components-toasts-left: var(--spacings-standard);
  --components-toasts-bottom: var(--spacings-standard);
  --components-toasts-margin-bottom: var(--spacings-smaller);
  --components-toasts-width: 16rem;
  --components-toasts-big: 22.5rem;
  --components-toasts-padding: 0.75rem 2.25rem 0.75rem var(--spacings-small);
}
