@mixin vars {
	--components-toasts-background: var(--palettes-grey-900);
	--components-toasts-color: var(--colors-white-color);
	--components-toasts-top: var(--spacings-M);
	--components-toasts-right: var(--spacings-M);
	--components-toasts-left: var(--spacings-M);
	--components-toasts-bottom: var(--spacings-M);
	--components-toasts-margin-bottom: var(--spacings-XS);
	--components-toasts-maxwidth: 22.5rem;
	--components-toasts-padding: var(--spacings-XS) var(--spacings-S);
}
