@mixin vars {
	--components-toasts-background: #323232;
	--components-toasts-color: var(--colors-white-color);
	--components-toasts-top: var(--spacings-standard);
	--components-toasts-right: var(--spacings-standard);
	--components-toasts-left: var(--spacings-standard);
	--components-toasts-bottom: var(--spacings-standard);
	--components-toasts-margin-bottom: var(--spacings-smaller);
	--components-toasts-maxwidth: 22.5rem;
	--components-toasts-padding: var(--spacings-smaller) var(--spacings-small);
}
