@use '@lucca-front/scss/src/commons/utils/reset';
@use '@lucca-front/scss/src/commons/utils/a11y';
@use '@lucca-front/scss/src/commons/utils/namespace' as ns;

@mixin component($atRoot: ns.$defaultAtRoot) {
	display: inline-block;
	vertical-align: middle;
	border-radius: var(--commons-borderRadius-full);
	width: var(--components-avatar-size);
	aspect-ratio: 1;

	@at-root ($atRoot) {
		.avatar-picture, .picture { // .picture is deprecated
			background-color: var(--palettes-neutral-200);
			border-radius: var(--commons-borderRadius-full);
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			width: var(--components-avatar-size);
			object-fit: cover;
			object-position: center;
			aspect-ratio: 1;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.avatar-picture-initials, .picture { // .picture is deprecated
			font-size: var(--components-avatar-fontSize);
			font-weight: 600;
			line-height: 1;
			color: var(--palettes-neutral-0);
		}

		.avatarWrapper {
			@include reset.list;

			display: flex;
			flex-wrap: wrap;
			align-content: flex-start;

			.avatar {
				box-shadow: 0 0 0 var(--components-avatar-border) var(--components-avatar-background);
			}
		}

		.avatarWrapper-item {
			margin-block: calc(var(--components-avatarWrapper-overlap) / 2);

			&:not(:last-child) {
				margin-right: calc(var(--components-avatarWrapper-overlap) * -1);
			}
		}

		.avatarWrapper-item-action {
			@include reset.button;

			display: flex;
			text-decoration: none;
			color: var(--palettes-neutral-800);
			transition: transform var(--commons-animations-durations-fast);
			transform: scale(var(--components-avatarWrapper-scale));
			color: currentColor;

			&:hover,
			&:focus {
				--components-avatarWrapper-scale: 1.1;
			}

			&:focus-visible {
				@include a11y.focusVisible($borderRadius: var(--commons-borderRadius-full));
			}
		}

		.avatarWrapper-item-action-more {
			box-shadow: 0 0 0 var(--components-avatar-border) var(--components-avatar-background);
			border-radius: var(--commons-borderRadius-full);
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: var(--palettes-neutral-200);
			width: var(--components-avatar-size);
			height: var(--components-avatar-size);
			font-size: var(--components-avatarWrapper-fontSize);
		}
	}
}
