@mixin vars {
	--components-avatar-size: 2.5rem;
	--components-avatar-border: 2px;
	--components-avatar-scale: 1;
	--components-avatar-background: var(--pr-t-elevation-surface-default);
}

@mixin varsWrapper {
	@include vars;

	--components-avatarWrapper-fontSize: var(--sizes-M-fontSize);
	--components-avatarWrapper-overlap: var(--pr-t-spacings-XS);
}
