@mixin vars {
	--components-scrollBox-backgroundColor: var(--pr-t-elevation-surface-default);
	--components-scrollBox-shadowColor: var(--palettes-neutral-400);
	--components-scrollBox-shadowWidth: var(--pr-t-spacings-200);
}
