// This file contains only the component mixin, this structure never changes.
// It does not contain its selector, which is present in the index.
// Any sub-components are placed in the `@at-root`.
// The `@at-root` eliminates this selector by default, and its parameter can be used to restore it.

@mixin component($atRoot: 'without: rule') {
	property: value;
	property: var(--components-sample-property1);

	@at-root ($atRoot) {
		.sample-subComponent {
			property: var(--components-sample-property2);
		}
	}
}
