// This file contains only the component mixin, this structure never changes.
// It does not contain its selector, which is present in the index.
// Any sub-components are placed in the `atRoot` mixin.
// The `atRoot` eliminates this selector by default, and its parameter can be used to restore it.
@use '@lucca-front/scss/src/commons/core';

@mixin component($nestChildren: true) {
	property: value;
	property: var(--components-sample-property1);

	@include core.atRoot($nestChildren) {
		.sample-subComponent {
			property: var(--components-sample-property2);
		}
	}
}
