@use '@lucca-front/scss/src/components/footer';

lu-footer:has(.footer.mod-sticky) {
	inset-block-end: 0;
	position: var(--components-footer-position);

	.footer.mod-sticky {
		--components-footer-position: static;
	}
}
