@use '@lucca-front/scss/src/commons/utils/loading';
@use '@lucca-front/scss/src/commons/utils/a11y';
@use '@lucca-front/icons/src/icon/exports' as icon;

@mixin component($atRoot: 'without: rule') {
	bottom: 0;
	left: 0;
	top: 0;
	z-index: 100;
	position: fixed;
	display: flex;
	flex-direction: column;
	background-color: var(--components-navSide-fullwidth-palette-bg-color);
	padding-top: var(--components-navSide-padding-top);
	width: var(--commons-navSide-width);

	.numericBadge {
		margin-left: auto;
	}

	@at-root ($atRoot) {
		.navSide-wrapper {
			display: flex;
			flex-direction: column;
			flex-grow: 1;
			min-height: 0;
		}

		.navSide-mainSection {
			flex-grow: 1;
			display: block;
			height: 100%;
			overflow-x: hidden;
			overflow-y: auto;
			position: relative;

			scrollbar-face-color: var(--components-navSide-scrollbar-thumb-color);
			scrollbar-arrow-color: var(--components-navSide-scrollbar-arrow-color);
			scrollbar-track-color: var(--components-navSide-scrollbar-bg-color);
			scrollbar-shadow-color: var(--components-navSide-scrollbar-thumb-color);
			scrollbar-3dlight-color: var(--components-navSide-scrollbar-thumb-color);

			&::-webkit-scrollbar-track {
				background-color: var(--components-navSide-scrollbar-bg-color);
			}

			&::-webkit-scrollbar {
				width: var(--components-navSide-scrollbar-width);
			}

			&::-webkit-scrollbar-thumb {
				background-color: var(--components-navSide-scrollbar-thumb-color);
				border-radius: var(--components-navSide-scrollbar-border-radius);
			}
		}

		.navSide-scrollWrapper {
			width: var(--commons-navSide-width);
			padding: var(--spacings-XS);
			margin: 0;
			list-style-type: none;
		}

		.navSide-item,
		.navSide-item-subMenu-item,
		.navSide-item-subMenu-link {
			&:not(.mod-mobileToggle) {
				+ .navSide-item,
				+ .navSide-item-subMenu-item,
				+ .navSide-item-subMenu-link {
					margin-top: var(--spacings-XXS);
				}
			}
		}

		.navSide-item-link,
		.navSide-item-subMenu-link {
			cursor: pointer;
			background-color: transparent;
			border: 0;
			text-align: left;
			width: 100%;
			height: 100%;
			align-items: center;
			display: flex;
			column-gap: .75rem;
			text-decoration: none;
			user-select: none;
			color: var(--components-navSide-fullwidth-palette-text);
			transition-property: background-color, color;
			transition-duration: var(--commons-animations-durations-fast);
			border-radius: var(--commons-borderRadius-M);

			&:focus-visible {
				@include a11y.focusVisible;
			}

			&:hover {
				background-color: var(--components-navSide-fullwidth-palette-hovered-bg);
				color: var(--components-navSide-fullwidth-palette-hovered-text);
			}

			&:active {
				background-color: var(--palettes-navigation-900);
			}
		}

		.navSide-item-link {
			font-size: var(--sizes-S-fontSize);
			line-height: var(--sizes-S-lineHeight);
			padding: .75rem var(--spacings-S);
			font-weight: 600;
		}

		.navSide-item-alert { // deprecated
			font-size: var(--sizes-XS-fontSize);
			font-weight: 600;
			background-color: var(--components-navSide-fullwidth-palette-alert-color);
			color: var(--components-navSide-fullwidth-palette-alert-text);
			transition-duration: var(--commons-animations-durations-standard);
			transition-property: background-color;
			margin-left: auto;
			border-radius: 6px;
			height: var(--sizes-S-lineHeight);
			line-height: var(--sizes-S-lineHeight);
			margin-right: 0;
			padding: 0 var(--spacings-XXS);
			min-width: 1.25rem;
			text-align: center;
			flex-shrink: 0;
		}

		.navSide-item-arrow {
			transition-duration: var(--commons-animations-durations-fast);
			transition-property: transform;
			transition-timing-function: ease-out;
			margin-left: auto;
			display: grid;
			place-items: center;
			transform: rotate(0);
			flex-shrink: 0;
			transform-origin: 50% 50%;
			transform: rotate(90deg);
			@include icon.S;
		}

		.navSide-item-subMenu {
			font-size: var(--components-navSide-sub-font-size);
			margin: 0;
			padding: 0;
			list-style-type: none;
			overflow: visible;
		}

		.navSide-item-subMenu-link {
			font-weight: 400;
			padding: var(--spacings-XS) var(--spacings-S) var(--spacings-XS) var(--spacings-XL);
			font-size: var(--sizes-S-fontSize);
			line-height: var(--sizes-S-lineHeight);
		}

		.navSide-bottomSection {
			height: var(--components-navSide-bottom-section-height);
			width: var(--commons-navSide-width);
			z-index: 1;

			.navSide-item,
			.navSide-item-link {
				height: 100%;
				background-color: transparent;
				padding: 0.5em;
			}

			.navSide-item-link {
				background-color: var(--components-navSide-bottom-section-palette-bg-color);
				color: var(--components-navSide-bottom-section-palette-text);
				padding: 1em;
				box-sizing: border-box;
				cursor: pointer;

				&:hover {
					background-color: var(--components-navSide-bottom-section-palette-hovered-bg);
					color: var(--components-navSide-bottom-section-palette-hovered-text);
				}
			}

			.navSide-item-alert { // deprecated
				background-color: var(--components-navSide-bottom-section-palette-alert-color);
				color: var(--components-navSide-bottom-section-palette-alert-text);
			}
		}

		.navSide-item-placeholder {
			align-items: center;
			display: flex;
			padding: 1em;

			&::before,
			&::after {
				display: block;
				content: '';
			}

			&::before {
				background-color: rgba(var(--colors-grey-900-rgb), 0.15);
				border-radius: 1em;
				height: 1em;
				width: 1em;
			}

			&::after {
				@include loading.gradient;

				border-radius: var(--commons-borderRadius-M);
				flex: 1 1 auto;
				height: 0.9em;
				margin-left: 1em;
			}
		}
	}
}
