@mixin overlay {
	&,
	body {
		touch-action: none;
		overscroll-behavior: none;
		-webkit-overflow-scrolling: auto;
	}

	body {
		overflow: hidden !important;
	}
}

@mixin mobile {
	padding-top: var(--commons-navSide-mobile-toggle-height);
	width: 100%;
	bottom: auto;

	.navSide-mainSection,
	.navSide-scrollWrapper {
		width: 100%;
		height: auto;
	}

	.navSide-scrollWrapper {
		padding: 0;
	}

	.navSide-item {
		&.mod-mobileToggle {
			height: var(--commons-navSide-mobile-toggle-height);
			background-color: var(--palettes-product-800);
			top: 0;
			left: 0;
			right: 0;
			z-index: 1;
			display: block;
			position: fixed;
			cursor: pointer;

			.navSide-item-link {
				border-radius: 0;

				&:focus-visible {
					box-shadow: 0 0 0 2px var(--components-navSide-fullwidth-palette-selected-text) inset;
				}
			}
		}
	}

	.navSide-bottomSection {
		background-color: transparent;
		width: auto;
		height: auto;
	}
}
