@import '_definitions';
@include selectInputStyle;

.optionItem-groupKey {
	padding-block: var(--components-options-item-padding-vertical) var(--pr-t-spacings-50);
	padding-inline: var(--components-options-item-padding-horizontal);
	font-size: var(--sizes-S-fontSize);
	line-height: var(--sizes-S-lineHeight);
	inline-size: 100%;
	text-align: start;
	color: var(--palettes-neutral-600);
	margin: 0;

	&:first-of-type {
		border-block-start-color: transparent;
		margin-block-start: 0;
	}
}
