@import '_definitions';
@include selectInputStyle;

.optionItem-groupKey {
	padding: var(--components-options-item-padding-vertical) var(--components-options-item-padding-horizontal) var(--spacings-XXS);
	font-size: var(--sizes-S-fontSize);
	line-height: var(--sizes-S-lineHeight);
	width: 100%;
	text-align: left;
	color: var(--palettes-neutral-600);
	margin: 0;

	&:first-of-type {
		border-top-color: transparent;
		margin-top: 0;
	}
}
