@mixin selectClearerStyle {
	:host {
		display: none;
	}

	:host-context(.textfield-input.is-filled) {
		display: block;
	}

	.clearer {
		display: block;
		width: 1rem;
		height: 1rem;
		background-color: var(--palettes-grey-700);
		color: var(--colors-white-color);
		padding: 0;
		border-radius: 50%;
		transition: background-color var(--commons-animations-durations-fast) ease;

		.lucca-icon {
			font-size: var(--sizes-XS-lineHeight);
		}

		&:hover {
			background-color: var(--palettes-grey-600);
		}
	}

	.lucca-icon {
		display: block;
	}

	// Disabled
	:host-context(.textfield-input.is-disabled, .textfield-input[disabled]) {
		display: none;
	}

	:host-context(.textfield.mod-S) {
		.clearer {
			width: .75rem;
			height: .75rem;

			.lucca-icon {
				font-size: .75rem;
			}
		}
	}
}
