@mixin selectClearerStyle {
	:host {
		display: none;
	}

	:host-context(.textfield-input.is-filled) {
		display: block;
	}

	// Disabled
	:host-context(.textfield-input.is-disabled, .textfield-input[disabled]) {
		display: none;
	}
}
