@mixin selectClearerStyle {
	@layer components {
		:host {
			display: none;
		}
	}

	@layer states {
		:host-context(.textfield-input.is-filled) {
			display: block;
		}

		:host-context(.textfield-input.is-disabled, .textfield-input[disabled]) {
			display: none;
		}
	}
}
