@use '@lucca-front/scss/src/components/dialog';

.dialog {
	.cdk-dialog-container {
		flex-grow: 1;
		inline-size: auto;
		block-size: auto;
		display: flex;
		flex-direction: column;
		min-block-size: 0;

		// to target open Angular components when opening a dialog via a route
		> router-outlet + * {
			display: contents;
		}
	}
}
