@use '@lucca-front/scss/src/components/dialog';

@layer components {
	.dialog {
		.cdk-dialog-container {
			flex-grow: 1;
			inline-size: auto;
			block-size: auto;
			display: flex;
			flex-direction: column;
			min-block-size: 0;

			ng-component {
				display: contents;
			}
		}
	}
}
