@use '@lucca-front/scss/src/components/dialog';

.dialog .cdk-dialog-container {
	width: auto;
	height: auto;
	grid-row: 1 / -1;
	display: grid;

	// todo when the support will be better: subgrid
	grid-template-areas:
		'header  '
		'overflow'
		'footer  ';
	grid-template-rows: auto 1fr auto;
}
