:host {
  padding: 0;
/*
  &.is-clearable ::ng-deep {
    background: lime;
		.actionIcon {
			display: block;
		}
	}*/
}

:host-context(.textfield.mod-material)   {
	&:focus ::ng-deep {
    .select .select-value{
  		opacity: 1;
		}
	}
}
