@import "node_modules/@lucca-front/scss/src/theming.overridable";
@import "node_modules/@lucca-front/icons/src/mixins";

.textfield-input {
	border-radius: 0;
	box-shadow: none;
	border-bottom: _theme("commons.divider.width") solid _theme("commons.divider.color");
}

.select-options {
	max-height: 200px; // for 240px height of .lu-popover-content. Will need a refactor
	overflow: auto;
}

.select-options-noResult, .select-options-loading {
	padding: .5rem;
	background: _theme("commons.background.base");
	color: _color("text.light");
}

.loading {
	display: block;
	margin: auto;
	width: 1.7rem;
}
