@use '@lucca-front/scss/src/commons/utils/namespace';
@use '@lucca-front/scss/src/commons/utils/reset';
@use '@lucca-front/scss/src/commons/utils/a11y';

@mixin component($atRoot: namespace.$defaultAtRoot) {
	display: inline-block;
	inline-size: var(--components-softwareIcon-size);
	block-size: var(--components-softwareIcon-size);


	@at-root ($atRoot) {

		svg {
			display: block;
			inline-size: 100%;
			block-size: 100%;
			overflow: visible;
		}

		.softwareIconWrapper {
			display: flex;
			flex-wrap: nowrap;
			align-items: center;
			gap: 0;

			.softwareIcon, .softwareIconWrapper-action {
				transform: scale(var(--components-softwareIconWrapper-scale));
				transition: transform var(--commons-animations-durations-fast), z-index var(--commons-animations-durations-fast);
				svg path:first-child {
					stroke: var(--palettes-neutral-0);
					stroke-width: 4px;
				}
				&:hover, &:focus {
					z-index: 1;
					--components-softwareIconWrapper-scale: 1.1;
				}
			}
		}

		.softwareIconWrapper-item {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			inline-size: var(--components-softwareIcon-size);
			block-size: var(--components-softwareIcon-size);
			.softwareIcon {
				margin-inline-end: calc(var(--components-softwareIconWrapper-overlap) * -1);
			}
		}


		.softwareIconWrapper-action {
			@include reset.button;

			display: flex;
			align-items: center;
			justify-content: center;
			inline-size: var(--components-softwareIcon-size);
			block-size: var(--components-softwareIcon-size);
		}

		.softwareIconWrapper-action-more {
			position: absolute;
			font-family: var(--pr-t-font-family-brand);
			font-size: var(--pr-t-font-fontSize-200);
			font-weight: var(--pr-t-font-fontWeight-semibold);
		}
	}
}
