@mixin vars {
	--components-softwareIcon-size: var(--pr-t-spacings-500);
	--components-softwareIcon-illustration-bubble-stoke: transparent;
	--components-softwareIcon-illustration-bubble-stokeWidth: 0px;
}

@mixin varsWrapper {
	@include vars;
	--components-softwareIconWrapper-scale: 1;
	--components-softwareIconWrapper-overlap: calc(var(--pr-t-spacings-75) * -1);
	--components-softwareIcon-zIndex: auto;
}

@mixin varsPopover {
	--components-softwareIcon-size: var(--pr-t-spacings-500);
}
