@mixin component($atRoot: 'without: rule') {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	position: relative;
	border: 0;
	padding: 0;
	margin: 0;
	max-width: 100%;

	.textfield-input,
	.radiosfield-input,
	.checkboxesfield-input {
		display: flex;
		flex-direction: column;

		&.palette-error {
			box-shadow: 0 0 0 1px var(--palettes-700);
		}
	}

	.radiosfield-input,
	.checkboxesfield-input {
		row-gap: var(--spacings-XXS);
	}

	.textfield-label,
	.radiosfield-label,
	.checkboxesfield-label {
		color: var(--components-field-label-color);
	}

	@at-root ($atRoot) {
		.textfield-input,
		.radiosfield-input,
		.checkboxesfield-input {
			font-family: inherit;
			font-size: var(--components-field-font-size);
			color: var(--components-field-input-color);
			outline: none;
			position: relative;
			width: 100%;

			&::placeholder {
				color: var(--palettes-grey-200);
			}
		}

		.textfield-label,
		.radiosfield-label,
		.checkboxesfield-label {
			color: var(--components-field-label-color);
			font-size: var(--sizes-M-fontSize);
			line-height: var(--sizes-M-lineHeight);
			min-height: var(--spacings-S);
			margin-bottom: var(--components-field-label-margin-bottom);
			transition-duration: var(--commons-animations-durations-fast);
			transition-property: all;
			overflow: hidden;
			position: relative;
			text-overflow: ellipsis;
			word-break: break-word;
			white-space: nowrap;
			order: -1;
		}

		.textfield-messages,
		.radiosfield-messages,
		.checkboxesfield-messages {
			font-size: var(--sizes-S-fontSize);
			line-height: var(--sizes-S-lineHeight);
			margin-top: var(--components-field-message-margin-top);

			> * {
				margin: 0;
			}
		}

		.textfield-messages-error,
		.radiosfield-messages-error,
		.checkboxesfield-messages-error {
			color: var(--palettes-error-700);

			.lucca-icon {
				font-size: var(--sizes-XS-lineHeight);
				line-height: var(--sizes-S-lineHeight);
				vertical-align: top;
			}
		}

		.textfield-messages-warning,
		.radiosfield-messages-warning,
		.checkboxesfield-messages-warning {
			color: var(--palettes-warning-700);
		}

		.textfield-messages-valid,
		.radiosfield-messages-valid,
		.checkboxesfield-messages-valid,
		.textfield-messages-success,
		.radiosfield-messages-success,
		.checkboxesfield-messages-success {
			color: var(--palettes-success-700);
		}

		.textfield-messages-helper,
		.radiosfield-messages-helper,
		.checkboxesfield-messages-helper {
			color: var(--palettes-grey-700);
		}
	}
}
