@mixin row($checkbox) {
	display: flex;
	flex-wrap: wrap;

	.checkbox {
		margin-right: var(--components-field-horizontal-spacing);
		margin-top: 0;
		margin-bottom: 0;
	}
}

@mixin inline {
	margin-right: var(--components-field-input-inline-margin);
	display: inline-flex;
}

@mixin block {
	width: 100%;
}
