@use '@lucca-front/scss/src/commons/utils/form';

@mixin inline {
	margin-right: calc(var(--components-field-input-inline-margin) * 2);
	display: inline-flex;
}

@mixin block {
	width: 100%;
}

@mixin compact {
	align-items: center;
	flex-direction: row;
	margin-bottom: var(--spacings-S);
	width: calc(
		var(--components-field-sizes-default) + var(--components-field-compact-label-right-margin) +
			var(--components-field-compact-label-sizes-default)
	);

	.textfield-label,
	.radiosfield-label,
	.checkboxesfield-label {
		margin-right: var(--components-field-compact-label-right-margin);
		width: var(--components-field-compact-label-sizes-default);
		flex: 0 0 auto;
		margin-bottom: 0;
		order: -1;
	}

	.textfield-messages,
	.radiosfield-messages,
	.checkboxesfield-messages {
		max-width: var(--components-field-compact-label-sizes-default);
		align-items: center;
		display: inline-flex;
		position: absolute;
		bottom: 0;
		top: 0;
		left: 100%;
		width: 100%;
		margin: 0 0 0 var(--spacings-S);

		&.mod-helper {
			padding-left: calc(var(--components-field-compact-label-sizes-default) + var(--components-field-compact-label-right-margin));
			bottom: auto;
			max-width: 100%;
			top: 100%;
			left: 0;
			right: 0;
		}
	}

	.radiosfield-input,
	.checkboxesfield-input {
		display: flex;
		flex-wrap: wrap;
	}

	.radio,
	.checkbox {
		margin-right: var(--spacings-M);
	}
}

@mixin compactBlock {
	width: 100%;
}

@mixin framed {
	display: block;

	fieldset {
		border: 0;
		padding: 0;
	}

	.textfield-messages,
	.radiosfield-messages,
	.checkboxesfield-messages {
		transition-duration: var(--commons-animations-durations-standard);
		transition-property: transform;
		position: absolute;
		text-align: center;
		bottom: 0;
		left: -1px;
		right: 0;
		transform: translateY(0);
		z-index: 4;

		> * {
			display: block;
		}
	}

	.textfield-messages-error,
	.radiosfield-messages-error,
	.checkboxesfield-messages-error {
		background-color: var(--palettes-error-700);
		color: var(--colors-white-color);
	}

	.textfield-messages-warning,
	.radiosfield-messages-warning,
	.checkboxesfield-messages-warning {
		background-color: var(--palettes-warning-700);
		color: var(--colors-white-color);
	}

	.textfield-messages-valid,
	.radiosfield-messages-valid,
	.checkboxesfield-messages-valid,
	.textfield-messages-success,
	.radiosfield-messages-success,
	.checkboxesfield-messages-success {
		background-color: var(--palettes-success-700);
		color: var(--colors-white-color);
	}

	.textfield-messages-helper,
	.radiosfield-messages-helper,
	.checkboxesfield-messages-helper {
		background-color: var(--palettes-grey-600);
		color: var(--colors-white-color);
	}

	.textfield-input,
	.radiosfield-input,
	.checkboxesfield-input {
		display: flex;
		flex-wrap: wrap;
		gap: var(--components-field-horizontal-spacing);

		.checkbox {
			margin-top: 0;
			margin-bottom: 0;
		}
	}

	.textfield-input {
		&:not(:disabled, .is-error, .is-success, .is-valid, .is-warning, .is-invalid) {
			background-color: var(--colors-white-color);

			&::placeholder {
				color: var(--palettes-grey-400);
			}

			&:focus,
			&:hover {
				position: relative;
				z-index: 1;
				background-color: var(--colors-white-color);
				box-shadow: form.fakeBorderOverlay(var(--components-field-framed-color));

				~ .textfield-messages,
				~ .radiosfield-messages,
				~ .checkboxesfield-messages {
					transform: translateY(100%);
				}
			}

			&:focus {
				z-index: 4;
				box-shadow: form.fakeBorderOverlay(var(--components-field-framed-color)), 0 0 0 4px var(--components-field-framed-color50);
			}
		}
	}

	.textfield-suffix,
	.radiosfield-suffix,
	.checkboxesfield-suffix {
		padding: var(--components-field-framed-side-padding);
		top: auto;
		z-index: 10;
		right: 0;
		bottom: 0;

		// todo: déplacer dans textfield
		~ .textfield-input {
			padding-right: var(--components-field-framed-suffix-padding-right);
		}
	}
}

@mixin fieldFramedState($state) {
	@if ($state == 'error') {
		z-index: 3;
		box-shadow: form.fakeBorderOverlay(var(--palettes-#{$state}-700)) !important;
		background-color: var(--palettes-#{$state}-50);

		&:focus-within,
		&:hover {
			z-index: 4;
		}
	}

	&.mod-search,
	&.mod-autocomplete,
	&.mod-select {
		&::after {
			color: var(--palettes-#{$state}-700);
		}
	}

	.radiosfield-label,
	.checkboxesfield-label,
	.textfield-label {
		color: var(--palettes-#{$state}-700);
	}

	.textfield-input {
		&:hover {
			background-color: var(--palettes-#{$state}-50) !important;
		}

		&:focus {
			background-color: white !important;
			box-shadow: form.fakeBorderOverlay(var(--palettes-#{$state}-700)), 0 0 0 4px var(--palettes-#{$state}-50) !important;
		}

		&::placeholder {
			color: var(--palettes-grey-400);
		}

		@if ($state == 'error') {
			background-color: var(--palettes-#{$state}-50) !important;
			box-shadow: form.fakeBorderOverlay(var(--palettes-#{$state}-700)) !important;

			&::placeholder {
				color: var(--palettes-#{$state}-400);
			}

			&:hover {
				background-color: var(--palettes-#{$state}-100) !important;
			}

			&:focus {
				box-shadow: form.fakeBorderOverlay(var(--palettes-#{$state}-700)), 0 0 0 4px var(--palettes-#{$state}-50) !important;
				background-color: white !important;
			}
		}
	}

	&:hover {
		background-color: var(--palettes-#{$state}-50);

		.textfield-messages,
		.radiosfield-messages,
		.checkboxesfield-messages {
			transform: translateY(100%);
		}
	}

	&:focus-within {
		background-color: white;
		box-shadow: form.fakeBorderOverlay(var(--palettes-#{$state}-700)), 0 0 0 4px var(--palettes-#{$state}-50);

		.textfield-messages,
		.radiosfield-messages,
		.checkboxesfield-messages {
			transform: translateY(100%);
		}
	}
}

@mixin framedSearch {
	&::after {
		color: var(--palettes-grey-600);
		padding: var(--components-field-framed-side-padding);
		bottom: 0;
		right: 0;
		z-index: 4;
	}

	.textfield {
		width: 100%;
	}

	.textfield-input {
		padding-right: var(--components-field-framed-suffix-padding-right);
	}
}

@mixin fieldFramedError($fieldname) {
	@if ($fieldname == 'textfield') {
		&:not(:disabled) {
			z-index: 3;
			box-shadow: form.fakeBorderOverlay(var(--palettes-error-700));
			background-color: var(--palettes-error-50);
			transition: background-color var(--commons-animations-durations-fast);

			~ .textfield-label {
				color: var(--palettes-error-700);
			}

			&:hover {
				z-index: 4;
				background-color: var(--palettes-error-100);

				~ .textfield-messages {
					transform: translateY(100%);
				}
			}

			&:focus {
				background-color: white;
				box-shadow: form.fakeBorderOverlay(var(--palettes-error-700)), 0 0 0 4px var(--palettes-error-50);

				~ .textfield-messages {
					transform: translateY(100%);
				}
			}
		}
	}

	@if ($fieldname == 'radiosfield') {
		&:not(:disabled) {
			~ .radio-label,
			~ .checkbox-label {
				&::before {
					border-color: var(--palettes-error-700);
				}
			}
		}
	}
}

@mixin inputRow {
	@include field-row;
}

@mixin field-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	column-gap: var(--components-field-horizontal-spacing);
}
