@mixin vars {
	--components-field-font-size: var(--sizes-standard-font-size);
	--components-field-horizontal-spacing: 1.5rem;
	--components-field-input-color: var(--colors-text-default-color);
	--components-field-input-inline-margin: 0.15rem;
	--components-field-label-color: var(--colors-text-default-color);
	--components-field-label-font-size: var(--sizes-small-font-size);
	--components-field-label-margin-bottom: var(--spacings-smaller);
	--components-field-message-font-size: var(--sizes-small-font-size);
	--components-field-message-margin-top: 0.35rem;

	--components-field-sizes-shortest: 3rem;
	--components-field-sizes-shorter: 6rem;
	--components-field-sizes-short: 9rem;
	--components-field-sizes-default: 13rem;
	--components-field-sizes-long: 17rem;
	--components-field-sizes-longer: 22rem;
	--components-field-sizes-longest: 28rem;

	--components-field-compact-padding: 0.5rem;
	--components-field-compact-label-color: var(--colors-text-light-color);
	--components-field-compact-label-font-size: var(--sizes-standard-font-size);
	--components-field-compact-label-right-margin: 0.3rem;
	--components-field-compact-label-sizes-shorter: 3rem;
	--components-field-compact-label-sizes-short: 5rem;
	--components-field-compact-label-sizes-default: 7rem;
	--components-field-compact-label-sizes-long: 9rem;
	--components-field-compact-label-sizes-longer: 11rem;

	--components-field-framed-color50: #fafafa;
	--components-field-framed-color: #9299b0;
	--components-field-framed-border: #ebebeb;
	--components-field-framed-text: #4c5775;
	--components-field-framed-side-padding: var(--spacings-small);
	--components-field-framed-top-padding: var(--spacings-big);
	--components-field-framed-bottom-padding: var(--spacings-small);
	--components-field-framed-label-top-offset: var(--spacings-smaller);
	--components-field-framed-textarea-height: 8.5rem;
	--components-field-framed-textarea-min-height: 5.5rem;
	--components-field-framed-textarea-max-height: 80vh;
	--components-field-framed-title-font-size: var(--sizes-big-font-size);
	--components-field-framed-title-line-height: var(--sizes-big-line-height);
	--components-field-framed-suffix-padding-right: var(--spacings-bigger);
}
