@mixin vars {
	--components-field-font-size: var(--sizes-M-fontSize);
	--components-field-horizontal-spacing: var(--spacings-M);
	--components-field-input-color: var(--palettes-grey-800);
	--components-field-input-inline-margin: 0.15rem;
	--components-field-label-color: var(--palettes-grey-800);
	--components-field-label-margin-bottom: var(--spacings-XXS);
	--components-field-message-font-size: var(--sizes-XS-fontSize);
	--components-field-message-margin-top: var(--spacings-XXS);

	--components-field-sizes-default: 13rem;

	--components-field-compact-padding: var(--spacings-XS);
	--components-field-compact-label-font-size: var(--sizes-M-fontSize);
	--components-field-compact-label-right-margin: 0.3rem;

	--components-field-compact-label-sizes-shorter: 3rem;
	--components-field-compact-label-sizes-short: 5rem;
	--components-field-compact-label-sizes-default: 7rem;
	--components-field-compact-label-sizes-long: 9rem;
	--components-field-compact-label-sizes-longer: 11rem;

	--components-field-framed-color50: var(--palettes-grey-50);
	--components-field-framed-color: #9299b0;
	--components-field-framed-border: var(--palettes-grey-200);
	--components-field-framed-text: #4c5775;
	--components-field-framed-side-padding: var(--spacings-S);
	--components-field-framed-top-padding: var(--spacings-L);
	--components-field-framed-bottom-padding: var(--spacings-S);
	--components-field-framed-label-top-offset: var(--spacings-XS);
	--components-field-framed-textarea-height: 8.5rem;
	--components-field-framed-textarea-min-height: 5.5rem;
	--components-field-framed-textarea-max-height: 80vh;
	--components-field-framed-title-font-size: var(--sizes-L-fontSize);
	--components-field-framed-title-line-height: var(--sizes-L-lineHeight);
	--components-field-framed-suffix-padding-right: var(--spacings-XL);
}
