//@use '@lucca-front/scss/src/components/dialog';
// TODO: add this use in the docs because it's mandatory for proper dialog styling
@import '../packages/icons/src/main';
@import '../packages/scss/src/main-all';
@import '../packages/ng/styles/main';

.sb-show-main {
	background-color: white;
}

.demo-icon {
	.deprecated {
		&,
		& + code {
			opacity: 0.25;

			.showDeprecated:not(:checked) ~ .icons & {
				display: none;
			}
		}
	}
}
