//@use '@lucca-front/scss/src/components/dialog';
// TODO: add this use in the docs because it's mandatory for proper dialog styling
@import '../packages/icons/src/main';
@import '../packages/scss/src/main-all';
@import '../packages/ng/styles/main';

.sb-show-main {
	background-color: white;
}

.demo-utilityWrapper {
	display: flex;
	gap: var(--pr-t-spacings-100);
	flex-wrap: wrap;
	align-items: flex-start;
}

.demo-utility {
	background-color: var(--pr-t-elevation-surface-raised);
	padding: var(--pr-t-spacings-100);
	border: 1px solid var(--palettes-neutral-300);

	.code {
		margin: 0;
		display: block;
	}
}

.demo-icon {
	.deprecated {
		&,
		& + code {
			opacity: 0.25;

			.showDeprecated:not(:checked) ~ .icons & {
				display: none;
			}
		}
	}
}
