@import '../packages/icons/src/main';
@import '../packages/scss/src/main-all';
@import '../packages/ng/styles/main';

.sb-show-main {
  background-color: white;
}

// legacy icons are not displayed by default
.demo-icon {
  .deprecated {
    &,
    & + code {
      opacity: 0.25;

      .showLegacy:not(:checked) ~ .icons & {
        display: none;
      }
    }
  }
}


