@import '_definitions';
@include selectInputStyle;

.lu-picker-header {
	.option-selector {
		display: none;
	}
	&.mod-multiple {
		.option-selector {
			display: inherit;
		}
	}
}

.optionGroupName {
	padding: var(--components-options-item-padding-vertical) var(--components-options-item-padding-horizontal) var(--pr-t-spacings-XXXS);
	border-radius: 0;
	font-size: var(--sizes-S-fontSize);
	line-height: var(--sizes-S-lineHeight);
	width: 100%;
	justify-content: flex-start;
	font-weight: 600;
	color: var(--palettes-neutral-600);
	text-decoration: underline;

	&.mod-readonly {
		text-decoration: none;
	}

	&.button {
		text-decoration: underline;
		margin: 0;

		&:active,
		&:focus,
		&:hover {
			box-shadow: none;
			background-color: transparent;

			~ .lu-picker-content-option lu-option {
				background-color: var(--palettes-neutral-50);
				border-radius: var(--commons-borderRadius-M);
			}
		}
	}
}
