formly-form,
formly-group,
formly-field {
	display: inherit;
	flex-wrap: inherit;
	flex-direction: inherit;
	width: 100%;
}

.form:not(.mod-framed) {
	formly-field {
		margin-bottom: _component("form.field.margin-bottom");
	}
}
