@mixin component {
	background-color: transparent;
	border: 0;
	color: var(--commons-text-link-color);
	cursor: pointer;
	display: inline;
	font-family: var(--commons-font-family);
	margin: 0;
	padding: 0;
	text-decoration: underline;

	&:is(:hover, :focus) {
		color: var(--commons-text-link-hover);
	}

	@at-root {
		a {
			color: var(--commons-text-link-color);
			cursor: pointer;
			text-decoration: underline;

			&:hover {
				color: var(--commons-text-link-hover);
			}
		}
	}
}
