@use '@lucca-front/scss/src/commons/utils/a11y';

@mixin component {
	background-color: transparent;
	border: 0;
	color: var(--commons-text-link-color);
	cursor: pointer;
	font-family: inherit;
	margin: 0;
	padding: 0;
	text-decoration: underline;

	&:not(:disabled, .is-disabled) {
		&:hover {
			color: var(--commons-text-link-hover);
		}

		&:focus-visible {
			@include a11y.focusVisible($borderRadius: var(--commons-borderRadius-M));
		}
	}
}
