@use 'exports' as *;

.link {
	@layer components {
		@include vars;
		@include component;
	}

	@layer mods {
		&.mod-decorationHover {
			@include decorationHover;

			&:hover {
				@include decorationHoverHovered;

				&:not(:has(.link-text)) {
					@include decorationHoverHoveredLegacy;
				}
			}
		}

		&.mod-discreet {
			@include discreet;
		}

		&:is(:disabled, .is-disabled) {
			@include disabled;
		}

		&:has(.link-text) {
			@include hasLinkText;
		}

		&:not(:has(.link-icon)) {
			@include legacyIcon;
		}
	}
}
