@mixin decorationHover {
	--components-link-textDecoration: none;
	--components-link-text-textDecoration: none;
}

@mixin brand {
	--components-link-color: var(--palettes-brand-700);
	--components-link-color-hover: var(--palettes-brand-800);
}

@mixin discreet {
	--components-link-color: currentColor;
	--components-link-color-hover: currentColor;
	--components-link-textDecoration: none;
	--components-link-text-textDecoration: none;
}

@mixin hasLinkText {
	--components-link-textDecoration: none;
}

@mixin legacyIcon {
	--components-link-icon-marginInlineStart: 0.2em;
}
