@mixin icon {
	.lucca-icon {
		text-decoration: none;
		margin-left: var(--spacings-XXS);
		font-size: var(--sizes-M-fontSize);
		line-height: var(--sizes-XS-lineHeight);
	}
}

@mixin decorationHover {
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}
