@mixin icon {
	.lucca-icon {
		text-decoration: none;
	}

	.lucca-icon {
		text-decoration: none;
		font-size: var(--sizes-M-fontSize);
		line-height: var(--sizes-XS-lineHeight);
		margin-left: var(--spacings-XXS);
	}

	@at-root {
		.link-text {
			text-decoration: underline;
		}

		.link-icon {
			white-space: nowrap;

			&::before {
				content: '\a0';
			}
		}
	}
}

@mixin decorationHover {
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}
