@mixin disabled {
	--components-link-color: var(--pr-t-color-text-disabled);
	--components-link-cursor: not-allowed;
}

@mixin decorationHoverHovered {
	--components-link-text-textDecoration: underline;
}

@mixin decorationHoverHoveredLegacy {
	--components-link-textDecoration: underline;
}
