<ol class="timeline {{size}}" [class.mod-number]="isNumber" [class.mod-checkedPastStep]="isCheckedPastStep" [class.mod-vertical]="isVertical" [class.mod-addStep]="isAddStep" [class.mod-addBetweenStep]="isAddBetweenStep" [class.mod-progress]="stepProgress > 0">
    <li class="timeline-step">
        <span class="timeline-step-title">
            <span class="timeline-step-title-icon" aria-hidden="true" *ngIf="isCheckedPastStep"></span>
            <a href="#" class="timeline-step-title-action">Previous step</a>
        </span>
        <div class="timeline-step-description" *ngIf="isVertical">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            <div class="callout mod-icon">
                <div class="callout-icon"><span aria-hidden="true" class="lucca-icon">help</span></div>
                <strong class="callout-title">Need help?</strong>
                <div class="callout-content">I'm a standard callout. :)</div>
            </div>
        </div>
    </li>
    <li class="timeline-step timeline-stepAddBetweenStep" *ngIf="isAddBetweenStep">	
        <div class="timeline-step-title">
            <button type="button" class="timeline-stepAddBetweenStep-title" onClick="alert('ajout d‘étape')">
                <span class="timeline-step-title-icon" aria-hidden="true"></span>
                <span class="u-mask">
                    Ajouter une étape intermédiaire entre l’étape 1 et l’étape 2
                </span>
            </button>
        </div>
    </li>
    <li class="timeline-step" [attr.aria-current]="isStep ? 'step' : null" [attr.style]="'--progress:' + stepProgress + '%'">
        <span class="timeline-step-title {{hx}}">
            Current step
        </span>
        <div class="timeline-step-description" *ngIf="isVertical">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad eligendi voluptas sit facere ipsum, veniam rerum aliquam ut delectus aperiam deserunt cum nulla magnam et laborum sequi natus dolorem repudiandae.
        </div>
    </li>
    <li class="timeline-step">
        <span class="timeline-step-title">
            Next step
        </span>
        <div class="timeline-step-description" *ngIf="isVertical">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad eligendi voluptas sit facere ipsum, veniam rerum aliquam ut delectus aperiam deserunt cum nulla magnam et laborum sequi natus dolorem repudiandae.
        </div>
    </li>
    <li class="timeline-step">
        <span class="timeline-step-title">
            Final step
        </span>
    </li>
    <li class="timeline-step" *ngIf="isAddStep">
        <div class="timeline-step-title">
            <button type="button" class="button palette-grey mod-small u-positionStatic" onClick="alert('ajout d‘étape')">
                <span class="timeline-step-title-icon" aria-hidden="true"></span>
                Add step
            </button>
        </div>
    </li>
</ol>