<h1>date-picker-width</h1>

<h2>Basic</h2>
<div class="textfield u-marginBottomBig">
	<lu-select class="textfield-input" [(ngModel)]="date" [pickerOverlap]="true">
		<ng-container *luDisplayer="let value">{{ value | luDate }}</ng-container>
		<lu-date-picker></lu-date-picker>
		<lu-input-clearer></lu-input-clearer>
	</lu-select>
	<label class="textfield-label">in a select</label>
</div>

<h2>mod-shorter</h2>
<div class="textfield mod-shorter u-marginBottomBig">
	<lu-select class="textfield-input" [(ngModel)]="date" [pickerOverlap]="true">
		<ng-container *luDisplayer="let value">{{ value | luDate }}</ng-container>
		<lu-date-picker></lu-date-picker>
		<lu-input-clearer></lu-input-clearer>
	</lu-select>
	<label class="textfield-label">in a select</label>
</div>

<h2>mod-longest</h2>
<div class="textfield mod-longest u-marginBottomBig">
	<lu-select class="textfield-input" [(ngModel)]="date" [pickerOverlap]="true">
		<ng-container *luDisplayer="let value">{{ value | luDate }}</ng-container>
		<lu-date-picker></lu-date-picker>
		<lu-input-clearer></lu-input-clearer>
	</lu-select>
	<label class="textfield-label">in a select</label>
</div>

<h2>mod-block</h2>
<div class="textfield mod-block">
	<lu-select class="textfield-input" [(ngModel)]="date" [pickerOverlap]="true">
		<ng-container *luDisplayer="let value">{{ value | luDate }}</ng-container>
		<lu-date-picker></lu-date-picker>
		<lu-input-clearer></lu-input-clearer>
	</lu-select>
	<label class="textfield-label">in a select</label>
</div>