@mixin component {
	background-color: var(--palettes-100, var(--components-label-default-palette-100));
	color: var(--palettes-900, var(--components-label-default-palette-900));
	display: inline-flex;
	justify-content: center;
	align-items: center;
	white-space: nowrap;
	border-radius: 9999px;
	font-size: var(--sizes-small-font-size);
	line-height: var(--sizes-smaller-line-height);
	font-weight: 600;
	margin: 0 0.3rem;
	padding: var(--spacings-smallest) var(--spacings-smaller);
}
