@use 'exports' as *;

// stylelint-disable-next-line selector-disallowed-list -- .label is deprecated
.label {
	@layer components {
		@include vars;
		@include component;
	}

	@layer mods {
		&.mod-number {
			@include number;

			&.mod-S {
				@include numberS;
			}

			&.mod-XS {
				@include numberXS;
			}
		}
	}
}
