@mixin number {
	font-size: var(--sizes-XS-fontSize);
	padding: var(--spacings-XXS);
	height: var(--sizes-M-lineHeight);
	min-width: var(--sizes-M-lineHeight);
}

@mixin numberS {
	height: var(--sizes-S-lineHeight);
	min-width: var(--sizes-S-lineHeight);
}

@mixin numberXS {
	height: var(--sizes-XS-lineHeight);
	min-width: var(--sizes-XS-lineHeight);
}
