@mixin number {
	font-size: var(--sizes-XS-fontSize);
	padding: var(--pr-t-spacings-50);
	block-size: var(--sizes-M-lineHeight);
	min-inline-size: var(--sizes-M-lineHeight);
}

@mixin numberS {
	block-size: var(--sizes-S-lineHeight);
	min-inline-size: var(--sizes-S-lineHeight);
}

@mixin numberXS {
	block-size: var(--sizes-XS-lineHeight);
	min-inline-size: var(--sizes-XS-lineHeight);
}
