@mixin number {
	font-size: var(--pr-t-font-body-XS-fontSize);
	padding: var(--pr-t-spacings-50);
	block-size: var(--pr-t-font-body-M-lineHeight);
	min-inline-size: var(--pr-t-font-body-M-lineHeight);
}

@mixin numberS {
	block-size: var(--pr-t-font-body-S-lineHeight);
	min-inline-size: var(--pr-t-font-body-S-lineHeight);
}

@mixin numberXS {
	block-size: var(--pr-t-font-body-XS-lineHeight);
	min-inline-size: var(--pr-t-font-body-XS-lineHeight);
}
