$grey: #666666;
$greyLight: #999999;
$primary: #FFB900;
$secondary: #FF6600;
$lucca: #FFB900;
$greyBackground: #F5F5F5;
$greySeparator: #D6D6D6;
$greyLighter: #CCCCCC;
$red: #FF3300;
$orange: #FF9900;
$green: #5CB85C;
