$grey:           #666;
$primary:        #ffb900;
$secondary:      #ff6600;
$lucca:          #ffb900;
$greyBackground: #f5f5f5;
$greySeparator:  #d6d6d6;
$greyLight:      #ccc;
$red:            #ff3300;
$orange:         #ff9900;
$green:          #5cb85c;