@use '@lucca-front/scss/src/commons/utils/media';
@use 'exports' as *;

.main-content {
	@include vars;
	@include component;

	&.mod-withStickyHeader {
		@include stickyHeader;
	}

	&.mod-withBanner,
	.navSide.mod-withBanner ~ &,
	.mod-withBanner & {
		@include banner;
	}

	.navSide ~ &,
	.mod-withMenu & {
		@include menu;
	}

	.navSide.mod-compact ~ &,
	.mod-withMenuCompact & {
		@include menuCompact;
	}
}

@mixin responsive(
	$breakpoint: 'S',
	$breakpoint2: null,
	$inverted: true,
	$at: 'container',
	$containerName: 'mainContent',
	$responsive: null,
	$size: 'width',
	$selector: '.main-content'
) {
	#{if($responsive, $selector + '.responsive-' + $responsive, $selector)} {
		@include media.query(
			$breakpoint: $breakpoint,
			$breakpoint2: $breakpoint2,
			$inverted: $inverted,
			$at: $at,
			$containerName: $containerName,
			$size: $size
		) {
			@include narrow;
			@include bannerNarrow;
			@include notScrollable;
		}
	}
}

$responsive: true !default;

@if $responsive {
	@include responsive;
}
