@use '@lucca-front/scss/src/commons/utils/media';

@mixin menu {
	margin-inline-start: var(--commons-navSide-width);
}

@mixin banner {
	margin-block-start: var(--commons-banner-height);

	@include media.max('S') {
		margin-block-start: calc(var(--commons-banner-height) + var(--commons-navSide-mobile-toggle-height));
	}
}

@mixin stickyHeader {
	padding-block-start: var(--components-header-height);
}
