@use '@lucca-front/scss/src/commons/utils/media';

@mixin menu {
	margin-left: var(--commons-navSide-width);
}

@mixin menuCompact {
	margin-left: var(--commons-navSide-compact-width);
}

@mixin banner {
	margin-top: var(--commons-banner-height);

	@include media.max('S') {
		margin-top: calc(var(--commons-banner-height) + var(--commons-navSide-mobile-toggle-height));
	}
}

@mixin stickyHeader {
	padding-top: var(--components-header-height);
}
