@use '@lucca-front/icons/src/commons/utils/icon';
@use '@lucca-front/scss/src/commons/utils/a11y';

@mixin component($atRoot: 'without: rule') {
	position: relative;

	@at-root ($atRoot) {

		.radioField-icon {
			width: var(--components-radioField-size);
			height: var(--components-radioField-size);
			border: 2px solid var(--palettes-grey-700);
			border-radius: 50%;
			position: relative;
			top: var(--component-radioField-top);
			color: var(--colors-white-color);
			transition-property: color, border-color;
			transition-duration: var(--commons-animations-durations-fast);
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: var(--colors-white-color);
			cursor: pointer;

			@media (prefers-reduced-motion: reduce) {
				transition-property: none;
			}

			&::after {
				content: '';
				position: absolute;
				inset: -2px;
				outline-offset: 2px;
				border-radius: 6px;
			}
		}

		.radioField-icon-check {
		  display: flex;
		  align-items: center;
		  justify-content: center;
		  width: calc(100% - 4px);
		  height: calc(100% - 4px);
			opacity: 0;
		  transform: scale(0);
		  transition-property: transform, background-color;
		  transition-duration: var(--commons-animations-durations-fast);
			transition-timing-function: cubic-bezier(0.5, -0.5, 0.5, 0);
		  border-radius: 50%;
		  background-color: var(--palettes-primary-700);

		  @media (prefers-reduced-motion: reduce) {
		    transition-property: none;
		  }
		}

		.radioField-input {
			position: absolute;
			z-index: 1;
			width: var(--components-radioField-size);
			height: var(--components-radioField-size);
			opacity: 0;
			cursor: pointer;

			&:focus-visible {
				~ .radioField-icon::after {
					@include a11y.focusVisible();
				}
			}

			&:hover {
				~ .radioField-icon {
					border-color: var(--palettes-grey-600);
				}
			}

			&:active {
				~ .radioField-icon {
					border-color: var(--palettes-grey-800);
				}
			}
		}
	}
}
