@use '@lucca-front/icons/src/commons/utils/icon';
@use '@lucca-front/scss/src/commons/utils/form';
@use '@lucca-front/scss/src/commons/utils/a11y';

@mixin checked {
	~ .radioField-icon {
		background-color: var(--palettes-product-700);
		border-color: var(--palettes-product-700);

		.radioField-icon-check {
			transform: scale(1);
		}
	}
}

@mixin hover {
	~ .radioField-icon {
		border-color: var(--palettes-grey-600);
	}
}

@mixin checkedHover {
	~ .radioField-icon {
		background-color: var(--palettes-product-600);
		border-color: var(--palettes-product-600);
	}
}

@mixin checkedActive {
	~ .radioField-icon {
		background-color: var(--palettes-product-800);
		border-color: var(--palettes-product-800);
	}
}

@mixin checkedDisabled {
	~ .radioField-icon {
		background-color: var(--palettes-grey-500);
		border-color: var(--palettes-grey-500);
		color: var(--palettes-grey-500);
	}
}

@mixin checkedHover {
	~ .radioField-icon {
		background-color: var(--palettes-product-600);
		border-color: var(--palettes-product-600);
	}
}

@mixin checkedInvalid {
	~ .radioField-icon {
		background-color: var(--palettes-error-700);
		border-color: var(--palettes-error-700);
	}
}

@mixin active {
	~ .radioField-icon {
		border-color: var(--palettes-grey-800);
	}
}

@mixin disabled {
	cursor: default;

	~ .radioField-icon {
		border-color: var(--palettes-grey-500);
	}
}

@mixin focusVisible {
	~ .radioField-icon {
		&::after {
			@include a11y.focusVisible();
		}
	}
}

@mixin invalid {
	~ .radioField-icon {
		border-color: var(--palettes-error-700);
	}
}

@mixin invalidHover {
	~ .radioField-icon {
		border-color: var(--palettes-error-600);
	}
}

@mixin invalidActive {
	~ .radioField-icon {
		border-color: var(--palettes-error-800);
	}
}

@mixin checkedInvalidHover {
	~ .radioField-icon {
		background-color: var(--palettes-error-600);
		border-color: var(--palettes-error-600);
	}
}

@mixin checkedInvalidActive {
	~ .radioField-icon {
		background-color: var(--palettes-error-800);
		border-color: var(--palettes-error-800);
	}
}
