@use '@lucca-front/scss/src/components/inlineMessage/exports' as inlineMessage;
@use '@lucca-front/scss/src/components/formLabel/exports' as formLabel;

@mixin checked {
  ~ .radioField-icon {
    border-color: var(--palettes-primary-700);

    .radioField-icon-check {
      transform: scale(1);
      opacity: 1;
      transition-timing-function: cubic-bezier(0.5, 1, 0.5, 1.5);
    }
  }

  &:hover {
    ~ .radioField-icon {
        border-color: var(--palettes-primary-600);

        .radioField-icon-check {
          background-color: var(--palettes-primary-600);
        }
      }
    }

  &:active {
    ~ .radioField-icon {
      border-color: var(--palettes-primary-800);

      .radioField-icon-check {
        background-color: var(--palettes-primary-800);
      }
    }
  }
}

@mixin disabled {
  cursor: default;

  ~ .radioField-icon {
    border-color: var(--palettes-grey-500);

    .radioField-icon-check {
      background-color: var(--palettes-grey-500);
    }
  }
}

@mixin checkedDisabled {
  ~ .radioField-icon {
    border-color: var(--palettes-grey-500);

    .radioField-icon-check {
      background-color: var(--palettes-grey-500);
    }
  }
}

@mixin invalid {
  ~ .radioField-icon {
      border-color: var(--palettes-error-700) !important;
  }

  &:hover {
    ~ .radioField-icon {
      border-color: var(--palettes-error-600);

      .radioField-icon-check {
        background-color: var(--palettes-error-600);
      }
    }
  }

  &:hover {
    ~ .radioField-icon {
      border-color: var(--palettes-error-800);

      .radioField-icon-check {
        background-color: var(--palettes-error-800);
      }
    }
  }
}

@mixin checkedInvalid {
  ~ .radioField-icon {
    .radioField-icon-check {
      background-color: var(--palettes-error-700);
    }
  }
}
