@use '@lucca-front/scss/src/commons/utils/a11y';

.popover-contentOptional {
	padding: var(--pr-t-spacings-100) !important;
	max-height: 20rem;
	overflow: auto;

	&:focus-visible {
		@include a11y.focusVisible;

		border-radius: var(--commons-borderRadius-L);
	}
}
