@use '@lucca-front/scss/src/commons/utils/a11y';

.multilanguage_popover-content.popover-contentOptional {
	@layer components {
		max-block-size: 20rem;
		max-inline-size: 100%;
		overflow: auto;

		.multilanguage_popover-content-button {
			padding: var(--pr-t-spacings-50);
		}

		.textField:not(:focus-within, :hover) {
			.multilanguage_popover-content-button {
				@include a11y.mask;
			}
		}
	}

	@layer mods {
		&:focus-visible {
			@include a11y.focusVisible;

			border-radius: var(--pr-t-border-radius-structure);
		}
	}
}
