@use '../../../styles/definitions';

@include definitions.selectInputStyle;

.lu-picker-header {
	@layer components {
		.option-selector {
			display: none;
		}
	}

	@layer mods {
		&.mod-multiple {
			.option-selector {
				display: inherit;
			}
		}
	}
}
