.lu-picker-panel {
	@extend %popover-panel;
}

.lu-picker-content {
	@extend %popover-content;

	padding: 0;
	max-height: 17.5rem;
	overflow-y: auto;
	display: block;
	transform-origin: top left;
	animation: scaleIn 150ms cubic-bezier(0.25, 0.8, 0.25, 1);

	&.is-loading {
		height: 17.5rem;
	}
}

.lu-picker-loading {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.lu-picker-header {
	background-color: var(--colors-white-color);
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	display: block;
	z-index: 1;
}

.lu-picker-textfield {
	border-bottom: var(--commons-divider-width) solid var(--commons-divider-color);
	margin-bottom: var(--spacings-smaller);
	width: 100%;

	.textfield-input {
		background-color: var(--colors-white-color);
		border-radius: 0;
		box-shadow: none;
	}
}

.lu-picker-footer {
	background-color: var(--colors-white-color);
	position: sticky;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
	z-index: 1;
}

.lu-date-picker-panel {
	width: var(--components-calendar-width);

	.lu-picker-content {
		max-height: none;
	}

	lu-calendar > .calendar {
		width: var(--components-calendar-width);
	}
}
