@use '@lucca-front/scss/src/commons/utils/form';
@use '@lucca-front/scss/src/components/formLabel/exports' as formLabel;
@use '@lucca-front/scss/src/components/inlineMessage/exports' as inlineMessage;

@mixin component($atRoot: 'without: rule') {
	@at-root ($atRoot) {
		.form-fieldset {
			margin: 0;
			padding: 0;
			border: 0;
		}
	}
}

@mixin componentDeprecated($atRoot: 'without: rule') {
	padding: 0;
	border: 0;
	margin: 0 0 var(--components-form-group-margin-bottom);
	position: relative;

	@at-root ($atRoot) {
		.form-header {
			margin-bottom: var(--spacings-M);
		}

		.form-header-title {
			margin: 0;
			padding: 0;
		}

		.form-header-mandatory {
			font-size: var(--sizes-S-fontSize);
			line-height: var(--sizes-S-lineHeight);
			color: var(--palettes-neutral-700);
		}

		.form-header-mandatory-asterisk {
			color: var(--palettes-error-700);
		}

		.form-field {
			position: relative;
			display: flex;
			flex-direction: column;
			gap: var(--pr-t-spacings-50);

			.formLabel {
				@include formLabel.label;
			}
		}

		// deprecated

		.form-group-label,
		.form-group-legend,
		.form-group-title {
			display: block;
			font-weight: 600;
			font-size: var(--components-form-label-font-size);
			margin: 0;
			padding: 0 0 var(--components-form-label-margin-bottom);
			width: 100%;
			text-align: left;
		}

		.form-group-legend,
		.form-group-title {
			font-size: var(--components-field-framed-title-font-size);
			line-height: var(--components-field-framed-title-line-height);
			padding-bottom: var(--pr-t-spacings-50);
		}

		.form-actions {
			text-align: right;
		}

		.form {
			.textfield,
			.radiosfield,
			.checkboxesfield,
			.checkbox.mod-field {
				margin-bottom: var(--components-form-field-margin-bottom);
			}
		}

		.form-group-line {
			display: flex;
			flex-wrap: wrap;
			position: relative;
		}

		.form-group-line-col {
			flex-basis: 0;
			flex-grow: 1;
			display: flex;
			flex-direction: column;

			> * {
				flex-grow: 1;
			}
		}

		.form-group-label {
			&.is-required {
				&:not(:empty) {
					&::after {
						@include form.required;
					}
				}
			}
		}

		.radiosfield-label,
		.checkboxesfield-label,
		.textfield-label {
			&.is-required {
				&:not(:empty) {
					&::after {
						@include form.required;
					}
				}
			}
		}
	}
}
