@mixin vars {
	--components-form-group-margin-bottom: 1.2rem;

	--components-form-field-margin-bottom: var(--spacings-S);

	--components-form-label-font-size: var(--sizes-M-fontSize);
	--components-form-label-margin-bottom: var(--spacings-XXS);

	--components-field-framed-side-padding: var(--spacings-S);
	--components-field-framed-top-padding: var(--spacings-L);
	--components-field-framed-bottom-padding: var(--spacings-S);
	--components-field-framed-label-top-offset: var(--spacings-XS);
	--components-field-framed-textarea-height: 8.5rem;
	--components-field-framed-textarea-min-height: 5.5rem;
	--components-field-framed-textarea-max-height: 80vh;
	--components-field-framed-title-font-size: 1.125rem;
	--components-field-framed-title-line-height: var(--sizes-M-lineHeight);
	--components-field-framed-suffix-padding-right: var(--spacings-XL);
}
