@mixin grey {
	--components-arrow-background: var(--palettes-grey-25);
}

@mixin S {
	--components-arrow-left: -2px;
	--components-arrow-bottom: -2px;
}

@mixin switch {
	--components-arrow-left: 8px;
}

@mixin switchS {
	--components-arrow-left: 4px;
	--components-arrow-bottom: -2px;
}
