@mixin vars {
	--components-arrow-background: var(--colors-white-color);
	--components-arrow-horizontalMargin: var(--commons-borderRadius-M);
	--components-arrow-left: 0;
	--components-arrow-bottom: 0;
}
