@use '@lucca-front/scss/src/commons/utils/reset';
@use '@lucca-front/scss/src/commons/utils/a11y';
@use '@lucca-front/scss/src/commons/utils/namespace';

@mixin component($atRoot: namespace.$defaultAtRoot) {
	position: relative;
	column-gap: var(--pr-t-spacings-400);
	align-items: center;
	display: flex;
	position: relative;
	flex-wrap: wrap;
	padding: var(--components-horizontalNavigation-listPadding);

	&::after {
		content: var(--components-horizontalNavigation-borderContent);
		border-block-end-width: var(--commons-divider-width);
		border-block-end-color: var(--commons-divider-color);
		border-block-end-style: solid;
		position: absolute;
		block-size: 1px;
		inset: auto 0 0;
	}

	// .label is deprecated
	.label {
		margin-inline-end: 0;
		background-color: var(--palettes-neutral-100);
		color: var(--palettes-neutral-700);
	}

	@at-root ($atRoot) {
		// .menu-containerOptionnal is deprecated
		.horizontalNavigation-containerOptionnal,
		.menu-containerOptionnal {
			max-inline-size: var(--commons-container-maxWidth);
			padding-inline: var(--commons-container-padding);
		}

		// .menu-list is deprecated
		.horizontalNavigation-list,
		.menu-list {
			@include reset.list;

			align-items: var(--components-horizontalNavigation-listAlign);
			gap: var(--components-horizontalNavigation-listGap);
			flex-direction: var(--components-horizontalNavigation-listDirection);
			display: flex;
			flex-grow: 1;
			flex-wrap: wrap;

			.scrollBox & {
				flex-wrap: nowrap;
			}
		}

		// .menu-link is deprecated
		// .menu-list-item-action is deprecated
		.horizontalNavigation-list-item-action,
		.menu-list-item-action,
		.menu-link {
			@include reset.button;

			font-size: var(--components-horizontalNavigation-listItemActionFontSize);
			line-height: var(--components-horizontalNavigation-listItemActionLineHeight);
			padding: var(--components-horizontalNavigation-listItemActionPadding);
			border-radius: var(--commons-borderRadius-M);
			color: var(--components-horizontalNavigation-listItemActionColor);
			display: inline-flex;
			text-align: var(--components-horizontalNavigation-listItemActionAlign);
			transition-duration: var(--commons-animations-durations-fast);
			gap: var(--pr-t-spacings-100);
			align-items: center;
			transition-property: color;
			position: relative;
			text-decoration: none;
			inline-size: auto;
			z-index: 1;
			scroll-margin-inline: var(--pr-t-spacings-200);

			&:before {
				content: '';
				position: absolute;
				inset-block: calc(var(--components-horizontalNavigation-listItemActionPaddingBlock));
				inset-inline: calc(var(--components-horizontalNavigation-listItemActionPaddingInline) - var(--pr-t-spacings-100));
				border-radius: var(--commons-borderRadius-L);
			}

			&::after {
				background-color: var(--palettes-700, var(--palettes-product-700));
				border-radius: var(--components-horizontalNavigation-listItemActionRadius);
				transition-duration: var(--commons-animations-durations-fast);
				block-size: var(--components-horizontalNavigation-listItemActionRadiusHeight);
				inline-size: var(--components-horizontalNavigation-listItemActionRadiusWidth);
				transform: var(--components-horizontalNavigation-listItemActionTransform);
				inset: var(--components-horizontalNavigation-listItemActionInset);
				transition-property: transform;
				display: block;
				position: absolute;
				z-index: 1;
				content: '';
			}

			&:focus-visible {
				outline: none !important;

				&::before {
					@include a11y.focusVisible;
				}
			}

			&:not(.is-disabled, [disabled]) {
				&:hover {
					&:not(.is-active, [aria-current='page']) {
						color: var(--palettes-neutral-900);
					}

					// .label is deprecated
					.label {
						background-color: var(--palettes-100, var(--palettes-product-100));
						color: var(--palettes-700, var(--palettes-product-700));
					}

					&::after {
						--components-horizontalNavigation-listItemActionTransform: scale(0.75, 1);
					}
				}
			}

			.link-text {
				text-decoration: none;
			}
		}

		// .menu-link-placeholder is deprecated
		.horizontalNavigation-link-placeholder,
		.menu-link-placeholder {
			&::after {
				content: attr(data-content-after);

				display: block;
				block-size: 0;
				overflow: hidden;
				font-weight: 600;
			}
		}
	}
}
