@use 'exports' as *;

// stylelint-disable-next-line selector-disallowed-list -- .menu is deprecated
.menu,
.horizontalNavigation {
	@layer components {
		@include vars;
		@include component;
	}

	@layer mods {
		&.mod-header {
			@include header;
		}

		&.mod-S {
			@include S;
		}

		&.mod-noBorder {
			@include noBorder;
		}

		&.mod-vertical {
			@include vertical;

			// stylelint-disable-next-line selector-disallowed-list -- .menu-list-item-action is deprecated
			.menu-list-item-action,
			.horizontalNavigation-list-item-action {
				&[aria-current='page'],
				&.is-active {
					@include activeVertical;
				}
			}

			&.mod-S {
				@include verticalS;
			}
		}
	}
}

.menu-link, // stylelint-disable-line selector-disallowed-list -- .menu-link is deprecated
.menu-list-item-action, // stylelint-disable-line selector-disallowed-list -- .menu-list-item-action is deprecated
.horizontalNavigation-list-item-action {
	@layer mods {
		// .active is deprecated
		&.active,
		&[aria-current='page'],
		&.is-active {
			@include active;
		}

		&.disabled, // .disabled is deprecated
		&[disabled], // [disabled] is deprecated
		&.is-disabled {
			@include disabled;
		}
	}
}
