@mixin vars {
	--components-horizontalNavigation-borderContent: '';
	--components-horizontalNavigation-listPadding: 0;
	--components-horizontalNavigation-listItemActionPaddingBlock: var(--pr-t-spacings-200);
	--components-horizontalNavigation-listItemActionPaddingInline: 0px;
	--components-horizontalNavigation-listItemActionPadding: var(--components-horizontalNavigation-listItemActionPaddingBlock)
		var(--components-horizontalNavigation-listItemActionPaddingInline);
	--components-horizontalNavigation-listGap: 0 var(--pr-t-spacings-400);
	--components-horizontalNavigation-listDirection: row;
	--components-horizontalNavigation-listAlign: flex-end;
	--components-horizontalNavigation-listItemActionAlign: center;
	--components-horizontalNavigation-listItemActionTransform: scale(0, 1);
	--components-horizontalNavigation-listItemActionColor: var(--pr-t-color-text);
	--components-horizontalNavigation-listItemActionSize: 2px;
	--components-horizontalNavigation-listItemActionFont: inherit;
	--components-horizontalNavigation-listItemActionInset: auto 0 0 0;
	--components-horizontalNavigation-listItemActionRadius: var(--commons-borderRadius-M) var(--commons-borderRadius-M) 0 0;
	--components-horizontalNavigation-listItemActionRadiusWidth: auto;
	--components-horizontalNavigation-listItemActionRadiusHeight: var(--components-horizontalNavigation-listItemActionSize);
}
