@mixin selectClearerStyle {
	:host {
		display: none;
	}

	:host-context(.textfield-input.is-filled) {
		display: block;
	}

	.actionIcon {
		color: _color("primary", "color", true);
		color: _color("primary");
		height: 1rem;
		padding: 0;
		width: 1rem;

		&:hover {
			background: _color("primary", "see-through", true);
			background: _color("primary", "see-through");
			color: _color("primary", "dark", true);
			color: _color("primary", "dark");
		}
	}

	.lucca-icon {
		display: block;
		font-size: 0.9rem;
	}

	// Material
	:host-context(.textfield.mod-material) {
		.actionIcon {
			color: _color("text.light", "color", true);
			color: _color("text.light");
		}
	}

	// Framed
	:host-context(.textfield.mod-framed) {
		.actionIcon {
			color: _color("text.light", "color", true);
			color: _color("text.light");
		}
	}

	// Framed
	:host-context(.textfield-input.is-error) {
		.actionIcon {
			color: _color("error", "color", true);
			color: _color("error");

			&:hover {
				background: _color("error", "see-through", true);
				background: _color("error", "see-through");
				color: _color("error", "dark", true);
				color: _color("error", "dark");
			}
		}
	}
}
