@import 'theming';
@import '~@lucca-front/icons/src/_mixins';
@mixin selectInputStyle {
	:host {
		cursor: pointer;
		outline: none;
		padding: 0;

		&::after {
			bottom: 0.55rem;
			color: _color('text.light');
			@include makeIcon('arrow_south');
			font-size: 0.75rem;
			pointer-events: none;
			position: absolute;
			right: _component('textfield.input.padding-horizontal');
		}
		&[disabled] {
			cursor: not-allowed;
			pointer-events: none;
		}
	}
	.lu-select-placeholder {
		color: _component("textfield.input.placeholder");
	}
	.lu-select-value, .lu-select-placeholder {
		line-height: 1.1;
		height: _component('select.height');
		padding: _component('textfield.input.padding-vertical') 1.5rem
			_component('textfield.input.padding-vertical')
			_component('textfield.input.padding-horizontal');
		transition: all _theme('commons.animations.durations.standard') ease;
		align-items: center;
	}

	.lu-select-display-wrapper, .lu-select-placeholder {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.lu-select-value {
		display: none;
	}

	.lu-select-suffix {
		position: absolute;
		bottom: 0.45rem;
		right: calc(2.75 * #{_component('textfield.input.padding-horizontal')});
	}
	// MODS
	// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒
	:host(.mod-multiple) {
		&.mod-multipleView:not(.mod-singleLine) {
			.lu-select-value {
				height: auto;
				min-height: _component('select.height');
				padding-bottom: 0;
				align-items: center;
				padding-top: .3rem;
			}
			.lu-select-display-wrapper {
				overflow: visible;
				white-space: normal;
			}
		}

		::ng-deep {
			.lu-select-value .label {
				margin-top: _component('select.tag.margin');
				margin-bottom: _component('select.tag.margin');
				margin-left: 0;
				overflow: hidden;
				text-overflow: ellipsis;
				vertical-align: top;
			}

			.lu-select-value .lu-select-display-wrapper > .chip, .lu-select-value .lu-select-display-wrapper > .label {
				background: _component("select.tag.background");
				color: _component("select.tag.color");
			}
		}
	}
	:host(.mod-search) {
		&::after {
			@include makeIcon("search");
			font-size: 1.4rem;
			line-height: _component('select.height');
			bottom: 0;
		}

		.lu-select-suffix {
			right: calc(3.5 * #{_component('textfield.input.padding-horizontal')});
		}
	}
	:host(.mod-overflow) {
		.lu-select-display-wrapper, .lu-select-placeholder {
			overflow: visible;
		}
	}
	// Framed
	:host-context(.textfield.mod-framed) {
		&.textfield-input {
			padding: _component('field.framed.top-padding') 0 0;

			&::after {
				bottom: 0.95rem;
				right: _component('field.framed.side-padding');
			}

			.lu-select-value, .lu-select-placeholder {
				padding: 0 calc(#{_component('field.framed.side-padding')} * 3)
					_component('field.framed.bottom-padding')
					_component('field.framed.side-padding');
			}


			.lu-select-suffix {
				bottom: 0.85rem;
				right: calc(3.75 * #{_component('textfield.input.padding-horizontal')});
			}

			&.mod-search {
				&::after {
					bottom: .5rem;
				}
				.lu-select-suffix {
					right: calc(4.8 * #{_component('textfield.input.padding-horizontal')});
				}
			}

			&.mod-multiple.mod-multipleView.is-filled .lu-select-value {
				margin-bottom: -.3rem;
			}
		}
	}

	// Material
	:host-context(.textfield.mod-material) {
		&::after {
			bottom: 0.6rem;
			right: 0;
		}

		.lu-select-value, .lu-select-placeholder {
			padding-left: 0;
			padding-right: 0.8rem;
		}

		.lu-select-suffix {
			right: calc(2 * #{_component('textfield.input.padding-horizontal')});
		}


		&.is-select {
			.lu-select-placeholder {
				display: none;
			}
		}

		&.mod-search {
			&::after {
				bottom: 0;
			}
			.lu-select-suffix {
				right: calc(2.75 * #{_component('textfield.input.padding-horizontal')});
			}
		}
	}

	:host-context(.textfield.mod-material .textfield-input.is-focused) {
		.lu-select-placeholder {
			display: none;
		}
	}

	// STATES
	// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

	// Filled
	:host-context(.textfield-input.is-filled) {
		.lu-select-placeholder {
			display: none;
		}
		.lu-select-value {
			display: flex;
		}
	}

	:host-context(.textfield-input.is-clearable) {
		.lu-select-value {
			padding-right: 2.5rem;
		}
	}

}
