@mixin selectClearerStyle {
	:host {
		display: none;
		vertical-align: text-bottom;
	}

	:host-context(.textfield-input.is-filled) {
		display: inline-block;
	}

	.actionIcon {
		height: 1rem;
		padding: 0;
		width: 1rem;
		color: var(--palettes-700, var(--components-select-default-palette-700));

		&:hover {
			background-color: var(--palettes-50, var(--components-select-default-palette-50));
			color: var(--palettes-800, var(--components-select-default-palette-800));
		}

		&:focus {
			background-color: var(--palettes-50, var(--components-select-default-palette-50));
			box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04), 0 1px 2px rgba(0, 0, 0, 0.06),
				0 0 0 4px var(--palettes-200, var(--components-select-default-palette-200));
		}
	}

	.lucca-icon {
		display: block;
		font-size: 1rem;
	}

	// Material
	:host-context(.textfield.mod-material) {
		.actionIcon {
			color: var(--palettes-grey-500);
		}
	}

	// Framed
	:host-context(.textfield.mod-framed) {
		.actionIcon {
			color: var(--palettes-grey-500);
		}
	}

	// Error
	:host-context(.textfield-input.is-error) {
		.actionIcon {
			color: var(--palettes-error-700);

			&:hover {
				background-color: var(--palettes-error-50);
				color: var(--palettes-error-800);
			}
		}
	}

	// Disabled
	:host-context(.textfield-input.is-disabled, .textfield-input[disabled]) {
		display: none;
	}
}
