@use '@lucca-front/scss/src/commons/utils/reset';

@mixin component($atRoot: 'without: rule') {
	display: flex;
	box-shadow: 0 0 0 1px var(--components-selectSimple-border-color);
	border-radius: var(--commons-borderRadius-M);
	overflow: hidden;
	outline: none;
	align-items: center;
	padding: var(--spacings-XS);
	cursor: pointer;

	&:hover {
		--components-selectSimple-border-color: var(--palettes-grey-400);
	}

	@at-root ($atRoot) {
		.simpleSelect-input {
			border: 0;
			line-height: var(--sizes-M-lineHeight);
			display: flex;
			flex: 1;
			outline: none;
			color: var(--palettes-grey-800);
			padding: 0;

			&::placeholder {
				color: var(--palettes-grey-400);
			}
		}

		.simpleSelect-value {
			display: none;
			width: 100%;
			color: var(--palettes-grey-800);
			white-space: nowrap;
		  overflow: hidden;
		  text-overflow: ellipsis;
			margin-right: var(--spacings-XS);
		}

		.simpleSelect-arrow {
			color: var(--palettes-grey-600);
		}
	}
}
