@use '@lucca-front/icons/src/icon/exports' as icon;
@use '@lucca-front/scss/src/components/clear/exports' as clear;

@mixin S {
  --components-selectSimple-fontSize: var(--sizes-S-fontSize);
  --components-selectSimple-lineHeight: var(--sizes-S-lineHeight);
  --components-selectSimple-padding: 0.375rem;

  .simpleSelect-arrow {
    @include icon.S;
  }

  .simpleSelect-clear {
    @include clear.S;
  }
}

@mixin XS {
  --components-selectSimple-fontSize: var(--sizes-XS-fontSize);
  --components-selectSimple-lineHeight: var(--sizes-XS-lineHeight);
  --components-selectSimple-padding: var(--spacings-XXS);

  .simpleSelect-arrow {
    @include icon.XS;
  }

  .simpleSelect-clear {
    @include clear.S;
  }
}
