@use '@lucca-front/icons/src/icon/exports' as icon;
@use '@lucca-front/scss/src/components/clear/exports' as clear;

@mixin S {
  --components-simpleSelect-fontSize: var(--sizes-S-fontSize);
  --components-simpleSelect-lineHeight: var(--sizes-S-lineHeight);
  --components-simpleSelect-padding: var(--pr-t-spacings-75);
  --components-simpleSelect-gap: var(--pr-t-spacings-75);

  .simpleSelect-arrow {
    @include icon.S;
  }

  .simpleSelect-clear {
    @include clear.S;
  }
}

@mixin XS {
  --components-simpleSelect-fontSize: var(--sizes-XS-fontSize);
  --components-simpleSelect-lineHeight: var(--sizes-XS-lineHeight);
  --components-simpleSelect-padding: var(--pr-t-spacings-50);
  --components-simpleSelect-gap: var(--pr-t-spacings-50);

  .simpleSelect-arrow {
    @include icon.XS;
  }

  .simpleSelect-clear {
    @include clear.S;
  }
}
