@mixin vars {
	--components-simpleSelect-fontSize: var(--pr-t-font-body-M-fontSize);
	--components-simpleSelect-lineHeight: var(--pr-t-font-body-M-lineHeight);
	--components-simpleSelect-padding: var(--pr-t-spacings-100);
	--components-simpleSelect-gap: var(--pr-t-spacings-100);
	--components-simpleSelect-background: var(--pr-t-color-input-background);
	--components-simpleSelect-value-color: var(--pr-t-color-input-text);
	--components-simpleSelect-border-color: var(--pr-t-color-input-border);
	--components-simpleSelect-placeholder: var(--pr-t-color-input-text-placeholder);
	--components-simpleSelect-arrow-color: var(--pr-t-color-input-icon);
}
