@mixin component {
	padding: var(--spacings-smaller) var(--spacings-standard) var(--spacings-smaller) var(--spacings-bigger);
	background-color: var(--palettes-primary-700);
	color: var(--colors-white-color);
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	position: relative;

	@at-root {
		.communicationBanner-visual {
			width: var(--spacings-bigger);
			position: absolute;
			inset: 0;
		}

		.communicationBanner-blob {
			fill: var(--palettes-primary-600);
			position: absolute;
			height: 100%;
			width: 100%;
		}
		.communicationBanner-illustration {
			left: var(--spacings-smallest);
			top: var(--spacings-smallest);
			width: var(--spacings-standard);
			position: absolute;
			height: 100%;
		}

		.communicationBanner-title {
			font-size: var(--sizes-small-font-size);
		}
	}
}
