@mixin component($atRoot: 'without: rule') {
	background-color: var(--components-card-background);
	border-radius: var(--components-card-border-radius);
	border-color: var(--components-card-border-color);
	border-width: 1px;
	display: block;
	margin-bottom: var(--pr-t-spacings-200);
	border-style: solid;
	position: relative;
	transition-duration: var(--commons-animations-durations-fast);
	transition-property: background-color, box-shadow, color;

	@at-root ($atRoot) {
		.card-content {
			padding: var(--components-card-content-padding);
		}

		.card-title {
			padding: 0;
			margin-bottom: var(--pr-t-spacings-100);
		}

		.card-action {
			display: flex;
			align-items: center;
			justify-content: center;
			border-left: 1px solid var(--commons-border-200);
			padding-left: var(--pr-t-spacings-200);
			margin-left: var(--pr-t-spacings-200);
		}

		.card-footer {
			padding: var(--components-card-footer-padding);
			border-top-color: var(--components-card-border-color);
			border-top-width: 1px;
			border-top-style: solid;
			align-items: center;
			display: flex;
			min-height: 3rem;
		}

		.card-footer-right {
			margin-left: auto;
		}
	}
}
