@use '@lucca-front/scss/src/commons/utils/a11y';

@mixin grey {
	--components-card-background: var(--palettes-grey-50);
}

@mixin clickable {
	color: var(--palettes-grey-800);
	text-decoration: none;
	cursor: pointer;

	&:hover {
		border-color: var(--components-card-hover-border);
		background-color: var(--components-card-hover-background);
		outline: none;
	}

	&:focus-visible {
		@include a11y.focusVisible();
	}
}

@mixin elevated {
	box-shadow: var(--commons-boxShadow-S);
	border: 0;
}

@mixin action {
	box-shadow: var(--commons-boxShadow-S);
	border: 0;
	cursor: pointer;
	padding: var(--components-card-content-padding);
	display: flex;
	flex-direction: row;
	row-gap: var(--spacings-S);

	&:hover {
		box-shadow: var(--commons-boxShadow-L);
	}

	.card-content {
		flex: 1;
		padding: 0;
	}
}
