@use '@lucca-front/icons/src/commons/config';

@mixin disabled {
	color: var(--commons-disabled-color);
	background-color: var(--commons-disabled-background);

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	.#{config.$prefix}h1,
	.#{config.$prefix}h2,
	.#{config.$prefix}h3,
	.#{config.$prefix}h4,
	.#{config.$prefix}h5,
	.#{config.$prefix}h6 {
		color: var(--commons-disabled-color) !important;
	}
}
