@use '@lucca-front/scss/src/commons/config';

@mixin disabled {
	color: var(--commons-disabled-color);
	background-color: var(--commons-disabled-background);

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	.#{config.$utilityPrefix}-h1,
	.#{config.$utilityPrefix}-h2,
	.#{config.$utilityPrefix}-h3,
	.#{config.$utilityPrefix}-h4,
	.#{config.$utilityPrefix}-h5,
	.#{config.$utilityPrefix}-h6 {
		color: var(--commons-disabled-color) !important;
	}
}
