@mixin vars {
	--components-card-background: var(--colors-white-color);
	--components-card-content-padding: .75rem var(--spacings-S);
	--components-card-footer-padding: var(--spacings-XS) var(--spacings-M);
	--components-card-border-radius: var(--commons-borderRadius-L);
	--components-card-border-color: var(--commons-divider-color);
	--components-card-hover-border: var(--palettes-grey-400);
	--components-card-hover-background: var(--palettes-grey-100);
}
