@mixin vars {
	--components-card-background: var(--pr-t-elevation-surface-raised);
	--components-card-content-padding: var(--pr-t-spacings-S) var(--pr-t-spacings-M);
	--components-card-footer-padding: var(--pr-t-spacings-XS) var(--pr-t-spacings-L);
	--components-card-border-radius: var(--commons-borderRadius-L);
	--components-card-border-color: var(--commons-divider-color);
	--components-card-hover-border: var(--palettes-neutral-400);
	--components-card-hover-background: var(--palettes-neutral-100);
}
