@use '@lucca-front/scss/src/commons/utils/media';

@mixin overlay {
	&,
	body {
		touch-action: none;
		overscroll-behavior: none;
		-webkit-overflow-scrolling: auto;
	}

	body {
		overflow: hidden !important;
	}
}

@mixin active {
	@include media.max('S') {
		inset-block-start: var(--commons-banner-height);
		block-size: calc(100vh - var(--commons-banner-height));
		background-color: var(--pr-t-elevation-surface-raised);
		position: fixed;
		overflow: auto;
		inset-inline: 0;
	}
}
