<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8" />
		<title>…</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="msapplication-TileColor" content="#ffb900" />
		<meta name="msapplication-config" content="//cdn.lucca.fr/favicon/lucca/browserconfig.xml" />
		<meta name="theme-color" content="#ffb900" />
		<link rel="apple-touch-icon" sizes="180x180" href="//cdn.lucca.fr/favicon/lucca/apple-touch-icon.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="//cdn.lucca.fr/favicon/lucca/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="//cdn.lucca.fr/favicon/lucca/favicon-16x16.png" />
		<link rel="manifest" href="//cdn.lucca.fr/favicon/lucca/site.webmanifest" />
		<link rel="mask-icon" href="//cdn.lucca.fr/favicon/lucca/safari-pinned-tab.svg" color="#ffb900" />
		<link rel="shortcut icon" href="//cdn.lucca.fr/favicon/lucca/favicon.ico" />
		<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600&display=swap" rel="stylesheet" />
		<link rel="stylesheet" href="../lucca-front.css" />
	</head>
	<body>
		<div
			class="layout mod-navsideLarge mod-navsideWithoutScrollbar mod-asideBefore mod-contentHeaderStatic mod-contentSubheaderStatic mod-contentFooterStatic"
		>
			<header class="layout-banner"></header>
			<nav class="layout-navside">
				<button type="button" id="navsideToggle" aria-expanded="false" class="layout-navside-toggle">Menu</button>
				<div class="layout-navside-content">
					<div class="layout-navside-content-inner"></div>
					<footer class="layout-navside-footer"></footer>
				</div>
			</nav>
			<main class="layout-content">
				<div class="layout-content-headers">
					<header class="layout-content-headers-header">
						<div class="layout-content-container"></div>
					</header>
					<header class="layout-content-headers-subheader">
						<div class="layout-content-container"></div>
					</header>
				</div>
				<div class="layout-content-inner">
					<div class="layout-content-container"></div>
				</div>
				<footer class="layout-content-footer">
					<div class="layout-content-container"></div>
				</footer>
			</main>
			<aside class="layout-aside">
				<div class="layout-aside-content">
					<div class="layout-aside-content-inner"></div>
				</div>
			</aside>
		</div>

		<!-- demo -->
		<link rel="stylesheet" href="../demo.css" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script>
			$('.layout-navside-toggle').on('click', function () {
				if ($(this).attr('aria-expanded') === 'true') {
					$(this).attr('aria-expanded', 'false');
					$('.layout-navside').removeClass('is-active');
					$('html').removeClass('has-overlay');
				} else {
					$(this).attr('aria-expanded', 'true');
					$('.layout-navside').addClass('is-active');
					$('html').addClass('has-overlay');
				}
			});

			$('.layout-navside-content-inner')
				.add('.layout-content-inner .layout-content-container')
				.add('.layout-aside-content-inner')
				.add('.layout-content-footer')
				.add('.layout-aside-footer')
				.add('.layout-navside-footer')
				.add('.layout-content-headers-header .layout-content-container')
				.add('.layout-content-headers-subheader .layout-content-container')
				.append(
					'<div>' +
						'<button type="button" class="add" aria-label="Add content">+</button>' +
						'<button type="button" class="remove" disabled="disabled" aria-label="Remove content">−</button>' +
						'</div>',
				);

			$('.add').on('click', function () {
				$(this)
					.parent()
					.append(
						'<div class="layout-more">' +
							'Lorem ipsum dolor, sit amet consectetur adipisicing elit. ' +
							'Quia porro, molestias nihil deserunt saepe laborum velit ' +
							'explicabo voluptas eum maxime sed maiores doloremque ' +
							'dolor nam ad impedit. A, ullam totam.' +
							'</div>',
					);
				if ($(this).parent().find('.layout-more').length >= 1) {
					$(this).parent().find('.remove').removeAttr('disabled');
				}
			});

			$('.remove').on('click', function () {
				$(this).parent().find('.layout-more').filter(':last-child').remove();
				if ($(this).parent().find('.layout-more').length == 0) {
					$(this).parent().find('.remove').attr('disabled', 'disabled');
				}
			});
		</script>
	</body>
</html>
