@use '@lucca-front/scss/src/commons/utils/namespace';

@mixin component($atRoot: namespace.$defaultAtRoot) {
	padding-inline: 0.125em;
	margin-inline: -0.125em;
	background-repeat: no-repeat;
	box-decoration-break: clone;
	font-weight: inherit;
	background-image:
		linear-gradient(var(--components-highlight-backgroundColor)),
		linear-gradient(var(--components-highlight-backgroundColor)),
		radial-gradient(var(--components-highlight-backgroundDiameter) circle at var(--components-highlight-backgroundStart) var(--components-highlight-backgroundEnd), var(--components-highlight-backgroundColor) 50%, transparent 50%),
		radial-gradient(var(--components-highlight-backgroundDiameter) circle at var(--components-highlight-backgroundEnd) var(--components-highlight-backgroundEnd), var(--components-highlight-backgroundColor) 50%, transparent 50%),
		radial-gradient(var(--components-highlight-backgroundDiameter) circle at var(--components-highlight-backgroundStart) calc(100% - var(--components-highlight-backgroundBlockSize) + var(--components-highlight-backgroundRadius)), var(--components-highlight-backgroundColor) 50%, transparent 50%),
		radial-gradient(var(--components-highlight-backgroundDiameter) circle at var(--components-highlight-backgroundEnd) calc(100% - var(--components-highlight-backgroundBlockSize) + var(--components-highlight-backgroundRadius)), var(--components-highlight-backgroundColor) 50%, transparent 50%);
	background-size:
		100% calc(var(--components-highlight-backgroundBlockSize) - var(--components-highlight-backgroundDiameter)),
		calc(100% - var(--components-highlight-backgroundDiameter)) var(--components-highlight-backgroundBlockSize),
		100% 100%,
		100% 100%,
		100% 100%,
		100% 100%;
	background-position:
		50% calc(100% - var(--components-highlight-backgroundRadius)),
		50% 100%,
		0 0,
		0 0,
		0 0,
		0 0;

	@at-root ($atRoot) {

	}
}
