@mixin narrow {
	--components-fancyBox-content-foregroundStartEnd-inlineSize: 11.25rem;
	--components-fancyBox-content-foregroundStartEnd-blockSize: 9rem;
	--components-fancyBox-content-foregroundStartEnd-insetInlineEnd: -8.75rem;
	--components-fancyBox-content-foregroundStartEnd-insetBlockStart: -0.5rem;
}

@mixin S {
	--components-fancyBox-contentMinInlineSize: min(17rem, 100%);
	--components-fancyBox-contentPaddingBlock: var(--pr-t-spacings-150);
	--components-fancyBox-contentPaddingInline: var(--pr-t-spacings-200);
	--components-fancyBox-content-foregroundStartEnd-insetInlineEnd: -9rem;
	--components-fancyBox-content-foregroundStartEnd-insetBlockStart: -0.75rem;
	--components-fancyBox-content-foregroundStartEnd-inlineSize: 9.375rem;
	--components-fancyBox-content-foregroundStartEnd-blockSize: 7.5rem;
}
