@mixin vars {
	--components-fancyBox-paddingInline: var(--pr-t-spacings-200);
	--components-fancyBox-marginInline: auto;

	// Content
	--components-fancyBox-contentMinBlockSize: 11.25rem;
	--components-fancyBox-contentMinInlineSize: min(22rem, 100%);
	--components-fancyBox-contentPaddingBlock: var(--pr-t-spacings-300);
	--components-fancyBox-contentPaddingInline: var(--pr-t-spacings-700);

	// Visuals
	--components-fancyBox-background-left: none;
	--components-fancyBox-background-right: none;
	--components-fancyBox-foreground: none;
	--components-fancyBox-imageWidth: 12.5rem;
	--components-fancyBox-imageHeight: 10rem;
	--components-fancyBox-offsetInline: -10rem;
	--components-fancyBox-offsetBlock: -1.5rem;
}
