@use '@lucca-front/scss/src/commons/utils/reset';

@mixin component {
	background-color: var(--components-menu-background);
	gap: var(--spacings-big);
	align-items: center;
	display: flex;
	position: relative;
	flex-wrap: wrap;

	&:not(.mod-noBorder) {
		&::after {
			border-bottom-width: var(--commons-divider-width);
			border-bottom-color: var(--commons-divider-color);
			border-bottom-style: solid;
			position: absolute;
			height: 1px;
			bottom: 0;
			left: 0;
			right: 0;
			content: '';
		}
	}

	.label {
		margin-right: 0;
		background-color: var(--palettes-grey-100);
		color: var(--palettes-grey-700);
	}

	@at-root {
		.menu-list {
			@include reset.list;

			gap: var(--spacings-big);
			display: flex;
			flex-wrap: wrap;
		}

		.menu-link, // legacy syntax
		.menu-list-item-action {
			@include reset.button;
			padding: var(--components-menu-padding);
			border-radius: var(--commons-border-radius);
			color: var(--palettes-grey-700);
			transition-duration: var(--commons-animations-durations-fast);
			transition-property: color;
			position: relative;
			text-decoration: none;
			text-align: center;
			display: block;
			width: auto;

			&::after {
				background-color: var(--palettes-700, var(--palettes-primary-700));
				border-radius: var(--commons-border-radius) var(--commons-border-radius) 0 0;
				transition-duration: var(--commons-animations-durations-fast);
				transition-property: transform;
				display: block;
				position: absolute;
				bottom: 0;
				height: 2px;
				left: 0;
				right: 0;
				transform: scale(0, 1);
				z-index: 1;
				content: '';
			}

			&:not(.is-disabled, [disabled]) {
				&:focus-visible,
				&:hover {
					&:not(.is-active, [aria-current='page']) {
						color: var(--palettes-grey-900);
					}

					.label {
						background-color: var(--palettes-100, var(--palettes-primary-100));
						color: var(--palettes-700, var(--palettes-primary-700));
					}

					&::after {
						transform: scale(0.75);
					}
				}
			}

			&:focus-visible {
				outline: none;
			}
		}

		.menu-link-placeholder {
			&::after {
				content: attr(data-content-after);

				display: block;
				height: 0;
				overflow: hidden;
				font-weight: 600;
			}
		}
	}
}
