@use '@lucca-front/scss/src/components/numericBadge/exports' as numericBadge;

@mixin header {
	--components-menu-listPadding: 0 var(--pr-t-spacings-500);
}

@mixin S {
	// .menu-link is deprecated
	.menu-list-item-action,
	.menu-link {
		--components-menu-listItemActionFontSize: var(--sizes-S-fontSize);
		--components-menu-listItemActionLineHeight: var(--sizes-S-lineHeight);
		--components-menu-listItemActionPadding: var(--pr-t-spacings-150) 0;
	}

	// .menu-link is deprecated
	.menu-link {
		margin-right: var(--pr-t-spacings-300);
	}

	// .label is deprecated
	.label {
		height: var(--sizes-S-lineHeight);
		min-width: var(--sizes-S-lineHeight);
		line-height: var(--sizes-S-lineHeight);
		padding: 0;
	}

	.numericBadge {
		@include numericBadge.S;
	}
}

@mixin noBorder {
	&::after {
		--components-menu-borderContent: none;
	}

	.scrollBox {
		--components-scrollBox-shadowBottom: 0;
	}
}

@mixin vertical {
	@include noBorder;

	.menu-list {
		--components-menu-listDirection: column;
		--components-menu-listGap: 0;
		--components-menu-listAlign: stretch;
	}

	.menu-list-item-action {
		--components-menu-listItemActionPadding: var(--pr-t-spacings-50) var(--pr-t-spacings-200);
		--components-menu-listItemActionAlign: left;
		--components-menu-listItemActionDisplay: block;

		&::after {
			--components-menu-listItemActionTransform: scale(1, 0);
			--components-menu-listItemActionInset: 0 auto 0 0;
			--components-menu-listItemActionRadius: 0 var(--commons-borderRadius-M) var(--commons-borderRadius-M) 0;
			--components-menu-listItemActionRadiusWidth: var(--components-menu-listItemActionSize);
			--components-menu-listItemActionRadiusHeight: auto;
		}

		&,
		&[aria-current='page'] {
			&:hover {
				&::after {
					--components-menu-listItemActionTransform: scale(1, 0.75);
				}
			}
		}
	}
}

@mixin verticalS {
	.menu-list-item-action {
		--components-menu-listItemActionPadding: var(--pr-t-spacings-50) var(--pr-t-spacings-150);
	}
}
