@use '@lucca-front/scss/src/components/numericBadge/exports' as numericBadge;

@mixin active {
	--components-menu-listItemActionColor: var(--palettes-700, var(--palettes-product-700));

	// .label is deprecated
	.label {
		background-color: var(--palettes-100, var(--palettes-product-100));
		color: var(--palettes-700, var(--palettes-product-700));
	}

	&::after {
		--components-menu-listItemActionTransform: scale(1);
	}

	&:focus-visible {
		&::after {
			--components-menu-listItemActionTransform: scale(0.75, 1);
		}
	}

	.numericBadge {
		@include numericBadge.product;
	}
}

@mixin disabled {
	// .label is deprecated
	&,
	.label {
		color: var(--palettes-neutral-500);
		pointer-events: none;
	}

	.numericBadge {
		@include numericBadge.disabled;
	}
}

@mixin activeVertical {
	&::after {
		--components-menu-listItemActionTransform: scale(1);
	}
}
