@use '@lucca-front/scss/src/components/numericBadge/exports' as numericBadge;

@mixin active {
	color: var(--palettes-700, var(--palettes-primary-700));

	.label { // deprecated
		background-color: var(--palettes-100, var(--palettes-primary-100));
		color: var(--palettes-700, var(--palettes-primary-700));
	}

	&::after {
		background-color: var(--palettes-700, var(--palettes-primary-700));
		transform: scale(1);
	}

	&:focus-visible {
		&::after {
			transform: scale(0.75, 1);
		}
	}

	.numericBadge {
		@include numericBadge.primary;
	}
}

@mixin disabled {
	&,
	.label { // deprecated
		color: var(--palettes-grey-500);
		pointer-events: none;
	}

	.numericBadge {
		@include numericBadge.disabled;
	}
}
