@mixin vars {
  --components-menu-background: var(--colors-white-color);
  --components-menu-padding: var(--spacings-small) 0;

  /*
  --components-menu-default-palette-darker: #2d354d;
  --components-menu-default-palette-dark: #4c5775;
  --components-menu-default-palette-color: #9299b0;
  --components-menu-default-palette-light: #ccd1e0;
  --components-menu-default-palette-lighter: #e8eaf3;
  --components-menu-default-palette-lightest: #f7f9fd;
  --components-menu-default-palette-text: var(--colors-white-color);
  --components-menu-default-palette-see-through: rgba(146, 153, 176, 0.15);
  --components-menu-default-palette-50: #f7f8fd;
  --components-menu-default-palette-100: #f3f5fc;
  --components-menu-default-palette-200: #eceff8;
  --components-menu-default-palette-300: #dcdfef;
  --components-menu-default-palette-400: #cbcfe2;
  --components-menu-default-palette-500: #b7bbd1;
  --components-menu-default-palette-600: #898fae;
  --components-menu-default-palette-700: #485075;
  --components-menu-default-palette-800: #31395e;
  --components-menu-default-palette-900: #1e233e;
  */
}
