@use '@lucca-front/icons/src/commons/utils/icon';
@use '@lucca-front/scss/src/commons/utils/reset';
@use '@lucca-front/scss/src/commons/utils/a11y';

@mixin component($atRoot: 'without: rule') {
	border-radius: var(--commons-borderRadius-L);
	background-color: var(--palettes-50, var(--palettes-neutral-50));
	color: var(--palettes-neutral-800);
	box-shadow: 0 0 0 var(--commons-divider-width) var(--palettes-300, var(--palettes-neutral-300));

	a,
	.link {
		--commons-text-link-color: var(--palettes-neutral-800);
		--commons-text-link-hover: var(--palettes-neutral-700);
	}

	@at-root ($atRoot) {
		.calloutDisclosure-summary {
			display: flex;
			gap: var(--pr-t-spacings-150);
			padding: var(--pr-t-spacings-100) var(--components-calloutDisclosure-paddingHorizontal);
			border-radius: var(--commons-borderRadius-L);
			transition: background-color var(--commons-animations-durations-fast) ease;
			cursor: pointer;
			z-index: 1;
			position: relative;

			&:hover {
				background-color: var(--palettes-100, var(--palettes-neutral-100));
			}

			&:focus-visible {
				@include a11y.focusVisible($offset: 3px, $borderRadius: 6px);

				~ .calloutDisclosure-details {
					box-shadow: none;
				}
			}
		}

		.calloutDisclosure-summary-icon {
			color: var(--palettes-700, var(--palettes-neutral-700));
		}

		.calloutDisclosure-summary-title {
			font-weight: 600;
		}

		.calloutDisclosure-summary-chevron {
			color: var(--palettes-neutral-700);
			margin-left: auto;
			transition: transform var(--commons-animations-durations-standard) ease;
		}

		.calloutDisclosure-details {
			margin: 0 calc(var(--components-calloutDisclosure-paddingHorizontal) + 2.25rem);
			padding: var(--pr-t-spacings-100) 0 var(--pr-t-spacings-200);
			box-shadow: 0 -1px 0 0 var(--palettes-200, var(--palettes-neutral-200));
		}
	}
}
