@use '@lucca-front/icons/src/icon/exports' as icon;
@use '@lucca-front/scss/src/components/calloutFeedbackList/exports' as calloutFeedbackList;

@mixin S {
	--components-calloutDisclosure-paddingHorizontal: var(--pr-t-spacings-100);
	--components-calloutDisclosure-paddingVertical: var(--pr-t-spacings-75);
	--components-calloutDisclosure-gap: var(--pr-t-spacings-100);

	.calloutDisclosure-summary-title {
		font: var(--pr-t-font-body-S);
		font-weight: var(--pr-t-font-fontWeight-semibold);
	}

	.calloutDisclosure-summary-icon {
		@include icon.S;
	}

	.calloutDisclosure-summary-chevron {
		@include icon.S;
	}

	.calloutDisclosure-details {
		margin-inline-start: calc(var(--components-calloutDisclosure-paddingHorizontal) + 2rem);
	}

	.calloutFeedbackList {
		@include calloutFeedbackList.S;
	}
}

@mixin iconless {
	.calloutDisclosure-summary-icon {
		display: none;
	}

	.calloutDisclosure-details {
		margin-inline-start: var(--components-calloutDisclosure-paddingHorizontal);
	}
}
