.textfield {
	padding-top: _component("textfield.padding-top");
	position: relative;
	width: _component("textfield.sizes.default");
}

.textfield-input {
	background: transparent;
	border: 0;
	box-shadow: 0 1px 0 0 #CCCCCC;
	color: _color("text.default");
	font-family: unquote(_theme("commons.font.family"));
	font-size: _component("textfield.font-size");
	font-weight: 400;
	margin-bottom: _component("textfield.input.margin-bottom");
	outline: 0;
	padding: _component("textfield.input.padding-vertical") 0;
	position: relative;
	transition: box-shadow 150ms ease, color 150ms ease;
	width: 100%;

	&::placeholder {
		color: _color("text.placeholder");
		opacity: 0;
		transition: opacity 150ms ease;
	}

	&[type="number"] {
		text-align: right;

		~ .input-label {
			text-align: right;
		}
	}

	&:focus {
		&::placeholder {
			opacity: 1;
		}

		~ .textfield-label {
			font-size: _theme("sizes.small.font-size");
			top: 0;
		}
	}
}

.textfield-label {
	color: #A6A6A6;
	white-space: nowrap;
	font-size: _component("textfield.font-size");
	left: 0;
	overflow: hidden;
	pointer-events: none;
	position: absolute;
	text-overflow: ellipsis;
	top: 1.3rem;
	transition: all 150ms ease;
	width: 100%;
}

.textfield-options {
	background: white;
	border-radius: 3px;
	@include elevate(3);
	left: 0;
	list-style: none;
	max-height: 15rem;
	min-width: 100%;
	opacity: 0;
	overflow: auto;
	padding: 0;
	position: absolute;
	top: 2.5rem;
	transform: scaleY(0);
	transform-origin: right top;
	transition: all 150ms ease;
	z-index: 999;
}

.textfield-options-entry {
	cursor: pointer;
	padding: .5rem 1rem;
	transition: background 50ms ease;

	&:hover {
		background: _theme("commons.background.dark");
	}
}

.textfield-messages {
	line-height: 1.3;
	margin-top: .3rem;
}

.textfield-messages-error {
	color: _color("error");
	font-size: _component("textfield.message.font-size");
	margin: 0;
}

.textfield-messages-warning {
	color: _color("warning");
	font-size: _component("textfield.message.font-size");
	margin: 0;
}

.textfield-messages-helper {
	color: _color("text.light");
	font-size: _component("textfield.message.font-size");
	margin: 0;
}

.textfield-suffix {
	position: absolute;
	right: 0;
	line-height: 1;
	top: _component("textfield.padding-top") + _component("textfield.input.padding-vertical");
}

// PALETTE
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

.textfield {
	// Coloring
	@mixin inputColoring($palette) {
		.textfield-input:focus {
			box-shadow: 0 2px 0 0 _get($palette, "color");

			~ .textfield-label {
				color: _get($palette, "color");
			}
		}

		// Needed when textfield label is not next to the textfield-input
		&.is-focused {
			.textfield-label {
				color: _get($palette, "color");
			}
		}
	}

	// default color
	@include inputColoring(_component("textfield.default-palette.material"));

	// palette colors
	@each $name, $palette in _palettes() {
		&.palette-#{$name} {
			@include inputColoring($palette);
		}
	}
}


// MOD
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

.textfield {
	/* Width */

	@each $textfield-size-name, $textfield-width in _component("textfield.sizes") {
		&.mod-#{$textfield-size-name} {
			width: $textfield-width;
		}
	}

	/* Display */

	&.mod-block {
		width: 100%;
	}

	&.mod-inline {
		display: inline-flex;
		align-items: center;
		margin-left: .15rem;
		margin-right: .15rem;
	}

	&.mod-noLabel {
		padding-top: 0;

		.textfield-label {
			display: none;
		}

		.textfield-suffix {
			top: _component("textfield.input.padding-vertical");
		}
	}

	&.mod-withSuffix {
		.textfield-input {
			padding-right: _component("textfield.suffix.padding-right");
		}
	}

	/* Multi Line */

	&.mod-multiline {
		.textfield-input {
			height: 6rem;
			resize: vertical;
		}
	}

	/* Select */

	&.mod-select {
		.textfield-input {
			padding-right: 1.5rem;

			&:focus {
				box-shadow: 0 1px 0 0 #CCCCCC;
			}
		}

		.textfield-label {
			color: #A6A6A6;
			font-size: _theme("sizes.standard.font-size");
			top: 1.3rem;
		}

		.textfield-options {
			top: 0;
		}

		&::after {
			bottom: .15rem;
			color: _color("text.light");
			@include makeIcon("chevron_south");
			font-size: .75rem;
			position: absolute;
			right: 0;
		}
	}

	/* Autocomplete & Search */

	&.mod-autocomplete, &.mod-search {
		&::after {
			color: _color("text.light");
			@include makeIcon("search");
			position: absolute;
			right: 0;
			bottom: .5rem;
		}

		.textfield-input {
			padding-right: 1.5rem;
		}

		.textfield-label {
			padding-right: 1.5rem;
		}
	}

	&.mod-compact, &.compact {
		@extend %input_compact;
	}

	&.mod-framed {
		@extend %input_framed;
	}
}


// STATES
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

.textfield-input {
	&[disabled], &[readonly] {
		background: transparent;
		background-image: linear-gradient(to right, #CCCCCC 33%, rgba(255, 255, 255, 0) 0%); // Dashed line
		background-position: bottom;
		background-repeat: repeat-x;
		background-size: 3px 1px;
		box-shadow: none;
		color: _color("text.light");
		cursor: not-allowed;
	}

	&.is-error {
		@include formError();

		&:focus {
			@include formError();
		}
	}

	&.is-filled {
		@include formFilled();
	}
}

.textfield {
	&.is-open {
		.textfield-options {
			opacity: 1;
			transform: scaleY(1);
		}
	}

	&.is-required {
		label::after {
			color: _color("error");
			content: "*";
			display: inline-block;
			font-size: 1.2rem;
			margin-left: .25em;
			position: absolute;
		}
	}

	// Needed when textfield label is not next to the textfield-input
	&.is-focused {
		.textfield-label {
			font-size: _theme("sizes.small.font-size");
			top: 0;
		}
	}
}

.textfield-options-entry {
	&.is-focus {
		background: _theme("commons.background.dark");
	}
}

@import "textfield.compact";
@import "textfield.framed";
