%input_compact {
	align-items: center;
	flex-direction: row;
	margin-bottom: 1rem;

	.textfield-label {
		color: _component("textfield.compact.label.color");
		flex: 0 0 auto;
		font-size: _component("textfield.compact.label.font-size");
		font-weight: 400;
		margin-bottom: 0;
		margin-right: _component("textfield.compact.label.right-margin");
		order: -1;
		width: _component("textfield.compact.label.sizes.default");
	}

	.textfield-messages {
		align-items: center;
		bottom: 0;
		display: inline-flex;
		left: 100%;
		line-height: 1.1;
		margin: 0 0 0 1rem;
		max-width: _component("textfield.compact.label.sizes.default");
		position: absolute;
		top: 0;
		width: 100%;

		&.mod-helper {
			bottom: auto;
			left: 0;
			max-width: 100%;
			padding-left: calc(#{_component("textfield.compact.label.sizes.default")} + #{_component("textfield.compact.label.right-margin")});
			right: 0;
			top: 100%;
		}
	}

	.textfield-options {
		left: auto;
		right: 0;
		width: calc(100% - #{_component("textfield.compact.label.right-margin")} - #{_component("textfield.compact.label.sizes.default")});
	}

	.textfield-suffix {
		right: _component("textfield.compact.padding");
		top: _component("textfield.compact.padding");
	}

	// MODS
	// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

	/* Label Width */

	@mixin inputWidth($iWidth, $lWidth) {
		width: calc(#{$iWidth} + #{_component("textfield.compact.label.right-margin")} + #{$lWidth});
	}

	& {
		@include inputWidth(_component("textfield.sizes.default"), _component("textfield.compact.label.sizes.default"));
	}

	@each $input-size-name, $input-width in _component("textfield.sizes") {
		&.mod-#{$input-size-name} {
			@include inputWidth($input-width, _component("textfield.compact.label.sizes.default"));
			.textfield-options {
				width: $input-width;
			}
			@each $label-size-name, $label-width in _component("textfield.compact.label.sizes") {
				&.mod-label-#{$label-size-name} {
					@include inputWidth($input-width, $label-width);
				}
			}
		}
	}

	@each $label-size-name, $label-width in _component("textfield.sizes") {
		&.mod-label-#{$label-size-name} {
			.textfield-label {
				width: $label-width;
			}

			.textfield-messages.mod-helper {
				padding-left: calc($label-width + #{_component("textfield.compact.label.right-margin")});
			}
		}
	}

	/* Display */

	&.mod-block {
		width: 100%;
	}

	// STATES
	// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

	// Disabled & readonly
	.textfield-input {
		&.is-error {
			& ~ .textfield-label {
				color: _color("error");
			}
		}
	}

	&.is-error {
		.textfield-label {
			color: _color("error");
		}
	}
}
