%input_compact {

	.textfield-options {
		right: 0;
		left: auto;
		width: calc(100% - #{_component("textfield.compact.label.right-margin")} - #{_component("textfield.compact.label.sizes.default")});
	}

	.textfield-suffix {
		top: _component("textfield.compact.padding");
		right: _component("textfield.compact.padding");
	}

	// MODS
	// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

	/* Label Width */

	@each $input-size-name, $input-width in _getMap("components.textfield.sizes") {
		&.mod-#{$input-size-name} {
			.textfield-options {
				width: $input-width;
			}
		}
	}
}
