@use '@lucca-front/scss/src/commons/utils/media';
@use '@lucca-front/scss/src/commons/utils/a11y';
@import '_definitions';
@include optionPlaceholderStyle;

.lu-multiselect-panel {
	display: flex;
	flex-direction: column;
	width: 100%;
	border-radius: var(--commons-borderRadius-M);
	background-color: var(--colors-white-color);
	box-shadow: var(--commons-boxShadow-M);
	transition-property: width, min-width, margin-top, margin-left;
	transition-duration: var(--commons-animations-durations-fast);
	transition-timing-function: ease-in;
}

.lu-multiselect-panel-form {
	padding: var(--spacings-XS);
	box-shadow: var(--commons-boxShadow-S);
	z-index: 1;
}

.lu-multiselect-panel-columns {
	display: flex;
	gap: var(--spacings-XS);
	padding: 0;
	width: 100%;
	transition: padding var(--commons-animations-durations-standard) ease;

	.is-expanded & {
		padding: var(--spacings-XS);
	}
}

[class*='lu-multiselect-panel-columns-col'] {
	display: flex;
	flex-basis: 100%;
	flex-direction: column;
	.is-expanded & {
		border-radius: var(--commons-borderRadius-M);
	}
}

.lu-multiselect-panel-columns-col2 {
	align-items: flex-start;
	height: var(--components-picker-max-height);
	background-color: var(--palettes-grey-25);
}

.lu-multiselect-panel-columns-col1-content {
	box-shadow: none;
	animation: none;

	.is-expanded & {
		border: var(--commons-divider-width) solid var(--palettes-grey-100);
	}
}

.lu-multiselect-panel-columns-col1-content,
.lu-multiselect-chips {
	scroll-snap-type: y proximity;
	outline: none;
	& > * {
		scroll-snap-align: center;
	}
	&:focus-visible {
		@include a11y.focusVisible();
	}
}

.lu-multiselect-search {
	flex-grow: 1;
}

.lu-multiselect-selectall {
	padding: var(--spacings-XS);
	font-weight: 600;
	&:hover,
	&:focus-within {
		background-color: var(--palettes-grey-25);
	}
}

.lu-multiselect-chips {
	overflow-y: auto;
	display: flex;
	max-height: 15rem;
	flex-grow: 1;
	flex-direction: column;
	align-items: flex-start;
	align-self: stretch;
	gap: var(--spacings-XXS);
	padding: var(--spacings-XS);
	border-top-left-radius: var(--commons-borderRadius-M);
	border-top-right-radius: var(--commons-borderRadius-M);
}

.lu-multiselect-clear {
	display: flex;
	align-items: center;
	align-self: stretch;
	justify-content: flex-start;
	border-top: var(--commons-divider-border);
	margin-top: auto;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.lu-multiselect-panel-form {
	display: flex;
	gap: var(--spacings-XS);
}

.lu-multiselect-expandbutton {
	@include media.max('S') {
		display: none;
	}
}

.lu-multiselect-emptystate {
	margin: auto;
}
