@use '@lucca-front/scss/src/components/avatar/exports' as avatar;

@mixin S {
	--components-activityFeed-font: var(--pr-t-font-body-S);
	--components-activityFeed-step-description-time-font: var(--pr-t-font-body-XS);
	--components-activityFeed-step-before-insetBlockStart: calc(var(--pr-t-spacings-400) + var(--pr-t-spacings-50));
	--components-activityFeed-step-before-insetInlineStart: calc(var(--pr-t-spacings-150) - var(--pr-t-spacings-25) / 2);
	--components-activityFeed-step-paddingBlockEnd: var(--pr-t-spacings-300);

	.activityFeed-step-avatar {
		@include avatar.XS;
	}
}
