// $user-picture: (
// 	sizes:
// 		(
// 			smallest: (
// 				font-size: 0.5em,
// 				image-size: 2.5em
// 			),
// 			smaller: (
// 				font-size: 0.65em,
// 				image-size: 2.5em
// 			),
// 			small: (
// 				font-size: 0.8em,
// 				image-size: 2.5em
// 			),
// 			standard: (
// 				font-size: 1em,
// 				image-size: 2.5em
// 			),
// 			large: (
// 				font-size: 1.35em,
// 				image-size: 2.5em
// 			),
// 			larger: (
// 				font-size: 1.8em,
// 				image-size: 2.5em
// 			),
// 			largest: (
// 				font-size: 3em,
// 				image-size: 2.5em
// 			)
// 		)
// );
// $theme: _set($theme, 'components.user-picture', $user-picture);
