$select: (
	line-height: 1.5rem,
	chip: (
		background: _color("primary", "color", true),
		text: _color("primary", "text", true)
	),
	input: (
		padding-horizontal: _theme("spacings.smaller", true),
		padding-vertical: _theme("spacings.smaller", true),
		placeholder: desaturate(lighten(_color("primary", "color", true), 20%), 25%)
	),
	framed: (
		color: _color("text.light", "color", true),
		see-through: transparentize(_color("text.light", "color", true), .95),
		text: _color("text.default", "color", true),
		placeholder: #CCCCCC,
		side-padding: 1rem,
		top-padding: 2.2rem,
		bottom-padding: .7rem,
		label-top-offset: .5rem,
	)
);
$theme: _set($theme, 'components.select', $select);
