$tooltip: (
	background: _theme("commons.overlays.background"),
	color: _theme("commons.overlays.text"),
	padding: _theme("spacings.smallest") _theme("spacings.smaller"),
	max-width: 15rem
);

$theme: _set($theme, 'components.tooltip', $tooltip);
