@mixin mask($suffix: '') {
	border: 0 #{$suffix};
	clip: rect(1px, 1px, 1px, 1px) #{$suffix};
	margin: -1px #{$suffix};
	overflow: hidden #{$suffix};
	padding: 0 #{$suffix};
	position: absolute #{$suffix};
	block-size: 1px #{$suffix};
	inline-size: 1px #{$suffix};
	white-space: nowrap #{$suffix};
	contain: paint #{$suffix};
}

@mixin focusVisible($offset: 2px, $borderRadius: false, $color: var(--palettes-product-700), $suffix: '') {
	outline: 2px solid $color #{$suffix};
	outline-offset: $offset #{$suffix};

	@if $borderRadius != false {
		border-radius: $borderRadius #{$suffix};
	}
}
