@mixin mask($suffix: '') {
	border: 0 #{$suffix};
	clip-path: rect(1px 1px 1px 1px) #{$suffix};
	margin: -1px #{$suffix};
	overflow: hidden #{$suffix};
	padding: 0 #{$suffix};
	position: absolute #{$suffix};
	block-size: 1px #{$suffix};
	inline-size: 1px #{$suffix};
	white-space: nowrap #{$suffix};
	contain: paint #{$suffix};
}

@mixin focusVisible($offset: 2px, $borderRadius: false, $color: var(--palettes-product-700)) {
	outline: 2px solid $color;
	outline-offset: $offset;

	@if $borderRadius != false {
		border-radius: $borderRadius;
	}
}
