@use '@lucca-front/scss/src/components/keyframe/exports' as keyframe;

@mixin spinner($size: 1.5rem) {
	&::after {
		width: $size;
		height: $size;
		border-radius: 50%;
		line-height: 0.8rem;
		border-width: 3px;
		inset: 0;
		margin: auto;
		position: absolute;
		border-style: solid;
		content: '';
		
		@include keyframe.rotate;
		animation-name: rotate;
		animation-duration: var(--commons-loading-speed);
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		border-color:  var(--commons-loading-frontground);
		border-top-color: transparent;
	}
}

@mixin gradient($backgroundColor: transparent, $color: rgba(var(--colors-grey-900-rgb), 0.1)) {
	@keyframes loadingGradient {
		0% {
			background-position: 100% 0%;
		}
		100% {
			background-position: -100% 0%;
		}
	}

	animation-name: loadingGradient;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-fill-mode: forwards;
	background-color: $backgroundColor;
	background-repeat: no-repeat;
	background-image: linear-gradient(315deg, $backgroundColor 40%, $color 50%, $backgroundColor 100%);
	background-size: 400% 100%;
}
