@use 'sass:string';
@use 'sass:map';
@use 'sass:math';

@use '@lucca-front/scss/src/commons/config';

@function getBreakpoint($breakpoint) {
	@if map.get(config.$breakpoints, $breakpoint) {
		@return (map.get(config.$breakpoints, $breakpoint) / 16px) * 1em;
	} @else {
		@return false;
	}
}

@mixin query($breakpoint, $dimension: 'width', $reversed: false, $at: 'media', $container: '') {
	$operator: '>=';

	@if $reversed {
		$operator: '<';
	}

	@if getBreakpoint($breakpoint) {
		$breakpoint: getBreakpoint($breakpoint);
	}

	@#{$at} #{$container} (#{$dimension} #{$operator} #{$breakpoint}) {
		@content;
	}
}

@mixin between($breakpoint1, $breakpoint2, $dimension: 'width', $at: 'media', $container: '') {
	@if getBreakpoint($breakpoint1) {
		$breakpoint1: getBreakpoint($breakpoint1);
	}

	@if getBreakpoint($breakpoint2) {
		$breakpoint2: getBreakpoint($breakpoint2);
	}

	@if ($breakpoint2 < $breakpoint1) {
		$breakpointTmp: $breakpoint2;
		$breakpoint2: $breakpoint1;
		$breakpoint1: $breakpointTmp;
	}

	@#{$at} #{$container} (#{$breakpoint1} <= #{$dimension} < #{$breakpoint2}) {
		@content;
	}
}

@mixin min($breakpoint, $dimension: 'width', $at: 'media') {
	@include query($breakpoint, $dimension: $dimension, $at: $at) {
		@content;
	}
}

@mixin max($breakpoint, $dimension: 'width', $at: 'media') {
	@include query($breakpoint, $dimension: $dimension, $reversed: true, $at: $at) {
		@content;
	}
}

@mixin minWidth($breakpoint, $at: 'media') {
	@include query($breakpoint, $at: $at) {
		@content;
	}
}

@mixin maxWidth($breakpoint, $at: 'media') {
	@include query($breakpoint, $reversed: true, $at: $at) {
		@content;
	}
}

@mixin minHeight($breakpoint, $at: 'media') {
	@include query($breakpoint, 'height', $at: $at) {
		@content;
	}
}

@mixin maxHeight($breakpoint, $at: 'media') {
	@include query($breakpoint, $reversed: true, $dimension: 'height', $at: $at) {
		@content;
	}
}

@mixin betweenWidths($breakpoint1, $breakpoint2, $at: 'media') {
    @include between($breakpoint1, $breakpoint2, $at: $at) {
        @content;
    }
}

@mixin betweenHeights($breakpoint1, $breakpoint2, $at: 'media') {
    @include between($breakpoint1, $breakpoint2, $dimension: 'height', $at: $at) {
        @content;
    }
}
