@mixin hide($suffix: '') {
	scrollbar-width: none #{$suffix};

	&::-webkit-scrollbar {
		display: none #{$suffix};
	}
}

@mixin scrollblock($suffix: '') {
	overflow: hidden #{$suffix};

	&,
	body {
		touch-action: none #{$suffix};
	}
}
