@use 'sass:string';

$spaceZeroWidth: string.unquote("'\\200B'");
$spaceNonBreaking: string.unquote("'\\00A0'");

@mixin ellipsis($suffix: '') {
	overflow: hidden #{$suffix};
	text-overflow: ellipsis #{$suffix};
	white-space: nowrap #{$suffix};
}
