@mixin vars {
	--components-progressStepper-list-step-before-content: '';
	--components-progressStepper-list-step-after-content: '';
	--components-progressStepper-list-step-title-textDecoration: none;
	--components-progressStepper-list-step-number-before-boxShadowColor: var(--palettes-neutral-200);
	--components-progressStepper-list-step-number-after-color: var(--palettes-700, var(--palettes-product-700));
	--components-progressStepper-list-step-title-position: absolute;
	--components-progressStepper-list-step-after-position: static;
	--components-progressStepper-list-flexDirection: row;
	--components-progressStepper-list-gap: 0;
	--components-progressStepper-list-step-before-blockSize: var(--commons-divider-width);
	--components-progressStepper-list-step-after-blockSize: var(--commons-divider-width);
	--components-progressStepper-list-step-before-backgroundColor: var(--palettes-neutral-200);
	--components-progressStepper-list-step-after-backgroundColor: var(--palettes-neutral-200);
	--components-progressStepper-list-step-title-color: inherit;
	--components-progressStepper-list-step-number-before-color: inherit;
	--components-progressStepper-list-step-number-before-backgroundColor: var(--palettes-neutral-50);
	--components-progressStepper-list-step-number-before-content: counter(progressStepper);
	--components-progressStepper-list-step-number-after-content: none;
	--components-progressStepper-list-step-number-before-boxShadowWidth: 0px;
	--components-progressStepper-list-paddingBlockEnd: calc(var(--pr-t-spacings-200) + var(--pr-t-spacings-50));
	--components-progressStepper-list-step-after-inlineSize: var(--commons-divider-width);
	--components-progressStepper-list-step-after-borderRadius: var(--pr-t-border-radius-full) 0 0 var(--pr-t-border-radius-full);
	--components-progressStepper-list-step-after-inset: auto;
}
