@use '@lucca-front/scss/src/commons/utils/a11y';
@use '@lucca-front/scss/src/commons/utils/reset';
@use '@lucca-front/scss/src/components/title/exports' as title;

@mixin component($atRoot: 'without: rule') {
	@at-root ($atRoot) {
		.verticalNavigation-sectionTitle {
			@include title.h5;
			color: var(--palettes-grey-600);
			padding: 0 var(--components-verticalNavigation-horizontalPadding);
			margin-bottom: var(--spacings-XS);
		}

		.verticalNavigation-list {
			@include reset.list;
			background-color: var(--colors-white-color);
			margin-bottom: var(--spacings-S);
		}

		.verticalNavigation-list-item-link-icon {
			font-size: var(--sizes-M-lineHeight);
			margin-right: var(--spacings-XS);
		}

		.verticalNavigation-list-item-link {
			@include reset.button;
			display: flex;
			padding: var(--spacings-XS) var(--components-verticalNavigation-horizontalPadding);
			border-radius: var(--commons-borderRadius-M);
			color: var(--components-verticalNavigation-link-color);
			text-decoration: none;
			background-color: var(--components-verticalNavigation-link-background);
			transition: background-color var(--commons-animations-durations-fast) ease;
			font-weight: 600;

			&:hover {
				--components-verticalNavigation-link-background: var(--palettes-grey-50);
				color: var(--components-verticalNavigation-link-color);
			}

			&:focus-visible {
				@include a11y.focusVisible();
			}

			&:active {
				--components-verticalNavigation-link-background: var(--palettes-grey-100);
			}
		}

		.verticalNavigation-list-item-link-arrow {
			font-size: var(--sizes-M-lineHeight);
			margin-left: auto;
			transition: transform var(--commons-animations-durations-standard) ease;
		}
	}
}
