@use 'exports' as *;

.verticalNavigation {
	@layer components {
		@include vars;
		@include component;
	}

	@layer mods {
		&.mod-iconless {
			@include iconless;
		}
	}
}

@layer mods {
	.verticalNavigation-list {
		&.mod-child {
			@include child;
		}
	}

	// Second selector to get rid of verticalNavigation-list-item-link on angular component
	.verticalNavigation-list-item-link, .verticalNavigation-list-item > a {
		&[aria-expanded='true'] {
			@include expanded;
		}

		&[aria-current='page'] {
			@include active;
		}

		&[disabled],
		&.is-disabled {
			@include disabled;
		}
	}

	span.verticalNavigation-list-item-link {
		@include disabled;
	}
}
