@mixin child {
	display: none;
	margin: 0;

	// Second selector to get rid of verticalNavigation-list-item-link on angular component
	.verticalNavigation-list-item-link, .verticalNavigation-list-item > a {
		font-weight: var(--pr-t-font-fontWeight-regular);
		padding-inline-start: calc(2rem + var(--components-verticalNavigation-horizontalPadding));
	}
}

@mixin iconless {
	.verticalNavigation-list.mod-child {
		// Second selector to get rid of verticalNavigation-list-item-link on angular component
		.verticalNavigation-list-item-link, .verticalNavigation-list-item > a {
			padding-inline-start: var(--components-verticalNavigation-horizontalPadding);
		}
	}

	.verticalNavigation-list-item-link-icon {
		display: none;
	}
}
