@mixin child {
  display: none;
  margin: 0;

  .verticalNavigation-list-item-link {
    font-weight: 400;
    padding-left: calc(2rem + var(--components-verticalNavigation-horizontalPadding));
  }
}
