@mixin active {
	--components-verticalNavigation-link-background: var(--palettes-primary-100);
	color: var(--components-verticalNavigation-link-color);

  &:hover {
  	--components-verticalNavigation-link-background: var(--palettes-primary-200);
  }

	&:active {
		--components-verticalNavigation-link-background: var(--palettes-primary-300);
	}
}

@mixin disabled {
	--components-verticalNavigation-link-background: transparent;
	color: var(--palettes-grey-500);
	pointer-events: none;
}

@mixin expanded {
	~ .verticalNavigation-list {
		display: block;
	}

	.verticalNavigation-list-item-link-arrow {
		transform: rotate(180deg);
	}
}
