@mixin vars {
	--components-verticalNavigation-link-background: transparent;
	--components-verticalNavigation-link-color: var(--pr-t-color-text);
	--components-verticalNavigation-horizontalPadding: var(--pr-t-spacings-150);
}
