@mixin vars {
  --components-verticalNavigation-link-background: var(--pr-t-elevation-surface-raised);
  --components-verticalNavigation-link-color: var(--palettes-grey-800);
  --components-verticalNavigation-horizontalPadding: var(--pr-t-spacings-S);
}
