<section class="contentSection">
	<h1>Radio Buttons</h1>
	<div class="radioButtons">
		<label class="radioButtons-item">
			<input type="radio" name="radioButtonsIDa" class="radioButtons-item-input" checked />
			<span class="radioButtons-item-label">Item</span>
		</label>
		<label class="radioButtons-item">
			<input type="radio" name="radioButtonsIDa" class="radioButtons-item-input" />
			<span class="radioButtons-item-label">Item</span>
		</label>
		<label class="radioButtons-item">
			<input type="radio" name="radioButtonsIDa" class="radioButtons-item-input" />
			<span class="radioButtons-item-label">Item</span>
		</label>
	</div>
<code class="code mod-block">&lt;div class="radioButtons"&gt;
	&lt;label class="radioButtons-item"&gt;
		&lt;input type="radio" name="<strong>radioButtonsID</strong>" class="radioButtons-item-input" checked /&gt;
		&lt;label class="radioButtons-item-label"&gt;Item&lt;/label&gt;
	&lt;/label&gt;
	&lt;label class="radioButtons-item"&gt;
		&lt;input type="radio" name="<strong>radioButtonsID</strong>" class="radioButtons-item-input" /&gt;
		&lt;label class="radioButtons-item-label"&gt;Item&lt;/label&gt;
	&lt;/label&gt;
	…
&lt;/div&gt;</code>
<em><strong>Tip:</strong> Can be used as radio or checkbox.</em>
</section>


<section class="contentSection">
	<h2>Small</h2>
	<div class="radioButtons mod-small">
		<label class="radioButtons-item">
			<input type="radio" name="radioButtonsIDb" class="radioButtons-item-input" checked />
			<span class="radioButtons-item-label">Item</span>
		</label>
		<label class="radioButtons-item">
			<input type="radio" name="radioButtonsIDb" class="radioButtons-item-input" />
			<span class="radioButtons-item-label">Item</span>
		</label>
		<label class="radioButtons-item">
			<input type="radio" name="radioButtonsIDb" class="radioButtons-item-input" />
			<span class="radioButtons-item-label">Item</span>
		</label>
	</div>
<code class="code mod-block">&lt;div class="radioButtons mod-small"&gt;
	&lt;label class="radioButtons-item"&gt;
		&lt;input type="radio" name="<strong>radioButtonsID</strong>" class="radioButtons-item-input" checked /&gt;
		&lt;span class="radioButtons-item-label"&gt;Item&lt;/span&gt;
	&lt;/label&gt;
	&lt;label class="radioButtons-item"&gt;
		&lt;input type="radio" name="<strong>radioButtonsID</strong>" class="radioButtons-item-input" /&gt;
		&lt;span class="radioButtons-item-label"&gt;Item&lt;/span&gt;
	&lt;/label&gt;
	…
&lt;/div&gt;</code>
</section>
