<section class="contentSection">
	<h1>Radio</h1>

	<!-- Basics -->
	<div class="form">
		<div class="form-group">
			<div class="grid">
				<div class="grid-s4">
					<label class="radio">
						<input class="radio-input" type="radio" name="radioList1" checked />
						<span class="radio-label">Radio</span>
					</label>
					<label class="radio">
						<input class="radio-input" type="radio" name="radioList1" />
						<span class="radio-label">Radio</span>
					</label>
				</div>
				<div class="grid-s4">
					<label class="radio">
						<input class="radio-input" type="radio" name="radioList2" disabled checked />
						<span class="radio-label">Disabled radio</span>
					</label>
					<label class="radio">
						<input class="radio-input" type="radio" name="radioList2" disabled />
						<span class="radio-label">Disabled radio</span>
					</label>
				</div>
			</div>
		</div>
	</div>
	<code class="code mod-block">&lt;label class="radio"&gt;
	&lt;input class="radio-input" type="radio" name="<strong>radioListID</strong>" checked /&gt;
	&lt;span class="radio-label"&gt;Radio&lt;/span&gt;
&lt;/label&gt;
</code>
	<em><strong>Tip:</strong> To disable a radio, add a <code class="code">disabled</code> attribute to the radio input.</em>
</section>

<section class="contentSection">
	<h1>Radio smalls</h1>
<!-- mod-small -->
<div class="form">
	<div class="form-group">
		<div class="grid">
			<div class="grid-s4">
				<div class="radio mod-small">
					<input class="radio-input" type="radio" name="radioList1" id="radio0" checked>
					<label class="radio-label" for="radio0">Radio</label>
				</div>
				<div class="radio mod-small">
					<input class="radio-input" type="radio" name="radioList1" id="radio1">
					<label class="radio-label" for="radio1">Radio</label>
				</div>
			</div>
			<div class="grid-s4">
				<div class="radio mod-small">
					<input class="radio-input" type="radio" name="radioList2" id="radio2" disabled checked>
					<label class="radio-label" for="radio2">Disabled radio</label>
				</div>
				<div class="radio mod-small">
					<input class="radio-input" type="radio" name="radioList2" id="radio3" disabled>
					<label class="radio-label" for="radio3">Disabled radio</label>
				</div>
			</div>
		</div>
	</div>
</div>
<code class="code mod-block">&lt;div class="radio mod-small"&gt;
	&lt;input class="radio-input" type="radio" name="<b>radioListID</b>" id="<b>radioID</b>" checked&gt;
	&lt;label class="radio-label" for="<b>radioID</b>"&gt;Radio&lt;/label&gt;
&lt;/div&gt;
</code>
<em><b>Tip:</b> To disable a radio, add a <code class="code">disabled</code> attribute to the radio input.</em>
</section>

<!-- Inline radio -->
<section class="contentSection">
	<h2>Inline</h2>
	<label class="radio mod-inline">
		<input class="radio-input" name="radioInline" type="radio" checked />
		<span class="radio-label">Radio</span>
	</label>
	<label class="radio mod-inline">
		<input class="radio-input" name="radioInline" type="radio" />
		<span class="radio-label">Radio</span>
	</label>
	<label class="radio mod-inline">
		<input class="radio-input" name="radioInline" type="radio" />
		<span class="radio-label">Radio</span>
	</label>
	<code class="code mod-block">&lt;label class="radio mod-inline"&gt;
	&lt;input class="radio-input" type="radio" name="<strong>radioListID</strong>" /&gt;
	&lt;span class="radio-label"&gt;Radio&lt;/span&gt;
&lt;/label&gt;
</code>
</section>

<!-- Palette -->
<section class="contentSection">
	<h2>Palette</h2>
	<label class="radio palette-primary">
		<input class="radio-input" type="radio" checked />
		<span class="radio-label">palette-primary</span>
	</label>
	<label class="radio palette-secondary">
		<input class="radio-input" type="radio" checked />
		<span class="radio-label">palette-secondary</span>
	</label>
	<label class="radio palette-success">
		<input class="radio-input" type="radio" checked />
		<span class="radio-label">palette-success</span>
	</label>
	<label class="radio palette-warning">
		<input class="radio-input" type="radio" checked />
		<span class="radio-label">palette-warning</span>
	</label>
	<label class="radio palette-error">
		<input class="radio-input" type="radio" checked />
		<span class="radio-label">palette-error</span>
	</label>
	<code class="code mod-block">&lt;label class="radio palette-primary"&gt;
	&lt;input class="radio-input" type="radio" name="<strong>radioName</strong>" checked /&gt;
	&lt;label class="radio-label"&gt;…&lt;/label&gt;
&lt;/label&gt;</code>
	<em><strong>Tip:</strong> It will works with all palette's colors</em>
</section>

<section class="contentSection">
	<h2>Radiosfield</h2>
	<div class="grid">
		<div class="grid-s6">
			<fieldset class="radiosfield">
				<legend class="radiosfield-label">radiosfield label</legend>
				<div class="radiosfield-input">
					<label class="radio">
						<input type="radio" name="rfield1" class="radio-input" checked />
						<span class="radio-label">Radio 1</span>
					</label>
					<label class="radio">
						<input type="radio" name="rfield1" class="radio-input" />
						<span class="radio-label">Radio 2</span>
					</label>
					<label class="radio">
						<input type="radio" name="rfield1" class="radio-input" />
						<span class="radio-label">Radio 3</span>
					</label>
				</div>
			</fieldset>
		</div>
		<div class="grid-s6">
			<fieldset class="radiosfield mod-compact">
				<legend class="radiosfield-label">radiosfield label</legend>
				<div class="radiosfield-input">
					<label class="radio">
						<input type="radio" name="rfield2" class="radio-input" checked />
						<span class="radio-label">Radio 1</span>
					</label>
					<label class="radio">
						<input type="radio" name="rfield2" class="radio-input" />
						<span class="radio-label">Radio 2</span>
					</label>
					<label class="radio">
						<input type="radio" name="rfield2" class="radio-input" />
						<span class="radio-label" >Radio 3</span>
					</label>
				</div>
			</fieldset>
		</div>
	</div>
</section>
