<section class="contentSection">
	<h1>Checkboxes</h1>

	<!-- Basics -->
	<div class="form">
		<div class="form-group">
			<div class="grid">
				<div class="grid-xs4">
					<label class="checkbox">
						<input class="checkbox-input" type="checkbox" checked />
						<span class="checkbox-label">Checkbox</span>
					</label>
					<label class="checkbox">
						<input class="checkbox-input" type="checkbox" />
						<span class="checkbox-label">Checkbox</span>
					</label>
				</div>
				<div class="grid-xs4">
					<label class="checkbox">
						<input class="checkbox-input" type="checkbox" disabled checked />
						<span class="checkbox-label">Disabled checkbox</span>
					</label>
					<label class="checkbox">
						<input class="checkbox-input" type="checkbox" disabled />
						<span class="checkbox-label">Disabled checkbox</span>
					</label	>
				</div>
			</div>
		</div>
	</div>
	<code class="code mod-block">&lt;label class="checkbox"&gt;
	&lt;input class="checkbox-input" type="checkbox" /&gt;
	&lt;span class="checkbox-label"&gt;Checkbox&lt;/span&gt;
&lt;/label&gt;
</code>
	<em><strong>Tip:</strong> To disable a checkbox, add a <code class="code">disabled</code> attribute to the checkbox input.</em>
</section>

<section class="contentSection">
	<h1>Checkboxes mod-small</h1>

	<!-- Basics -->
	<div class="form">
		<div class="form-group">
			<div class="grid">
				<div class="grid-xs4">
					<div class="checkbox mod-small">
						<input class="checkbox-input" type="checkbox" id="checkbox0" checked>
						<label class="checkbox-label" for="checkbox0">Checkbox</label>
					</div>
					<div class="checkbox mod-small">
						<input class="checkbox-input" type="checkbox" id="checkbox1">
						<label class="checkbox-label" for="checkbox1">Checkbox</label>
					</div>
				</div>
				<div class="grid-xs4">
					<div class="checkbox mod-small">
						<input class="checkbox-input" type="checkbox" id="checkbox2" disabled checked>
						<label class="checkbox-label" for="checkbox2">Disabled checkbox</label>
					</div>
					<div class="checkbox mod-small">
						<input class="checkbox-input" type="checkbox" id="checkbox3" disabled>
						<label class="checkbox-label" for="checkbox3">Disabled checkbox</label>
					</div>
				</div>
			</div>
		</div>
	</div>
	<code class="code mod-block">&lt;div class="checkbox mod-small"&gt;
	&lt;input class="checkbox-input" type="checkbox" id="<b>checkboxID</b>"&gt;
	&lt;label class="checkbox-label" for="<b>checkboxID</b>"&gt;Checkbox&lt;/label&gt;
&lt;/div&gt;
</code>
	<em><b>Tip:</b> To disable a checkbox, add a <code class="code">disabled</code> attribute to the checkbox input.</em>
</section>
<!-- Inline checkbox -->
<section class="contentSection">
	<h2>Inline</h2>
	<label class="checkbox mod-inline">
		<input class="checkbox-input" type="checkbox" checked />
		<span class="checkbox-label">Checkbox</span>
	</label>
	<label class="checkbox mod-inline">
		<input class="checkbox-input" type="checkbox" checked />
		<span class="checkbox-label">Checkbox</span>
	</label>
	<label class="checkbox mod-inline">
		<input class="checkbox-input" type="checkbox" checked />
		<span class="checkbox-label">Checkbox</span>
	</label>
<code class="code mod-block">&lt;label class="checkbox mod-inline"&gt;
	&lt;input class="checkbox-input" type="checkbox" /&gt;
	&lt;span class="checkbox-label"&gt;Checkbox&lt;/span&gt;
&lt;/label&gt;
</code>
</section>

<!-- Incomplete checkbox -->
<section class="contentSection">
	<h2>Incomplete checkbox</h2>
	<label class="checkbox">
		<input class="checkbox-input is-incomplete" type="checkbox" checked />
		<span class="checkbox-label">Incomplete checkbox</span>
	</label>
	<p>For an incomplete checkbox, add class <code class="code">is-incomplete</code> to input <code class="code">checkbox-input</code>.</p>
</section>

<!-- Big checkbox -->
<section class="contentSection">
	<h2>Big checkbox</h2>
	<label class="checkbox mod-big">
		<input class="checkbox-input" type="checkbox" checked />
		<span class="checkbox-label">Big checkbox</span>
	</label>
<code class="code mod-block">&lt;label class="checkbox mod-big"&gt;
	&lt;input class="checkbox-input" type="checkbox" /&gt;
	&lt;span class="checkbox-label"&gt;Big checkbox&lt;/span&gt;
&lt;/label&gt;</code>
</section>

<!-- Palette -->
<section class="contentSection">
	<h2>Palette</h2>
	<label class="checkbox palette-primary">
		<input class="checkbox-input" type="checkbox" checked />
		<span class="checkbox-label">palette-primary</span>
	</label>
	<label class="checkbox palette-secondary">
		<input class="checkbox-input" type="checkbox" checked />
		<span class="checkbox-label">palette-secondary</span>
	</label>
	<label class="checkbox palette-success">
		<input class="checkbox-input" type="checkbox" checked />
		<span class="checkbox-label">palette-success</span>
	</label>
	<label class="checkbox palette-warning">
		<input class="checkbox-input" type="checkbox" checked />
		<span class="checkbox-label">palette-warning</span>
	</label>
	<label class="checkbox palette-error">
		<input class="checkbox-input" type="checkbox" checked />
		<span class="checkbox-label">palette-error</span>
	</label>
<code class="code mod-block">&lt;label class="checkbox palette-primary"&gt;
	&lt;input class="checkbox-input" type="checkbox" /&gt;
	&lt;span class="checkbox-label"&gt;...&lt;/span&gt;
&lt;/label&gt;</code>
	<em><strong>Tip:</strong> It will works with all palette's colors</em>
</section>
