@mixin component {
  display: inline-flex;
  font-size: var(--sizes-XS-fontSize);
  line-height: var(--sizes-XS-lineHeight);
  font-weight: 600;
  background-color: var(--palettes-brand-700);
  color: var(--palettes-brand-text);
  padding: 0 var(--pr-t-spacings-50);
  border-radius: var(--commons-borderRadius-M);
}
