@mixin component {
	display: inline-flex;
	font: var(--pr-t-font-body-XS);
	font-weight: 600;
	background-color: var(--components-newBadge-backgroundColor);
	color: var(--components-newBadge-color);
	padding-block: 0;
	padding-inline: var(--pr-t-spacings-50);
	border-radius: var(--commons-borderRadius-M);
}
