$breakpoints: (
	xxxs: (
		"breakAt": 320px,
	),
	xxs: (
		"breakAt": 480px,
	),
	xs: (
		"breakAt": 640px,
	),
	s: (
		"breakAt": 800px,
	),
	m: (
		"breakAt": 1024px,
	),
	l: (
		"breakAt": 1280px,
	),
	xl: (
		"breakAt": 1366px,
	),
	xxl: (
		"breakAt": 1600px,
	),
	xxxl: (
		"breakAt": 1920px,
	)
);

$theme: _set($theme, "breakpoints", $breakpoints);
