$colors: (
	primary: #FFCC00,
	secondary: #FF6600,
	success: #5CB85C,
	warning: #FF9900,
	error: #FF3300,
	greyStandard: #666666,
	greyLight: #999999,
);

$luTheme: _set($luTheme, "palette.colors", $colors);
