$commons: (
	animations: (
		durations: (
			fast: 100ms,
			standard: 250ms,
			slow: 350ms,
		),
		translate: 3rem,
		function: ease,
		iteration-count: 5,
	),
	divider: (
		width: 1px,
		color: #D6D6D6,
	),
	disabled: (
		opacity: .4,
		background: #E5E5E5,
		color: #999999,
		placeholder: #BBBBBB
	),
	background: (
		base: #F5F5F5
	),
	highlight: _theme("primary", "50"),
	selected: _theme("primary", "100"),
	text: (
		link: (
			color: #00B2ED,
			hover: #16C5FE
		),
	),
	border: (
		radius: 4px,
		radius-big: 8px
	),
	font: (
		family: unquote("Source Sans Pro, Tahoma, sans-serif"),
		line-height: 1.5rem,
		size: 16px
	),
	elevations: (
		elevation-1: unquote("0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24)"),
		elevation-2: unquote("0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)"),
		elevation-3: unquote("0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23)"),
		elevation-4: unquote("0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22)"),
		elevation-5: unquote("0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22)")
	),
	overlays: (
		background: #323232,
		text: #FFFFFF
	),
	banner-height: 50px,
	transition: unquote("all 150ms ease"),
	focused: 0 0 1px 2px #A6C7FF,
	mobile: "md",
	loading: (
		background: _color("primary", "lighter"),
		frontground: _color("primary"),
		speed: 600ms,
	)
);

$theme: _set($theme, "commons", $commons);
