$commons: (
	animations: (
		durations: (
			fast: 100ms,
			standard: 250ms,
			slow: 350ms,
		),
		translate: 3rem,
		function: ease,
		iteration-count: 5,
	),
	divider: (
		width: 1px,
		color: #D6D6D6,
	),
	disabled: (
		opacity: .4,
		background: #E5E5E5,
		color: #999999,
		placeholder: #BBBBBB
	),
	background: (
		base: #F5F5F5
	),
	highlight: _color("primary", "50"),
	selected: _color("primary", "100"),
	text: (
		link: (
			color: #00B2ED,
			hover: #16C5FE
		),
	),
	border: (
		radius: 4px,
		radius-big: 8px
	),
	font: (
		family: unquote("Source Sans Pro, Tahoma, sans-serif"),
		line-height: 1.5rem,
		size: 16px
	),
	elevations: (
		elevation-1: unquote("0 1px 2px rgba(0, 0, 0, 0.06), 0px 2px 8px rgba(0, 0, 0, 0.04)"),
		elevation-2: unquote("0 0 0 1px rgba(0, 0, 0, 0.03), 0 1px 2px rgba(0, 0, 0, 0.02), 0 2px 6px rgba(0, 0, 0, 0.05)"),
		elevation-3: unquote("0 0 0 1px rgba(0, 0, 0, 0.03), 0 2px 4px rgba(0, 0, 0, 0.02), 0 4px 10px rgba(0, 0, 0, 0.06)"),
		elevation-4: unquote("0 0 0 1px rgba(0, 0, 0, 0.03), 0 3px 6px rgba(0, 0, 0, 0.04), 0 4px 16px rgba(0, 0, 0, 0.08)"),
		elevation-5: unquote("0 0 0 1px rgba(0, 0, 0, 0.03), 0 4px 8px rgba(0, 0, 0, 0.06), 0 12px 32px rgba(0, 0, 0, 0.08)"),
		elevation-6: unquote("0 0 0 1px rgba(0, 0, 0, 0.03), -2px 2px 8px rgba(0, 0, 0, 0.04), -12px 6px 24px rgba(0, 0, 0, 0.06)"),
	),
	box-shadow: (
		hard: unquote("0 2px 8px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.15)"),
		xs: unquote("0 1px 2px rgba(0, 0, 0, 0.06), 0 2px 8px rgba(0, 0, 0, 0.04)"),
		s: unquote("0 0 0 1px rgba(0, 0, 0, 0.03), 0 1px 2px rgba(0, 0, 0, 0.02), 0 2px 6px rgba(0, 0, 0, 0.05)"),
		m: unquote("0 0 0 1px rgba(0, 0, 0, 0.03), 0 2px 4px rgba(0, 0, 0, 0.02), 0 4px 10px rgba(0, 0, 0, 0.06)"),
		l: unquote("0 0 0 1px rgba(0, 0, 0, 0.03), 0 3px 6px rgba(0, 0, 0, 0.04), 0 4px 16px rgba(0, 0, 0, 0.08)"),
		xl: unquote("0 0 0 1px rgba(0, 0, 0, 0.03), 0 4px 8px rgba(0, 0, 0, 0.06), 0 12px 32px rgba(0, 0, 0, 0.08)"),
		xxl: unquote("0 0 0 1px rgba(0, 0, 0, 0.03), -2px 2px 8px rgba(0, 0, 0, 0.04), -12px 6px 24px rgba(0, 0, 0, 0.06)"),
	),
	overlays: (
		background: #323232,
		text: #FFFFFF
	),
	banner-height: 50px,
	transition: unquote("all 150ms ease"),
	focused: 0 0 1px 2px #A6C7FF,
	mobile: "md",
	loading: (
		background: _color("primary", "200"),
		frontground: _color("primary", "color"),
		speed: 600ms
	),
);

$theme: _set($theme, "commons", $commons);
