$palettes: (
	'primary': ('color': #ffcc00, 'text': #666666),
	'secondary': ('color': #ff6600, 'text': #ffffff),
	'success': ('color': #9acd32, 'text': #ffffff),
	'warning': ('color': #ff9900, 'text': #ffffff),
	'error': ('color': #ff3300, 'text': #ffffff)
);

$colors: (
	text:
		(
			'dark': #444444,
			'default': #666666,
			'light': #999999,
			'placeholder': #cccccc
		)
);
$theme: _set($theme, 'palettes', $palettes);
$theme: _set($theme, 'colors', $colors);
