$palettes: (
	"primary": (
		"color": #FFB900,
		"text": #444444,
		"dark": darken(#FFB900, 7%),
		"darker": darken(#FFB900, 20%),
		"light": lighten(#FFB900, 10%),
		"lighter": lighten(#FFB900, 20%),
		"lightest": lighten(#FFB900, 45%),
		"see-through": rgba(#FFB900, .15)
	),
	"secondary": (
		"color": #FF6600,
		"text": #FFFFFF,
		"dark": darken(#FF6600, 5%),
		"darker": darken(#FF6600, 20%),
		"light": lighten(#FF6600, 10%),
		"lighter": lighten(#FF6600, 20%),
		"lightest": lighten(#FF6600, 45%),
		"see-through": rgba(#FF6600, .15)
	),
	"success": (
		"color": #9ACD32,
		"text": #FFFFFF,
		"dark": darken(#9ACD32, 5%),
		"darker": darken(#9ACD32, 20%),
		"light": lighten(#9ACD32, 10%),
		"lighter": lighten(#9ACD32, 20%),
		"lightest": lighten(#9ACD32, 42%),
		"see-through": rgba(#9ACD32, .15)
	),
	"warning": (
		"color": #FF9900,
		"text": #FFFFFF,
		"dark": darken(#FF9900, 5%),
		"darker": darken(#FF9900, 20%),
		"light": lighten(#FF9900, 10%),
		"lighter": lighten(#FF9900, 20%),
		"lightest": lighten(#FF9900, 42%),
		"see-through": rgba(#FF9900, .15)
	),
	"error": (
		"color": #FF3300,
		"text": #FFFFFF,
		"dark": darken(#FF3300, 5%),
		"darker": darken(#FF3300, 20%),
		"light": lighten(#FF3300, 10%),
		"lighter": lighten(#FF3300, 20%),
		"lightest": lighten(#FF3300, 44%),
		"see-through": rgba(#FF3300, .15)
	),
);

$colors: (
	text: (
		dark: (
			color: #444444
		),
		default: (
			color: #666666
		),
		light: (
			color: desaturate(lighten(#FFB900, 20%), 80%)
		),
		placeholder: (
			color: desaturate(lighten(#FFB900, 25%), 50%)
		)
	),
);
$theme: _set($theme, "palettes", $palettes);
$theme: _set($theme, "colors", $colors);
