$sizes: (
  smaller: (
		font-size: .75rem,
		line-height: 1rem,
  ),
  small: (
		font-size: .875rem,
		line-height: 1rem,
  ),
  standard: (
		font-size: 1rem,
		line-height: 1.5rem,
  ),
  big: (
		font-size: 1.125rem,
		line-height: 2rem,
  ),
  bigger: (
		font-size: 1.375rem,
		line-height: 2.5rem,
  ),
  biggest: (
		font-size: 1.75rem,
		line-height: 2.5rem,
  ),
  headline: (
		font-size: 2.25rem,
		line-height: 3.5rem,
  ),
);

$spacings: (
  reset: 0,
  smallest: .25rem,
  smaller: .5rem,
  small: 1rem,
  standard: 1.5rem,
  big: 2rem,
  bigger: 3rem,
  biggest: 4rem,
);

$theme: _set($theme, "sizes", $sizes);
$theme: _set($theme, "spacings", $spacings);
