$sizes: (
	smaller: (
		font-size: .75rem,
		line-height: 1.5,
	),
	small: (
		font-size: .875rem,
		line-height: 1.5,
	),
	standard: (
		font-size: 1rem,
		line-height: 1.5,
	),
	big: (
		font-size: 1.25rem,
		line-height: 1.45,
	),
	bigger: (
		font-size: 1.5rem,
		line-height: 1.4,
	),
	biggest: (
		font-size: 2rem,
		line-height: 1.35,
	),
	headline: (
		font-size: 3rem,
		line-height: 1.25,
	),
);

$spacings: (
	reset: 0,
	smaller: .5rem,
	small: 1rem,
	standard: 2rem,
	big: 3rem,
	bigger: 4rem,
	biggest: 6rem,
);

$theme: _set($theme, "sizes", $sizes);
$theme: _set($theme, "spacings", $spacings);
