@mixin component {
	padding: var(--commons-container-padding);
	min-inline-size: var(--components-container-minInlineSize);
	max-inline-size: var(--commons-container-maxWidth);
	margin-inline: var(--commons-container-marginInline);
	position: relative;
}
