@use 'exports' as *;
@use '@lucca-front/scss/src/commons/utils/media';

.container {
	@layer components {
		@include vars;
		@include component;
	}

	@layer mods {
		&.mod-center {
			@include center;
		}

		// deprecated
		&.mod-S {
			@include S;
		}

		&.mod-maxM {
			@include maxM;
		}

		&.mod-maxL {
			@include maxL;
		}

		&.mod-maxXL {
			@include maxXL;
		}

		&.mod-maxXXL {
			@include maxXXL;
		}

		&.mod-maxXXXL {
			@include maxXXXL;
		}

		&.mod-overflow {
			@include overflow;
		}
	}
}
