@mixin center {
	--commons-container-marginInline: auto;
}

// deprecated
@mixin S {
	--commons-container-padding: 0 var(--pr-t-spacings-200);
}

@mixin maxM {
	--commons-container-maxWidth: var(--commons-container-maxWidthM);
}

@mixin maxL {
	--commons-container-maxWidth: var(--commons-container-maxWidthL);
}

@mixin maxXL {
	--commons-container-maxWidth: var(--commons-container-maxWidthXL);
}

@mixin maxXXL {
	--commons-container-maxWidth: var(--commons-container-maxWidthXXL);
}

@mixin maxXXXL {
	--commons-container-maxWidth: var(--commons-container-maxWidthXXXL);
}

@mixin overflow {
	--components-container-minInlineSize: fit-content;
}
