@use 'sass:math';
@use 'sass:map';

@use '@lucca-front/scss/src/commons/config';

@function pxToRem($value) {
	@return math.div($value, 16px) * 1rem;
}

@mixin center {
	--components-container-marginInline: auto;
}

@mixin S {
	--components-container-padding: var(--pr-t-spacings-200);
}

@mixin maxM {
	--components-container-max-width: #{pxToRem(map.get(config.$breakpoints, 'M'))};
}

@mixin maxL {
	--components-container-max-width: #{pxToRem(map.get(config.$breakpoints, 'L'))};
}

@mixin maxXL {
	--components-container-max-width: #{pxToRem(map.get(config.$breakpoints, 'XL'))};
}

@mixin maxXXL {
	--components-container-max-width: #{pxToRem(map.get(config.$breakpoints, 'XXL'))};
}

@mixin maxXXXL {
	--components-container-max-width: #{pxToRem(map.get(config.$breakpoints, 'XXXL'))};
}

@mixin padding0 {
	--components-container-padding: 0;
}