@mixin vars {
	--components-container-minInlineSize: 0;

	// for this component some variables are placed in common

	// --components-container-max-width is deprecated
	// --components-container-padding is deprecated
	--components-container-max-width: var(--commons-container-maxWidth);
	--components-container-padding: var(--commons-container-padding);
}
