@mixin vars {
	--components-avatarWrapper-size: 2.5rem;
	--components-avatarWrapper-overlap: var(--spacings-XS);
	--components-avatarWrapper-border: 2px;
	--components-avatarWrapper-background: var(--commons-background-base);
	--components-avatarWrapper-fontSize: var(--sizes-M-fontSize);
	--components-avatarWrapper-scale: 1;
}
