@use '@lucca-front/scss/src/commons/utils/loading';

@mixin component {
	@include loading.spinner();

	min-width: 1.5rem;
	min-height: 1.5rem;
	padding-left: var(--spacings-L);
	display: inline-block;
	position: relative;

	&::after {
		margin: 0;
	}
}
