@use '@lucca-front/scss/src/commons/utils/loading';

@mixin component {
	min-block-size: var(--components-loading-size);
	padding: var(--components-loading-padding);
	margin: var(--components-loading-margin);
	display: var(--components-loading-display);
	transform: var(--components-loading-transform);
	color: var(--components-loading-color);
	position: relative;
	text-align: var(--components-loading-textAlign);
	vertical-align: top;

	@include loading.spinner;

	&:not(:empty) {
		--components-loading-padding: 0 0 0 var(--pr-t-spacings-400);
	}

	&::after {
		inline-size: var(--components-loading-size);
		block-size: var(--components-loading-size);
		margin: var(--components-loading-spinnerMargin);
	}
}
