@use '@lucca-front/scss/src/commons/utils/color';

@mixin block {
	--components-loading-display: block;
	--components-loading-margin: 0 auto;
	--components-loading-spinnerMargin: 0 auto;

	&:not(:empty) {
		--components-loading-padding: var(--components-loading-size) 0 0;
	}
}

@mixin L {
	@include block;

	--components-loading-size: var(--components-loading-size-big);
}

@mixin fullPage {
	@include block;
	@include L;

	--components-loading-transform: translateY(calc((100dvh - var(--commons-banner-height)) / 2));
	--components-loading-transformFallback: translateY(calc((100vh - var(--commons-banner-height)) / 2));
}

@mixin invert {
	--components-loading-color: var(--colors-white-color);

	&::after {
		--commons-loading-frontground: color.transparentize(var(--colors-white-color), 0.66);
	}
}

@mixin popin {
	@include block;
	@include L;

	&,
	&:not(:empty) {
		--components-loading-padding: 8rem 0 0;
	}

	--components-loading-margin: 0 var(--pr-t-spacings-400) var(--pr-t-spacings-400);
	--components-loading-spinnerMargin: auto;
}

@mixin drawer {
	@include fullPage;
	@include popin;
}
