@use '@lucca-front/scss/src/commons/utils/color';

@mixin block {
	--components-loading-display: block;
	--components-loading-margin: auto;
	--components-loading-spinnerMargin: 0 auto;
	--components-loading-textAlign: center;

	&:not(:empty) {
		--components-loading-padding: calc(var(--components-loading-size) + var(--pr-t-spacings-50)) 0 0;
	}
}

@mixin L {
	@include block;

	--components-loading-size: var(--components-loading-size-big);
}

@mixin invert {
	--components-loading-color: var(--palettes-neutral-0);

	&::after {
		--commons-loading-frontground: color.transparentize(var(--palettes-neutral-0), 0.66);
	}
}

@mixin popin {
	@include block;
	@include L;

	// legacy, arbitrary margins
	--components-loading-width: calc(100% - var(--pr-t-spacings-400) * 2);
	--components-loading-margin: 0 var(--pr-t-spacings-400) var(--pr-t-spacings-400);
}

@mixin drawer {
	@include popin;

	// legacy, approximate centering
	--components-loading-transform: translateY(35vh);
}

@mixin fullPage {
	@include block;
	@include L;

	// legacy, approximate centering
	--components-loading-transform: translateY(35vh);
}
