name: Build, lint and test
on:
  - push
jobs:
  build:
    runs-on: lucca-ci-large
    container:
      image: "ghcr.io/luccasa/lucca-ci:v3.0.0@sha256:806ed8aa4f4a81ec465524aeba3fe35fd6c90ea74911fbf188f942f1e8cbb72c"
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.github_token }}
    steps:
      - uses: actions/checkout@v5
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24.11.1
      - run: npm install
      - run: npm run build --if-present
      - run: npm run ci-test
      - run: npm run lint
