<h1>drag-drop</h1>
<h2>drag around</h2>
<div class="dragDrop-card card" cdkDrag [style.width]="'200px'">
	<div class="card-content">
		<h2>hello</h2>
		<p>drag me around</p>
	</div>
</div>
<h2>sorting - list</h2>
<ul class="dragDrop-list list" cdkDropList (cdkDropListDropped)="drop($event)">
	<li class="dragDrop-item list-item"*ngFor="let movie of movies" cdkDrag>
		<div class="dragDrop-item-content list-item-content grid">
			<div class="grid-s1">
				<i class="column-drag lucca-icon">drag</i>
			</div>
			<div class="grid-s">
				<span class="column-description">{{movie}}</span>
			</div>
		</div>
	</li>
</ul>
