$grey:           #555;
$primary:        #ffc900;
$secondary:      #ff6600;
$lucca:          #ffc900;
$greyBackground: #f5f5f5;
$greySeparator:  #d6d6d6;
$greyLight:      #ccc;
$red:            #ff6600;
$orange:         #ff9900;
$green:          #5cb85c;