// FONT SIZE
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

$font-smaller: .75rem;
$font-small: .85rem;
$font-standard: 1rem;
$font-big: 1.38rem;
$font-bigger: 1.94rem;
$font-biggest: 2.75rem;


// LINE HEIGHT
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

$font-line-small: 1.618rem;
$font-line-standard: 1.618rem;
$font-line-big: 1.9rem;
$font-line-bigger: 2.4rem;
$font-line-biggest: 3.2rem;