@use '@lucca-front/scss/src/components/button/exports' as button;

@mixin noDescription {
	--components-resourceCard-content-gridTemplate-min: var(--pr-t-spacings-400);
	--components-resourceCard-content-after-paddingBlock: 0;
	--components-resourceCard-content-dragBefore-alignSelf: center;
	--components-resourceCard-content-after-alignSelf: center;
	--components-resourceCard-content-gridTemplate: "dragBefore header after" minmax(var(--components-resourceCard-content-gridTemplate-min), auto)
																									"space      space  space" 1fr
																									/auto       1fr    auto;
}

@mixin narrow {
	--components-resourceCard-content-dragBefore-paddingBlock: 0;
	--components-resourceCard-content-after-paddingBlock: 0;
	--components-resourceCard-content-dragBefore-alignSelf: center;
	--components-resourceCard-content-after-alignSelf: center;
	--components-resourceCard-content-header-infos-flexWrap: wrap;
	--components-resourceCard-content-header-flexDirection: column;
	--components-resourceCard-content-header-alignItems: start;
	--components-resourceCard-content-header-justifyContent: center;
	--components-resourceCard-content-description-not-empty-marginBlockStart: var(--pr-t-spacings-150);
	--components-resourceCard-content-gridTemplate: "dragBefore header after" minmax(var(--components-resourceCard-content-gridTemplate-min), auto)
																									"main       main   main " auto
																									"space      space  space" 1fr
																									/auto       1fr    auto;

	.resourceCard-content-after-action {
		@include button.S;

		&:has(> lu-icon:only-child, > .lucca-icon:only-child, > .lucca-icon:first-child + .pr-u-mask:last-child) {
			@include button.onlyIconS;
		}
	}
}

@mixin narrowNoDescriptionHasBefore {
	--components-resourceCard-content-gridTemplate-min: var(--pr-t-spacings-400);
}

@mixin grid {
	--components-resourceCardWrapper-display: grid;
}

@mixin hasDrag {
	--components-resourceCard-content-gridTemplate-min: var(--pr-t-spacings-400);
}

@mixin hadDragHasBefore {
	--components-resourceCard-content-gridTemplate-min: auto;
}
