@mixin vars {
	--components-highlightData-display: grid;
	--components-highlightData-alignItem: center;
	--components-highlightData-background: var(--pr-t-elevation-surface-raised);
	--components-highlightData-padding-inline: var(--pr-t-spacings-200);
	--components-highlightData-padding-block: var(--pr-t-spacings-150);
	--components-highlightData-padding: var(--components-highlightData-padding-block) var(--components-highlightData-padding-inline);
	--components-highlightData-gap: var(--components-highlightData-padding-inline);
	--components-highlightData-title-color: var(--palettes-neutral-200);
	--components-highlightData-value-order: 0;
	--components-highlightData-action-padding: 0;
	--components-highlightData-illustrations-width: 86px;
	--components-highlightData-illustrations-height: 72px;
}
