@use '@lucca-front/scss/src/commons/utils/reset';

@mixin component($atRoot: 'without: rule') {
	list-style-type: none;
	padding: 0;
	margin: var(--spacings-S) 0;
	display: flex;
	align-items: center;

	@at-root ($atRoot) {
		.timeline-step {
			flex-grow: 1;
			display: flex;
			align-items: center;

			&:not(:last-child) {
				&::after {
					content: '';
					display: flex;
					flex-grow: 1;
					border-bottom: 2px solid var(--palettes-grey-200);
					margin: var(--spacings-XS);
				}
			}

			&:last-child {
				flex-grow: 0;
			}
		}

		.timeline-step-title {
			padding-left: 1.75rem;
			position: relative;
			display: block;
			color: var(--palettes-primary-700);
			font-weight: 600;
			margin: 0;
			font-size: var(--sizes-M-fontSize);
			line-height: var(--sizes-L-lineHeight);
			min-width: 1.5rem;
		}

		.timeline-step-title,
		.timeline-step:not([aria-current='step']):not([aria-current='step'] ~ .timeline-step) .timeline-step-title-icon {
			&::before {
				content: '';
				color: var(--palettes-primary-text);
				width: 1rem;
				height: 1rem;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 50%;
				background-color: var(--palettes-primary-700);
				position: absolute;
				left: var(--spacings-XXS);
				top: 50%;
				transform: translateY(-50%);
			}
		}

		.timeline-step-title-action {
			@include reset.button;

			color: currentColor;
			text-decoration: none;
			cursor: default;
			display: inline-block;
			width: auto;

			&:not([disabled]) {
				&:hover,
				&:focus {
					color: currentColor;
					text-decoration: underline;
					cursor: pointer;
				}
			}
		}
	}
}
