@use '@lucca-front/scss/src/commons/utils/reset';
@use '@lucca-front/scss/src/commons/utils/a11y';
@use '@lucca-front/icons/src/commons/utils/icon';

@mixin S {
	.timeline-step-title {
		padding-left: 1.25rem;

		&::before {
			width: 0.5rem;
			height: 0.5rem;
		}
	}
}

@mixin L {
	.timeline-step-title {
		padding-left: 2.25rem;
		min-width: 2rem;

		&::before {
			width: 1.5rem;
			height: 1.5rem;
		}
	}

	.timeline-step:not([aria-current='step']):not([aria-current='step'] ~ .timeline-step) .timeline-step-title-icon {
		&::before {
			left: var(--pr-t-spacings-100);
		}
	}
}

@mixin addStepL {
	.timeline-step-title-icon {
		&::before {
			left: var(--pr-t-spacings-100);
		}
	}
}

@mixin vertical {
	align-items: flex-start;
	flex-direction: column;

	.timeline-step {
		margin-top: var(--pr-t-spacings-100);
		display: block;
		position: relative;
		width: 100%;

		// line
		&:not(:last-child)::after {
			content: '';
			display: block;
			height: auto;
			position: absolute;
			top: calc(var(--pr-t-spacings-400) + var(--pr-t-spacings-50));
			bottom: calc(var(--pr-t-spacings-150) * -1);
			left: 0.45rem; // magic number
			margin: 0;
			border-left: 2px solid var(--palettes-neutral-200);
		}

		&:not(:last-child)[aria-current='step'] {
			&::after {
				top: calc(var(--pr-t-spacings-400) + var(--pr-t-spacings-50));
			}
		}
	}

	.timeline-step-title {
		margin: var(--pr-t-spacings-100) 0;
		min-height: var(--pr-t-spacings-300);
		min-width: 0;

		&:before {
			top: var(--pr-t-spacings-150);
		}
	}

	.timeline-step-description {
		padding-left: var(--pr-t-spacings-400);
	}

	.timeline-stepAddBetweenStep {
		min-height: 3rem;
	}
}

@mixin verticalNotSNotL {
	.timeline-step-title {
		&:before {
			left: 0;
		}
	}
}

@mixin verticalS {
	.timeline-step {
		&::after {
			bottom: calc(var(--pr-t-spacings-200) * -1);
			left: 0.45rem; // magic number
			top: var(--pr-t-spacings-400);
		}

		&[aria-current='step'] {
			&::after {
				top: var(--pr-t-spacings-400);
			}
		}
	}
	.timeline-step-description {
		padding-left: var(--pr-t-spacings-300);
	}
}

@mixin verticalL {
	.timeline-step {
		&::after {
			bottom: calc(var(--pr-t-spacings-100) * -1);
			left: 0.95rem; // magic number
			top: 2.5rem;
		}

		&[aria-current='step'] {
			&::after {
				top: 2.5rem;
			}
		}
	}
	.timeline-step-description {
		padding-left: 2.5rem;
		min-height: var(--pr-t-spacings-400);
	}
}

@mixin verticalProgress {
	.timeline-step[aria-current='step'] {
		&::after {
			height: unset;
			width: 2px;
			border: none;
			background: linear-gradient(180deg, var(--palettes-product-700) var(--progress), var(--palettes-neutral-200) var(--progress));
		}
	}
}

@mixin number {
	counter-reset: timeline;
	.timeline-step:not(.timeline-stepAddBetweenStep) {
		.timeline-step-title {
			counter-increment: timeline;

			&::before {
				content: counter(timeline);
				font-size: var(--sizes-XS-fontSize);
				line-height: 1;
			}
		}
	}
}

@mixin numberL {
	.timeline-step-title::after {
		font-size: var(--sizes-S-fontSize);
	}
}

@mixin checkedPastStep {
	.timeline-step:not([aria-current='step']):not([aria-current='step'] ~ .timeline-step):not(.timeline-stepAddBetweenStep) {
		.timeline-step-title {
			.timeline-step-title-icon::before {
				@include icon.generate('sign_confirm');
				font-size: var(--components-timeline-icon-size);
				display: flex;
				background-color: transparent;
				color: var(--palettes-product-700);
			}
			&::before {
				background-color: var(--palettes-product-100);
			}
		}

		&::after {
			border-color: var(--palettes-product-200);
			border-bottom-style: solid;
		}
	}
}

@mixin checkedPastStepL {
	--components-timeline-icon-size: var(--sizes-S-lineHeight);
}

@mixin checkedPastStepVerticalNotL {
	.timeline-step:not([aria-current='step']):not([aria-current='step'] ~ .timeline-step) {
		.timeline-step-title {
			.timeline-step-title-icon::before {
				left: 0;
			}
		}
	}
}

@mixin checkedPastStepVerticalL {
	.timeline-step:not([aria-current='step']):not([aria-current='step'] ~ .timeline-step) {
		.timeline-step-title {
			.timeline-step-title-icon::before {
				left: var(--sizes-XS-fontSize);
			}
		}
	}
}

@mixin addStep {
	.timeline-step {
		&:nth-last-child(2)::after {
			background-color: transparent;
			background-image: linear-gradient(
				90deg,
				transparent 25%,
				var(--palettes-neutral-200) 25%,
				var(--palettes-neutral-200) 50%,
				transparent 50%,
				transparent 75%,
				var(--palettes-neutral-200) 75%,
				var(--palettes-neutral-200) 100%
			);
			background-size: var(--pr-t-spacings-100) var(--pr-t-spacings-100);
		}

		&:last-child {
			.timeline-step-title {
				&:before {
					display: none;
				}
				.timeline-step-title-icon::before {
					@include icon.generate('maths_plus');
					display: flex;
				}
			}
		}
	}

	.timeline-step-title-icon {
		&::before {
			content: '';
			color: var(--palettes-product-text);
			width: 1rem;
			height: 1rem;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: var(--commons-borderRadius-full);
			background-color: var(--palettes-product-700);
			position: absolute;
			left: var(--pr-t-spacings-50);
			top: 50%;
			transform: translateY(-50%);
		}
	}

	.button {
		gap: 0;
	}
}

@mixin addStepVertical {
	.timeline-step {
		&:nth-last-child(2)::after {
			background-color: transparent;
			background-image: linear-gradient(
				0deg,
				transparent 25%,
				var(--palettes-neutral-200) 25%,
				var(--palettes-neutral-200) 50%,
				transparent 50%,
				transparent 75%,
				var(--palettes-neutral-200) 75%,
				var(--palettes-neutral-200) 100%
			);
			background-size: var(--pr-t-spacings-100) var(--pr-t-spacings-100);
		}
	}
}

@mixin addStepVerticalNotL {
	.timeline-step:last-child {
		.timeline-step-title {
			.timeline-step-title-icon::before {
				left: 0;
			}
		}
	}
}

@mixin addStepVerticalL {
	.timeline-step:last-child {
		.timeline-step-title {
			.timeline-step-title-icon::before {
				left: var(--pr-t-spacings-100);
			}
		}
	}
}

@mixin addBetweenStep {
	.timeline-stepAddBetweenStep {
		.timeline-step-title {
			padding-left: 0;

			&:before {
				display: none;
			}
		}
	}
	.timeline-stepAddBetweenStep-title {
		@include reset.button;
		width: auto;

		&:hover {
			.timeline-step-title-icon::before {
				background-color: var(--palettes-product-600);
			}
		}

		&:focus-visible {
			.timeline-step-title-icon::before {
				@include a11y.focusVisible;
			}
		}
	}
	.timeline-step:not([aria-current='step']):not([aria-current='step'] ~ .timeline-step) .timeline-step-title-icon::before {
		@include icon.generate('maths_plus');
		display: flex;
		transition: background-color var(--commons-animations-durations-fast);
	}
}

@mixin addBetweenStepVerticalNotL {
	.timeline-step:not([aria-current='step']):not([aria-current='step'] ~ .timeline-step) .timeline-step-title-icon::before {
		left: 0;
	}
}

@mixin addBetweenStepL {
	.timeline-step:not([aria-current='step']):not([aria-current='step'] ~ .timeline-step) .timeline-step-title-icon::before {
		width: 1.5rem;
		height: 1.5rem;
		left: var(--pr-t-spacings-50);
	}
}

@mixin progress {
	.timeline-step[aria-current='step'] {
		&::after {
			border: none;
			height: 2px;
			background: linear-gradient(90deg, var(--palettes-product-700) var(--progress), var(--palettes-neutral-200) var(--progress));
		}
	}
}

@mixin dashed {
	.timeline-step::after {
		border-bottom-style: dashed;
	}
}

@mixin dashedVertical {
	.timeline-step::after {
		border-left-style: dashed;
	}
}

@mixin notPastChecked {
	.timeline-step-title {
		&::before {
			background-color: var(--palettes-product-700);
			color: var(--colors-white-color);
		}
	}
}
