$step: '.timeline-step';
$title: '.timeline-step-title';
$icon: '.timeline-step-title-icon';
$action: '.timeline-step-title-action';
$between: '.timeline-stepAddBetweenStep';
$betweenTitle: '.timeline-stepAddBetweenStep-title';
$description: '.timeline-step-description';