@mixin vars {
	--components-timeline-title-fontSize: var(--pr-t-font-fontSize-200);
	--components-timeline-title-lineHeight: var(--pr-t-font-lineHeight-300);
	--components-timeline-icon-size: var(--pr-t-font-lineHeight-200);
}
