@use '@lucca-front/scss/src/commons/config';

@use '@lucca-front/scss/src/commons/utils/media';
@use '@lucca-front/icons/src/commons/utils/icon';
@use '@lucca-front/scss/src/commons/utils/reset';
@use '@lucca-front/scss/src/commons/utils/color';

@mixin stickyHeader {
	.dataTable-head {
		position: sticky;
		top: 0;

		z-index: 1;

		&::after {
			content: '';
			left: 0;
			right: 0;
			height: var(--pr-t-spacings-100);
			position: absolute;
			background-image: linear-gradient(#{color.transparentize(var(--palettes-neutral-400), 0.24)}, transparent);
			pointer-events: none;
		}
	}

	.dataTable-head-row-cell {
		box-shadow: 0 1px var(--commons-border-200);
		background-color: transparent;
		background-image: linear-gradient(var(--palettes-neutral-0), var(--palettes-neutral-0));
		background-size: 100% calc(100% - 1px);
		background-position: 0 1px;
		background-repeat: no-repeat;
	}
}

@mixin columnsOverflow {
	overflow: auto;
	display: flex;

	&::before,
	&::after {
		content: '';
		position: sticky;
		width: var(--pr-t-spacings-100);
		background-image: linear-gradient(to right, #{color.transparentize(var(--palettes-neutral-400), 0.24)}, transparent);
		flex-shrink: 0;
		margin-left: calc(var(--pr-t-spacings-100) * -1);
		top: 0;
		pointer-events: none;
		z-index: 1;
	}

	&::before {
		left: 0;
	}

	&::after {
		right: 0;
		transform: scaleX(-1);
	}
}

@mixin rowsOverflow {
	overflow: auto;

	.dataTableShadows {
		display: flex;
		flex-direction: column;

		&::before,
		&::after {
			content: '';
			position: sticky;
			display: block;
			height: var(--pr-t-spacings-100);
			background-image: linear-gradient(to bottom, #{color.transparentize(var(--palettes-neutral-400), 0.24)}, transparent);
			margin-top: calc(var(--pr-t-spacings-100) * -1);
			flex-shrink: 0;
			pointer-events: none;
		}

		&::before {
			top: 0;
		}

		&::after {
			bottom: 0;
			transform: scaleY(-1);
		}
	}
}

@mixin stickyColumn {
	overflow: auto;

	%addShadow {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 100%;
		width: var(--pr-t-spacings-100);
		pointer-events: none;
		background-image: linear-gradient(to right, #{color.transparentize(var(--palettes-neutral-400), 0.24)}, transparent);
	}

	%removeShadow {
		content: none;
	}

	:is(.dataTable-body-row-cell, .dataTable-head-row-cell, .dataTable-foot-row-cell) {
		&.mod-stickyColumn {
			&:has(~ :is(.dataTable-body-row-cell, .dataTable-head-row-cell, .dataTable-foot-row-cell):not(.mod-stickyColumn)) {
				&:not(:has(+ :is(.dataTable-body-row-cell, .dataTable-head-row-cell, .dataTable-foot-row-cell).mod-stickyColumn)) {
					&::after {
						@extend %addShadow;
					}
				}
			}
		}

		&:not(.mod-stickyColumn) {
			~ :is(.dataTable-body-row-cell, .dataTable-head-row-cell, .dataTable-foot-row-cell).mod-stickyColumn {
				&::after {
					@extend %addShadow;

					left: auto;
					right: 100%;
					transform: scaleX(-1);
				}

				& ~ :is(.dataTable-body-row-cell, .dataTable-head-row-cell, .dataTable-foot-row-cell).mod-stickyColumn {
					&::after {
						@extend %removeShadow;
					}
				}
			}
		}
	}

	:is(.dataTable-head-row-cell, .dataTable-body-row-cell, .dataTable-foot-row-cell) {
		&.mod-stickyColumn {
			position: sticky;

			&:first-child {
				left: 0;
			}

			&:last-child {
				right: 0;
			}
		}
	}
}

@mixin stickyHeaderWithBorder {
	.dataTable-head-row-cell {
		background-size: calc(100% - 1px) calc(100% - 1px);
		background-position: 1px 1px;
		box-shadow:
			0 1px var(--commons-border-200),
			1px 0 var(--commons-border-200);
	}
}
