@mixin vars {
	--components-dataTable-shadow-firstColumnOpacity: 1;
	--components-dataTable-shadow-lastColumnOpacity: 1;
	--components-dataTable-shadow-firstRowOpacity: 1;
	--components-dataTable-shadow-lastRowOpacity: 1;
	--components-dataTable-header-shadow-opacity: 1;
	--components-dataTable-shadow-colsStart-opacity: 1;
	--components-dataTable-shadow-colsEnd-opacity: 1;
	--components-dataTable-shadow-lastRowInsetBlockEnd: 0;
}
