@mixin field-framed($fieldname) {
	.#{$fieldname}-messages {
		position: absolute;
		bottom: 0;
		left: -1px;
		right: 0;
		text-align: center;
		transform: translateY(0);
		transition: transform _theme("commons.animations.durations.standard");
		z-index: 4;

		> * {
			display: block;
		}
	}

	.#{$fieldname}-messages-error {
		background-color: _color("error");
		color: _theme("palettes.error.text");
	}

	.#{$fieldname}-messages-warning {
		background-color: _color("warning");
		color: _theme("palettes.warning.text");
	}

	.#{$fieldname}-messages-valid, .#{$fieldname}-messages-success {
		background-color: _color("success");
		color: _theme("palettes.success.text");
	}

	.#{$fieldname}-messages-helper {
		background-color: _color("text.light");
		color: white;
	}

	.#{$fieldname}-input {
		&:not(:disabled, .is-error, .is-success, .is-valid, .is-warning, .is-invalid) {
			background-color: _color("white");

			&:focus, &:hover {
				position: relative;
				z-index: 1;
				background-color: _color("white");
				box-shadow: fakeborderoverlay(_component("field.framed.color"));

				~ .#{$fieldname}-messages {
					transform: translateY(100%);
				}
			}

			&:focus {
				z-index: 4;
				box-shadow: fakeborderoverlay(_component("field.framed.color")), 0 0 0 4px _component("field.framed.color50");
			}
		}
	}

	.#{$fieldname}-suffix {
		z-index: 10;
		top: auto;
		right: 0;
		bottom: 0;
		padding: _component("field.framed.side-padding");

		&.is-error {
			@include fieldFramedState("error");
		}

		&.is-warning {
			@include fieldFramedState("warning");
		}

		&.is-valid, &.is-success {
			@include fieldFramedState("success");
		}

		~ .textfield-input {
			padding-right: _component("field.framed.suffix.padding-right");
		}
	}

	&.is-loading {
		&::before, &::after {
			bottom: auto !important;
			right: _component("field.framed.side-padding") !important;
			top: _component("field.framed.side-padding") !important;
		}
	}
}
