@mixin field($fieldname) {
	display: flex;
	flex-direction: column;
	position: relative;

	.#{$fieldname}-input {
		color: _component("textfield.input.color");
		font-family: unquote(_theme("commons.font.family"));
		font-size: _component("textfield.font-size");
		line-height: 1;
		outline: 0;
		position: relative;
		width: 100%;
	}

	.#{$fieldname}-label {
		color: _color("text.default");
		font-weight: 600;
		font-size: _component("textfield.label.font-size");
		order: -1;
		overflow: hidden;
		position: relative;
		text-overflow: ellipsis;
		transition: all 150ms ease;
		word-break: break-word;
		white-space: nowrap;
		margin-bottom: _component("textfield.label.margin-bottom");
	}

	.#{$fieldname}-messages {
		font-size: _component("textfield.message.font-size");
		line-height: 1.3;
		margin-top: .35rem;
	}
	
	.#{$fieldname}-messages-error {
		color: _color("error");
	}
	
	.#{$fieldname}-messages-warning {
		color: _color("warning");
	}
	
	.#{$fieldname}-messages-helper {
		color: _color("text.light");
	}

	/* Display */

	&.mod-inline {
		display: inline-flex;
		margin-left: .15rem;
		margin-right: .15rem;
	}

	&.mod-block {
		width: 100%;
	}

	/* State */
	&.is-required {
		.#{$fieldname}-label {
			&::after {
				@extend %isRequired;
			}
		}
	}

	// Inline validation
	&.is-loading {
		@include loading(1rem);

		&::before, &::after {
			bottom: .6rem;
			left: inherit;
			right: .5rem;
			top: inherit;
			position: absolute;
			z-index: 2;
		}

		.#{$fieldname}-input {
			padding-right: 2rem;
		}
	}

	&.is-valid {

		&::before {
			animation: isValid 3s forwards;
			@include makeIcon("tick_bold");
			border-radius: 50%;
			bottom: .85rem;
			color: _color("success");
			font-size: 1.2rem;
			height: 1rem;
			position: absolute;
			right: .4rem;
			z-index: 1;
		}

		.#{$fieldname}-input {
			padding-right: 2rem;
		}
	}

	&.is-error, &.is-invalid {
		.#{$fieldname}-label {
			color: _color("error");
		}
	}
}

@mixin field-input($fieldname) {
	display: block;
	&[disabled], &[readonly] {
		color: _color("text.light");
		cursor: not-allowed;
	}

	&.is-invalid, &.is-error {
		~ .#{$fieldname}-label {
			color: _color("error");
		}
	
		&:focus ~ .#{$fieldname}-label {
			color: _color("error");
		}
	}
}

@import './field.compact';
@import './field.framed';
