@import "node_modules/@lucca-front/scss/src/theming.overridable";

.select-value {
	line-height: 1;
	height: 2rem;
	overflow: hidden;
	padding: _component("textfield.input.padding-vertical") 1.5rem _component("textfield.input.padding-vertical") _component("textfield.input.padding-horizontal");
  text-overflow: ellipsis;
	white-space: nowrap;
}

:host-context(.textfield.mod-material) {
	.select-value {
		padding-left: 0;
		padding-right: .8rem;
	}
}

:host-context(.textfield.mod-framed) {
	.select-value {
		padding: 0;
	}
}
