@import "node_modules/@lucca-front/scss/src/theming.overridable";
@import "node_modules/@lucca-front/icons/src/mixins";

:host {
	cursor: pointer;
	padding: 0;
}

.select-value {
	line-height: 1;
	height: 2rem;
	overflow: hidden;
	padding: _component("textfield.input.padding-vertical") 1.5rem _component("textfield.input.padding-vertical") _component("textfield.input.padding-horizontal");
  text-overflow: ellipsis;
	transition: all _theme("commons.animations.durations.standard") ease;
	white-space: nowrap;
	color: _color("text.placeholder");

	&::after {
		bottom: .5rem;
		color: _color("text.light");
		@include makeIcon("chevron_south");
		font-size: .75rem;
		pointer-events: none;
		position: absolute;
		right: _component("textfield.input.padding-horizontal");
	}
}


// STATES
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

// Value
:host-context(.textfield-input.is-filled) {
	.select-value {
		color: _color("text.default");
	}
}

// Material
:host-context(.textfield.mod-material) {
	.select-value {
		opacity: 0;
		padding-left: 0;
		padding-right: .8rem;

		&::after {
			bottom: .6rem;
			right: 0;
		}
	}

	&:focus {
		.select-value {
			opacity: 1;
		}
	}

	&.is-filled {
		.select-value {
			opacity: 1;
		}
	}
}

// Framed
:host-context(.textfield.mod-framed) {
	.select-value {
		display: inline;
		height: 100%;
		padding: 0;

		&::after {
			right: _component("textfield.framed.side-padding");
		}
	}
}
