@import "../popover/popover.component";


.lu-select-option {
	cursor: pointer;
	padding: .5rem 1rem;
	transition: background 50ms ease;

	&:hover {
		background: _theme("commons.background.dark");
	}

	&.is-focus {
		background: _theme("commons.background.dark");
	}
}
