@mixin largeTitle {
	flex-wrap: wrap;

	.mobileHeader-actions {
		margin-inline-start: auto;
	}

	.mobileHeader-title {
		order: 2;
		flex: 100%;
		text-align: inherit;
	}

	.mobileHeader-title-main {
		font-size: var(--pr-t-font-fontSize-350);
		line-height: var(--pr-t-font-lineHeight-400);
	}

	.mobileHeader-title-sub {
		font-size: var(--pr-t-font-fontSize-200);
		line-height: var(--pr-t-font-lineHeight-300);
	}
}
